# Tableau and player form

Here we create a csv file that is used for making further Tableau visualizations.

In [1]:
# recent gameweek
gameweek = 1

In [2]:
# import basic libraries
import pandas as pd
import numpy as np

pd.set_option('max_columns',100)

In [3]:
# fetch player stats data
all_df = pd.read_csv('../data/fpl/data_week1.csv', index_col=0)
all_df['gameweek'] = 1
all_df['xPoints'] = all_df['adjusted points']

for week in range(2,gameweek+1):
    filepath = '../data/fpl/data_week' + str(week) + '.csv'
    df = pd.read_csv(filepath, index_col=0)
    df['gameweek'] = week
    column_name = 'xPoints week ' + str(week)
    df['xPoints'] = df[column_name]
    all_df = all_df.append(df,sort='False')

all_df.shape

(555, 85)

In [4]:
# calculate player form
for i in [5,10,15,20]:
    gameweeks = np.arange(gameweek-i+1,gameweek+1)
    column_name = 'form ' + str(i)
    all_df.loc[all_df['gameweek']==gameweek, column_name] = (all_df[all_df['gameweek'].isin(gameweeks)].groupby(['id'])['xPoints'].sum() / (all_df.loc[(all_df['gameweek']==gameweek),'games played'].round() - all_df.loc[(all_df['gameweek']==gameweek-i),'games played'].round()) )
    # dirty fix in case there are inf results
    all_df.loc[(all_df['gameweek']==gameweek) & np.isinf(all_df[column_name]), column_name] = np.nan

In [6]:
# top form players
all_df[all_df['gameweek']==gameweek][['web_name', 'games played','total_points', 'points_per_game','adjusted points','adjusted points per game',\
                                'form 5', 'form 10', 'form 15', 'form 20']].sort_values(by=['form 5'], ascending=False).head(20)

,web_name,games played,total_points,points_per_game,adjusted points,adjusted points per game,form 5,form 10,form 15,form 20
id,,,,,,,,,,
1,Leno,1.0,1,1.0,2.090127,2.090127,NaN,NaN,NaN,NaN
2,Rúnarsson,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
3,Willian,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,Aubameyang,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
5,Cédric,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
6,Lacazette,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
7,Xhaka,1.0,2,2.0,3.072532,3.072532,NaN,NaN,NaN,NaN
8,Marí,1.0,1,1.0,3.890127,3.890127,NaN,NaN,NaN,NaN
9,Bellerín,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
10,Chambers,1.0,1,1.0,2.990127,2.990127,NaN,NaN,NaN,NaN
11,Kolasinac,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
12,Elneny,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
13,Maitland-Niles,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
14,Holding,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
15,Partey,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
16,Tierney,1.0,1,1.0,4.490127,4.490127,NaN,NaN,NaN,NaN
17,Pépé,1.0,2,2.0,4.372532,4.372532,NaN,NaN,NaN,NaN
18,Torreira,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
20,Nketiah,NaN,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
21,Smith Rowe,1.0,2,2.0,3.972532,3.972532,NaN,NaN,NaN,NaN

In [6]:
# save data
filepath = '../data/fpl/all_data.csv'
all_df.to_csv(filepath)

filepath = '../data/fpl/data_week' + str(gameweek) + '.csv'
all_df[all_df['gameweek']==gameweek].to_csv(filepath)