# Tableau and player form

Here we create a csv file that is used for making further Tableau visualizations.

In [1]:
# recent gameweek
gameweek = 10

In [2]:
# import basic libraries
import pandas as pd
import numpy as np

pd.set_option('max_columns',100)

In [3]:
# fetch player stats data
all_df = pd.read_csv('../data/fpl/data_week1.csv', index_col=0)
all_df['gameweek'] = 1
all_df['xPoints'] = all_df['adjusted points']

for week in range(2,gameweek+1):
    filepath = '../data/fpl/data_week' + str(week) + '.csv'
    df = pd.read_csv(filepath, index_col=0)
    df['gameweek'] = week
    column_name = 'xPoints week ' + str(week)
    df['xPoints'] = df[column_name]
    all_df = all_df.append(df,sort='False')

all_df.shape

(5985, 187)

In [4]:
# calculate player form
for i in [5,10,15,20]:
    gameweeks = np.arange(gameweek-i+1,gameweek+1)
    column_name = 'form ' + str(i)
    all_df.loc[all_df['gameweek']==gameweek, column_name] = all_df[all_df['gameweek'].isin(gameweeks)].groupby(['id'])['xPoints'].sum() / all_df[all_df['gameweek'].isin(gameweeks)].groupby(['id'])['xPoints'].count()
    
    #    all_df.loc[all_df['gameweek']==gameweek, column_name] = all_df[all_df['gameweek'].isin(gameweeks)].groupby(['id'])['xPoints'].sum() / all_df.loc[(all_df['gameweek']==gameweek),'games played']
    #else:    
    #    all_df.loc[all_df['gameweek']==gameweek, column_name] = all_df[all_df['gameweek'].isin(gameweeks)].groupby(['id'])['xPoints'].sum() / (all_df.loc[(all_df['gameweek']==gameweek),'games played'] - all_df.loc[(all_df['gameweek']==gameweek-i),'games played'] )
    
    # dirty fix in case there are inf results
    #all_df.loc[(all_df['gameweek']==gameweek) & np.isinf(all_df[column_name]), column_name] = np.nan

In [5]:
# top form players
all_df[all_df['gameweek']==gameweek][['web_name', 'games played','total_points', 'points_per_game','adjusted points','adjusted points per game',\
                                'form 5', 'form 10', 'form 15', 'form 20']].sort_values(by=['form 5'], ascending=False).head(20)

,web_name,games played,total_points,points_per_game,adjusted points,adjusted points per game,form 5,form 10,form 15,form 20
id,,,,,,,,,,
250,Gündogan,6.0,29,4.8,33.462683,5.577114,9.646597,5.674742,5.674742,5.674742
233,Salah,10.0,112,11.2,87.179798,8.717980,9.085794,8.791358,8.791358,8.791358
138,Mount,7.0,41,5.9,38.082564,5.440366,7.091946,5.509526,5.509526,5.509526
265,Foden,6.0,37,6.2,35.804683,5.967447,6.706611,5.838842,5.838842,5.838842
135,Chilwell,4.0,43,10.8,23.699004,5.924751,6.640383,6.640383,6.640383,6.640383
359,Son,9.0,55,6.1,49.094786,5.454976,6.313649,5.529199,5.529199,5.529199
527,Chalobah,6.0,44,7.3,27.398506,4.566418,5.832753,4.725675,4.725675,4.725675
468,King,8.0,38,4.8,37.613000,4.701625,5.817750,4.701625,4.701625,4.701625
420,Bowen,10.0,46,4.6,48.889949,4.888995,5.646839,4.911233,4.911233,4.911233
336,Redmond,9.0,29,3.2,36.806207,4.089579,5.547091,4.167540,4.167540,4.167540
518,Broja,6.0,20,3.3,20.800000,3.466667,5.400000,3.466667,3.466667,3.466667
475,Sá,10.0,38,3.8,42.762150,4.276215,5.351245,4.524457,4.524457,4.524457
119,Azpilicueta,8.0,42,5.2,35.611008,4.451376,5.350548,4.400544,4.400544,4.400544
210,Tielemans,10.0,49,4.9,45.495727,4.549573,5.329341,4.592275,4.592275,4.592275
430,Jiménez,10.0,41,4.1,41.213000,4.121300,5.302600,4.121300,4.121300,4.121300
413,Antonio,9.0,59,6.6,54.404000,6.044889,5.280000,6.044889,6.044889,6.044889
205,Vardy,10.0,58,5.8,49.971000,4.997100,5.260000,4.997100,4.997100,4.997100
228,Firmino,8.0,35,4.4,34.771000,4.346375,5.254200,4.346375,4.346375,4.346375
482,Townsend,10.0,49,4.9,44.228608,4.422861,5.184234,4.497543,4.497543,4.497543
411,Cresswell,10.0,47,4.7,44.965798,4.496580,5.151156,4.585534,4.585534,4.585534

In [6]:
# save data
filepath = '../data/fpl/all_data.csv'
all_df.to_csv(filepath)

filepath = '../data/fpl/data_week' + str(gameweek) + '.csv'
all_df[all_df['gameweek']==gameweek].to_csv(filepath)