This notebook is used to create a csv file that includes my point projections in a format similar to fplreview.com. This csv file can then be used for making advanced team optimization plans using Sertalp B. Cay's repo "fpl-optimization".

In [1]:
latest_gameweek = 17

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
import json

# Save team data
Info on your own team; starting point for the optimization.

In [3]:
# get login credentials for fetching team data
#file_path = Path('../../login_credentials/fpl_login.json')
file_path = Path('../../login_credentials/fpl_login_2.json')
login_credentials = pd.read_json(file_path, typ='series')

In [4]:
# utility function for fetching team data
from src.utils import fetch_my_team

In [5]:
# fetch my team data
my_team = fetch_my_team(login_credentials.user_name, login_credentials.password, login_credentials.team_id)
my_team

{'picks': [{'element': 15,
   'position': 1,
   'multiplier': 1,
   'is_captain': False,
   'is_vice_captain': False,
   'element_type': 1,
   'selling_price': 56,
   'purchase_price': 56},
  {'element': 495,
   'position': 2,
   'multiplier': 1,
   'is_captain': False,
   'is_vice_captain': False,
   'element_type': 2,
   'selling_price': 55,
   'purchase_price': 55},
  {'element': 350,
   'position': 3,
   'multiplier': 1,
   'is_captain': False,
   'is_vice_captain': False,
   'element_type': 2,
   'selling_price': 60,
   'purchase_price': 62},
  {'element': 255,
   'position': 4,
   'multiplier': 1,
   'is_captain': False,
   'is_vice_captain': False,
   'element_type': 2,
   'selling_price': 47,
   'purchase_price': 45},
  {'element': 398,
   'position': 5,
   'multiplier': 1,
   'is_captain': False,
   'is_vice_captain': False,
   'element_type': 3,
   'selling_price': 72,
   'purchase_price': 72},
  {'element': 99,
   'position': 6,
   'multiplier': 1,
   'is_captain': False,
   'is_vice_captain': False,
   'element_type': 3,
   'selling_price': 73,
   'purchase_price': 71},
  {'element': 17,
   'position': 7,
   'multiplier': 1,
   'is_captain': False,
   'is_vice_captain': True,
   'element_type': 3,
   'selling_price': 105,
   'purchase_price': 105},
  {'element': 182,
   'position': 8,
   'multiplier': 2,
   'is_captain': True,
   'is_vice_captain': False,
   'element_type': 3,
   'selling_price': 111,
   'purchase_price': 110},
  {'element': 514,
   'position': 9,
   'multiplier': 1,
   'is_captain': False,
   'is_vice_captain': False,
   'element_type': 3,
   'selling_price': 75,
   'purchase_price': 75},
  {'element': 447,
   'position': 10,
   'multiplier': 1,
   'is_captain': False,
   'is_vice_captain': False,
   'element_type': 4,
   'selling_price': 63,
   'purchase_price': 60},
  {'element': 4,
   'position': 11,
   'multiplier': 1,
   'is_captain': False,
   'is_vice_captain': False,
   'element_type': 4,
   'selling_price': 79,
   'purchase_price': 82},
  {'element': 91,
   'position': 12,
   'multiplier': 0,
   'is_captain': False,
   'is_vice_captain': False,
   'element_type': 1,
   'selling_price': 45,
   'purchase_price': 45},
  {'element': 335,
   'position': 13,
   'multiplier': 0,
   'is_captain': False,
   'is_vice_captain': False,
   'element_type': 2,
   'selling_price': 59,
   'purchase_price': 60},
  {'element': 523,
   'position': 14,
   'multiplier': 0,
   'is_captain': False,
   'is_vice_captain': False,
   'element_type': 4,
   'selling_price': 50,
   'purchase_price': 50},
  {'element': 338,
   'position': 15,
   'multiplier': 0,
   'is_captain': False,
   'is_vice_captain': False,
   'element_type': 2,
   'selling_price': 40,
   'purchase_price': 40}],
 'picks_last_updated': '2024-12-20T20:01:33.898398Z',
 'chips': [{'id': 4,
   'status_for_entry': 'available',
   'played_by_entry': [],
   'name': 'bboost',
   'number': 1,
   'start_event': 1,
   'stop_event': 38,
   'chip_type': 'team',
   'is_pending': False},
  {'id': 5,
   'status_for_entry': 'available',
   'played_by_entry': [],
   'name': '3xc',
   'number': 1,
   'start_event': 1,
   'stop_event': 38,
   'chip_type': 'team',
   'is_pending': False},
  {'id': 1,
   'status_for_entry': 'available',
   'played_by_entry': [],
   'name': 'wildcard',
   'number': 1,
   'start_event': 2,
   'stop_event': 19,
   'chip_type': 'transfer',
   'is_pending': False},
  {'id': 3,
   'status_for_entry': 'available',
   'played_by_entry': [],
   'name': 'freehit',
   'number': 1,
   'start_event': 2,
   'stop_event': 38,
   'chip_type': 'transfer',
   'is_pending': False}],
 'transfers': {'cost': 4,
  'status': 'cost',
  'limit': 2,
  'made': 0,
  'bank': 6,
  'value': 1001}}

In [6]:
# save team data to fpl-optimization repo
file_path = Path('../../../repos/fpl-optimization/data/team.json')
with open(file_path, 'w') as f:
    json.dump(my_team, f)

# Edit projections into fplreview format 
### (to be used with fpl-optimization repo solver)

In [7]:
filepath = Path(f'../data/predictions/gameweek{latest_gameweek}.csv')
projections = pd.read_csv(filepath, index_col=0)
if 'id' in projections.columns:
    projections = projections.drop('id', axis=1)
display(projections.head())
display(projections.shape)

,name,element_type,home,opponent_xG_ewm_5,opponent_xG_ewm_10,opponent_xG_ewm_20,opponent_xG_ewm_40,opponent_xGA_ewm_5,opponent_xGA_ewm_10,opponent_xGA_ewm_20,...,gameweek_xG_expanding_per90,gameweek_xA_expanding_per90,gameweek_xGA_expanding_per90,gameweek_xPoints_expanding_per90,xG_overperformance,team_name,opponent_team,date,gameweek,expected_points
0,Aaron Cresswell,2.0,0,0.799904,0.925551,0.990097,1.035157,2.263103,2.259192,2.083806,...,0.021759,0.133333,1.37963,3.479284,2.12766,West Ham,Southampton,2024-12-26T15:00:00Z,18,2.064703
1,Aaron Cresswell,2.0,1,2.887742,2.530868,2.375675,2.268335,1.224424,1.138101,1.126463,...,0.021759,0.133333,1.37963,3.479284,2.12766,West Ham,Liverpool,2024-12-29T17:15:00Z,19,1.652864
2,Aaron Cresswell,2.0,0,1.499279,1.753124,1.924035,2.015124,1.736397,1.531218,1.300631,...,0.021759,0.133333,1.37963,3.479284,2.12766,West Ham,Manchester City,2025-01-04T15:00:00Z,20,1.450300
3,Aaron Cresswell,2.0,1,1.110880,1.251103,1.311448,1.299751,1.229630,1.273592,1.369501,...,0.021759,0.133333,1.37963,3.479284,2.12766,West Ham,Fulham,2025-01-14T19:30:00Z,21,2.048463
4,Aaron Cresswell,2.0,1,1.590070,1.492691,1.398312,1.298531,1.459758,1.404376,1.378092,...,0.021759,0.133333,1.37963,3.479284,2.12766,West Ham,Crystal Palace,2025-01-18T15:00:00Z,22,2.022934

(4880, 113)

In [8]:
if latest_gameweek>0:
    filepath = Path('../data/fpl_df.csv')
elif latest_gameweek==0:
    filepath = Path('../data/fpl_df_preseason_online.csv')
else:
    print('Check latest_gameweek!')

fpl_df = pd.read_csv(filepath, index_col=0, low_memory=False)
fpl_df = fpl_df[fpl_df.season=='24-25']
display(fpl_df.head())
display(fpl_df.shape)

,assists,bonus,bps,clean_sheets,corners_and_indirect_freekicks_order,creativity,creativity_rank,creativity_rank_type,direct_freekicks_order,dreamteam_count,...,selected_rank_type,starts_per_90,clean_sheets_per_90,name,data_retrieved_datetime,region,can_transact,can_select,removed,team_join_date
28173,0.0,0.0,1.0,0.0,NaN,0.8,230.0,23.0,NaN,0.0,...,21.0,0.0,0.0,Gabriel Fernando de Jesus,2024-08-21 23:11:51.786906,NaN,NaN,NaN,NaN,NaN
28174,0.0,0.0,22.0,1.0,NaN,1.4,193.0,52.0,NaN,0.0,...,8.0,1.0,1.0,Gabriel dos Santos Magalhães,2024-08-21 23:11:51.786906,NaN,NaN,NaN,NaN,NaN
28175,1.0,3.0,48.0,1.0,NaN,24.1,37.0,2.0,NaN,1.0,...,6.0,1.0,1.0,Kai Havertz,2024-08-21 23:11:51.786906,NaN,NaN,NaN,NaN,NaN
28176,0.0,0.0,2.0,0.0,NaN,0.8,229.0,71.0,NaN,0.0,...,72.0,0.0,0.0,Jurriën Timber,2024-08-21 23:11:51.786906,NaN,NaN,NaN,NaN,NaN
28177,0.0,0.0,16.0,1.0,NaN,36.7,19.0,17.0,NaN,0.0,...,35.0,1.0,1.0,Gabriel Martinelli Silva,2024-08-21 23:11:51.786906,NaN,NaN,NaN,NaN,NaN

(5148, 214)

In [9]:
df = fpl_df.groupby('name').last().reset_index()[['id', 'name','points_per_game', 'total_points',]]
#df['id'] = df.id.astype(int)
df['games_played'] = np.round(np.where(df['points_per_game']!=0, df['total_points'] / df['points_per_game'], 0),0)
display(df.head())
display(df.shape)

      id                name  points_per_game  total_points  games_played
0  517.0     Aaron Cresswell              0.8           4.0           5.0
1   14.0      Aaron Ramsdale              3.6          36.0          10.0
2  388.0   Aaron Wan-Bissaka              3.1          49.0          16.0
3  217.0  Abdoulaye Doucouré              2.4          33.0          14.0
4  570.0        Abdul Fatawu              2.4          26.0          11.0

(488, 5)

In [10]:
# drop duplicate players (some players get new spelling for their name during the season causing duplicates)
duplicate_ids = df.loc[df.id.duplicated(), 'id'].unique()
for id in duplicate_ids:
    ix = df.loc[df.id==id, 'games_played'].idxmin()
    df = df.drop(ix)
display(df.head())
display(df.shape)

      id                name  points_per_game  total_points  games_played
0  517.0     Aaron Cresswell              0.8           4.0           5.0
1   14.0      Aaron Ramsdale              3.6          36.0          10.0
2  388.0   Aaron Wan-Bissaka              3.1          49.0          16.0
3  217.0  Abdoulaye Doucouré              2.4          33.0          14.0
4  570.0        Abdul Fatawu              2.4          26.0          11.0

(488, 5)

In [11]:
# drop unneccesary columns
df = df.drop(['points_per_game', 'total_points','games_played'], axis=1)
display(df.head())
display(df.shape)

      id                name
0  517.0     Aaron Cresswell
1   14.0      Aaron Ramsdale
2  388.0   Aaron Wan-Bissaka
3  217.0  Abdoulaye Doucouré
4  570.0        Abdul Fatawu

(488, 2)

In [12]:
# merge id info to projections
projections = projections.merge(df, on='name', how='left')
projections.head()

,name,element_type,home,opponent_xG_ewm_5,opponent_xG_ewm_10,opponent_xG_ewm_20,opponent_xG_ewm_40,opponent_xGA_ewm_5,opponent_xGA_ewm_10,opponent_xGA_ewm_20,...,gameweek_xA_expanding_per90,gameweek_xGA_expanding_per90,gameweek_xPoints_expanding_per90,xG_overperformance,team_name,opponent_team,date,gameweek,expected_points,id
0,Aaron Cresswell,2.0,0,0.799904,0.925551,0.990097,1.035157,2.263103,2.259192,2.083806,...,0.133333,1.37963,3.479284,2.12766,West Ham,Southampton,2024-12-26T15:00:00Z,18,2.064703,517.0
1,Aaron Cresswell,2.0,1,2.887742,2.530868,2.375675,2.268335,1.224424,1.138101,1.126463,...,0.133333,1.37963,3.479284,2.12766,West Ham,Liverpool,2024-12-29T17:15:00Z,19,1.652864,517.0
2,Aaron Cresswell,2.0,0,1.499279,1.753124,1.924035,2.015124,1.736397,1.531218,1.300631,...,0.133333,1.37963,3.479284,2.12766,West Ham,Manchester City,2025-01-04T15:00:00Z,20,1.450300,517.0
3,Aaron Cresswell,2.0,1,1.110880,1.251103,1.311448,1.299751,1.229630,1.273592,1.369501,...,0.133333,1.37963,3.479284,2.12766,West Ham,Fulham,2025-01-14T19:30:00Z,21,2.048463,517.0
4,Aaron Cresswell,2.0,1,1.590070,1.492691,1.398312,1.298531,1.459758,1.404376,1.378092,...,0.133333,1.37963,3.479284,2.12766,West Ham,Crystal Palace,2025-01-18T15:00:00Z,22,2.022934,517.0

In [13]:
# add xMins variable that is needed later
projections['xMins'] = 90

In [14]:
projections[['id', 'expected_points', 'xMins', 'gameweek']]

         id  expected_points  xMins  gameweek
0     517.0         2.064703     90        18
1     517.0         1.652864     90        19
2     517.0         1.450300     90        20
3     517.0         2.048463     90        21
4     517.0         2.022934     90        22
...     ...              ...    ...       ...
4875  521.0         2.620747     90        23
4876  521.0         2.022645     90        24
4877  521.0         2.937750     90        25
4878  521.0         2.143633     90        26
4879  521.0         3.493524     90        27

[4880 rows x 4 columns]

In [15]:
projections_pivot = (
    projections
    .pivot_table(
    columns=['gameweek',],
    index='id', 
    values=['expected_points','xMins'], 
    aggfunc='sum'
    )
)

projections_pivot.head()

         expected_points                                                    \
gameweek              18        19        20        21        22        23
id
2.0             4.029469  3.280781  3.314635  3.526121  3.254065  3.700057
3.0             4.895172  4.191955  4.281067  4.126590  4.152741  4.800651
4.0             5.754094  5.380805  5.290953  5.605263  5.114893  5.531836
6.0             4.684990  3.761239  3.935718  3.710902  3.767570  4.554806
7.0             2.462949  2.081872  2.095462  2.209165  2.141272  2.207651

                                                 xMins                      \
gameweek        24        25        26        27    18  19  20  21  22  23
id
2.0       3.092864  3.778846  3.539973  3.273724    90  90  90  90  90  90
3.0       3.603261  4.731700  4.549680  4.342114    90  90  90  90  90  90
4.0       4.831651  5.649771  5.497654  4.953259    90  90  90  90  90  90
6.0       3.295879  4.451066  4.185063  4.074840    90  90  90  90  90  90
7.0       2.086912  2.174988  2.232067  2.085295    90  90  90  90  90  90


gameweek  24  25  26  27
id
2.0       90  90  90  90
3.0       90  90  90  90
4.0       90  90  90  90
6.0       90  90  90  90
7.0       90  90  90  90

In [16]:
new_cols = []
for col in projections_pivot.columns:
    if col[0] == 'expected_points':
        new_col = str(col[1]) + '_Pts'
        new_cols.append(new_col)
    elif col[0] == 'xMins':
        new_col = str(col[1]) + '_xMins'
        new_cols.append(new_col)

projections_pivot.columns = new_cols
projections_pivot = projections_pivot.reset_index()
projections_pivot = projections_pivot.rename(columns={'id':'ID'})

projections_pivot.head()

,ID,18_Pts,19_Pts,20_Pts,21_Pts,22_Pts,23_Pts,24_Pts,25_Pts,26_Pts,...,18_xMins,19_xMins,20_xMins,21_xMins,22_xMins,23_xMins,24_xMins,25_xMins,26_xMins,27_xMins
0,2.0,4.029469,3.280781,3.314635,3.526121,3.254065,3.700057,3.092864,3.778846,3.539973,...,90,90,90,90,90,90,90,90,90,90
1,3.0,4.895172,4.191955,4.281067,4.126590,4.152741,4.800651,3.603261,4.731700,4.549680,...,90,90,90,90,90,90,90,90,90,90
2,4.0,5.754094,5.380805,5.290953,5.605263,5.114893,5.531836,4.831651,5.649771,5.497654,...,90,90,90,90,90,90,90,90,90,90
3,6.0,4.684990,3.761239,3.935718,3.710902,3.767570,4.554806,3.295879,4.451066,4.185063,...,90,90,90,90,90,90,90,90,90,90
4,7.0,2.462949,2.081872,2.095462,2.209165,2.141272,2.207651,2.086912,2.174988,2.232067,...,90,90,90,90,90,90,90,90,90,90

In [17]:
filepath = Path('../../../repos/fpl-optimization/data/fplreview.csv')
projections_pivot.to_csv(filepath)

### Option to make manual changes, e.g., to xPts (based on injuries)

### adjust points

If model is underestimating e.g. Haaland currently, test how many points more he would need to be getting in order to be drafed to the team in the optimization.

In [ ]:
projections.loc[projections['name'].str.contains('Haal'), 'id'].unique()
#projections.loc[projections['name'].str.contains('Palme'), 'id'].unique()

In [ ]:
player_id = 4
display(projections.loc[projections.id==player_id, 'name'].unique())
display(projections_pivot[projections_pivot.ID==player_id])

In [ ]:
pts_cols = [col for col in projections_pivot.columns if 'Pts' in col]
projections_pivot.loc[projections_pivot.ID==player_id, pts_cols].sum(axis=1) / 10

In [ ]:
gameweeks = np.arange(latest_gameweek+1,latest_gameweek+11)
add_constant = -1

for i in range(len(gameweeks)):
    projections_pivot.loc[projections_pivot.ID==player_id, f'{gameweeks[i]}_Pts'] = \
        projections_pivot.loc[projections_pivot.ID==player_id, f'{gameweeks[i]}_Pts'] + add_constant

display(projections_pivot[projections_pivot.ID==player_id])

### Adjust points for unavailable players or players with uncertain availability

In [18]:
def adjust_points_via_weights(player_id, gameweeks, weights):
    '''Adjust projected player points via gameweek specific weights indicating probability of playing.

    Input:
    player_id (int): Player ID number.
    gameweeks (list): List of gameweek numbers to be adjusted.
    weights (list): Weights for adjusting points for each gameweek given in parameter gameweeks.
    '''
    player_name = projections.loc[projections.id==player_id, 'name'].unique().item()
    print(f'Name: {player_name}')
    print('Point predictions before adjustment:')
    display(projections_pivot[projections_pivot.ID==player_id])

    # adjust points via probability of playing
    for i in range(len(gameweeks)):
        projections_pivot.loc[projections_pivot.ID==player_id, f'{gameweeks[i]}_Pts'] = \
            weights[i]*projections_pivot.loc[projections_pivot.ID==player_id, f'{gameweeks[i]}_Pts']
        
    print('Point predictions after adjustment:')
    display(projections_pivot[projections_pivot.ID==player_id])

In [ ]:
# Check player_id
projections.loc[projections['name'].str.contains('Haver'), 'id'].unique()

In [22]:
player_id = 495
display(projections.loc[projections.id==player_id, 'name'].unique())

array(['Pedro Porro'], dtype=object)

In [19]:
adjust_points_via_weights(player_id=17, gameweeks=[18,19,20,21,22], weights=[0,0,0,0.5,0.5])

Name: Bukayo Saka
Point predictions before adjustment:

,ID,18_Pts,19_Pts,20_Pts,21_Pts,22_Pts,23_Pts,24_Pts,25_Pts,26_Pts,...,18_xMins,19_xMins,20_xMins,21_xMins,22_xMins,23_xMins,24_xMins,25_xMins,26_xMins,27_xMins
14,17.0,7.396805,6.615454,6.510466,7.386247,6.668321,6.608507,6.586531,6.903059,7.015564,...,90,90,90,90,90,90,90,90,90,90

Point predictions after adjustment:

,ID,18_Pts,19_Pts,20_Pts,21_Pts,22_Pts,23_Pts,24_Pts,25_Pts,26_Pts,...,18_xMins,19_xMins,20_xMins,21_xMins,22_xMins,23_xMins,24_xMins,25_xMins,26_xMins,27_xMins
14,17.0,0.0,0.0,0.0,3.693123,3.33416,6.608507,6.586531,6.903059,7.015564,...,90,90,90,90,90,90,90,90,90,90

In [21]:
adjust_points_via_weights(player_id=199, gameweeks=[18,19], weights=[0.5,0.75])

Name: Eberechi Eze
Point predictions before adjustment:

,ID,18_Pts,19_Pts,20_Pts,21_Pts,22_Pts,23_Pts,24_Pts,25_Pts,26_Pts,...,18_xMins,19_xMins,20_xMins,21_xMins,22_xMins,23_xMins,24_xMins,25_xMins,26_xMins,27_xMins
140,199.0,4.145264,5.636683,4.283102,5.028211,4.657832,4.747852,4.352454,4.667349,4.276997,...,90,90,90,90,90,90,90,90,90,90

Point predictions after adjustment:

,ID,18_Pts,19_Pts,20_Pts,21_Pts,22_Pts,23_Pts,24_Pts,25_Pts,26_Pts,...,18_xMins,19_xMins,20_xMins,21_xMins,22_xMins,23_xMins,24_xMins,25_xMins,26_xMins,27_xMins
140,199.0,2.072632,4.227512,4.283102,5.028211,4.657832,4.747852,4.352454,4.667349,4.276997,...,90,90,90,90,90,90,90,90,90,90

In [23]:
adjust_points_via_weights(player_id=495, gameweeks=[18], weights=[0.33])

Name: Pedro Porro
Point predictions before adjustment:

,ID,18_Pts,19_Pts,20_Pts,21_Pts,22_Pts,23_Pts,24_Pts,25_Pts,26_Pts,...,18_xMins,19_xMins,20_xMins,21_xMins,22_xMins,23_xMins,24_xMins,25_xMins,26_xMins,27_xMins
363,495.0,3.077324,3.875161,2.971196,2.320128,3.244142,3.976573,3.018099,3.344392,3.989396,...,90,90,90,90,90,90,90,90,90,90

Point predictions after adjustment:

,ID,18_Pts,19_Pts,20_Pts,21_Pts,22_Pts,23_Pts,24_Pts,25_Pts,26_Pts,...,18_xMins,19_xMins,20_xMins,21_xMins,22_xMins,23_xMins,24_xMins,25_xMins,26_xMins,27_xMins
363,495.0,1.015517,3.875161,2.971196,2.320128,3.244142,3.976573,3.018099,3.344392,3.989396,...,90,90,90,90,90,90,90,90,90,90

In [ ]:
adjust_points_via_weights(player_id=335, gameweeks=[17], weights=[0.88])

In [ ]:
adjust_points_via_weights(player_id=4, gameweeks=[17], weights=[0.59])

In [24]:
filepath = Path('../../../repos/fpl-optimization/data/fplreview.csv')
projections_pivot.to_csv(filepath)

# Other stuff

In [ ]:
# check ids
projections.loc[projections['name'].str.contains('Pickf'), ['id','name']]

In [ ]:
projections.loc[projections.id==142, ['name','team_name']]

In [ ]:
# banned players from solver 
projections.loc[projections.id.isin([69, 333, 25, 325, 142, 466, 558, 396, 275]), 'name'].unique()

In [ ]:
projections[projections.id==24]

In [ ]:
projections_pivot.columns