In [1]:
import pandas
import numpy
from pathlib import Path
import json
import requests
import xgboost
import pickle

In [2]:
# data from last season
path = Path('../../../season20_21/data/fpl/data_week38.csv')
players20 = pandas.read_csv(path)
players20

,id,adjusted points,adjusted points per game,assists,assists_week1,assists_week10,assists_week11,assists_week12,assists_week13,assists_week14,...,xPoints week 36,xPoints week 37,xPoints week 38,xPoints week 4,xPoints week 5,xPoints week 6,xPoints week 7,xPoints week 8,xPoints week 9,yellow_cards
0,1,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,2,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,3,55.157473,2.690608,0,NaN,0.0,NaN,NaN,0.0,0.0,...,NaN,NaN,NaN,5.274923,3.586388,1.000000,NaN,NaN,NaN,1
3,4,133.826399,4.597090,3,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,3.332871,4.340818,2.818731,3.746597,4.101194,7.540818,2.765299,3.282085,2
4,5,34.138110,3.413811,1,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
708,617,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
709,626,2.800000,1.400000,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
710,629,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
711,642,43.171050,2.590263,1,NaN,NaN,NaN,NaN,NaN,NaN,...,1.3,1.000000,2.400000,NaN,NaN,NaN,NaN,NaN,NaN,0
712,649,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [3]:
players20.columns.values

array(['id', 'adjusted points', 'adjusted points per game', 'assists',
       'assists_week1', 'assists_week10', 'assists_week11',
       'assists_week12', 'assists_week13', 'assists_week14',
       'assists_week15', 'assists_week16', 'assists_week17',
       'assists_week18', 'assists_week19', 'assists_week2',
       'assists_week20', 'assists_week21', 'assists_week22',
       'assists_week23', 'assists_week24', 'assists_week25',
       'assists_week26', 'assists_week27', 'assists_week28',
       'assists_week29', 'assists_week3', 'assists_week30',
       'assists_week31', 'assists_week32', 'assists_week33',
       'assists_week34', 'assists_week35', 'assists_week36',
       'assists_week37', 'assists_week38', 'assists_week4',
       'assists_week5', 'assists_week6', 'assists_week7', 'assists_week8',
       'assists_week9', 'bonus', 'bps', 'chance_of_playing_next_round',
       'chance_of_playing_this_round', 'clean_sheet_points',
       'clean_sheets', 'cleansheet_week1', 'cleansheet_week10',
       'cleansheet_week11', 'cleansheet_week12', 'cleansheet_week13',
       'cleansheet_week14', 'cleansheet_week15', 'cleansheet_week16',
       'cleansheet_week17', 'cleansheet_week18', 'cleansheet_week19',
       'cleansheet_week2', 'cleansheet_week20', 'cleansheet_week21',
       'cleansheet_week22', 'cleansheet_week23', 'cleansheet_week24',
       'cleansheet_week25', 'cleansheet_week26', 'cleansheet_week27',
       'cleansheet_week28', 'cleansheet_week29', 'cleansheet_week3',
       'cleansheet_week30', 'cleansheet_week31', 'cleansheet_week32',
       'cleansheet_week33', 'cleansheet_week34', 'cleansheet_week35',
       'cleansheet_week36', 'cleansheet_week37', 'cleansheet_week38',
       'cleansheet_week4', 'cleansheet_week5', 'cleansheet_week6',
       'cleansheet_week7', 'cleansheet_week8', 'cleansheet_week9', 'code',
       'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'cost_change_event',
       'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'creativity', 'creativity_rank',
       'creativity_rank_type', 'direct_freekicks_order',
       'direct_freekicks_text', 'dreamteam_count', 'element_type',
       'ep_next', 'ep_this', 'event_points', 'first_name', 'form',
       'form 10', 'form 15', 'form 20', 'form 5', 'games played',
       'gameweek', 'goals_conceded', 'goals_scored', 'goals_week1',
       'goals_week10', 'goals_week11', 'goals_week12', 'goals_week13',
       'goals_week14', 'goals_week15', 'goals_week16', 'goals_week17',
       'goals_week18', 'goals_week19', 'goals_week2', 'goals_week20',
       'goals_week21', 'goals_week22', 'goals_week23', 'goals_week24',
       'goals_week25', 'goals_week26', 'goals_week27', 'goals_week28',
       'goals_week29', 'goals_week3', 'goals_week30', 'goals_week31',
       'goals_week32', 'goals_week33', 'goals_week34', 'goals_week35',
       'goals_week36', 'goals_week37', 'goals_week38', 'goals_week4',
       'goals_week5', 'goals_week6', 'goals_week7', 'goals_week8',
       'goals_week9', 'ict_index', 'ict_index_rank',
       'ict_index_rank_type', 'in_dreamteam', 'influence',
       'influence_rank', 'influence_rank_type', 'minutes', 'news',
       'news_added', 'next10_xP', 'next1_xP', 'next5_xP', 'now_cost',
       'own_goals', 'penalties_missed', 'penalties_order',
       'penalties_saved', 'penalties_text', 'photo', 'points_per_game',
       'red_cards', 'saves', 'second_name', 'selected_by_percent',
       'special', 'squad_number', 'status', 'team', 'team_code',
       'team_name', 'threat', 'threat_rank', 'threat_rank_type',
       'total_points', 'transfers_in', 'transfers_in_event',
       'transfers_out', 'transfers_out_event', 'value', 'value form 10',
       'value form 5', 'valuePoints metric', 'value_form', 'value_season',
       'web_name', 'xA', 'xA_points', 'xA_week1', 'xA_week10',
       'xA_week11', 'xA_week12', 'xA_week13', 'xA_week14', 'xA_week15',
       'xA_week16', 'xA_week17', 'xA_week18', 'xA_week19', 'xA_week2',
       'xA_week20', 'xA_week21', 'xA_week22', 'xA_week23', 'xA_week24',
       'xA_week25', 'xA_week26', 'xA_week27', 'xA_week28', 'xA_week29',
       'xA_week3', 'xA_week30', 'xA_week31', 'xA_week32', 'xA_week33',
       'xA_week34', 'xA_week35', 'xA_week36', 'xA_week37', 'xA_week38',
       'xA_week4', 'xA_week5', 'xA_week6', 'xA_week7', 'xA_week8',
       'xA_week9', 'xG', 'xG+xA', 'xG+xA per game', 'xGA_week1',
       'xGA_week10', 'xGA_week11', 'xGA_week12', 'xGA_week13',
       'xGA_week14', 'xGA_week15', 'xGA_week16', 'xGA_week17',
       'xGA_week18', 'xGA_week19', 'xGA_week2', 'xGA_week20',
       'xGA_week21', 'xGA_week22', 'xGA_week23', 'xGA_week24',
       'xGA_week25', 'xGA_week26', 'xGA_week27', 'xGA_week28',
       'xGA_week29', 'xGA_week3', 'xGA_week30', 'xGA_week31',
       'xGA_week32', 'xGA_week33', 'xGA_week34', 'xGA_week35',
       'xGA_week36', 'xGA_week37', 'xGA_week38', 'xGA_week4', 'xGA_week5',
       'xGA_week6', 'xGA_week7', 'xGA_week8', 'xGA_week9', 'xG_points',
       'xG_week1', 'xG_week10', 'xG_week11', 'xG_week12', 'xG_week13',
       'xG_week14', 'xG_week15', 'xG_week16', 'xG_week17', 'xG_week18',
       'xG_week19', 'xG_week2', 'xG_week20', 'xG_week21', 'xG_week22',
       'xG_week23', 'xG_week24', 'xG_week25', 'xG_week26', 'xG_week27',
       'xG_week28', 'xG_week29', 'xG_week3', 'xG_week30', 'xG_week31',
       'xG_week32', 'xG_week33', 'xG_week34', 'xG_week35', 'xG_week36',
       'xG_week37', 'xG_week38', 'xG_week4', 'xG_week5', 'xG_week6',
       'xG_week7', 'xG_week8', 'xG_week9', 'xPoints', 'xPoints week 1',
       'xPoints week 10', 'xPoints week 11', 'xPoints week 12',
       'xPoints week 13', 'xPoints week 14', 'xPoints week 15',
       'xPoints week 16', 'xPoints week 17', 'xPoints week 18',
       'xPoints week 19', 'xPoints week 2', 'xPoints week 20',
       'xPoints week 21', 'xPoints week 22', 'xPoints week 23',
       'xPoints week 24', 'xPoints week 25', 'xPoints week 26',
       'xPoints week 27', 'xPoints week 28', 'xPoints week 29',
       'xPoints week 3', 'xPoints week 30', 'xPoints week 31',
       'xPoints week 32', 'xPoints week 33', 'xPoints week 34',
       'xPoints week 35', 'xPoints week 36', 'xPoints week 37',
       'xPoints week 38', 'xPoints week 4', 'xPoints week 5',
       'xPoints week 6', 'xPoints week 7', 'xPoints week 8',
       'xPoints week 9', 'yellow_cards'], dtype=object)

In [4]:
[column for column in players20.columns if 'name' in column]

['first_name', 'second_name', 'team_name', 'web_name']

In [5]:
# data for new season

path = Path('../../data/fpl/pre_season.csv')
players21 = pandas.read_csv(path)

#fpl_data = json.loads(requests.get('https://fantasy.premierleague.com/api/bootstrap-static/').text)
#players21 = pandas.DataFrame(fpl_data['elements'])
#players21.set_index('id', inplace=True)

players21

,id,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,...,corners_and_indirect_freekicks_text,direct_freekicks_order,direct_freekicks_text,penalties_order,penalties_text,adjusted points per game,value,valuePoints metric,team_name,position
0,1,NaN,NaN,80201,0,0,0,0,0,1,...,NaN,NaN,NaN,NaN,NaN,3.703958,0.740792,1.656460,Arsenal,goalkeeper
1,2,NaN,NaN,115918,0,0,0,0,0,1,...,NaN,NaN,NaN,NaN,NaN,2.246706,0.561677,1.123353,Arsenal,goalkeeper
2,3,NaN,NaN,47431,0,0,0,0,0,3,...,NaN,2.0,NaN,NaN,NaN,3.189007,0.490616,1.250831,Arsenal,midfielder
3,4,NaN,NaN,54694,0,0,0,0,0,4,...,NaN,NaN,NaN,1.0,NaN,4.597090,0.459709,1.453728,Arsenal,forward
4,5,NaN,NaN,58822,0,0,0,0,0,2,...,NaN,5.0,NaN,NaN,NaN,3.413811,0.758625,1.609286,Arsenal,defender
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
487,446,NaN,NaN,501837,0,0,0,0,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Wolves,defender
488,452,NaN,NaN,19236,0,0,0,0,0,1,...,NaN,NaN,NaN,NaN,NaN,3.195303,0.710067,1.506280,Wolves,goalkeeper
489,461,NaN,NaN,222564,0,0,0,0,0,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Wolves,midfielder
490,470,NaN,NaN,448514,0,0,0,0,0,2,...,NaN,NaN,NaN,NaN,NaN,3.139094,0.697576,1.479783,Wolves,defender
491,475,NaN,NaN,149065,0,0,0,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Wolves,goalkeeper

In [7]:
#fpl_data.keys()

In [8]:
players21.columns

Index(['id', 'chance_of_playing_next_round', 'chance_of_playing_this_round',
       'code', 'cost_change_event', 'cost_change_event_fall',
       'cost_change_start', 'cost_change_start_fall', 'dreamteam_count',
       'element_type', 'ep_next', 'ep_this', 'event_points', 'first_name',
       'form', 'in_dreamteam', 'news', 'news_added', 'now_cost', 'photo',
       'points_per_game', 'second_name', 'selected_by_percent', 'special',
       'squad_number', 'status', 'team', 'team_code', 'total_points',
       'transfers_in', 'transfers_in_event', 'transfers_out',
       'transfers_out_event', 'value_form', 'value_season', 'web_name',
       'minutes', 'goals_scored', 'assists', 'clean_sheets', 'goals_conceded',
       'own_goals', 'penalties_saved', 'penalties_missed', 'yellow_cards',
       'red_cards', 'saves', 'bonus', 'bps', 'influence', 'creativity',
       'threat', 'ict_index', 'influence_rank', 'influence_rank_type',
       'creativity_rank', 'creativity_rank_type', 'threat_rank',
       'threat_rank_type', 'ict_index_rank', 'ict_index_rank_type',
       'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'direct_freekicks_order',
       'direct_freekicks_text', 'penalties_order', 'penalties_text',
       'adjusted points per game', 'value', 'valuePoints metric', 'team_name',
       'position'],
      dtype='object')

In [9]:
[column for column in players21.columns if 'name' in column]

['first_name', 'second_name', 'web_name', 'team_name']

In [10]:
players21.loc[1,['first_name', 'second_name', 'web_name']]

first_name     Rúnar Alex
second_name     Rúnarsson
web_name        Rúnarsson
Name: 1, dtype: object

In [11]:
for player_ix in players21.index:
    target_player_from20 = players20.loc[(players20['first_name']==players21.loc[player_ix,'first_name']) & \
              (players20['second_name']==players21.loc[player_ix,'second_name'])]
    if target_player_from20.shape[0]==1:
        players21.loc[player_ix, 'adjusted points per game'] = \
                        target_player_from20['adjusted points per game'].values[0]

In [12]:
players21[players21['adjusted points per game'].isnull()].shape

(130, 72)

In [13]:
players21.loc[players21['adjusted points per game'].isnull(), ['first_name','second_name']]

       first_name                     second_name
17          Lucas                        Torreira
23   Konstantinos                      Mavropanos
24         Mattéo                       Guendouzi
26        William                          Saliba
28           Nuno                  Varela Tavares
..            ...                             ...
450       Winston                            Reid
485       Andreas                     Söndergaard
487        Yerson             Mosquera Valdelamar
489     Francisco  Machado Mota de Castro Trincão
491          José                  Malheiro de Sá

[130 rows x 2 columns]

In [18]:
players21[players21['minutes']>900].sort_values(by='adjusted points per game', ascending=False).head(20)\
            [['first_name','second_name','adjusted points per game','now_cost','value']]

,first_name,second_name,adjusted points per game,now_cost,value
273,Kevin,De Bruyne,6.391634,12.0,0.532636
389,Harry,Kane,6.303369,12.5,0.504270
299,Bruno Miguel,Borges Fernandes,6.144816,12.0,0.512068
254,Mohamed,Salah,6.131751,12.5,0.490540
202,Jamie,Vardy,5.440432,10.5,0.518136
251,Sadio,Mané,5.348512,12.0,0.445709
391,Heung-Min,Son,5.253612,10.0,0.525361
277,Raheem,Sterling,5.140888,11.0,0.467353
272,Ilkay,Gündogan,5.025528,7.5,0.670070
298,Jesse,Lingard,4.943825,7.0,0.706261
278,João Pedro Cavaco,Cancelo,4.867610,6.0,0.811268
258,Trent,Alexander-Arnold,4.824207,7.5,0.643228
276,Riyad,Mahrez,4.789999,9.0,0.532222
228,Patrick,Bamford,4.785103,8.0,0.598138
320,Callum,Wilson,4.753976,7.5,0.633863
144,Benjamin,Chilwell,4.711586,6.0,0.785264
189,Dominic,Calvert-Lewin,4.703827,8.0,0.587978
270,Jack,Grealish,4.622429,8.0,0.577804
3,Pierre-Emerick,Aubameyang,4.597090,10.0,0.459709
453,Michail,Antonio,4.551683,7.5,0.606891

In [19]:
players21[players21['minutes']>900].sort_values(by='value', ascending=False).head(20)\
            [['first_name','second_name','now_cost','adjusted points per game','value']]

,first_name,second_name,now_cost,adjusted points per game,value
319,Martin,Dubravka,4.5,3.740839,0.831298
89,Joël,Veltman,4.5,3.731114,0.829136
95,Robert,Sánchez,4.5,3.717834,0.826185
274,John,Stones,5.5,4.537354,0.824973
131,Marcos,Alonso,5.5,4.487182,0.815851
278,João Pedro Cavaco,Cancelo,6.0,4.867610,0.811268
136,Antonio,Rüdiger,5.5,4.348064,0.790557
457,Arthur,Masuaku,4.5,3.542320,0.787182
32,Emiliano,Martínez,5.5,4.329367,0.787158
262,Nathaniel,Phillips,4.5,3.542035,0.787119
144,Benjamin,Chilwell,6.0,4.711586,0.785264
318,Karl,Darlow,4.5,3.525839,0.783520
238,Illan,Meslier,5.0,3.915596,0.783119
8,Héctor,Bellerín,5.0,3.887025,0.777405
215,James,Justin,5.0,3.882035,0.776407
458,Vladimir,Coufal,5.0,3.881285,0.776257
151,Reece,James,5.5,4.247097,0.772200
472,Romain,Saïss,5.0,3.845101,0.769020
275,Benjamin,Mendy,5.5,4.217001,0.766727
13,Rob,Holding,4.5,3.445741,0.765720

In [20]:
players21['valuePoints metric'] = numpy.sqrt(players21['adjusted points per game'] * players21['value'])

In [21]:
players21[players21['minutes']>900].sort_values(by='valuePoints metric', ascending=False).head(20)\
            [['first_name','second_name','adjusted points per game','value','valuePoints metric']]

,first_name,second_name,adjusted points per game,value,valuePoints metric
278,João Pedro Cavaco,Cancelo,4.867610,0.811268,1.987194
274,John,Stones,4.537354,0.824973,1.934734
144,Benjamin,Chilwell,4.711586,0.785264,1.923497
131,Marcos,Alonso,4.487182,0.815851,1.913341
298,Jesse,Lingard,4.943825,0.706261,1.868590
136,Antonio,Rüdiger,4.348064,0.790557,1.854021
32,Emiliano,Martínez,4.329367,0.787158,1.846048
273,Kevin,De Bruyne,6.391634,0.532636,1.845106
272,Ilkay,Gündogan,5.025528,0.670070,1.835063
151,Reece,James,4.247097,0.772200,1.810968
275,Benjamin,Mendy,4.217001,0.766727,1.798135
389,Harry,Kane,6.303369,0.504270,1.782862
299,Bruno Miguel,Borges Fernandes,6.144816,0.512068,1.773856
319,Martin,Dubravka,3.740839,0.831298,1.763448
258,Trent,Alexander-Arnold,4.824207,0.643228,1.761551
89,Joël,Veltman,3.731114,0.829136,1.758864
95,Robert,Sánchez,3.717834,0.826185,1.752604
238,Illan,Meslier,3.915596,0.783119,1.751108
8,Héctor,Bellerín,3.887025,0.777405,1.738330
451,Aaron,Cresswell,4.075364,0.740975,1.737741

In [22]:
teams = ['Arsenal', 'Aston Villa', 'Brentford', 'Brighton', 'Burnley', 'Chelsea', 'Crystal Palace', 'Everton',
        'Leicester City', 'Leeds United', 'Liverpool', 'Manchester City', 'Manchester Utd', 'Newcastle Utd', 
        'Norwich City', 'Southampton', 'Tottenham', 'Watford', 'West Ham', 'Wolves']

In [23]:
# add team name for each player
player_teams = [teams[players21.loc[ix,'team']-1] for ix in players21.index]
players21['team_name'] = player_teams
players21['team_name']

0      Arsenal
1      Arsenal
2      Arsenal
3      Arsenal
4      Arsenal
        ...
487     Wolves
488     Wolves
489     Wolves
490     Wolves
491     Wolves
Name: team_name, Length: 492, dtype: object

In [24]:
# add position name for each player
positions = ['goalkeeper', 'defender', 'midfielder', 'forward']
player_positions = [positions[players21.loc[ix,'element_type']-1] for ix in players21.index]
players21['position'] = player_positions
players21['position']

0      goalkeeper
1      goalkeeper
2      midfielder
3         forward
4        defender
          ...
487      defender
488    goalkeeper
489    midfielder
490      defender
491    goalkeeper
Name: position, Length: 492, dtype: object

In [25]:
players21

,id,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,...,corners_and_indirect_freekicks_text,direct_freekicks_order,direct_freekicks_text,penalties_order,penalties_text,adjusted points per game,value,valuePoints metric,team_name,position
0,1,NaN,NaN,80201,0,0,0,0,0,1,...,NaN,NaN,NaN,NaN,NaN,3.703958,0.740792,1.656460,Arsenal,goalkeeper
1,2,NaN,NaN,115918,0,0,0,0,0,1,...,NaN,NaN,NaN,NaN,NaN,2.246706,0.561677,1.123353,Arsenal,goalkeeper
2,3,NaN,NaN,47431,0,0,0,0,0,3,...,NaN,2.0,NaN,NaN,NaN,3.189007,0.490616,1.250831,Arsenal,midfielder
3,4,NaN,NaN,54694,0,0,0,0,0,4,...,NaN,NaN,NaN,1.0,NaN,4.597090,0.459709,1.453728,Arsenal,forward
4,5,NaN,NaN,58822,0,0,0,0,0,2,...,NaN,5.0,NaN,NaN,NaN,3.413811,0.758625,1.609286,Arsenal,defender
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
487,446,NaN,NaN,501837,0,0,0,0,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Wolves,defender
488,452,NaN,NaN,19236,0,0,0,0,0,1,...,NaN,NaN,NaN,NaN,NaN,3.195303,0.710067,1.506280,Wolves,goalkeeper
489,461,NaN,NaN,222564,0,0,0,0,0,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Wolves,midfielder
490,470,NaN,NaN,448514,0,0,0,0,0,2,...,NaN,NaN,NaN,NaN,NaN,3.139094,0.697576,1.479783,Wolves,defender
491,475,NaN,NaN,149065,0,0,0,0,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Wolves,goalkeeper

## Predict points for given time horizon of future gameweeks

In [26]:
fpl_fixtures_data = json.loads(requests.get('https://fantasy.premierleague.com/api/fixtures/').text)
fpl_fixtures = pandas.DataFrame(fpl_fixtures_data)
fpl_fixtures

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,started,team_a,team_a_score,team_h,team_h_score,stats,team_h_difficulty,team_a_difficulty,pulse_id
0,2210271,1,True,True,1,2021-08-13T19:00:00Z,90,False,True,1,0.0,3,2.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",3,2,66342
1,2210276,1,False,True,6,2021-08-14T11:30:00Z,90,False,True,10,1.0,13,5.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,4,66347
2,2210272,1,False,True,2,2021-08-14T14:00:00Z,90,False,True,4,2.0,5,1.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,2,66343
3,2210273,1,False,True,3,2021-08-14T14:00:00Z,90,False,True,7,0.0,6,3.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,4,66344
4,2210274,1,False,True,4,2021-08-14T14:00:00Z,90,False,True,16,1.0,8,3.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,3,66345
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2210646,38,False,False,376,2022-05-22T15:00:00Z,0,False,False,13,NaN,7,NaN,[],4,2,66717
376,2210647,38,False,False,377,2022-05-22T15:00:00Z,0,False,False,16,NaN,9,NaN,[],2,3,66718
377,2210648,38,False,False,378,2022-05-22T15:00:00Z,0,False,False,20,NaN,11,NaN,[],2,4,66719
378,2210649,38,False,False,379,2022-05-22T15:00:00Z,0,False,False,2,NaN,12,NaN,[],2,5,66720
379,2210650,38,False,False,380,2022-05-22T15:00:00Z,0,False,False,17,NaN,15,NaN,[],3,2,66721

In [27]:
fpl_fixtures['home team'] = [teams[i] for i in fpl_fixtures['team_h']-1]
fpl_fixtures['away team'] = [teams[i] for i in fpl_fixtures['team_a']-1]
fpl_fixtures[fpl_fixtures['event']==1]

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,started,team_a,team_a_score,team_h,team_h_score,stats,team_h_difficulty,team_a_difficulty,pulse_id,home team,away team
0,2210271,1,True,True,1,2021-08-13T19:00:00Z,90,False,True,1,0.0,3,2.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",3,2,66342,Brentford,Arsenal
1,2210276,1,False,True,6,2021-08-14T11:30:00Z,90,False,True,10,1.0,13,5.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,4,66347,Manchester Utd,Leeds United
2,2210272,1,False,True,2,2021-08-14T14:00:00Z,90,False,True,4,2.0,5,1.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,2,66343,Burnley,Brighton
3,2210273,1,False,True,3,2021-08-14T14:00:00Z,90,False,True,7,0.0,6,3.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,4,66344,Chelsea,Crystal Palace
4,2210274,1,False,True,4,2021-08-14T14:00:00Z,90,False,True,16,1.0,8,3.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,3,66345,Everton,Southampton
5,2210275,1,False,True,5,2021-08-14T14:00:00Z,90,False,True,20,0.0,9,1.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,3,66346,Leicester City,Wolves
6,2210280,1,False,True,8,2021-08-14T14:00:00Z,90,False,True,2,2.0,18,3.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,2,66351,Watford,Aston Villa
7,2210278,1,False,True,7,2021-08-14T16:30:00Z,90,False,True,11,3.0,15,0.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,2,66349,Norwich City,Liverpool
8,2210277,1,False,False,9,2021-08-15T13:00:00Z,0,False,False,19,NaN,14,NaN,[],3,2,66348,Newcastle Utd,West Ham
9,2210279,1,False,False,10,2021-08-15T15:30:00Z,0,False,False,12,NaN,17,NaN,[],4,4,66350,Tottenham,Manchester City

In [28]:
path = Path('../../data/fbref/team_stats_for20_21.csv')
team_stats_for = pandas.read_csv(path, index_col=0, header=[0,1])
team_stats_for.rename(columns={'Unnamed: 0_level_0':'General','Unnamed: 1_level_0':'General',\
                               'Unnamed: 2_level_0':'General','Unnamed: 3_level_0':'General'}, inplace=True)
team_stats_for

            General                  Playing Time                     \
              Squad # Pl   Age  Poss           MP Starts   Min   90s
0           Arsenal   29  25.9  53.8           38    418  3420  38.0
1       Aston Villa   24  25.2  48.1           38    418  3420  38.0
2          Brighton   27  25.8  51.3           38    418  3420  38.0
3           Burnley   25  28.3  41.7           38    418  3420  38.0
4           Chelsea   27  26.0  61.4           38    418  3420  38.0
5    Crystal Palace   24  29.1  40.1           38    418  3420  38.0
6           Everton   29  26.3  46.5           38    418  3420  38.0
7            Fulham   28  25.2  49.9           38    418  3420  38.0
8      Leeds United   23  26.1  57.6           38    418  3420  38.0
9    Leicester City   27  26.5  54.6           38    418  3420  38.0
10        Liverpool   28  26.8  62.4           38    418  3420  38.0
11  Manchester City   24  26.1  63.9           38    418  3420  38.0
12   Manchester Utd   29  25.6  55.8           38    418  3420  38.0
13    Newcastle Utd   27  27.1  38.2           38    418  3420  38.0
14    Sheffield Utd   27  26.7  41.5           38    418  3420  38.0
15      Southampton   29  26.6  52.2           38    418  3420  38.0
16        Tottenham   24  27.2  51.7           38    418  3420  38.0
17        West Brom   30  26.4  37.6           38    418  3420  38.0
18         West Ham   24  27.8  42.9           38    418  3420  38.0
19           Wolves   27  26.3  49.3           38    418  3420  38.0

   Performance      ... Per 90 Minutes Expected                      \
           Gls Ast  ...         G+A-PK       xG  npxG    xA npxG+xA
0           53  38  ...           2.24     53.5  49.0  36.6    85.5
1           52  38  ...           2.24     52.9  48.5  37.1    85.6
2           39  24  ...           1.50     51.6  44.8  33.0    77.8
3           32  20  ...           1.29     39.9  37.6  27.1    64.8
4           56  38  ...           2.26     64.0  56.4  42.4    98.8
5           39  29  ...           1.71     32.4  29.5  20.9    50.4
6           45  32  ...           1.92     47.2  43.5  32.9    76.4
7           26  18  ...           1.08     41.3  36.8  27.8    64.6
8           60  45  ...           2.66     57.5  54.5  42.5    97.0
9           64  45  ...           2.61     56.0  46.9  33.1    80.0
10          65  43  ...           2.68     72.6  68.1  50.0   118.1
11          82  55  ...           3.47     73.3  66.6  51.0   117.5
12          70  51  ...           2.92     60.2  51.9  40.5    92.4
13          44  26  ...           1.68     41.0  35.5  26.1    61.6
14          19  13  ...           0.76     31.4  28.4  22.6    51.0
15          47  33  ...           1.97     42.4  37.9  27.4    65.4
16          66  50  ...           2.92     54.5  50.7  35.5    86.2
17          33  20  ...           1.29     33.8  30.7  21.2    52.0
18          60  46  ...           2.74     53.9  50.7  36.8    87.5
19          34  21  ...           1.34     39.9  36.8  26.4    63.3

   Per 90 Minutes
               xG    xA xG+xA  npxG npxG+xA
0            1.41  0.96  2.37  1.29    2.25
1            1.39  0.98  2.37  1.28    2.25
2            1.36  0.87  2.23  1.18    2.05
3            1.05  0.71  1.76  0.99    1.70
4            1.68  1.12  2.80  1.48    2.60
5            0.85  0.55  1.40  0.78    1.33
6            1.24  0.87  2.11  1.14    2.01
7            1.09  0.73  1.82  0.97    1.70
8            1.51  1.12  2.63  1.43    2.55
9            1.47  0.87  2.35  1.23    2.11
10           1.91  1.32  3.23  1.79    3.11
11           1.93  1.34  3.27  1.75    3.09
12           1.58  1.07  2.65  1.37    2.43
13           1.08  0.69  1.77  0.93    1.62
14           0.83  0.60  1.42  0.75    1.34
15           1.12  0.72  1.84  1.00    1.72
16           1.43  0.93  2.37  1.33    2.27
17           0.89  0.56  1.45  0.81    1.37
18           1.42  0.97  2.39  1.33    2.30
19           1.05  0.70  1.74  0.97    1.66

[20 rows x 29 columns]

In [29]:
path = Path('../../data/fbref/team_stats_against20_21.csv')
team_stats_against = pandas.read_csv(path, index_col=0, header=[0,1])
team_stats_against.rename(columns={'Unnamed: 0_level_0':'General','Unnamed: 1_level_0':'General',\
                               'Unnamed: 2_level_0':'General','Unnamed: 3_level_0':'General'}, inplace=True)
team_stats_against

               General                Playing Time                     \
                 Squad # Pl Age  Poss           MP Starts   Min   90s
0           vs Arsenal   29 NaN  46.2           38    418  3420  38.0
1       vs Aston Villa   24 NaN  51.9           38    418  3420  38.0
2          vs Brighton   27 NaN  48.7           38    418  3420  38.0
3           vs Burnley   25 NaN  58.3           38    418  3420  38.0
4           vs Chelsea   27 NaN  38.6           38    418  3420  38.0
5    vs Crystal Palace   24 NaN  59.9           38    418  3420  38.0
6           vs Everton   29 NaN  53.5           38    418  3420  38.0
7            vs Fulham   28 NaN  50.1           38    418  3420  38.0
8      vs Leeds United   23 NaN  42.4           38    418  3420  38.0
9    vs Leicester City   27 NaN  45.4           38    418  3420  38.0
10        vs Liverpool   28 NaN  37.6           38    418  3420  38.0
11  vs Manchester City   24 NaN  36.1           38    418  3420  38.0
12   vs Manchester Utd   29 NaN  44.2           38    418  3420  38.0
13    vs Newcastle Utd   27 NaN  61.8           38    418  3420  38.0
14    vs Sheffield Utd   27 NaN  58.5           38    418  3420  38.0
15      vs Southampton   29 NaN  47.8           38    418  3420  38.0
16        vs Tottenham   24 NaN  48.3           38    418  3420  38.0
17        vs West Brom   30 NaN  62.4           38    418  3420  38.0
18         vs West Ham   24 NaN  57.1           38    418  3420  38.0
19           vs Wolves   27 NaN  50.7           38    418  3420  38.0

   Performance      ... Per 90 Minutes Expected                      \
           Gls Ast  ...         G+A-PK       xG  npxG    xA npxG+xA
0           35  25  ...           1.53     44.3  42.1  29.9    71.9
1           45  30  ...           1.84     52.9  48.4  32.7    81.1
2           44  30  ...           1.79     37.7  32.4  23.9    56.3
3           54  47  ...           2.58     57.6  55.4  43.6    99.0
4           35  26  ...           1.53     32.8  29.8  22.0    51.8
5           66  47  ...           2.89     57.5  54.4  39.8    94.2
6           47  33  ...           2.03     52.0  48.9  33.5    82.5
7           52  34  ...           2.08     53.0  47.8  36.2    84.0
8           52  36  ...           2.11     62.9  56.0  41.6    97.6
9           48  29  ...           1.92     47.7  44.7  34.2    78.9
10          42  29  ...           1.76     45.3  39.3  29.7    69.1
11          31  17  ...           1.05     31.4  23.7  15.6    39.2
12          42  28  ...           1.74     42.2  39.3  28.2    67.5
13          59  41  ...           2.53     54.0  50.2  37.9    88.1
14          60  45  ...           2.68     62.4  59.5  43.4   102.8
15          67  44  ...           2.71     54.2  47.4  36.3    83.7
16          42  24  ...           1.47     49.5  41.9  33.0    75.0
17          73  52  ...           3.11     67.7  59.4  44.1   103.5
18          43  34  ...           1.95     48.3  44.5  35.3    79.8
19          49  34  ...           2.00     45.9  39.8  30.2    70.0

   Per 90 Minutes
               xG    xA xG+xA  npxG npxG+xA
0            1.17  0.79  1.95  1.11    1.89
1            1.39  0.86  2.25  1.27    2.13
2            0.99  0.63  1.62  0.85    1.48
3            1.52  1.15  2.66  1.46    2.60
4            0.86  0.58  1.44  0.78    1.36
5            1.51  1.05  2.56  1.43    2.48
6            1.37  0.88  2.25  1.29    2.17
7            1.39  0.95  2.35  1.26    2.21
8            1.66  1.10  2.75  1.47    2.57
9            1.25  0.90  2.16  1.18    2.08
10           1.19  0.78  1.97  1.04    1.82
11           0.83  0.41  1.24  0.62    1.03
12           1.11  0.74  1.85  1.03    1.78
13           1.42  1.00  2.42  1.32    2.32
14           1.64  1.14  2.78  1.56    2.71
15           1.43  0.95  2.38  1.25    2.20
16           1.30  0.87  2.17  1.10    1.97
17           1.78  1.16  2.94  1.56    2.72
18           1.27  0.93  2.20  1.17    2.10
19           1.21  0.80  2.00  1.05    1.84

[20 rows x 29 columns]

In [30]:
# upload model for making predictions
path = Path('../../models/xgboost_predictor_v4_weightsAndBonus.pickle')
with open(path,'rb') as f:
    model = pickle.load(f)

In [31]:
# pre-allocate
players21['goalkeeper'] = 0
players21['defender'] = 0
players21['midfielder'] = 0
players21['forward'] = 0

In [32]:
input_columns = ['goalkeeper', 'defender', 'midfielder',
       'forward', 'xG90', 'xA90', 'xGA90', 'bonus', 'xPoints90',
       'games played', 'form 5', 'games_form5', 'form 10', 'games form10',
       'team xG per 90', 'team xGA per 90', 'home', 'opponent xG per 90',
       'opponent xGA per 90']
players21[input_columns] = numpy.nan

In [38]:
# run predictions for all players for a given time horizon
# assumes one match per gameweek at most
horizon = 1
output_columns = [f'gameweek {i} prediction' for i in range(1,horizon+1)]
# THIS LOOKS TO BE IN THE WRONG PLACE?!?!
xGA_columns = [column for column in target_player_from20.columns if 'xGA_week' in column]

for player_ix in players21.index:
    target_player_from20 = players20.loc[(players20['first_name']==players21.loc[player_ix,'first_name']) & \
              (players20['second_name']==players21.loc[player_ix,'second_name'])]
    # if we find a unique match for current player from the 2020-21 data
    if target_player_from20.shape[0]==1:
        # collect base info
        if players21.loc[player_ix,'position'] == 'goalkeeper':
            players21.loc[player_ix,'goalkeeper'] = 1
        elif players21.loc[player_ix, 'position'] == 'defender':
            players21.loc[player_ix,'defender'] = 1
        elif players21.loc[player_ix, 'position'] == 'midfielder':
            players21.loc[player_ix,'midfielder'] = 1
        elif players21.loc[player_ix, 'position'] == 'forward':
            players21.loc[player_ix,'forward'] = 1
            
        players21.loc[player_ix, 'xG90'] = (90 * target_player_from20['xG'] / \
                                                 target_player_from20['minutes']).values[0]
        players21.loc[player_ix, 'xA90'] = (90 * target_player_from20['xA'] / \
                                                target_player_from20['minutes']).values[0]
        players21.loc[player_ix, 'xGA90'] = ( 90 * target_player_from20[xGA_columns].sum(axis=1) /
                                        target_player_from20['minutes'] ).values[0]
        players21.loc[player_ix, 'bonus'] = 0
        players21.loc[player_ix, 'xPoints90'] = target_player_from20['adjusted points per game'].values[0]
        players21.loc[player_ix, 'games played'] = 0
        players21.loc[player_ix, 'form 5'] = players21.loc[player_ix, 'xPoints90'].copy()
        players21.loc[player_ix, 'games_form5'] = 0
        players21.loc[player_ix, 'form 10'] = players21.loc[player_ix, 'xPoints90'].copy()
        players21.loc[player_ix, 'games form10'] = 0
        team = target_player_from20['team_name'].values[0]
        # team xG per 90 
        team_xG90 = team_stats_for.loc[team_stats_for[('General','Squad')]==team, \
                                       ('Per 90 Minutes','xG')].values[0]
        players21.loc[player_ix, 'team xG per 90'] = team_xG90
        # team xGA per 90 
        team_xGA90 = team_stats_against.loc[team_stats_against[('General','Squad')]==f'vs {team}', \
                                                        ('Per 90 Minutes','xG')].values[0]
        players21.loc[player_ix, 'team xGA per 90'] = team_xGA90
        for gameweek in range(1,horizon+1):
            
            # home game
            if fpl_fixtures[(fpl_fixtures['event']==gameweek) & (fpl_fixtures['home team']==team)].shape[0]==1:
                players21.loc[player_ix, 'home'] = 1
                opponent = fpl_fixtures.loc[(fpl_fixtures['event']==gameweek) & (fpl_fixtures['home team']==team),\
                                            'away team'].values[0]
                if opponent in ['Brentford', 'Norwich City', 'Watford']:
                    # using Fulham's 20-21 stats here 
                    opponent_xG90 = 1.09
                    opponent_xGA90 = 1.39
                else:
                    # opponent xG per 90
                    opponent_xG90 = team_stats_for.loc[team_stats_for[('General','Squad')]==opponent, \
                                                            ('Per 90 Minutes','xG')].values[0]
                    players21.loc[player_ix, 'opponent xG per 90'] = opponent_xG90
                    # opponent xGA per 90
                    opponent_xGA90 = team_stats_against.loc[team_stats_against[('General','Squad')]==\
                                                            f'vs {opponent}', ('Per 90 Minutes','xG')].values[0]
                    players21.loc[player_ix, 'opponent xGA per 90'] = opponent_xGA90
                
                # predict player's points
                input_data = players21.loc[player_ix:player_ix, input_columns]
                input_data = xgboost.DMatrix(input_data)
                prediction = model.predict(input_data)
                players21.loc[player_ix, output_columns[gameweek-1]] = prediction
            # away game
            elif fpl_fixtures[(fpl_fixtures['event']==gameweek) & (fpl_fixtures['away team']==team)].shape[0]==1:
                players21.loc[player_ix, 'home'] = 0
                opponent = fpl_fixtures.loc[(fpl_fixtures['event']==gameweek) & (fpl_fixtures['away team']==team),\
                                            'home team'].values[0]
                if opponent in ['Brentford', 'Norwich City', 'Watford']:
                    # using Fulham's 20-21 stats here 
                    opponent_xG90 = 1.09
                    opponent_xGA90 = 1.39
                else:
                    # opponent xG per 90
                    opponent_xG90 = team_stats_for.loc[team_stats_for[('General','Squad')]==opponent, \
                                                            ('Per 90 Minutes','xG')].values[0]
                    players21.loc[player_ix, 'opponent xG per 90'] = opponent_xG90
                    # opponent xGA per 90
                    opponent_xGA90 = team_stats_against.loc[team_stats_against[('General','Squad')]==\
                                                            f'vs {opponent}', ('Per 90 Minutes','xG')].values[0]
                    players21.loc[player_ix, 'opponent xGA per 90'] = opponent_xGA90
                
                # predict player's points
                input_data = players21.loc[player_ix:player_ix, input_columns]
                input_data = xgboost.DMatrix(input_data)
                prediction = model.predict(input_data)
                players21.loc[player_ix, output_columns[gameweek-1]] = prediction

In [39]:
players21[f'Total xPoints in {horizon} gameweeks'] = players21[output_columns].sum(axis=1)

In [40]:
players21[f'adjusted points per game times horizon ({horizon})'] = players21['adjusted points per game'] * horizon

In [41]:
players21.sort_values(f'Total xPoints in {horizon} gameweeks', ascending=False).head(30)\
            [['web_name', 'now_cost', 'position', f'Total xPoints in {horizon} gameweeks', 
              'adjusted points per game', f'adjusted points per game times horizon ({horizon})']]

,web_name,now_cost,position,Total xPoints in 1 gameweeks,adjusted points per game,adjusted points per game times horizon (1)
273,De Bruyne,12.0,midfielder,5.576548,6.391634,6.391634
299,Fernandes,12.0,midfielder,5.458616,6.144816,6.144816
147,Mount,7.5,midfielder,4.641008,4.447006,4.447006
143,Werner,9.0,forward,4.472586,4.138005,4.138005
254,Salah,12.5,midfielder,4.245473,6.131751,6.131751
144,Chilwell,6.0,defender,4.204031,4.711586,4.711586
303,Rashford,9.5,midfielder,4.092657,4.105094,4.105094
146,Pulisic,8.0,midfielder,4.051976,3.484504,3.484504
93,Jahanbakhsh,5.5,midfielder,4.011017,2.129468,2.129468
145,Abraham,6.5,forward,3.979992,3.092906,3.092906
150,Havertz,8.5,midfielder,3.943440,3.632261,3.632261
152,Mendy,6.0,goalkeeper,3.924095,4.130169,4.130169
81,Steele,4.0,goalkeeper,3.896411,NaN,NaN
132,Jorginho,6.0,midfielder,3.894919,3.929202,3.929202
136,Rüdiger,5.5,defender,3.894272,4.348064,4.348064
129,Giroud,6.5,forward,3.887226,3.115745,3.115745
90,Maupay,6.5,forward,3.872770,3.944293,3.944293
128,Azpilicueta,6.0,defender,3.845781,4.090064,4.090064
151,James,5.5,defender,3.845781,4.247097,4.247097
138,Arrizabalaga,5.0,goalkeeper,3.813821,4.248850,4.248850
82,Groß,6.0,midfielder,3.796661,3.763421,3.763421
311,Greenwood,7.5,midfielder,3.663727,3.599226,3.599226
300,Martial,8.0,forward,3.662781,3.418013,3.418013
131,Alonso,5.5,defender,3.637902,4.487182,4.487182
142,Christensen,5.0,defender,3.622807,3.505016,3.505016
313,Mata,5.0,midfielder,3.604613,3.336865,3.336865
86,Dunk,5.0,defender,3.603230,3.694181,3.694181
291,Cavani,8.5,forward,3.592186,3.369495,3.369495
102,Welbeck,6.0,forward,3.581805,3.716804,3.716804
297,Shaw,5.5,defender,3.570726,4.042990,4.042990

In [ ]:
# save data
#path = Path('../../data/fpl/pre_season.csv')
#players21.to_csv(path)