# Tableau and player form

Here we create a csv file that is used for making further Tableau visualizations.

In [1]:
# recent gameweek
gameweek = 26

In [2]:
# import basic libraries
import pandas as pd
import numpy as np

pd.set_option('max_columns',100)

In [3]:
# fetch player stats data
all_df = pd.read_csv('../data/fpl/data_week1.csv', index_col=0)
all_df['gameweek'] = 1
all_df['xPoints'] = all_df['adjusted points']

for week in range(2,gameweek+1):
    filepath = '../data/fpl/data_week' + str(week) + '.csv'
    df = pd.read_csv(filepath, index_col=0)
    df['gameweek'] = week
    column_name = 'xPoints week ' + str(week)
    df['xPoints'] = df[column_name]
    all_df = all_df.append(df,sort='False')

all_df.shape

(15995, 271)

In [4]:
# calculate player form
for i in [5,10,15,20]:
    gameweeks = np.arange(gameweek-i+1,gameweek+1)
    column_name = 'form ' + str(i)
    all_df.loc[all_df['gameweek']==gameweek, column_name] = (all_df[all_df['gameweek'].isin(gameweeks)].groupby(['id'])['xPoints'].sum() / (all_df.loc[(all_df['gameweek']==gameweek),'games played'].round() - all_df.loc[(all_df['gameweek']==gameweek-i),'games played'].round()) )
    # dirty fix in case there are inf results
    all_df.loc[(all_df['gameweek']==gameweek) & np.isinf(all_df[column_name]), column_name] = np.nan

In [6]:
# top form players
all_df[all_df['gameweek']==gameweek][['web_name', 'games played','total_points', 'points_per_game','adjusted points','adjusted points per game',\
                                'form 5', 'form 10', 'form 15', 'form 20']].sort_values(by=['form 10'], ascending=False).head(20)

,web_name,games played,total_points,points_per_game,adjusted points,adjusted points per game,form 5,form 10,form 15,form 20
id,,,,,,,,,,
112,Arrizabalaga,3.947368,15,3.8,17.563774,4.449489,6.986341,6.986341,6.986341,6.986341
568,Telles,7.096774,22,3.1,25.302564,3.565361,NaN,6.703519,3.500880,NaN
302,Fernandes,26.849315,196,7.3,175.979242,6.554329,6.942087,6.115805,6.424755,6.790531
17,Tierney,18.888889,68,3.6,67.924997,3.596029,3.407974,5.932055,4.699249,4.104183
388,Kane,23.970588,163,6.8,148.473527,6.193988,5.180000,5.907524,5.335978,5.428255
271,Gündogan,20.952381,132,6.3,114.751843,5.476793,5.739199,5.797513,5.952524,5.232817
245,Adrián,2.972973,11,3.7,10.438778,3.511225,5.730734,5.730734,5.730734,5.730734
437,Antonio,16.956522,78,4.6,79.785507,4.705299,5.473859,5.621575,5.159418,4.781289
435,Cresswell,25.744681,121,4.7,115.453173,4.484545,5.627955,5.561785,4.882044,4.512814
272,De Bruyne,20.961538,109,5.2,133.404245,6.364239,3.820642,5.499525,5.807050,6.580722
104,Alonso,7.948718,31,3.9,31.917309,4.015403,4.493934,5.495147,5.495147,5.495147
24,Saka,21.904762,92,4.2,97.517755,4.451898,3.646952,5.483345,5.241846,4.644624
458,Boly,16.111111,58,3.6,56.655669,3.516559,5.626123,5.439820,4.969881,3.914500
4,Aubameyang,21.818182,96,4.4,98.445356,4.512079,4.394254,5.406286,5.230823,4.936274
542,Reguilón,15.000000,63,4.2,56.716290,3.781086,3.425057,5.349275,4.029468,3.946961
235,Barnes,25.200000,126,5.0,105.956634,4.204628,5.146597,5.306178,4.412641,4.283274
231,Maddison,22.884615,119,5.2,89.841615,3.925852,5.586145,5.284176,4.937013,4.499581
239,Justin,22.954545,101,4.4,90.006582,3.921079,8.796761,5.218925,4.954480,4.442558
390,Son,25.820896,173,6.7,144.975269,5.614649,5.108161,5.186823,5.187405,5.081527
466,Neves,26.060606,86,3.3,87.125507,3.343188,5.527680,5.161379,4.226458,3.715978

In [7]:
# save data
filepath = '../data/fpl/all_data.csv'
all_df.to_csv(filepath)

filepath = '../data/fpl/data_week' + str(gameweek) + '.csv'
all_df[all_df['gameweek']==gameweek].to_csv(filepath)