# Tableau and player form

Here we create a csv file that is used for making further Tableau visualizations.

In [1]:
# recent gameweek
gameweek = 21

In [2]:
# import basic libraries
import pandas as pd
import numpy as np

pd.set_option('max_columns',100)

In [3]:
# fetch player stats data
all_df = pd.read_csv('../data/fpl/data_week1.csv', index_col=0)
all_df['gameweek'] = 1
all_df['xPoints'] = all_df['adjusted points']

for week in range(2,gameweek+1):
    filepath = '../data/fpl/data_week' + str(week) + '.csv'
    df = pd.read_csv(filepath, index_col=0)
    df['gameweek'] = week
    column_name = 'xPoints week ' + str(week)
    df['xPoints'] = df[column_name]
    all_df = all_df.append(df,sort='False')

all_df.shape

(12638, 235)

In [4]:
# calculate player form
for i in [5,10]:
    gameweeks = np.arange(gameweek-i+1,gameweek+1)
    column_name = 'form ' + str(i)
    all_df.loc[all_df['gameweek']==gameweek, column_name] = (all_df[all_df['gameweek'].isin(gameweeks)].groupby(['id'])['xPoints'].sum() / (all_df.loc[(all_df['gameweek']==gameweek),'games played'].round() - all_df.loc[(all_df['gameweek']==gameweek-i),'games played'].round()) )

In [5]:
# top form players
all_df[all_df['gameweek']==gameweek][['web_name', 'games played','total_points', 'points_per_game','adjusted points','adjusted points per game',\
                                'form 5', 'form 10']].sort_values(by=['form 5'], ascending=False).head(20)

,web_name,games played,total_points,points_per_game,adjusted points,adjusted points per game,form 5,form 10
id,,,,,,,,
104,Alonso,4.000000,16,4.0,13.930279,3.482570,9.500000,9.500000
17,Tierney,17.105263,65,3.8,61.963076,3.622457,8.456136,5.068185
139,van Aanholt,10.800000,27,2.5,36.318289,3.362805,7.981280,3.679661
24,Saka,18.000000,81,4.5,83.140067,4.618893,7.319739,5.950687
542,Reguilón,12.926829,53,4.1,50.563493,3.911515,7.273494,4.230938
272,De Bruyne,16.964286,95,5.6,117.336593,6.916683,7.178408,6.800254
4,Aubameyang,16.904762,71,4.2,76.162467,4.505385,7.093006,5.927965
388,Kane,19.066667,143,7.5,123.120966,6.457393,6.816930,5.433465
568,Telles,7.096774,22,3.1,24.641698,3.472239,6.703519,3.500880
251,Mané,19.074074,103,5.4,109.577302,5.744829,6.366321,5.351550
556,Dias,17.843137,91,5.1,85.731106,4.804710,6.266408,5.534080
57,Groß,17.058824,58,3.4,64.390020,3.774587,6.177396,3.745152
481,Pereira,16.976744,73,4.3,58.353449,3.437258,5.988622,4.744647
271,Gündogan,15.090909,83,5.5,69.820083,4.626632,5.855828,6.094741
277,Cancelo,15.087719,86,5.7,82.050783,5.438250,5.785390,5.563256
437,Antonio,13.095238,55,4.2,58.078270,4.435068,5.739748,4.949790
5,Cédric,4.000000,20,5.0,17.860721,4.465180,5.683250,NaN
435,Cresswell,20.869565,96,4.6,88.475156,4.239435,5.495615,4.509089
235,Barnes,20.000000,94,4.7,80.712940,4.035647,5.465758,4.045662
273,Stones,11.000000,77,7.0,57.493012,5.226637,5.445642,5.636160

In [6]:
# save data
filepath = '../data/fpl/all_data.csv'
all_df.to_csv(filepath)

filepath = '../data/fpl/data_week' + str(gameweek) + '.csv'
all_df[all_df['gameweek']==gameweek].to_csv(filepath)