# Tableau and player form

Here we create a csv file that is used for making further Tableau visualizations.

In [1]:
# recent gameweek
gameweek = 38

In [2]:
# import basic libraries
import pandas as pd
import numpy as np

pd.set_option('max_columns',100)

In [3]:
# fetch player stats data
all_df = pd.read_csv('../data/fpl/data_week1.csv', index_col=0)
all_df['gameweek'] = 1
all_df['xPoints'] = all_df['adjusted points']

for week in range(2,gameweek+1):
    filepath = '../data/fpl/data_week' + str(week) + '.csv'
    df = pd.read_csv(filepath, index_col=0)
    df['gameweek'] = week
    column_name = 'xPoints week ' + str(week)
    df['xPoints'] = df[column_name]
    all_df = all_df.append(df,sort='False')

all_df.shape

(24334, 356)

In [4]:
# calculate player form
for i in [5,10,15,20]:
    gameweeks = np.arange(gameweek-i+1,gameweek+1)
    column_name = 'form ' + str(i)
    all_df.loc[all_df['gameweek']==gameweek, column_name] = (all_df[all_df['gameweek'].isin(gameweeks)].groupby(['id'])['xPoints'].sum() / (all_df.loc[(all_df['gameweek']==gameweek),'games played'].round() - all_df.loc[(all_df['gameweek']==gameweek-i),'games played'].round()) )
    # dirty fix in case there are inf results
    all_df.loc[(all_df['gameweek']==gameweek) & np.isinf(all_df[column_name]), column_name] = np.nan

In [5]:
# top form players
all_df[all_df['gameweek']==gameweek][['web_name', 'games played','total_points', 'points_per_game','adjusted points','adjusted points per game',\
                                'form 5', 'form 10', 'form 15', 'form 20']].sort_values(by=['form 10'], ascending=False).head(20)

,web_name,games played,total_points,points_per_game,adjusted points,adjusted points per game,form 5,form 10,form 15,form 20
id,,,,,,,,,,
254,Salah,37.258065,231,6.2,228.457156,6.131751,7.797904,7.388823,6.181187,5.865449
272,De Bruyne,25.178571,141,5.6,160.932219,6.391634,8.843582,7.206951,5.428333,5.267131
259,Alexander-Arnold,36.363636,160,4.4,175.425703,4.824207,6.092858,6.846809,5.820315,5.363331
388,Kane,35.072464,242,6.9,221.074696,6.303369,5.854210,6.385672,6.099397,6.049498
481,Pereira,33.260870,153,4.6,132.277550,3.976972,4.130071,6.381081,5.196919,5.159798
232,Chilwell,27.254902,139,5.1,128.413809,4.711586,5.445178,6.271638,5.560255,4.905618
573,Olsen,6.944444,25,3.6,24.220094,3.487693,NaN,6.001046,4.354025,3.885223
290,Mata,8.888889,32,3.6,29.661021,3.336865,5.875262,5.875262,4.250174,4.250174
251,Mané,35.200000,176,5.0,188.267615,5.348512,6.413850,5.829796,5.000834,5.256099
203,Harrison,36.363636,160,4.4,147.957471,4.068830,4.677053,5.658235,4.003276,4.061597
274,Mendy,13.125000,63,4.8,55.348134,4.217001,4.524071,5.603353,4.854291,4.854291
315,Greenwood,31.176471,106,3.4,112.211179,3.599226,4.312631,5.588123,4.275791,3.840797
91,Wood,32.857143,138,4.2,142.153149,4.326400,3.920000,5.556744,5.293130,4.677100
500,Havertz,26.764706,91,3.4,97.216398,3.632261,6.628622,5.551939,5.364321,4.601729
109,Rüdiger,18.979592,93,4.9,82.524485,4.348064,4.549677,5.298596,4.692409,4.647677
352,Jack Robinson,11.034483,32,2.9,33.185971,3.007479,5.160776,5.160776,5.160776,5.160776
120,Mount,35.853659,147,4.1,159.441421,4.447006,4.520164,5.134593,5.055927,4.964997
474,Neto,31.000000,124,4.0,124.031995,4.001032,NaN,5.054264,3.519074,4.050991
453,Ruddy,2.000000,4,2.0,6.390606,3.195303,4.986341,4.986341,NaN,NaN
276,Sterling,30.800000,154,5.0,158.339337,5.140888,5.113261,4.983533,4.733232,4.664186

In [6]:
# save data
filepath = '../data/fpl/all_data.csv'
all_df.to_csv(filepath)

filepath = '../data/fpl/data_week' + str(gameweek) + '.csv'
all_df[all_df['gameweek']==gameweek].to_csv(filepath)