# Tableau and player form

Here we create a csv file that is used for making further Tableau visualizations.

In [1]:
# recent gameweek
gameweek = 33

In [2]:
# import basic libraries
import pandas as pd
import numpy as np

pd.set_option('max_columns',100)

In [3]:
# fetch player stats data
all_df = pd.read_csv('../data/fpl/data_week1.csv', index_col=0)
all_df['gameweek'] = 1
all_df['xPoints'] = all_df['adjusted points']

for week in range(2,gameweek+1):
    filepath = '../data/fpl/data_week' + str(week) + '.csv'
    df = pd.read_csv(filepath, index_col=0)
    df['gameweek'] = week
    column_name = 'xPoints week ' + str(week)
    df['xPoints'] = df[column_name]
    all_df = all_df.append(df,sort='False')

all_df.shape

(20814, 321)

In [4]:
# calculate player form
for i in [5,10,15,20]:
    gameweeks = np.arange(gameweek-i+1,gameweek+1)
    column_name = 'form ' + str(i)
    all_df.loc[all_df['gameweek']==gameweek, column_name] = (all_df[all_df['gameweek'].isin(gameweeks)].groupby(['id'])['xPoints'].sum() / (all_df.loc[(all_df['gameweek']==gameweek),'games played'].round() - all_df.loc[(all_df['gameweek']==gameweek-i),'games played'].round()) )
    # dirty fix in case there are inf results
    all_df.loc[(all_df['gameweek']==gameweek) & np.isinf(all_df[column_name]), column_name] = np.nan

In [5]:
# top form players
all_df[all_df['gameweek']==gameweek][['web_name', 'games played','total_points', 'points_per_game','adjusted points','adjusted points per game',\
                                'form 5', 'form 10', 'form 15', 'form 20']].sort_values(by=['form 10'], ascending=False).head(20)

,web_name,games played,total_points,points_per_game,adjusted points,adjusted points per game,form 5,form 10,form 15,form 20
id,,,,,,,,,,
112,Arrizabalaga,5.000000,24,4.8,24.665665,4.933133,6.986341,6.986341,6.986341,6.986341
233,Iheanacho,20.000000,88,4.4,77.412912,3.870646,5.848228,6.924114,5.207743,4.878065
87,Barnes,17.777778,48,2.7,57.220000,3.218625,NaN,6.650000,4.960000,4.277778
235,Barnes,25.200000,126,5.0,106.217378,4.214975,NaN,6.511535,5.304783,4.843575
388,Kane,29.863014,218,7.3,192.087861,6.432300,7.050000,6.221991,6.124608,6.122801
91,Wood,27.906977,120,4.3,123.098737,4.411038,7.602674,6.151337,4.992558,5.019418
301,Lingard,10.963855,91,8.3,61.638601,5.621982,6.228271,5.893187,NaN,NaN
245,Adri√°n,2.972973,11,3.7,10.560127,3.552043,NaN,5.730734,5.730734,5.730734
259,Alexander-Arnold,30.975610,127,4.1,143.357769,4.628085,7.789247,5.684043,5.135354,5.295060
232,Chilwell,23.137255,118,5.1,107.264501,4.636008,7.924558,5.652316,4.665813,3.973518
481,Pereira,28.695652,132,4.6,116.092495,4.045648,8.632090,5.623658,5.417230,4.888525
104,Alonso,10.909091,48,4.4,48.599817,4.454983,3.027436,5.606122,5.511735,5.511735
417,Johnstone,31.794872,124,3.9,121.396828,3.818126,6.165526,5.589496,4.495387,4.079338
254,Salah,32.096774,199,6.2,189.200599,5.894692,6.877473,5.372828,5.261557,5.233858
275,Mahrez,24.814815,134,5.4,120.926003,4.873137,5.609566,5.337719,4.573197,4.220118
300,Shaw,28.809524,121,4.2,119.447169,4.146100,5.000579,5.307425,4.678748,4.326603
224,Vardy,29.107143,163,5.6,161.447861,5.546675,3.927953,5.279371,4.937978,4.943156
120,Mount,32.142857,135,4.2,141.904435,4.414805,5.749021,5.270232,5.076205,4.816488
302,Fernandes,32.985075,221,6.7,206.302532,6.254421,4.589478,5.266298,5.742422,6.390820
4,Aubameyang,25.116279,108,4.3,111.466875,4.438033,2.555531,5.214038,5.113894,5.084381

In [6]:
# save data
filepath = '../data/fpl/all_data.csv'
all_df.to_csv(filepath)

filepath = '../data/fpl/data_week' + str(gameweek) + '.csv'
all_df[all_df['gameweek']==gameweek].to_csv(filepath)