# Tableau and player form

Here we create a csv file that is used for making further Tableau visualizations.

In [1]:
# recent gameweek
gameweek = 27

In [2]:
# import basic libraries
import pandas as pd
import numpy as np

pd.set_option('max_columns',100)

In [3]:
# fetch player stats data
all_df = pd.read_csv('../data/fpl/data_week1.csv', index_col=0)
all_df['gameweek'] = 1
all_df['xPoints'] = all_df['adjusted points']

for week in range(2,gameweek+1):
    filepath = '../data/fpl/data_week' + str(week) + '.csv'
    df = pd.read_csv(filepath, index_col=0)
    df['gameweek'] = week
    column_name = 'xPoints week ' + str(week)
    df['xPoints'] = df[column_name]
    all_df = all_df.append(df,sort='False')

all_df.shape

(16680, 279)

In [4]:
# calculate player form
for i in [5,10,15,20]:
    gameweeks = np.arange(gameweek-i+1,gameweek+1)
    column_name = 'form ' + str(i)
    all_df.loc[all_df['gameweek']==gameweek, column_name] = (all_df[all_df['gameweek'].isin(gameweeks)].groupby(['id'])['xPoints'].sum() / (all_df.loc[(all_df['gameweek']==gameweek),'games played'].round() - all_df.loc[(all_df['gameweek']==gameweek-i),'games played'].round()) )
    # dirty fix in case there are inf results
    all_df.loc[(all_df['gameweek']==gameweek) & np.isinf(all_df[column_name]), column_name] = np.nan

In [5]:
# top form players
all_df[all_df['gameweek']==gameweek][['web_name', 'games played','total_points', 'points_per_game','adjusted points','adjusted points per game',\
                                'form 5', 'form 10', 'form 15', 'form 20']].sort_values(by=['form 10'], ascending=False).head(20)

,web_name,games played,total_points,points_per_game,adjusted points,adjusted points per game,form 5,form 10,form 15,form 20
id,,,,,,,,,,
112,Arrizabalaga,3.947368,15,3.8,17.700624,4.484158,6.986341,6.986341,6.986341,6.986341
568,Telles,7.096774,22,3.1,25.169936,3.546673,NaN,6.703519,3.500880,NaN
104,Alonso,9.069767,39,4.3,41.695852,4.597235,5.743934,6.339835,6.339835,6.339835
388,Kane,24.931507,182,7.3,162.189393,6.505399,6.636651,6.235545,5.899048,5.784917
302,Fernandes,27.837838,206,7.4,183.184036,6.580397,5.671901,5.892575,6.678987,7.044633
542,Reguilón,15.853659,65,4.1,62.787335,3.960432,4.841679,5.814405,4.513236,4.136194
437,Antonio,18.181818,80,4.4,82.329860,4.528142,4.600000,5.799353,4.926744,4.599515
271,Gündogan,22.903226,142,6.2,125.590214,5.483516,6.452199,5.754136,5.883415,5.457686
245,Adrián,2.972973,11,3.7,10.431508,3.508780,5.730734,5.730734,5.730734,5.730734
102,Azpilicueta,17.843137,91,5.1,78.398525,4.393763,5.637558,5.675609,5.207453,5.207453
4,Aubameyang,23.111111,104,4.5,105.714779,4.574197,5.534633,5.472733,5.730398,4.915091
458,Boly,16.111111,58,3.6,57.054285,3.541300,NaN,5.439820,4.969881,3.816639
239,Justin,22.954545,101,4.4,90.196047,3.929333,5.598274,5.376258,4.694890,4.503248
235,Barnes,25.200000,126,5.0,105.926070,4.203415,5.671043,5.304783,4.656401,4.111907
435,Cresswell,27.142857,133,4.9,123.068759,4.534112,6.256629,5.297147,5.095445,4.801788
570,Raphinha,21.818182,96,4.4,94.395933,4.326480,5.419322,5.252694,4.981195,4.649323
272,De Bruyne,23.148148,125,5.4,147.199135,6.359003,4.835461,5.162455,5.911301,6.689287
390,Son,26.969697,178,6.6,152.188031,5.642927,5.797822,5.158922,5.377339,5.277635
67,Veltman,21.000000,63,3.0,76.747442,3.654640,5.553281,5.138989,4.143328,3.923049
24,Saka,23.250000,93,4.0,101.947096,4.384821,3.810776,5.137292,5.203025,4.709129

In [6]:
# save data
filepath = '../data/fpl/all_data.csv'
all_df.to_csv(filepath)

filepath = '../data/fpl/data_week' + str(gameweek) + '.csv'
all_df[all_df['gameweek']==gameweek].to_csv(filepath)