# Tableau and player form

Here we create a csv file that is used for making further Tableau visualizations.

In [1]:
# recent gameweek
gameweek = 25

In [2]:
# import basic libraries
import pandas as pd
import numpy as np

pd.set_option('max_columns',100)

In [3]:
# fetch player stats data
all_df = pd.read_csv('../data/fpl/data_week1.csv', index_col=0)
all_df['gameweek'] = 1
all_df['xPoints'] = all_df['adjusted points']

for week in range(2,gameweek+1):
    filepath = '../data/fpl/data_week' + str(week) + '.csv'
    df = pd.read_csv(filepath, index_col=0)
    df['gameweek'] = week
    column_name = 'xPoints week ' + str(week)
    df['xPoints'] = df[column_name]
    all_df = all_df.append(df,sort='False')

all_df.shape

(15313, 264)

In [4]:
# calculate player form
for i in [5,10,15]:
    gameweeks = np.arange(gameweek-i+1,gameweek+1)
    column_name = 'form ' + str(i)
    all_df.loc[all_df['gameweek']==gameweek, column_name] = (all_df[all_df['gameweek'].isin(gameweeks)].groupby(['id'])['xPoints'].sum() / (all_df.loc[(all_df['gameweek']==gameweek),'games played'].round() - all_df.loc[(all_df['gameweek']==gameweek-i),'games played'].round()) )
    # dirty fix in case there are inf results
    all_df.loc[(all_df['gameweek']==gameweek) & np.isinf(all_df[column_name]), column_name] = np.nan

In [5]:
# top form players
all_df[all_df['gameweek']==gameweek][['web_name', 'games played','total_points', 'points_per_game','adjusted points','adjusted points per game',\
                                'form 5', 'form 10']].sort_values(by=['form 5'], ascending=False).head(20)

,web_name,games played,total_points,points_per_game,adjusted points,adjusted points per game,form 5,form 10
id,,,,,,,,
302,Fernandes,25.000000,190,7.6,170.567043,6.822682,7.794167,6.733575
112,Arrizabalaga,3.947368,15,3.8,17.292406,4.380743,6.986341,6.986341
239,Justin,22.954545,101,4.4,91.574010,3.989363,6.618239,5.232324
271,Gündogan,19.090909,126,6.6,109.842652,5.753663,6.578017,6.510632
120,Mount,24.146341,99,4.1,103.074938,4.268760,6.076950,4.909876
67,Veltman,18.750000,60,3.2,67.729127,3.612220,6.041449,4.770726
466,Neves,23.870968,74,3.1,77.842142,3.260955,6.010927,4.970890
102,Azpilicueta,15.000000,69,4.6,58.797575,3.919838,6.007802,4.891239
12,Martínez,22.807018,130,5.7,107.462550,4.711819,5.986852,4.658143
235,Barnes,24.038462,125,5.2,105.289182,4.380030,5.899657,5.666831
570,Raphinha,20.000000,92,4.6,86.931192,4.346560,5.792155,5.055160
506,Wilson,21.090909,116,5.5,105.398593,4.997347,5.765906,3.744051
284,Foden,19.183673,94,4.9,84.207283,4.389529,5.738577,5.537585
266,Fernandinho,11.935484,37,3.1,47.931635,4.015894,5.716615,4.389432
254,Salah,24.117647,164,6.8,143.425194,5.946898,5.670296,4.828960
164,Calvert-Lewin,21.016949,124,5.9,103.218593,4.911207,5.619153,4.612769
313,Wan-Bissaka,23.095238,97,4.2,82.962196,3.592178,5.608751,4.498959
232,Chilwell,18.125000,87,4.8,78.538359,4.333151,5.563273,3.484055
104,Alonso,7.948718,31,3.9,31.370862,3.946657,5.495147,5.495147
62,Dunk,22.162162,82,3.7,81.511544,3.677960,5.472208,4.603178

In [6]:
# save data
filepath = '../data/fpl/all_data.csv'
all_df.to_csv(filepath)

filepath = '../data/fpl/data_week' + str(gameweek) + '.csv'
all_df[all_df['gameweek']==gameweek].to_csv(filepath)