# Tableau and player form

Here we create a csv file that is used for making further Tableau visualizations.

In [1]:
# recent gameweek
gameweek = 35

In [2]:
# import basic libraries
import pandas as pd
import numpy as np

pd.set_option('max_columns',100)

In [3]:
# fetch player stats data
all_df = pd.read_csv('../data/fpl/data_week1.csv', index_col=0)
all_df['gameweek'] = 1
all_df['xPoints'] = all_df['adjusted points']

for week in range(2,gameweek+1):
    filepath = '../data/fpl/data_week' + str(week) + '.csv'
    df = pd.read_csv(filepath, index_col=0)
    df['gameweek'] = week
    column_name = 'xPoints week ' + str(week)
    df['xPoints'] = df[column_name]
    all_df = all_df.append(df,sort='False')

all_df.shape

(22212, 335)

In [4]:
# calculate player form
for i in [5,10,15,20]:
    gameweeks = np.arange(gameweek-i+1,gameweek+1)
    column_name = 'form ' + str(i)
    all_df.loc[all_df['gameweek']==gameweek, column_name] = (all_df[all_df['gameweek'].isin(gameweeks)].groupby(['id'])['xPoints'].sum() / (all_df.loc[(all_df['gameweek']==gameweek),'games played'].round() - all_df.loc[(all_df['gameweek']==gameweek-i),'games played'].round()) )
    # dirty fix in case there are inf results
    all_df.loc[(all_df['gameweek']==gameweek) & np.isinf(all_df[column_name]), column_name] = np.nan

In [5]:
# top form players
all_df[all_df['gameweek']==gameweek][['web_name', 'games played','total_points', 'points_per_game','adjusted points','adjusted points per game',\
                                'form 5', 'form 10', 'form 15', 'form 20']].sort_values(by=['form 10'], ascending=False).head(20)

,web_name,games played,total_points,points_per_game,adjusted points,adjusted points per game,form 5,form 10,form 15,form 20
id,,,,,,,,,,
388,Kane,32.173913,222,6.9,201.575438,6.265183,4.925000,6.461991,6.147685,6.305154
233,Iheanacho,23.181818,102,4.4,90.603914,3.908404,5.711749,6.233681,5.666961,5.029406
259,Alexander-Arnold,33.255814,143,4.3,156.753157,4.713556,6.152084,6.135908,5.091000,5.105812
91,Wood,30.000000,132,4.4,133.515870,4.450529,6.180672,6.011069,5.646427,4.850668
573,Olsen,6.944444,25,3.6,24.484302,3.525739,7.204777,6.001046,3.885223,3.885223
272,De Bruyne,24.150943,128,5.3,152.898426,6.330950,NaN,5.772871,4.940441,5.754247
245,Adri√°n,2.972973,11,3.7,10.675066,3.590704,NaN,5.730734,5.730734,5.730734
275,Mahrez,24.814815,134,5.4,120.890001,4.871687,4.048812,5.658604,4.573818,4.368125
254,Salah,34.193548,212,6.2,200.146946,5.853354,5.966712,5.587892,5.615360,5.208426
500,Havertz,25.714286,90,3.5,92.920968,3.613593,7.077908,5.534861,5.097654,4.252959
417,Johnstone,34.102564,133,3.9,132.769870,3.893252,6.349960,5.499031,5.082538,4.359661
274,Mendy,11.923077,62,5.2,53.759865,4.508892,6.045162,5.496673,5.496673,5.496673
548,Mendy,28.750000,138,4.8,122.609599,4.264682,6.524918,5.459623,5.422252,4.765079
390,Son,34.062500,218,6.4,183.191739,5.378106,5.867754,5.439699,4.831066,5.048553
481,Pereira,31.333333,141,4.5,123.823209,3.951805,5.887490,5.411041,4.961833,4.916352
301,Lingard,13.055556,94,7.2,66.437759,5.088850,4.625591,5.224938,NaN,NaN
508,Rodr√≠guez,22.222222,100,4.5,92.047226,4.142125,4.560693,5.182852,3.756381,3.520266
232,Chilwell,25.200000,126,5.0,113.767154,4.514570,5.748146,5.057864,5.121040,4.331491
281,Bernardo Silva,23.947368,91,3.8,90.575122,3.782258,7.961850,5.046010,4.291847,3.989081
219,Evans,27.948718,109,3.9,97.543469,3.490087,5.769313,5.018471,4.340589,4.567639

In [6]:
# save data
filepath = '../data/fpl/all_data.csv'
all_df.to_csv(filepath)

filepath = '../data/fpl/data_week' + str(gameweek) + '.csv'
all_df[all_df['gameweek']==gameweek].to_csv(filepath)