# Tableau and player form

Here we create a csv file that is used for making further Tableau visualizations.

In [1]:
# recent gameweek
gameweek = 36

In [2]:
# import basic libraries
import pandas as pd
import numpy as np

pd.set_option('max_columns',100)

In [3]:
# fetch player stats data
all_df = pd.read_csv('../data/fpl/data_week1.csv', index_col=0)
all_df['gameweek'] = 1
all_df['xPoints'] = all_df['adjusted points']

for week in range(2,gameweek+1):
    filepath = '../data/fpl/data_week' + str(week) + '.csv'
    df = pd.read_csv(filepath, index_col=0)
    df['gameweek'] = week
    column_name = 'xPoints week ' + str(week)
    df['xPoints'] = df[column_name]
    all_df = all_df.append(df,sort='False')

all_df.shape

(22915, 342)

In [4]:
# calculate player form
for i in [5,10,15,20]:
    gameweeks = np.arange(gameweek-i+1,gameweek+1)
    column_name = 'form ' + str(i)
    all_df.loc[all_df['gameweek']==gameweek, column_name] = (all_df[all_df['gameweek'].isin(gameweeks)].groupby(['id'])['xPoints'].sum() / (all_df.loc[(all_df['gameweek']==gameweek),'games played'].round() - all_df.loc[(all_df['gameweek']==gameweek-i),'games played'].round()) )
    # dirty fix in case there are inf results
    all_df.loc[(all_df['gameweek']==gameweek) & np.isinf(all_df[column_name]), column_name] = np.nan

In [5]:
# top form players
all_df[all_df['gameweek']==gameweek][['web_name', 'games played','total_points', 'points_per_game','adjusted points','adjusted points per game',\
                                'form 5', 'form 10', 'form 15', 'form 20']].sort_values(by=['form 10'], ascending=False).head(20)

,web_name,games played,total_points,points_per_game,adjusted points,adjusted points per game,form 5,form 10,form 15,form 20
id,,,,,,,,,,
352,Jack Robinson,8.888889,24,2.7,26.764235,3.010976,8.460717,8.460717,8.460717,8.460717
388,Kane,32.857143,230,7.0,211.646278,6.441408,6.900000,7.146656,6.444279,6.527090
259,Alexander-Arnold,33.863636,149,4.4,167.107123,4.934707,7.041294,6.938435,5.647404,5.462626
254,Salah,35.238095,222,6.3,212.900775,6.041779,6.805299,6.550783,5.828222,5.577951
233,Iheanacho,23.181818,102,4.4,90.568658,3.906883,5.554099,6.496722,5.666961,5.044700
91,Wood,31.162791,134,4.3,135.462987,4.346947,5.478582,6.434522,5.646427,4.719418
272,De Bruyne,24.150943,128,5.3,152.259524,6.304496,NaN,6.433506,4.940441,5.754247
500,Havertz,25.714286,90,3.5,92.815201,3.609480,6.794151,6.182698,5.534861,4.524039
303,Martial,22.058824,75,3.4,75.420303,3.419054,NaN,6.009953,3.821534,3.427970
573,Olsen,6.944444,25,3.6,24.301832,3.499464,NaN,6.001046,3.885223,3.885223
481,Pereira,31.739130,146,4.6,128.355361,4.044073,5.076008,5.983415,4.809931,5.104604
232,Chilwell,25.200000,126,5.0,113.679015,4.511072,5.705887,5.783742,5.121040,4.205344
275,Mahrez,24.814815,134,5.4,120.327005,4.848999,4.048812,5.739821,4.573818,4.368125
219,Evans,27.948718,109,3.9,97.508213,3.488826,6.915255,5.673302,4.338715,4.310301
548,Mendy,28.750000,138,4.8,122.609599,4.264682,6.941583,5.592895,5.374106,4.810887
4,Aubameyang,26.808511,126,4.7,126.305125,4.711382,7.573620,5.492040,4.943147,5.439268
417,Johnstone,34.615385,135,3.9,134.644444,3.889728,4.524570,5.472699,5.062650,4.389427
203,Harrison,33.777778,152,4.5,142.648760,4.223154,5.145097,5.385676,4.087222,4.123752
302,Fernandes,35.820896,240,6.7,222.863361,6.221602,4.982466,5.132085,5.856086,5.694211
224,Vardy,31.851852,172,5.4,171.780607,5.393112,4.320754,5.077693,4.627548,4.679611

In [6]:
# save data
filepath = '../data/fpl/all_data.csv'
all_df.to_csv(filepath)

filepath = '../data/fpl/data_week' + str(gameweek) + '.csv'
all_df[all_df['gameweek']==gameweek].to_csv(filepath)