# Tableau and player form

Here we create a csv file that is used for making further Tableau visualizations.

In [1]:
# recent gameweek
gameweek = 23

In [2]:
# import basic libraries
import pandas as pd
import numpy as np

pd.set_option('max_columns',100)

In [3]:
# fetch player stats data
all_df = pd.read_csv('../data/fpl/data_week1.csv', index_col=0)
all_df['gameweek'] = 1
all_df['xPoints'] = all_df['adjusted points']

for week in range(2,gameweek+1):
    filepath = '../data/fpl/data_week' + str(week) + '.csv'
    df = pd.read_csv(filepath, index_col=0)
    df['gameweek'] = week
    column_name = 'xPoints week ' + str(week)
    df['xPoints'] = df[column_name]
    all_df = all_df.append(df,sort='False')

all_df.shape

(13970, 249)

In [4]:
# calculate player form
for i in [5,10]:
    gameweeks = np.arange(gameweek-i+1,gameweek+1)
    column_name = 'form ' + str(i)
    all_df.loc[all_df['gameweek']==gameweek, column_name] = (all_df[all_df['gameweek'].isin(gameweeks)].groupby(['id'])['xPoints'].sum() / (all_df.loc[(all_df['gameweek']==gameweek),'games played'].round() - all_df.loc[(all_df['gameweek']==gameweek-i),'games played'].round()) )

In [5]:
# top form players
all_df[all_df['gameweek']==gameweek][['web_name', 'games played','total_points', 'points_per_game','adjusted points','adjusted points per game',\
                                'form 5', 'form 10']].sort_values(by=['form 5'], ascending=False).head(20)

,web_name,games played,total_points,points_per_game,adjusted points,adjusted points per game,form 5,form 10
id,,,,,,,,
79,Alzate,8.928571,25,2.8,23.672063,2.651271,7.348812,4.174406
568,Telles,7.096774,22,3.1,24.966618,3.518023,6.703519,3.001173
24,Saka,20.238095,85,4.2,91.273080,4.509964,6.664971,6.070653
302,Fernandes,23.150685,169,7.3,155.708181,6.725856,6.535963,7.413113
271,Gündogan,17.049180,104,6.1,94.068773,5.517495,6.423432,5.935488
251,Mané,20.192308,105,5.2,112.934266,5.592935,6.213339,5.680702
437,Antonio,15.116279,65,4.3,66.170545,4.377436,5.965697,4.724272
17,Tierney,17.105263,65,3.8,61.649924,3.604149,5.863273,5.403906
164,Calvert-Lewin,20.000000,120,6.0,100.950909,5.047545,5.847545,4.213284
388,Kane,20.133333,151,7.5,131.452000,6.529073,5.800000,5.981103
102,Azpilicueta,13.043478,60,4.6,49.511887,3.795911,5.698802,4.929352
105,Jorginho,15.106383,71,4.7,68.475336,4.532874,5.644700,4.540827
62,Dunk,20.000000,74,3.7,71.829687,3.591484,5.600149,4.486731
570,Raphinha,17.045455,75,4.4,70.040015,4.109014,5.590000,4.999074
266,Fernandinho,10.000000,27,2.7,37.329003,3.732900,5.536119,3.268060
458,Boly,16.111111,58,3.6,57.718671,3.582538,5.439820,5.439820
239,Justin,22.954545,101,4.4,92.490243,4.029278,5.376258,4.915127
104,Alonso,6.052632,23,3.8,21.083581,3.483374,5.354424,5.354424
597,Sánchez,12.093023,52,4.3,48.101671,3.977638,5.340149,4.126731
57,Groß,18.857143,66,3.5,71.477725,3.790485,5.158728,4.242119

In [6]:
# save data
filepath = '../data/fpl/all_data.csv'
all_df.to_csv(filepath)

filepath = '../data/fpl/data_week' + str(gameweek) + '.csv'
all_df[all_df['gameweek']==gameweek].to_csv(filepath)