In [1]:
# recent gameweek
latest_gameweek = 34

In [2]:
import pandas as pd
import numpy as np
import json
import requests
from scipy.stats import poisson

# allow more data columns to be shown than by default
pd.set_option('max_columns',100)

In [3]:
# fetch FPL fixtures online
fixtures_text = json.loads(requests.get('https://fantasy.premierleague.com/api/fixtures').text)
fixtures = pd.DataFrame(fixtures_text)
fixtures.head(20)

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,pulse_id,started,stats,team_a,team_a_difficulty,team_a_score,team_h,team_h_difficulty,team_h_score
0,2128288,1,True,True,2,2020-09-12T11:30:00Z,90,False,58898,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",1,2,3.0,8,3,0.0
1,2128287,1,True,True,1,2020-09-12T14:00:00Z,90,False,58897,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",16,3,0.0,6,2,1.0
2,2128289,1,True,True,3,2020-09-12T16:30:00Z,90,False,58899,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",10,3,3.0,11,3,4.0
3,2128293,1,True,True,6,2020-09-12T19:00:00Z,90,False,58903,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",14,4,2.0,19,2,0.0
4,2128292,1,True,True,5,2020-09-13T13:00:00Z,90,False,58902,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",9,2,3.0,18,4,0.0
5,2128291,1,True,True,4,2020-09-13T15:30:00Z,90,False,58901,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",7,4,1.0,17,4,0.0
6,2128295,1,True,True,8,2020-09-14T17:00:00Z,90,False,58905,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",20,2,2.0,15,2,0.0
7,2128294,1,True,True,7,2020-09-14T19:15:00Z,90,False,58904,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,3,3.0,3,4,1.0
8,2128299,2,True,True,12,2020-09-19T11:30:00Z,90,False,58909,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",18,3,2.0,7,2,5.0
9,2128300,2,True,True,13,2020-09-19T14:00:00Z,90,False,58910,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",8,3,3.0,10,2,4.0
10,2128302,2,True,True,15,2020-09-19T16:30:00Z,90,False,58912,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",6,4,3.0,13,2,1.0
11,2128296,2,True,True,9,2020-09-19T19:00:00Z,90,False,58906,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",19,4,1.0,1,4,2.0
12,2128304,2,True,True,17,2020-09-20T11:00:00Z,90,False,58914,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",17,2,5.0,16,3,2.0
13,2128303,2,True,True,16,2020-09-20T13:00:00Z,90,False,58913,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,2,3.0,14,3,0.0
14,2128298,2,True,True,11,2020-09-20T15:30:00Z,90,False,58908,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",11,4,2.0,5,4,0.0
15,2128301,2,True,True,14,2020-09-20T18:00:00Z,90,False,58911,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,4,2.0,9,2,4.0
16,2128297,2,True,True,10,2020-09-21T17:00:00Z,90,False,58907,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",15,3,0.0,2,2,1.0
17,2128305,2,True,True,18,2020-09-21T19:15:00Z,90,False,58915,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",12,3,3.0,20,4,1.0
18,2128306,3,True,True,19,2020-09-26T11:30:00Z,90,False,58916,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",13,3,3.0,3,4,2.0
19,2128308,3,True,True,21,2020-09-26T14:00:00Z,90,False,58918,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",7,3,2.0,6,4,1.0

In [4]:
filepath = '../data/fbref/team_stats_week' + str(latest_gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col='Squad')
display(teamStats)

,Rk,MP,W,D,L,GF,GA,GD,Pts,xG,xGA,xGD,xGD/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes,xG per game,xGA per game,probability no goals allowed
Squad,,,,,,,,,,,,,,,,,,,,,
Manchester City,1,34,25,5,4,71,24,47,80,66.2,25.7,40.5,1.19,W W L W W,NaN,İlkay Gündoğan - 12,Ederson,NaN,1.947059,0.755882,0.469596
Manchester Utd,2,33,19,10,4,64,35,29,67,53.2,36.8,16.4,0.50,W W W W D,NaN,Bruno Fernandes - 16,David de Gea,NaN,1.612121,1.115152,0.327866
Leicester City,3,34,19,6,9,61,39,22,63,50.3,40.0,10.3,0.30,L L W W D,NaN,Jamie Vardy - 13,Kasper Schmeichel,NaN,1.479412,1.176471,0.308365
Chelsea,4,34,17,10,7,53,31,22,61,55.9,27.9,28.0,0.82,L W D W W,118.0,Timo Werner Tammy Abraham... - 6,Edouard Mendy,NaN,1.644118,0.820588,0.440173
West Ham,5,34,17,7,10,55,44,11,58,46.4,43.1,3.3,0.10,W W L L W,118.0,Tomáš Souček Michail Antonio... - 9,Łukasz Fabiański,NaN,1.364706,1.267647,0.281493
Tottenham,6,34,16,8,10,60,38,22,56,47.5,41.9,5.6,0.17,D L D W W,118.0,Harry Kane - 21,Hugo Lloris,NaN,1.397059,1.232353,0.291606
Liverpool,7,33,15,9,9,55,39,16,54,60.8,39.8,21.0,0.63,W W W D D,353.0,Mohamed Salah - 20,Alisson,NaN,1.842424,1.206061,0.299374
Everton,8,33,15,7,11,45,42,3,52,41.0,44.8,-3.8,-0.11,D D D W L,118.0,Dominic Calvert-Lewin - 15,Jordan Pickford,NaN,1.242424,1.357576,0.257284
Arsenal,9,34,14,7,13,46,37,9,49,49.3,39.6,9.7,0.29,L W D L W,118.0,Alexandre Lacazette - 13,Bernd Leno,NaN,1.450000,1.164706,0.312014
Aston Villa,10,33,14,6,13,48,38,10,48,47.4,44.9,2.4,0.07,W L L D W,NaN,Ollie Watkins - 13,Emiliano Martínez,NaN,1.436364,1.360606,0.256505
Leeds United,11,34,14,5,15,50,52,-2,47,49.3,57.6,-8.3,-0.25,W W D D L,NaN,Patrick Bamford - 14,Illan Meslier,NaN,1.450000,1.694118,0.183761
Wolves,12,34,11,9,14,33,46,-13,42,36.1,40.0,-3.9,-0.11,L W W L D,NaN,Rúben Neves Pedro Neto - 5,Rui Patrício,NaN,1.061765,1.176471,0.308365
Crystal Palace,13,33,10,8,15,34,56,-22,38,25.6,51.0,-25.4,-0.77,W D L L L,118.0,Wilfried Zaha - 10,Vicente Guaita,NaN,0.775758,1.545455,0.213215
Brighton,14,34,8,13,13,35,39,-4,37,48.5,33.2,15.3,0.45,L D D L W,118.0,Neal Maupay - 8,Robert Sánchez,NaN,1.426471,0.976471,0.376638
Southampton,15,33,10,7,16,41,59,-18,37,35.3,46.6,-11.3,-0.34,L W L L D,125.0,Danny Ings - 10,Alex McCarthy,NaN,1.069697,1.412121,0.243626
Burnley,16,34,9,9,16,31,47,-16,36,34.8,50.9,-16.1,-0.47,L L L W L,NaN,Chris Wood - 11,Nick Pope,NaN,1.023529,1.497059,0.223787
Newcastle Utd,17,34,9,9,16,36,56,-20,36,33.6,48.7,-15.1,-0.44,D W W D L,NaN,Callum Wilson - 10,Karl Darlow,NaN,0.988235,1.432353,0.238747
Fulham,18,34,5,12,17,25,45,-20,27,36.8,46.7,-9.9,-0.29,L L L D L,118.0,Bobby Reid - 5,Alphonse Areola,NaN,1.082353,1.373529,0.253212
West Brom,19,34,5,11,18,31,65,-34,26,28.8,58.7,-29.9,-0.88,W W L D D,NaN,Matheus Pereira - 9,Sam Johnstone,NaN,0.847059,1.726471,0.177911
Sheffield Utd,20,34,5,2,27,18,60,-42,17,27.7,56.5,-28.8,-0.85,L L L W L,NaN,David McGoldrick - 7,Aaron Ramsdale,NaN,0.814706,1.661765,0.189804

In [5]:
# fetch FPL data
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players = pd.read_csv(filepath, index_col=0)
players.head()

,adjusted points,adjusted points per game,assists,assists_week1,assists_week10,assists_week11,assists_week12,assists_week13,assists_week14,assists_week15,assists_week16,assists_week17,assists_week18,assists_week19,assists_week2,assists_week20,assists_week21,assists_week22,assists_week23,assists_week24,assists_week25,assists_week26,assists_week27,assists_week28,assists_week29,assists_week3,assists_week30,assists_week31,assists_week32,assists_week33,assists_week34,assists_week4,assists_week5,assists_week6,assists_week7,assists_week8,assists_week9,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheet_points,clean_sheets,cleansheet_week1,cleansheet_week10,cleansheet_week11,cleansheet_week12,cleansheet_week13,cleansheet_week14,cleansheet_week15,...,xG_week28,xG_week29,xG_week3,xG_week30,xG_week31,xG_week32,xG_week33,xG_week34,xG_week4,xG_week5,xG_week6,xG_week7,xG_week8,xG_week9,xPoints,xPoints week 1,xPoints week 10,xPoints week 11,xPoints week 12,xPoints week 13,xPoints week 14,xPoints week 15,xPoints week 16,xPoints week 17,xPoints week 18,xPoints week 19,xPoints week 2,xPoints week 20,xPoints week 21,xPoints week 22,xPoints week 23,xPoints week 24,xPoints week 25,xPoints week 26,xPoints week 27,xPoints week 28,xPoints week 29,xPoints week 3,xPoints week 30,xPoints week 31,xPoints week 32,xPoints week 33,xPoints week 34,xPoints week 4,xPoints week 5,xPoints week 6,xPoints week 7,xPoints week 8,xPoints week 9,yellow_cards
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,55.185182,2.691960,0,NaN,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0,230,50.0,100.0,25.585182,3,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.1,0.0,0.1,0.0,NaN,NaN,NaN,1.6000,NaN,0.000000,NaN,NaN,1.000000,3.397316,NaN,NaN,NaN,2.471518,7.363273,1.00000,3.204777,3.586388,-3.000000,NaN,4.395247,1.000000,5.026123,2.807586,3.986341,1.401035,1.199148,NaN,NaN,NaN,NaN,1.6000,5.274923,3.586388,1.000000,NaN,NaN,NaN,1
4,121.734670,4.666496,2,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,1.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0,0.0,0.0,11,332,100.0,100.0,8.139507,8,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,0.0,0.0,0.0,NaN,NaN,NaN,1.2,0.0,0.0,0.3,0.9,0.0,0.3,10.5184,3.818731,4.246597,3.606531,1.70657,7.132871,NaN,NaN,5.449329,6.67032,2.867879,11.740818,5.61799,NaN,NaN,1.500000,1.500000,15.348812,2.122456,1.500000,7.201897,NaN,2.100259,2.049787,3.010803,NaN,NaN,NaN,10.5184,2.818731,3.746597,4.101194,7.540818,2.765299,3.282085,2
5,34.158159,3.415816,1,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,125,100.0,100.0,12.480577,2,NaN,NaN,NaN,NaN,0.0,0.0,0.0,...,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,10.658585,NaN,3.804777,2.586388,1.986388,3.090127,4.095247,NaN,4.426123,NaN,3.986341,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [6]:
coefficients = pd.DataFrame(np.nan, index=teamStats.index, columns=['xG','xGA','coefficient'])

for ix in coefficients.index:
    coefficients.loc[ix, 'xG'] = teamStats.loc[ix, 'xG per game']
    coefficients.loc[ix, 'xGA'] = teamStats.loc[ix, 'xGA per game']
    coefficients.loc[ix, 'coefficient'] = 0.755489209043063 * coefficients.loc[ix, 'xG']

display(coefficients)

                       xG       xGA  coefficient
Squad
Manchester City  1.947059  0.755882     1.470982
Manchester Utd   1.612121  1.115152     1.217940
Leicester City   1.479412  1.176471     1.117680
Chelsea          1.644118  0.820588     1.242113
West Ham         1.364706  1.267647     1.031021
Tottenham        1.397059  1.232353     1.055463
Liverpool        1.842424  1.206061     1.391932
Everton          1.242424  1.357576     0.938638
Arsenal          1.450000  1.164706     1.095459
Aston Villa      1.436364  1.360606     1.085157
Leeds United     1.450000  1.694118     1.095459
Wolves           1.061765  1.176471     0.802152
Crystal Palace   0.775758  1.545455     0.586076
Brighton         1.426471  0.976471     1.077683
Southampton      1.069697  1.412121     0.808145
Burnley          1.023529  1.497059     0.773265
Newcastle Utd    0.988235  1.432353     0.746601
Fulham           1.082353  1.373529     0.817706
West Brom        0.847059  1.726471     0.639944
Sheffield Utd    0.814706  1.661765     0.615502

In [7]:
def points_for_clean_sheet(position):
    if position < 3:
        return 4
    elif position==3:
        return 1
    elif position==4:
        return 0

In [8]:
goalkeepers = players['element_type'] == 1
defenders = players['element_type'] == 2
midfielders = players['element_type'] == 3
forwards = players['element_type'] == 4

In [9]:
home_coefficient = 1.0721855628874228
away_coefficient = 0.9280143971205758

In [10]:
team_names = np.sort(teamStats.index)
# for some reason the fpl team numbers are not alphabetical with leeds and leicester...
if (team_names[8]=='Leeds United') & (team_names[9]=='Leicester City'):
    team_names[8] = 'Leicester City'
    team_names[9] = 'Leeds United'
    
# how many gameweeks ahead do you want to look at
for number_gameweeks in [1,5,10]:
    expectations = pd.DataFrame(0, index=teamStats.index, \
                columns=['games','total_xG','total_xGA','xG per game', 'xGA per game'])
    gameweeks = np.arange(latest_gameweek+1, latest_gameweek+number_gameweeks+1)
    games = fixtures[fixtures['event'].isin(gameweeks)]
    for ix in games.index:
        home_team_number = games.loc[ix,'team_h']
        home_team = team_names[home_team_number-1]
        away_team_number = games.loc[ix,'team_a']
        away_team = team_names[away_team_number-1]

        home_xG = home_coefficient * coefficients.loc[home_team,'coefficient'] * \
                                    coefficients.loc[away_team,'xGA']
        away_xG = away_coefficient * coefficients.loc[away_team,'coefficient'] * \
                                    coefficients.loc[home_team,'xGA']
        expectations.loc[home_team,'total_xG'] += home_xG
        expectations.loc[home_team,'total_xGA'] += away_xG
        expectations.loc[home_team,'games'] += 1
        expectations.loc[away_team,'total_xG'] += away_xG
        expectations.loc[away_team,'total_xGA'] += home_xG
        expectations.loc[away_team,'games'] += 1

    expectations['xG per game'] = expectations['total_xG'] / expectations['games']
    expectations['xGA per game'] = expectations['total_xGA'] / expectations['games']
    print('expectations:')
    display(expectations)

    new_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    coefficients[new_column] = expectations['xG per game'] / coefficients['xG']
    print('coefficients:')
    display(coefficients)
    
    new_column = 'next' + str(number_gameweeks) + '_xP'
    multiplier_xG_xA_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    for ix in players.index:
        team = players.loc[ix,'team_name']
        position = players.loc[ix, 'element_type']

        # adjust xP based on xg and xa for the next game
        xg_points_per_game = players.loc[ix,'xG_points'] / players.loc[ix,'games played']
        xa_points_per_game = players.loc[ix,'xA_points'] / players.loc[ix,'games played']
        xpoints = xg_points_per_game + xa_points_per_game
        players.loc[ix, new_column] = players.loc[ix, 'adjusted points per game'] - \
                            xpoints + coefficients.loc[team, multiplier_xG_xA_column]*xpoints    

        # adjust xP based on probability to keep a clean sheet for the next game
        clean_sheet_points_per_game = players.loc[ix,'clean_sheet_points'] / \
                                        players.loc[ix,'games played']
        probability_clean_sheet_next = poisson.pmf(0, expectations.loc[team, 'xGA per game'])
        players.loc[ix, new_column] = players.loc[ix, new_column] - clean_sheet_points_per_game \
                + points_for_clean_sheet(position) * probability_clean_sheet_next

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      1  1.294204   0.871305     1.294204      0.871305
Manchester Utd       3  4.649094   3.894606     1.549698      1.298202
Leicester City       2  2.873135   2.351429     1.436567      1.175714
Chelsea              2  2.422432   2.128415     1.211216      1.064208
West Ham             1  1.500726   1.104209     1.500726      1.104209
Tottenham            1  1.659362   1.447443     1.659362      1.447443
Liverpool            2  3.547940   2.479453     1.773970      1.239726
Everton              2  2.289392   3.080252     1.144696      1.540126
Arsenal              2  2.862013   2.242819     1.431007      1.121410
Aston Villa          2  2.876993   2.723029     1.438497      1.361515
Leeds United         1  1.447443   1.659362     1.447443      1.659362
Wolves               1  0.839819   1.176595     0.839819      1.176595
Crystal Palace       2  1.671848   2.359001     0.835924      1.179501
Brighton             1  1.176595   0.839819     1.176595      0.839819
Southampton          2  2.243616   2.875497     1.121808      1.437749
Burnley              1  0.985647   1.312520     0.985647      1.312520
Newcastle Utd        1  0.815125   1.716474     0.815125      1.716474
Fulham               1  1.312520   0.985647     1.312520      0.985647
West Brom            1  0.691692   2.027801     0.691692      2.027801
Sheffield Utd        1  1.019895   0.903813     1.019895      0.903813

coefficients:

                       xG       xGA  coefficient  next1_xG_xA_multiplier
Squad
Manchester City  1.947059  0.755882     1.470982                0.664697
Manchester Utd   1.612121  1.115152     1.217940                0.961279
Leicester City   1.479412  1.176471     1.117680                0.971040
Chelsea          1.644118  0.820588     1.242113                0.736697
West Ham         1.364706  1.267647     1.031021                1.099670
Tottenham        1.397059  1.232353     1.055463                1.187754
Liverpool        1.842424  1.206061     1.391932                0.962846
Everton          1.242424  1.357576     0.938638                0.921341
Arsenal          1.450000  1.164706     1.095459                0.986901
Aston Villa      1.436364  1.360606     1.085157                1.001485
Leeds United     1.450000  1.694118     1.095459                0.998236
Wolves           1.061765  1.176471     0.802152                0.790965
Crystal Palace   0.775758  1.545455     0.586076                1.077558
Brighton         1.426471  0.976471     1.077683                0.824829
Southampton      1.069697  1.412121     0.808145                1.048716
Burnley          1.023529  1.497059     0.773265                0.962988
Newcastle Utd    0.988235  1.432353     0.746601                0.824829
Fulham           1.082353  1.373529     0.817706                1.212655
West Brom        0.847059  1.726471     0.639944                0.816581
Sheffield Utd    0.814706  1.661765     0.615502                1.251856

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      4   6.723592   3.008215     1.680898      0.752054
Manchester Utd       5   7.772453   5.699923     1.554491      1.139985
Leicester City       4   5.201070   5.070559     1.300268      1.267640
Chelsea              4   5.557596   3.934294     1.389399      0.983574
West Ham             4   5.647928   4.389423     1.411982      1.097356
Tottenham            4   5.682785   5.082649     1.420696      1.270662
Liverpool            5  10.018328   4.962864     2.003666      0.992573
Everton              5   5.804201   7.007404     1.160840      1.401481
Arsenal              4   5.580025   4.139529     1.395006      1.034882
Aston Villa          5   6.629107   6.686113     1.325821      1.337223
Leeds United         4   6.432722   5.537946     1.608181      1.384487
Wolves               4   3.726876   5.021668     0.931719      1.255417
Crystal Palace       5   3.914671   7.792901     0.782934      1.558580
Brighton             4   4.679564   4.253980     1.169891      1.063495
Southampton          5   5.852370   6.943664     1.170474      1.388733
Burnley              4   4.582623   5.756190     1.145656      1.439047
Newcastle Utd        4   3.702098   5.745711     0.925525      1.436428
Fulham               4   4.486114   4.921077     1.121528      1.230269
West Brom            4   3.395096   7.937631     0.848774      1.984408
Sheffield Utd        4   3.601443   5.098922     0.900361      1.274731

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier
Squad,,,,,
Manchester City,1.947059,0.755882,1.470982,0.664697,0.863301
Manchester Utd,1.612121,1.115152,1.217940,0.961279,0.964252
Leicester City,1.479412,1.176471,1.117680,0.971040,0.878908
Chelsea,1.644118,0.820588,1.242113,0.736697,0.845073
West Ham,1.364706,1.267647,1.031021,1.099670,1.034642
Tottenham,1.397059,1.232353,1.055463,1.187754,1.016919
Liverpool,1.842424,1.206061,1.391932,0.962846,1.087516
Everton,1.242424,1.357576,0.938638,0.921341,0.934335
Arsenal,1.450000,1.164706,1.095459,0.986901,0.962073
Aston Villa,1.436364,1.360606,1.085157,1.001485,0.923040
Leeds United,1.450000,1.694118,1.095459,0.998236,1.109090
Wolves,1.061765,1.176471,0.802152,0.790965,0.877519
Crystal Palace,0.775758,1.545455,0.586076,1.077558,1.009251
Brighton,1.426471,0.976471,1.077683,0.824829,0.820130
Southampton,1.069697,1.412121,0.808145,1.048716,1.094211
Burnley,1.023529,1.497059,0.773265,0.962988,1.119319
Newcastle Utd,0.988235,1.432353,0.746601,0.824829,0.936543
Fulham,1.082353,1.373529,0.817706,1.212655,1.036195
West Brom,0.847059,1.726471,0.639944,0.816581,1.002025
Sheffield Utd,0.814706,1.661765,0.615502,1.251856,1.105136

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      4   6.723592   3.008215     1.680898      0.752054
Manchester Utd       5   7.772453   5.699923     1.554491      1.139985
Leicester City       4   5.201070   5.070559     1.300268      1.267640
Chelsea              4   5.557596   3.934294     1.389399      0.983574
West Ham             4   5.647928   4.389423     1.411982      1.097356
Tottenham            4   5.682785   5.082649     1.420696      1.270662
Liverpool            5  10.018328   4.962864     2.003666      0.992573
Everton              5   5.804201   7.007404     1.160840      1.401481
Arsenal              4   5.580025   4.139529     1.395006      1.034882
Aston Villa          5   6.629107   6.686113     1.325821      1.337223
Leeds United         4   6.432722   5.537946     1.608181      1.384487
Wolves               4   3.726876   5.021668     0.931719      1.255417
Crystal Palace       5   3.914671   7.792901     0.782934      1.558580
Brighton             4   4.679564   4.253980     1.169891      1.063495
Southampton          5   5.852370   6.943664     1.170474      1.388733
Burnley              4   4.582623   5.756190     1.145656      1.439047
Newcastle Utd        4   3.702098   5.745711     0.925525      1.436428
Fulham               4   4.486114   4.921077     1.121528      1.230269
West Brom            4   3.395096   7.937631     0.848774      1.984408
Sheffield Utd        4   3.601443   5.098922     0.900361      1.274731

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier,next10_xG_xA_multiplier
Squad,,,,,,
Manchester City,1.947059,0.755882,1.470982,0.664697,0.863301,0.863301
Manchester Utd,1.612121,1.115152,1.217940,0.961279,0.964252,0.964252
Leicester City,1.479412,1.176471,1.117680,0.971040,0.878908,0.878908
Chelsea,1.644118,0.820588,1.242113,0.736697,0.845073,0.845073
West Ham,1.364706,1.267647,1.031021,1.099670,1.034642,1.034642
Tottenham,1.397059,1.232353,1.055463,1.187754,1.016919,1.016919
Liverpool,1.842424,1.206061,1.391932,0.962846,1.087516,1.087516
Everton,1.242424,1.357576,0.938638,0.921341,0.934335,0.934335
Arsenal,1.450000,1.164706,1.095459,0.986901,0.962073,0.962073
Aston Villa,1.436364,1.360606,1.085157,1.001485,0.923040,0.923040
Leeds United,1.450000,1.694118,1.095459,0.998236,1.109090,1.109090
Wolves,1.061765,1.176471,0.802152,0.790965,0.877519,0.877519
Crystal Palace,0.775758,1.545455,0.586076,1.077558,1.009251,1.009251
Brighton,1.426471,0.976471,1.077683,0.824829,0.820130,0.820130
Southampton,1.069697,1.412121,0.808145,1.048716,1.094211,1.094211
Burnley,1.023529,1.497059,0.773265,0.962988,1.119319,1.119319
Newcastle Utd,0.988235,1.432353,0.746601,0.824829,0.936543,0.936543
Fulham,1.082353,1.373529,0.817706,1.212655,1.036195,1.036195
West Brom,0.847059,1.726471,0.639944,0.816581,1.002025,1.002025
Sheffield Utd,0.814706,1.661765,0.615502,1.251856,1.105136,1.105136

In [11]:
metric = 'next1_xP'
#minGames = players['games played'] >= 3

numberToShow = 50
display(players.sort_values(by=[metric], ascending=False)[['web_name','team_name',\
         'now_cost','games played','total_points','adjusted points','points_per_game',\
         'adjusted points per game','next1_xP','next5_xP','next10_xP']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,next1_xP,next5_xP,next10_xP
id,,,,,,,,,,,
388,Kane,Tottenham,119,30.985915,220,198.788564,7.1,6.415449,6.970969,6.465510,6.465510
302,Fernandes,Manchester Utd,115,32.985075,221,206.403235,6.7,6.257474,6.089372,6.144870,6.144870
390,Son,Tottenham,96,32.968750,211,178.809692,6.4,5.423612,5.779602,5.449817,5.449817
254,Salah,Liverpool,127,32.096774,199,189.139277,6.2,5.892781,5.770100,6.229657,6.229657
301,Lingard,West Ham,67,11.923077,93,64.606592,7.8,5.418617,5.678753,5.543920,5.543920
224,Vardy,Leicester City,103,30.000000,165,164.748564,5.5,5.491619,5.413773,5.166125,5.166125
272,De Bruyne,Manchester City,119,24.150943,128,152.754589,5.3,6.324995,5.248357,5.908734,5.908734
39,Hause,Aston Villa,44,4.000000,28,20.704084,7.0,5.176021,5.177539,5.073312,5.073312
251,Mané,Liverpool,117,29.782609,137,155.814385,4.6,5.231724,5.123384,5.534818,5.534818
37,Grealish,Aston Villa,75,21.864407,129,111.239318,5.9,5.087690,5.090533,4.934308,4.934308
437,Antonio,West Ham,64,21.914894,103,103.787909,4.7,4.735953,4.953804,4.811671,4.811671
277,Cancelo,Manchester City,59,24.807692,129,132.131126,5.2,5.326216,4.780847,5.194561,5.194561
202,Bamford,Leeds United,64,33.877551,166,158.795819,4.9,4.687346,4.683649,4.916040,4.916040
4,Aubameyang,Arsenal,113,26.086957,120,121.734670,4.6,4.666496,4.652162,4.628275,4.628275
164,Calvert-Lewin,Everton,75,27.924528,148,132.665491,5.3,4.750859,4.587481,4.614471,4.614471
112,Arrizabalaga,Chelsea,47,5.000000,24,24.803453,4.8,4.960691,4.580004,4.695889,4.695889
259,Alexander-Arnold,Liverpool,76,30.975610,127,143.281117,4.1,4.625611,4.549623,4.996208,4.996208
514,Watkins,Aston Villa,65,33.260870,153,150.860655,4.6,4.535680,4.538700,4.379173,4.379173
271,Gündogan,Manchester City,56,24.827586,144,130.231683,5.8,5.245443,4.475231,4.954108,4.954108
570,Raphinha,Leeds United,54,26.136364,115,115.045925,4.4,4.401757,4.405030,4.667960,4.667960
141,Zaha,Crystal Palace,72,24.897959,122,103.458944,4.9,4.155318,4.374262,4.167415,4.167415
435,Cresswell,West Ham,56,32.093023,138,131.711687,4.3,4.104060,4.365471,4.334469,4.334469
12,Martínez,Aston Villa,54,33.200000,166,144.663900,5.0,4.357346,4.356441,4.380230,4.380230
273,Stones,Manchester City,51,20.166667,121,96.380751,6.0,4.779211,4.349988,4.694907,4.694907
276,Sterling,Manchester City,111,28.200000,141,144.483264,5.0,5.123520,4.287339,4.805291,4.805291
91,Wood,Burnley,64,29.302326,126,127.372746,4.3,4.346848,4.281116,4.558754,4.558754
665,Maja,Fulham,52,11.935484,37,46.320000,3.1,3.880865,4.260723,3.945518,3.945518
274,Mendy,Manchester City,59,10.909091,60,49.569047,5.5,4.543829,4.237637,4.509683,4.509683
24,Saka,Arsenal,51,27.837838,103,117.996134,3.7,4.238696,4.230292,4.217644,4.217644
275,Mahrez,Manchester City,80,24.814815,134,120.818431,5.4,4.868802,4.229830,4.630973,4.630973
96,Pope,Burnley,55,31.136364,137,126.071702,4.4,4.049018,4.229006,4.107081,4.107081
543,Bale,Tottenham,91,16.071429,90,64.341683,5.6,4.003482,4.216913,4.016841,4.016841
33,Hourihane,Aston Villa,59,4.000000,20,16.703603,5.0,4.175901,4.177487,4.087694,4.087694
597,Sánchez,Brighton,46,22.857143,96,90.435480,4.2,3.956552,4.177155,3.830988,3.830988
483,Ramsdale,Sheffield Utd,46,33.793103,98,111.956229,2.9,3.312990,4.176101,3.672734,3.672734
235,Barnes,Leicester City,66,25.200000,126,106.158712,5.0,4.212647,4.172083,4.015192,4.015192
556,Dias,Manchester City,61,28.723404,135,130.231174,4.7,4.533974,4.171618,4.476931,4.476931
560,Kelleher,Liverpool,45,2.000000,10,8.394995,5.0,4.197497,4.157854,4.482488,4.482488
249,Firmino,Liverpool,90,31.142857,109,131.565491,3.5,4.224580,4.153117,4.392908,4.392908
366,Ings,Southampton,84,24.782609,114,100.850327,4.6,4.069399,4.139654,4.205264,4.205264
468,Jota,Liverpool,70,15.957447,75,67.077250,4.7,4.203508,4.123048,4.440930,4.440930
255,Robertson,Liverpool,71,33.076923,129,137.875016,3.9,4.168314,4.101038,4.518392,4.518392
75,Bernardo,Brighton,39,2.941176,5,11.831036,1.7,4.022552,4.100215,3.750214,3.750214
232,Chilwell,Chelsea,59,23.846154,124,111.073609,5.2,4.657926,4.098363,4.287874,4.287874
506,Wilson,Newcastle Utd,65,25.208333,121,110.545491,4.8,4.385276,4.087306,4.277333,4.277333
557,Lookman,Fulham,48,29.705882,101,108.752204,3.4,3.660965,4.060998,3.747633,3.747633
62,Dunk,Brighton,49,30.731707,126,120.798923,4.1,3.930759,4.057311,3.708621,3.708621
558,Coufal,West Ham,47,30.270270,112,114.604153,3.7,3.786030,4.046205,4.016010,4.016010
306,Rashford,Manchester Utd,96,33.333333,160,138.704672,4.8,4.161140,4.045892,4.097331,4.097331
6,Lacazette,Arsenal,84,28.000000,126,112.792746,4.5,4.028312,4.007045,3.966736,3.966736

In [12]:
# save predictions
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players.to_csv(filepath)