In [1]:
# recent gameweek
latest_gameweek = 24

In [2]:
import pandas as pd
import numpy as np
import json
import requests
from scipy.stats import poisson

# allow more data columns to be shown than by default
pd.set_option('max_columns',100)

In [3]:
# fetch FPL fixtures online
fixtures_text = json.loads(requests.get('https://fantasy.premierleague.com/api/fixtures').text)
fixtures = pd.DataFrame(fixtures_text)
fixtures.head(20)

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,pulse_id,started,stats,team_a,team_a_difficulty,team_a_score,team_h,team_h_difficulty,team_h_score
0,2128457,NaN,False,False,170,None,0,False,59067,None,[],17,3,NaN,2,4,NaN
1,2128467,NaN,False,False,180,None,0,False,59077,None,[],7,3,NaN,2,3,NaN
2,2128567,NaN,False,False,280,None,0,False,59177,None,[],9,2,NaN,4,4,NaN
3,2128568,NaN,False,False,281,None,0,False,59178,None,[],13,3,NaN,6,4,NaN
4,2128608,NaN,False,False,321,None,0,False,59218,None,[],17,2,NaN,8,4,NaN
5,2128570,NaN,False,False,283,None,0,False,59180,None,[],5,5,NaN,11,4,NaN
6,2128571,NaN,False,False,284,None,0,False,59181,None,[],20,5,NaN,12,3,NaN
7,2128612,NaN,False,False,325,None,0,False,59222,None,[],16,5,NaN,12,3,NaN
8,2128572,NaN,False,False,285,None,0,False,59182,None,[],2,2,NaN,15,3,NaN
9,2128573,NaN,False,False,286,None,0,False,59183,None,[],16,4,NaN,17,3,NaN
10,2128574,NaN,False,False,287,None,0,False,59184,None,[],7,2,NaN,18,3,NaN
11,2128288,1.0,True,True,2,2020-09-12T11:30:00Z,90,False,58898,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",1,2,3.0,8,3,0.0
12,2128287,1.0,True,True,1,2020-09-12T14:00:00Z,90,False,58897,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",16,3,0.0,6,3,1.0
13,2128289,1.0,True,True,3,2020-09-12T16:30:00Z,90,False,58899,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",10,5,3.0,11,2,4.0
14,2128293,1.0,True,True,6,2020-09-12T19:00:00Z,90,False,58903,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",14,3,2.0,19,2,0.0
15,2128292,1.0,True,True,5,2020-09-13T13:00:00Z,90,False,58902,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",9,2,3.0,18,4,0.0
16,2128291,1.0,True,True,4,2020-09-13T15:30:00Z,90,False,58901,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",7,4,1.0,17,3,0.0
17,2128295,1.0,True,True,8,2020-09-14T17:00:00Z,90,False,58905,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",20,2,2.0,15,3,0.0
18,2128294,1.0,True,True,7,2020-09-14T19:15:00Z,90,False,58904,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,2,3.0,3,4,1.0
19,2128299,2.0,True,True,12,2020-09-19T11:30:00Z,90,False,58909,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",18,3,2.0,7,2,5.0

In [4]:
filepath = '../data/fbref/team_stats_week' + str(latest_gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col='Squad')
display(teamStats)

,Rk,MP,W,D,L,GF,GA,GD,Pts,xG,xGA,xGD,xGD/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes,xG per game,xGA per game,probability no goals allowed
Squad,,,,,,,,,,,,,,,,,,,,,
Manchester City,1,24,17,5,2,49,15,34,56,46.6,17.7,28.9,1.21,W W W W W,NaN,İlkay Gündoğan - 11,Ederson,NaN,1.941667,0.737500,0.478308
Manchester Utd,2,24,13,7,4,50,31,19,46,39.2,29.7,9.5,0.40,L D W D D,NaN,Bruno Fernandes - 14,David de Gea,NaN,1.633333,1.237500,0.290109
Leicester City,3,24,14,4,6,42,26,16,46,35.9,28.4,7.5,0.31,D L W D W,NaN,Jamie Vardy - 12,Kasper Schmeichel,NaN,1.495833,1.183333,0.306256
Chelsea,4,24,12,6,6,40,24,16,42,38.2,22.5,15.7,0.66,D W W W W,167.0,Tammy Abraham - 6,Edouard Mendy,NaN,1.591667,0.937500,0.391606
West Ham,5,24,12,6,6,37,28,9,42,32.8,27.6,5.3,0.22,W L W D W,167.0,Tomáš Souček - 8,Łukasz Fabiański,NaN,1.366667,1.150000,0.316637
Liverpool,6,24,11,7,6,45,32,13,40,45.0,30.3,14.6,0.61,W W L L L,500.0,Mohamed Salah - 17,Alisson,NaN,1.875000,1.262500,0.282946
Everton,7,23,11,4,8,35,33,2,37,27.5,30.8,-3.3,-0.14,L W D L L,167.0,Dominic Calvert-Lewin - 13,Jordan Pickford,NaN,1.195652,1.339130,0.262073
Aston Villa,8,22,11,3,8,36,24,12,36,34.4,28.7,5.7,0.26,L W L W D,NaN,Ollie Watkins - 10,Emiliano Martínez,NaN,1.563636,1.304545,0.271296
Tottenham,9,23,10,6,7,36,25,11,36,29.4,28.9,0.4,0.02,L L L W L,167.0,Harry Kane Son Heung-min - 13,Hugo Lloris,NaN,1.278261,1.256522,0.284642
Arsenal,10,24,10,4,10,31,25,6,34,32.8,27.8,4.9,0.21,W D L L W,167.0,Alexandre Lacazette Pierre-Emerick Aubameyang - 8,Bernd Leno,NaN,1.366667,1.158333,0.314009
Leeds United,11,23,10,2,11,40,42,-2,32,36.7,40.6,-4.0,-0.17,W W L W L,NaN,Patrick Bamford - 12,Illan Meslier,NaN,1.595652,1.765217,0.171150
Wolves,12,24,8,6,10,25,32,-7,30,25.2,26.9,-1.7,-0.07,D L W D W,NaN,Pedro Neto - 5,Rui Patrício,NaN,1.050000,1.120833,0.326008
Southampton,13,23,8,5,10,30,39,-9,29,22.9,30.1,-7.1,-0.31,L L L L L,167.0,Danny Ings - 8,Alex McCarthy,NaN,0.995652,1.308696,0.270172
Crystal Palace,14,24,8,5,11,27,42,-15,29,20.6,34.8,-14.2,-0.59,L W W L L,167.0,Wilfried Zaha - 9,Vicente Guaita,NaN,0.858333,1.450000,0.234570
Burnley,15,24,7,6,11,18,30,-12,27,21.6,34.4,-12.8,-0.53,L L D W D,NaN,Chris Wood - 4,Nick Pope,NaN,0.900000,1.433333,0.238513
Brighton,16,24,5,11,8,25,30,-5,26,32.4,25.5,6.9,0.29,D W W D D,167.0,Neal Maupay - 7,Robert Sánchez,NaN,1.350000,1.062500,0.345591
Newcastle Utd,17,24,7,4,13,25,40,-15,25,22.9,34.2,-11.4,-0.47,L W L W L,NaN,Callum Wilson - 10,Karl Darlow,NaN,0.954167,1.425000,0.240508
Fulham,18,24,3,10,11,20,32,-12,19,27.2,33.1,-5.9,-0.25,D L D W D,167.0,Bobby Reid - 5,Alphonse Areola,NaN,1.133333,1.379167,0.251788
West Brom,19,24,2,7,15,19,55,-36,13,16.6,42.4,-25.8,-1.07,L D L L D,NaN,Matheus Pereira - 5,Sam Johnstone,NaN,0.691667,1.766667,0.170902
Sheffield Utd,20,24,3,2,19,15,40,-25,11,21.7,35.1,-13.4,-0.56,W L W L L,NaN,David McGoldrick - 5,Aaron Ramsdale,NaN,0.904167,1.462500,0.231656

In [5]:
# fetch FPL data
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players = pd.read_csv(filepath, index_col=0)
players.head()

,adjusted points,adjusted points per game,assists,assists_week1,assists_week10,assists_week11,assists_week12,assists_week13,assists_week14,assists_week15,assists_week16,assists_week17,assists_week18,assists_week19,assists_week2,assists_week20,assists_week21,assists_week22,assists_week23,assists_week24,assists_week3,assists_week4,assists_week5,assists_week6,assists_week7,assists_week8,assists_week9,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheet_points,clean_sheets,cleansheet_week1,cleansheet_week10,cleansheet_week11,cleansheet_week12,cleansheet_week13,cleansheet_week14,cleansheet_week15,cleansheet_week16,cleansheet_week17,cleansheet_week18,cleansheet_week19,cleansheet_week2,cleansheet_week20,cleansheet_week21,cleansheet_week22,cleansheet_week23,cleansheet_week24,...,xG_week1,xG_week10,xG_week11,xG_week12,xG_week13,xG_week14,xG_week15,xG_week16,xG_week17,xG_week18,xG_week19,xG_week2,xG_week20,xG_week21,xG_week22,xG_week23,xG_week24,xG_week3,xG_week4,xG_week5,xG_week6,xG_week7,xG_week8,xG_week9,xPoints,xPoints week 1,xPoints week 10,xPoints week 11,xPoints week 12,xPoints week 13,xPoints week 14,xPoints week 15,xPoints week 16,xPoints week 17,xPoints week 18,xPoints week 19,xPoints week 2,xPoints week 20,xPoints week 21,xPoints week 22,xPoints week 23,xPoints week 24,xPoints week 3,xPoints week 4,xPoints week 5,xPoints week 6,xPoints week 7,xPoints week 8,xPoints week 9,yellow_cards
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,36.587866,2.673729,0,NaN,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0,151,100.0,100.0,17.187866,3,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,NaN,0.0,NaN,NaN,0.0,0.1,NaN,NaN,NaN,0.0,0.4,0.0,0.0,0.1,0.0,NaN,0.0,0.0,0.0,0.1,0.0,NaN,NaN,NaN,4.395247,NaN,0.000000,NaN,NaN,1.000000,3.397316,NaN,NaN,NaN,2.471518,7.363273,1.00000,3.204777,3.586388,-3.000000,NaN,4.395247,1.199148,5.274923,3.586388,1.000000,NaN,NaN,NaN,1
4,94.450781,4.773319,1,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,1.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9,264,100.0,100.0,6.213371,7,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.4,0.4,0.2,0.2,0.3,NaN,NaN,0.6,0.8,0.1,1.4,0.1,NaN,NaN,0.1,0.1,1.9,0.0,0.0,0.0,0.3,0.9,0.0,0.3,15.348812,3.818731,4.246597,3.606531,1.70657,7.132871,NaN,NaN,5.449329,6.67032,2.867879,11.740818,5.61799,NaN,NaN,1.500000,1.500000,15.348812,2.049787,2.818731,3.746597,4.101194,7.540818,2.765299,3.282085,2
5,26.663548,3.777336,1,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,100,100.0,100.0,8.866139,2,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,0.0,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.1,0.0,0.0,0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.095247,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,10.658585,NaN,3.804777,2.586388,1.986388,3.090127,4.095247,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [6]:
coefficients = pd.DataFrame(np.nan, index=teamStats.index, columns=['xG','xGA','coefficient'])

for ix in coefficients.index:
    coefficients.loc[ix, 'xG'] = teamStats.loc[ix, 'xG per game']
    coefficients.loc[ix, 'xGA'] = teamStats.loc[ix, 'xGA per game']
    coefficients.loc[ix, 'coefficient'] = 0.755489209043063 * coefficients.loc[ix, 'xG']

display(coefficients)

                       xG       xGA  coefficient
Squad
Manchester City  1.941667  0.737500     1.466908
Manchester Utd   1.633333  1.237500     1.233966
Leicester City   1.495833  1.183333     1.130086
Chelsea          1.591667  0.937500     1.202487
West Ham         1.366667  1.150000     1.032502
Liverpool        1.875000  1.262500     1.416542
Everton          1.195652  1.339130     0.903302
Aston Villa      1.563636  1.304545     1.181310
Tottenham        1.278261  1.256522     0.965712
Arsenal          1.366667  1.158333     1.032502
Leeds United     1.595652  1.765217     1.205498
Wolves           1.050000  1.120833     0.793264
Southampton      0.995652  1.308696     0.752204
Crystal Palace   0.858333  1.450000     0.648462
Burnley          0.900000  1.433333     0.679940
Brighton         1.350000  1.062500     1.019910
Newcastle Utd    0.954167  1.425000     0.720863
Fulham           1.133333  1.379167     0.856221
West Brom        0.691667  1.766667     0.522547
Sheffield Utd    0.904167  1.462500     0.683088

In [7]:
def points_for_clean_sheet(position):
    if position < 3:
        return 4
    elif position==3:
        return 1
    elif position==4:
        return 0

In [8]:
goalkeepers = players['element_type'] == 1
defenders = players['element_type'] == 2
midfielders = players['element_type'] == 3
forwards = players['element_type'] == 4

In [9]:
home_coefficient = 1.0721855628874228
away_coefficient = 0.9280143971205758

In [10]:
team_names = np.sort(teamStats.index)
# for some reason the fpl team numbers are not alphabetical with leeds and leicester...
if (team_names[8]=='Leeds United') & (team_names[9]=='Leicester City'):
    team_names[8] = 'Leicester City'
    team_names[9] = 'Leeds United'
    
# how many gameweeks ahead do you want to look at
for number_gameweeks in [1,5,10]:
    expectations = pd.DataFrame(0, index=teamStats.index, \
                columns=['games','total_xG','total_xGA','xG per game', 'xGA per game'])
    gameweeks = np.arange(latest_gameweek+1, latest_gameweek+number_gameweeks+1)
    games = fixtures[fixtures['event'].isin(gameweeks)]
    for ix in games.index:
        home_team_number = games.loc[ix,'team_h']
        home_team = team_names[home_team_number-1]
        away_team_number = games.loc[ix,'team_a']
        away_team = team_names[away_team_number-1]

        home_xG = home_coefficient * coefficients.loc[home_team,'coefficient'] * \
                                    coefficients.loc[away_team,'xGA']
        away_xG = away_coefficient * coefficients.loc[away_team,'coefficient'] * \
                                    coefficients.loc[home_team,'xGA']
        expectations.loc[home_team,'total_xG'] += home_xG
        expectations.loc[home_team,'total_xGA'] += away_xG
        expectations.loc[home_team,'games'] += 1
        expectations.loc[away_team,'total_xG'] += away_xG
        expectations.loc[away_team,'total_xGA'] += home_xG
        expectations.loc[away_team,'games'] += 1

    expectations['xG per game'] = expectations['total_xG'] / expectations['games']
    expectations['xGA per game'] = expectations['total_xGA'] / expectations['games']
    print('expectations:')
    display(expectations)

    new_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    coefficients[new_column] = expectations['xG per game'] / coefficients['xG']
    print('coefficients:')
    display(coefficients)
    
    new_column = 'next' + str(number_gameweeks) + '_xP'
    multiplier_xG_xA_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    for ix in players.index:
        team = players.loc[ix,'team_name']
        position = players.loc[ix, 'element_type']

        # adjust xP based on xg and xa for the next game
        xg_points_per_game = players.loc[ix,'xG_points'] / players.loc[ix,'games played']
        xa_points_per_game = players.loc[ix,'xA_points'] / players.loc[ix,'games played']
        xpoints = xg_points_per_game + xa_points_per_game
        players.loc[ix, new_column] = players.loc[ix, 'adjusted points per game'] - \
                            xpoints + coefficients.loc[team, multiplier_xG_xA_column]*xpoints    

        # adjust xP based on probability to keep a clean sheet for the next game
        clean_sheet_points_per_game = players.loc[ix,'clean_sheet_points'] / \
                                        players.loc[ix,'games played']
        probability_clean_sheet_next = poisson.pmf(0, expectations.loc[team, 'xGA per game'])
        players.loc[ix, new_column] = players.loc[ix, new_column] - clean_sheet_points_per_game \
                + points_for_clean_sheet(position) * probability_clean_sheet_next

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      1  1.576853   0.816437     1.576853      0.816437
Manchester Utd       1  1.885332   0.827851     1.885332      0.827851
Leicester City       1  1.368124   1.498791     1.368124      1.498791
Chelsea              1  1.460407   0.756096     1.460407      0.756096
West Ham             1  1.391012   1.030624     1.391012      1.030624
Liverpool            1  2.033866   1.058325     2.033866      1.058325
Everton              1  1.058325   2.033866     1.058325      2.033866
Aston Villa          1  1.498791   1.368124     1.498791      1.368124
Tottenham            1  1.030624   1.391012     1.030624      1.391012
Arsenal              1  0.816437   1.576853     0.816437      1.576853
Leeds United         2  2.945410   2.733585     1.472705      1.366792
Wolves               1  1.501363   1.253898     1.501363      1.253898
Southampton          2  1.988318   3.151919     0.994159      1.575959
Crystal Palace       1  0.639393   1.585623     0.639393      1.585623
Burnley              1  1.287939   0.695068     1.287939      0.695068
Brighton             1  1.585623   0.639393     1.585623      0.639393
Newcastle Utd        1  0.827851   1.885332     0.827851      1.885332
Fulham               1  1.342616   0.874275     1.342616      0.874275
West Brom            1  0.695068   1.287939     0.695068      1.287939
Sheffield Utd        1  0.874275   1.342616     0.874275      1.342616

coefficients:

                       xG       xGA  coefficient  next1_xG_xA_multiplier
Squad
Manchester City  1.941667  0.737500     1.466908                0.812113
Manchester Utd   1.633333  1.237500     1.233966                1.154285
Leicester City   1.495833  1.183333     1.130086                0.914623
Chelsea          1.591667  0.937500     1.202487                0.917533
West Ham         1.366667  1.150000     1.032502                1.017814
Liverpool        1.875000  1.262500     1.416542                1.084729
Everton          1.195652  1.339130     0.903302                0.885145
Aston Villa      1.563636  1.304545     1.181310                0.958529
Tottenham        1.278261  1.256522     0.965712                0.806271
Arsenal          1.366667  1.158333     1.032502                0.597393
Leeds United     1.595652  1.765217     1.205498                0.922949
Wolves           1.050000  1.120833     0.793264                1.429870
Southampton      0.995652  1.308696     0.752204                0.998500
Crystal Palace   0.858333  1.450000     0.648462                0.744924
Burnley          0.900000  1.433333     0.679940                1.431044
Brighton         1.350000  1.062500     1.019910                1.174536
Newcastle Utd    0.954167  1.425000     0.720863                0.867617
Fulham           1.133333  1.379167     0.856221                1.184661
West Brom        0.691667  1.766667     0.522547                1.004917
Sheffield Utd    0.904167  1.462500     0.683088                0.966940

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      4  7.209384   3.044677     1.802346      0.761169
Manchester Utd       4  5.324935   5.555428     1.331234      1.388857
Leicester City       4  5.657970   4.676781     1.414492      1.169195
Chelsea              4  6.752279   3.827284     1.688070      0.956821
West Ham             5  6.519880   6.749268     1.303976      1.349854
Liverpool            4  7.524516   4.059930     1.881129      1.014983
Everton              4  4.499887   5.540165     1.124972      1.385041
Aston Villa          4  6.415770   5.022907     1.603942      1.255727
Tottenham            4  5.054186   4.331034     1.263546      1.082758
Arsenal              5  5.816581   6.145218     1.163316      1.229044
Leeds United         6  8.672721  10.213269     1.445454      1.702212
Wolves               4  4.584534   5.013234     1.146134      1.253308
Southampton          5  4.800924   6.616555     0.960185      1.323311
Crystal Palace       4  3.582752   4.942285     0.895688      1.235571
Burnley              4  3.770232   4.940754     0.942558      1.235189
Brighton             5  7.348727   3.916650     1.469745      0.783330
Newcastle Utd        5  4.595053   6.853215     0.919011      1.370643
Fulham               5  5.795493   7.348220     1.159099      1.469644
West Brom            4  2.791882   5.370235     0.697970      1.342559
Sheffield Utd        4  3.507546   6.058140     0.876886      1.514535

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier
Squad,,,,,
Manchester City,1.941667,0.737500,1.466908,0.812113,0.928247
Manchester Utd,1.633333,1.237500,1.233966,1.154285,0.815041
Leicester City,1.495833,1.183333,1.130086,0.914623,0.945622
Chelsea,1.591667,0.937500,1.202487,0.917533,1.060567
West Ham,1.366667,1.150000,1.032502,1.017814,0.954129
Liverpool,1.875000,1.262500,1.416542,1.084729,1.003269
Everton,1.195652,1.339130,0.903302,0.885145,0.940885
Aston Villa,1.563636,1.304545,1.181310,0.958529,1.025777
Tottenham,1.278261,1.256522,0.965712,0.806271,0.988489
Arsenal,1.366667,1.158333,1.032502,0.597393,0.851207
Leeds United,1.595652,1.765217,1.205498,0.922949,0.905870
Wolves,1.050000,1.120833,0.793264,1.429870,1.091556
Southampton,0.995652,1.308696,0.752204,0.998500,0.964378
Crystal Palace,0.858333,1.450000,0.648462,0.744924,1.043520
Burnley,0.900000,1.433333,0.679940,1.431044,1.047287
Brighton,1.350000,1.062500,1.019910,1.174536,1.088700
Newcastle Utd,0.954167,1.425000,0.720863,0.867617,0.963155
Fulham,1.133333,1.379167,0.856221,1.184661,1.022734
West Brom,0.691667,1.766667,0.522547,1.004917,1.009114
Sheffield Utd,0.904167,1.462500,0.683088,0.966940,0.969828

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      8  15.346395   6.210202     1.918299      0.776275
Manchester Utd       9  13.757669  12.015175     1.528630      1.335019
Leicester City       9  13.027605   9.837962     1.447512      1.093107
Chelsea              9  15.079443   7.603827     1.675494      0.844870
West Ham            10  12.680458  11.943942     1.268046      1.194394
Liverpool            9  17.140138  10.988322     1.904460      1.220925
Everton              9  10.246311  11.961050     1.138479      1.329006
Aston Villa          9  14.186435  11.712789     1.576271      1.301421
Tottenham            8  10.327027   8.754568     1.290878      1.094321
Arsenal             10  12.990193  11.302964     1.299019      1.130296
Leeds United        11  15.808017  20.380844     1.437092      1.852804
Wolves               9  10.341457   9.161866     1.149051      1.017985
Southampton          9   9.313935  10.335579     1.034882      1.148398
Crystal Palace       9   7.052853  12.864954     0.783650      1.429439
Burnley              9   7.961338  11.544431     0.884593      1.282715
Brighton            10  14.186298   9.549731     1.418630      0.954973
Newcastle Utd       10   9.153758  14.064237     0.915376      1.406424
Fulham               9   9.526341  13.415266     1.058482      1.490585
West Brom            9   5.814138  14.559996     0.646015      1.617777
Sheffield Utd        9   7.760119  13.492224     0.862235      1.499136

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier,next10_xG_xA_multiplier
Squad,,,,,,
Manchester City,1.941667,0.737500,1.466908,0.812113,0.928247,0.987965
Manchester Utd,1.633333,1.237500,1.233966,1.154285,0.815041,0.935896
Leicester City,1.495833,1.183333,1.130086,0.914623,0.945622,0.967696
Chelsea,1.591667,0.937500,1.202487,0.917533,1.060567,1.052666
West Ham,1.366667,1.150000,1.032502,1.017814,0.954129,0.927838
Liverpool,1.875000,1.262500,1.416542,1.084729,1.003269,1.015712
Everton,1.195652,1.339130,0.903302,0.885145,0.940885,0.952182
Aston Villa,1.563636,1.304545,1.181310,0.958529,1.025777,1.008080
Tottenham,1.278261,1.256522,0.965712,0.806271,0.988489,1.009871
Arsenal,1.366667,1.158333,1.032502,0.597393,0.851207,0.950502
Leeds United,1.595652,1.765217,1.205498,0.922949,0.905870,0.900630
Wolves,1.050000,1.120833,0.793264,1.429870,1.091556,1.094334
Southampton,0.995652,1.308696,0.752204,0.998500,0.964378,1.039401
Crystal Palace,0.858333,1.450000,0.648462,0.744924,1.043520,0.912991
Burnley,0.900000,1.433333,0.679940,1.431044,1.047287,0.982881
Brighton,1.350000,1.062500,1.019910,1.174536,1.088700,1.050837
Newcastle Utd,0.954167,1.425000,0.720863,0.867617,0.963155,0.959346
Fulham,1.133333,1.379167,0.856221,1.184661,1.022734,0.933955
West Brom,0.691667,1.766667,0.522547,1.004917,1.009114,0.933998
Sheffield Utd,0.904167,1.462500,0.683088,0.966940,0.969828,0.953624

In [11]:
metric = 'next1_xP'
#minGames = players['games played'] >= 3

numberToShow = 50
display(players.sort_values(by=[metric], ascending=False)[['web_name','team_name',\
         'now_cost','games played','total_points','adjusted points','points_per_game',\
         'adjusted points per game','next1_xP','next5_xP','next10_xP']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,next1_xP,next5_xP,next10_xP
id,,,,,,,,,,,
302,Fernandes,Manchester Utd,115,24.054054,178,160.589790,7.4,6.676205,7.315301,6.045379,6.444737
665,Maja,Fulham,55,3.018868,16,17.500000,5.3,5.796875,6.377980,5.868416,5.589040
254,Salah,Liverpool,126,23.142857,162,139.757811,7.0,6.038918,6.357895,6.128214,6.098195
251,Mané,Liverpool,118,20.980392,107,118.218179,5.1,5.634698,5.941097,5.723509,5.691643
272,De Bruyne,Manchester City,118,18.113208,96,119.397789,5.3,6.591753,5.935563,6.343833,6.533856
388,Kane,Tottenham,110,20.958904,153,134.331503,7.3,6.409281,5.887404,6.378271,6.435871
224,Vardy,Leicester City,101,19.838710,123,119.919275,6.2,6.044711,5.779010,5.875481,5.944178
96,Pope,Burnley,56,22.857143,112,102.406862,4.9,4.480300,5.533728,4.690611,4.634935
271,Gündogan,Manchester City,61,18.088235,123,105.686570,6.8,5.842835,5.346999,5.656153,5.795209
202,Bamford,Leeds United,69,23.157895,132,123.299275,5.7,5.324287,5.137564,5.096176,5.083478
39,Hause,Aston Villa,44,4.000000,28,20.940733,7.0,5.235183,5.099910,5.332007,5.251911
37,Grealish,Aston Villa,78,21.864407,129,112.700634,5.9,5.154525,5.052461,5.221151,5.172004
277,Cancelo,Manchester City,61,18.888889,102,101.333660,5.4,5.364723,5.046428,5.253873,5.280871
390,Son,Tottenham,95,23.088235,157,126.156346,6.8,5.464097,5.015449,5.493584,5.535255
301,Lingard,West Ham,60,3.000000,24,14.447320,8.0,4.815773,4.877297,4.703369,4.715430
164,Calvert-Lewin,Everton,77,20.000000,120,100.987047,6.0,5.049352,4.799542,4.920778,4.945349
276,Sterling,Manchester City,116,21.818182,120,114.937680,5.5,5.267977,4.799204,5.091631,5.222085
75,Bernardo,Brighton,39,2.941176,5,11.465774,1.7,3.898363,4.768871,4.415908,4.096773
597,Sánchez,Brighton,45,12.888889,58,51.817123,4.5,4.020294,4.748381,4.465459,4.177221
506,Wilson,Newcastle Utd,66,21.090909,116,105.464456,5.5,5.000470,4.736344,4.926958,4.919358
435,Cresswell,West Ham,58,24.081633,118,109.777205,4.9,4.558545,4.731118,4.298253,4.455003
273,Stones,Manchester City,52,14.000000,91,69.285259,6.5,4.948947,4.703075,4.865755,4.869734
306,Rashford,Manchester Utd,96,23.750000,114,100.971944,4.8,4.251450,4.669871,3.885174,4.111671
12,Martínez,Aston Villa,53,22.068966,128,104.548873,5.8,4.737371,4.669397,4.792363,4.740986
112,Arrizabalaga,Chelsea,47,3.947368,15,17.183247,3.8,4.353089,4.664649,4.323115,4.505120
249,Firmino,Liverpool,93,23.846154,93,106.887047,3.9,4.482360,4.654332,4.488995,4.514250
474,Neto,Wolves,57,23.863636,105,98.664193,4.4,4.134499,4.643296,4.211067,4.290382
123,James,Chelsea,50,17.894737,68,78.125537,3.8,4.365839,4.620715,4.377496,4.554070
514,Watkins,Aston Villa,65,22.173913,102,104.529637,4.6,4.714082,4.618811,4.773299,4.732644
232,Chilwell,Chelsea,59,18.125000,87,78.081045,4.8,4.307920,4.568976,4.315038,4.492204
62,Dunk,Brighton,49,20.769231,81,77.210616,3.9,3.717548,4.559084,4.220369,3.907519
468,Jota,Liverpool,66,9.038462,47,39.157395,5.2,4.332307,4.542636,4.417412,4.371437
255,Robertson,Liverpool,73,23.750000,95,99.966895,4.0,4.209132,4.531851,4.529544,4.269483
88,Mee,Burnley,51,17.045455,75,56.962220,4.4,3.341784,4.528037,3.566666,3.491143
519,Dunne,Burnley,38,2.000000,8,6.008100,4.0,3.004050,4.498759,3.262771,3.141160
437,Antonio,West Ham,66,15.116279,65,66.192228,4.3,4.378870,4.411277,4.295420,4.247592
556,Dias,Manchester City,61,20.833333,100,96.856425,4.8,4.649108,4.403784,4.566125,4.569930
560,Kelleher,Liverpool,45,2.000000,10,8.263566,5.0,4.131783,4.388146,4.449635,4.179829
366,Ings,Southampton,84,18.163265,89,79.732228,4.9,4.389752,4.387354,4.332798,4.452747
68,Maupay,Brighton,61,22.285714,78,90.277409,3.5,4.050909,4.382818,4.219588,4.147584
300,Shaw,Manchester Utd,50,20.285714,71,75.127286,3.5,3.703458,4.375394,3.439258,3.560559
105,Jorginho,Chelsea,47,16.086957,74,70.934561,4.6,4.409446,4.344619,4.506770,4.538597
259,Alexander-Arnold,Liverpool,74,21.818182,72,87.285678,3.3,4.000594,4.330352,4.321277,4.062250
516,Areola,Fulham,45,22.972973,85,84.137302,3.7,3.662447,4.323951,3.575324,3.556257
109,Rüdiger,Chelsea,46,8.979592,44,36.165835,4.9,4.027559,4.319833,4.011749,4.191907
81,Tarkowski,Burnley,53,22.258065,69,68.435311,3.1,3.074630,4.314273,3.305369,3.221869
69,Trossard,Brighton,57,20.810811,77,81.079070,3.7,3.896007,4.291053,4.115559,3.997286
558,Coufal,West Ham,47,20.000000,80,82.120579,4.0,4.106029,4.278376,3.846320,4.003405
110,Zouma,Chelsea,54,15.000000,78,59.496338,5.2,3.966423,4.244996,3.960675,4.139520
91,Wood,Burnley,62,20.322581,63,74.400000,3.1,3.660952,4.242108,3.724707,3.637872

In [12]:
# save predictions
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players.to_csv(filepath)