In [1]:
# recent gameweek
latest_gameweek = 37

In [2]:
import pandas as pd
import numpy as np
import json
import requests
from scipy.stats import poisson

# allow more data columns to be shown than by default
pd.set_option('max_columns',100)

In [3]:
# fetch FPL fixtures online
fixtures_text = json.loads(requests.get('https://fantasy.premierleague.com/api/fixtures').text)
fixtures = pd.DataFrame(fixtures_text)
fixtures.head(20)

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,pulse_id,started,stats,team_a,team_a_difficulty,team_a_score,team_h,team_h_difficulty,team_h_score
0,2128288,1,True,True,2,2020-09-12T11:30:00Z,90,False,58898,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",1,2,3.0,8,3,0.0
1,2128287,1,True,True,1,2020-09-12T14:00:00Z,90,False,58897,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",16,3,0.0,6,2,1.0
2,2128289,1,True,True,3,2020-09-12T16:30:00Z,90,False,58899,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",10,3,3.0,11,3,4.0
3,2128293,1,True,True,6,2020-09-12T19:00:00Z,90,False,58903,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",14,4,2.0,19,2,0.0
4,2128292,1,True,True,5,2020-09-13T13:00:00Z,90,False,58902,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",9,2,3.0,18,4,0.0
5,2128291,1,True,True,4,2020-09-13T15:30:00Z,90,False,58901,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",7,4,1.0,17,4,0.0
6,2128295,1,True,True,8,2020-09-14T17:00:00Z,90,False,58905,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",20,2,2.0,15,2,0.0
7,2128294,1,True,True,7,2020-09-14T19:15:00Z,90,False,58904,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,3,3.0,3,4,1.0
8,2128299,2,True,True,12,2020-09-19T11:30:00Z,90,False,58909,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",18,3,2.0,7,2,5.0
9,2128300,2,True,True,13,2020-09-19T14:00:00Z,90,False,58910,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",8,3,3.0,10,2,4.0
10,2128302,2,True,True,15,2020-09-19T16:30:00Z,90,False,58912,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",6,4,3.0,13,2,1.0
11,2128296,2,True,True,9,2020-09-19T19:00:00Z,90,False,58906,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",19,4,1.0,1,4,2.0
12,2128304,2,True,True,17,2020-09-20T11:00:00Z,90,False,58914,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",17,2,5.0,16,3,2.0
13,2128303,2,True,True,16,2020-09-20T13:00:00Z,90,False,58913,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,2,3.0,14,3,0.0
14,2128298,2,True,True,11,2020-09-20T15:30:00Z,90,False,58908,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",11,4,2.0,5,4,0.0
15,2128301,2,True,True,14,2020-09-20T18:00:00Z,90,False,58911,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,4,2.0,9,2,4.0
16,2128297,2,True,True,10,2020-09-21T17:00:00Z,90,False,58907,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",15,3,0.0,2,2,1.0
17,2128305,2,True,True,18,2020-09-21T19:15:00Z,90,False,58915,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",12,3,3.0,20,4,1.0
18,2128306,3,True,True,19,2020-09-26T11:30:00Z,90,False,58916,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",13,3,3.0,3,4,2.0
19,2128308,3,True,True,21,2020-09-26T14:00:00Z,90,False,58918,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",7,3,2.0,6,4,1.0

In [4]:
filepath = '../data/fbref/team_stats_week' + str(latest_gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col='Squad')
display(teamStats)

,Rk,MP,W,D,L,GF,GA,GD,Pts,xG,xGA,xGD,xGD/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes,xG per game,xGA per game,probability no goals allowed
Squad,,,,,,,,,,,,,,,,,,,,,
Manchester City,1,37,26,5,6,78,32,46,83,70.7,30.1,40.5,1.10,W W L W L,NaN,İlkay Gündoğan - 13,Ederson,NaN,1.910811,0.813514,0.443298
Manchester Utd,2,37,20,11,6,71,43,28,71,58.5,41.4,17.1,0.46,D W L L D,NaN,Bruno Fernandes - 18,David de Gea,NaN,1.581081,1.118919,0.326633
Chelsea,3,37,19,10,8,57,34,23,67,61.6,31.8,29.8,0.80,W W W L W,111.0,Jorginho - 7,Edouard Mendy,NaN,1.664865,0.859459,0.423391
Liverpool,4,37,19,9,9,66,42,24,66,70.8,44.6,26.2,0.71,D W W W W,333.0,Mohamed Salah - 22,Alisson,NaN,1.913514,1.205405,0.299571
Leicester City,5,37,20,6,11,66,46,20,66,54.2,45.7,8.4,0.23,W D L W L,NaN,Jamie Vardy - 13,Kasper Schmeichel,NaN,1.464865,1.235135,0.290795
West Ham,6,37,18,8,11,59,47,12,62,51.9,46.9,5.0,0.14,L W L D W,111.0,Tomáš Souček Michail Antonio - 10,Łukasz Fabiański,NaN,1.402703,1.267568,0.281516
Tottenham,7,37,17,8,12,64,43,21,59,52.6,47.7,4.9,0.13,W W L W L,111.0,Harry Kane - 22,Hugo Lloris,NaN,1.421622,1.289189,0.275494
Everton,8,37,17,8,12,47,43,4,59,45.9,48.6,-2.7,-0.07,L W D L W,111.0,Dominic Calvert-Lewin - 16,Jordan Pickford,NaN,1.240541,1.313514,0.268874
Arsenal,9,37,17,7,13,53,39,14,58,52.4,44.0,8.5,0.23,L W W W W,111.0,Alexandre Lacazette - 13,Bernd Leno,NaN,1.416216,1.189189,0.304468
Leeds United,10,37,17,5,15,59,53,6,56,55.5,61.2,-5.6,-0.15,D L W W W,NaN,Patrick Bamford - 16,Illan Meslier,NaN,1.500000,1.654054,0.191273
Aston Villa,11,37,15,7,15,53,45,8,52,52.0,50.5,1.5,0.04,W L D L W,NaN,Ollie Watkins - 14,Emiliano Martínez,NaN,1.405405,1.364865,0.255415
Wolves,12,37,12,9,16,35,50,-15,45,39.0,44.2,-5.2,-0.14,L D W L L,NaN,Rúben Neves Pedro Neto - 5,Rui Patrício,NaN,1.054054,1.194595,0.302827
Crystal Palace,13,37,12,8,17,41,64,-23,44,31.7,55.8,-24.1,-0.65,L W L W L,447.0,Wilfried Zaha - 11,Vicente Guaita,NaN,0.856757,1.508108,0.221328
Southampton,14,37,12,7,18,47,65,-18,43,40.9,52.6,-11.7,-0.32,D L W W L,111.0,Danny Ings - 12,Alex McCarthy,NaN,1.105405,1.421622,0.241322
Newcastle Utd,15,37,11,9,17,44,62,-18,42,39.7,53.0,-13.4,-0.36,D L W L W,526.0,Callum Wilson - 12,Karl Darlow,NaN,1.072973,1.432432,0.238728
Brighton,16,37,9,14,14,40,44,-4,41,51.2,36.6,14.7,0.40,L W L D W,523.0,Neal Maupay - 8,Robert Sánchez,NaN,1.383784,0.989189,0.371878
Burnley,17,37,10,9,18,33,54,-21,39,38.9,57.0,-18.1,-0.49,W L W L L,178.0,Chris Wood - 12,Nick Pope,NaN,1.051351,1.540541,0.214265
Fulham,18,37,5,13,19,27,51,-24,28,39.6,51.8,-12.2,-0.33,D L L L D,111.0,Bobby Reid - 5,Alphonse Areola,NaN,1.070270,1.400000,0.246597
West Brom,19,37,5,11,21,34,73,-39,26,32.0,65.3,-33.3,-0.90,D D L L L,283.0,Matheus Pereira - 11,Sam Johnstone,NaN,0.864865,1.764865,0.171210
Sheffield Utd,20,37,6,2,29,19,63,-44,20,30.7,61.3,-30.5,-0.83,W L L W L,NaN,David McGoldrick - 7,Aaron Ramsdale,NaN,0.829730,1.656757,0.190757

In [5]:
# fetch FPL data
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players = pd.read_csv(filepath, index_col=0)
players.head()

,adjusted points,adjusted points per game,assists,assists_week1,assists_week10,assists_week11,assists_week12,assists_week13,assists_week14,assists_week15,assists_week16,assists_week17,assists_week18,assists_week19,assists_week2,assists_week20,assists_week21,assists_week22,assists_week23,assists_week24,assists_week25,assists_week26,assists_week27,assists_week28,assists_week29,assists_week3,assists_week30,assists_week31,assists_week32,assists_week33,assists_week34,assists_week35,assists_week36,assists_week37,assists_week4,assists_week5,assists_week6,assists_week7,assists_week8,assists_week9,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheet_points,clean_sheets,cleansheet_week1,cleansheet_week10,cleansheet_week11,cleansheet_week12,...,xG_week33,xG_week34,xG_week35,xG_week36,xG_week37,xG_week4,xG_week5,xG_week6,xG_week7,xG_week8,xG_week9,xPoints,xPoints week 1,xPoints week 10,xPoints week 11,xPoints week 12,xPoints week 13,xPoints week 14,xPoints week 15,xPoints week 16,xPoints week 17,xPoints week 18,xPoints week 19,xPoints week 2,xPoints week 20,xPoints week 21,xPoints week 22,xPoints week 23,xPoints week 24,xPoints week 25,xPoints week 26,xPoints week 27,xPoints week 28,xPoints week 29,xPoints week 3,xPoints week 30,xPoints week 31,xPoints week 32,xPoints week 33,xPoints week 34,xPoints week 35,xPoints week 36,xPoints week 37,xPoints week 4,xPoints week 5,xPoints week 6,xPoints week 7,xPoints week 8,xPoints week 9,yellow_cards
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,NaN,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,NaN,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,54.566378,2.661775,0,NaN,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,0,230,50.0,0.0,24.966378,3,NaN,0.0,0.0,0.0,...,NaN,0.1,NaN,NaN,NaN,0.0,0.1,0.0,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,1.000000,3.397316,NaN,NaN,NaN,2.471518,7.363273,1.00000,3.204777,3.586388,-3.000000,NaN,4.395247,1.000000,5.026123,2.807586,3.986341,1.401035,1.199148,NaN,NaN,NaN,NaN,1.6000,NaN,NaN,NaN,5.274923,3.586388,1.000000,NaN,NaN,NaN,1
4,129.617381,4.658125,3,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,1.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,1.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11,351,100.0,100.0,8.472154,9,1.0,0.0,0.0,0.0,...,NaN,1.2,0.0,NaN,0.2,0.0,0.0,0.3,0.9,0.0,0.3,3.332871,3.818731,4.246597,3.606531,1.70657,7.132871,NaN,NaN,5.449329,6.67032,2.867879,11.740818,5.61799,NaN,NaN,1.500000,1.500000,15.348812,2.122456,1.500000,7.201897,NaN,2.100259,2.049787,3.010803,NaN,NaN,NaN,10.5184,4.62884,NaN,3.332871,2.818731,3.746597,4.101194,7.540818,2.765299,3.282085,2
5,33.847130,3.384713,1,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,125,100.0,100.0,12.178721,2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,10.658585,NaN,3.804777,2.586388,1.986388,3.090127,4.095247,NaN,4.426123,NaN,3.986341,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [6]:
coefficients = pd.DataFrame(np.nan, index=teamStats.index, columns=['xG','xGA','coefficient'])

for ix in coefficients.index:
    coefficients.loc[ix, 'xG'] = teamStats.loc[ix, 'xG per game']
    coefficients.loc[ix, 'xGA'] = teamStats.loc[ix, 'xGA per game']
    coefficients.loc[ix, 'coefficient'] = 0.755489209043063 * coefficients.loc[ix, 'xG']

display(coefficients)

                       xG       xGA  coefficient
Squad
Manchester City  1.910811  0.813514     1.443597
Manchester Utd   1.581081  1.118919     1.194490
Chelsea          1.664865  0.859459     1.257787
Liverpool        1.913514  1.205405     1.445639
Leicester City   1.464865  1.235135     1.106690
West Ham         1.402703  1.267568     1.059727
Tottenham        1.421622  1.289189     1.074020
Everton          1.240541  1.313514     0.937215
Arsenal          1.416216  1.189189     1.069936
Leeds United     1.500000  1.654054     1.133234
Aston Villa      1.405405  1.364865     1.061769
Wolves           1.054054  1.194595     0.796326
Crystal Palace   0.856757  1.508108     0.647270
Southampton      1.105405  1.421622     0.835122
Newcastle Utd    1.072973  1.432432     0.810620
Brighton         1.383784  0.989189     1.045434
Burnley          1.051351  1.540541     0.794285
Fulham           1.070270  1.400000     0.808578
West Brom        0.864865  1.764865     0.653396
Sheffield Utd    0.829730  1.656757     0.626852

In [7]:
def points_for_clean_sheet(position):
    if position < 3:
        return 4
    elif position==3:
        return 1
    elif position==4:
        return 0

In [8]:
goalkeepers = players['element_type'] == 1
defenders = players['element_type'] == 2
midfielders = players['element_type'] == 3
forwards = players['element_type'] == 4

In [9]:
home_coefficient = 1.0721855628874228
away_coefficient = 0.9280143971205758

In [10]:
team_names = np.sort(teamStats.index)
# for some reason the fpl team numbers are not alphabetical with leeds and leicester...
if (team_names[8]=='Leeds United') & (team_names[9]=='Leicester City'):
    team_names[8] = 'Leicester City'
    team_names[9] = 'Leeds United'
    
# how many gameweeks ahead do you want to look at
for number_gameweeks in [1,5,10]:
    expectations = pd.DataFrame(0, index=teamStats.index, \
                columns=['games','total_xG','total_xGA','xG per game', 'xGA per game'])
    gameweeks = np.arange(latest_gameweek+1, latest_gameweek+number_gameweeks+1)
    games = fixtures[fixtures['event'].isin(gameweeks)]
    for ix in games.index:
        home_team_number = games.loc[ix,'team_h']
        home_team = team_names[home_team_number-1]
        away_team_number = games.loc[ix,'team_a']
        away_team = team_names[away_team_number-1]

        home_xG = home_coefficient * coefficients.loc[home_team,'coefficient'] * \
                                    coefficients.loc[away_team,'xGA']
        away_xG = away_coefficient * coefficients.loc[away_team,'coefficient'] * \
                                    coefficients.loc[home_team,'xGA']
        expectations.loc[home_team,'total_xG'] += home_xG
        expectations.loc[home_team,'total_xGA'] += away_xG
        expectations.loc[home_team,'games'] += 1
        expectations.loc[away_team,'total_xG'] += away_xG
        expectations.loc[away_team,'total_xGA'] += home_xG
        expectations.loc[away_team,'games'] += 1

    expectations['xG per game'] = expectations['total_xG'] / expectations['games']
    expectations['xGA per game'] = expectations['total_xGA'] / expectations['games']
    print('expectations:')
    display(expectations)

    new_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    coefficients[new_column] = expectations['xG per game'] / coefficients['xG']
    print('coefficients:')
    display(coefficients)
    
    new_column = 'next' + str(number_gameweeks) + '_xP'
    multiplier_xG_xA_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    for ix in players.index:
        team = players.loc[ix,'team_name']
        position = players.loc[ix, 'element_type']

        # adjust xP based on xg and xa for the next game
        xg_points_per_game = players.loc[ix,'xG_points'] / players.loc[ix,'games played']
        xa_points_per_game = players.loc[ix,'xA_points'] / players.loc[ix,'games played']
        xpoints = xg_points_per_game + xa_points_per_game
        players.loc[ix, new_column] = players.loc[ix, 'adjusted points per game'] - \
                            xpoints + coefficients.loc[team, multiplier_xG_xA_column]*xpoints    

        # adjust xP based on probability to keep a clean sheet for the next game
        clean_sheet_points_per_game = players.loc[ix,'clean_sheet_points'] / \
                                        players.loc[ix,'games played']
        probability_clean_sheet_next = poisson.pmf(0, expectations.loc[team, 'xGA per game'])
        players.loc[ix, new_column] = players.loc[ix, new_column] - clean_sheet_points_per_game \
                + points_for_clean_sheet(position) * probability_clean_sheet_next

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      1  2.033061   0.707553     2.033061      0.707553
Manchester Utd       1  1.324212   0.955344     1.324212      0.955344
Chelsea              1  1.593131   0.978420     1.593131      0.978420
Liverpool            1  2.337557   0.724058     2.337557      0.724058
Leicester City       1  1.529722   1.231066     1.529722      1.231066
West Ham             1  1.615280   0.982371     1.615280      0.982371
Tottenham            1  1.231066   1.529722     1.231066      1.529722
Everton              1  0.707553   2.033061     0.707553      2.033061
Arsenal              1  1.134768   1.153725     1.134768      1.153725
Leeds United         1  2.144376   1.002954     2.144376      1.002954
Aston Villa          1  0.978420   1.593131     0.978420      1.593131
Wolves               1  0.955344   1.324212     0.955344      1.324212
Crystal Palace       1  0.724058   2.337557     0.724058      2.337557
Southampton          1  0.982371   1.615280     0.982371      1.615280
Newcastle Utd        1  1.053173   1.241841     1.053173      1.241841
Brighton             1  1.153725   1.134768     1.153725      1.134768
Burnley              1  1.221208   1.035400     1.221208      1.035400
Fulham               1  1.241841   1.053173     1.241841      1.053173
West Brom            1  1.002954   2.144376     1.002954      2.144376
Sheffield Utd        1  1.035400   1.221208     1.035400      1.221208

coefficients:

                       xG       xGA  coefficient  next1_xG_xA_multiplier
Squad
Manchester City  1.910811  0.813514     1.443597                1.063978
Manchester Utd   1.581081  1.118919     1.194490                0.837536
Chelsea          1.664865  0.859459     1.257787                0.956913
Liverpool        1.913514  1.205405     1.445639                1.221605
Leicester City   1.464865  1.235135     1.106690                1.044275
West Ham         1.402703  1.267568     1.059727                1.151549
Tottenham        1.421622  1.289189     1.074020                0.865959
Everton          1.240541  1.313514     0.937215                0.570358
Arsenal          1.416216  1.189189     1.069936                0.801268
Leeds United     1.500000  1.654054     1.133234                1.429584
Aston Villa      1.405405  1.364865     1.061769                0.696183
Wolves           1.054054  1.194595     0.796326                0.906352
Crystal Palace   0.856757  1.508108     0.647270                0.845116
Southampton      1.105405  1.421622     0.835122                0.888698
Newcastle Utd    1.072973  1.432432     0.810620                0.981547
Brighton         1.383784  0.989189     1.045434                0.833746
Burnley          1.051351  1.540541     0.794285                1.161560
Fulham           1.070270  1.400000     0.808578                1.160306
West Brom        0.864865  1.764865     0.653396                1.159665
Sheffield Utd    0.829730  1.656757     0.626852                1.247876

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      1  2.033061   0.707553     2.033061      0.707553
Manchester Utd       1  1.324212   0.955344     1.324212      0.955344
Chelsea              1  1.593131   0.978420     1.593131      0.978420
Liverpool            1  2.337557   0.724058     2.337557      0.724058
Leicester City       1  1.529722   1.231066     1.529722      1.231066
West Ham             1  1.615280   0.982371     1.615280      0.982371
Tottenham            1  1.231066   1.529722     1.231066      1.529722
Everton              1  0.707553   2.033061     0.707553      2.033061
Arsenal              1  1.134768   1.153725     1.134768      1.153725
Leeds United         1  2.144376   1.002954     2.144376      1.002954
Aston Villa          1  0.978420   1.593131     0.978420      1.593131
Wolves               1  0.955344   1.324212     0.955344      1.324212
Crystal Palace       1  0.724058   2.337557     0.724058      2.337557
Southampton          1  0.982371   1.615280     0.982371      1.615280
Newcastle Utd        1  1.053173   1.241841     1.053173      1.241841
Brighton             1  1.153725   1.134768     1.153725      1.134768
Burnley              1  1.221208   1.035400     1.221208      1.035400
Fulham               1  1.241841   1.053173     1.241841      1.053173
West Brom            1  1.002954   2.144376     1.002954      2.144376
Sheffield Utd        1  1.035400   1.221208     1.035400      1.221208

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier
Squad,,,,,
Manchester City,1.910811,0.813514,1.443597,1.063978,1.063978
Manchester Utd,1.581081,1.118919,1.194490,0.837536,0.837536
Chelsea,1.664865,0.859459,1.257787,0.956913,0.956913
Liverpool,1.913514,1.205405,1.445639,1.221605,1.221605
Leicester City,1.464865,1.235135,1.106690,1.044275,1.044275
West Ham,1.402703,1.267568,1.059727,1.151549,1.151549
Tottenham,1.421622,1.289189,1.074020,0.865959,0.865959
Everton,1.240541,1.313514,0.937215,0.570358,0.570358
Arsenal,1.416216,1.189189,1.069936,0.801268,0.801268
Leeds United,1.500000,1.654054,1.133234,1.429584,1.429584
Aston Villa,1.405405,1.364865,1.061769,0.696183,0.696183
Wolves,1.054054,1.194595,0.796326,0.906352,0.906352
Crystal Palace,0.856757,1.508108,0.647270,0.845116,0.845116
Southampton,1.105405,1.421622,0.835122,0.888698,0.888698
Newcastle Utd,1.072973,1.432432,0.810620,0.981547,0.981547
Brighton,1.383784,0.989189,1.045434,0.833746,0.833746
Burnley,1.051351,1.540541,0.794285,1.161560,1.161560
Fulham,1.070270,1.400000,0.808578,1.160306,1.160306
West Brom,0.864865,1.764865,0.653396,1.159665,1.159665
Sheffield Utd,0.829730,1.656757,0.626852,1.247876,1.247876

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      1  2.033061   0.707553     2.033061      0.707553
Manchester Utd       1  1.324212   0.955344     1.324212      0.955344
Chelsea              1  1.593131   0.978420     1.593131      0.978420
Liverpool            1  2.337557   0.724058     2.337557      0.724058
Leicester City       1  1.529722   1.231066     1.529722      1.231066
West Ham             1  1.615280   0.982371     1.615280      0.982371
Tottenham            1  1.231066   1.529722     1.231066      1.529722
Everton              1  0.707553   2.033061     0.707553      2.033061
Arsenal              1  1.134768   1.153725     1.134768      1.153725
Leeds United         1  2.144376   1.002954     2.144376      1.002954
Aston Villa          1  0.978420   1.593131     0.978420      1.593131
Wolves               1  0.955344   1.324212     0.955344      1.324212
Crystal Palace       1  0.724058   2.337557     0.724058      2.337557
Southampton          1  0.982371   1.615280     0.982371      1.615280
Newcastle Utd        1  1.053173   1.241841     1.053173      1.241841
Brighton             1  1.153725   1.134768     1.153725      1.134768
Burnley              1  1.221208   1.035400     1.221208      1.035400
Fulham               1  1.241841   1.053173     1.241841      1.053173
West Brom            1  1.002954   2.144376     1.002954      2.144376
Sheffield Utd        1  1.035400   1.221208     1.035400      1.221208

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier,next10_xG_xA_multiplier
Squad,,,,,,
Manchester City,1.910811,0.813514,1.443597,1.063978,1.063978,1.063978
Manchester Utd,1.581081,1.118919,1.194490,0.837536,0.837536,0.837536
Chelsea,1.664865,0.859459,1.257787,0.956913,0.956913,0.956913
Liverpool,1.913514,1.205405,1.445639,1.221605,1.221605,1.221605
Leicester City,1.464865,1.235135,1.106690,1.044275,1.044275,1.044275
West Ham,1.402703,1.267568,1.059727,1.151549,1.151549,1.151549
Tottenham,1.421622,1.289189,1.074020,0.865959,0.865959,0.865959
Everton,1.240541,1.313514,0.937215,0.570358,0.570358,0.570358
Arsenal,1.416216,1.189189,1.069936,0.801268,0.801268,0.801268
Leeds United,1.500000,1.654054,1.133234,1.429584,1.429584,1.429584
Aston Villa,1.405405,1.364865,1.061769,0.696183,0.696183,0.696183
Wolves,1.054054,1.194595,0.796326,0.906352,0.906352,0.906352
Crystal Palace,0.856757,1.508108,0.647270,0.845116,0.845116,0.845116
Southampton,1.105405,1.421622,0.835122,0.888698,0.888698,0.888698
Newcastle Utd,1.072973,1.432432,0.810620,0.981547,0.981547,0.981547
Brighton,1.383784,0.989189,1.045434,0.833746,0.833746,0.833746
Burnley,1.051351,1.540541,0.794285,1.161560,1.161560,1.161560
Fulham,1.070270,1.400000,0.808578,1.160306,1.160306,1.160306
West Brom,0.864865,1.764865,0.653396,1.159665,1.159665,1.159665
Sheffield Utd,0.829730,1.656757,0.626852,1.247876,1.247876,1.247876

In [11]:
metric = 'next1_xP'
#minGames = players['games played'] >= 3

numberToShow = 50
display(players.sort_values(by=[metric], ascending=False)[['web_name','team_name',\
         'now_cost','games played','total_points','adjusted points','points_per_game',\
         'adjusted points per game','next1_xP','next5_xP','next10_xP']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,next1_xP,next5_xP,next10_xP
id,,,,,,,,,,,
608,Carson,Manchester City,39,1.000000,7,8.773191,7.0,8.773191,8.971396,8.971396,8.971396
254,Salah,Liverpool,129,36.290323,225,221.933557,6.2,6.115502,7.016510,7.016510,7.016510
272,De Bruyne,Manchester City,118,24.150943,128,152.018560,5.3,6.294518,6.539732,6.539732,6.539732
251,Mané,Liverpool,117,34.042553,160,178.650646,4.7,5.247863,6.012431,6.012431,6.012431
388,Kane,Tottenham,119,34.117647,232,214.569318,6.8,6.289101,5.897873,5.897873,5.897873
259,Alexander-Arnold,Liverpool,78,35.227273,155,171.559483,4.4,4.870076,5.863803,5.863803,5.863803
302,Fernandes,Manchester Utd,114,36.969697,244,227.033240,6.6,6.141063,5.736807,5.736807,5.736807
202,Bamford,Leeds United,66,36.862745,188,176.472500,5.1,4.787286,5.684847,5.684847,5.684847
301,Lingard,West Ham,66,14.927536,103,76.584379,6.9,5.130410,5.513063,5.513063,5.513063
224,Vardy,Leicester City,102,32.830189,174,174.097727,5.3,5.302977,5.415370,5.415370,5.415370
570,Raphinha,Leeds United,55,29.090909,128,127.079984,4.4,4.368374,5.320638,5.320638,5.320638
276,Sterling,Manchester City,110,29.800000,149,151.677547,5.0,5.089851,5.290373,5.290373,5.290373
271,Gündogan,Manchester City,55,28.035714,157,141.041807,5.6,5.030791,5.211650,5.211650,5.211650
277,Cancelo,Manchester City,58,28.163265,138,137.712490,4.9,4.889791,5.148650,5.148650,5.148650
255,Robertson,Liverpool,72,37.317073,153,157.163654,4.1,4.211575,5.114535,5.114535,5.114535
468,Jota,Liverpool,69,18.085106,85,79.217765,4.7,4.380276,5.028667,5.028667,5.028667
194,Casilla,Leeds United,41,2.000000,11,8.530183,5.5,4.265092,4.967178,4.967178,4.967178
437,Antonio,West Ham,66,25.217391,116,117.042045,4.6,4.641322,4.955028,4.955028,4.955028
203,Harrison,Leeds United,56,35.227273,155,144.953705,4.4,4.114815,4.952505,4.952505,4.952505
560,Kelleher,Liverpool,45,2.000000,10,8.396564,5.0,4.198282,4.939123,4.939123,4.939123
275,Mahrez,Manchester City,81,26.226415,139,124.904976,5.3,4.762564,4.921647,4.921647,4.921647
390,Son,Tottenham,97,35.967742,223,188.712990,6.2,5.246729,4.904155,4.904155,4.904155
273,Stones,Manchester City,51,21.034483,122,96.798159,5.8,4.601880,4.841146,4.841146,4.841146
249,Firmino,Liverpool,91,34.871795,136,152.478864,3.9,4.372556,4.805320,4.805320,4.805320
252,Alisson,Liverpool,60,32.195122,132,129.178839,4.1,4.012373,4.757344,4.757344,4.757344
506,Wilson,Newcastle Utd,65,25.769231,134,122.490455,5.2,4.753361,4.717642,4.717642,4.717642
246,Matip,Liverpool,54,10.000000,42,38.119639,4.2,3.811964,4.699064,4.699064,4.699064
213,Meslier,Leeds United,48,35.000000,154,137.078207,4.4,3.916520,4.622288,4.622288,4.622288
699,Jebbison,Sheffield Utd,45,3.030303,10,12.400000,3.3,4.092000,4.615514,4.615514,4.615514
435,Cresswell,West Ham,57,35.000000,147,144.964678,4.2,4.141848,4.613496,4.613496,4.613496
91,Wood,Burnley,65,32.380952,136,139.345227,4.2,4.303308,4.592891,4.592891,4.592891
200,Dallas,Leeds United,55,36.739130,169,128.314028,4.6,3.492571,4.591044,4.591044,4.591044
96,Pope,Burnley,55,32.000000,144,128.625952,4.5,4.019561,4.588896,4.588896,4.588896
556,Dias,Manchester City,59,31.136364,137,134.079134,4.4,4.306191,4.533368,4.533368,4.533368
112,Arrizabalaga,Chelsea,47,6.046512,26,28.240152,4.3,4.670487,4.480542,4.480542,4.480542
274,Mendy,Manchester City,59,13.125000,63,55.641543,4.8,4.239356,4.455109,4.455109,4.455109
284,Foden,Manchester City,61,26.875000,129,114.860901,4.8,4.273894,4.413431,4.413431,4.413431
589,Phillips,Liverpool,42,15.897436,62,56.618022,3.9,3.561456,4.411027,4.411027,4.411027
232,Chilwell,Chelsea,59,26.200000,131,120.581819,5.0,4.602359,4.381826,4.381826,4.381826
245,Adrián,Liverpool,42,2.972973,11,10.562460,3.7,3.552828,4.293669,4.293669,4.293669
558,Coufal,West Ham,48,32.777778,118,125.457090,3.6,3.827504,4.293451,4.293451,4.293451
280,Laporte,Manchester City,60,16.111111,58,65.468080,3.6,4.063536,4.289141,4.289141,4.289141
104,Alonso,Chelsea,56,12.954545,57,58.207755,4.4,4.493230,4.258384,4.258384,4.258384
235,Barnes,Leicester City,66,25.200000,126,105.670091,5.0,4.193258,4.256815,4.256815,4.256815
283,Zinchenko,Manchester City,55,19.090909,63,76.951832,3.3,4.030810,4.256160,4.256160,4.256160
4,Aubameyang,Arsenal,113,27.826087,128,129.617381,4.6,4.658125,4.248884,4.248884,4.248884
120,Mount,Chelsea,73,35.365854,145,153.972444,4.1,4.353704,4.240891,4.240891,4.240891
109,Rüdiger,Chelsea,47,18.039216,92,80.050558,5.1,4.437585,4.229727,4.229727,4.229727
481,Pereira,West Brom,54,33.260870,153,132.353455,4.6,3.979254,4.166549,4.166549,4.166549
300,Shaw,Manchester Utd,55,31.794872,124,128.183027,3.9,4.031563,4.162578,4.162578,4.162578

In [12]:
# save predictions
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players.to_csv(filepath)