In [1]:
# recent gameweek
latest_gameweek = 21

In [2]:
import pandas as pd
import numpy as np
import json
import requests
from scipy.stats import poisson

# allow more data columns to be shown than by default
pd.set_option('max_columns',100)

In [3]:
# fetch FPL fixtures online
fixtures_text = json.loads(requests.get('https://fantasy.premierleague.com/api/fixtures').text)
fixtures = pd.DataFrame(fixtures_text)
fixtures.head(20)

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,pulse_id,started,stats,team_a,team_a_difficulty,team_a_score,team_h,team_h_difficulty,team_h_score
0,2128457,NaN,False,False,170,None,0,False,59067,None,[],17,3,NaN,2,4,NaN
1,2128467,NaN,False,False,180,None,0,False,59077,None,[],7,3,NaN,2,3,NaN
2,2128447,NaN,False,False,160,None,0,False,59057,None,[],8,2,NaN,4,2,NaN
3,2128440,NaN,False,False,153,None,0,False,59050,None,[],12,3,NaN,7,4,NaN
4,2128608,NaN,False,False,321,None,0,False,59218,None,[],17,2,NaN,8,4,NaN
5,2128459,NaN,False,False,172,None,0,False,59069,None,[],16,3,NaN,10,3,NaN
6,2128612,NaN,False,False,325,None,0,False,59222,None,[],16,5,NaN,12,3,NaN
7,2128288,1.0,True,True,2,2020-09-12T11:30:00Z,90,False,58898,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",1,2,3.0,8,3,0.0
8,2128287,1.0,True,True,1,2020-09-12T14:00:00Z,90,False,58897,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",16,3,0.0,6,3,1.0
9,2128289,1.0,True,True,3,2020-09-12T16:30:00Z,90,False,58899,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",10,5,3.0,11,2,4.0
10,2128293,1.0,True,True,6,2020-09-12T19:00:00Z,90,False,58903,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",14,3,2.0,19,2,0.0
11,2128292,1.0,True,True,5,2020-09-13T13:00:00Z,90,False,58902,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",9,2,3.0,18,4,0.0
12,2128291,1.0,True,True,4,2020-09-13T15:30:00Z,90,False,58901,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",7,4,1.0,17,3,0.0
13,2128295,1.0,True,True,8,2020-09-14T17:00:00Z,90,False,58905,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",20,2,2.0,15,3,0.0
14,2128294,1.0,True,True,7,2020-09-14T19:15:00Z,90,False,58904,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,2,3.0,3,4,1.0
15,2128299,2.0,True,True,12,2020-09-19T11:30:00Z,90,False,58909,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",18,3,2.0,7,2,5.0
16,2128300,2.0,True,True,13,2020-09-19T14:00:00Z,90,False,58910,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",8,3,3.0,10,2,4.0
17,2128302,2.0,True,True,15,2020-09-19T16:30:00Z,90,False,58912,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",6,4,3.0,13,3,1.0
18,2128296,2.0,True,True,9,2020-09-19T19:00:00Z,90,False,58906,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",19,3,1.0,1,3,2.0
19,2128304,2.0,True,True,17,2020-09-20T11:00:00Z,90,False,58914,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",17,3,5.0,16,4,2.0

In [4]:
filepath = '../data/fbref/team_stats_week' + str(latest_gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col='Squad')
display(teamStats)

,Rk,MP,W,D,L,GF,GA,GDiff,Pts,xG,xGA,xGDiff,xGDiff/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes,xG per game,xGA per game,probability no goals allowed
Squad,,,,,,,,,,,,,,,,,,,,,
Manchester City,1,20,13,5,2,37,13,24,44,36.4,14.8,21.6,1.08,W W W W W,NaN,İlkay Gündoğan - 7,Ederson,NaN,1.820000,0.740000,0.477114
Manchester Utd,2,21,12,5,4,37,27,10,41,33.6,26.9,6.7,0.32,W D W L D,NaN,Bruno Fernandes - 11,David de Gea,NaN,1.600000,1.280952,0.277773
Liverpool,3,21,11,7,3,43,24,19,40,41.0,23.5,17.5,0.84,L D L W W,600.0,Mohamed Salah - 15,Alisson,NaN,1.952381,1.119048,0.326591
Leicester City,4,21,12,3,6,37,25,12,39,31.3,24.0,7.3,0.35,W W W D L,NaN,Jamie Vardy - 11,Kasper Schmeichel,NaN,1.490476,1.142857,0.318907
West Ham,5,21,10,5,6,31,27,4,35,28.6,24.7,3.9,0.19,W W W W L,182.0,Tomáš Souček - 7,Łukasz Fabiański,NaN,1.361905,1.176190,0.308452
Tottenham,6,20,9,6,5,34,21,13,33,27.0,23.3,3.7,0.19,W D W L L,200.0,Harry Kane Son Heung-min - 12,Hugo Lloris,NaN,1.350000,1.165000,0.311923
Chelsea,7,21,9,6,6,35,23,12,33,32.6,21.2,11.4,0.54,L W L D W,182.0,Tammy Abraham - 6,Edouard Mendy,NaN,1.552381,1.009524,0.364392
Everton,8,19,10,3,6,29,24,5,33,23.2,24.1,-0.9,-0.05,W L W D L,200.0,Dominic Calvert-Lewin - 11,Jordan Pickford,NaN,1.221053,1.268421,0.281275
Aston Villa,9,19,10,2,7,34,21,13,32,32.4,24.5,7.9,0.42,L L W L W,NaN,Ollie Watkins - 8,Emiliano Martínez,NaN,1.705263,1.289474,0.275416
Arsenal,10,21,9,4,8,26,20,6,31,28.7,24.5,4.2,0.20,W D W W D,182.0,Alexandre Lacazette - 8,Bernd Leno,NaN,1.366667,1.166667,0.311403
Southampton,11,20,8,5,7,27,25,2,29,20.2,24.4,-4.2,-0.21,D W L L L,182.0,Danny Ings - 7,Alex McCarthy,NaN,1.010000,1.220000,0.295230
Leeds United,12,20,9,2,9,35,36,-1,29,32.3,35.9,-3.6,-0.18,W L L W W,NaN,Patrick Bamford - 11,Illan Meslier,NaN,1.615000,1.795000,0.166127
Crystal Palace,13,21,7,5,9,25,36,-11,26,18.5,28.8,-10.4,-0.49,W D L L W,182.0,Wilfried Zaha - 9,Vicente Guaita,NaN,0.880952,1.371429,0.253744
Wolves,14,21,6,5,10,21,30,-9,23,20.8,25.0,-4.2,-0.20,D L L D L,NaN,Pedro Neto Raúl Jiménez - 4,Rui Patrício,NaN,0.990476,1.190476,0.304076
Newcastle Utd,15,21,6,4,11,21,34,-13,22,19.5,29.9,-10.4,-0.49,L L L L W,NaN,Callum Wilson - 10,Karl Darlow,NaN,0.928571,1.423810,0.240795
Burnley,16,20,6,4,10,13,26,-13,22,16.6,29.9,-13.3,-0.66,L L W W L,NaN,Chris Wood - 4,Nick Pope,NaN,0.830000,1.495000,0.224249
Brighton,17,21,4,9,8,23,29,-6,21,29.1,22.6,6.5,0.31,D L W D W,182.0,Neal Maupay - 7,Mathew Ryan,NaN,1.385714,1.076190,0.340892
Fulham,18,20,2,8,10,17,29,-12,14,22.0,29.4,-7.4,-0.37,D L L D D,200.0,Bobby Reid - 5,Alphonse Areola,NaN,1.100000,1.470000,0.229925
West Brom,19,21,2,6,13,17,50,-33,12,13.6,39.4,-25.9,-1.23,L W L L D,NaN,Matheus Pereira - 5,Sam Johnstone,NaN,0.647619,1.876190,0.153173
Sheffield Utd,20,21,2,2,17,12,34,-22,8,19.5,30.1,-10.6,-0.50,L W L W L,NaN,David McGoldrick - 5,Aaron Ramsdale,NaN,0.928571,1.433333,0.238513

In [5]:
# fetch FPL data
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players = pd.read_csv(filepath, index_col=0)
players.head()

,adjusted points,adjusted points per game,assists,assists_week1,assists_week10,assists_week11,assists_week12,assists_week13,assists_week14,assists_week15,assists_week16,assists_week17,assists_week18,assists_week19,assists_week2,assists_week20,assists_week21,assists_week3,assists_week4,assists_week5,assists_week6,assists_week7,assists_week8,assists_week9,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheet_points,clean_sheets,cleansheet_week1,cleansheet_week10,cleansheet_week11,cleansheet_week12,cleansheet_week13,cleansheet_week14,cleansheet_week15,cleansheet_week16,cleansheet_week17,cleansheet_week18,cleansheet_week19,cleansheet_week2,cleansheet_week20,cleansheet_week21,cleansheet_week3,cleansheet_week4,cleansheet_week5,cleansheet_week6,cleansheet_week7,cleansheet_week8,...,xGA_week5,xGA_week6,xGA_week7,xGA_week8,xGA_week9,xG_points,xG_week1,xG_week10,xG_week11,xG_week12,xG_week13,xG_week14,xG_week15,xG_week16,xG_week17,xG_week18,xG_week19,xG_week2,xG_week20,xG_week21,xG_week3,xG_week4,xG_week5,xG_week6,xG_week7,xG_week8,xG_week9,xPoints,xPoints week 1,xPoints week 10,xPoints week 11,xPoints week 12,xPoints week 13,xPoints week 14,xPoints week 15,xPoints week 16,xPoints week 17,xPoints week 18,xPoints week 19,xPoints week 2,xPoints week 20,xPoints week 21,xPoints week 3,xPoints week 4,xPoints week 5,xPoints week 6,xPoints week 7,xPoints week 8,xPoints week 9,yellow_cards
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,35.363983,2.904899,0,NaN,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0,143,100.0,100.0,15.163983,3,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.4,1.2,0.3,1.8,2.5,4.20,NaN,0.0,NaN,NaN,0.0,0.1,NaN,NaN,NaN,0.0,0.4,0.0,0.0,0.1,0.0,0.0,0.1,0.0,NaN,NaN,NaN,3.586388,NaN,0.000000,NaN,NaN,1.000000,3.397316,NaN,NaN,NaN,2.471518,7.363273,1.00000,3.204777,3.586388,1.199148,5.274923,3.586388,1.000000,NaN,NaN,NaN,1
4,76.162467,4.505385,1,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,1.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6,202,50.0,50.0,5.264197,7,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.4,1.2,0.3,1.8,2.5,29.52,0.4,0.4,0.2,0.2,0.3,NaN,NaN,0.6,0.8,0.1,1.4,0.1,NaN,NaN,0.0,0.0,0.0,0.3,0.9,0.0,0.3,NaN,3.818731,4.246597,3.606531,1.70657,7.132871,NaN,NaN,5.449329,6.67032,2.867879,11.740818,5.61799,NaN,NaN,2.049787,2.818731,3.746597,4.101194,7.540818,2.765299,3.282085,2
5,17.860721,4.465180,1,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,71,100.0,100.0,4.982452,2,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.60,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.586388,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,10.658585,NaN,3.804777,2.586388,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [6]:
coefficients = pd.DataFrame(np.nan, index=teamStats.index, columns=['xG','xGA','coefficient'])

for ix in coefficients.index:
    coefficients.loc[ix, 'xG'] = teamStats.loc[ix, 'xG per game']
    coefficients.loc[ix, 'xGA'] = teamStats.loc[ix, 'xGA per game']
    coefficients.loc[ix, 'coefficient'] = 0.755489209043063 * coefficients.loc[ix, 'xG']

display(coefficients)

                       xG       xGA  coefficient
Squad
Manchester City  1.820000  0.740000     1.374990
Manchester Utd   1.600000  1.280952     1.208783
Liverpool        1.952381  1.119048     1.475003
Leicester City   1.490476  1.142857     1.126039
West Ham         1.361905  1.176190     1.028904
Tottenham        1.350000  1.165000     1.019910
Chelsea          1.552381  1.009524     1.172807
Everton          1.221053  1.268421     0.922492
Aston Villa      1.705263  1.289474     1.288308
Arsenal          1.366667  1.166667     1.032502
Southampton      1.010000  1.220000     0.763044
Leeds United     1.615000  1.795000     1.220115
Crystal Palace   0.880952  1.371429     0.665550
Wolves           0.990476  1.190476     0.748294
Newcastle Utd    0.928571  1.423810     0.701526
Burnley          0.830000  1.495000     0.627056
Brighton         1.385714  1.076190     1.046892
Fulham           1.100000  1.470000     0.831038
West Brom        0.647619  1.876190     0.489269
Sheffield Utd    0.928571  1.433333     0.701526

In [7]:
def points_for_clean_sheet(position):
    if position < 3:
        return 4
    elif position==3:
        return 1
    elif position==4:
        return 0

In [8]:
goalkeepers = players['element_type'] == 1
defenders = players['element_type'] == 2
midfielders = players['element_type'] == 3
forwards = players['element_type'] == 4

In [9]:
home_coefficient = 1.0721855628874228
away_coefficient = 0.9280143971205758

In [10]:
team_names = np.sort(teamStats.index)
# for some reason the fpl team numbers are not alphabetical with leeds and leicester...
if (team_names[8]=='Leeds United') & (team_names[9]=='Leicester City'):
    team_names[8] = 'Leicester City'
    team_names[9] = 'Leeds United'
    
# how many gameweeks ahead do you want to look at
for number_gameweeks in [1,5,10]:
    expectations = pd.DataFrame(0, index=teamStats.index, \
                columns=['games','total_xG','total_xGA','xG per game', 'xGA per game'])
    gameweeks = np.arange(latest_gameweek+1, latest_gameweek+number_gameweeks+1)
    games = fixtures[fixtures['event'].isin(gameweeks)]
    for ix in games.index:
        home_team_number = games.loc[ix,'team_h']
        home_team = team_names[home_team_number-1]
        away_team_number = games.loc[ix,'team_a']
        away_team = team_names[away_team_number-1]

        home_xG = home_coefficient * coefficients.loc[home_team,'coefficient'] * \
                                    coefficients.loc[away_team,'xGA']
        away_xG = away_coefficient * coefficients.loc[away_team,'coefficient'] * \
                                    coefficients.loc[home_team,'xGA']
        expectations.loc[home_team,'total_xG'] += home_xG
        expectations.loc[home_team,'total_xGA'] += away_xG
        expectations.loc[home_team,'games'] += 1
        expectations.loc[away_team,'total_xG'] += away_xG
        expectations.loc[away_team,'total_xGA'] += home_xG
        expectations.loc[away_team,'games'] += 1

    expectations['xG per game'] = expectations['total_xG'] / expectations['games']
    expectations['xGA per game'] = expectations['total_xGA'] / expectations['games']
    print('expectations:')
    display(expectations)

    new_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    coefficients[new_column] = expectations['xG per game'] / coefficients['xG']
    print('coefficients:')
    display(coefficients)
    
    new_column = 'next' + str(number_gameweeks) + '_xP'
    multiplier_xG_xA_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    for ix in players.index:
        team = players.loc[ix,'team_name']
        position = players.loc[ix, 'element_type']

        # adjust xP based on xg and xa for the next game
        xg_points_per_game = players.loc[ix,'xG_points'] / players.loc[ix,'games played']
        xa_points_per_game = players.loc[ix,'xA_points'] / players.loc[ix,'games played']
        xpoints = xg_points_per_game + xa_points_per_game
        players.loc[ix, new_column] = players.loc[ix, 'adjusted points per game'] - \
                            xpoints + coefficients.loc[team, multiplier_xG_xA_column]*xpoints    

        # adjust xP based on probability to keep a clean sheet for the next game
        clean_sheet_points_per_game = players.loc[ix,'clean_sheet_points'] / \
                                        players.loc[ix,'games played']
        probability_clean_sheet_next = poisson.pmf(0, expectations.loc[team, 'xGA per game'])
        players.loc[ix, new_column] = players.loc[ix, new_column] - clean_sheet_points_per_game \
                + points_for_clean_sheet(position) * probability_clean_sheet_next

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      1  1.907636   0.497517     1.907636      0.497517
Manchester Utd       1  1.581168   0.907063     1.581168      0.907063
Liverpool            1  1.701970   1.087189     1.701970      1.087189
Leicester City       1  1.536121   1.018317     1.536121      1.018317
West Ham             1  1.231239   1.624678     1.231239      1.624678
Tottenham            1  1.103948   1.267965     1.103948      1.267965
Chelsea              1  1.267965   1.103948     1.267965      1.103948
Everton              1  1.536674   1.659335     1.536674      1.659335
Aston Villa          1  1.624678   1.231239     1.624678      1.231239
Arsenal              1  1.140686   0.936028     1.140686      0.936028
Southampton          1  0.907063   1.581168     0.907063      1.581168
Leeds United         1  1.659335   1.536674     1.659335      1.536674
Crystal Palace       1  0.879402   1.031542     0.879402      1.031542
Wolves               1  0.936028   1.140686     0.936028      1.140686
Newcastle Utd        1  1.031542   0.879402     1.031542      0.879402
Burnley              1  0.497517   1.907636     0.497517      1.907636
Brighton             1  1.087189   1.701970     1.087189      1.701970
Fulham               1  1.018317   1.536121     1.018317      1.536121
West Brom            1  0.650803   1.411206     0.650803      1.411206
Sheffield Utd        1  1.411206   0.650803     1.411206      0.650803

coefficients:

                       xG       xGA  coefficient  next1_xG_xA_multiplier
Squad
Manchester City  1.820000  0.740000     1.374990                1.048152
Manchester Utd   1.600000  1.280952     1.208783                0.988230
Liverpool        1.952381  1.119048     1.475003                0.871741
Leicester City   1.490476  1.142857     1.126039                1.030624
West Ham         1.361905  1.176190     1.028904                0.904056
Tottenham        1.350000  1.165000     1.019910                0.817739
Chelsea          1.552381  1.009524     1.172807                0.816787
Everton          1.221053  1.268421     0.922492                1.258483
Aston Villa      1.705263  1.289474     1.288308                0.952743
Arsenal          1.366667  1.166667     1.032502                0.834649
Southampton      1.010000  1.220000     0.763044                0.898082
Leeds United     1.615000  1.795000     1.220115                1.027452
Crystal Palace   0.880952  1.371429     0.665550                0.998240
Wolves           0.990476  1.190476     0.748294                0.945029
Newcastle Utd    0.928571  1.423810     0.701526                1.110891
Burnley          0.830000  1.495000     0.627056                0.599418
Brighton         1.385714  1.076190     1.046892                0.784570
Fulham           1.100000  1.470000     0.831038                0.925742
West Brom        0.647619  1.876190     0.489269                1.004917
Sheffield Utd    0.928571  1.433333     0.701526                1.519760

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      5  8.275720   3.893999     1.655144      0.778800
Manchester Utd       5  8.307506   5.120328     1.661501      1.024066
Liverpool            5  8.404592   5.665868     1.680918      1.133174
Leicester City       5  6.887213   6.173306     1.377443      1.234661
West Ham             5  6.207851   6.285673     1.241570      1.257135
Tottenham            5  6.604115   5.477561     1.320823      1.095512
Chelsea              5  7.556953   4.478871     1.511391      0.895774
Everton              5  6.251913   7.185652     1.250383      1.437130
Aston Villa          5  8.247539   6.948519     1.649508      1.389704
Arsenal              5  6.277619   6.765772     1.255524      1.353154
Southampton          5  4.613349   5.880519     0.922670      1.176104
Leeds United         5  7.809257   8.218655     1.561851      1.643731
Crystal Palace       5  4.768567   6.220732     0.953713      1.244146
Wolves               5  5.129035   5.602062     1.025807      1.120412
Newcastle Utd        5  4.335779   6.512063     0.867156      1.302413
Burnley              5  3.958454   6.740532     0.791691      1.348106
Brighton             5  7.349169   4.941428     1.469834      0.988286
Fulham               5  5.379366   6.399674     1.075873      1.279935
West Brom            5  3.095101   8.651711     0.619020      1.730342
Sheffield Utd        5  4.734983   7.031156     0.946997      1.406231

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier
Squad,,,,,
Manchester City,1.820000,0.740000,1.374990,1.048152,0.909420
Manchester Utd,1.600000,1.280952,1.208783,0.988230,1.038438
Liverpool,1.952381,1.119048,1.475003,0.871741,0.860958
Leicester City,1.490476,1.142857,1.126039,1.030624,0.924163
West Ham,1.361905,1.176190,1.028904,0.904056,0.911642
Tottenham,1.350000,1.165000,1.019910,0.817739,0.978387
Chelsea,1.552381,1.009524,1.172807,0.816787,0.973595
Everton,1.221053,1.268421,0.922492,1.258483,1.024020
Aston Villa,1.705263,1.289474,1.288308,0.952743,0.967304
Arsenal,1.366667,1.166667,1.032502,0.834649,0.918676
Southampton,1.010000,1.220000,0.763044,0.898082,0.913534
Leeds United,1.615000,1.795000,1.220115,1.027452,0.967091
Crystal Palace,0.880952,1.371429,0.665550,0.998240,1.082594
Wolves,0.990476,1.190476,0.748294,0.945029,1.035671
Newcastle Utd,0.928571,1.423810,0.701526,1.110891,0.933860
Burnley,0.830000,1.495000,0.627056,0.599418,0.953844
Brighton,1.385714,1.076190,1.046892,0.784570,1.060705
Fulham,1.100000,1.470000,0.831038,0.925742,0.978066
West Brom,0.647619,1.876190,0.489269,1.004917,0.955840
Sheffield Utd,0.928571,1.433333,0.701526,1.519760,1.019843

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City     10  17.899515   7.628652     1.789951      0.762865
Manchester Utd      10  14.902073  11.791195     1.490207      1.179120
Liverpool           10  17.591687  11.221390     1.759169      1.122139
Leicester City      10  13.427066  11.687588     1.342707      1.168759
West Ham            10  13.095678  12.441608     1.309568      1.244161
Tottenham           10  13.290556  10.494893     1.329056      1.049489
Chelsea             10  16.175432   9.439060     1.617543      0.943906
Everton             10  12.478779  12.391346     1.247878      1.239135
Aston Villa         10  16.676276  12.817495     1.667628      1.281750
Arsenal             10  12.738996  12.415913     1.273900      1.241591
Southampton         10   9.885385  10.667475     0.988539      1.066747
Leeds United        10  14.839108  17.566757     1.483911      1.756676
Crystal Palace      10   9.244850  12.730649     0.924485      1.273065
Wolves              10   9.400659  12.828536     0.940066      1.282854
Newcastle Utd       10   9.077310  12.864290     0.907731      1.286429
Burnley             10   7.916505  13.410311     0.791651      1.341031
Brighton            10  14.083665   9.963209     1.408366      0.996321
Fulham              10  10.556354  15.315966     1.055635      1.531597
West Brom           10   6.228476  16.505984     0.622848      1.650598
Sheffield Utd       10   9.412671  14.738724     0.941267      1.473872

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier,next10_xG_xA_multiplier
Squad,,,,,,
Manchester City,1.820000,0.740000,1.374990,1.048152,0.909420,0.983490
Manchester Utd,1.600000,1.280952,1.208783,0.988230,1.038438,0.931380
Liverpool,1.952381,1.119048,1.475003,0.871741,0.860958,0.901038
Leicester City,1.490476,1.142857,1.126039,1.030624,0.924163,0.900857
West Ham,1.361905,1.176190,1.028904,0.904056,0.911642,0.961571
Tottenham,1.350000,1.165000,1.019910,0.817739,0.978387,0.984486
Chelsea,1.552381,1.009524,1.172807,0.816787,0.973595,1.041976
Everton,1.221053,1.268421,0.922492,1.258483,1.024020,1.021969
Aston Villa,1.705263,1.289474,1.288308,0.952743,0.967304,0.977930
Arsenal,1.366667,1.166667,1.032502,0.834649,0.918676,0.932122
Southampton,1.010000,1.220000,0.763044,0.898082,0.913534,0.978751
Leeds United,1.615000,1.795000,1.220115,1.027452,0.967091,0.918830
Crystal Palace,0.880952,1.371429,0.665550,0.998240,1.082594,1.049415
Wolves,0.990476,1.190476,0.748294,0.945029,1.035671,0.949105
Newcastle Utd,0.928571,1.423810,0.701526,1.110891,0.933860,0.977556
Burnley,0.830000,1.495000,0.627056,0.599418,0.953844,0.953796
Brighton,1.385714,1.076190,1.046892,0.784570,1.060705,1.016347
Fulham,1.100000,1.470000,0.831038,0.925742,0.978066,0.959669
West Brom,0.647619,1.876190,0.489269,1.004917,0.955840,0.961750
Sheffield Utd,0.928571,1.433333,0.701526,1.519760,1.019843,1.013672

In [11]:
metric = 'next1_xP'
#minGames = players['games played'] >= 3

numberToShow = 50
display(players.sort_values(by=[metric], ascending=False)[['web_name','team_name',\
         'now_cost','games played','total_points','adjusted points','points_per_game',\
         'adjusted points per game','next1_xP','next5_xP','next10_xP']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,next1_xP,next5_xP,next10_xP
id,,,,,,,,,,,
272,De Bruyne,Manchester City,118,16.964286,95,117.336593,5.6,6.916683,7.216380,6.581042,6.848029
302,Fernandes,Manchester Utd,114,21.014493,145,135.561677,6.9,6.450866,6.539937,6.652619,6.265715
224,Vardy,Leicester City,100,18.125000,116,108.766157,6.4,6.000891,6.091691,5.776037,5.706937
277,Cancelo,Manchester City,60,15.087719,86,82.050783,5.7,5.438250,6.005032,5.284572,5.380335
388,Kane,Tottenham,111,19.066667,143,123.120966,7.5,6.457393,5.965480,6.399062,6.415521
254,Salah,Liverpool,126,20.000000,146,125.844892,7.3,6.292245,5.906496,5.858024,5.985443
273,Stones,Manchester City,52,11.000000,77,57.493012,7.0,5.226637,5.783166,5.092249,5.172238
202,Bamford,Leeds United,66,19.833333,119,112.467887,6.0,5.670650,5.743068,5.583835,5.456525
506,Wilson,Newcastle Utd,67,18.965517,110,98.271348,5.8,5.181580,5.408911,5.045991,5.135570
251,Mané,Liverpool,119,19.074074,103,109.577302,5.4,5.744829,5.384222,5.337864,5.457426
37,Grealish,Aston Villa,77,18.888889,119,103.063262,6.3,5.456290,5.367228,5.356977,5.409118
556,Dias,Manchester City,60,17.843137,91,85.731106,5.1,4.804710,5.357554,4.677255,4.751575
390,Son,Tottenham,98,19.861111,143,114.564748,7.2,5.768295,5.314727,5.740575,5.770478
39,Hause,Aston Villa,44,4.000000,28,21.006651,7.0,5.251663,5.239750,5.092648,5.223789
276,Sterling,Manchester City,116,17.962963,97,88.859997,5.4,4.946845,5.171645,4.752096,4.903872
164,Calvert-Lewin,Everton,76,18.000000,99,83.313078,5.5,4.628504,5.156959,4.677612,4.673419
275,Mahrez,Manchester City,81,14.000000,70,66.536134,5.0,4.752581,4.973274,4.565556,4.711016
283,Zinchenko,Manchester City,55,7.000000,35,30.459190,5.0,4.351313,4.889457,4.251509,4.303218
271,Gündogan,Manchester City,58,15.090909,83,69.820083,5.5,4.626632,4.832923,4.466700,4.590005
141,Zaha,Crystal Palace,72,18.035714,101,85.251267,5.6,4.726803,4.826096,4.921709,4.849036
508,Rodríguez,Everton,77,13.863636,61,61.434309,4.4,4.431327,4.785925,4.429070,4.477560
514,Watkins,Aston Villa,63,18.888889,85,92.353078,4.5,4.889281,4.769593,4.806471,4.833383
280,Laporte,Manchester City,60,5.937500,19,24.731455,3.2,4.165298,4.708459,4.056055,4.115482
270,Walker,Manchester City,61,15.111111,68,62.817155,4.5,4.157018,4.687408,4.071800,4.111581
5,Cédric,Arsenal,46,4.000000,20,17.860721,5.0,4.465180,4.664283,4.192270,4.324355
255,Robertson,Liverpool,74,20.909091,92,96.706205,4.4,4.625079,4.556953,4.487059,4.535853
278,Ederson,Manchester City,60,19.130435,88,76.509587,4.6,3.999365,4.523063,3.926735,3.956223
12,Martínez,Aston Villa,51,19.074074,103,84.613198,5.4,4.436032,4.500606,4.329937,4.443880
510,Bogle,Sheffield Utd,43,6.071429,17,17.592448,2.8,2.897580,4.440952,2.939477,2.870486
538,Steffen,Manchester City,44,1.000000,2,3.908456,2.0,3.908456,4.432154,3.835826,3.865313
351,Baldock,Sheffield Utd,49,17.500000,28,52.474148,1.6,2.998523,4.425015,3.035958,2.968354
483,Ramsdale,Sheffield Utd,46,21.200000,53,69.525865,2.5,3.279522,4.419333,3.306013,3.241813
203,Harrison,Leeds United,54,18.888889,85,81.451041,4.5,4.312114,4.408752,4.282098,4.177655
325,Darlow,Newcastle Utd,50,21.142857,74,78.364373,3.5,3.706423,4.403368,3.830744,3.848265
24,Saka,Arsenal,54,18.000000,81,83.140067,4.5,4.618893,4.388260,4.412753,4.468576
166,Richarlison,Everton,78,15.000000,54,59.411348,3.6,3.960757,4.374674,3.999221,3.995936
560,Kelleher,Liverpool,45,1.000000,7,4.306363,7.0,4.306363,4.348651,4.288039,4.302331
96,Pope,Burnley,54,18.846154,98,87.504895,5.2,4.643117,4.327093,4.783579,4.790955
366,Ings,Southampton,84,15.098039,77,67.874809,5.1,4.495604,4.325224,4.351056,4.460081
306,Rashford,Manchester Utd,95,20.851064,98,87.983203,4.7,4.219603,4.324765,4.368801,4.128271
249,Firmino,Liverpool,94,21.000000,84,95.313078,4.0,4.538718,4.271206,4.248717,4.332311
8,Leno,Arsenal,50,21.190476,89,83.395130,4.2,3.935501,4.258617,3.723583,3.845584
4,Aubameyang,Arsenal,113,16.904762,71,76.162467,4.2,4.505385,4.253403,4.288745,4.346304
437,Antonio,West Ham,65,13.095238,55,58.078270,4.2,4.435068,4.250437,4.265036,4.361116
266,Fernandinho,Manchester City,54,10.000000,27,37.084557,2.7,3.708456,4.246599,3.608652,3.660360
274,Mendy,Manchester City,59,6.000000,24,22.050734,4.0,3.675122,4.203636,3.593435,3.630329
509,Ampadu,Sheffield Utd,43,15.000000,30,43.910753,2.0,2.927384,4.184582,2.958356,2.892762
33,Hourihane,Aston Villa,59,4.000000,20,16.879932,5.0,4.219983,4.178609,4.153664,4.195083
11,Bellerín,Arsenal,51,17.948718,70,70.391963,3.9,3.921838,4.167570,3.671861,3.800154
468,Jota,Liverpool,66,9.038462,47,39.551877,5.2,4.375952,4.165155,4.131391,4.204139

In [12]:
# save predictions
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players.to_csv(filepath)