In [1]:
# recent gameweek
latest_gameweek = 31

In [2]:
import pandas as pd
import numpy as np
import json
import requests
from scipy.stats import poisson

# allow more data columns to be shown than by default
pd.set_option('max_columns',100)

In [3]:
# fetch FPL fixtures online
fixtures_text = json.loads(requests.get('https://fantasy.premierleague.com/api/fixtures').text)
fixtures = pd.DataFrame(fixtures_text)
fixtures.head(20)

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,pulse_id,started,stats,team_a,team_a_difficulty,team_a_score,team_h,team_h_difficulty,team_h_score
0,2128467,NaN,False,False,180,None,0,False,59077,None,[],7,3,NaN,2,4,NaN
1,2128604,NaN,False,False,317,None,0,False,59214,None,[],6,2,NaN,16,2,NaN
2,2128288,1.0,True,True,2,2020-09-12T11:30:00Z,90,False,58898,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",1,2,3.0,8,3,0.0
3,2128287,1.0,True,True,1,2020-09-12T14:00:00Z,90,False,58897,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",16,3,0.0,6,2,1.0
4,2128289,1.0,True,True,3,2020-09-12T16:30:00Z,90,False,58899,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",10,3,3.0,11,3,4.0
5,2128293,1.0,True,True,6,2020-09-12T19:00:00Z,90,False,58903,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",14,4,2.0,19,2,0.0
6,2128292,1.0,True,True,5,2020-09-13T13:00:00Z,90,False,58902,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",9,2,3.0,18,4,0.0
7,2128291,1.0,True,True,4,2020-09-13T15:30:00Z,90,False,58901,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",7,4,1.0,17,4,0.0
8,2128295,1.0,True,True,8,2020-09-14T17:00:00Z,90,False,58905,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",20,2,2.0,15,2,0.0
9,2128294,1.0,True,True,7,2020-09-14T19:15:00Z,90,False,58904,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,3,3.0,3,4,1.0
10,2128299,2.0,True,True,12,2020-09-19T11:30:00Z,90,False,58909,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",18,3,2.0,7,2,5.0
11,2128300,2.0,True,True,13,2020-09-19T14:00:00Z,90,False,58910,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",8,3,3.0,10,2,4.0
12,2128302,2.0,True,True,15,2020-09-19T16:30:00Z,90,False,58912,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",6,4,3.0,13,2,1.0
13,2128296,2.0,True,True,9,2020-09-19T19:00:00Z,90,False,58906,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",19,4,1.0,1,4,2.0
14,2128304,2.0,True,True,17,2020-09-20T11:00:00Z,90,False,58914,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",17,2,5.0,16,3,2.0
15,2128303,2.0,True,True,16,2020-09-20T13:00:00Z,90,False,58913,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,2,3.0,14,3,0.0
16,2128298,2.0,True,True,11,2020-09-20T15:30:00Z,90,False,58908,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",11,4,2.0,5,4,0.0
17,2128301,2.0,True,True,14,2020-09-20T18:00:00Z,90,False,58911,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,4,2.0,9,2,4.0
18,2128297,2.0,True,True,10,2020-09-21T17:00:00Z,90,False,58907,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",15,3,0.0,2,2,1.0
19,2128305,2.0,True,True,18,2020-09-21T19:15:00Z,90,False,58915,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",12,3,3.0,20,4,1.0

In [4]:
filepath = '../data/fbref/team_stats_week' + str(latest_gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col='Squad')
display(teamStats)

,Rk,MP,W,D,L,GF,GA,GD,Pts,xG,xGA,xGD,xGD/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes,xG per game,xGA per game,probability no goals allowed
Squad,,,,,,,,,,,,,,,,,,,,,
Manchester City,1,32,23,5,4,67,23,44,74,62.8,24.3,38.5,1.20,L W W W L,NaN,İlkay Gündoğan - 12,Ederson,NaN,1.962500,0.759375,0.467959
Manchester Utd,2,31,18,9,4,61,34,27,63,49.1,36.1,13.0,0.42,D W W W W,NaN,Bruno Fernandes - 16,David de Gea,NaN,1.583871,1.164516,0.312074
Leicester City,3,31,17,5,9,55,37,18,56,45.2,37.8,7.4,0.24,D W W L L,NaN,Jamie Vardy - 12,Kasper Schmeichel,NaN,1.458065,1.219355,0.295421
West Ham,4,31,16,7,8,51,39,12,55,42.6,37.2,5.4,0.17,W L D W W,125.0,Tomáš Souček - 9,Łukasz Fabiański,NaN,1.374194,1.200000,0.301194
Chelsea,5,31,15,9,7,50,31,19,54,50.9,26.5,24.4,0.79,W W D L W,133.0,Tammy Abraham Mason Mount... - 6,Edouard Mendy,NaN,1.641935,0.854839,0.425352
Liverpool,6,31,15,7,9,53,37,16,52,56.6,36.7,19.8,0.64,L L W W W,375.0,Mohamed Salah - 19,Alisson,NaN,1.825806,1.183871,0.306092
Tottenham,7,31,14,7,10,52,35,17,49,42.4,38.3,4.1,0.13,W L W D L,133.0,Harry Kane - 19,Hugo Lloris,NaN,1.367742,1.235484,0.290694
Everton,8,30,14,6,10,41,38,3,48,36.7,40.7,-4.1,-0.14,W L L D D,133.0,Dominic Calvert-Lewin - 14,Jordan Pickford,NaN,1.223333,1.356667,0.257518
Arsenal,9,31,13,6,12,43,35,8,45,43.5,37.6,5.9,0.19,D W D L W,133.0,Alexandre Lacazette - 13,Bernd Leno,NaN,1.403226,1.212903,0.297333
Leeds United,10,31,14,3,14,49,49,0,45,46.2,51.4,-5.1,-0.17,L D W W W,NaN,Patrick Bamford - 14,Illan Meslier,NaN,1.490323,1.658065,0.190507
Aston Villa,11,30,13,5,12,43,33,10,44,42.5,40.8,1.7,0.06,D D L W L,NaN,Ollie Watkins - 12,Emiliano Martínez,NaN,1.416667,1.360000,0.256661
Wolves,12,31,10,8,13,31,41,-10,38,32.9,36.0,-3.1,-0.10,L D L L W,NaN,Rúben Neves Pedro Neto - 5,Rui Patrício,NaN,1.061290,1.161290,0.313082
Crystal Palace,13,31,10,8,13,33,52,-19,38,24.2,47.9,-23.6,-0.76,D L W D L,125.0,Wilfried Zaha - 9,Vicente Guaita,NaN,0.780645,1.545161,0.213277
Southampton,14,31,10,6,15,39,56,-17,36,33.3,43.1,-9.8,-0.32,W L L W L,133.0,Danny Ings - 9,Alex McCarthy,NaN,1.074194,1.390323,0.248995
Brighton,15,31,7,12,12,33,38,-5,33,43.0,30.7,12.3,0.40,L W W L D,125.0,Neal Maupay - 8,Robert Sánchez,NaN,1.387097,0.990323,0.371457
Burnley,16,31,8,9,14,25,42,-17,33,30.7,45.9,-15.2,-0.49,D D W L L,NaN,Chris Wood - 7,Nick Pope,NaN,0.990323,1.480645,0.227491
Newcastle Utd,17,31,8,8,15,32,51,-19,32,30.3,43.5,-13.2,-0.43,D D L D W,NaN,Callum Wilson - 10,Karl Darlow,NaN,0.977419,1.403226,0.245803
Fulham,18,32,5,11,16,24,42,-18,26,35.4,42.0,-6.5,-0.20,W L L L L,118.0,Bobby Reid - 5,Alphonse Areola,NaN,1.106250,1.312500,0.269146
West Brom,19,31,5,9,17,28,59,-31,24,25.6,52.7,-27.1,-0.87,L D L W W,NaN,Matheus Pereira - 8,Sam Johnstone,NaN,0.825806,1.700000,0.182684
Sheffield Utd,20,31,4,2,25,17,55,-38,14,26.0,50.9,-25.0,-0.81,W L L L L,NaN,David McGoldrick - 6,Aaron Ramsdale,NaN,0.838710,1.641935,0.193605

In [5]:
# fetch FPL data
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players = pd.read_csv(filepath, index_col=0)
players.head()

,adjusted points,adjusted points per game,assists,assists_week1,assists_week10,assists_week11,assists_week12,assists_week13,assists_week14,assists_week15,assists_week16,assists_week17,assists_week18,assists_week19,assists_week2,assists_week20,assists_week21,assists_week22,assists_week23,assists_week24,assists_week25,assists_week26,assists_week27,assists_week28,assists_week29,assists_week3,assists_week30,assists_week31,assists_week4,assists_week5,assists_week6,assists_week7,assists_week8,assists_week9,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheet_points,clean_sheets,cleansheet_week1,cleansheet_week10,cleansheet_week11,cleansheet_week12,cleansheet_week13,cleansheet_week14,cleansheet_week15,cleansheet_week16,cleansheet_week17,cleansheet_week18,...,xG_week22,xG_week23,xG_week24,xG_week25,xG_week26,xG_week27,xG_week28,xG_week29,xG_week3,xG_week30,xG_week31,xG_week4,xG_week5,xG_week6,xG_week7,xG_week8,xG_week9,xPoints,xPoints week 1,xPoints week 10,xPoints week 11,xPoints week 12,xPoints week 13,xPoints week 14,xPoints week 15,xPoints week 16,xPoints week 17,xPoints week 18,xPoints week 19,xPoints week 2,xPoints week 20,xPoints week 21,xPoints week 22,xPoints week 23,xPoints week 24,xPoints week 25,xPoints week 26,xPoints week 27,xPoints week 28,xPoints week 29,xPoints week 3,xPoints week 30,xPoints week 31,xPoints week 4,xPoints week 5,xPoints week 6,xPoints week 7,xPoints week 8,xPoints week 9,yellow_cards
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,50.653928,2.659331,0,NaN,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,0,223,0.0,0.0,22.653928,3,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,NaN,0.0,0.0,0.1,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.1,0.0,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,1.000000,3.397316,NaN,NaN,NaN,2.471518,7.363273,1.00000,3.204777,3.586388,-3.000000,NaN,4.395247,1.000000,5.026123,2.807586,3.986341,1.401035,1.199148,NaN,NaN,5.274923,3.586388,1.000000,NaN,NaN,NaN,1
4,111.018341,4.420175,1,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,1.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,10,306,75.0,100.0,7.467894,7,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,...,0.1,0.1,1.9,0.0,0.1,0.8,NaN,0.0,0.0,0.0,NaN,0.0,0.0,0.3,0.9,0.0,0.3,NaN,3.818731,4.246597,3.606531,1.70657,7.132871,NaN,NaN,5.449329,6.67032,2.867879,11.740818,5.61799,NaN,NaN,1.500000,1.500000,15.348812,2.122456,1.500000,7.201897,NaN,2.100259,2.049787,3.010803,NaN,2.818731,3.746597,4.101194,7.540818,2.765299,3.282085,2
5,33.603760,3.360376,1,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,125,100.0,100.0,11.893312,2,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.1,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,10.658585,NaN,3.804777,2.586388,1.986388,3.090127,4.095247,NaN,4.426123,NaN,3.986341,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [6]:
coefficients = pd.DataFrame(np.nan, index=teamStats.index, columns=['xG','xGA','coefficient'])

for ix in coefficients.index:
    coefficients.loc[ix, 'xG'] = teamStats.loc[ix, 'xG per game']
    coefficients.loc[ix, 'xGA'] = teamStats.loc[ix, 'xGA per game']
    coefficients.loc[ix, 'coefficient'] = 0.755489209043063 * coefficients.loc[ix, 'xG']

display(coefficients)

                       xG       xGA  coefficient
Squad
Manchester City  1.962500  0.759375     1.482648
Manchester Utd   1.583871  1.164516     1.196597
Leicester City   1.458065  1.219355     1.101552
West Ham         1.374194  1.200000     1.038188
Chelsea          1.641935  0.854839     1.240465
Liverpool        1.825806  1.183871     1.379377
Tottenham        1.367742  1.235484     1.033314
Everton          1.223333  1.356667     0.924215
Arsenal          1.403226  1.212903     1.060122
Leeds United     1.490323  1.658065     1.125923
Aston Villa      1.416667  1.360000     1.070276
Wolves           1.061290  1.161290     0.801793
Crystal Palace   0.780645  1.545161     0.589769
Southampton      1.074194  1.390323     0.811542
Brighton         1.387097  0.990323     1.047937
Burnley          0.990323  1.480645     0.748178
Newcastle Utd    0.977419  1.403226     0.738430
Fulham           1.106250  1.312500     0.835760
West Brom        0.825806  1.700000     0.623888
Sheffield Utd    0.838710  1.641935     0.633636

In [7]:
def points_for_clean_sheet(position):
    if position < 3:
        return 4
    elif position==3:
        return 1
    elif position==4:
        return 0

In [8]:
goalkeepers = players['element_type'] == 1
defenders = players['element_type'] == 2
midfielders = players['element_type'] == 3
forwards = players['element_type'] == 4

In [9]:
home_coefficient = 1.0721855628874228
away_coefficient = 0.9280143971205758

In [10]:
team_names = np.sort(teamStats.index)
# for some reason the fpl team numbers are not alphabetical with leeds and leicester...
if (team_names[8]=='Leeds United') & (team_names[9]=='Leicester City'):
    team_names[8] = 'Leicester City'
    team_names[9] = 'Leeds United'
    
# how many gameweeks ahead do you want to look at
for number_gameweeks in [1,5,10]:
    expectations = pd.DataFrame(0, index=teamStats.index, \
                columns=['games','total_xG','total_xGA','xG per game', 'xGA per game'])
    gameweeks = np.arange(latest_gameweek+1, latest_gameweek+number_gameweeks+1)
    games = fixtures[fixtures['event'].isin(gameweeks)]
    for ix in games.index:
        home_team_number = games.loc[ix,'team_h']
        home_team = team_names[home_team_number-1]
        away_team_number = games.loc[ix,'team_a']
        away_team = team_names[away_team_number-1]

        home_xG = home_coefficient * coefficients.loc[home_team,'coefficient'] * \
                                    coefficients.loc[away_team,'xGA']
        away_xG = away_coefficient * coefficients.loc[away_team,'coefficient'] * \
                                    coefficients.loc[home_team,'xGA']
        expectations.loc[home_team,'total_xG'] += home_xG
        expectations.loc[home_team,'total_xGA'] += away_xG
        expectations.loc[home_team,'games'] += 1
        expectations.loc[away_team,'total_xG'] += away_xG
        expectations.loc[away_team,'total_xGA'] += home_xG
        expectations.loc[away_team,'games'] += 1

    expectations['xG per game'] = expectations['total_xG'] / expectations['games']
    expectations['xGA per game'] = expectations['total_xGA'] / expectations['games']
    print('expectations:')
    display(expectations)

    new_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    coefficients[new_column] = expectations['xG per game'] / coefficients['xG']
    print('coefficients:')
    display(coefficients)
    
    new_column = 'next' + str(number_gameweeks) + '_xP'
    multiplier_xG_xA_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    for ix in players.index:
        team = players.loc[ix,'team_name']
        position = players.loc[ix, 'element_type']

        # adjust xP based on xg and xa for the next game
        xg_points_per_game = players.loc[ix,'xG_points'] / players.loc[ix,'games played']
        xa_points_per_game = players.loc[ix,'xA_points'] / players.loc[ix,'games played']
        xpoints = xg_points_per_game + xa_points_per_game
        players.loc[ix, new_column] = players.loc[ix, 'adjusted points per game'] - \
                            xpoints + coefficients.loc[team, multiplier_xG_xA_column]*xpoints    

        # adjust xP based on probability to keep a clean sheet for the next game
        clean_sheet_points_per_game = players.loc[ix,'clean_sheet_points'] / \
                                        players.loc[ix,'games played']
        probability_clean_sheet_next = poisson.pmf(0, expectations.loc[team, 'xGA per game'])
        players.loc[ix, new_column] = players.loc[ix, new_column] - clean_sheet_points_per_game \
                + points_for_clean_sheet(position) * probability_clean_sheet_next

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      1  1.871249   0.871409     1.871249      0.871409
Manchester Utd       1  1.899630   0.808547     1.899630      0.808547
Leicester City       1  2.007816   0.705978     2.007816      0.705978
West Ham             1  1.351943   0.950080     1.351943      0.950080
Chelsea              1  1.317137   0.831331     1.317137      0.831331
Liverpool            1  2.122458   1.429167     2.122458      1.429167
Tottenham            2  2.841294   2.154749     1.420647      1.077374
Everton              1  1.224278   1.300949     1.224278      1.300949
Arsenal              1  1.491850   0.940724     1.491850      0.940724
Leeds United         1  1.429167   2.122458     1.429167      2.122458
Aston Villa          1  0.871409   1.871249     0.871409      1.871249
Wolves               1  1.411525   0.682866     1.411525      0.682866
Crystal Palace       0  0.000000   0.000000          NaN           NaN
Southampton          1  0.930470   1.540345     0.930470      1.540345
Brighton             1  0.831331   1.317137     0.831331      1.317137
Burnley              1  0.808547   1.899630     0.808547      1.899630
Newcastle Utd        1  0.950080   1.351943     0.950080      1.351943
Fulham               1  0.940724   1.491850     0.940724      1.491850
West Brom            1  0.705978   2.007816     0.705978      2.007816
Sheffield Utd        1  0.682866   1.411525     0.682866      1.411525

coefficients:

                       xG       xGA  coefficient  next1_xG_xA_multiplier
Squad
Manchester City  1.962500  0.759375     1.482648                0.953503
Manchester Utd   1.583871  1.164516     1.196597                1.199359
Leicester City   1.458065  1.219355     1.101552                1.377042
West Ham         1.374194  1.200000     1.038188                0.983808
Chelsea          1.641935  0.854839     1.240465                0.802186
Liverpool        1.825806  1.183871     1.379377                1.162477
Tottenham        1.367742  1.235484     1.033314                1.038681
Everton          1.223333  1.356667     0.924215                1.000772
Arsenal          1.403226  1.212903     1.060122                1.063157
Leeds United     1.490323  1.658065     1.125923                0.958965
Aston Villa      1.416667  1.360000     1.070276                0.615112
Wolves           1.061290  1.161290     0.801793                1.330008
Crystal Palace   0.780645  1.545161     0.589769                     NaN
Southampton      1.074194  1.390323     0.811542                0.866204
Brighton         1.387097  0.990323     1.047937                0.599332
Burnley          0.990323  1.480645     0.748178                0.816448
Newcastle Utd    0.977419  1.403226     0.738430                0.972030
Fulham           1.106250  1.312500     0.835760                0.850372
West Brom        0.825806  1.700000     0.623888                0.854896
Sheffield Utd    0.838710  1.641935     0.633636                0.814186

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      4  7.286903   2.826986     1.821726      0.706746
Manchester Utd       5  8.334346   6.231781     1.666869      1.246356
Leicester City       5  8.101762   4.834330     1.620352      0.966866
West Ham             5  6.194301   5.671627     1.238860      1.134325
Chelsea              5  6.931516   4.645800     1.386303      0.929160
Liverpool            5  9.920786   5.442837     1.984157      1.088567
Tottenham            5  7.536969   5.292009     1.507394      1.058402
Everton              5  6.268497   6.498384     1.253699      1.299677
Arsenal              5  7.187705   5.256724     1.437541      1.051345
Leeds United         5  6.908288   8.746689     1.381658      1.749338
Aston Villa          5  7.040730   6.376532     1.408146      1.275306
Wolves               5  5.719967   4.681942     1.143993      0.936388
Crystal Palace       4  2.906194   6.535405     0.726548      1.633851
Southampton          4  4.025096   6.096156     1.006274      1.524039
Brighton             5  6.768740   4.830181     1.353748      0.966036
Burnley              5  4.818847   7.472907     0.963769      1.494581
Newcastle Utd        5  4.158467   8.395776     0.831693      1.679155
Fulham               4  4.008856   5.290817     1.002214      1.322704
West Brom            5  3.764364   9.331994     0.752873      1.866399
Sheffield Utd        5  3.929657   7.353113     0.785931      1.470623

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier
Squad,,,,,
Manchester City,1.962500,0.759375,1.482648,0.953503,0.928268
Manchester Utd,1.583871,1.164516,1.196597,1.199359,1.052402
Leicester City,1.458065,1.219355,1.101552,1.377042,1.111304
West Ham,1.374194,1.200000,1.038188,0.983808,0.901518
Chelsea,1.641935,0.854839,1.240465,0.802186,0.844310
Liverpool,1.825806,1.183871,1.379377,1.162477,1.086729
Tottenham,1.367742,1.235484,1.033314,1.038681,1.102104
Everton,1.223333,1.356667,0.924215,1.000772,1.024822
Arsenal,1.403226,1.212903,1.060122,1.063157,1.024455
Leeds United,1.490323,1.658065,1.125923,0.958965,0.927086
Aston Villa,1.416667,1.360000,1.070276,0.615112,0.993985
Wolves,1.061290,1.161290,0.801793,1.330008,1.077927
Crystal Palace,0.780645,1.545161,0.589769,NaN,0.930703
Southampton,1.074194,1.390323,0.811542,0.866204,0.936772
Brighton,1.387097,0.990323,1.047937,0.599332,0.975958
Burnley,0.990323,1.480645,0.748178,0.816448,0.973187
Newcastle Utd,0.977419,1.403226,0.738430,0.972030,0.850907
Fulham,1.106250,1.312500,0.835760,0.850372,0.905956
West Brom,0.825806,1.700000,0.623888,0.854896,0.911682
Sheffield Utd,0.838710,1.641935,0.633636,0.814186,0.937072

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      6  10.806163   4.331511     1.801027      0.721918
Manchester Utd       7  11.307816   8.136077     1.615402      1.162297
Leicester City       7  10.434816   7.625359     1.490688      1.089337
West Ham             7   9.379783   7.378082     1.339969      1.054012
Chelsea              7  10.118857   6.500622     1.445551      0.928660
Liverpool            7  14.101347   7.040471     2.014478      1.005782
Tottenham            7  10.212996   7.978322     1.458999      1.139760
Everton              7   8.070559   9.664504     1.152937      1.380643
Arsenal              7   9.833495   7.203242     1.404785      1.029035
Leeds United         7  10.413234  11.149390     1.487605      1.592770
Aston Villa          7   9.248809   9.448873     1.321258      1.349839
Wolves               7   7.730531   7.122265     1.104362      1.017466
Crystal Palace       6   4.321113  10.340761     0.720185      1.723460
Southampton          6   6.371563   9.096476     1.061927      1.516079
Brighton             7   8.801509   7.318431     1.257358      1.045490
Burnley              7   6.908560  10.374168     0.986937      1.482024
Newcastle Utd        7   6.357864  10.478322     0.908266      1.496903
Fulham               6   6.169468   7.874143     1.028245      1.312357
West Brom            7   5.527053  13.022102     0.789579      1.860300
Sheffield Utd        7   5.760700   9.793118     0.822957      1.399017

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier,next10_xG_xA_multiplier
Squad,,,,,,
Manchester City,1.962500,0.759375,1.482648,0.953503,0.928268,0.917721
Manchester Utd,1.583871,1.164516,1.196597,1.199359,1.052402,1.019908
Leicester City,1.458065,1.219355,1.101552,1.377042,1.111304,1.022375
West Ham,1.374194,1.200000,1.038188,0.983808,0.901518,0.975095
Chelsea,1.641935,0.854839,1.240465,0.802186,0.844310,0.880395
Liverpool,1.825806,1.183871,1.379377,1.162477,1.086729,1.103336
Tottenham,1.367742,1.235484,1.033314,1.038681,1.102104,1.066721
Everton,1.223333,1.356667,0.924215,1.000772,1.024822,0.942455
Arsenal,1.403226,1.212903,1.060122,1.063157,1.024455,1.001111
Leeds United,1.490323,1.658065,1.125923,0.958965,0.927086,0.998176
Aston Villa,1.416667,1.360000,1.070276,0.615112,0.993985,0.932653
Wolves,1.061290,1.161290,0.801793,1.330008,1.077927,1.040584
Crystal Palace,0.780645,1.545161,0.589769,NaN,0.930703,0.922552
Southampton,1.074194,1.390323,0.811542,0.866204,0.936772,0.988581
Brighton,1.387097,0.990323,1.047937,0.599332,0.975958,0.906468
Burnley,0.990323,1.480645,0.748178,0.816448,0.973187,0.996582
Newcastle Utd,0.977419,1.403226,0.738430,0.972030,0.850907,0.929249
Fulham,1.106250,1.312500,0.835760,0.850372,0.905956,0.929487
West Brom,0.825806,1.700000,0.623888,0.854896,0.911682,0.956131
Sheffield Utd,0.838710,1.641935,0.633636,0.814186,0.937072,0.981218

In [11]:
metric = 'next1_xP'
#minGames = players['games played'] >= 3

numberToShow = 50
display(players.sort_values(by=[metric], ascending=False)[['web_name','team_name',\
         'now_cost','games played','total_points','adjusted points','points_per_game',\
         'adjusted points per game','next1_xP','next5_xP','next10_xP']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,next1_xP,next5_xP,next10_xP
id,,,,,,,,,,,
302,Fernandes,Manchester Utd,116,30.857143,216,196.445521,7.0,6.366290,7.089455,6.496780,6.425874
224,Vardy,Leicester City,101,26.964286,151,150.665373,5.6,5.587590,6.621494,5.892801,5.648944
388,Kane,Tottenham,117,29.014085,206,184.515821,7.1,6.359526,6.470152,6.651542,6.550348
254,Salah,Liverpool,125,30.000000,189,178.444538,6.3,5.948151,6.379940,6.244786,6.324785
272,De Bruyne,Manchester City,120,24.150943,128,153.076572,5.3,6.338327,6.146528,6.144239,6.104556
301,Lingard,West Ham,65,9.010989,82,52.975849,9.1,5.879027,5.928569,5.680671,5.871037
251,Mané,Liverpool,118,28.222222,127,145.932614,4.5,5.170841,5.524523,5.425783,5.497798
390,Son,Tottenham,94,30.161290,187,160.161738,6.2,5.310175,5.443458,5.586872,5.483388
271,Gündogan,Manchester City,59,23.833333,143,127.524362,6.0,5.350673,5.199743,5.219634,5.189222
277,Cancelo,Manchester City,60,24.117647,123,127.575605,5.1,5.289720,5.045061,5.319488,5.279285
276,Sterling,Manchester City,113,27.058824,138,139.165997,5.1,5.143091,4.985202,5.001315,4.969324
239,Justin,Leicester City,48,22.954545,101,90.145887,4.4,3.927148,4.956495,4.336380,4.105259
235,Barnes,Leicester City,66,25.200000,126,105.996840,5.0,4.206224,4.935579,4.447873,4.278762
461,Saïss,Wolves,49,21.750000,87,83.838129,4.0,3.854627,4.859663,4.226356,4.077446
273,Stones,Manchester City,52,18.923077,123,95.920882,6.5,5.068990,4.837429,5.118965,5.081733
202,Bamford,Leeds United,66,31.153846,162,152.124478,5.2,4.883008,4.793413,4.723811,4.879026
164,Calvert-Lewin,Everton,75,26.037736,138,124.462687,5.3,4.780089,4.781738,4.833094,4.657210
275,Mahrez,Manchester City,81,24.000000,132,117.093698,5.5,4.878904,4.747936,4.778660,4.752776
506,Wilson,Newcastle Utd,65,22.075472,117,104.742687,5.3,4.744754,4.692958,4.468660,4.613736
249,Firmino,Liverpool,90,28.648649,106,124.662687,3.7,4.351433,4.667896,4.520359,4.552705
474,Neto,Wolves,57,31.000000,124,124.489122,4.0,4.015778,4.658165,4.201070,4.119583
4,Aubameyang,Arsenal,113,25.116279,108,111.018341,4.3,4.420175,4.638263,4.520739,4.482394
300,Shaw,Manchester Utd,53,27.073171,111,107.447529,4.1,3.968783,4.617382,3.900886,3.983027
455,Patrício,Wolves,53,31.081081,115,117.923701,3.7,3.794067,4.562408,4.109904,3.987778
306,Rashford,Manchester Utd,95,31.250000,150,127.846331,4.8,4.091083,4.535833,4.148391,4.122864
112,Arrizabalaga,Chelsea,47,3.947368,15,17.716081,3.8,4.488074,4.528544,4.366208,4.366997
435,Cresswell,West Ham,59,30.909091,136,129.343035,4.4,4.184628,4.517261,4.209056,4.359494
437,Antonio,West Ham,66,20.930233,90,95.052239,4.3,4.541385,4.507346,4.334354,4.489028
231,Maddison,Leicester City,72,24.000000,120,92.163231,5.0,3.840135,4.500216,4.061334,3.908562
470,Kilman,Wolves,39,15.000000,54,54.495364,3.6,3.633024,4.487167,3.969122,3.837287
24,Saka,Arsenal,51,26.052632,99,110.688093,3.8,4.248634,4.450009,4.342727,4.310559
458,Boly,Wolves,54,17.142857,60,60.478924,3.5,3.527937,4.434881,3.876504,3.738693
217,Schmeichel,Leicester City,54,31.351351,116,113.047353,3.7,3.605821,4.398640,3.945230,3.769896
13,Chambers,Arsenal,45,4.000000,14,15.867773,3.5,3.966943,4.391097,4.195657,4.207936
259,Alexander-Arnold,Liverpool,74,29.250000,117,131.054505,4.0,4.480496,4.364142,4.682981,4.814551
498,Castagne,Leicester City,57,19.714286,69,66.927376,3.5,3.394867,4.325388,3.774926,3.567114
232,Chilwell,Chelsea,58,22.083333,106,97.514533,4.8,4.415752,4.324545,4.190250,4.215059
104,Alonso,Chelsea,57,10.000000,42,44.724519,4.2,4.472452,4.317086,4.196453,4.232966
468,Jota,Liverpool,70,13.921569,71,56.961275,5.1,4.091585,4.301601,4.269839,4.327170
556,Dias,Manchester City,62,27.708333,133,124.975883,4.8,4.510408,4.291378,4.579716,4.545325
570,Raphinha,Leeds United,56,26.136364,115,115.452304,4.4,4.417306,4.271487,4.267338,4.426825
546,Semedo,Wolves,52,28.333333,85,95.203516,3.0,3.360124,4.257750,3.706490,3.569734
123,James,Chelsea,50,25.277778,91,109.639135,3.6,4.337372,4.251068,4.115728,4.139643
313,Wan-Bissaka,Manchester Utd,57,28.837209,124,103.928673,4.3,3.603978,4.210293,3.524967,3.614000
568,Telles,Manchester Utd,53,7.096774,22,25.479760,3.1,3.590330,4.208330,3.514390,3.601519
37,Grealish,Aston Villa,75,21.864407,129,111.637109,5.9,5.105883,4.205720,5.116106,4.968971
431,Fabianski,West Ham,50,28.974359,113,111.907637,3.9,3.862299,4.204362,3.944078,4.051669
558,Coufal,West Ham,46,26.756757,99,103.498608,3.7,3.868130,4.199663,3.885866,4.041304
11,Bellerín,Arsenal,50,21.842105,83,82.908841,3.8,3.795826,4.198236,4.016121,4.036437
283,Zinchenko,Manchester City,55,14.871795,58,65.337550,3.9,4.393387,4.171549,4.458362,4.423335

In [12]:
# save predictions
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players.to_csv(filepath)