In [1]:
# recent gameweek
latest_gameweek = 33

In [2]:
import pandas as pd
import numpy as np
import json
import requests
from scipy.stats import poisson

# allow more data columns to be shown than by default
pd.set_option('max_columns',100)

In [3]:
# fetch FPL fixtures online
fixtures_text = json.loads(requests.get('https://fantasy.premierleague.com/api/fixtures').text)
fixtures = pd.DataFrame(fixtures_text)
fixtures.head(20)

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,pulse_id,started,stats,team_a,team_a_difficulty,team_a_score,team_h,team_h_difficulty,team_h_score
0,2128467,NaN,False,False,180,None,0,False,59077,None,[],7,3,NaN,2,4,NaN
1,2128604,NaN,False,False,317,None,0,False,59214,None,[],6,2,NaN,16,2,NaN
2,2128288,1.0,True,True,2,2020-09-12T11:30:00Z,90,False,58898,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",1,2,3.0,8,3,0.0
3,2128287,1.0,True,True,1,2020-09-12T14:00:00Z,90,False,58897,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",16,3,0.0,6,2,1.0
4,2128289,1.0,True,True,3,2020-09-12T16:30:00Z,90,False,58899,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",10,3,3.0,11,3,4.0
5,2128293,1.0,True,True,6,2020-09-12T19:00:00Z,90,False,58903,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",14,4,2.0,19,2,0.0
6,2128292,1.0,True,True,5,2020-09-13T13:00:00Z,90,False,58902,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",9,2,3.0,18,4,0.0
7,2128291,1.0,True,True,4,2020-09-13T15:30:00Z,90,False,58901,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",7,4,1.0,17,4,0.0
8,2128295,1.0,True,True,8,2020-09-14T17:00:00Z,90,False,58905,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",20,2,2.0,15,2,0.0
9,2128294,1.0,True,True,7,2020-09-14T19:15:00Z,90,False,58904,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,3,3.0,3,4,1.0
10,2128299,2.0,True,True,12,2020-09-19T11:30:00Z,90,False,58909,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",18,3,2.0,7,2,5.0
11,2128300,2.0,True,True,13,2020-09-19T14:00:00Z,90,False,58910,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",8,3,3.0,10,2,4.0
12,2128302,2.0,True,True,15,2020-09-19T16:30:00Z,90,False,58912,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",6,4,3.0,13,2,1.0
13,2128296,2.0,True,True,9,2020-09-19T19:00:00Z,90,False,58906,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",19,4,1.0,1,4,2.0
14,2128304,2.0,True,True,17,2020-09-20T11:00:00Z,90,False,58914,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",17,2,5.0,16,3,2.0
15,2128303,2.0,True,True,16,2020-09-20T13:00:00Z,90,False,58913,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,2,3.0,14,3,0.0
16,2128298,2.0,True,True,11,2020-09-20T15:30:00Z,90,False,58908,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",11,4,2.0,5,4,0.0
17,2128301,2.0,True,True,14,2020-09-20T18:00:00Z,90,False,58911,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,4,2.0,9,2,4.0
18,2128297,2.0,True,True,10,2020-09-21T17:00:00Z,90,False,58907,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",15,3,0.0,2,2,1.0
19,2128305,2.0,True,True,18,2020-09-21T19:15:00Z,90,False,58915,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",12,3,3.0,20,4,1.0

In [4]:
filepath = '../data/fbref/team_stats_week' + str(latest_gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col='Squad')
display(teamStats)

,Rk,MP,W,D,L,GF,GA,GD,Pts,xG,xGA,xGD,xGD/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes,xG per game,xGA per game,probability no goals allowed
Squad,,,,,,,,,,,,,,,,,,,,,
Manchester City,1,33,24,5,4,69,24,45,77,64.1,24.9,39.2,1.19,W W W L W,NaN,İlkay Gündoğan - 12,Ederson,NaN,1.942424,0.754545,0.470224
Manchester Utd,2,33,19,10,4,64,35,29,67,53.1,36.8,16.3,0.49,W W W W D,NaN,Bruno Fernandes - 16,David de Gea,NaN,1.609091,1.115152,0.327866
Leicester City,3,33,19,5,9,60,38,22,62,48.6,38.9,9.7,0.29,W L L W W,NaN,Jamie Vardy - 13,Kasper Schmeichel,NaN,1.472727,1.178788,0.307651
Chelsea,4,33,16,10,7,51,31,20,58,54.0,27.6,26.4,0.80,D L W D W,125.0,Timo Werner Tammy Abraham... - 6,Edouard Mendy,NaN,1.636364,0.836364,0.433283
West Ham,5,33,16,7,10,53,43,10,55,44.6,41.4,3.3,0.10,D W W L L,118.0,Tomáš Souček Jesse Lingard - 9,Łukasz Fabiański,NaN,1.351515,1.254545,0.285205
Liverpool,6,33,15,9,9,55,39,16,54,60.8,39.8,21.0,0.63,W W W D D,353.0,Mohamed Salah - 20,Alisson,NaN,1.842424,1.206061,0.299374
Tottenham,7,33,15,8,10,56,38,18,53,45.5,41.4,4.1,0.12,W D L D W,125.0,Harry Kane - 21,Hugo Lloris,NaN,1.378788,1.254545,0.285205
Everton,8,32,15,7,10,44,40,4,52,39.8,42.9,-3.1,-0.10,L D D D W,125.0,Dominic Calvert-Lewin - 14,Jordan Pickford,NaN,1.243750,1.340625,0.261682
Leeds United,9,33,14,5,14,50,50,0,47,48.5,54.9,-6.5,-0.20,W W W D D,NaN,Patrick Bamford - 14,Illan Meslier,NaN,1.469697,1.663636,0.189449
Arsenal,10,33,13,7,13,44,37,7,46,47.4,39.3,8.0,0.24,D L W D L,118.0,Alexandre Lacazette - 13,Bernd Leno,NaN,1.436364,1.190909,0.303945
Aston Villa,11,32,13,6,13,46,37,9,45,45.5,43.7,1.7,0.05,L W L L D,NaN,Ollie Watkins - 12,Emiliano Martínez,NaN,1.421875,1.365625,0.255221
Wolves,12,33,11,8,14,32,45,-13,41,34.7,38.6,-3.9,-0.12,L L W W L,NaN,Rúben Neves Pedro Neto - 5,Rui Patrício,NaN,1.051515,1.169697,0.310461
Crystal Palace,13,32,10,8,14,34,54,-20,38,24.8,48.9,-24.1,-0.75,L W D L L,125.0,Wilfried Zaha - 10,Vicente Guaita,NaN,0.775000,1.528125,0.216942
Burnley,14,33,9,9,15,30,45,-15,36,33.0,49.1,-16.1,-0.49,W L L L W,NaN,Chris Wood - 10,Nick Pope,NaN,1.000000,1.487879,0.225851
Southampton,15,32,10,6,16,40,58,-18,36,34.2,44.9,-10.7,-0.33,L L W L L,133.0,Danny Ings - 10,Alex McCarthy,NaN,1.068750,1.403125,0.245828
Newcastle Utd,16,33,9,9,15,36,54,-18,36,33.4,46.7,-13.3,-0.40,L D W W D,NaN,Callum Wilson - 10,Karl Darlow,NaN,1.012121,1.415152,0.242889
Brighton,17,33,7,13,13,33,39,-6,34,45.9,32.4,13.5,0.41,W L D D L,125.0,Neal Maupay - 8,Robert Sánchez,NaN,1.390909,0.981818,0.374629
Fulham,18,33,5,12,16,25,43,-18,27,36.5,44.8,-8.3,-0.25,L L L L D,118.0,Bobby Reid - 5,Alphonse Areola,NaN,1.106061,1.357576,0.257284
West Brom,19,33,5,10,18,30,64,-34,25,27.4,57.3,-29.9,-0.90,L W W L D,NaN,Matheus Pereira - 9,Sam Johnstone,NaN,0.830303,1.736364,0.176160
Sheffield Utd,20,33,5,2,26,18,56,-38,17,27.2,54.5,-27.3,-0.83,L L L L W,NaN,David McGoldrick - 7,Aaron Ramsdale,NaN,0.824242,1.651515,0.191759

In [5]:
# fetch FPL data
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players = pd.read_csv(filepath, index_col=0)
players.head()

,adjusted points,adjusted points per game,assists,assists_week1,assists_week10,assists_week11,assists_week12,assists_week13,assists_week14,assists_week15,assists_week16,assists_week17,assists_week18,assists_week19,assists_week2,assists_week20,assists_week21,assists_week22,assists_week23,assists_week24,assists_week25,assists_week26,assists_week27,assists_week28,assists_week29,assists_week3,assists_week30,assists_week31,assists_week32,assists_week33,assists_week4,assists_week5,assists_week6,assists_week7,assists_week8,assists_week9,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheet_points,clean_sheets,cleansheet_week1,cleansheet_week10,cleansheet_week11,cleansheet_week12,cleansheet_week13,cleansheet_week14,cleansheet_week15,cleansheet_week16,...,xG_week26,xG_week27,xG_week28,xG_week29,xG_week3,xG_week30,xG_week31,xG_week32,xG_week33,xG_week4,xG_week5,xG_week6,xG_week7,xG_week8,xG_week9,xPoints,xPoints week 1,xPoints week 10,xPoints week 11,xPoints week 12,xPoints week 13,xPoints week 14,xPoints week 15,xPoints week 16,xPoints week 17,xPoints week 18,xPoints week 19,xPoints week 2,xPoints week 20,xPoints week 21,xPoints week 22,xPoints week 23,xPoints week 24,xPoints week 25,xPoints week 26,xPoints week 27,xPoints week 28,xPoints week 29,xPoints week 3,xPoints week 30,xPoints week 31,xPoints week 32,xPoints week 33,xPoints week 4,xPoints week 5,xPoints week 6,xPoints week 7,xPoints week 8,xPoints week 9,yellow_cards
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,51.157701,2.685779,0,NaN,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,0,223,75.0,0.0,23.157701,3,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.1,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.1,0.0,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,1.000000,3.397316,NaN,NaN,NaN,2.471518,7.363273,1.00000,3.204777,3.586388,-3.000000,NaN,4.395247,1.000000,5.026123,2.807586,3.986341,1.401035,1.199148,NaN,NaN,NaN,NaN,5.274923,3.586388,1.000000,NaN,NaN,NaN,1
4,111.466875,4.438033,1,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,1.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,10,306,75.0,0.0,7.633963,7,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.1,0.8,NaN,0.0,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.3,0.9,0.0,0.3,NaN,3.818731,4.246597,3.606531,1.70657,7.132871,NaN,NaN,5.449329,6.67032,2.867879,11.740818,5.61799,NaN,NaN,1.500000,1.500000,15.348812,2.122456,1.500000,7.201897,NaN,2.100259,2.049787,3.010803,NaN,NaN,NaN,2.818731,3.746597,4.101194,7.540818,2.765299,3.282085,2
5,33.850705,3.385071,1,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,125,100.0,100.0,12.157793,2,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,...,0.0,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,10.658585,NaN,3.804777,2.586388,1.986388,3.090127,4.095247,NaN,4.426123,NaN,3.986341,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [6]:
coefficients = pd.DataFrame(np.nan, index=teamStats.index, columns=['xG','xGA','coefficient'])

for ix in coefficients.index:
    coefficients.loc[ix, 'xG'] = teamStats.loc[ix, 'xG per game']
    coefficients.loc[ix, 'xGA'] = teamStats.loc[ix, 'xGA per game']
    coefficients.loc[ix, 'coefficient'] = 0.755489209043063 * coefficients.loc[ix, 'xG']

display(coefficients)

                       xG       xGA  coefficient
Squad
Manchester City  1.942424  0.754545     1.467481
Manchester Utd   1.609091  1.115152     1.215651
Leicester City   1.472727  1.178788     1.112630
Chelsea          1.636364  0.836364     1.236255
West Ham         1.351515  1.254545     1.021055
Liverpool        1.842424  1.206061     1.391932
Tottenham        1.378788  1.254545     1.041659
Everton          1.243750  1.340625     0.939640
Leeds United     1.469697  1.663636     1.110340
Arsenal          1.436364  1.190909     1.085157
Aston Villa      1.421875  1.365625     1.074211
Wolves           1.051515  1.169697     0.794408
Crystal Palace   0.775000  1.528125     0.585504
Burnley          1.000000  1.487879     0.755489
Southampton      1.068750  1.403125     0.807429
Newcastle Utd    1.012121  1.415152     0.764647
Brighton         1.390909  0.981818     1.050817
Fulham           1.106061  1.357576     0.835617
West Brom        0.830303  1.736364     0.627285
Sheffield Utd    0.824242  1.651515     0.622706

In [7]:
def points_for_clean_sheet(position):
    if position < 3:
        return 4
    elif position==3:
        return 1
    elif position==4:
        return 0

In [8]:
goalkeepers = players['element_type'] == 1
defenders = players['element_type'] == 2
midfielders = players['element_type'] == 3
forwards = players['element_type'] == 4

In [9]:
home_coefficient = 1.0721855628874228
away_coefficient = 0.9280143971205758

In [10]:
team_names = np.sort(teamStats.index)
# for some reason the fpl team numbers are not alphabetical with leeds and leicester...
if (team_names[8]=='Leeds United') & (team_names[9]=='Leicester City'):
    team_names[8] = 'Leicester City'
    team_names[9] = 'Leeds United'
    
# how many gameweeks ahead do you want to look at
for number_gameweeks in [1,5,10]:
    expectations = pd.DataFrame(0, index=teamStats.index, \
                columns=['games','total_xG','total_xGA','xG per game', 'xGA per game'])
    gameweeks = np.arange(latest_gameweek+1, latest_gameweek+number_gameweeks+1)
    games = fixtures[fixtures['event'].isin(gameweeks)]
    for ix in games.index:
        home_team_number = games.loc[ix,'team_h']
        home_team = team_names[home_team_number-1]
        away_team_number = games.loc[ix,'team_a']
        away_team = team_names[away_team_number-1]

        home_xG = home_coefficient * coefficients.loc[home_team,'coefficient'] * \
                                    coefficients.loc[away_team,'xGA']
        away_xG = away_coefficient * coefficients.loc[away_team,'coefficient'] * \
                                    coefficients.loc[home_team,'xGA']
        expectations.loc[home_team,'total_xG'] += home_xG
        expectations.loc[home_team,'total_xGA'] += away_xG
        expectations.loc[home_team,'games'] += 1
        expectations.loc[away_team,'total_xG'] += away_xG
        expectations.loc[away_team,'total_xGA'] += home_xG
        expectations.loc[away_team,'games'] += 1

    expectations['xG per game'] = expectations['total_xG'] / expectations['games']
    expectations['xGA per game'] = expectations['total_xGA'] / expectations['games']
    print('expectations:')
    display(expectations)

    new_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    coefficients[new_column] = expectations['xG per game'] / coefficients['xG']
    print('coefficients:')
    display(coefficients)
    
    new_column = 'next' + str(number_gameweeks) + '_xP'
    multiplier_xG_xA_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    for ix in players.index:
        team = players.loc[ix,'team_name']
        position = players.loc[ix, 'element_type']

        # adjust xP based on xg and xa for the next game
        xg_points_per_game = players.loc[ix,'xG_points'] / players.loc[ix,'games played']
        xa_points_per_game = players.loc[ix,'xA_points'] / players.loc[ix,'games played']
        xpoints = xg_points_per_game + xa_points_per_game
        players.loc[ix, new_column] = players.loc[ix, 'adjusted points per game'] - \
                            xpoints + coefficients.loc[team, multiplier_xG_xA_column]*xpoints    

        # adjust xP based on probability to keep a clean sheet for the next game
        clean_sheet_points_per_game = players.loc[ix,'clean_sheet_points'] / \
                                        players.loc[ix,'games played']
        probability_clean_sheet_next = poisson.pmf(0, expectations.loc[team, 'xGA per game'])
        players.loc[ix, new_column] = players.loc[ix, new_column] - clean_sheet_points_per_game \
                + points_for_clean_sheet(position) * probability_clean_sheet_next

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      1  2.081066   0.473680     2.081066      0.473680
Manchester Utd       1  1.571983   1.440478     1.571983      1.440478
Leicester City       1  1.448777   1.020493     1.448777      1.020493
Chelsea              1  1.799460   0.648570     1.799460      0.648570
West Ham             1  1.409845   1.016213     1.409845      1.016213
Liverpool            1  1.440478   1.571983     1.440478      1.571983
Tottenham            1  1.844498   0.724977     1.844498      0.724977
Everton              1  1.375824   1.336447     1.375824      1.336447
Leeds United         1  1.011677   1.874370     1.011677      1.874370
Arsenal              1  1.425116   0.976359     1.425116      0.976359
Aston Villa          1  1.336447   1.375824     1.336447      1.375824
Wolves               1  1.280086   0.786698     1.280086      0.786698
Crystal Palace       1  0.473680   2.081066     0.473680      2.081066
Burnley              1  1.016213   1.409845     1.016213      1.409845
Southampton          1  1.020493   1.448777     1.020493      1.448777
Newcastle Utd        1  0.976359   1.425116     0.976359      1.425116
Brighton             1  1.874370   1.011677     1.874370      1.011677
Fulham               1  0.648570   1.799460     0.648570      1.799460
West Brom            1  0.786698   1.280086     0.786698      1.280086
Sheffield Utd        1  0.724977   1.844498     0.724977      1.844498

coefficients:

                       xG       xGA  coefficient  next1_xG_xA_multiplier
Squad
Manchester City  1.942424  0.754545     1.467481                1.071376
Manchester Utd   1.609091  1.115152     1.215651                0.976939
Leicester City   1.472727  1.178788     1.112630                0.983738
Chelsea          1.636364  0.836364     1.236255                1.099670
West Ham         1.351515  1.254545     1.021055                1.043159
Liverpool        1.842424  1.206061     1.391932                0.781838
Tottenham        1.378788  1.254545     1.041659                1.337768
Everton          1.243750  1.340625     0.939640                1.106190
Leeds United     1.469697  1.663636     1.110340                0.688358
Arsenal          1.436364  1.190909     1.085157                0.992170
Aston Villa      1.421875  1.365625     1.074211                0.939919
Wolves           1.051515  1.169697     0.794408                1.217373
Crystal Palace   0.775000  1.528125     0.585504                0.611200
Burnley          1.000000  1.487879     0.755489                1.016213
Southampton      1.068750  1.403125     0.807429                0.954847
Newcastle Utd    1.012121  1.415152     0.764647                0.964666
Brighton         1.390909  0.981818     1.050817                1.347586
Fulham           1.106061  1.357576     0.835617                0.586379
West Brom        0.830303  1.736364     0.627285                0.947483
Sheffield Utd    0.824242  1.651515     0.622706                0.879568

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      5  8.770662   3.466038     1.754132      0.693208
Manchester Utd       5  7.738090   5.690886     1.547618      1.138177
Leicester City       5  6.648590   6.095382     1.329718      1.219076
Chelsea              5  7.372873   4.633628     1.474575      0.926726
West Ham             5  6.989218   5.307438     1.397844      1.061488
Liverpool            5  9.979960   4.919106     1.995992      0.983821
Tottenham            5  7.423778   5.890621     1.484756      1.178124
Everton              5  5.970031   6.676525     1.194006      1.335305
Leeds United         5  7.551251   7.238837     1.510250      1.447767
Arsenal              5  6.968832   5.157124     1.393766      1.031425
Aston Villa          5  6.358110   6.865671     1.271622      1.373134
Wolves               5  4.979404   5.731750     0.995881      1.146350
Crystal Palace       5  3.631275   8.444165     0.726255      1.688833
Burnley              5  5.450426   7.191351     1.090085      1.438270
Southampton          5  5.479744   7.612770     1.095949      1.522554
Newcastle Utd        5  4.748762   7.126203     0.949752      1.425241
Brighton             5  6.439953   5.257687     1.287991      1.051537
Fulham               5  5.202335   6.659343     1.040467      1.331869
West Brom            5  4.103333   9.255668     0.820667      1.851134
Sheffield Utd        5  4.331141   6.917577     0.866228      1.383515

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier
Squad,,,,,
Manchester City,1.942424,0.754545,1.467481,1.071376,0.903063
Manchester Utd,1.609091,1.115152,1.215651,0.976939,0.961796
Leicester City,1.472727,1.178788,1.112630,0.983738,0.902895
Chelsea,1.636364,0.836364,1.236255,1.099670,0.901129
West Ham,1.351515,1.254545,1.021055,1.043159,1.034279
Liverpool,1.842424,1.206061,1.391932,0.781838,1.083351
Tottenham,1.378788,1.254545,1.041659,1.337768,1.076856
Everton,1.243750,1.340625,0.939640,1.106190,0.960005
Leeds United,1.469697,1.663636,1.110340,0.688358,1.027593
Arsenal,1.436364,1.190909,1.085157,0.992170,0.970344
Aston Villa,1.421875,1.365625,1.074211,0.939919,0.894328
Wolves,1.051515,1.169697,0.794408,1.217373,0.947091
Crystal Palace,0.775000,1.528125,0.585504,0.611200,0.937103
Burnley,1.000000,1.487879,0.755489,1.016213,1.090085
Southampton,1.068750,1.403125,0.807429,0.954847,1.025449
Newcastle Utd,1.012121,1.415152,0.764647,0.964666,0.938378
Brighton,1.390909,0.981818,1.050817,1.347586,0.926006
Fulham,1.106061,1.357576,0.835617,0.586379,0.940696
West Brom,0.830303,1.736364,0.627285,0.947483,0.988394
Sheffield Utd,0.824242,1.651515,0.622706,0.879568,1.050939

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      5  8.770662   3.466038     1.754132      0.693208
Manchester Utd       5  7.738090   5.690886     1.547618      1.138177
Leicester City       5  6.648590   6.095382     1.329718      1.219076
Chelsea              5  7.372873   4.633628     1.474575      0.926726
West Ham             5  6.989218   5.307438     1.397844      1.061488
Liverpool            5  9.979960   4.919106     1.995992      0.983821
Tottenham            5  7.423778   5.890621     1.484756      1.178124
Everton              5  5.970031   6.676525     1.194006      1.335305
Leeds United         5  7.551251   7.238837     1.510250      1.447767
Arsenal              5  6.968832   5.157124     1.393766      1.031425
Aston Villa          5  6.358110   6.865671     1.271622      1.373134
Wolves               5  4.979404   5.731750     0.995881      1.146350
Crystal Palace       5  3.631275   8.444165     0.726255      1.688833
Burnley              5  5.450426   7.191351     1.090085      1.438270
Southampton          5  5.479744   7.612770     1.095949      1.522554
Newcastle Utd        5  4.748762   7.126203     0.949752      1.425241
Brighton             5  6.439953   5.257687     1.287991      1.051537
Fulham               5  5.202335   6.659343     1.040467      1.331869
West Brom            5  4.103333   9.255668     0.820667      1.851134
Sheffield Utd        5  4.331141   6.917577     0.866228      1.383515

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier,next10_xG_xA_multiplier
Squad,,,,,,
Manchester City,1.942424,0.754545,1.467481,1.071376,0.903063,0.903063
Manchester Utd,1.609091,1.115152,1.215651,0.976939,0.961796,0.961796
Leicester City,1.472727,1.178788,1.112630,0.983738,0.902895,0.902895
Chelsea,1.636364,0.836364,1.236255,1.099670,0.901129,0.901129
West Ham,1.351515,1.254545,1.021055,1.043159,1.034279,1.034279
Liverpool,1.842424,1.206061,1.391932,0.781838,1.083351,1.083351
Tottenham,1.378788,1.254545,1.041659,1.337768,1.076856,1.076856
Everton,1.243750,1.340625,0.939640,1.106190,0.960005,0.960005
Leeds United,1.469697,1.663636,1.110340,0.688358,1.027593,1.027593
Arsenal,1.436364,1.190909,1.085157,0.992170,0.970344,0.970344
Aston Villa,1.421875,1.365625,1.074211,0.939919,0.894328,0.894328
Wolves,1.051515,1.169697,0.794408,1.217373,0.947091,0.947091
Crystal Palace,0.775000,1.528125,0.585504,0.611200,0.937103,0.937103
Burnley,1.000000,1.487879,0.755489,1.016213,1.090085,1.090085
Southampton,1.068750,1.403125,0.807429,0.954847,1.025449,1.025449
Newcastle Utd,1.012121,1.415152,0.764647,0.964666,0.938378,0.938378
Brighton,1.390909,0.981818,1.050817,1.347586,0.926006,0.926006
Fulham,1.106061,1.357576,0.835617,0.586379,0.940696,0.940696
West Brom,0.830303,1.736364,0.627285,0.947483,0.988394,0.988394
Sheffield Utd,0.824242,1.651515,0.622706,0.879568,1.050939,1.050939

In [11]:
metric = 'next1_xP'
#minGames = players['games played'] >= 3

numberToShow = 50
display(players.sort_values(by=[metric], ascending=False)[['web_name','team_name',\
         'now_cost','games played','total_points','adjusted points','points_per_game',\
         'adjusted points per game','next1_xP','next5_xP','next10_xP']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,next1_xP,next5_xP,next10_xP
id,,,,,,,,,,,
388,Kane,Tottenham,118,29.863014,218,192.087861,7.3,6.432300,7.413832,6.655638,6.655638
272,De Bruyne,Manchester City,119,24.150943,128,152.938397,5.3,6.332605,6.703374,6.065893,6.065893
390,Son,Tottenham,95,32.096774,199,173.010387,6.2,5.390273,6.333620,5.582263,5.582263
302,Fernandes,Manchester Utd,115,32.985075,221,206.302532,6.7,6.254421,6.096126,6.135561,6.135561
277,Cancelo,Manchester City,59,24.117647,123,128.341552,5.1,5.321479,6.004210,5.341586,5.341586
301,Lingard,West Ham,67,10.963855,91,61.638601,8.3,5.621982,5.794554,5.758818,5.758818
271,Gündogan,Manchester City,57,24.827586,144,130.293272,5.8,5.247923,5.553463,5.069799,5.069799
224,Vardy,Leicester City,103,29.107143,163,161.447861,5.6,5.546675,5.502459,5.282654,5.282654
273,Stones,Manchester City,51,20.166667,121,96.431427,6.0,4.781724,5.439432,4.835814,4.835814
276,Sterling,Manchester City,111,27.058824,138,138.587015,5.1,5.121694,5.439092,4.927466,4.927466
112,Arrizabalaga,Chelsea,47,5.000000,24,24.665665,4.8,4.933133,5.291171,4.783391,4.783391
556,Dias,Manchester City,61,28.723404,135,130.318684,4.7,4.537021,5.180495,4.610443,4.610443
275,Mahrez,Manchester City,80,24.814815,134,120.926003,5.4,4.873137,5.150740,4.732955,4.732955
254,Salah,Liverpool,127,32.096774,199,189.200599,6.2,5.894692,5.140787,6.222184,6.222184
232,Chilwell,Chelsea,58,23.137255,118,107.264501,5.1,4.636008,5.063832,4.417040,4.417040
39,Hause,Aston Villa,44,4.000000,28,20.683538,7.0,5.170884,5.061392,4.988888,4.988888
283,Zinchenko,Manchester City,55,15.789474,60,69.198377,3.8,4.382564,5.026395,4.455501,4.455501
37,Grealish,Aston Villa,75,21.864407,129,111.395207,5.9,5.094820,4.967750,4.873972,4.873972
164,Calvert-Lewin,Everton,75,26.923077,140,126.757474,5.2,4.708135,4.929010,4.624945,4.624945
104,Alonso,Chelsea,57,10.909091,48,48.599817,4.4,4.454983,4.903471,4.215516,4.215516
123,James,Chelsea,50,26.756757,99,117.251754,3.7,4.382136,4.801637,4.171424,4.171424
68,Maupay,Brighton,60,30.588235,104,125.865825,3.4,4.114844,4.777103,3.973864,3.973864
274,Mendy,Manchester City,59,10.000000,48,41.208972,4.8,4.120897,4.747955,4.216614,4.216614
389,Aurier,Tottenham,52,17.105263,65,62.606970,3.8,3.660100,4.699502,3.805966,3.805966
461,Saïss,Wolves,50,23.750000,95,93.093796,4.0,3.919739,4.669515,3.907637,3.907637
102,Azpilicueta,Chelsea,59,21.875000,105,93.205196,4.8,4.260809,4.666688,4.063609,4.063609
120,Mount,Chelsea,73,32.142857,135,141.904435,4.2,4.414805,4.656937,4.225969,4.225969
109,Rüdiger,Chelsea,47,15.882353,81,67.826229,5.1,4.270540,4.649287,4.100255,4.100255
437,Antonio,West Ham,64,20.930233,90,95.364562,4.3,4.556307,4.647862,4.629024,4.629024
383,Lloris,Tottenham,56,33.076923,129,126.734876,3.9,3.831520,4.628040,3.922120,3.922120
278,Ederson,Manchester City,61,31.860465,137,127.919173,4.3,4.014981,4.627598,4.130312,4.130312
270,Walker,Manchester City,61,22.105263,84,88.070640,3.8,3.984148,4.602794,4.091290,4.091290
280,Laporte,Manchester City,60,14.166667,51,56.046044,3.6,3.956191,4.578211,4.058751,4.058751
251,Mané,Liverpool,117,29.782609,137,155.952359,4.6,5.236357,4.566662,5.531675,5.531675
110,Zouma,Chelsea,53,19.800000,99,81.516032,5.0,4.116971,4.526354,3.916296,3.916296
4,Aubameyang,Arsenal,113,25.116279,108,111.466875,4.3,4.438033,4.495168,4.431502,4.431502
538,Steffen,Manchester City,44,1.000000,2,3.880897,2.0,3.880897,4.490825,3.999879,3.999879
506,Wilson,Newcastle Utd,65,23.800000,119,108.237474,5.0,4.547793,4.484726,4.437806,4.437806
284,Foden,Manchester City,60,25.106383,118,106.148930,4.7,4.227966,4.479951,4.122575,4.122575
474,Neto,Wolves,56,31.000000,124,124.567590,4.0,4.018309,4.461907,3.952936,3.952936
435,Cresswell,West Ham,56,30.909091,136,127.490889,4.4,4.124705,4.457289,4.387942,4.387942
542,Reguilón,Tottenham,56,21.764706,74,75.494213,3.4,3.468653,4.446747,3.600569,3.600569
91,Wood,Burnley,63,27.906977,120,123.098737,4.3,4.411038,4.439923,4.571537,4.571537
12,Martínez,Aston Villa,54,32.156863,164,141.428441,5.1,4.398080,4.386600,4.388471,4.388471
13,Chambers,Arsenal,45,5.000000,16,20.371809,3.2,4.074362,4.358256,4.257886,4.257886
543,Bale,Tottenham,91,15.000000,69,55.463907,4.6,3.697594,4.338074,3.820669,3.820669
166,Richarlison,Everton,78,27.631579,105,114.277474,3.8,4.135756,4.314535,4.068421,4.068421
455,Patrício,Wolves,53,32.972973,122,122.947289,3.7,3.728729,4.308268,3.758064,3.758064
24,Saka,Arsenal,51,27.837838,103,117.832816,3.7,4.232829,4.292288,4.235100,4.235100
548,Mendy,Chelsea,52,27.272727,120,107.267262,4.4,3.933133,4.291171,3.783391,3.783391

In [12]:
# save predictions
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players.to_csv(filepath)