In [1]:
# recent gameweek
latest_gameweek = 22

In [2]:
import pandas as pd
import numpy as np
import json
import requests
from scipy.stats import poisson

# allow more data columns to be shown than by default
pd.set_option('max_columns',100)

In [3]:
# fetch FPL fixtures online
fixtures_text = json.loads(requests.get('https://fantasy.premierleague.com/api/fixtures').text)
fixtures = pd.DataFrame(fixtures_text)
fixtures.head(20)

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,pulse_id,started,stats,team_a,team_a_difficulty,team_a_score,team_h,team_h_difficulty,team_h_score
0,2128457,NaN,False,False,170,None,0,False,59067,None,[],17,3,NaN,2,4,NaN
1,2128467,NaN,False,False,180,None,0,False,59077,None,[],7,3,NaN,2,3,NaN
2,2128608,NaN,False,False,321,None,0,False,59218,None,[],17,2,NaN,8,4,NaN
3,2128612,NaN,False,False,325,None,0,False,59222,None,[],16,5,NaN,12,3,NaN
4,2128288,1.0,True,True,2,2020-09-12T11:30:00Z,90,False,58898,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",1,2,3.0,8,3,0.0
5,2128287,1.0,True,True,1,2020-09-12T14:00:00Z,90,False,58897,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",16,3,0.0,6,3,1.0
6,2128289,1.0,True,True,3,2020-09-12T16:30:00Z,90,False,58899,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",10,5,3.0,11,2,4.0
7,2128293,1.0,True,True,6,2020-09-12T19:00:00Z,90,False,58903,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",14,3,2.0,19,2,0.0
8,2128292,1.0,True,True,5,2020-09-13T13:00:00Z,90,False,58902,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",9,2,3.0,18,4,0.0
9,2128291,1.0,True,True,4,2020-09-13T15:30:00Z,90,False,58901,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",7,4,1.0,17,3,0.0
10,2128295,1.0,True,True,8,2020-09-14T17:00:00Z,90,False,58905,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",20,2,2.0,15,3,0.0
11,2128294,1.0,True,True,7,2020-09-14T19:15:00Z,90,False,58904,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,2,3.0,3,4,1.0
12,2128299,2.0,True,True,12,2020-09-19T11:30:00Z,90,False,58909,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",18,3,2.0,7,2,5.0
13,2128300,2.0,True,True,13,2020-09-19T14:00:00Z,90,False,58910,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",8,3,3.0,10,2,4.0
14,2128302,2.0,True,True,15,2020-09-19T16:30:00Z,90,False,58912,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",6,4,3.0,13,3,1.0
15,2128296,2.0,True,True,9,2020-09-19T19:00:00Z,90,False,58906,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",19,3,1.0,1,3,2.0
16,2128304,2.0,True,True,17,2020-09-20T11:00:00Z,90,False,58914,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",17,3,5.0,16,4,2.0
17,2128303,2.0,True,True,16,2020-09-20T13:00:00Z,90,False,58913,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,3,3.0,14,2,0.0
18,2128298,2.0,True,True,11,2020-09-20T15:30:00Z,90,False,58908,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",11,4,2.0,5,4,0.0
19,2128301,2.0,True,True,14,2020-09-20T18:00:00Z,90,False,58911,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,4,2.0,9,2,4.0

In [4]:
filepath = '../data/fbref/team_stats_week' + str(latest_gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col='Squad')
display(teamStats)

,Rk,MP,W,D,L,GF,GA,GDiff,Pts,xG,xGA,xGDiff,xGDiff/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes,xG per game,xGA per game,probability no goals allowed
Squad,,,,,,,,,,,,,,,,,,,,,
Manchester City,1,21,14,5,2,39,13,26,47,39.0,14.7,24.3,1.16,W W W W W,NaN,İlkay Gündoğan Raheem Sterling - 7,Ederson,NaN,1.857143,0.700000,0.496585
Manchester Utd,2,22,13,5,4,46,27,19,44,37.4,27.5,9.9,0.45,D W L D W,NaN,Bruno Fernandes - 12,David de Gea,NaN,1.700000,1.250000,0.286505
Leicester City,3,22,13,3,6,39,25,14,42,32.5,24.6,7.9,0.36,W W D L W,NaN,Jamie Vardy - 11,Kasper Schmeichel,NaN,1.477273,1.118182,0.326874
Liverpool,4,22,11,7,4,43,25,18,40,41.8,24.6,17.2,0.78,D L W W L,545.0,Mohamed Salah - 15,Alisson,NaN,1.900000,1.118182,0.326874
West Ham,5,22,11,5,6,34,28,6,38,30.0,25.5,4.5,0.21,W W W L W,182.0,Tomáš Souček - 8,Łukasz Fabiański,NaN,1.363636,1.159091,0.313771
Chelsea,6,22,10,6,6,36,23,13,36,34.8,21.5,13.3,0.60,W L D W W,182.0,Tammy Abraham - 6,Edouard Mendy,NaN,1.581818,0.977273,0.376336
Everton,7,20,11,3,6,31,25,6,36,24.9,25.1,-0.2,-0.01,L W D L W,200.0,Dominic Calvert-Lewin - 12,Jordan Pickford,NaN,1.245000,1.255000,0.285076
Tottenham,8,21,9,6,6,34,22,12,33,27.4,25.7,1.7,0.08,D W L L L,182.0,Harry Kane Son Heung-min - 12,Hugo Lloris,NaN,1.304762,1.223810,0.294108
Aston Villa,9,20,10,2,8,35,24,11,32,33.2,25.9,7.3,0.36,L W L W L,NaN,Ollie Watkins - 9,Emiliano Martínez,NaN,1.660000,1.295000,0.273898
Arsenal,10,22,9,4,9,27,22,5,31,29.3,25.9,3.4,0.15,D W W D L,182.0,Alexandre Lacazette - 8,Bernd Leno,NaN,1.331818,1.177273,0.308118
Leeds United,11,21,9,2,10,36,38,-2,29,33.2,37.7,-4.5,-0.21,L L W W L,NaN,Patrick Bamford - 11,Illan Meslier,NaN,1.580952,1.795238,0.166088
Southampton,12,21,8,5,8,27,34,-7,29,20.8,28.2,-7.4,-0.35,W L L L L,182.0,Danny Ings - 7,Alex McCarthy,NaN,0.990476,1.342857,0.261099
Crystal Palace,13,22,8,5,9,27,37,-10,29,19.4,30.6,-11.3,-0.51,D L L W W,182.0,Wilfried Zaha - 9,Vicente Guaita,NaN,0.881818,1.390909,0.248849
Wolves,14,22,7,5,10,23,31,-8,26,22.2,25.5,-3.3,-0.15,L L D L W,NaN,Pedro Neto Raúl Jiménez - 4,Rui Patrício,NaN,1.009091,1.159091,0.313771
Brighton,15,22,5,9,8,24,29,-5,24,30.1,23.2,6.9,0.31,L W D W W,182.0,Neal Maupay - 7,Robert Sánchez Mathew Ryan,NaN,1.368182,1.054545,0.348351
Newcastle Utd,16,22,6,4,12,22,36,-14,22,21.3,30.8,-9.5,-0.43,L L L W L,NaN,Callum Wilson - 10,Karl Darlow,NaN,0.968182,1.400000,0.246597
Burnley,17,21,6,4,11,13,28,-15,22,16.7,32.6,-15.9,-0.76,L W W L L,NaN,Chris Wood - 4,Nick Pope,NaN,0.795238,1.552381,0.211743
Fulham,18,21,2,8,11,17,31,-14,14,22.6,30.5,-7.9,-0.38,L L D D L,182.0,Bobby Reid - 5,Alphonse Areola,NaN,1.076190,1.452381,0.234012
West Brom,19,22,2,6,14,18,52,-34,12,15.1,40.5,-25.5,-1.16,W L L D L,NaN,Matheus Pereira - 5,Sam Johnstone,NaN,0.686364,1.840909,0.158673
Sheffield Utd,20,22,3,2,17,14,35,-21,11,20.6,31.6,-11.0,-0.50,W L W L W,NaN,David McGoldrick - 5,Aaron Ramsdale,NaN,0.936364,1.436364,0.237791

In [5]:
# fetch FPL data
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players = pd.read_csv(filepath, index_col=0)
players.head()

,adjusted points,adjusted points per game,assists,assists_week1,assists_week10,assists_week11,assists_week12,assists_week13,assists_week14,assists_week15,assists_week16,assists_week17,assists_week18,assists_week19,assists_week2,assists_week20,assists_week21,assists_week22,assists_week3,assists_week4,assists_week5,assists_week6,assists_week7,assists_week8,assists_week9,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheet_points,clean_sheets,cleansheet_week1,cleansheet_week10,cleansheet_week11,cleansheet_week12,cleansheet_week13,cleansheet_week14,cleansheet_week15,cleansheet_week16,cleansheet_week17,cleansheet_week18,cleansheet_week19,cleansheet_week2,cleansheet_week20,cleansheet_week21,cleansheet_week22,cleansheet_week3,cleansheet_week4,cleansheet_week5,cleansheet_week6,...,xGA_week7,xGA_week8,xGA_week9,xG_points,xG_week1,xG_week10,xG_week11,xG_week12,xG_week13,xG_week14,xG_week15,xG_week16,xG_week17,xG_week18,xG_week19,xG_week2,xG_week20,xG_week21,xG_week22,xG_week3,xG_week4,xG_week5,xG_week6,xG_week7,xG_week8,xG_week9,xPoints,xPoints week 1,xPoints week 10,xPoints week 11,xPoints week 12,xPoints week 13,xPoints week 14,xPoints week 15,xPoints week 16,xPoints week 17,xPoints week 18,xPoints week 19,xPoints week 2,xPoints week 20,xPoints week 21,xPoints week 22,xPoints week 3,xPoints week 4,xPoints week 5,xPoints week 6,xPoints week 7,xPoints week 8,xPoints week 9,yellow_cards
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,33.416732,2.539672,0,NaN,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0,138,0.0,100.0,16.216732,3,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.3,1.8,2.5,4.20,NaN,0.0,NaN,NaN,0.0,0.1,NaN,NaN,NaN,0.0,0.4,0.0,0.0,0.1,0.0,0.0,0.0,0.1,0.0,NaN,NaN,NaN,-3.000000,NaN,0.000000,NaN,NaN,1.000000,3.397316,NaN,NaN,NaN,2.471518,7.363273,1.00000,3.204777,3.586388,-3.000000,1.199148,5.274923,3.586388,1.000000,NaN,NaN,NaN,1
4,77.963841,4.331325,1,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,1.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6,207,100.0,75.0,5.546122,7,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.3,1.8,2.5,30.02,0.4,0.4,0.2,0.2,0.3,NaN,NaN,0.6,0.8,0.1,1.4,0.1,NaN,NaN,0.1,0.0,0.0,0.0,0.3,0.9,0.0,0.3,1.500000,3.818731,4.246597,3.606531,1.70657,7.132871,NaN,NaN,5.449329,6.67032,2.867879,11.740818,5.61799,NaN,NaN,1.500000,2.049787,2.818731,3.746597,4.101194,7.540818,2.765299,3.282085,2
5,20.060077,4.012015,1,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,79,100.0,100.0,6.162358,2,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,0.0,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.60,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.1,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.986388,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,10.658585,NaN,3.804777,2.586388,1.986388,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [6]:
coefficients = pd.DataFrame(np.nan, index=teamStats.index, columns=['xG','xGA','coefficient'])

for ix in coefficients.index:
    coefficients.loc[ix, 'xG'] = teamStats.loc[ix, 'xG per game']
    coefficients.loc[ix, 'xGA'] = teamStats.loc[ix, 'xGA per game']
    coefficients.loc[ix, 'coefficient'] = 0.755489209043063 * coefficients.loc[ix, 'xG']

display(coefficients)

                       xG       xGA  coefficient
Squad
Manchester City  1.857143  0.700000     1.403051
Manchester Utd   1.700000  1.250000     1.284332
Leicester City   1.477273  1.118182     1.116064
Liverpool        1.900000  1.118182     1.435429
West Ham         1.363636  1.159091     1.030213
Chelsea          1.581818  0.977273     1.195047
Everton          1.245000  1.255000     0.940584
Tottenham        1.304762  1.223810     0.985734
Aston Villa      1.660000  1.295000     1.254112
Arsenal          1.331818  1.177273     1.006174
Leeds United     1.580952  1.795238     1.194392
Southampton      0.990476  1.342857     0.748294
Crystal Palace   0.881818  1.390909     0.666204
Wolves           1.009091  1.159091     0.762357
Brighton         1.368182  1.054545     1.033647
Newcastle Utd    0.968182  1.400000     0.731451
Burnley          0.795238  1.552381     0.600794
Fulham           1.076190  1.452381     0.813050
West Brom        0.686364  1.840909     0.518540
Sheffield Utd    0.936364  1.436364     0.707413

In [7]:
def points_for_clean_sheet(position):
    if position < 3:
        return 4
    elif position==3:
        return 1
    elif position==4:
        return 0

In [8]:
goalkeepers = players['element_type'] == 1
defenders = players['element_type'] == 2
midfielders = players['element_type'] == 3
forwards = players['element_type'] == 4

In [9]:
home_coefficient = 1.0721855628874228
away_coefficient = 0.9280143971205758

In [10]:
team_names = np.sort(teamStats.index)
# for some reason the fpl team numbers are not alphabetical with leeds and leicester...
if (team_names[8]=='Leeds United') & (team_names[9]=='Leicester City'):
    team_names[8] = 'Leicester City'
    team_names[9] = 'Leeds United'
    
# how many gameweeks ahead do you want to look at
for number_gameweeks in [1,5,10]:
    expectations = pd.DataFrame(0, index=teamStats.index, \
                columns=['games','total_xG','total_xGA','xG per game', 'xGA per game'])
    gameweeks = np.arange(latest_gameweek+1, latest_gameweek+number_gameweeks+1)
    games = fixtures[fixtures['event'].isin(gameweeks)]
    for ix in games.index:
        home_team_number = games.loc[ix,'team_h']
        home_team = team_names[home_team_number-1]
        away_team_number = games.loc[ix,'team_a']
        away_team = team_names[away_team_number-1]

        home_xG = home_coefficient * coefficients.loc[home_team,'coefficient'] * \
                                    coefficients.loc[away_team,'xGA']
        away_xG = away_coefficient * coefficients.loc[away_team,'coefficient'] * \
                                    coefficients.loc[home_team,'xGA']
        expectations.loc[home_team,'total_xG'] += home_xG
        expectations.loc[home_team,'total_xGA'] += away_xG
        expectations.loc[home_team,'games'] += 1
        expectations.loc[away_team,'total_xG'] += away_xG
        expectations.loc[away_team,'total_xGA'] += home_xG
        expectations.loc[away_team,'games'] += 1

    expectations['xG per game'] = expectations['total_xG'] / expectations['games']
    expectations['xGA per game'] = expectations['total_xGA'] / expectations['games']
    print('expectations:')
    display(expectations)

    new_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    coefficients[new_column] = expectations['xG per game'] / coefficients['xG']
    print('coefficients:')
    display(coefficients)
    
    new_column = 'next' + str(number_gameweeks) + '_xP'
    multiplier_xG_xA_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    for ix in players.index:
        team = players.loc[ix,'team_name']
        position = players.loc[ix, 'element_type']

        # adjust xP based on xg and xa for the next game
        xg_points_per_game = players.loc[ix,'xG_points'] / players.loc[ix,'games played']
        xa_points_per_game = players.loc[ix,'xA_points'] / players.loc[ix,'games played']
        xpoints = xg_points_per_game + xa_points_per_game
        players.loc[ix, new_column] = players.loc[ix, 'adjusted points per game'] - \
                            xpoints + coefficients.loc[team, multiplier_xG_xA_column]*xpoints    

        # adjust xP based on probability to keep a clean sheet for the next game
        clean_sheet_points_per_game = players.loc[ix,'clean_sheet_points'] / \
                                        players.loc[ix,'games played']
        probability_clean_sheet_next = poisson.pmf(0, expectations.loc[team, 'xGA per game'])
        players.loc[ix, new_column] = players.loc[ix, new_column] - clean_sheet_points_per_game \
                + points_for_clean_sheet(position) * probability_clean_sheet_next

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      1  1.455931   1.077333     1.455931      1.077333
Manchester Utd       1  1.728188   1.091094     1.728188      1.091094
Leicester City       1  1.200497   0.913989     1.200497      0.913989
Liverpool            1  1.077333   1.455931     1.077333      1.455931
West Ham             1  1.388552   1.010427     1.388552      1.010427
Chelsea              1  1.592957   0.741239     1.592957      0.741239
Everton              1  1.091094   1.728188     1.091094      1.728188
Tottenham            1  1.945637   0.588913     1.945637      0.588913
Aston Villa          1  1.583009   1.209199     1.583009      1.209199
Arsenal              1  1.209199   1.583009     1.209199      1.583009
Leeds United         1  1.781213   1.109901     1.781213      1.109901
Southampton          1  0.972199   1.053137     0.972199      1.053137
Crystal Palace       1  1.109901   1.781213     1.109901      1.781213
Wolves               1  0.913989   1.200497     0.913989      1.200497
Brighton             1  1.489104   0.679299     1.489104      0.679299
Newcastle Utd        1  1.053137   0.972199     1.053137      0.972199
Burnley              1  0.679299   1.489104     0.679299      1.489104
Fulham               1  1.010427   1.388552     1.010427      1.388552
West Brom            1  0.588913   1.945637     0.588913      1.945637
Sheffield Utd        1  0.741239   1.592957     0.741239      1.592957

coefficients:

                       xG       xGA  coefficient  next1_xG_xA_multiplier
Squad
Manchester City  1.857143  0.700000     1.403051                0.783963
Manchester Utd   1.700000  1.250000     1.284332                1.016581
Leicester City   1.477273  1.118182     1.116064                0.812644
Liverpool        1.900000  1.118182     1.435429                0.567017
West Ham         1.363636  1.159091     1.030213                1.018271
Chelsea          1.581818  0.977273     1.195047                1.007042
Everton          1.245000  1.255000     0.940584                0.876381
Tottenham        1.304762  1.223810     0.985734                1.491182
Aston Villa      1.660000  1.295000     1.254112                0.953620
Arsenal          1.331818  1.177273     1.006174                0.907931
Leeds United     1.580952  1.795238     1.194392                1.126671
Southampton      0.990476  1.342857     0.748294                0.981547
Crystal Palace   0.881818  1.390909     0.666204                1.258650
Wolves           1.009091  1.159091     0.762357                0.905755
Brighton         1.368182  1.054545     1.033647                1.088382
Newcastle Utd    0.968182  1.400000     0.731451                1.087747
Burnley          0.795238  1.552381     0.600794                0.854208
Fulham           1.076190  1.452381     0.813050                0.938892
West Brom        0.686364  1.840909     0.518540                0.858019
Sheffield Utd    0.936364  1.436364     0.707413                0.791615

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      6  10.087962   4.682327     1.681327      0.780388
Manchester Utd       5   7.849291   6.116609     1.569858      1.223322
Leicester City       5   6.380779   6.190404     1.276156      1.238081
Liverpool            5   8.647027   5.461820     1.729405      1.092364
West Ham             5   6.979142   5.860073     1.395828      1.172015
Chelsea              5   8.085735   4.206513     1.617147      0.841303
Everton              6   6.445045   8.720245     1.074174      1.453374
Tottenham            5   6.757018   5.220668     1.351404      1.044134
Aston Villa          5   7.961798   6.560233     1.592360      1.312047
Arsenal              5   6.394698   6.587896     1.278940      1.317579
Leeds United         6   9.033688   9.833025     1.505615      1.638837
Southampton          6   5.801845   7.584885     0.966974      1.264148
Crystal Palace       5   4.664771   6.617707     0.932954      1.323541
Wolves               5   5.238093   5.882779     1.047619      1.176556
Brighton             5   7.470901   4.237098     1.494180      0.847420
Newcastle Utd        5   4.723625   6.462724     0.944725      1.292545
Burnley              6   5.016891   7.606515     0.836149      1.267752
Fulham               6   6.273961   8.015001     1.045660      1.335834
West Brom            5   3.395560   8.341096     0.679112      1.668219
Sheffield Utd        5   4.322285   7.342500     0.864457      1.468500

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier
Squad,,,,,
Manchester City,1.857143,0.700000,1.403051,0.783963,0.905330
Manchester Utd,1.700000,1.250000,1.284332,1.016581,0.923446
Leicester City,1.477273,1.118182,1.116064,0.812644,0.863859
Liverpool,1.900000,1.118182,1.435429,0.567017,0.910213
West Ham,1.363636,1.159091,1.030213,1.018271,1.023608
Chelsea,1.581818,0.977273,1.195047,1.007042,1.022334
Everton,1.245000,1.255000,0.940584,0.876381,0.862791
Tottenham,1.304762,1.223810,0.985734,1.491182,1.035747
Aston Villa,1.660000,1.295000,1.254112,0.953620,0.959253
Arsenal,1.331818,1.177273,1.006174,0.907931,0.960296
Leeds United,1.580952,1.795238,1.194392,1.126671,0.952347
Southampton,0.990476,1.342857,0.748294,0.981547,0.976272
Crystal Palace,0.881818,1.390909,0.666204,1.258650,1.057989
Wolves,1.009091,1.159091,0.762357,0.905755,1.038181
Brighton,1.368182,1.054545,1.033647,1.088382,1.092092
Newcastle Utd,0.968182,1.400000,0.731451,1.087747,0.975772
Burnley,0.795238,1.552381,0.600794,0.854208,1.051444
Fulham,1.076190,1.452381,0.813050,0.938892,0.971631
West Brom,0.686364,1.840909,0.518540,0.858019,0.989435
Sheffield Utd,0.936364,1.436364,0.707413,0.791615,0.923207

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City     11  19.565416   8.342557     1.778674      0.758414
Manchester Utd      10  16.151680  11.421634     1.615168      1.142163
Leicester City      10  13.948426  10.873903     1.394843      1.087390
Liverpool           10  17.647864  11.555530     1.764786      1.155553
West Ham            10  13.156342  11.595428     1.315634      1.159543
Chelsea             10  16.569303   9.067861     1.656930      0.906786
Everton             11  13.174856  13.432518     1.197714      1.221138
Tottenham           10  13.003048  11.043362     1.300305      1.104336
Aston Villa         10  15.458412  13.214396     1.545841      1.321440
Arsenal             10  12.911578  12.314684     1.291158      1.231468
Leeds United        11  15.942299  19.659586     1.449300      1.787235
Southampton         11  11.137575  12.617769     1.012507      1.147070
Crystal Palace      10   9.176769  13.006016     0.917677      1.300602
Wolves              10   9.796340  12.049968     0.979634      1.204997
Brighton            10  13.837942   9.522835     1.383794      0.952283
Newcastle Utd       10   9.377596  13.164642     0.937760      1.316464
Burnley             11   8.784364  15.216834     0.798579      1.383349
Fulham              11  11.324973  16.063211     1.029543      1.460292
West Brom           10   6.517578  17.102971     0.651758      1.710297
Sheffield Utd       10   8.871008  15.087666     0.887101      1.508767

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier,next10_xG_xA_multiplier
Squad,,,,,,
Manchester City,1.857143,0.700000,1.403051,0.783963,0.905330,0.957748
Manchester Utd,1.700000,1.250000,1.284332,1.016581,0.923446,0.950099
Leicester City,1.477273,1.118182,1.116064,0.812644,0.863859,0.944201
Liverpool,1.900000,1.118182,1.435429,0.567017,0.910213,0.928835
West Ham,1.363636,1.159091,1.030213,1.018271,1.023608,0.964798
Chelsea,1.581818,0.977273,1.195047,1.007042,1.022334,1.047485
Everton,1.245000,1.255000,0.940584,0.876381,0.862791,0.962019
Tottenham,1.304762,1.223810,0.985734,1.491182,1.035747,0.996584
Aston Villa,1.660000,1.295000,1.254112,0.953620,0.959253,0.931230
Arsenal,1.331818,1.177273,1.006174,0.907931,0.960296,0.969470
Leeds United,1.580952,1.795238,1.194392,1.126671,0.952347,0.916726
Southampton,0.990476,1.342857,0.748294,0.981547,0.976272,1.022242
Crystal Palace,0.881818,1.390909,0.666204,1.258650,1.057989,1.040664
Wolves,1.009091,1.159091,0.762357,0.905755,1.038181,0.970808
Brighton,1.368182,1.054545,1.033647,1.088382,1.092092,1.011411
Newcastle Utd,0.968182,1.400000,0.731451,1.087747,0.975772,0.968578
Burnley,0.795238,1.552381,0.600794,0.854208,1.051444,1.004201
Fulham,1.076190,1.452381,0.813050,0.938892,0.971631,0.956655
West Brom,0.686364,1.840909,0.518540,0.858019,0.989435,0.949581
Sheffield Utd,0.936364,1.436364,0.707413,0.791615,0.923207,0.947389

In [11]:
metric = 'next1_xP'
#minGames = players['games played'] >= 3

numberToShow = 50
display(players.sort_values(by=[metric], ascending=False)[['web_name','team_name',\
         'now_cost','games played','total_points','adjusted points','points_per_game',\
         'adjusted points per game','next1_xP','next5_xP','next10_xP']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,next1_xP,next5_xP,next10_xP
id,,,,,,,,,,,
388,Kane,Tottenham,110,19.066667,143,123.334905,7.5,6.468614,7.794289,6.565094,6.459394
301,Lingard,West Ham,60,1.000000,15,7.113771,15.0,7.113771,7.196952,7.152236,7.050267
302,Fernandes,Manchester Utd,114,21.891892,162,150.687037,7.4,6.883235,6.988278,6.633818,6.748228
390,Son,Tottenham,97,21.014493,145,117.966834,6.9,5.613594,6.982319,5.752114,5.643212
272,De Bruyne,Manchester City,118,16.964286,95,117.861401,5.6,6.947619,6.034324,6.577443,6.771348
202,Bamford,Leeds United,66,21.016949,124,116.601749,5.9,5.547986,5.869952,5.426863,5.336324
224,Vardy,Leicester City,100,18.125000,116,108.921749,6.4,6.009476,5.453973,5.605823,5.844034
506,Wilson,Newcastle Utd,68,19.827586,115,104.066312,5.8,5.248562,5.433017,5.197632,5.182509
37,Grealish,Aston Villa,78,20.161290,125,109.194758,6.2,5.416060,5.339609,5.322706,5.259170
39,Hause,Aston Villa,44,4.000000,28,20.982366,7.0,5.245591,5.267218,5.159841,5.103533
389,Aurier,Tottenham,52,11.951220,49,45.957498,4.1,3.845423,5.258604,4.103899,3.992144
542,Reguilón,Tottenham,56,12.926829,53,49.700672,4.1,3.844769,5.184437,4.097895,3.992001
383,Lloris,Tottenham,56,21.250000,85,85.999148,4.0,4.047019,5.090309,4.278575,4.196311
141,Zaha,Crystal Palace,72,18.888889,102,86.433637,5.4,4.575898,4.975294,4.700814,4.674852
123,James,Chelsea,50,15.853659,65,70.360652,4.1,4.438133,4.844077,4.673866,4.583113
254,Salah,Liverpool,127,21.142857,148,130.301916,7.0,6.162928,4.762683,5.900540,5.936193
277,Cancelo,Manchester City,60,15.862069,92,88.602919,5.8,5.585836,4.753123,5.341093,5.432374
232,Chilwell,Chelsea,60,17.000000,85,72.681727,5.0,4.275396,4.680492,4.508440,4.414660
164,Calvert-Lewin,Everton,76,18.947368,108,93.190875,5.7,4.918407,4.646995,4.617156,4.835019
514,Watkins,Aston Villa,63,20.222222,91,96.030875,4.5,4.748780,4.635388,4.649159,4.580647
437,Antonio,West Ham,67,14.000000,63,64.193156,4.5,4.585225,4.621116,4.631597,4.516080
75,Bernardo,Brighton,39,2.941176,5,11.498244,1.7,3.909403,4.616009,4.305224,4.068747
109,Rüdiger,Chelsea,45,6.981132,37,29.009007,5.3,4.155344,4.557605,4.379393,4.275483
12,Martínez,Aston Villa,52,20.188679,107,89.718545,5.3,4.444003,4.540778,4.424274,4.413371
276,Sterling,Manchester City,116,19.090909,105,98.486577,5.5,5.158821,4.531756,4.914074,5.038530
96,Pope,Burnley,55,20.000000,100,89.539458,5.0,4.476973,4.527925,4.757397,4.633076
203,Harrison,Leeds United,54,20.000000,86,83.012633,4.3,4.150632,4.523775,4.099883,4.014147
457,Doherty,Tottenham,56,9.090909,30,29.892541,3.3,3.288180,4.509769,3.532712,3.436232
597,Sánchez,Brighton,44,10.930233,47,42.230218,4.3,3.863616,4.498103,4.184290,4.013648
271,Gündogan,Manchester City,59,15.964912,91,80.245659,5.7,5.026376,4.485714,4.819492,4.922984
435,Cresswell,West Ham,56,22.045455,97,93.050673,4.4,4.220855,4.432964,4.218874,4.199211
105,Jorginho,Chelsea,47,13.863636,61,59.832824,4.4,4.315810,4.428603,4.410608,4.428306
273,Stones,Manchester City,52,12.028986,83,62.393670,6.9,5.186944,4.427915,4.974489,5.047893
251,Mané,Liverpool,119,19.074074,103,109.718841,5.4,5.752250,4.405516,5.500958,5.534309
68,Maupay,Brighton,61,20.000000,74,84.077719,3.7,4.203886,4.381445,4.388899,4.226811
24,Saka,Arsenal,54,18.863636,83,86.905380,4.4,4.607032,4.331491,4.492187,4.533485
69,Trossard,Brighton,57,18.974359,74,76.898325,3.9,4.052750,4.322231,4.248431,4.104571
366,Ings,Southampton,84,16.122449,79,69.933156,4.9,4.337626,4.308737,4.300480,4.372447
431,Fabianski,West Ham,51,20.750000,83,85.043018,4.0,4.098459,4.299628,4.082343,4.097892
449,Soucek,West Ham,54,22.083333,106,93.126835,4.8,4.217064,4.291599,4.244357,4.170217
386,Alderweireld,Tottenham,54,12.894737,49,40.569761,3.8,3.146226,4.280937,3.384436,3.294883
391,Dier,Tottenham,50,18.709677,58,59.010635,3.1,3.154017,4.276066,3.391305,3.302762
110,Zouma,Chelsea,55,15.000000,78,57.980164,5.2,3.865344,4.268627,4.092635,3.992374
306,Rashford,Manchester Utd,95,21.836735,107,91.242641,4.9,4.178401,4.256295,4.054332,4.125101
217,Schmeichel,Leicester City,55,21.951220,90,86.701094,4.1,3.949717,4.245909,3.801983,3.990602
570,Raphinha,Leeds United,53,16.046512,69,62.356006,4.3,3.885954,4.231808,3.845472,3.767410
62,Dunk,Brighton,48,19.117647,65,67.638585,3.4,3.538018,4.227982,3.916498,3.695214
576,Dawson,West Ham,45,7.037037,38,28.232081,5.4,4.011927,4.227117,4.013927,3.984348
558,Coufal,West Ham,47,17.894737,68,71.350294,3.8,3.987222,4.197887,3.983375,3.968361
33,Hourihane,Aston Villa,59,4.000000,20,16.893310,5.0,4.223328,4.191050,4.168783,4.131937

In [12]:
# save predictions
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players.to_csv(filepath)