In [1]:
# recent gameweek
latest_gameweek = 23

In [2]:
import pandas as pd
import numpy as np
import json
import requests
from scipy.stats import poisson

# allow more data columns to be shown than by default
pd.set_option('max_columns',100)

In [3]:
# fetch FPL fixtures online
fixtures_text = json.loads(requests.get('https://fantasy.premierleague.com/api/fixtures').text)
fixtures = pd.DataFrame(fixtures_text)
fixtures.head(20)

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,pulse_id,started,stats,team_a,team_a_difficulty,team_a_score,team_h,team_h_difficulty,team_h_score
0,2128457,NaN,False,False,170,None,0,False,59067,None,[],17,3,NaN,2,4,NaN
1,2128467,NaN,False,False,180,None,0,False,59077,None,[],7,3,NaN,2,3,NaN
2,2128567,NaN,False,False,280,None,0,False,59177,None,[],9,2,NaN,4,4,NaN
3,2128568,NaN,False,False,281,None,0,False,59178,None,[],13,3,NaN,6,4,NaN
4,2128608,NaN,False,False,321,None,0,False,59218,None,[],17,2,NaN,8,4,NaN
5,2128570,NaN,False,False,283,None,0,False,59180,None,[],5,5,NaN,11,4,NaN
6,2128571,NaN,False,False,284,None,0,False,59181,None,[],20,5,NaN,12,3,NaN
7,2128612,NaN,False,False,325,None,0,False,59222,None,[],16,5,NaN,12,3,NaN
8,2128572,NaN,False,False,285,None,0,False,59182,None,[],2,2,NaN,15,3,NaN
9,2128573,NaN,False,False,286,None,0,False,59183,None,[],16,4,NaN,17,3,NaN
10,2128574,NaN,False,False,287,None,0,False,59184,None,[],7,2,NaN,18,3,NaN
11,2128288,1.0,True,True,2,2020-09-12T11:30:00Z,90,False,58898,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",1,2,3.0,8,3,0.0
12,2128287,1.0,True,True,1,2020-09-12T14:00:00Z,90,False,58897,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",16,3,0.0,6,3,1.0
13,2128289,1.0,True,True,3,2020-09-12T16:30:00Z,90,False,58899,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",10,5,3.0,11,2,4.0
14,2128293,1.0,True,True,6,2020-09-12T19:00:00Z,90,False,58903,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",14,3,2.0,19,2,0.0
15,2128292,1.0,True,True,5,2020-09-13T13:00:00Z,90,False,58902,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",9,2,3.0,18,4,0.0
16,2128291,1.0,True,True,4,2020-09-13T15:30:00Z,90,False,58901,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",7,4,1.0,17,3,0.0
17,2128295,1.0,True,True,8,2020-09-14T17:00:00Z,90,False,58905,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",20,2,2.0,15,3,0.0
18,2128294,1.0,True,True,7,2020-09-14T19:15:00Z,90,False,58904,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,2,3.0,3,4,1.0
19,2128299,2.0,True,True,12,2020-09-19T11:30:00Z,90,False,58909,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",18,3,2.0,7,2,5.0

In [4]:
filepath = '../data/fbref/team_stats_week' + str(latest_gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col='Squad')
display(teamStats)

,Rk,MP,W,D,L,GF,GA,GDiff,Pts,xG,xGA,xGDiff,xGDiff/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes,xG per game,xGA per game,probability no goals allowed
Squad,,,,,,,,,,,,,,,,,,,,,
Manchester City,1,22,15,5,2,43,14,29,50,42.4,16.0,26.3,1.20,W W W W W,NaN,İlkay Gündoğan - 9,Ederson,NaN,1.927273,0.727273,0.483225
Manchester Utd,2,23,13,6,4,49,30,19,45,38.8,28.6,10.3,0.45,W L D W D,NaN,Bruno Fernandes - 13,David de Gea,NaN,1.686957,1.243478,0.288379
Leicester City,3,23,13,4,6,39,25,14,43,33.2,26.5,6.7,0.29,W D L W D,NaN,Jamie Vardy - 11,Kasper Schmeichel,NaN,1.443478,1.152174,0.315949
Liverpool,4,23,11,7,5,44,29,15,40,43.1,27.9,15.2,0.66,L W W L L,500.0,Mohamed Salah - 16,Alisson,NaN,1.873913,1.213043,0.297291
Chelsea,5,23,11,6,6,38,24,14,39,36.2,21.8,14.4,0.62,L D W W W,182.0,Tammy Abraham - 6,Edouard Mendy,NaN,1.573913,0.947826,0.387583
West Ham,6,23,11,6,6,34,28,6,39,30.8,26.8,4.0,0.17,W W L W D,182.0,Tomáš Souček - 8,Łukasz Fabiański,NaN,1.339130,1.165217,0.311855
Everton,7,21,11,4,6,34,28,6,37,26.0,26.6,-0.5,-0.03,W D L W D,200.0,Dominic Calvert-Lewin - 13,Jordan Pickford,NaN,1.238095,1.266667,0.281769
Tottenham,8,22,10,6,6,36,22,14,36,28.8,26.0,2.8,0.13,W L L L W,167.0,Harry Kane Son Heung-min - 13,Hugo Lloris,NaN,1.309091,1.181818,0.306721
Aston Villa,9,21,11,2,8,36,24,12,35,34.3,27.1,7.2,0.34,W L W L W,NaN,Ollie Watkins - 10,Emiliano Martínez,NaN,1.633333,1.290476,0.275140
Leeds United,10,22,10,2,10,38,38,0,32,36.0,38.3,-2.3,-0.10,L W W L W,NaN,Patrick Bamford - 12,Illan Meslier,NaN,1.636364,1.740909,0.175361
Arsenal,11,23,9,4,10,27,23,4,31,30.4,27.2,3.2,0.14,W W D L L,182.0,Alexandre Lacazette - 8,Bernd Leno,NaN,1.321739,1.182609,0.306478
Southampton,12,22,8,5,9,29,37,-8,29,22.2,29.0,-6.8,-0.31,L L L L L,182.0,Danny Ings - 7,Alex McCarthy,NaN,1.009091,1.318182,0.267621
Crystal Palace,13,23,8,5,10,27,39,-12,29,19.9,33.4,-13.5,-0.59,L L W W L,182.0,Wilfried Zaha - 9,Vicente Guaita,NaN,0.865217,1.452174,0.234061
Wolves,14,23,7,6,10,23,31,-8,27,24.2,26.2,-2.0,-0.09,L D L W D,NaN,Pedro Neto Raúl Jiménez - 4,Rui Patrício,NaN,1.052174,1.139130,0.320097
Brighton,15,23,5,10,8,25,30,-5,25,30.7,25.3,5.4,0.23,W D W W D,182.0,Neal Maupay - 7,Robert Sánchez,NaN,1.334783,1.100000,0.332871
Newcastle Utd,16,23,7,4,12,25,38,-13,25,22.2,32.2,-10.0,-0.43,L L W L W,NaN,Callum Wilson - 10,Karl Darlow,NaN,0.965217,1.400000,0.246597
Burnley,17,22,6,5,11,14,29,-15,23,18.8,33.2,-14.4,-0.65,W W L L D,NaN,Chris Wood - 4,Nick Pope,NaN,0.854545,1.509091,0.221111
Fulham,18,22,2,9,11,17,31,-14,15,24.0,31.3,-7.3,-0.33,L D D L D,167.0,Bobby Reid - 5,Alphonse Areola,NaN,1.090909,1.422727,0.241056
West Brom,19,23,2,6,15,18,54,-36,12,15.4,42.0,-26.5,-1.15,L L D L L,NaN,Matheus Pereira - 5,Sam Johnstone,NaN,0.669565,1.826087,0.161043
Sheffield Utd,20,23,3,2,18,15,37,-22,11,21.0,33.1,-12.1,-0.53,L W L W L,NaN,David McGoldrick - 5,Aaron Ramsdale,NaN,0.913043,1.439130,0.237134

In [5]:
# fetch FPL data
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players = pd.read_csv(filepath, index_col=0)
players.head()

,adjusted points,adjusted points per game,assists,assists_week1,assists_week10,assists_week11,assists_week12,assists_week13,assists_week14,assists_week15,assists_week16,assists_week17,assists_week18,assists_week19,assists_week2,assists_week20,assists_week21,assists_week22,assists_week23,assists_week3,assists_week4,assists_week5,assists_week6,assists_week7,assists_week8,assists_week9,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheet_points,clean_sheets,cleansheet_week1,cleansheet_week10,cleansheet_week11,cleansheet_week12,cleansheet_week13,cleansheet_week14,cleansheet_week15,cleansheet_week16,cleansheet_week17,cleansheet_week18,cleansheet_week19,cleansheet_week2,cleansheet_week20,cleansheet_week21,cleansheet_week22,cleansheet_week23,cleansheet_week3,cleansheet_week4,...,xGA_week9,xG_points,xG_week1,xG_week10,xG_week11,xG_week12,xG_week13,xG_week14,xG_week15,xG_week16,xG_week17,xG_week18,xG_week19,xG_week2,xG_week20,xG_week21,xG_week22,xG_week23,xG_week3,xG_week4,xG_week5,xG_week6,xG_week7,xG_week8,xG_week9,xPoints,xPoints week 1,xPoints week 10,xPoints week 11,xPoints week 12,xPoints week 13,xPoints week 14,xPoints week 15,xPoints week 16,xPoints week 17,xPoints week 18,xPoints week 19,xPoints week 2,xPoints week 20,xPoints week 21,xPoints week 22,xPoints week 23,xPoints week 3,xPoints week 4,xPoints week 5,xPoints week 6,xPoints week 7,xPoints week 8,xPoints week 9,yellow_cards
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,33.330431,2.533113,0,NaN,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0,138,100.0,0.0,16.130431,3,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,2.5,4.20,NaN,0.0,NaN,NaN,0.0,0.1,NaN,NaN,NaN,0.0,0.4,0.0,0.0,0.1,0.0,NaN,0.0,0.0,0.1,0.0,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,1.000000,3.397316,NaN,NaN,NaN,2.471518,7.363273,1.00000,3.204777,3.586388,-3.000000,NaN,1.199148,5.274923,3.586388,1.000000,NaN,NaN,NaN,1
4,79.797789,4.153858,1,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,1.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6,208,100.0,100.0,5.887607,7,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.5,30.52,0.4,0.4,0.2,0.2,0.3,NaN,NaN,0.6,0.8,0.1,1.4,0.1,NaN,NaN,0.1,0.1,0.0,0.0,0.0,0.3,0.9,0.0,0.3,1.500000,3.818731,4.246597,3.606531,1.70657,7.132871,NaN,NaN,5.449329,6.67032,2.867879,11.740818,5.61799,NaN,NaN,1.500000,1.500000,2.049787,2.818731,3.746597,4.101194,7.540818,2.765299,3.282085,2
5,23.310180,3.851247,1,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,88,100.0,100.0,7.419998,2,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,0.0,1.0,0.0,0.0,NaN,NaN,...,NaN,0.60,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.1,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.090127,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,10.658585,NaN,3.804777,2.586388,1.986388,3.090127,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [6]:
coefficients = pd.DataFrame(np.nan, index=teamStats.index, columns=['xG','xGA','coefficient'])

for ix in coefficients.index:
    coefficients.loc[ix, 'xG'] = teamStats.loc[ix, 'xG per game']
    coefficients.loc[ix, 'xGA'] = teamStats.loc[ix, 'xGA per game']
    coefficients.loc[ix, 'coefficient'] = 0.755489209043063 * coefficients.loc[ix, 'xG']

display(coefficients)

                       xG       xGA  coefficient
Squad
Manchester City  1.927273  0.727273     1.456034
Manchester Utd   1.686957  1.243478     1.274477
Leicester City   1.443478  1.152174     1.090532
Liverpool        1.873913  1.213043     1.415721
Chelsea          1.573913  0.947826     1.189074
West Ham         1.339130  1.165217     1.011699
Everton          1.238095  1.266667     0.935368
Tottenham        1.309091  1.181818     0.989004
Aston Villa      1.633333  1.290476     1.233966
Leeds United     1.636364  1.740909     1.236255
Arsenal          1.321739  1.182609     0.998560
Southampton      1.009091  1.318182     0.762357
Crystal Palace   0.865217  1.452174     0.653662
Wolves           1.052174  1.139130     0.794906
Brighton         1.334783  1.100000     1.008414
Newcastle Utd    0.965217  1.400000     0.729211
Burnley          0.854545  1.509091     0.645600
Fulham           1.090909  1.422727     0.824170
West Brom        0.669565  1.826087     0.505849
Sheffield Utd    0.913043  1.439130     0.689794

In [7]:
def points_for_clean_sheet(position):
    if position < 3:
        return 4
    elif position==3:
        return 1
    elif position==4:
        return 0

In [8]:
goalkeepers = players['element_type'] == 1
defenders = players['element_type'] == 2
midfielders = players['element_type'] == 3
forwards = players['element_type'] == 4

In [9]:
home_coefficient = 1.0721855628874228
away_coefficient = 0.9280143971205758

In [10]:
team_names = np.sort(teamStats.index)
# for some reason the fpl team numbers are not alphabetical with leeds and leicester...
if (team_names[8]=='Leeds United') & (team_names[9]=='Leicester City'):
    team_names[8] = 'Leicester City'
    team_names[9] = 'Leeds United'
    
# how many gameweeks ahead do you want to look at
for number_gameweeks in [1,5,10]:
    expectations = pd.DataFrame(0, index=teamStats.index, \
                columns=['games','total_xG','total_xGA','xG per game', 'xGA per game'])
    gameweeks = np.arange(latest_gameweek+1, latest_gameweek+number_gameweeks+1)
    games = fixtures[fixtures['event'].isin(gameweeks)]
    for ix in games.index:
        home_team_number = games.loc[ix,'team_h']
        home_team = team_names[home_team_number-1]
        away_team_number = games.loc[ix,'team_a']
        away_team = team_names[away_team_number-1]

        home_xG = home_coefficient * coefficients.loc[home_team,'coefficient'] * \
                                    coefficients.loc[away_team,'xGA']
        away_xG = away_coefficient * coefficients.loc[away_team,'coefficient'] * \
                                    coefficients.loc[home_team,'xGA']
        expectations.loc[home_team,'total_xG'] += home_xG
        expectations.loc[home_team,'total_xGA'] += away_xG
        expectations.loc[home_team,'games'] += 1
        expectations.loc[away_team,'total_xG'] += away_xG
        expectations.loc[away_team,'total_xGA'] += home_xG
        expectations.loc[away_team,'games'] += 1

    expectations['xG per game'] = expectations['total_xG'] / expectations['games']
    expectations['xGA per game'] = expectations['total_xGA'] / expectations['games']
    print('expectations:')
    display(expectations)

    new_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    coefficients[new_column] = expectations['xG per game'] / coefficients['xG']
    print('coefficients:')
    display(coefficients)
    
    new_column = 'next' + str(number_gameweeks) + '_xP'
    multiplier_xG_xA_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    for ix in players.index:
        team = players.loc[ix,'team_name']
        position = players.loc[ix, 'element_type']

        # adjust xP based on xg and xa for the next game
        xg_points_per_game = players.loc[ix,'xG_points'] / players.loc[ix,'games played']
        xa_points_per_game = players.loc[ix,'xA_points'] / players.loc[ix,'games played']
        xpoints = xg_points_per_game + xa_points_per_game
        players.loc[ix, new_column] = players.loc[ix, 'adjusted points per game'] - \
                            xpoints + coefficients.loc[team, multiplier_xG_xA_column]*xpoints    

        # adjust xP based on probability to keep a clean sheet for the next game
        clean_sheet_points_per_game = players.loc[ix,'clean_sheet_points'] / \
                                        players.loc[ix,'games played']
        probability_clean_sheet_next = poisson.pmf(0, expectations.loc[team, 'xGA per game'])
        players.loc[ix, new_column] = players.loc[ix, new_column] - clean_sheet_points_per_game \
                + points_for_clean_sheet(position) * probability_clean_sheet_next

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      2  3.556527   1.396871     1.778264      0.698436
Manchester Utd       1  2.159774   0.674418     2.159774      0.674418
Leicester City       1  1.418355   1.513737     1.418355      1.513737
Liverpool            1  1.513737   1.418355     1.513737      1.418355
Chelsea              1  1.784872   0.641412     1.784872      0.641412
West Ham             1  1.561066   0.745901     1.561066      0.745901
Everton              2  2.156208   2.680345     1.078104      1.340173
Tottenham            1  0.667498   1.844982     0.667498      1.844982
Aston Villa          1  1.259652   1.395272     1.259652      1.395272
Leeds United         1  1.356763   1.863889     1.356763      1.863889
Arsenal              1  1.863889   1.356763     1.863889      1.356763
Southampton          1  0.931112   0.972402     0.931112      0.972402
Crystal Palace       1  1.057642   0.870035     1.057642      0.870035
Wolves               1  0.972402   0.931112     0.972402      0.931112
Brighton             1  1.395272   1.259652     1.395272      1.259652
Newcastle Utd        1  0.641412   1.784872     0.641412      1.784872
Burnley              2  1.854851   2.211858     0.927425      1.105929
Fulham               2  2.123015   2.411651     1.061508      1.205826
West Brom            1  0.674418   2.159774     0.674418      2.159774
Sheffield Utd        1  0.745901   1.561066     0.745901      1.561066

coefficients:

                       xG       xGA  coefficient  next1_xG_xA_multiplier
Squad
Manchester City  1.927273  0.727273     1.456034                0.922684
Manchester Utd   1.686957  1.243478     1.274477                1.280278
Leicester City   1.443478  1.152174     1.090532                0.982595
Liverpool        1.873913  1.213043     1.415721                0.807795
Chelsea          1.573913  0.947826     1.189074                1.134034
West Ham         1.339130  1.165217     1.011699                1.165731
Everton          1.238095  1.266667     0.935368                0.870776
Tottenham        1.309091  1.181818     0.989004                0.509894
Aston Villa      1.633333  1.290476     1.233966                0.771215
Leeds United     1.636364  1.740909     1.236255                0.829133
Arsenal          1.321739  1.182609     0.998560                1.410179
Southampton      1.009091  1.318182     0.762357                0.922724
Crystal Palace   0.865217  1.452174     0.653662                1.222401
Wolves           1.052174  1.139130     0.794906                0.924184
Brighton         1.334783  1.100000     1.008414                1.045317
Newcastle Utd    0.965217  1.400000     0.729211                0.664525
Burnley          0.854545  1.509091     0.645600                1.085285
Fulham           1.090909  1.422727     0.824170                0.973049
West Brom        0.669565  1.826087     0.505849                1.007248
Sheffield Utd    0.913043  1.439130     0.689794                0.816940

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      6  10.837217   4.361168     1.806203      0.726861
Manchester Utd       5   7.646278   6.209931     1.529256      1.241986
Leicester City       5   6.903064   6.089093     1.380613      1.217819
Liverpool            5   8.983354   5.330117     1.796671      1.066023
Chelsea              5   8.360716   4.616264     1.672143      0.923253
West Ham             5   6.581713   6.563467     1.316343      1.312693
Everton              6   6.867355   7.872955     1.144559      1.312159
Tottenham            5   5.962469   5.817195     1.192494      1.163439
Aston Villa          5   7.887914   6.372714     1.577583      1.274543
Leeds United         6   8.714556  10.382349     1.452426      1.730391
Arsenal              5   6.373975   6.241511     1.274795      1.248302
Southampton          6   5.750931   7.704714     0.958488      1.284119
Crystal Palace       5   4.718735   5.772400     0.943747      1.154480
Wolves               5   5.474739   6.132339     1.094948      1.226468
Brighton             5   7.153588   4.535881     1.430718      0.907176
Newcastle Utd        5   4.618231   7.093200     0.923646      1.418640
Burnley              6   5.404430   7.432402     0.900738      1.238734
Fulham               6   6.075855   8.401508     1.012643      1.400251
West Brom            5   3.420452   7.648245     0.684090      1.529649
Sheffield Utd        5   4.266260   7.424377     0.853252      1.484875

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier
Squad,,,,,
Manchester City,1.927273,0.727273,1.456034,0.922684,0.937181
Manchester Utd,1.686957,1.243478,1.274477,1.280278,0.906518
Leicester City,1.443478,1.152174,1.090532,0.982595,0.956449
Liverpool,1.873913,1.213043,1.415721,0.807795,0.958780
Chelsea,1.573913,0.947826,1.189074,1.134034,1.062411
West Ham,1.339130,1.165217,1.011699,1.165731,0.982983
Everton,1.238095,1.266667,0.935368,0.870776,0.924452
Tottenham,1.309091,1.181818,0.989004,0.509894,0.910933
Aston Villa,1.633333,1.290476,1.233966,0.771215,0.965867
Leeds United,1.636364,1.740909,1.236255,0.829133,0.887594
Arsenal,1.321739,1.182609,0.998560,1.410179,0.964483
Southampton,1.009091,1.318182,0.762357,0.922724,0.949853
Crystal Palace,0.865217,1.452174,0.653662,1.222401,1.090763
Wolves,1.052174,1.139130,0.794906,0.924184,1.040653
Brighton,1.334783,1.100000,1.008414,1.045317,1.071873
Newcastle Utd,0.965217,1.400000,0.729211,0.664525,0.956931
Burnley,0.854545,1.509091,0.645600,1.085285,1.054055
Fulham,1.090909,1.422727,0.824170,0.973049,0.928256
West Brom,0.669565,1.826087,0.505849,1.007248,1.021693
Sheffield Utd,0.913043,1.439130,0.689794,0.816940,0.934514

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      9  16.855576   7.008118     1.872842      0.778680
Manchester Utd       9  14.668346  11.085409     1.629816      1.231712
Leicester City       9  12.765780  10.135519     1.418420      1.126169
Liverpool            9  16.908216  10.446726     1.878691      1.160747
Chelsea              9  14.979443   7.640619     1.664383      0.848958
West Ham            10  12.526368  12.012399     1.252637      1.201240
Everton             10  11.490336  12.529558     1.149034      1.252956
Tottenham            8   9.728542   9.324207     1.216068      1.165526
Aston Villa          9  14.537539  11.668071     1.615282      1.296452
Leeds United        11  16.344837  20.099205     1.485894      1.827200
Arsenal             10  12.965477  11.883740     1.296548      1.188374
Southampton          9   9.463352  10.009025     1.051484      1.112114
Crystal Palace       9   7.649924  11.716158     0.849992      1.301795
Wolves               9  10.030092   9.620127     1.114455      1.068903
Brighton            10  13.434249   9.954179     1.343425      0.995418
Newcastle Utd       10   9.039770  14.300408     0.903977      1.430041
Burnley             10   8.590753  13.035461     0.859075      1.303546
Fulham              10  10.512359  14.488829     1.051236      1.448883
West Brom            9   5.726996  15.819400     0.636333      1.757711
Sheffield Utd        9   7.798075  13.238870     0.866453      1.470986

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier,next10_xG_xA_multiplier
Squad,,,,,,
Manchester City,1.927273,0.727273,1.456034,0.922684,0.937181,0.971758
Manchester Utd,1.686957,1.243478,1.274477,1.280278,0.906518,0.966128
Leicester City,1.443478,1.152174,1.090532,0.982595,0.956449,0.982640
Liverpool,1.873913,1.213043,1.415721,0.807795,0.958780,1.002550
Chelsea,1.573913,0.947826,1.189074,1.134034,1.062411,1.057481
West Ham,1.339130,1.165217,1.011699,1.165731,0.982983,0.935411
Everton,1.238095,1.266667,0.935368,0.870776,0.924452,0.928066
Tottenham,1.309091,1.181818,0.989004,0.509894,0.910933,0.928941
Aston Villa,1.633333,1.290476,1.233966,0.771215,0.965867,0.988948
Leeds United,1.636364,1.740909,1.236255,0.829133,0.887594,0.908047
Arsenal,1.321739,1.182609,0.998560,1.410179,0.964483,0.980941
Southampton,1.009091,1.318182,0.762357,0.922724,0.949853,1.042011
Crystal Palace,0.865217,1.452174,0.653662,1.222401,1.090763,0.982402
Wolves,1.052174,1.139130,0.794906,0.924184,1.040653,1.059192
Brighton,1.334783,1.100000,1.008414,1.045317,1.071873,1.006475
Newcastle Utd,0.965217,1.400000,0.729211,0.664525,0.956931,0.936553
Burnley,0.854545,1.509091,0.645600,1.085285,1.054055,1.005301
Fulham,1.090909,1.422727,0.824170,0.973049,0.928256,0.963633
West Brom,0.669565,1.826087,0.505849,1.007248,1.021693,0.950367
Sheffield Utd,0.913043,1.439130,0.689794,0.816940,0.934514,0.948972

In [11]:
metric = 'next1_xP'
#minGames = players['games played'] >= 3

numberToShow = 50
display(players.sort_values(by=[metric], ascending=False)[['web_name','team_name',\
         'now_cost','games played','total_points','adjusted points','points_per_game',\
         'adjusted points per game','next1_xP','next5_xP','next10_xP']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,next1_xP,next5_xP,next10_xP
id,,,,,,,,,,,
302,Fernandes,Manchester Utd,115,23.150685,169,155.708181,7.3,6.725856,7.869945,6.418430,6.617723
272,De Bruyne,Manchester City,118,16.964286,95,117.859387,5.6,6.947501,6.689278,6.726406,6.823798
224,Vardy,Leicester City,100,18.870968,117,110.261455,6.2,5.842915,5.792981,5.717967,5.793111
254,Salah,Liverpool,126,22.142857,155,135.463602,7.0,6.117711,5.478178,6.039476,6.141423
277,Cancelo,Manchester City,60,17.090909,94,92.115387,5.5,5.389730,5.377067,5.334289,5.267593
271,Gündogan,Manchester City,60,17.049180,104,94.068773,6.1,5.517495,5.355045,5.374216,5.428777
276,Sterling,Manchester City,116,19.824561,113,106.940816,5.7,5.394360,5.225119,5.245564,5.303161
24,Saka,Arsenal,54,20.238095,85,91.273080,4.2,4.509964,5.218990,4.424842,4.472981
301,Lingard,West Ham,60,2.000000,18,9.723710,9.0,4.861855,5.198324,4.801226,4.783002
388,Kane,Tottenham,110,20.133333,151,131.452000,7.5,6.529073,5.174142,6.282840,6.332624
141,Zaha,Crystal Palace,71,18.888889,102,86.131696,5.4,4.559913,5.157356,4.809444,4.565251
435,Cresswell,West Ham,57,23.043478,106,100.566337,4.6,4.364200,5.119730,4.182302,4.278861
202,Bamford,Leeds United,68,22.033898,130,120.941455,5.9,5.488881,5.056011,5.204115,5.255929
273,Stones,Manchester City,52,13.076923,85,65.776389,6.5,5.029959,5.042167,4.994726,4.916907
123,James,Chelsea,50,17.179487,67,75.114250,3.9,4.372322,5.019469,4.453396,4.572581
306,Rashford,Manchester Utd,96,22.857143,112,97.822802,4.9,4.279748,5.003570,4.112494,4.222403
251,Mané,Liverpool,119,20.192308,105,112.934266,5.2,5.592935,4.998044,5.524274,5.616055
232,Chilwell,Chelsea,59,18.125000,87,77.760472,4.8,4.290233,4.928181,4.367023,4.486547
105,Jorginho,Chelsea,47,15.106383,71,68.475336,4.7,4.532874,4.918856,4.657536,4.679085
96,Pope,Burnley,55,20.816327,102,93.010866,4.9,4.468169,4.909797,4.744287,4.670147
4,Aubameyang,Arsenal,113,19.210526,73,79.797789,3.8,4.153858,4.852612,4.069625,4.117351
164,Calvert-Lewin,Everton,77,20.000000,120,100.950909,6.0,5.047545,4.766484,4.883228,4.891088
39,Hause,Aston Villa,44,4.000000,28,21.002236,7.0,5.250559,4.763568,5.211916,5.225766
37,Grealish,Aston Villa,78,21.166667,127,111.005973,6.0,5.244377,4.736014,5.177036,5.219502
558,Coufal,West Ham,47,18.974359,74,75.429712,3.9,3.975350,4.714248,3.795160,3.896493
576,Dawson,West Ham,45,8.000000,44,31.379356,5.5,3.922419,4.684095,3.739891,3.834686
556,Dias,Manchester City,61,20.000000,98,93.348188,4.9,4.667409,4.682210,4.634282,4.555305
437,Antonio,West Ham,67,15.116279,65,66.170545,4.3,4.377436,4.678939,4.346478,4.259933
431,Fabianski,West Ham,51,22.250000,89,88.755083,4.0,3.988992,4.638799,3.817950,3.944857
313,Wan-Bissaka,Manchester Utd,56,21.136364,93,75.751714,4.4,3.583952,4.583612,3.547196,3.583663
300,Shaw,Manchester Utd,49,19.090909,63,67.382428,3.3,3.529556,4.572406,3.478394,3.524047
110,Zouma,Chelsea,54,15.000000,78,59.254961,5.2,3.950331,4.559808,4.013864,4.134435
442,Masuaku,West Ham,43,10.000000,37,37.964376,3.7,3.796438,4.555627,3.614164,3.709673
568,Telles,Manchester Utd,54,7.096774,22,24.966618,3.1,3.518023,4.520798,3.480228,3.517357
109,Rüdiger,Chelsea,46,8.043478,37,31.570051,4.6,3.924925,4.515783,3.979789,4.101044
117,Werner,Chelsea,92,21.750000,87,92.521455,4.0,4.253860,4.490500,4.364048,4.355343
449,Soucek,West Ham,54,23.043478,106,93.876403,4.6,4.073882,4.457850,4.008376,3.976517
12,Martínez,Aston Villa,52,21.090909,116,95.811788,5.5,4.542800,4.426796,4.559505,4.535928
275,Mahrez,Manchester City,81,15.957447,75,72.191402,4.7,4.523995,4.408767,4.419084,4.452526
102,Azpilicueta,Chelsea,57,13.043478,60,49.511887,4.6,3.795911,4.407265,3.860318,3.980820
490,Thiago Silva,Chelsea,56,17.111111,77,64.927881,4.5,3.794487,4.392650,3.852751,3.973738
390,Son,Tottenham,96,22.142857,155,124.332760,7.0,5.615028,4.377353,5.422816,5.462177
514,Watkins,Aston Villa,64,20.833333,100,102.500727,4.8,4.920035,4.360629,4.836576,4.893012
120,Mount,Chelsea,68,22.051282,86,88.997604,3.9,4.035938,4.339018,4.121998,4.146596
506,Wilson,Newcastle Utd,67,21.090909,116,105.421091,5.5,4.998414,4.329084,4.912483,4.871826
461,Saïss,Wolves,49,13.913043,64,56.514108,4.6,4.061951,4.310614,3.980291,4.192116
280,Laporte,Manchester City,60,7.027027,26,29.982543,3.7,4.266746,4.296891,4.246087,4.160247
128,Guaita,Crystal Palace,48,23.333333,77,82.845685,3.3,3.550529,4.290033,3.875171,3.702458
6,Lacazette,Arsenal,83,20.000000,80,73.400364,4.0,3.670018,4.277494,3.617418,3.641791
366,Ings,Southampton,84,16.875000,81,74.310545,4.8,4.403588,4.277015,4.321452,4.472398

In [12]:
# save predictions
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players.to_csv(filepath)