In [1]:
# recent gameweek
latest_gameweek = 25

In [2]:
import pandas as pd
import numpy as np
import json
import requests
from scipy.stats import poisson

# allow more data columns to be shown than by default
pd.set_option('max_columns',100)

In [3]:
# fetch FPL fixtures online
fixtures_text = json.loads(requests.get('https://fantasy.premierleague.com/api/fixtures').text)
fixtures = pd.DataFrame(fixtures_text)
fixtures.head(20)

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,pulse_id,started,stats,team_a,team_a_difficulty,team_a_score,team_h,team_h_difficulty,team_h_score
0,2128467,NaN,False,False,180,None,0,False,59077,None,[],7,3,NaN,2,4,NaN
1,2128573,NaN,False,False,286,None,0,False,59183,None,[],16,4,NaN,17,2,NaN
2,2128288,1.0,True,True,2,2020-09-12T11:30:00Z,90,False,58898,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",1,2,3.0,8,3,0.0
3,2128287,1.0,True,True,1,2020-09-12T14:00:00Z,90,False,58897,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",16,3,0.0,6,2,1.0
4,2128289,1.0,True,True,3,2020-09-12T16:30:00Z,90,False,58899,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",10,4,3.0,11,3,4.0
5,2128293,1.0,True,True,6,2020-09-12T19:00:00Z,90,False,58903,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",14,4,2.0,19,2,0.0
6,2128292,1.0,True,True,5,2020-09-13T13:00:00Z,90,False,58902,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",9,2,3.0,18,4,0.0
7,2128291,1.0,True,True,4,2020-09-13T15:30:00Z,90,False,58901,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",7,4,1.0,17,4,0.0
8,2128295,1.0,True,True,8,2020-09-14T17:00:00Z,90,False,58905,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",20,2,2.0,15,3,0.0
9,2128294,1.0,True,True,7,2020-09-14T19:15:00Z,90,False,58904,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,2,3.0,3,4,1.0
10,2128299,2.0,True,True,12,2020-09-19T11:30:00Z,90,False,58909,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",18,3,2.0,7,2,5.0
11,2128300,2.0,True,True,13,2020-09-19T14:00:00Z,90,False,58910,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",8,3,3.0,10,2,4.0
12,2128302,2.0,True,True,15,2020-09-19T16:30:00Z,90,False,58912,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",6,4,3.0,13,3,1.0
13,2128296,2.0,True,True,9,2020-09-19T19:00:00Z,90,False,58906,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",19,3,1.0,1,4,2.0
14,2128304,2.0,True,True,17,2020-09-20T11:00:00Z,90,False,58914,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",17,3,5.0,16,3,2.0
15,2128303,2.0,True,True,16,2020-09-20T13:00:00Z,90,False,58913,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,3,3.0,14,3,0.0
16,2128298,2.0,True,True,11,2020-09-20T15:30:00Z,90,False,58908,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",11,4,2.0,5,4,0.0
17,2128301,2.0,True,True,14,2020-09-20T18:00:00Z,90,False,58911,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,4,2.0,9,2,4.0
18,2128297,2.0,True,True,10,2020-09-21T17:00:00Z,90,False,58907,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",15,3,0.0,2,2,1.0
19,2128305,2.0,True,True,18,2020-09-21T19:15:00Z,90,False,58915,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",12,3,3.0,20,5,1.0

In [4]:
filepath = '../data/fbref/team_stats_week' + str(latest_gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col='Squad')
display(teamStats)

,Rk,MP,W,D,L,GF,GA,GD,Pts,xG,xGA,xGD,xGD/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes,xG per game,xGA per game,probability no goals allowed
Squad,,,,,,,,,,,,,,,,,,,,,
Manchester City,1,25,18,5,2,50,15,35,59,48.7,17.9,30.8,1.23,W W W W W,NaN,İlkay Gündoğan - 11,Ederson,NaN,1.948000,0.716,0.488703
Manchester Utd,2,25,14,7,4,53,32,21,49,41.0,30.2,10.8,0.43,D W D D W,NaN,Bruno Fernandes - 15,David de Gea,NaN,1.640000,1.208,0.298794
Leicester City,3,25,15,4,6,44,27,17,49,37.0,29.6,7.5,0.30,L W D W W,NaN,Jamie Vardy - 12,Kasper Schmeichel,NaN,1.480000,1.184,0.306052
West Ham,4,25,13,6,6,39,29,10,45,33.9,28.7,5.2,0.21,L W D W W,154.0,Tomáš Souček - 8,Łukasz Fabiański,NaN,1.356000,1.148,0.317271
Chelsea,5,25,12,7,6,41,25,16,43,39.5,23.0,16.5,0.66,W W W W D,167.0,Tammy Abraham - 6,Edouard Mendy,NaN,1.580000,0.920,0.398519
Liverpool,6,25,11,7,7,45,34,11,40,46.5,31.8,14.7,0.59,W L L L L,462.0,Mohamed Salah - 17,Alisson,NaN,1.860000,1.272,0.280271
Everton,7,24,12,4,8,37,33,4,40,28.9,32.4,-3.5,-0.15,W D L L W,167.0,Dominic Calvert-Lewin - 13,Jordan Pickford,NaN,1.204167,1.350,0.259240
Aston Villa,8,23,11,3,9,37,26,11,36,35.6,29.9,5.7,0.25,W L W D L,NaN,Ollie Watkins - 10,Emiliano Martínez,NaN,1.547826,1.300,0.272532
Tottenham,9,24,10,6,8,37,27,10,36,30.5,30.0,0.5,0.02,L L W L L,167.0,Harry Kane Son Heung-min - 13,Hugo Lloris,NaN,1.270833,1.250,0.286505
Leeds United,10,25,11,2,12,43,43,0,35,39.3,42.1,-2.7,-0.11,L W L L W,NaN,Patrick Bamford - 13,Illan Meslier,NaN,1.572000,1.684,0.185630
Arsenal,11,25,10,4,11,31,26,5,34,33.1,29.9,3.1,0.13,D L L W L,154.0,Alexandre Lacazette Pierre-Emerick Aubameyang - 8,Bernd Leno,NaN,1.324000,1.196,0.302401
Wolves,12,25,9,6,10,26,32,-6,33,26.0,28.3,-2.3,-0.09,L W D W W,NaN,Pedro Neto - 5,Rui Patrício,NaN,1.040000,1.132,0.322388
Crystal Palace,13,25,9,5,11,29,43,-14,32,20.8,37.3,-16.5,-0.66,W W L L W,167.0,Wilfried Zaha - 9,Vicente Guaita,NaN,0.832000,1.492,0.224922
Southampton,14,25,8,6,11,31,43,-12,30,24.1,32.6,-8.6,-0.34,L L L D L,154.0,Danny Ings - 8,Alex McCarthy,NaN,0.964000,1.304,0.271444
Burnley,15,25,7,7,11,18,30,-12,28,22.0,35.4,-13.4,-0.54,L D W D D,NaN,Chris Wood - 4,Nick Pope,NaN,0.880000,1.416,0.242683
Brighton,16,25,5,11,9,26,32,-6,26,35.0,25.7,9.3,0.37,W W D D L,154.0,Neal Maupay - 7,Robert Sánchez,NaN,1.400000,1.028,0.357722
Newcastle Utd,17,25,7,4,14,26,43,-17,25,23.4,36.0,-12.6,-0.50,W L W L L,NaN,Callum Wilson - 10,Karl Darlow,NaN,0.936000,1.440,0.236928
Fulham,18,25,4,10,11,21,32,-11,22,28.1,33.9,-5.8,-0.23,L D W D W,154.0,Bobby Reid - 5,Alphonse Areola,NaN,1.124000,1.356,0.257689
West Brom,19,25,2,8,15,19,55,-36,14,17.6,42.8,-25.2,-1.01,D L L D D,NaN,Matheus Pereira - 5,Sam Johnstone,NaN,0.704000,1.712,0.180504
Sheffield Utd,20,25,3,2,20,15,41,-26,11,22.4,35.9,-13.5,-0.54,L W L L L,NaN,David McGoldrick - 5,Aaron Ramsdale,NaN,0.896000,1.436,0.237877

In [5]:
# fetch FPL data
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players = pd.read_csv(filepath, index_col=0)
players.head()

,adjusted points,adjusted points per game,assists,assists_week1,assists_week10,assists_week11,assists_week12,assists_week13,assists_week14,assists_week15,assists_week16,assists_week17,assists_week18,assists_week19,assists_week2,assists_week20,assists_week21,assists_week22,assists_week23,assists_week24,assists_week25,assists_week3,assists_week4,assists_week5,assists_week6,assists_week7,assists_week8,assists_week9,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheet_points,clean_sheets,cleansheet_week1,cleansheet_week10,cleansheet_week11,cleansheet_week12,cleansheet_week13,cleansheet_week14,cleansheet_week15,cleansheet_week16,cleansheet_week17,cleansheet_week18,cleansheet_week19,cleansheet_week2,cleansheet_week20,cleansheet_week21,cleansheet_week22,cleansheet_week23,...,xG_week11,xG_week12,xG_week13,xG_week14,xG_week15,xG_week16,xG_week17,xG_week18,xG_week19,xG_week2,xG_week20,xG_week21,xG_week22,xG_week23,xG_week24,xG_week25,xG_week3,xG_week4,xG_week5,xG_week6,xG_week7,xG_week8,xG_week9,xPoints,xPoints week 1,xPoints week 10,xPoints week 11,xPoints week 12,xPoints week 13,xPoints week 14,xPoints week 15,xPoints week 16,xPoints week 17,xPoints week 18,xPoints week 19,xPoints week 2,xPoints week 20,xPoints week 21,xPoints week 22,xPoints week 23,xPoints week 24,xPoints week 25,xPoints week 3,xPoints week 4,xPoints week 5,xPoints week 6,xPoints week 7,xPoints week 8,xPoints week 9,yellow_cards
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,38.544084,2.569606,0,NaN,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0,152,100.0,100.0,18.144084,3,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,0.0,0.1,NaN,NaN,NaN,0.0,0.4,0.0,0.0,0.1,0.0,NaN,0.0,0.0,0.0,0.0,0.1,0.0,NaN,NaN,NaN,1.000000,NaN,0.000000,NaN,NaN,1.000000,3.397316,NaN,NaN,NaN,2.471518,7.363273,1.00000,3.204777,3.586388,-3.000000,NaN,4.395247,1.000000,1.199148,5.274923,3.586388,1.000000,NaN,NaN,NaN,1
4,96.610462,4.576285,1,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,1.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9,268,100.0,100.0,6.384030,7,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.2,0.2,0.3,NaN,NaN,0.6,0.8,0.1,1.4,0.1,NaN,NaN,0.1,0.1,1.9,0.0,0.0,0.0,0.0,0.3,0.9,0.0,0.3,2.122456,3.818731,4.246597,3.606531,1.70657,7.132871,NaN,NaN,5.449329,6.67032,2.867879,11.740818,5.61799,NaN,NaN,1.500000,1.500000,15.348812,2.122456,2.049787,2.818731,3.746597,4.101194,7.540818,2.765299,3.282085,2
5,26.324825,3.729350,1,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,100,100.0,100.0,8.538393,2,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,0.0,1.0,0.0,0.0,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.1,0.0,0.0,0.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,10.658585,NaN,3.804777,2.586388,1.986388,3.090127,4.095247,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [6]:
coefficients = pd.DataFrame(np.nan, index=teamStats.index, columns=['xG','xGA','coefficient'])

for ix in coefficients.index:
    coefficients.loc[ix, 'xG'] = teamStats.loc[ix, 'xG per game']
    coefficients.loc[ix, 'xGA'] = teamStats.loc[ix, 'xGA per game']
    coefficients.loc[ix, 'coefficient'] = 0.755489209043063 * coefficients.loc[ix, 'xG']

display(coefficients)

                       xG    xGA  coefficient
Squad
Manchester City  1.948000  0.716     1.471693
Manchester Utd   1.640000  1.208     1.239002
Leicester City   1.480000  1.184     1.118124
West Ham         1.356000  1.148     1.024443
Chelsea          1.580000  0.920     1.193673
Liverpool        1.860000  1.272     1.405210
Everton          1.204167  1.350     0.909735
Aston Villa      1.547826  1.300     1.169366
Tottenham        1.270833  1.250     0.960101
Leeds United     1.572000  1.684     1.187629
Arsenal          1.324000  1.196     1.000268
Wolves           1.040000  1.132     0.785709
Crystal Palace   0.832000  1.492     0.628567
Southampton      0.964000  1.304     0.728292
Burnley          0.880000  1.416     0.664831
Brighton         1.400000  1.028     1.057685
Newcastle Utd    0.936000  1.440     0.707138
Fulham           1.124000  1.356     0.849170
West Brom        0.704000  1.712     0.531864
Sheffield Utd    0.896000  1.436     0.676918

In [7]:
def points_for_clean_sheet(position):
    if position < 3:
        return 4
    elif position==3:
        return 1
    elif position==4:
        return 0

In [8]:
goalkeepers = players['element_type'] == 1
defenders = players['element_type'] == 2
midfielders = players['element_type'] == 3
forwards = players['element_type'] == 4

In [9]:
home_coefficient = 1.0721855628874228
away_coefficient = 0.9280143971205758

In [10]:
team_names = np.sort(teamStats.index)
# for some reason the fpl team numbers are not alphabetical with leeds and leicester...
if (team_names[8]=='Leeds United') & (team_names[9]=='Leicester City'):
    team_names[8] = 'Leicester City'
    team_names[9] = 'Leeds United'
    
# how many gameweeks ahead do you want to look at
for number_gameweeks in [1,5,10]:
    expectations = pd.DataFrame(0, index=teamStats.index, \
                columns=['games','total_xG','total_xGA','xG per game', 'xGA per game'])
    gameweeks = np.arange(latest_gameweek+1, latest_gameweek+number_gameweeks+1)
    games = fixtures[fixtures['event'].isin(gameweeks)]
    for ix in games.index:
        home_team_number = games.loc[ix,'team_h']
        home_team = team_names[home_team_number-1]
        away_team_number = games.loc[ix,'team_a']
        away_team = team_names[away_team_number-1]

        home_xG = home_coefficient * coefficients.loc[home_team,'coefficient'] * \
                                    coefficients.loc[away_team,'xGA']
        away_xG = away_coefficient * coefficients.loc[away_team,'coefficient'] * \
                                    coefficients.loc[home_team,'xGA']
        expectations.loc[home_team,'total_xG'] += home_xG
        expectations.loc[home_team,'total_xGA'] += away_xG
        expectations.loc[home_team,'games'] += 1
        expectations.loc[away_team,'total_xG'] += away_xG
        expectations.loc[away_team,'total_xGA'] += home_xG
        expectations.loc[away_team,'games'] += 1

    expectations['xG per game'] = expectations['total_xG'] / expectations['games']
    expectations['xGA per game'] = expectations['total_xGA'] / expectations['games']
    print('expectations:')
    display(expectations)

    new_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    coefficients[new_column] = expectations['xG per game'] / coefficients['xG']
    print('coefficients:')
    display(coefficients)
    
    new_column = 'next' + str(number_gameweeks) + '_xP'
    multiplier_xG_xA_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    for ix in players.index:
        team = players.loc[ix,'team_name']
        position = players.loc[ix, 'element_type']

        # adjust xP based on xg and xa for the next game
        xg_points_per_game = players.loc[ix,'xG_points'] / players.loc[ix,'games played']
        xa_points_per_game = players.loc[ix,'xA_points'] / players.loc[ix,'games played']
        xpoints = xg_points_per_game + xa_points_per_game
        players.loc[ix, new_column] = players.loc[ix, 'adjusted points per game'] - \
                            xpoints + coefficients.loc[team, multiplier_xG_xA_column]*xpoints    

        # adjust xP based on probability to keep a clean sheet for the next game
        clean_sheet_points_per_game = players.loc[ix,'clean_sheet_points'] / \
                                        players.loc[ix,'games played']
        probability_clean_sheet_next = poisson.pmf(0, expectations.loc[team, 'xGA per game'])
        players.loc[ix, new_column] = players.loc[ix, new_column] - clean_sheet_points_per_game \
                + points_for_clean_sheet(position) * probability_clean_sheet_next

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      2  3.597676   1.202771     1.798838      0.601385
Manchester Utd       2  2.773346   2.360166     1.386673      1.180083
Leicester City       2  2.903100   1.943044     1.451550      0.971522
West Ham             1  0.680700   1.811461     0.680700      1.811461
Chelsea              2  2.955098   2.443941     1.477549      1.221971
Liverpool            2  3.258737   2.332247     1.629369      1.166124
Everton              2  2.717279   1.682265     1.358639      0.841133
Aston Villa          2  3.385788   2.598883     1.692894      1.299441
Tottenham            2  2.665818   1.909300     1.332909      0.954650
Leeds United         1  1.655366   1.827457     1.655366      1.827457
Arsenal              1  1.099063   1.433808     1.099063      1.433808
Wolves               2  1.572045   2.644478     0.786023      1.322239
Crystal Palace       2  1.727983   2.891278     0.863992      1.445639
Southampton          1  0.912418   1.271928     0.912418      1.271928
Burnley              2  1.615196   2.926931     0.807598      1.463465
Brighton             1  1.680408   0.586225     1.680408      0.586225
Newcastle Utd        1  0.858263   1.049975     0.858263      1.049975
Fulham               2  2.313843   2.122042     1.156922      1.061021
West Brom            2  1.356072   3.125759     0.678036      1.562880
Sheffield Utd        2  1.866711   3.430954     0.933356      1.715477

coefficients:

                       xG    xGA  coefficient  next1_xG_xA_multiplier
Squad
Manchester City  1.948000  0.716     1.471693                0.923428
Manchester Utd   1.640000  1.208     1.239002                0.845532
Leicester City   1.480000  1.184     1.118124                0.980777
West Ham         1.356000  1.148     1.024443                0.501991
Chelsea          1.580000  0.920     1.193673                0.935158
Liverpool        1.860000  1.272     1.405210                0.876005
Everton          1.204167  1.350     0.909735                1.128282
Aston Villa      1.547826  1.300     1.169366                1.093724
Tottenham        1.270833  1.250     0.960101                1.048847
Leeds United     1.572000  1.684     1.187629                1.053032
Arsenal          1.324000  1.196     1.000268                0.830108
Wolves           1.040000  1.132     0.785709                0.755791
Crystal Palace   0.832000  1.492     0.628567                1.038452
Southampton      0.964000  1.304     0.728292                0.946492
Burnley          0.880000  1.416     0.664831                0.917725
Brighton         1.400000  1.028     1.057685                1.200292
Newcastle Utd    0.936000  1.440     0.707138                0.916948
Fulham           1.124000  1.356     0.849170                1.029290
West Brom        0.704000  1.712     0.531864                0.963119
Sheffield Utd    0.896000  1.436     0.676918                1.041692

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      6  11.030442   4.020217     1.838407      0.670036
Manchester Utd       5   6.487298   6.600454     1.297460      1.320091
Leicester City       5   6.549685   5.646568     1.309937      1.129314
West Ham             5   6.068707   6.634514     1.213741      1.326903
Chelsea              5   8.739408   4.846230     1.747882      0.969246
Liverpool            5   8.337589   5.770387     1.667518      1.154077
Everton              5   6.330463   5.030441     1.266093      1.006088
Aston Villa          6   9.635078   6.715153     1.605846      1.119192
Tottenham            6   7.708619   6.493990     1.284770      1.082332
Leeds United         5   7.415150   8.133695     1.483030      1.626739
Arsenal              5   6.183905   6.225292     1.236781      1.245058
Wolves               5   4.558609   6.616134     0.911722      1.323227
Crystal Palace       5   4.398400   6.618874     0.879680      1.323775
Southampton          5   4.275311   6.360434     0.855062      1.272087
Burnley              5   4.105175   6.728227     0.821035      1.345645
Brighton             5   7.121760   4.495887     1.424352      0.899177
Newcastle Utd        5   4.589712   6.349848     0.917942      1.269970
Fulham               6   6.525809   9.211634     1.087635      1.535272
West Brom            5   3.367752   7.594102     0.673550      1.518820
Sheffield Utd        5   4.614780   7.951568     0.922956      1.590314

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier
Squad,,,,,
Manchester City,1.948000,0.716,1.471693,0.923428,0.943741
Manchester Utd,1.640000,1.208,1.239002,0.845532,0.791134
Leicester City,1.480000,1.184,1.118124,0.980777,0.885093
West Ham,1.356000,1.148,1.024443,0.501991,0.895089
Chelsea,1.580000,0.920,1.193673,0.935158,1.106254
Liverpool,1.860000,1.272,1.405210,0.876005,0.896515
Everton,1.204167,1.350,0.909735,1.128282,1.051426
Aston Villa,1.547826,1.300,1.169366,1.093724,1.037485
Tottenham,1.270833,1.250,0.960101,1.048847,1.010966
Leeds United,1.572000,1.684,1.187629,1.053032,0.943403
Arsenal,1.324000,1.196,1.000268,0.830108,0.934125
Wolves,1.040000,1.132,0.785709,0.755791,0.876656
Crystal Palace,0.832000,1.492,0.628567,1.038452,1.057308
Southampton,0.964000,1.304,0.728292,0.946492,0.886994
Burnley,0.880000,1.416,0.664831,0.917725,0.932994
Brighton,1.400000,1.028,1.057685,1.200292,1.017394
Newcastle Utd,0.936000,1.440,0.707138,0.916948,0.980708
Fulham,1.124000,1.356,0.849170,1.029290,0.967647
West Brom,0.704000,1.712,0.531864,0.963119,0.956748
Sheffield Utd,0.896000,1.436,0.676918,1.041692,1.030085

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City     10  18.952546   6.982739     1.895255      0.698274
Manchester Utd      10  14.926450  13.217358     1.492645      1.321736
Leicester City      10  14.661363   9.923636     1.466136      0.992364
West Ham            10  12.577751  11.755321     1.257775      1.175532
Chelsea             10  15.508139   9.556493     1.550814      0.955649
Liverpool           10  18.201792  12.154665     1.820179      1.215467
Everton             10  11.664546  12.159894     1.166455      1.215989
Aston Villa         11  17.039176  13.853703     1.549016      1.259428
Tottenham           10  13.133625  11.527447     1.313363      1.152745
Leeds United        10  14.086905  18.333375     1.408690      1.833337
Arsenal             10  13.591773  10.542651     1.359177      1.054265
Wolves              10  10.064250  10.812950     1.006425      1.081295
Crystal Palace      10   7.789911  14.345912     0.778991      1.434591
Southampton          9   8.381683  11.182441     0.931298      1.242493
Burnley             10   8.230287  13.366812     0.823029      1.336681
Brighton            10  13.986056   9.424561     1.398606      0.942456
Newcastle Utd       10   8.907831  13.977910     0.890783      1.397791
Fulham              10  10.513177  14.226708     1.051318      1.422671
West Brom           10   6.573265  16.034434     0.657327      1.603443
Sheffield Utd       10   8.808135  14.219652     0.880813      1.421965

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier,next10_xG_xA_multiplier
Squad,,,,,,
Manchester City,1.948000,0.716,1.471693,0.923428,0.943741,0.972923
Manchester Utd,1.640000,1.208,1.239002,0.845532,0.791134,0.910149
Leicester City,1.480000,1.184,1.118124,0.980777,0.885093,0.990633
West Ham,1.356000,1.148,1.024443,0.501991,0.895089,0.927563
Chelsea,1.580000,0.920,1.193673,0.935158,1.106254,0.981528
Liverpool,1.860000,1.272,1.405210,0.876005,0.896515,0.978591
Everton,1.204167,1.350,0.909735,1.128282,1.051426,0.968682
Aston Villa,1.547826,1.300,1.169366,1.093724,1.037485,1.000769
Tottenham,1.270833,1.250,0.960101,1.048847,1.010966,1.033466
Leeds United,1.572000,1.684,1.187629,1.053032,0.943403,0.896114
Arsenal,1.324000,1.196,1.000268,0.830108,0.934125,1.026569
Wolves,1.040000,1.132,0.785709,0.755791,0.876656,0.967716
Crystal Palace,0.832000,1.492,0.628567,1.038452,1.057308,0.936287
Southampton,0.964000,1.304,0.728292,0.946492,0.886994,0.966077
Burnley,0.880000,1.416,0.664831,0.917725,0.932994,0.935260
Brighton,1.400000,1.028,1.057685,1.200292,1.017394,0.999004
Newcastle Utd,0.936000,1.440,0.707138,0.916948,0.980708,0.951691
Fulham,1.124000,1.356,0.849170,1.029290,0.967647,0.935336
West Brom,0.704000,1.712,0.531864,0.963119,0.956748,0.933702
Sheffield Utd,0.896000,1.436,0.676918,1.041692,1.030085,0.983051

In [11]:
metric = 'next1_xP'
#minGames = players['games played'] >= 3

numberToShow = 50
display(players.sort_values(by=[metric], ascending=False)[['web_name','team_name',\
         'now_cost','games played','total_points','adjusted points','points_per_game',\
         'adjusted points per game','next1_xP','next5_xP','next10_xP']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,next1_xP,next5_xP,next10_xP
id,,,,,,,,,,,
388,Kane,Tottenham,111,22.142857,155,138.510754,7.0,6.255324,6.384947,6.284426,6.344131
302,Fernandes,Manchester Utd,116,25.000000,190,170.567043,7.6,6.822682,6.327824,6.110429,6.497790
272,De Bruyne,Manchester City,118,19.038462,99,123.828478,5.2,6.504122,6.315477,6.344902,6.425169
224,Vardy,Leicester City,101,20.983607,128,123.517889,6.1,5.886399,5.829107,5.543927,5.858481
271,Gündogan,Manchester City,61,19.090909,126,109.842652,6.6,5.753663,5.629552,5.641858,5.697530
254,Salah,Liverpool,126,24.117647,164,143.425194,6.8,5.946898,5.612553,5.676811,5.900067
390,Son,Tottenham,95,24.090909,159,129.220754,6.6,5.363880,5.563702,5.438941,5.462601
277,Cancelo,Manchester City,61,20.188679,107,108.037950,5.3,5.351412,5.513710,5.388184,5.359817
39,Hause,Aston Villa,44,4.000000,28,20.960509,7.0,5.240127,5.395380,5.518024,5.286534
37,Grealish,Aston Villa,76,21.864407,129,112.595932,5.9,5.149736,5.342785,5.280898,5.162603
202,Bamford,Leeds United,69,25.000000,140,129.111457,5.6,5.164458,5.287535,5.033109,4.923359
251,Mané,Liverpool,118,22.040816,108,122.382416,4.9,5.552536,5.229417,5.291819,5.507642
164,Calvert-Lewin,Everton,77,21.016949,124,103.218593,5.9,4.911207,5.179161,5.018626,4.845791
276,Sterling,Manchester City,116,22.857143,128,120.895383,5.6,5.289173,5.169229,5.180429,5.234513
273,Stones,Manchester City,52,14.923077,97,73.671820,6.5,4.936771,5.135683,5.000444,4.958123
665,Maja,Fulham,55,4.000000,18,19.800000,4.5,4.950000,5.021760,4.870734,4.791573
75,Bernardo,Brighton,39,2.941176,5,11.608490,1.7,3.946887,4.905134,4.157811,4.073866
556,Dias,Manchester City,61,21.836735,107,102.673158,4.9,4.701855,4.900327,4.765205,4.723051
506,Wilson,Newcastle Utd,66,21.090909,116,105.398593,5.5,4.997347,4.831644,4.958855,4.900963
514,Watkins,Aston Villa,65,23.111111,104,106.485729,4.5,4.607556,4.814135,4.690178,4.609250
597,Sánchez,Brighton,45,14.047619,59,55.100552,4.2,3.922412,4.717222,4.119142,4.050204
12,Martínez,Aston Villa,53,22.807018,130,107.462550,5.7,4.711819,4.714894,4.928852,4.756978
155,Digne,Everton,61,15.789474,60,61.964526,3.8,3.924420,4.697654,4.384243,4.052299
141,Zaha,Crystal Palace,71,18.888889,102,85.947830,5.4,4.550179,4.632182,4.697695,4.445279
283,Zinchenko,Manchester City,55,11.063830,52,48.627715,4.7,4.395197,4.611829,4.471890,4.422815
62,Dunk,Brighton,49,22.162162,82,81.511544,3.7,3.677960,4.597488,3.885521,3.805131
68,Maupay,Brighton,61,22.857143,80,94.566432,3.5,4.137281,4.528801,4.171283,4.135334
67,Veltman,Brighton,43,18.750000,60,67.729127,3.2,3.612220,4.480737,3.815351,3.739645
270,Walker,Manchester City,61,15.909091,70,67.685724,4.4,4.254531,4.478931,4.336931,4.284896
275,Mahrez,Manchester City,81,19.166667,92,86.926107,4.8,4.535275,4.471177,4.467562,4.500363
280,Laporte,Manchester City,60,8.947368,34,37.890429,3.8,4.234813,4.451668,4.311670,4.262510
96,Pope,Burnley,56,24.000000,120,107.897550,5.0,4.495731,4.448675,4.564811,4.574246
278,Ederson,Manchester City,61,23.958333,115,100.920485,4.8,4.212333,4.445893,4.301463,4.245937
69,Trossard,Brighton,57,21.944444,79,86.982165,3.6,3.963744,4.424397,4.035676,3.994389
235,Barnes,Leicester City,69,24.038462,125,105.289182,5.2,4.380030,4.424096,4.227538,4.430844
570,Raphinha,Leeds United,54,20.000000,92,86.931192,4.6,4.346560,4.414292,4.258738,4.139527
301,Lingard,West Ham,59,4.000000,34,20.255515,8.5,5.063879,4.399564,4.904372,4.981015
508,Rodríguez,Everton,77,17.906977,77,71.787938,4.3,4.008937,4.364311,4.188863,4.001341
284,Foden,Manchester City,61,19.183673,94,84.207283,4.9,4.389529,4.339510,4.332160,4.359595
33,Hourihane,Aston Villa,59,4.000000,20,16.876559,5.0,4.219140,4.334103,4.319071,4.231366
77,Lamptey,Brighton,46,10.937500,35,37.209620,3.2,3.402022,4.323187,3.609726,3.529186
383,Lloris,Tottenham,56,24.102564,94,93.622001,3.9,3.884317,4.278085,4.093516,4.001373
239,Justin,Leicester City,50,22.954545,101,91.574010,4.4,3.989363,4.266870,3.984588,4.241953
560,Kelleher,Liverpool,45,2.000000,10,8.242164,5.0,4.121082,4.246289,4.261393,4.186286
57,Groß,Brighton,58,20.882353,71,79.355799,3.4,3.800137,4.241886,3.870427,3.830876
389,Aurier,Tottenham,52,13.095238,55,49.793826,4.2,3.802438,4.233134,4.019928,3.944794
266,Fernandinho,Manchester City,54,11.935484,37,47.931635,3.1,4.015894,4.230193,4.090872,4.042687
538,Steffen,Manchester City,44,1.000000,2,3.954813,2.0,3.954813,4.192208,4.046760,3.989773
157,Pickford,Everton,48,19.090909,63,66.796529,3.3,3.498866,4.186792,3.924491,3.647571
249,Firmino,Liverpool,92,25.000000,95,110.432161,3.8,4.417286,4.169296,4.210316,4.374468

In [12]:
# save predictions
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players.to_csv(filepath)