In [1]:
# recent gameweek
latest_gameweek = 27

In [2]:
import pandas as pd
import numpy as np
import json
import requests
from scipy.stats import poisson

# allow more data columns to be shown than by default
pd.set_option('max_columns',100)

In [3]:
# fetch FPL fixtures online
fixtures_text = json.loads(requests.get('https://fantasy.premierleague.com/api/fixtures').text)
fixtures = pd.DataFrame(fixtures_text)
fixtures.head(20)

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,pulse_id,started,stats,team_a,team_a_difficulty,team_a_score,team_h,team_h_difficulty,team_h_score
0,2128467,NaN,False,False,180,None,0,False,59077,None,[],7,3,NaN,2,4,NaN
1,2128573,NaN,False,False,286,None,0,False,59183,None,[],16,4,NaN,17,2,NaN
2,2128288,1.0,True,True,2,2020-09-12T11:30:00Z,90,False,58898,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",1,2,3.0,8,3,0.0
3,2128287,1.0,True,True,1,2020-09-12T14:00:00Z,90,False,58897,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",16,3,0.0,6,2,1.0
4,2128289,1.0,True,True,3,2020-09-12T16:30:00Z,90,False,58899,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",10,4,3.0,11,3,4.0
5,2128293,1.0,True,True,6,2020-09-12T19:00:00Z,90,False,58903,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",14,4,2.0,19,2,0.0
6,2128292,1.0,True,True,5,2020-09-13T13:00:00Z,90,False,58902,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",9,2,3.0,18,4,0.0
7,2128291,1.0,True,True,4,2020-09-13T15:30:00Z,90,False,58901,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",7,4,1.0,17,4,0.0
8,2128295,1.0,True,True,8,2020-09-14T17:00:00Z,90,False,58905,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",20,2,2.0,15,3,0.0
9,2128294,1.0,True,True,7,2020-09-14T19:15:00Z,90,False,58904,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,2,3.0,3,4,1.0
10,2128299,2.0,True,True,12,2020-09-19T11:30:00Z,90,False,58909,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",18,3,2.0,7,2,5.0
11,2128300,2.0,True,True,13,2020-09-19T14:00:00Z,90,False,58910,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",8,3,3.0,10,2,4.0
12,2128302,2.0,True,True,15,2020-09-19T16:30:00Z,90,False,58912,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",6,4,3.0,13,3,1.0
13,2128296,2.0,True,True,9,2020-09-19T19:00:00Z,90,False,58906,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",19,3,1.0,1,4,2.0
14,2128304,2.0,True,True,17,2020-09-20T11:00:00Z,90,False,58914,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",17,3,5.0,16,3,2.0
15,2128303,2.0,True,True,16,2020-09-20T13:00:00Z,90,False,58913,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,3,3.0,14,3,0.0
16,2128298,2.0,True,True,11,2020-09-20T15:30:00Z,90,False,58908,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",11,4,2.0,5,4,0.0
17,2128301,2.0,True,True,14,2020-09-20T18:00:00Z,90,False,58911,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,4,2.0,9,2,4.0
18,2128297,2.0,True,True,10,2020-09-21T17:00:00Z,90,False,58907,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",15,3,0.0,2,2,1.0
19,2128305,2.0,True,True,18,2020-09-21T19:15:00Z,90,False,58915,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",12,3,3.0,20,5,1.0

In [4]:
filepath = '../data/fbref/team_stats_week' + str(latest_gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col='Squad')
display(teamStats)

,Rk,MP,W,D,L,GF,GA,GD,Pts,xG,xGA,xGD,xGD/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes,xG per game,xGA per game,probability no goals allowed
Squad,,,,,,,,,,,,,,,,,,,,,
Manchester City,1,29,21,5,3,61,21,40,68,55.9,23.4,32.5,1.12,W W W L W,NaN,İlkay Gündoğan - 12,Ederson,NaN,1.927586,0.806897,0.446241
Manchester Utd,2,28,15,9,4,55,32,23,54,44.1,33.6,10.5,0.38,D W D D W,NaN,Bruno Fernandes - 16,David de Gea,NaN,1.575000,1.200000,0.301194
Leicester City,3,28,16,5,7,48,32,16,53,40.0,34.4,5.5,0.20,W W L D W,NaN,Jamie Vardy - 12,Kasper Schmeichel,NaN,1.428571,1.228571,0.292710
Chelsea,4,28,14,8,6,44,25,19,50,44.6,24.0,20.5,0.73,W D D W W,143.0,Tammy Abraham Jorginho - 6,Edouard Mendy,NaN,1.592857,0.857143,0.424373
West Ham,5,27,14,6,7,42,31,11,48,37.4,30.9,6.5,0.24,D W W L W,143.0,Tomáš Souček - 8,Łukasz Fabiański,NaN,1.385185,1.144444,0.318401
Everton,6,27,14,4,9,39,35,4,46,31.9,37.4,-5.5,-0.20,L W W W L,154.0,Dominic Calvert-Lewin - 13,Jordan Pickford,NaN,1.181481,1.385185,0.250277
Tottenham,7,27,13,6,8,46,28,18,45,36.9,31.5,5.4,0.20,L L W W W,143.0,Harry Kane - 16,Hugo Lloris,NaN,1.366667,1.166667,0.311403
Liverpool,8,28,12,7,9,47,36,11,43,50.7,34.8,15.9,0.57,L L W L L,400.0,Mohamed Salah - 17,Alisson,NaN,1.810714,1.242857,0.288559
Aston Villa,9,26,12,4,10,38,27,11,40,38.8,33.4,5.4,0.21,D L W L D,NaN,Ollie Watkins - 10,Emiliano Martínez,NaN,1.492308,1.284615,0.276757
Arsenal,10,27,11,5,11,35,28,7,38,37.5,32.0,5.5,0.20,L W L W D,154.0,Alexandre Lacazette Pierre-Emerick Aubameyang - 9,Bernd Leno,NaN,1.388889,1.185185,0.305690
Leeds United,11,27,11,2,14,43,46,-3,35,41.7,44.9,-3.2,-0.12,L L W L L,NaN,Patrick Bamford - 13,Illan Meslier,NaN,1.544444,1.662963,0.189576
Wolves,12,28,9,8,11,28,37,-9,35,29.2,32.7,-3.5,-0.13,W W D L D,NaN,Rúben Neves Pedro Neto - 5,Rui Patrício,NaN,1.042857,1.167857,0.311033
Crystal Palace,13,28,9,7,12,30,47,-17,34,22.0,41.9,-20.0,-0.71,L W D D L,143.0,Wilfried Zaha - 9,Vicente Guaita,NaN,0.785714,1.496429,0.223928
Southampton,14,28,9,6,13,35,49,-14,33,28.5,37.7,-9.2,-0.33,D L L W L,154.0,Danny Ings - 8,Alex McCarthy,NaN,1.017857,1.346429,0.260168
Burnley,15,28,7,9,12,20,36,-16,30,25.5,41.2,-15.7,-0.56,D D L D D,NaN,Chris Wood - 5,Nick Pope,NaN,0.910714,1.471429,0.229597
Newcastle Utd,16,27,7,6,14,27,44,-17,27,25.3,38.0,-12.8,-0.47,W L L D D,NaN,Callum Wilson - 10,Karl Darlow,NaN,0.937037,1.407407,0.244777
Brighton,17,27,5,11,11,27,35,-8,26,38.7,27.4,11.3,0.42,D D L L L,143.0,Neal Maupay - 7,Robert Sánchez,NaN,1.433333,1.014815,0.362470
Fulham,18,28,5,11,12,22,33,-11,26,31.3,36.2,-4.9,-0.18,D W D L W,143.0,Bobby Reid - 5,Alphonse Areola,NaN,1.117857,1.292857,0.274485
West Brom,19,28,3,9,16,20,56,-36,18,20.2,46.9,-26.7,-0.96,D D W L D,NaN,Matheus Pereira - 5,Sam Johnstone,NaN,0.721429,1.675000,0.187308
Sheffield Utd,20,28,4,2,22,16,45,-29,14,24.4,42.1,-17.7,-0.63,L L L W L,NaN,David McGoldrick - 6,Aaron Ramsdale,NaN,0.871429,1.503571,0.222335

In [5]:
# fetch FPL data
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players = pd.read_csv(filepath, index_col=0)
players.head()

,adjusted points,adjusted points per game,assists,assists_week1,assists_week10,assists_week11,assists_week12,assists_week13,assists_week14,assists_week15,assists_week16,assists_week17,assists_week18,assists_week19,assists_week2,assists_week20,assists_week21,assists_week22,assists_week23,assists_week24,assists_week25,assists_week26,assists_week27,assists_week3,assists_week4,assists_week5,assists_week6,assists_week7,assists_week8,assists_week9,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheet_points,clean_sheets,cleansheet_week1,cleansheet_week10,cleansheet_week11,cleansheet_week12,cleansheet_week13,cleansheet_week14,cleansheet_week15,cleansheet_week16,cleansheet_week17,cleansheet_week18,cleansheet_week19,cleansheet_week2,cleansheet_week20,cleansheet_week21,...,xG_week15,xG_week16,xG_week17,xG_week18,xG_week19,xG_week2,xG_week20,xG_week21,xG_week22,xG_week23,xG_week24,xG_week25,xG_week26,xG_week27,xG_week3,xG_week4,xG_week5,xG_week6,xG_week7,xG_week8,xG_week9,xPoints,xPoints week 1,xPoints week 10,xPoints week 11,xPoints week 12,xPoints week 13,xPoints week 14,xPoints week 15,xPoints week 16,xPoints week 17,xPoints week 18,xPoints week 19,xPoints week 2,xPoints week 20,xPoints week 21,xPoints week 22,xPoints week 23,xPoints week 24,xPoints week 25,xPoints week 26,xPoints week 27,xPoints week 3,xPoints week 4,xPoints week 5,xPoints week 6,xPoints week 7,xPoints week 8,xPoints week 9,yellow_cards
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,45.564571,2.709245,0,NaN,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0,192,100.0,100.0,20.564571,3,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,...,NaN,NaN,NaN,0.0,0.4,0.0,0.0,0.1,0.0,NaN,0.0,0.0,0.1,0.0,0.0,0.0,0.1,0.0,NaN,NaN,NaN,2.807586,NaN,0.000000,NaN,NaN,1.000000,3.397316,NaN,NaN,NaN,2.471518,7.363273,1.00000,3.204777,3.586388,-3.000000,NaN,4.395247,1.000000,5.026123,2.807586,1.199148,5.274923,3.586388,1.000000,NaN,NaN,NaN,1
4,105.714779,4.574197,1,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,1.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10,288,100.0,100.0,7.064826,7,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,NaN,0.6,0.8,0.1,1.4,0.1,NaN,NaN,0.1,0.1,1.9,0.0,0.1,0.8,0.0,0.0,0.0,0.3,0.9,0.0,0.3,7.201897,3.818731,4.246597,3.606531,1.70657,7.132871,NaN,NaN,5.449329,6.67032,2.867879,11.740818,5.61799,NaN,NaN,1.500000,1.500000,15.348812,2.122456,1.500000,7.201897,2.049787,2.818731,3.746597,4.101194,7.540818,2.765299,3.282085,2
5,29.644864,3.648599,1,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,111,100.0,100.0,9.934911,2,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,0.0,1.0,...,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.1,0.0,0.0,0.1,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,10.658585,NaN,3.804777,2.586388,1.986388,3.090127,4.095247,NaN,4.426123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [6]:
coefficients = pd.DataFrame(np.nan, index=teamStats.index, columns=['xG','xGA','coefficient'])

for ix in coefficients.index:
    coefficients.loc[ix, 'xG'] = teamStats.loc[ix, 'xG per game']
    coefficients.loc[ix, 'xGA'] = teamStats.loc[ix, 'xGA per game']
    coefficients.loc[ix, 'coefficient'] = 0.755489209043063 * coefficients.loc[ix, 'xG']

display(coefficients)

                       xG       xGA  coefficient
Squad
Manchester City  1.927586  0.806897     1.456271
Manchester Utd   1.575000  1.200000     1.189896
Leicester City   1.428571  1.228571     1.079270
Chelsea          1.592857  0.857143     1.203386
West Ham         1.385185  1.144444     1.046492
Everton          1.181481  1.385185     0.892597
Tottenham        1.366667  1.166667     1.032502
Liverpool        1.810714  1.242857     1.367975
Aston Villa      1.492308  1.284615     1.127422
Arsenal          1.388889  1.185185     1.049291
Leeds United     1.544444  1.662963     1.166811
Wolves           1.042857  1.167857     0.787867
Crystal Palace   0.785714  1.496429     0.593599
Southampton      1.017857  1.346429     0.768980
Burnley          0.910714  1.471429     0.688035
Newcastle Utd    0.937037  1.407407     0.707921
Brighton         1.433333  1.014815     1.082868
Fulham           1.117857  1.292857     0.844529
West Brom        0.721429  1.675000     0.545032
Sheffield Utd    0.871429  1.503571     0.658355

In [7]:
def points_for_clean_sheet(position):
    if position < 3:
        return 4
    elif position==3:
        return 1
    elif position==4:
        return 0

In [8]:
goalkeepers = players['element_type'] == 1
defenders = players['element_type'] == 2
midfielders = players['element_type'] == 3
forwards = players['element_type'] == 4

In [9]:
home_coefficient = 1.0721855628874228
away_coefficient = 0.9280143971205758

In [10]:
team_names = np.sort(teamStats.index)
# for some reason the fpl team numbers are not alphabetical with leeds and leicester...
if (team_names[8]=='Leeds United') & (team_names[9]=='Leicester City'):
    team_names[8] = 'Leicester City'
    team_names[9] = 'Leeds United'
    
# how many gameweeks ahead do you want to look at
for number_gameweeks in [1,5,10]:
    expectations = pd.DataFrame(0, index=teamStats.index, \
                columns=['games','total_xG','total_xGA','xG per game', 'xGA per game'])
    gameweeks = np.arange(latest_gameweek+1, latest_gameweek+number_gameweeks+1)
    games = fixtures[fixtures['event'].isin(gameweeks)]
    for ix in games.index:
        home_team_number = games.loc[ix,'team_h']
        home_team = team_names[home_team_number-1]
        away_team_number = games.loc[ix,'team_a']
        away_team = team_names[away_team_number-1]

        home_xG = home_coefficient * coefficients.loc[home_team,'coefficient'] * \
                                    coefficients.loc[away_team,'xGA']
        away_xG = away_coefficient * coefficients.loc[away_team,'coefficient'] * \
                                    coefficients.loc[home_team,'xGA']
        expectations.loc[home_team,'total_xG'] += home_xG
        expectations.loc[home_team,'total_xGA'] += away_xG
        expectations.loc[home_team,'games'] += 1
        expectations.loc[away_team,'total_xG'] += away_xG
        expectations.loc[away_team,'total_xGA'] += home_xG
        expectations.loc[away_team,'games'] += 1

    expectations['xG per game'] = expectations['total_xG'] / expectations['games']
    expectations['xGA per game'] = expectations['total_xGA'] / expectations['games']
    print('expectations:')
    display(expectations)

    new_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    coefficients[new_column] = expectations['xG per game'] / coefficients['xG']
    print('coefficients:')
    display(coefficients)
    
    new_column = 'next' + str(number_gameweeks) + '_xP'
    multiplier_xG_xA_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    for ix in players.index:
        team = players.loc[ix,'team_name']
        position = players.loc[ix, 'element_type']

        # adjust xP based on xg and xa for the next game
        xg_points_per_game = players.loc[ix,'xG_points'] / players.loc[ix,'games played']
        xa_points_per_game = players.loc[ix,'xA_points'] / players.loc[ix,'games played']
        xpoints = xg_points_per_game + xa_points_per_game
        players.loc[ix, new_column] = players.loc[ix, 'adjusted points per game'] - \
                            xpoints + coefficients.loc[team, multiplier_xG_xA_column]*xpoints    

        # adjust xP based on probability to keep a clean sheet for the next game
        clean_sheet_points_per_game = players.loc[ix,'clean_sheet_points'] / \
                                        players.loc[ix,'games played']
        probability_clean_sheet_next = poisson.pmf(0, expectations.loc[team, 'xGA per game'])
        players.loc[ix, new_column] = players.loc[ix, new_column] - clean_sheet_points_per_game \
                + points_for_clean_sheet(position) * probability_clean_sheet_next

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      1  1.747219   0.730638     1.747219      0.730638
Manchester Utd       1  1.460069   1.165392     1.460069      1.165392
Leicester City       1  1.739900   0.750611     1.739900      0.750611
Chelsea              1  1.857130   1.072318     1.857130      1.072318
West Ham             1  1.165392   1.460069     1.165392      1.460069
Everton              1  1.408200   0.884449     1.408200      0.884449
Tottenham            1  1.135617   1.312540     1.135617      1.312540
Liverpool            1  1.482595   1.049891     1.482595      1.049891
Aston Villa          1  1.472520   0.975053     1.472520      0.975053
Arsenal              1  1.312540   1.135617     1.312540      1.135617
Leeds United         1  1.072318   1.857130     1.072318      1.857130
Wolves               1  1.049891   1.482595     1.049891      1.482595
Crystal Palace       1  1.066050   0.756889     1.066050      0.756889
Southampton          1  0.836704   1.353049     0.836704      1.353049
Burnley              1  0.884449   1.408200     0.884449      1.408200
Newcastle Utd        1  0.975053   1.472520     0.975053      1.472520
Brighton             1  1.353049   0.836704     1.353049      0.836704
Fulham               1  0.730638   1.747219     0.730638      1.747219
West Brom            1  0.756889   1.066050     0.756889      1.066050
Sheffield Utd        1  0.750611   1.739900     0.750611      1.739900

coefficients:

                       xG       xGA  coefficient  next1_xG_xA_multiplier
Squad
Manchester City  1.927586  0.806897     1.456271                0.906428
Manchester Utd   1.575000  1.200000     1.189896                0.927028
Leicester City   1.428571  1.228571     1.079270                1.217930
Chelsea          1.592857  0.857143     1.203386                1.165911
West Ham         1.385185  1.144444     1.046492                0.841326
Everton          1.181481  1.385185     0.892597                1.191893
Tottenham        1.366667  1.166667     1.032502                0.830939
Liverpool        1.810714  1.242857     1.367975                0.818790
Aston Villa      1.492308  1.284615     1.127422                0.986740
Arsenal          1.388889  1.185185     1.049291                0.945029
Leeds United     1.544444  1.662963     1.166811                0.694307
Wolves           1.042857  1.167857     0.787867                1.006745
Crystal Palace   0.785714  1.496429     0.593599                1.356791
Southampton      1.017857  1.346429     0.768980                0.822025
Burnley          0.910714  1.471429     0.688035                0.971160
Newcastle Utd    0.937037  1.407407     0.707921                1.040570
Brighton         1.433333  1.014815     1.082868                0.943988
Fulham           1.117857  1.292857     0.844529                0.653606
West Brom        0.721429  1.675000     0.545032                1.049153
Sheffield Utd    0.871429  1.503571     0.658355                0.861357

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      4  7.740178   3.513464     1.935044      0.878366
Manchester Utd       4  5.920271   4.465940     1.480068      1.116485
Leicester City       4  5.758147   4.410859     1.439537      1.102715
Chelsea              4  6.998825   2.912743     1.749706      0.728186
West Ham             5  6.374703   5.556148     1.274941      1.111230
Everton              4  4.797474   4.583005     1.199368      1.145751
Tottenham            5  6.370743   6.013155     1.274149      1.202631
Liverpool            4  6.982496   5.303366     1.745624      1.325842
Aston Villa          5  6.721345   6.832995     1.344269      1.366599
Arsenal              5  6.743829   5.735496     1.348766      1.147099
Leeds United         5  6.781855   9.086608     1.356371      1.817322
Wolves               4  4.232051   4.387774     1.058013      1.096943
Crystal Palace       4  3.116336   5.093956     0.779084      1.273489
Southampton          4  4.478992   3.741276     1.119748      0.935319
Burnley              4  3.548606   5.465281     0.887151      1.366320
Newcastle Utd        5  4.362605   6.860178     0.872521      1.372036
Brighton             5  6.662605   4.948070     1.332521      0.989614
Fulham               5  5.229592   7.109745     1.045918      1.421949
West Brom            4  2.598656   6.360819     0.649664      1.590205
Sheffield Utd        4  3.316734   6.355165     0.829184      1.588791

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier
Squad,,,,,
Manchester City,1.927586,0.806897,1.456271,0.906428,1.003869
Manchester Utd,1.575000,1.200000,1.189896,0.927028,0.939726
Leicester City,1.428571,1.228571,1.079270,1.217930,1.007676
Chelsea,1.592857,0.857143,1.203386,1.165911,1.098470
West Ham,1.385185,1.144444,1.046492,0.841326,0.920412
Everton,1.181481,1.385185,0.892597,1.191893,1.015139
Tottenham,1.366667,1.166667,1.032502,0.830939,0.932304
Liverpool,1.810714,1.242857,1.367975,0.818790,0.964053
Aston Villa,1.492308,1.284615,1.127422,0.986740,0.900799
Arsenal,1.388889,1.185185,1.049291,0.945029,0.971111
Leeds United,1.544444,1.662963,1.166811,0.694307,0.878226
Wolves,1.042857,1.167857,0.787867,1.006745,1.014533
Crystal Palace,0.785714,1.496429,0.593599,1.356791,0.991561
Southampton,1.017857,1.346429,0.768980,0.822025,1.100103
Burnley,0.910714,1.471429,0.688035,0.971160,0.974127
Newcastle Utd,0.937037,1.407407,0.707921,1.040570,0.931149
Brighton,1.433333,1.014815,1.082868,0.943988,0.929666
Fulham,1.117857,1.292857,0.844529,0.653606,0.935646
West Brom,0.721429,1.675000,0.545032,1.049153,0.900525
Sheffield Utd,0.871429,1.503571,0.658355,0.861357,0.951522

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      8  14.374336   6.477410     1.796792      0.809676
Manchester Utd       9  13.977539  11.083530     1.553060      1.231503
Leicester City       9  12.527346  10.060274     1.391927      1.117808
Chelsea              9  13.960475   7.577740     1.551164      0.841971
West Ham            10  12.931905  10.623993     1.293191      1.062399
Everton              9  10.513254  11.003958     1.168139      1.222662
Tottenham            9  12.343629  10.259141     1.371514      1.139905
Liverpool            9  16.539405  10.235583     1.837712      1.137287
Aston Villa         10  14.432233  12.370391     1.443223      1.237039
Arsenal             10  13.848920  10.499780     1.384892      1.049978
Leeds United        10  13.892729  17.044954     1.389273      1.704495
Wolves               9   9.422753   9.400054     1.046973      1.044450
Crystal Palace       9   6.706833  12.927037     0.745204      1.436337
Southampton          8   8.815911   9.577847     1.101989      1.197231
Burnley              9   8.107671  12.930882     0.900852      1.436765
Newcastle Utd       10   8.639519  14.685449     0.863952      1.468545
Brighton            10  13.543504   9.977529     1.354350      0.997753
Fulham               9   9.229457  12.318715     1.025495      1.368746
West Brom            9   5.925420  15.247788     0.658380      1.694199
Sheffield Utd        9   7.508327  12.939110     0.834259      1.437679

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier,next10_xG_xA_multiplier
Squad,,,,,,
Manchester City,1.927586,0.806897,1.456271,0.906428,1.003869,0.932146
Manchester Utd,1.575000,1.200000,1.189896,0.927028,0.939726,0.986070
Leicester City,1.428571,1.228571,1.079270,1.217930,1.007676,0.974349
Chelsea,1.592857,0.857143,1.203386,1.165911,1.098470,0.973825
West Ham,1.385185,1.144444,1.046492,0.841326,0.920412,0.933587
Everton,1.181481,1.385185,0.892597,1.191893,1.015139,0.988707
Tottenham,1.366667,1.166667,1.032502,0.830939,0.932304,1.003547
Liverpool,1.810714,1.242857,1.367975,0.818790,0.964053,1.014910
Aston Villa,1.492308,1.284615,1.127422,0.986740,0.900799,0.967108
Arsenal,1.388889,1.185185,1.049291,0.945029,0.971111,0.997122
Leeds United,1.544444,1.662963,1.166811,0.694307,0.878226,0.899529
Wolves,1.042857,1.167857,0.787867,1.006745,1.014533,1.003946
Crystal Palace,0.785714,1.496429,0.593599,1.356791,0.991561,0.948441
Southampton,1.017857,1.346429,0.768980,0.822025,1.100103,1.082656
Burnley,0.910714,1.471429,0.688035,0.971160,0.974127,0.989171
Newcastle Utd,0.937037,1.407407,0.707921,1.040570,0.931149,0.922004
Brighton,1.433333,1.014815,1.082868,0.943988,0.929666,0.944896
Fulham,1.117857,1.292857,0.844529,0.653606,0.935646,0.917376
West Brom,0.721429,1.675000,0.545032,1.049153,0.900525,0.912606
Sheffield Utd,0.871429,1.503571,0.658355,0.861357,0.951522,0.957346

In [11]:
metric = 'next1_xP'
#minGames = players['games played'] >= 3

numberToShow = 50
display(players.sort_values(by=[metric], ascending=False)[['web_name','team_name',\
         'now_cost','games played','total_points','adjusted points','points_per_game',\
         'adjusted points per game','next1_xP','next5_xP','next10_xP']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,next1_xP,next5_xP,next10_xP
id,,,,,,,,,,,
302,Fernandes,Manchester Utd,115,27.837838,206,183.184036,7.4,6.580397,6.365361,6.420252,6.527982
272,De Bruyne,Manchester City,118,23.148148,125,147.199135,5.4,6.359003,6.107522,6.340084,6.149760
224,Vardy,Leicester City,102,23.928571,134,130.329580,5.6,5.446609,6.029855,5.467152,5.377960
388,Kane,Tottenham,113,24.931507,182,162.189393,7.3,6.505399,6.012690,6.308106,6.515736
39,Hause,Aston Villa,44,4.000000,28,21.028112,7.0,5.257028,5.636811,5.006209,5.256698
254,Salah,Liverpool,125,27.142857,171,158.092118,6.3,5.824446,5.358315,5.696815,5.899982
271,Gündogan,Manchester City,62,22.903226,142,125.590214,6.2,5.483516,5.306675,5.461511,5.328398
141,Zaha,Crystal Palace,71,19.807692,103,86.905366,5.2,4.387455,5.263818,4.428453,4.310116
390,Son,Tottenham,96,26.969697,178,152.188031,6.6,5.642927,5.215144,5.477556,5.659462
37,Grealish,Aston Villa,75,21.864407,129,112.070568,5.9,5.125708,5.198651,4.898393,5.071047
277,Cancelo,Manchester City,62,22.000000,110,112.489098,5.0,5.113141,5.162713,4.993821,5.041566
12,Martínez,Aston Villa,54,26.140351,149,122.538101,5.7,4.687699,5.089057,4.598285,4.740885
506,Wilson,Newcastle Utd,65,21.090909,116,104.939720,5.5,4.975590,5.056535,4.838220,4.819975
164,Calvert-Lewin,Everton,77,24.074074,130,111.859720,5.4,4.646481,5.021116,4.676037,4.624434
276,Sterling,Manchester City,115,24.905660,132,128.903595,5.3,5.175675,4.992676,5.153924,5.016092
273,Stones,Manchester City,53,16.875000,108,80.821254,6.4,4.789408,4.882609,4.668284,4.749470
251,Mané,Liverpool,118,24.782609,114,129.420908,4.6,5.222247,4.811311,5.105565,5.293241
239,Justin,Leicester City,49,22.954545,101,90.196047,4.4,3.929333,4.786364,4.091281,4.050047
301,Lingard,West Ham,61,6.027397,44,30.759035,7.3,5.103203,4.695325,4.952599,4.995781
235,Barnes,Leicester City,68,25.200000,126,105.926070,5.0,4.203415,4.689787,4.253487,4.201566
275,Mahrez,Manchester City,81,23.035714,129,110.139196,5.6,4.781236,4.662240,4.756840,4.668065
556,Dias,Manchester City,61,25.744681,121,115.063262,4.7,4.469399,4.566137,4.348130,4.432026
105,Jorginho,Chelsea,47,19.130435,88,83.098344,4.6,4.343777,4.533593,4.563608,4.307356
155,Digne,Everton,62,18.974359,74,71.175043,3.9,3.751117,4.520099,4.031283,3.920825
128,Guaita,Crystal Palace,48,27.714286,97,97.824071,3.5,3.529735,4.510515,3.753435,3.585209
217,Schmeichel,Leicester City,55,27.692308,108,104.423310,3.9,3.770842,4.488311,3.927875,3.907983
4,Aubameyang,Arsenal,114,23.111111,104,105.714779,4.5,4.574197,4.473562,4.525015,4.612372
514,Watkins,Aston Villa,66,26.279070,113,117.389767,4.3,4.467044,4.439121,4.258141,4.397779
104,Alonso,Chelsea,57,9.069767,39,41.695852,4.3,4.597235,4.438724,4.931850,4.596346
508,Rodríguez,Everton,77,17.906977,77,71.321526,4.3,3.982890,4.419887,4.072241,4.010914
117,Werner,Chelsea,92,27.027027,100,110.979627,3.7,4.106246,4.403974,4.282951,4.059275
120,Mount,Chelsea,70,27.142857,114,115.688458,4.2,4.262206,4.400832,4.451656,4.233862
560,Kelleher,Liverpool,45,2.000000,10,8.308469,5.0,4.154234,4.399903,4.062317,4.282751
166,Richarlison,Everton,80,23.000000,92,93.769767,4.0,4.076946,4.383308,4.101117,4.058917
231,Maddison,Leicester City,72,22.884615,119,89.768239,5.2,3.922646,4.372466,3.971430,3.925098
96,Pope,Burnley,56,26.808511,126,115.520642,4.7,4.309103,4.368079,4.410021,4.341133
202,Bamford,Leeds United,68,27.169811,144,137.599627,5.3,5.064431,4.354254,4.781529,4.831020
498,Castagne,Leicester City,57,16.944444,61,59.469123,3.6,3.509653,4.319725,3.669948,3.635895
24,Saka,Arsenal,53,23.250000,93,101.947096,4.0,4.384821,4.301998,4.344999,4.423928
33,Hourihane,Aston Villa,59,4.000000,20,16.816981,5.0,4.204245,4.288418,4.060940,4.177438
255,Robertson,Liverpool,72,28.157895,107,117.950576,3.8,4.188899,4.283978,4.067109,4.329806
139,van Aanholt,Crystal Palace,54,17.307692,45,53.722647,2.6,3.103975,4.282656,3.322995,3.130852
284,Foden,Manchester City,61,21.836735,107,95.324069,4.9,4.365308,4.263118,4.340216,4.264324
123,James,Chelsea,50,22.051282,86,98.851768,3.9,4.482813,4.258008,4.778082,4.492382
283,Zinchenko,Manchester City,55,14.000000,56,57.789485,4.0,4.127820,4.237182,4.006029,4.099601
437,Antonio,West Ham,66,18.181818,80,82.329860,4.4,4.528142,4.206113,4.366618,4.393357
75,Bernardo,Brighton,39,2.941176,5,11.664348,1.7,3.965878,4.202837,3.945488,3.945863
259,Alexander-Arnold,Liverpool,74,25.757576,85,105.260139,3.3,4.086570,4.169726,3.962415,4.228459
232,Chilwell,Chelsea,58,20.000000,98,87.789641,4.9,4.389482,4.165372,4.685163,4.398942
157,Pickford,Everton,48,21.944444,79,76.968798,3.6,3.507439,4.158095,3.778269,3.684110

In [12]:
# save predictions
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players.to_csv(filepath)