In [1]:
# recent gameweek
latest_gameweek = 30

In [2]:
import pandas as pd
import numpy as np
import json
import requests
from scipy.stats import poisson

# allow more data columns to be shown than by default
pd.set_option('max_columns',100)

In [3]:
# fetch FPL fixtures online
fixtures_text = json.loads(requests.get('https://fantasy.premierleague.com/api/fixtures').text)
fixtures = pd.DataFrame(fixtures_text)
fixtures.head(20)

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,pulse_id,started,stats,team_a,team_a_difficulty,team_a_score,team_h,team_h_difficulty,team_h_score
0,2128467,NaN,False,False,180,None,0,False,59077,None,[],7,3,NaN,2,4,NaN
1,2128604,NaN,False,False,317,None,0,False,59214,None,[],6,2,NaN,16,2,NaN
2,2128288,1.0,True,True,2,2020-09-12T11:30:00Z,90,False,58898,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",1,2,3.0,8,3,0.0
3,2128287,1.0,True,True,1,2020-09-12T14:00:00Z,90,False,58897,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",16,3,0.0,6,2,1.0
4,2128289,1.0,True,True,3,2020-09-12T16:30:00Z,90,False,58899,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",10,3,3.0,11,3,4.0
5,2128293,1.0,True,True,6,2020-09-12T19:00:00Z,90,False,58903,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",14,4,2.0,19,2,0.0
6,2128292,1.0,True,True,5,2020-09-13T13:00:00Z,90,False,58902,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",9,2,3.0,18,4,0.0
7,2128291,1.0,True,True,4,2020-09-13T15:30:00Z,90,False,58901,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",7,4,1.0,17,4,0.0
8,2128295,1.0,True,True,8,2020-09-14T17:00:00Z,90,False,58905,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",20,2,2.0,15,2,0.0
9,2128294,1.0,True,True,7,2020-09-14T19:15:00Z,90,False,58904,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,3,3.0,3,4,1.0
10,2128299,2.0,True,True,12,2020-09-19T11:30:00Z,90,False,58909,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",18,3,2.0,7,2,5.0
11,2128300,2.0,True,True,13,2020-09-19T14:00:00Z,90,False,58910,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",8,3,3.0,10,2,4.0
12,2128302,2.0,True,True,15,2020-09-19T16:30:00Z,90,False,58912,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",6,4,3.0,13,2,1.0
13,2128296,2.0,True,True,9,2020-09-19T19:00:00Z,90,False,58906,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",19,4,1.0,1,4,2.0
14,2128304,2.0,True,True,17,2020-09-20T11:00:00Z,90,False,58914,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",17,2,5.0,16,3,2.0
15,2128303,2.0,True,True,16,2020-09-20T13:00:00Z,90,False,58913,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,2,3.0,14,3,0.0
16,2128298,2.0,True,True,11,2020-09-20T15:30:00Z,90,False,58908,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",11,4,2.0,5,4,0.0
17,2128301,2.0,True,True,14,2020-09-20T18:00:00Z,90,False,58911,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,4,2.0,9,2,4.0
18,2128297,2.0,True,True,10,2020-09-21T17:00:00Z,90,False,58907,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",15,3,0.0,2,2,1.0
19,2128305,2.0,True,True,18,2020-09-21T19:15:00Z,90,False,58915,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",12,3,3.0,20,4,1.0

In [4]:
filepath = '../data/fbref/team_stats_week' + str(latest_gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col='Squad')
display(teamStats)

,Rk,MP,W,D,L,GF,GA,GD,Pts,xG,xGA,xGD,xGD/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes,xG per game,xGA per game,probability no goals allowed
Squad,,,,,,,,,,,,,,,,,,,,,
Manchester City,1,31,23,5,3,66,21,45,74,60.3,24.0,36.4,1.17,W L W W W,NaN,İlkay Gündoğan - 12,Ederson,NaN,1.945161,0.774194,0.461075
Manchester Utd,2,30,17,9,4,58,33,25,60,47.2,35.2,12.0,0.40,D D W W W,NaN,Bruno Fernandes - 16,David de Gea,NaN,1.573333,1.173333,0.309334
Leicester City,3,30,17,5,8,53,34,19,56,44.3,36.7,7.6,0.25,L D W W L,NaN,Jamie Vardy - 12,Kasper Schmeichel,NaN,1.476667,1.223333,0.294248
West Ham,4,30,15,7,8,48,37,11,52,41.6,36.3,5.3,0.18,L W L D W,133.0,Tomáš Souček - 9,Łukasz Fabiański,NaN,1.386667,1.210000,0.298197
Chelsea,5,30,14,9,7,46,30,16,51,48.4,26.3,22.1,0.74,D W W D L,133.0,Tammy Abraham Mason Mount... - 6,Edouard Mendy,NaN,1.613333,0.876667,0.416168
Tottenham,6,30,14,7,9,51,32,19,49,41.4,36.3,5.1,0.17,W W L W D,143.0,Harry Kane - 19,Hugo Lloris,NaN,1.380000,1.210000,0.298197
Liverpool,7,30,14,7,9,51,36,15,49,54.1,35.7,18.3,0.61,W L L W W,400.0,Mohamed Salah - 18,Alisson,NaN,1.803333,1.190000,0.304221
Everton,8,29,14,5,10,41,38,3,47,36.2,39.5,-3.3,-0.11,W W L L D,133.0,Dominic Calvert-Lewin - 14,Jordan Pickford,NaN,1.248276,1.362069,0.256130
Aston Villa,9,29,13,5,11,42,31,11,44,41.5,38.3,3.2,0.11,L D D L W,NaN,Ollie Watkins - 11,Emiliano Martínez,NaN,1.431034,1.320690,0.266951
Arsenal,10,30,12,6,12,40,35,5,42,41.3,37.2,4.1,0.14,W D W D L,133.0,Alexandre Lacazette - 11,Bernd Leno,NaN,1.376667,1.240000,0.289384
Leeds United,11,30,13,3,14,47,48,-1,42,45.9,48.9,-3.0,-0.10,L L D W W,NaN,Patrick Bamford - 14,Illan Meslier,NaN,1.530000,1.630000,0.195930
Crystal Palace,12,30,10,8,12,32,48,-16,38,24.1,45.3,-21.3,-0.71,D D L W D,133.0,Wilfried Zaha - 9,Vicente Guaita,NaN,0.803333,1.510000,0.220910
Southampton,13,30,10,6,14,39,53,-14,36,31.2,40.2,-9.0,-0.30,L W L L W,133.0,Danny Ings - 9,Alex McCarthy,NaN,1.040000,1.340000,0.261846
Wolves,14,30,9,8,13,30,41,-11,35,32.5,35.1,-2.6,-0.09,D L D L L,NaN,Rúben Neves Pedro Neto - 5,Rui Patrício,NaN,1.083333,1.170000,0.310367
Burnley,15,30,8,9,13,24,40,-16,33,28.7,44.7,-16.0,-0.53,L D D W L,NaN,Chris Wood - 7,Nick Pope,NaN,0.956667,1.490000,0.225373
Brighton,16,30,7,11,12,33,38,-5,32,41.8,30.2,11.6,0.39,L L W W L,133.0,Neal Maupay - 8,Robert Sánchez,NaN,1.393333,1.006667,0.365435
Newcastle Utd,17,30,7,8,15,30,50,-20,29,29.1,41.5,-12.4,-0.41,D D D L D,NaN,Callum Wilson - 10,Karl Darlow,NaN,0.970000,1.383333,0.250741
Fulham,18,31,5,11,15,24,41,-17,26,34.5,41.5,-7.0,-0.23,L W L L L,125.0,Bobby Reid - 5,Alphonse Areola,NaN,1.112903,1.338710,0.262184
West Brom,19,30,4,9,17,25,59,-34,21,22.7,50.6,-27.9,-0.93,W L D L W,NaN,Matheus Pereira - 7,Sam Johnstone,NaN,0.756667,1.686667,0.185136
Sheffield Utd,20,30,4,2,24,17,52,-35,14,25.5,48.7,-23.2,-0.77,L W L L L,NaN,David McGoldrick - 6,Aaron Ramsdale,NaN,0.850000,1.623333,0.197240

In [5]:
# fetch FPL data
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players = pd.read_csv(filepath, index_col=0)
players.head()

,adjusted points,adjusted points per game,assists,assists_week1,assists_week10,assists_week11,assists_week12,assists_week13,assists_week14,assists_week15,assists_week16,assists_week17,assists_week18,assists_week19,assists_week2,assists_week20,assists_week21,assists_week22,assists_week23,assists_week24,assists_week25,assists_week26,assists_week27,assists_week28,assists_week29,assists_week3,assists_week30,assists_week4,assists_week5,assists_week6,assists_week7,assists_week8,assists_week9,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheet_points,clean_sheets,cleansheet_week1,cleansheet_week10,cleansheet_week11,cleansheet_week12,cleansheet_week13,cleansheet_week14,cleansheet_week15,cleansheet_week16,cleansheet_week17,cleansheet_week18,cleansheet_week19,...,xG_week20,xG_week21,xG_week22,xG_week23,xG_week24,xG_week25,xG_week26,xG_week27,xG_week28,xG_week29,xG_week3,xG_week30,xG_week4,xG_week5,xG_week6,xG_week7,xG_week8,xG_week9,xPoints,xPoints week 1,xPoints week 10,xPoints week 11,xPoints week 12,xPoints week 13,xPoints week 14,xPoints week 15,xPoints week 16,xPoints week 17,xPoints week 18,xPoints week 19,xPoints week 2,xPoints week 20,xPoints week 21,xPoints week 22,xPoints week 23,xPoints week 24,xPoints week 25,xPoints week 26,xPoints week 27,xPoints week 28,xPoints week 29,xPoints week 3,xPoints week 30,xPoints week 4,xPoints week 5,xPoints week 6,xPoints week 7,xPoints week 8,xPoints week 9,yellow_cards
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,50.048321,2.627537,0,NaN,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,0,223,0.0,0.0,22.048321,3,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,0.0,0.1,0.0,NaN,0.0,0.0,0.1,0.0,0.0,0.0,0.0,NaN,0.0,0.1,0.0,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,1.000000,3.397316,NaN,NaN,NaN,2.471518,7.363273,1.00000,3.204777,3.586388,-3.000000,NaN,4.395247,1.000000,5.026123,2.807586,3.986341,1.401035,1.199148,NaN,5.274923,3.586388,1.000000,NaN,NaN,NaN,1
4,110.815589,4.412102,1,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,1.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10,306,100.0,100.0,7.268255,7,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,...,NaN,NaN,0.1,0.1,1.9,0.0,0.1,0.8,NaN,0.0,0.0,0.0,0.0,0.0,0.3,0.9,0.0,0.3,3.010803,3.818731,4.246597,3.606531,1.70657,7.132871,NaN,NaN,5.449329,6.67032,2.867879,11.740818,5.61799,NaN,NaN,1.500000,1.500000,15.348812,2.122456,1.500000,7.201897,NaN,2.100259,2.049787,3.010803,2.818731,3.746597,4.101194,7.540818,2.765299,3.282085,2
5,33.282703,3.328270,1,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,3,125,100.0,100.0,11.575369,2,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.1,0.0,0.0,0.1,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,10.658585,NaN,3.804777,2.586388,1.986388,3.090127,4.095247,NaN,4.426123,NaN,3.986341,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,1

In [6]:
coefficients = pd.DataFrame(np.nan, index=teamStats.index, columns=['xG','xGA','coefficient'])

for ix in coefficients.index:
    coefficients.loc[ix, 'xG'] = teamStats.loc[ix, 'xG per game']
    coefficients.loc[ix, 'xGA'] = teamStats.loc[ix, 'xGA per game']
    coefficients.loc[ix, 'coefficient'] = 0.755489209043063 * coefficients.loc[ix, 'xG']

display(coefficients)

                       xG       xGA  coefficient
Squad
Manchester City  1.945161  0.774194     1.469548
Manchester Utd   1.573333  1.173333     1.188636
Leicester City   1.476667  1.223333     1.115606
West Ham         1.386667  1.210000     1.047612
Chelsea          1.613333  0.876667     1.218856
Tottenham        1.380000  1.210000     1.042575
Liverpool        1.803333  1.190000     1.362399
Everton          1.248276  1.362069     0.943059
Aston Villa      1.431034  1.320690     1.081131
Arsenal          1.376667  1.240000     1.040057
Leeds United     1.530000  1.630000     1.155898
Crystal Palace   0.803333  1.510000     0.606910
Southampton      1.040000  1.340000     0.785709
Wolves           1.083333  1.170000     0.818447
Burnley          0.956667  1.490000     0.722751
Brighton         1.393333  1.006667     1.052648
Newcastle Utd    0.970000  1.383333     0.732825
Fulham           1.112903  1.338710     0.840786
West Brom        0.756667  1.686667     0.571654
Sheffield Utd    0.850000  1.623333     0.642166

In [7]:
def points_for_clean_sheet(position):
    if position < 3:
        return 4
    elif position==3:
        return 1
    elif position==4:
        return 0

In [8]:
goalkeepers = players['element_type'] == 1
defenders = players['element_type'] == 2
midfielders = players['element_type'] == 3
forwards = players['element_type'] == 4

In [9]:
home_coefficient = 1.0721855628874228
away_coefficient = 0.9280143971205758

In [10]:
team_names = np.sort(teamStats.index)
# for some reason the fpl team numbers are not alphabetical with leeds and leicester...
if (team_names[8]=='Leeds United') & (team_names[9]=='Leicester City'):
    team_names[8] = 'Leicester City'
    team_names[9] = 'Leeds United'
    
# how many gameweeks ahead do you want to look at
for number_gameweeks in [1,5,10]:
    expectations = pd.DataFrame(0, index=teamStats.index, \
                columns=['games','total_xG','total_xGA','xG per game', 'xGA per game'])
    gameweeks = np.arange(latest_gameweek+1, latest_gameweek+number_gameweeks+1)
    games = fixtures[fixtures['event'].isin(gameweeks)]
    for ix in games.index:
        home_team_number = games.loc[ix,'team_h']
        home_team = team_names[home_team_number-1]
        away_team_number = games.loc[ix,'team_a']
        away_team = team_names[away_team_number-1]

        home_xG = home_coefficient * coefficients.loc[home_team,'coefficient'] * \
                                    coefficients.loc[away_team,'xGA']
        away_xG = away_coefficient * coefficients.loc[away_team,'coefficient'] * \
                                    coefficients.loc[home_team,'xGA']
        expectations.loc[home_team,'total_xG'] += home_xG
        expectations.loc[home_team,'total_xGA'] += away_xG
        expectations.loc[home_team,'games'] += 1
        expectations.loc[away_team,'total_xG'] += away_xG
        expectations.loc[away_team,'total_xGA'] += home_xG
        expectations.loc[away_team,'games'] += 1

    expectations['xG per game'] = expectations['total_xG'] / expectations['games']
    expectations['xGA per game'] = expectations['total_xGA'] / expectations['games']
    print('expectations:')
    display(expectations)

    new_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    coefficients[new_column] = expectations['xG per game'] / coefficients['xG']
    print('coefficients:')
    display(coefficients)
    
    new_column = 'next' + str(number_gameweeks) + '_xP'
    multiplier_xG_xA_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    for ix in players.index:
        team = players.loc[ix,'team_name']
        position = players.loc[ix, 'element_type']

        # adjust xP based on xg and xa for the next game
        xg_points_per_game = players.loc[ix,'xG_points'] / players.loc[ix,'games played']
        xa_points_per_game = players.loc[ix,'xA_points'] / players.loc[ix,'games played']
        xpoints = xg_points_per_game + xa_points_per_game
        players.loc[ix, new_column] = players.loc[ix, 'adjusted points per game'] - \
                            xpoints + coefficients.loc[team, multiplier_xG_xA_column]*xpoints    

        # adjust xP based on probability to keep a clean sheet for the next game
        clean_sheet_points_per_game = players.loc[ix,'clean_sheet_points'] / \
                                        players.loc[ix,'games played']
        probability_clean_sheet_next = poisson.pmf(0, expectations.loc[team, 'xGA per game'])
        players.loc[ix, new_column] = players.loc[ix, new_column] - clean_sheet_points_per_game \
                + points_for_clean_sheet(position) * probability_clean_sheet_next

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      1  2.568275   0.830470     2.568275      0.830470
Manchester Utd       1  1.334717   1.311592     1.334717      1.311592
Leicester City       1  1.252711   1.374090     1.252711      1.374090
West Ham             1  1.374090   1.252711     1.374090      1.252711
Chelsea              1  1.707985   0.570464     1.707985      0.570464
Tottenham            1  1.311592   1.334717     1.311592      1.334717
Liverpool            1  1.929190   1.193933     1.929190      1.193933
Everton              1  0.881007   1.537278     0.881007      1.537278
Aston Villa          1  1.193933   1.929190     1.193933      1.929190
Arsenal              1  1.566821   0.853766     1.566821      0.853766
Leeds United         1  0.830470   2.568275     0.830470      2.568275
Crystal Palace       1  0.570464   1.707985     0.570464      1.707985
Southampton          1  1.229831   0.821311     1.229831      0.821311
Wolves               1  1.016791   1.054730     1.016791      1.054730
Burnley              1  1.071978   1.013307     1.071978      1.013307
Brighton             1  1.537278   0.881007     1.537278      0.881007
Newcastle Utd        1  1.013307   1.071978     1.013307      1.071978
Fulham               1  1.054730   1.016791     1.054730      1.016791
West Brom            1  0.821311   1.229831     0.821311      1.229831
Sheffield Utd        1  0.853766   1.566821     0.853766      1.566821

coefficients:

                       xG       xGA  coefficient  next1_xG_xA_multiplier
Squad
Manchester City  1.945161  0.774194     1.469548                1.320340
Manchester Utd   1.573333  1.173333     1.188636                0.848337
Leicester City   1.476667  1.223333     1.115606                0.848337
West Ham         1.386667  1.210000     1.047612                0.990930
Chelsea          1.613333  0.876667     1.218856                1.058668
Tottenham        1.380000  1.210000     1.042575                0.950429
Liverpool        1.803333  1.190000     1.362399                1.069791
Everton          1.248276  1.362069     0.943059                0.705779
Aston Villa      1.431034  1.320690     1.081131                0.834315
Arsenal          1.376667  1.240000     1.040057                1.138127
Leeds United     1.530000  1.630000     1.155898                0.542791
Crystal Palace   0.803333  1.510000     0.606910                0.710122
Southampton      1.040000  1.340000     0.785709                1.182530
Wolves           1.083333  1.170000     0.818447                0.938576
Burnley          0.956667  1.490000     0.722751                1.120534
Brighton         1.393333  1.006667     1.052648                1.103309
Newcastle Utd    0.970000  1.383333     0.732825                1.044646
Fulham           1.112903  1.338710     0.840786                0.947729
West Brom        0.756667  1.686667     0.571654                1.085433
Sheffield Utd    0.850000  1.623333     0.642166                1.004431

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      4  7.809963   3.107380     1.952491      0.776845
Manchester Utd       5  8.005035   6.396303     1.601007      1.279261
Leicester City       5  8.118315   4.574600     1.623663      0.914920
West Ham             5  6.682165   5.568703     1.336433      1.113741
Chelsea              5  7.017369   4.476889     1.403474      0.895378
Tottenham            5  7.519007   5.661144     1.503801      1.132229
Liverpool            5  9.451611   5.862300     1.890322      1.172460
Everton              5  5.584046   7.270496     1.116809      1.454099
Aston Villa          5  6.773164   7.223136     1.354633      1.444627
Arsenal              5  7.794587   4.538625     1.558917      0.907725
Leeds United         5  6.338878   9.843872     1.267776      1.968774
Crystal Palace       4  2.677550   6.613098     0.669387      1.653275
Southampton          4  4.010356   5.663906     1.002589      1.415976
Wolves               5  5.913275   4.396782     1.182655      0.879356
Burnley              5  4.479268   7.011515     0.895854      1.402303
Brighton             5  6.962075   4.852888     1.392415      0.970578
Newcastle Utd        5  4.579570   7.427381     0.915914      1.485476
Fulham               4  4.049488   5.157014     1.012372      1.289254
West Brom            5  3.545860   8.364387     0.709172      1.672877
Sheffield Utd        5  4.004879   7.306042     0.800976      1.461208

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier
Squad,,,,,
Manchester City,1.945161,0.774194,1.469548,1.320340,1.003768
Manchester Utd,1.573333,1.173333,1.188636,0.848337,1.017589
Leicester City,1.476667,1.223333,1.115606,0.848337,1.099546
West Ham,1.386667,1.210000,1.047612,0.990930,0.963774
Chelsea,1.613333,0.876667,1.218856,1.058668,0.869922
Tottenham,1.380000,1.210000,1.042575,0.950429,1.089711
Liverpool,1.803333,1.190000,1.362399,1.069791,1.048238
Everton,1.248276,1.362069,0.943059,0.705779,0.894681
Aston Villa,1.431034,1.320690,1.081131,0.834315,0.946611
Arsenal,1.376667,1.240000,1.040057,1.138127,1.132385
Leeds United,1.530000,1.630000,1.155898,0.542791,0.828612
Crystal Palace,0.803333,1.510000,0.606910,0.710122,0.833262
Southampton,1.040000,1.340000,0.785709,1.182530,0.964028
Wolves,1.083333,1.170000,0.818447,0.938576,1.091682
Burnley,0.956667,1.490000,0.722751,1.120534,0.936432
Brighton,1.393333,1.006667,1.052648,1.103309,0.999341
Newcastle Utd,0.970000,1.383333,0.732825,1.044646,0.944241
Fulham,1.112903,1.338710,0.840786,0.947729,0.909668
West Brom,0.756667,1.686667,0.571654,1.085433,0.937232
Sheffield Utd,0.850000,1.623333,0.642166,1.004431,0.942324

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      7  13.215469   5.267017     1.887924      0.752431
Manchester Utd       8  12.560795   9.556191     1.570099      1.194524
Leicester City       8  11.688001   8.915969     1.461000      1.114496
West Ham             8  10.805754   8.558252     1.350719      1.069782
Chelsea              8  11.730404   7.246856     1.466300      0.905857
Tottenham            8  11.486790   9.241500     1.435849      1.155188
Liverpool            8  15.673676   8.184065     1.959210      1.023008
Everton              8   9.086033  11.262853     1.135754      1.407857
Aston Villa          8  10.518363  11.052699     1.314795      1.381587
Arsenal              8  11.220736   8.177321     1.402592      1.022165
Leeds United         8  11.464942  13.344870     1.433118      1.668109
Crystal Palace       7   5.014074  11.791246     0.716296      1.684464
Southampton          7   7.393544   9.651995     1.056221      1.378856
Wolves               8   8.896470   8.178268     1.112059      1.022284
Burnley              8   7.753361  11.519566     0.969170      1.439946
Brighton             8  10.412826   8.326990     1.301603      1.040874
Newcastle Utd        8   7.373783  11.385346     0.921723      1.423168
Fulham               7   7.257593   8.901300     1.036799      1.271614
West Brom            8   5.881584  14.227008     0.735198      1.778376
Sheffield Utd        8   6.666868  11.311750     0.833358      1.413969

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier,next10_xG_xA_multiplier
Squad,,,,,,
Manchester City,1.945161,0.774194,1.469548,1.320340,1.003768,0.970575
Manchester Utd,1.573333,1.173333,1.188636,0.848337,1.017589,0.997945
Leicester City,1.476667,1.223333,1.115606,0.848337,1.099546,0.989391
West Ham,1.386667,1.210000,1.047612,0.990930,0.963774,0.974076
Chelsea,1.613333,0.876667,1.218856,1.058668,0.869922,0.908864
Tottenham,1.380000,1.210000,1.042575,0.950429,1.089711,1.040470
Liverpool,1.803333,1.190000,1.362399,1.069791,1.048238,1.086438
Everton,1.248276,1.362069,0.943059,0.705779,0.894681,0.909858
Aston Villa,1.431034,1.320690,1.081131,0.834315,0.946611,0.918773
Arsenal,1.376667,1.240000,1.040057,1.138127,1.132385,1.018832
Leeds United,1.530000,1.630000,1.155898,0.542791,0.828612,0.936678
Crystal Palace,0.803333,1.510000,0.606910,0.710122,0.833262,0.891655
Southampton,1.040000,1.340000,0.785709,1.182530,0.964028,1.015597
Wolves,1.083333,1.170000,0.818447,0.938576,1.091682,1.026516
Burnley,0.956667,1.490000,0.722751,1.120534,0.936432,1.013070
Brighton,1.393333,1.006667,1.052648,1.103309,0.999341,0.934165
Newcastle Utd,0.970000,1.383333,0.732825,1.044646,0.944241,0.950230
Fulham,1.112903,1.338710,0.840786,0.947729,0.909668,0.931616
West Brom,0.756667,1.686667,0.571654,1.085433,0.937232,0.971627
Sheffield Utd,0.850000,1.623333,0.642166,1.004431,0.942324,0.980422

In [11]:
metric = 'next1_xP'
#minGames = players['games played'] >= 3

numberToShow = 50
display(players.sort_values(by=[metric], ascending=False)[['web_name','team_name',\
         'now_cost','games played','total_points','adjusted points','points_per_game',\
         'adjusted points per game','next1_xP','next5_xP','next10_xP']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,next1_xP,next5_xP,next10_xP
id,,,,,,,,,,,
272,De Bruyne,Manchester City,119,24.150943,128,152.876084,5.3,6.330025,7.284480,6.340328,6.250179
388,Kane,Tottenham,117,27.945205,204,182.075346,7.3,6.515441,6.368955,6.780544,6.635033
271,Gündogan,Manchester City,60,22.903226,142,125.922118,6.2,5.498008,6.199245,5.505332,5.441421
254,Salah,Liverpool,124,28.888889,182,169.537951,6.3,5.868621,6.074030,6.016803,6.179794
302,Fernandes,Manchester Utd,116,30.140845,214,193.798937,7.1,6.429778,5.932040,6.451779,6.417087
276,Sterling,Manchester City,113,26.153846,136,133.737571,5.2,5.113495,5.825857,5.120950,5.055887
277,Cancelo,Manchester City,60,23.018868,122,123.275744,5.3,5.355422,5.580141,5.354368,5.366086
251,Mané,Liverpool,118,26.808511,126,142.421727,4.7,5.312557,5.496198,5.445693,5.596770
301,Lingard,West Ham,63,8.000000,68,43.634915,8.5,5.454364,5.424868,5.416481,5.450579
275,Mahrez,Manchester City,82,24.000000,132,116.909817,5.5,4.871242,5.406607,4.876615,4.829892
224,Vardy,Leicester City,101,26.140351,149,147.928011,5.7,5.658991,5.234062,5.937899,5.629266
390,Son,Tottenham,94,29.032258,180,154.423349,6.2,5.319026,5.179054,5.533181,5.421557
104,Alonso,Chelsea,57,10.000000,42,44.354047,4.2,4.435405,5.089867,4.275769,4.297290
273,Stones,Manchester City,53,17.941176,122,89.588945,6.8,4.993482,5.080036,4.990804,5.016838
232,Chilwell,Chelsea,58,20.800000,104,91.954500,5.0,4.420889,5.057040,4.301853,4.311220
112,Arrizabalaga,Chelsea,47,3.947368,15,17.571071,3.8,4.451338,5.047718,4.420480,4.403448
506,Wilson,Newcastle Utd,65,21.090909,116,103.724006,5.5,4.917949,5.004485,4.809873,4.821480
123,James,Chelsea,50,24.166667,87,104.744225,3.6,4.334244,4.969224,4.217803,4.226393
282,Jesus,Manchester City,92,22.045455,97,94.529337,4.4,4.287929,4.844462,4.294475,4.236807
4,Aubameyang,Arsenal,114,25.116279,108,110.815589,4.3,4.412102,4.822071,4.788334,4.519828
102,Azpilicueta,Chelsea,59,20.208333,97,84.647567,4.8,4.188746,4.814738,4.092231,4.094855
96,Pope,Burnley,55,28.888889,130,121.243062,4.5,4.196875,4.752458,4.276863,4.243690
110,Zouma,Chelsea,53,17.916667,86,72.825361,4.8,4.064671,4.690522,3.968471,3.971001
284,Foden,Manchester City,60,22.978723,108,97.153600,4.7,4.227981,4.650247,4.232024,4.197019
37,Grealish,Aston Villa,75,21.864407,129,111.824739,5.9,5.114465,4.649503,4.972733,4.930401
24,Saka,Arsenal,52,25.263158,96,107.440096,3.8,4.252837,4.629286,4.596941,4.355992
109,Rüdiger,Chelsea,47,13.061224,64,51.842646,4.9,3.969203,4.575016,3.917430,3.906660
548,Mendy,Chelsea,52,25.111111,113,98.801746,4.5,3.934583,4.530963,3.903725,3.886693
556,Dias,Manchester City,61,27.708333,133,124.209865,4.8,4.482762,4.524040,4.479551,4.510277
437,Antonio,West Ham,67,20.930233,90,95.036671,4.3,4.540641,4.521574,4.464485,4.486144
120,Mount,Chelsea,71,29.285714,123,125.244443,4.2,4.276640,4.509914,4.082285,4.133902
259,Alexander-Arnold,Liverpool,73,27.894737,106,123.274026,3.8,4.419258,4.479781,4.485924,4.721296
13,Chambers,Arsenal,45,2.962963,8,11.337073,2.7,3.826262,4.469856,4.376317,4.121333
249,Firmino,Liverpool,90,28.108108,104,121.544006,3.7,4.324162,4.459979,4.418035,4.492375
39,Hause,Aston Villa,44,4.000000,28,20.871218,7.0,5.217805,4.457683,5.005244,5.020693
105,Jorginho,Chelsea,47,21.136364,93,87.770943,4.4,4.152604,4.388745,3.951892,4.005413
11,Bellerín,Arsenal,50,21.842105,83,82.205045,3.8,3.763604,4.375702,4.283472,4.054381
366,Ings,Southampton,84,23.043478,106,94.469337,4.6,4.099613,4.362911,4.047723,4.122111
91,Wood,Burnley,62,25.135135,93,103.127334,3.7,4.102915,4.296268,4.000945,4.123881
255,Robertson,Liverpool,71,30.000000,120,126.943223,4.0,4.231441,4.281101,4.290599,4.520025
75,Bernardo,Brighton,39,2.941176,5,11.699236,1.7,3.977740,4.257763,4.030919,3.874863
117,Werner,Chelsea,92,28.648649,106,118.366008,3.7,4.131644,4.238337,3.895085,3.965905
490,Thiago Silva,Chelsea,56,17.804878,73,64.339270,4.1,3.613575,4.228738,3.541074,3.536509
560,Kelleher,Liverpool,45,2.000000,10,8.433770,5.0,4.216885,4.212108,4.238418,4.438047
283,Zinchenko,Manchester City,55,14.000000,56,58.620226,4.0,4.187159,4.196066,4.183567,4.217647
8,Leno,Arsenal,50,28.888889,104,105.439954,3.6,3.649845,4.195541,4.106072,3.931568
68,Maupay,Brighton,61,28.285714,99,113.394669,3.5,4.008902,4.194369,4.007719,3.890712
435,Cresswell,West Ham,59,30.222222,136,128.122081,4.5,4.239334,4.184059,4.338283,4.403438
69,Trossard,Brighton,58,27.250000,109,109.202111,4.0,4.007417,4.179181,4.020062,3.916851
17,Tierney,Arsenal,53,22.941176,78,81.477260,3.4,3.551573,4.178552,4.085704,3.844378

In [12]:
# save predictions
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players.to_csv(filepath)