In [1]:
# recent gameweek
latest_gameweek = 29

In [2]:
import pandas as pd
import numpy as np
import json
import requests
from scipy.stats import poisson

# allow more data columns to be shown than by default
pd.set_option('max_columns',100)

In [3]:
# fetch FPL fixtures online
fixtures_text = json.loads(requests.get('https://fantasy.premierleague.com/api/fixtures').text)
fixtures = pd.DataFrame(fixtures_text)
fixtures.head(20)

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,pulse_id,started,stats,team_a,team_a_difficulty,team_a_score,team_h,team_h_difficulty,team_h_score
0,2128467,NaN,False,False,180,None,0,False,59077,None,[],7,3,NaN,2,4,NaN
1,2128604,NaN,False,False,317,None,0,False,59214,None,[],6,3,NaN,16,3,NaN
2,2128288,1.0,True,True,2,2020-09-12T11:30:00Z,90,False,58898,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",1,2,3.0,8,3,0.0
3,2128287,1.0,True,True,1,2020-09-12T14:00:00Z,90,False,58897,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",16,3,0.0,6,2,1.0
4,2128289,1.0,True,True,3,2020-09-12T16:30:00Z,90,False,58899,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",10,4,3.0,11,3,4.0
5,2128293,1.0,True,True,6,2020-09-12T19:00:00Z,90,False,58903,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",14,4,2.0,19,2,0.0
6,2128292,1.0,True,True,5,2020-09-13T13:00:00Z,90,False,58902,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",9,2,3.0,18,4,0.0
7,2128291,1.0,True,True,4,2020-09-13T15:30:00Z,90,False,58901,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",7,4,1.0,17,4,0.0
8,2128295,1.0,True,True,8,2020-09-14T17:00:00Z,90,False,58905,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",20,2,2.0,15,3,0.0
9,2128294,1.0,True,True,7,2020-09-14T19:15:00Z,90,False,58904,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,2,3.0,3,4,1.0
10,2128299,2.0,True,True,12,2020-09-19T11:30:00Z,90,False,58909,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",18,3,2.0,7,2,5.0
11,2128300,2.0,True,True,13,2020-09-19T14:00:00Z,90,False,58910,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",8,3,3.0,10,2,4.0
12,2128302,2.0,True,True,15,2020-09-19T16:30:00Z,90,False,58912,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",6,4,3.0,13,3,1.0
13,2128296,2.0,True,True,9,2020-09-19T19:00:00Z,90,False,58906,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",19,3,1.0,1,4,2.0
14,2128304,2.0,True,True,17,2020-09-20T11:00:00Z,90,False,58914,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",17,3,5.0,16,3,2.0
15,2128303,2.0,True,True,16,2020-09-20T13:00:00Z,90,False,58913,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,3,3.0,14,3,0.0
16,2128298,2.0,True,True,11,2020-09-20T15:30:00Z,90,False,58908,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",11,4,2.0,5,4,0.0
17,2128301,2.0,True,True,14,2020-09-20T18:00:00Z,90,False,58911,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,4,2.0,9,2,4.0
18,2128297,2.0,True,True,10,2020-09-21T17:00:00Z,90,False,58907,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",15,3,0.0,2,2,1.0
19,2128305,2.0,True,True,18,2020-09-21T19:15:00Z,90,False,58915,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",12,3,3.0,20,5,1.0

In [4]:
filepath = '../data/fbref/team_stats_week' + str(latest_gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col='Squad')
display(teamStats)

,Rk,MP,W,D,L,GF,GA,GD,Pts,xG,xGA,xGD,xGD/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes,xG per game,xGA per game,probability no goals allowed
Squad,,,,,,,,,,,,,,,,,,,,,
Manchester City,1,30,22,5,3,64,21,43,71,58.1,23.6,34.5,1.15,W W L W W,NaN,İlkay Gündoğan - 12,Ederson,NaN,1.936667,0.786667,0.455360
Manchester Utd,2,29,16,9,4,56,32,24,57,45.5,34.1,11.4,0.39,W D D W W,NaN,Bruno Fernandes - 16,David de Gea,NaN,1.568966,1.175862,0.308553
Leicester City,3,29,17,5,7,53,32,21,56,44.0,34.5,9.5,0.33,W L D W W,NaN,Jamie Vardy - 12,Kasper Schmeichel,NaN,1.517241,1.189655,0.304326
Chelsea,4,29,14,9,6,44,25,19,51,46.0,24.5,21.5,0.74,D D W W D,143.0,Tammy Abraham Jorginho - 6,Edouard Mendy,NaN,1.586207,0.844828,0.429631
West Ham,5,29,14,7,8,45,35,10,49,40.3,33.8,6.5,0.23,W L W L D,133.0,Tomáš Souček - 9,Łukasz Fabiański,NaN,1.389655,1.165517,0.311761
Tottenham,6,29,14,6,9,49,30,19,48,39.7,33.7,6.1,0.21,W W W L W,143.0,Harry Kane - 17,Hugo Lloris,NaN,1.368966,1.162069,0.312838
Liverpool,7,29,13,7,9,48,36,12,46,51.8,35.4,16.4,0.57,L W L L W,400.0,Mohamed Salah - 17,Alisson,NaN,1.786207,1.220690,0.295027
Everton,8,28,14,4,10,40,37,3,46,33.5,38.7,-5.2,-0.19,W W W L L,143.0,Dominic Calvert-Lewin - 14,Jordan Pickford,NaN,1.196429,1.382143,0.251040
Arsenal,9,29,12,6,11,40,32,8,42,41.0,35.0,6.0,0.21,L W D W D,143.0,Alexandre Lacazette - 11,Bernd Leno,NaN,1.413793,1.206897,0.299124
Aston Villa,10,28,12,5,11,39,30,9,41,39.9,36.7,3.3,0.12,W L D D L,NaN,Ollie Watkins - 10,Emiliano Martínez,NaN,1.425000,1.310714,0.269627
Leeds United,11,29,12,3,14,45,47,-2,39,43.4,48.0,-4.6,-0.16,W L L D W,NaN,Patrick Bamford - 14,Illan Meslier,NaN,1.496552,1.655172,0.191059
Crystal Palace,12,29,10,7,12,31,47,-16,37,23.3,42.7,-19.4,-0.67,W D D L W,133.0,Wilfried Zaha - 9,Vicente Guaita,NaN,0.803448,1.472414,0.229371
Wolves,13,29,9,8,12,28,38,-10,35,30.0,33.9,-3.9,-0.13,W D L D L,NaN,Rúben Neves Pedro Neto - 5,Rui Patrício,NaN,1.034483,1.168966,0.310688
Southampton,14,29,9,6,14,36,51,-15,33,29.4,38.4,-9.1,-0.31,L L W L L,143.0,Danny Ings - 8,Alex McCarthy,NaN,1.013793,1.324138,0.266032
Burnley,15,29,8,9,12,22,37,-15,33,26.9,42.8,-15.9,-0.55,D L D D W,NaN,Chris Wood - 6,Nick Pope,NaN,0.927586,1.475862,0.228582
Brighton,16,29,7,11,11,32,36,-4,32,40.7,28.5,12.2,0.42,L L L W W,133.0,Neal Maupay - 8,Robert Sánchez,NaN,1.403448,0.982759,0.374277
Newcastle Utd,17,29,7,7,15,28,48,-20,28,26.5,39.8,-13.4,-0.46,L D D D L,NaN,Callum Wilson - 10,Karl Darlow,NaN,0.913793,1.372414,0.253494
Fulham,18,30,5,11,14,23,38,-15,26,32.9,39.9,-7.0,-0.23,D L W L L,125.0,Bobby Reid - 5,Alphonse Areola,NaN,1.096667,1.330000,0.264477
West Brom,19,29,3,9,17,20,57,-37,18,20.8,48.2,-27.3,-0.94,D W L D L,NaN,Matheus Pereira - 5,Sam Johnstone,NaN,0.717241,1.662069,0.189746
Sheffield Utd,20,29,4,2,23,16,50,-34,14,24.5,46.0,-21.5,-0.74,L L W L L,NaN,David McGoldrick - 6,Aaron Ramsdale,NaN,0.844828,1.586207,0.204701

In [5]:
# fetch FPL data
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players = pd.read_csv(filepath, index_col=0)
players.head()

,adjusted points,adjusted points per game,assists,assists_week1,assists_week10,assists_week11,assists_week12,assists_week13,assists_week14,assists_week15,assists_week16,assists_week17,assists_week18,assists_week19,assists_week2,assists_week20,assists_week21,assists_week22,assists_week23,assists_week24,assists_week25,assists_week26,assists_week27,assists_week28,assists_week29,assists_week3,assists_week4,assists_week5,assists_week6,assists_week7,assists_week8,assists_week9,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheet_points,clean_sheets,cleansheet_week1,cleansheet_week10,cleansheet_week11,cleansheet_week12,cleansheet_week13,cleansheet_week14,cleansheet_week15,cleansheet_week16,cleansheet_week17,cleansheet_week18,cleansheet_week19,cleansheet_week2,...,xG_week19,xG_week2,xG_week20,xG_week21,xG_week22,xG_week23,xG_week24,xG_week25,xG_week26,xG_week27,xG_week28,xG_week29,xG_week3,xG_week4,xG_week5,xG_week6,xG_week7,xG_week8,xG_week9,xPoints,xPoints week 1,xPoints week 10,xPoints week 11,xPoints week 12,xPoints week 13,xPoints week 14,xPoints week 15,xPoints week 16,xPoints week 17,xPoints week 18,xPoints week 19,xPoints week 2,xPoints week 20,xPoints week 21,xPoints week 22,xPoints week 23,xPoints week 24,xPoints week 25,xPoints week 26,xPoints week 27,xPoints week 28,xPoints week 29,xPoints week 3,xPoints week 4,xPoints week 5,xPoints week 6,xPoints week 7,xPoints week 8,xPoints week 9,yellow_cards
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,50.790412,2.666497,0,NaN,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0,223,100.0,100.0,22.790412,3,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.4,0.0,0.0,0.1,0.0,NaN,0.0,0.0,0.1,0.0,0.0,0.0,0.0,0.0,0.1,0.0,NaN,NaN,NaN,1.401035,NaN,0.000000,NaN,NaN,1.000000,3.397316,NaN,NaN,NaN,2.471518,7.363273,1.00000,3.204777,3.586388,-3.000000,NaN,4.395247,1.000000,5.026123,2.807586,3.986341,1.401035,1.199148,5.274923,3.586388,1.000000,NaN,NaN,NaN,1
4,107.852840,4.476910,1,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,1.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10,296,100.0,100.0,7.206173,7,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,...,1.4,0.1,NaN,NaN,0.1,0.1,1.9,0.0,0.1,0.8,NaN,0.0,0.0,0.0,0.0,0.3,0.9,0.0,0.3,2.100259,3.818731,4.246597,3.606531,1.70657,7.132871,NaN,NaN,5.449329,6.67032,2.867879,11.740818,5.61799,NaN,NaN,1.500000,1.500000,15.348812,2.122456,1.500000,7.201897,NaN,2.100259,2.049787,2.818731,3.746597,4.101194,7.540818,2.765299,3.282085,2
5,32.513733,3.599735,1,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,121,100.0,100.0,10.807066,2,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,...,0.0,NaN,0.0,0.1,0.0,0.0,0.1,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,10.658585,NaN,3.804777,2.586388,1.986388,3.090127,4.095247,NaN,4.426123,NaN,3.986341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [6]:
coefficients = pd.DataFrame(np.nan, index=teamStats.index, columns=['xG','xGA','coefficient'])

for ix in coefficients.index:
    coefficients.loc[ix, 'xG'] = teamStats.loc[ix, 'xG per game']
    coefficients.loc[ix, 'xGA'] = teamStats.loc[ix, 'xGA per game']
    coefficients.loc[ix, 'coefficient'] = 0.755489209043063 * coefficients.loc[ix, 'xG']

display(coefficients)

                       xG       xGA  coefficient
Squad
Manchester City  1.936667  0.786667     1.463131
Manchester Utd   1.568966  1.175862     1.185337
Leicester City   1.517241  1.189655     1.146259
Chelsea          1.586207  0.844828     1.198362
West Ham         1.389655  1.165517     1.049869
Tottenham        1.368966  1.162069     1.034239
Liverpool        1.786207  1.220690     1.349460
Everton          1.196429  1.382143     0.903889
Arsenal          1.413793  1.206897     1.068105
Aston Villa      1.425000  1.310714     1.076572
Leeds United     1.496552  1.655172     1.130629
Crystal Palace   0.803448  1.472414     0.606997
Wolves           1.034483  1.168966     0.781541
Southampton      1.013793  1.324138     0.765910
Burnley          0.927586  1.475862     0.700781
Brighton         1.403448  0.982759     1.060290
Newcastle Utd    0.913793  1.372414     0.690361
Fulham           1.096667  1.330000     0.828520
West Brom        0.717241  1.662069     0.541868
Sheffield Utd    0.844828  1.586207     0.638258

In [7]:
def points_for_clean_sheet(position):
    if position < 3:
        return 4
    elif position==3:
        return 1
    elif position==4:
        return 0

In [8]:
goalkeepers = players['element_type'] == 1
defenders = players['element_type'] == 2
midfielders = players['element_type'] == 3
forwards = players['element_type'] == 4

In [9]:
home_coefficient = 1.0721855628874228
away_coefficient = 0.9280143971205758

In [10]:
team_names = np.sort(teamStats.index)
# for some reason the fpl team numbers are not alphabetical with leeds and leicester...
if (team_names[8]=='Leeds United') & (team_names[9]=='Leicester City'):
    team_names[8] = 'Leicester City'
    team_names[9] = 'Leeds United'
    
# how many gameweeks ahead do you want to look at
for number_gameweeks in [1,5,10]:
    expectations = pd.DataFrame(0, index=teamStats.index, \
                columns=['games','total_xG','total_xGA','xG per game', 'xGA per game'])
    gameweeks = np.arange(latest_gameweek+1, latest_gameweek+number_gameweeks+1)
    games = fixtures[fixtures['event'].isin(gameweeks)]
    for ix in games.index:
        home_team_number = games.loc[ix,'team_h']
        home_team = team_names[home_team_number-1]
        away_team_number = games.loc[ix,'team_a']
        away_team = team_names[away_team_number-1]

        home_xG = home_coefficient * coefficients.loc[home_team,'coefficient'] * \
                                    coefficients.loc[away_team,'xGA']
        away_xG = away_coefficient * coefficients.loc[away_team,'coefficient'] * \
                                    coefficients.loc[home_team,'xGA']
        expectations.loc[home_team,'total_xG'] += home_xG
        expectations.loc[home_team,'total_xGA'] += away_xG
        expectations.loc[home_team,'games'] += 1
        expectations.loc[away_team,'total_xG'] += away_xG
        expectations.loc[away_team,'total_xGA'] += home_xG
        expectations.loc[away_team,'games'] += 1

    expectations['xG per game'] = expectations['total_xG'] / expectations['games']
    expectations['xGA per game'] = expectations['total_xGA'] / expectations['games']
    print('expectations:')
    display(expectations)

    new_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    coefficients[new_column] = expectations['xG per game'] / coefficients['xG']
    print('coefficients:')
    display(coefficients)
    
    new_column = 'next' + str(number_gameweeks) + '_xP'
    multiplier_xG_xA_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    for ix in players.index:
        team = players.loc[ix,'team_name']
        position = players.loc[ix, 'element_type']

        # adjust xP based on xg and xa for the next game
        xg_points_per_game = players.loc[ix,'xG_points'] / players.loc[ix,'games played']
        xa_points_per_game = players.loc[ix,'xA_points'] / players.loc[ix,'games played']
        xpoints = xg_points_per_game + xa_points_per_game
        players.loc[ix, new_column] = players.loc[ix, 'adjusted points per game'] - \
                            xpoints + coefficients.loc[team, multiplier_xG_xA_column]*xpoints    

        # adjust xP based on probability to keep a clean sheet for the next game
        clean_sheet_points_per_game = players.loc[ix,'clean_sheet_points'] / \
                                        players.loc[ix,'games played']
        probability_clean_sheet_next = poisson.pmf(0, expectations.loc[team, 'xGA per game'])
        players.loc[ix, new_column] = players.loc[ix, new_column] - clean_sheet_points_per_game \
                + points_for_clean_sheet(position) * probability_clean_sheet_next

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      1  1.615321   0.966816     1.615321      0.966816
Manchester Utd       1  1.248989   1.157006     1.248989      1.157006
Leicester City       1  0.966816   1.615321     0.966816      1.615321
Chelsea              1  2.135537   0.424831     2.135537      0.424831
West Ham             1  1.138916   0.976653     1.138916      0.976653
Tottenham            1  1.317227   0.860158     1.317227      0.860158
Liverpool            1  1.511419   1.397943     1.511419      1.397943
Everton              1  1.426970   0.778563     1.426970      0.778563
Arsenal              1  1.397943   1.511419     1.397943      1.511419
Aston Villa          1  1.535199   1.007780     1.535199      1.007780
Leeds United         1  1.922869   0.980380     1.922869      0.980380
Crystal Palace       1  0.778563   1.426970     0.778563      1.426970
Wolves               1  0.976653   1.138916     0.976653      1.138916
Southampton          1  1.211974   0.861134     1.211974      0.861134
Burnley              1  0.861134   1.211974     0.861134      1.211974
Brighton             1  1.157006   1.248989     1.157006      1.248989
Newcastle Utd        1  0.860158   1.317227     0.860158      1.317227
Fulham               1  1.007780   1.535199     1.007780      1.535199
West Brom            1  0.424831   2.135537     0.424831      2.135537
Sheffield Utd        1  0.980380   1.922869     0.980380      1.922869

coefficients:

                       xG       xGA  coefficient  next1_xG_xA_multiplier
Squad
Manchester City  1.936667  0.786667     1.463131                0.834073
Manchester Utd   1.568966  1.175862     1.185337                0.796059
Leicester City   1.517241  1.189655     1.146259                0.637219
Chelsea          1.586207  0.844828     1.198362                1.346317
West Ham         1.389655  1.165517     1.049869                0.819567
Tottenham        1.368966  1.162069     1.034239                0.962206
Liverpool        1.786207  1.220690     1.349460                0.846161
Everton          1.196429  1.382143     0.903889                1.192691
Arsenal          1.413793  1.206897     1.068105                0.988789
Aston Villa      1.425000  1.310714     1.076572                1.077333
Leeds United     1.496552  1.655172     1.130629                1.284867
Crystal Palace   0.803448  1.472414     0.606997                0.969027
Wolves           1.034483  1.168966     0.781541                0.944098
Southampton      1.013793  1.324138     0.765910                1.195485
Burnley          0.927586  1.475862     0.700781                0.928360
Brighton         1.403448  0.982759     1.060290                0.824403
Newcastle Utd    0.913793  1.372414     0.690361                0.941304
Fulham           1.096667  1.330000     0.828520                0.918948
West Brom        0.717241  1.662069     0.541868                0.592313
Sheffield Utd    0.844828  1.586207     0.638258                1.160449

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      4  7.990818   3.212228     1.997705      0.803057
Manchester Utd       5  7.775030   6.123604     1.555006      1.224721
Leicester City       5  7.467463   5.199771     1.493493      1.039954
Chelsea              5  8.040760   3.406490     1.608152      0.681298
West Ham             5  6.204100   5.251077     1.240820      1.050215
Tottenham            5  7.174969   4.778926     1.434994      0.955785
Liverpool            5  8.938917   6.430704     1.787783      1.286141
Everton              5  5.660166   6.640090     1.132033      1.328018
Arsenal              5  7.436544   5.171002     1.487309      1.034200
Aston Villa          5  6.962162   6.613280     1.392432      1.322656
Leeds United         5  6.684625   9.352081     1.336925      1.870416
Crystal Palace       4  2.510495   6.873291     0.627624      1.718323
Wolves               5  5.712624   4.309102     1.142525      0.861820
Southampton          4  4.196243   4.507312     1.049061      1.126828
Burnley              5  4.292977   6.707813     0.858595      1.341563
Brighton             5  7.001962   5.039744     1.400392      1.007949
Newcastle Utd        5  4.343792   7.031615     0.868758      1.406323
Fulham               4  3.623730   5.731821     0.905932      1.432955
West Brom            5  3.130622   8.483550     0.626124      1.696710
Sheffield Utd        5  3.859530   8.144027     0.771906      1.628805

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier
Squad,,,,,
Manchester City,1.936667,0.786667,1.463131,0.834073,1.031517
Manchester Utd,1.568966,1.175862,1.185337,0.796059,0.991103
Leicester City,1.517241,1.189655,1.146259,0.637219,0.984347
Chelsea,1.586207,0.844828,1.198362,1.346317,1.013835
West Ham,1.389655,1.165517,1.049869,0.819567,0.892898
Tottenham,1.368966,1.162069,1.034239,0.962206,1.048232
Liverpool,1.786207,1.220690,1.349460,0.846161,1.000883
Everton,1.196429,1.382143,0.903889,1.192691,0.946177
Arsenal,1.413793,1.206897,1.068105,0.988789,1.051999
Aston Villa,1.425000,1.310714,1.076572,1.077333,0.977145
Leeds United,1.496552,1.655172,1.130629,1.284867,0.893337
Crystal Palace,0.803448,1.472414,0.606997,0.969027,0.781163
Wolves,1.034483,1.168966,0.781541,0.944098,1.104441
Southampton,1.013793,1.324138,0.765910,1.195485,1.034788
Burnley,0.927586,1.475862,0.700781,0.928360,0.925623
Brighton,1.403448,0.982759,1.060290,0.824403,0.997823
Newcastle Utd,0.913793,1.372414,0.690361,0.941304,0.950717
Fulham,1.096667,1.330000,0.828520,0.918948,0.826078
West Brom,0.717241,1.662069,0.541868,0.592313,0.872962
Sheffield Utd,0.844828,1.586207,0.638258,1.160449,0.913685

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      8  14.682241   6.223542     1.835280      0.777943
Manchester Utd       9  13.704932  10.621118     1.522770      1.180124
Leicester City       9  12.731849  10.144240     1.414650      1.127138
Chelsea              9  13.452501   7.443072     1.494722      0.827008
West Ham             9  11.827278   9.059297     1.314142      1.006589
Tottenham            9  12.655108   9.619643     1.406123      1.068849
Liverpool            9  16.914857   9.612343     1.879429      1.068038
Everton              9   9.967839  12.185242     1.107538      1.353916
Arsenal              9  12.762309   9.301612     1.418034      1.033512
Aston Villa          9  11.926658  11.819195     1.325184      1.313244
Leeds United         9  13.046040  14.375885     1.449560      1.597321
Crystal Palace       8   5.730118  12.941836     0.716265      1.617730
Wolves               9   9.366722   9.174343     1.040747      1.019371
Southampton          8   8.343716  10.321131     1.042964      1.290141
Burnley              9   8.350319  12.425622     0.927813      1.380625
Brighton             9  11.559022   9.280607     1.284336      1.031179
Newcastle Utd        9   7.714435  12.613839     0.857159      1.401538
Fulham               8   8.076126  10.231341     1.009516      1.278918
West Brom            9   5.956192  16.102580     0.661799      1.789176
Sheffield Utd        9   7.508686  12.780459     0.834298      1.420051

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier,next10_xG_xA_multiplier
Squad,,,,,,
Manchester City,1.936667,0.786667,1.463131,0.834073,1.031517,0.947649
Manchester Utd,1.568966,1.175862,1.185337,0.796059,0.991103,0.970557
Leicester City,1.517241,1.189655,1.146259,0.637219,0.984347,0.932383
Chelsea,1.586207,0.844828,1.198362,1.346317,1.013835,0.942325
West Ham,1.389655,1.165517,1.049869,0.819567,0.892898,0.945660
Tottenham,1.368966,1.162069,1.034239,0.962206,1.048232,1.027143
Liverpool,1.786207,1.220690,1.349460,0.846161,1.000883,1.052190
Everton,1.196429,1.382143,0.903889,1.192691,0.946177,0.925703
Arsenal,1.413793,1.206897,1.068105,0.988789,1.051999,1.003000
Aston Villa,1.425000,1.310714,1.076572,1.077333,0.977145,0.929954
Leeds United,1.496552,1.655172,1.130629,1.284867,0.893337,0.968600
Crystal Palace,0.803448,1.472414,0.606997,0.969027,0.781163,0.891488
Wolves,1.034483,1.168966,0.781541,0.944098,1.104441,1.006055
Southampton,1.013793,1.324138,0.765910,1.195485,1.034788,1.028774
Burnley,0.927586,1.475862,0.700781,0.928360,0.925623,1.000245
Brighton,1.403448,0.982759,1.060290,0.824403,0.997823,0.915129
Newcastle Utd,0.913793,1.372414,0.690361,0.941304,0.950717,0.938024
Fulham,1.096667,1.330000,0.828520,0.918948,0.826078,0.920531
West Brom,0.717241,1.662069,0.541868,0.592313,0.872962,0.922701
Sheffield Utd,0.844828,1.586207,0.638258,1.160449,0.913685,0.987537

In [11]:
metric = 'next1_xP'
#minGames = players['games played'] >= 3

numberToShow = 50
display(players.sort_values(by=[metric], ascending=False)[['web_name','team_name',\
         'now_cost','games played','total_points','adjusted points','points_per_game',\
         'adjusted points per game','next1_xP','next5_xP','next10_xP']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,next1_xP,next5_xP,next10_xP
id,,,,,,,,,,,
388,Kane,Tottenham,116,26.901408,191,171.066667,7.1,6.359023,6.251435,6.496325,6.436290
302,Fernandes,Manchester Utd,115,29.027778,209,188.416604,7.2,6.490907,5.873036,6.448982,6.399544
104,Alonso,Chelsea,57,9.069767,39,41.886628,4.3,4.618269,5.870372,4.937769,4.590028
272,De Bruyne,Manchester City,119,23.148148,125,147.374077,5.4,6.366560,5.782848,6.455772,6.210069
39,Hause,Aston Villa,44,4.000000,28,20.914038,7.0,5.228510,5.737713,5.177997,5.110209
202,Bamford,Leeds United,67,28.888889,156,146.080000,5.4,5.056615,5.705651,4.813596,4.985074
232,Chilwell,Chelsea,58,20.800000,104,93.072001,5.0,4.474615,5.606373,4.789307,4.466416
123,James,Chelsea,50,22.894737,87,102.058527,3.8,4.457729,5.568007,4.771563,4.453107
390,Son,Tottenham,94,27.968750,179,153.509695,6.4,5.488615,5.515767,5.666344,5.578864
102,Azpilicueta,Chelsea,58,19.019608,97,83.392352,5.1,4.384546,5.461804,4.697061,4.385423
112,Arrizabalaga,Chelsea,47,3.947368,15,17.783654,3.8,4.505192,5.402187,4.810506,4.536090
37,Grealish,Aston Villa,75,21.864407,129,111.875243,5.9,5.116775,5.372398,5.066223,4.970968
254,Salah,Liverpool,124,28.064516,174,161.826446,6.2,5.766230,5.278024,5.750064,5.964251
570,Raphinha,Leeds United,57,23.777778,107,105.382961,4.5,4.431994,5.143240,4.197618,4.385268
110,Zouma,Chelsea,53,16.862745,86,68.979061,5.1,4.090619,5.110838,4.400855,4.100995
164,Calvert-Lewin,Everton,76,25.185185,136,118.240000,5.4,4.694824,5.088084,4.584977,4.543192
271,Gündogan,Manchester City,61,22.903226,142,125.789216,6.2,5.492205,5.040848,5.556277,5.377473
105,Jorginho,Chelsea,47,20.222222,91,85.661436,4.5,4.236005,4.997311,4.333788,4.154289
548,Mendy,Chelsea,52,24.042553,113,98.317746,4.7,4.089322,4.986317,4.394636,4.120220
109,Rüdiger,Chelsea,47,13.061224,64,52.546050,4.9,4.023057,4.975733,4.330595,4.044682
12,Martínez,Aston Villa,54,27.818182,153,127.602176,5.5,4.587006,4.970279,4.573711,4.582771
490,Thiago Silva,Chelsea,56,17.111111,77,67.805884,4.5,3.962682,4.968969,4.272361,3.975378
301,Lingard,West Ham,62,7.000000,56,36.622330,8.0,5.231761,4.960965,5.070652,5.184392
120,Mount,Chelsea,70,27.857143,117,119.021637,4.2,4.272572,4.957049,4.367286,4.203650
277,Cancelo,Manchester City,61,23.018868,122,122.747499,5.3,5.332473,4.863527,5.334902,5.295215
506,Wilson,Newcastle Utd,65,21.090909,116,103.720000,5.5,4.917759,4.803991,4.822234,4.797631
224,Vardy,Leicester City,101,24.915254,147,145.920000,5.9,5.856653,4.790236,5.810641,5.657888
155,Digne,Everton,62,19.736842,75,75.072283,3.8,3.803662,4.770493,3.821877,3.780462
251,Mané,Liverpool,118,26.086957,120,135.649680,4.6,5.199904,4.753924,5.183497,5.383601
276,Sterling,Manchester City,114,24.905660,132,129.107712,5.3,5.183870,4.721594,5.250016,5.065693
213,Meslier,Leeds United,47,27.777778,125,110.528790,4.5,3.979036,4.718551,3.829886,4.024214
117,Werner,Chelsea,92,28.055556,101,111.953333,3.6,3.990416,4.589098,4.014332,3.890712
273,Stones,Manchester City,53,17.941176,122,89.178786,6.8,4.970621,4.573241,4.959455,4.955942
514,Watkins,Aston Villa,66,27.906977,120,122.980000,4.3,4.406783,4.562352,4.360807,4.265873
435,Cresswell,West Ham,59,28.723404,135,126.586057,4.7,4.407070,4.555116,4.493475,4.588394
96,Pope,Burnley,55,27.826087,128,118.642125,4.6,4.263701,4.536722,4.391915,4.355071
116,Christensen,Chelsea,47,12.058824,41,43.223398,3.4,3.584379,4.524453,3.891414,3.608103
508,Rodríguez,Everton,77,17.906977,77,71.322035,4.3,3.982919,4.466418,3.919935,3.883890
275,Mahrez,Manchester City,81,23.035714,129,109.829546,5.6,4.767794,4.422613,4.811698,4.686562
383,Lloris,Tottenham,56,29.024390,119,115.319759,4.1,3.973202,4.414230,4.259889,4.095463
33,Hourihane,Aston Villa,59,4.000000,20,16.785176,5.0,4.196294,4.386428,4.165097,4.109806
4,Aubameyang,Arsenal,115,24.090909,106,107.852840,4.4,4.476910,4.375654,4.638715,4.539623
389,Aurier,Tottenham,52,13.863636,61,54.654970,4.4,3.942326,4.354730,4.265543,4.085144
203,Harrison,Leeds United,54,27.750000,111,104.535224,4.0,3.767035,4.333020,3.587049,3.736321
13,Chambers,Arsenal,45,2.000000,7,9.299660,3.5,4.649830,4.323949,4.929974,4.879504
166,Richarlison,Everton,80,24.102564,94,96.553333,3.9,4.005936,4.305895,3.922151,3.890280
437,Antonio,West Ham,67,19.777778,89,92.833333,4.5,4.693820,4.303356,4.462046,4.576227
141,Zaha,Crystal Palace,71,20.961538,109,90.974639,5.2,4.340075,4.297633,3.914858,4.123001
326,Dubravka,Newcastle Utd,48,4.047619,17,17.104194,4.2,4.225742,4.283273,4.191935,4.196637
431,Fabianski,West Ham,50,26.829268,110,107.457317,4.1,4.005227,4.264460,4.157631,4.220036

In [12]:
# save predictions
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players.to_csv(filepath)