In [1]:
# recent gameweek
latest_gameweek = 35

In [2]:
import pandas as pd
import numpy as np
import json
import requests
from scipy.stats import poisson

# allow more data columns to be shown than by default
pd.set_option('max_columns',100)

In [3]:
# fetch FPL fixtures online
fixtures_text = json.loads(requests.get('https://fantasy.premierleague.com/api/fixtures').text)
fixtures = pd.DataFrame(fixtures_text)
fixtures.head(20)

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,pulse_id,started,stats,team_a,team_a_difficulty,team_a_score,team_h,team_h_difficulty,team_h_score
0,2128288,1,True,True,2,2020-09-12T11:30:00Z,90,False,58898,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",1,2,3.0,8,3,0.0
1,2128287,1,True,True,1,2020-09-12T14:00:00Z,90,False,58897,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",16,3,0.0,6,2,1.0
2,2128289,1,True,True,3,2020-09-12T16:30:00Z,90,False,58899,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",10,3,3.0,11,3,4.0
3,2128293,1,True,True,6,2020-09-12T19:00:00Z,90,False,58903,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",14,4,2.0,19,2,0.0
4,2128292,1,True,True,5,2020-09-13T13:00:00Z,90,False,58902,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",9,2,3.0,18,4,0.0
5,2128291,1,True,True,4,2020-09-13T15:30:00Z,90,False,58901,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",7,4,1.0,17,4,0.0
6,2128295,1,True,True,8,2020-09-14T17:00:00Z,90,False,58905,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",20,2,2.0,15,2,0.0
7,2128294,1,True,True,7,2020-09-14T19:15:00Z,90,False,58904,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,3,3.0,3,4,1.0
8,2128299,2,True,True,12,2020-09-19T11:30:00Z,90,False,58909,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",18,3,2.0,7,2,5.0
9,2128300,2,True,True,13,2020-09-19T14:00:00Z,90,False,58910,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",8,3,3.0,10,2,4.0
10,2128302,2,True,True,15,2020-09-19T16:30:00Z,90,False,58912,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",6,4,3.0,13,2,1.0
11,2128296,2,True,True,9,2020-09-19T19:00:00Z,90,False,58906,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",19,4,1.0,1,4,2.0
12,2128304,2,True,True,17,2020-09-20T11:00:00Z,90,False,58914,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",17,2,5.0,16,3,2.0
13,2128303,2,True,True,16,2020-09-20T13:00:00Z,90,False,58913,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,2,3.0,14,3,0.0
14,2128298,2,True,True,11,2020-09-20T15:30:00Z,90,False,58908,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",11,4,2.0,5,4,0.0
15,2128301,2,True,True,14,2020-09-20T18:00:00Z,90,False,58911,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,4,2.0,9,2,4.0
16,2128297,2,True,True,10,2020-09-21T17:00:00Z,90,False,58907,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",15,3,0.0,2,2,1.0
17,2128305,2,True,True,18,2020-09-21T19:15:00Z,90,False,58915,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",12,3,3.0,20,4,1.0
18,2128306,3,True,True,19,2020-09-26T11:30:00Z,90,False,58916,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",13,3,3.0,3,4,2.0
19,2128308,3,True,True,21,2020-09-26T14:00:00Z,90,False,58918,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",7,3,2.0,6,4,1.0

In [4]:
filepath = '../data/fbref/team_stats_week' + str(latest_gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col='Squad')
display(teamStats)

,Rk,MP,W,D,L,GF,GA,GD,Pts,xG,xGA,xGD,xGD/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes,xG per game,xGA per game,probability no goals allowed
Squad,,,,,,,,,,,,,,,,,,,,,
Manchester City,1,35,25,5,5,72,26,46,80,68.4,26.5,41.9,1.20,W L W W L,NaN,İlkay Gündoğan - 12,Ederson,NaN,1.954286,0.757143,0.469005
Manchester Utd,2,36,20,10,6,70,42,28,70,55.4,38.0,17.3,0.50,W D W L L,NaN,Bruno Fernandes - 18,David de Gea,NaN,1.538889,1.055556,0.347999
Leicester City,3,36,20,6,10,65,44,21,66,53.3,43.0,10.3,0.29,W W D L W,NaN,Jamie Vardy - 13,Kasper Schmeichel,NaN,1.480556,1.194444,0.302872
Chelsea,4,36,18,10,8,55,33,22,64,58.8,31.0,27.8,0.77,D W W W L,111.0,Timo Werner Mason Mount... - 6,Edouard Mendy,NaN,1.633333,0.861111,0.422692
Liverpool,5,35,17,9,9,61,41,20,60,62.9,41.1,21.8,0.64,W D D W W,333.0,Mohamed Salah - 21,Alisson,NaN,1.797143,1.174286,0.309040
West Ham,6,35,17,7,11,55,45,10,58,47.5,44.8,2.7,0.08,W L L W L,111.0,Tomáš Souček Michail Antonio... - 9,Łukasz Fabiański,NaN,1.357143,1.280000,0.278037
Tottenham,7,35,16,8,11,61,41,20,56,48.5,44.5,4.0,0.11,L D W W L,118.0,Harry Kane - 21,Hugo Lloris,NaN,1.385714,1.271429,0.280431
Everton,8,35,16,8,11,46,42,4,56,42.7,45.9,-3.1,-0.09,D W L W D,118.0,Dominic Calvert-Lewin - 16,Jordan Pickford,NaN,1.220000,1.311429,0.269435
Arsenal,9,36,16,7,13,50,38,12,55,51.1,42.9,8.2,0.23,D L W W W,111.0,Alexandre Lacazette - 13,Bernd Leno,NaN,1.419444,1.191667,0.303715
Leeds United,10,35,15,5,15,53,53,0,50,51.9,58.6,-6.7,-0.19,W D D L W,NaN,Patrick Bamford - 15,Illan Meslier,NaN,1.482857,1.674286,0.187442
Aston Villa,11,35,14,7,14,49,41,8,49,47.9,46.7,1.2,0.03,L D W L D,NaN,Ollie Watkins - 13,Emiliano Martínez,NaN,1.368571,1.334286,0.263346
Wolves,12,35,12,9,14,35,47,-12,45,37.4,40.4,-3.0,-0.09,W W L D W,NaN,Rúben Neves Pedro Neto - 5,Rui Patrício,NaN,1.068571,1.154286,0.315283
Crystal Palace,13,35,11,8,16,37,59,-22,41,29.1,53.0,-23.9,-0.68,L L L W L,118.0,Wilfried Zaha - 10,Vicente Guaita,NaN,0.831429,1.514286,0.219965
Southampton,14,35,11,7,17,44,62,-18,40,37.9,50.2,-12.3,-0.35,L L D L W,118.0,Danny Ings - 12,Alex McCarthy,NaN,1.082857,1.434286,0.238286
Burnley,15,35,10,9,16,33,47,-14,39,36.8,51.8,-15.0,-0.43,L L W L W,NaN,Chris Wood - 12,Nick Pope,NaN,1.051429,1.480000,0.227638
Newcastle Utd,16,35,10,9,16,40,58,-18,39,36.2,51.0,-14.8,-0.42,W W D L W,NaN,Callum Wilson - 12,Karl Darlow,NaN,1.034286,1.457143,0.232901
Brighton,17,35,8,13,14,36,41,-5,37,48.9,34.4,14.5,0.41,D D L W L,118.0,Neal Maupay - 8,Robert Sánchez,NaN,1.397143,0.982857,0.374240
Fulham,18,35,5,12,18,25,47,-22,27,37.7,48.7,-11.0,-0.31,L L D L L,111.0,Bobby Reid - 5,Alphonse Areola,NaN,1.077143,1.391429,0.248720
West Brom,19,35,5,11,19,32,68,-36,26,30.1,59.7,-29.6,-0.85,W L D D L,NaN,Matheus Pereira - 10,Sam Johnstone,NaN,0.860000,1.705714,0.181643
Sheffield Utd,20,35,5,2,28,18,62,-44,17,28.4,58.6,-30.2,-0.86,L L W L L,NaN,David McGoldrick - 7,Aaron Ramsdale,NaN,0.811429,1.674286,0.187442

In [5]:
# fetch FPL data
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players = pd.read_csv(filepath, index_col=0)
players.head()

,adjusted points,adjusted points per game,assists,assists_week1,assists_week10,assists_week11,assists_week12,assists_week13,assists_week14,assists_week15,assists_week16,assists_week17,assists_week18,assists_week19,assists_week2,assists_week20,assists_week21,assists_week22,assists_week23,assists_week24,assists_week25,assists_week26,assists_week27,assists_week28,assists_week29,assists_week3,assists_week30,assists_week31,assists_week32,assists_week33,assists_week34,assists_week35,assists_week4,assists_week5,assists_week6,assists_week7,assists_week8,assists_week9,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheet_points,clean_sheets,cleansheet_week1,cleansheet_week10,cleansheet_week11,cleansheet_week12,cleansheet_week13,cleansheet_week14,...,xG_week3,xG_week30,xG_week31,xG_week32,xG_week33,xG_week34,xG_week35,xG_week4,xG_week5,xG_week6,xG_week7,xG_week8,xG_week9,xPoints,xPoints week 1,xPoints week 10,xPoints week 11,xPoints week 12,xPoints week 13,xPoints week 14,xPoints week 15,xPoints week 16,xPoints week 17,xPoints week 18,xPoints week 19,xPoints week 2,xPoints week 20,xPoints week 21,xPoints week 22,xPoints week 23,xPoints week 24,xPoints week 25,xPoints week 26,xPoints week 27,xPoints week 28,xPoints week 29,xPoints week 3,xPoints week 30,xPoints week 31,xPoints week 32,xPoints week 33,xPoints week 34,xPoints week 35,xPoints week 4,xPoints week 5,xPoints week 6,xPoints week 7,xPoints week 8,xPoints week 9,yellow_cards
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,54.504601,2.658761,0,NaN,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,0,230,75.0,75.0,24.904601,3,NaN,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,NaN,NaN,NaN,0.1,NaN,0.0,0.1,0.0,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,1.000000,3.397316,NaN,NaN,NaN,2.471518,7.363273,1.00000,3.204777,3.586388,-3.000000,NaN,4.395247,1.000000,5.026123,2.807586,3.986341,1.401035,1.199148,NaN,NaN,NaN,NaN,1.6000,NaN,5.274923,3.586388,1.000000,NaN,NaN,NaN,1
4,126.358008,4.713354,3,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,1.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,11,350,100.0,100.0,8.142137,9,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,NaN,NaN,NaN,1.2,0.0,0.0,0.0,0.3,0.9,0.0,0.3,4.62884,3.818731,4.246597,3.606531,1.70657,7.132871,NaN,NaN,5.449329,6.67032,2.867879,11.740818,5.61799,NaN,NaN,1.500000,1.500000,15.348812,2.122456,1.500000,7.201897,NaN,2.100259,2.049787,3.010803,NaN,NaN,NaN,10.5184,4.62884,2.818731,3.746597,4.101194,7.540818,2.765299,3.282085,2
5,33.840543,3.384054,1,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,125,100.0,100.0,12.148586,2,NaN,NaN,NaN,NaN,0.0,0.0,...,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,10.658585,NaN,3.804777,2.586388,1.986388,3.090127,4.095247,NaN,4.426123,NaN,3.986341,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [6]:
coefficients = pd.DataFrame(np.nan, index=teamStats.index, columns=['xG','xGA','coefficient'])

for ix in coefficients.index:
    coefficients.loc[ix, 'xG'] = teamStats.loc[ix, 'xG per game']
    coefficients.loc[ix, 'xGA'] = teamStats.loc[ix, 'xGA per game']
    coefficients.loc[ix, 'coefficient'] = 0.755489209043063 * coefficients.loc[ix, 'xG']

display(coefficients)

                       xG       xGA  coefficient
Squad
Manchester City  1.954286  0.757143     1.476442
Manchester Utd   1.538889  1.055556     1.162614
Leicester City   1.480556  1.194444     1.118544
Chelsea          1.633333  0.861111     1.233966
Liverpool        1.797143  1.174286     1.357722
West Ham         1.357143  1.280000     1.025307
Tottenham        1.385714  1.271429     1.046892
Everton          1.220000  1.311429     0.921697
Arsenal          1.419444  1.191667     1.072375
Leeds United     1.482857  1.674286     1.120283
Aston Villa      1.368571  1.334286     1.033941
Wolves           1.068571  1.154286     0.807294
Crystal Palace   0.831429  1.514286     0.628135
Southampton      1.082857  1.434286     0.818087
Burnley          1.051429  1.480000     0.794343
Newcastle Utd    1.034286  1.457143     0.781392
Brighton         1.397143  0.982857     1.055526
Fulham           1.077143  1.391429     0.813770
West Brom        0.860000  1.705714     0.649721
Sheffield Utd    0.811429  1.674286     0.613026

In [7]:
def points_for_clean_sheet(position):
    if position < 3:
        return 4
    elif position==3:
        return 1
    elif position==4:
        return 0

In [8]:
goalkeepers = players['element_type'] == 1
defenders = players['element_type'] == 2
midfielders = players['element_type'] == 3
forwards = players['element_type'] == 4

In [9]:
home_coefficient = 1.0721855628874228
away_coefficient = 0.9280143971205758

In [10]:
team_names = np.sort(teamStats.index)
# for some reason the fpl team numbers are not alphabetical with leeds and leicester...
if (team_names[8]=='Leeds United') & (team_names[9]=='Leicester City'):
    team_names[8] = 'Leicester City'
    team_names[9] = 'Leeds United'
    
# how many gameweeks ahead do you want to look at
for number_gameweeks in [1,5,10]:
    expectations = pd.DataFrame(0, index=teamStats.index, \
                columns=['games','total_xG','total_xGA','xG per game', 'xGA per game'])
    gameweeks = np.arange(latest_gameweek+1, latest_gameweek+number_gameweeks+1)
    games = fixtures[fixtures['event'].isin(gameweeks)]
    for ix in games.index:
        home_team_number = games.loc[ix,'team_h']
        home_team = team_names[home_team_number-1]
        away_team_number = games.loc[ix,'team_a']
        away_team = team_names[away_team_number-1]

        home_xG = home_coefficient * coefficients.loc[home_team,'coefficient'] * \
                                    coefficients.loc[away_team,'xGA']
        away_xG = away_coefficient * coefficients.loc[away_team,'coefficient'] * \
                                    coefficients.loc[home_team,'xGA']
        expectations.loc[home_team,'total_xG'] += home_xG
        expectations.loc[home_team,'total_xGA'] += away_xG
        expectations.loc[home_team,'games'] += 1
        expectations.loc[away_team,'total_xG'] += away_xG
        expectations.loc[away_team,'total_xGA'] += home_xG
        expectations.loc[away_team,'games'] += 1

    expectations['xG per game'] = expectations['total_xG'] / expectations['games']
    expectations['xGA per game'] = expectations['total_xGA'] / expectations['games']
    print('expectations:')
    display(expectations)

    new_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    coefficients[new_column] = expectations['xG per game'] / coefficients['xG']
    print('coefficients:')
    display(coefficients)
    
    new_column = 'next' + str(number_gameweeks) + '_xP'
    multiplier_xG_xA_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    for ix in players.index:
        team = players.loc[ix,'team_name']
        position = players.loc[ix, 'element_type']

        # adjust xP based on xg and xa for the next game
        xg_points_per_game = players.loc[ix,'xG_points'] / players.loc[ix,'games played']
        xa_points_per_game = players.loc[ix,'xA_points'] / players.loc[ix,'games played']
        xpoints = xg_points_per_game + xa_points_per_game
        players.loc[ix, new_column] = players.loc[ix, 'adjusted points per game'] - \
                            xpoints + coefficients.loc[team, multiplier_xG_xA_column]*xpoints    

        # adjust xP based on probability to keep a clean sheet for the next game
        clean_sheet_points_per_game = players.loc[ix,'clean_sheet_points'] / \
                                        players.loc[ix,'games played']
        probability_clean_sheet_next = poisson.pmf(0, expectations.loc[team, 'xGA per game'])
        players.loc[ix, new_column] = players.loc[ix, new_column] - clean_sheet_points_per_game \
                + points_for_clean_sheet(position) * probability_clean_sheet_next

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      1  1.996518   0.634332     1.996518      0.634332
Manchester Utd       0  0.000000   0.000000          NaN           NaN
Leicester City       0  0.000000   0.000000          NaN           NaN
Chelsea              0  0.000000   0.000000          NaN           NaN
Liverpool            1  2.149175   0.818032     2.149175      0.818032
West Ham             1  0.935188   1.448602     0.935188      1.448602
Tottenham            1  1.295643   0.952530     1.295643      0.952530
Everton              1  1.654579   0.746067     1.654579      0.746067
Arsenal              0  0.000000   0.000000          NaN           NaN
Leeds United         1  1.538665   1.425961     1.538665      1.425961
Aston Villa          1  1.452975   0.898612     1.452975      0.898612
Wolves               1  0.952530   1.295643     0.952530      1.295643
Crystal Palace       1  0.898612   1.452975     0.898612      1.452975
Southampton          1  1.220479   1.083158     1.220479      1.083158
Burnley              1  1.425961   1.538665     1.425961      1.538665
Newcastle Utd        1  0.634332   1.996518     0.634332      1.996518
Brighton             1  1.448602   0.935188     1.448602      0.935188
Fulham               1  1.083158   1.220479     1.083158      1.220479
West Brom            1  0.818032   2.149175     0.818032      2.149175
Sheffield Utd        1  0.746067   1.654579     0.746067      1.654579

coefficients:

                       xG       xGA  coefficient  next1_xG_xA_multiplier
Squad
Manchester City  1.954286  0.757143     1.476442                1.021610
Manchester Utd   1.538889  1.055556     1.162614                     NaN
Leicester City   1.480556  1.194444     1.118544                     NaN
Chelsea          1.633333  0.861111     1.233966                     NaN
Liverpool        1.797143  1.174286     1.357722                1.195885
West Ham         1.357143  1.280000     1.025307                0.689086
Tottenham        1.385714  1.271429     1.046892                0.935000
Everton          1.220000  1.311429     0.921697                1.356213
Arsenal          1.419444  1.191667     1.072375                     NaN
Leeds United     1.482857  1.674286     1.120283                1.037635
Aston Villa      1.368571  1.334286     1.033941                1.061673
Wolves           1.068571  1.154286     0.807294                0.891405
Crystal Palace   0.831429  1.514286     0.628135                1.080804
Southampton      1.082857  1.434286     0.818087                1.127091
Burnley          1.051429  1.480000     0.794343                1.356213
Newcastle Utd    1.034286  1.457143     0.781392                0.613304
Brighton         1.397143  0.982857     1.055526                1.036832
Fulham           1.077143  1.391429     0.813770                1.005585
West Brom        0.860000  1.705714     0.649721                0.951200
Sheffield Utd    0.811429  1.674286     0.613026                0.919449

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      3  5.419206   2.138826     1.806402      0.712942
Manchester Utd       2  2.979853   1.710801     1.489927      0.855401
Leicester City       2  2.418662   2.740738     1.209331      1.370369
Chelsea              2  3.108239   1.848462     1.554120      0.924231
Liverpool            3  6.218345   2.502665     2.072782      0.834222
West Ham             3  4.134912   3.312048     1.378304      1.104016
Tottenham            3  3.953768   3.697288     1.317923      1.232429
Everton              3  3.442900   3.804581     1.147633      1.268194
Arsenal              2  2.637060   1.969850     1.318530      0.984925
Leeds United         3  5.078623   3.904056     1.692874      1.301352
Aston Villa          3  3.627534   3.924239     1.209178      1.308080
Wolves               3  2.848683   3.681727     0.949561      1.227242
Crystal Palace       3  2.385685   5.164352     0.795228      1.721451
Southampton          3  3.660835   4.151035     1.220278      1.383678
Burnley              3  3.660299   4.376214     1.220100      1.458738
Newcastle Utd        3  3.046028   4.096856     1.015343      1.365619
Brighton             3  3.472765   3.411933     1.157588      1.137311
Fulham               3  3.151678   3.963932     1.050559      1.321311
West Brom            3  2.719218   5.820982     0.906406      1.940327
Sheffield Utd        3  2.547801   4.291510     0.849267      1.430503

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier
Squad,,,,,
Manchester City,1.954286,0.757143,1.476442,1.021610,0.924328
Manchester Utd,1.538889,1.055556,1.162614,NaN,0.968183
Leicester City,1.480556,1.194444,1.118544,NaN,0.816809
Chelsea,1.633333,0.861111,1.233966,NaN,0.951502
Liverpool,1.797143,1.174286,1.357722,1.195885,1.153376
West Ham,1.357143,1.280000,1.025307,0.689086,1.015592
Tottenham,1.385714,1.271429,1.046892,0.935000,0.951078
Everton,1.220000,1.311429,0.921697,1.356213,0.940683
Arsenal,1.419444,1.191667,1.072375,NaN,0.928906
Leeds United,1.482857,1.674286,1.120283,1.037635,1.141630
Aston Villa,1.368571,1.334286,1.033941,1.061673,0.883533
Wolves,1.068571,1.154286,0.807294,0.891405,0.888627
Crystal Palace,0.831429,1.514286,0.628135,1.080804,0.956460
Southampton,1.082857,1.434286,0.818087,1.127091,1.126906
Burnley,1.051429,1.480000,0.794343,1.356213,1.160421
Newcastle Utd,1.034286,1.457143,0.781392,0.613304,0.981685
Brighton,1.397143,0.982857,1.055526,1.036832,0.828540
Fulham,1.077143,1.391429,0.813770,1.005585,0.975320
West Brom,0.860000,1.705714,0.649721,0.951200,1.053961
Sheffield Utd,0.811429,1.674286,0.613026,0.919449,1.046632

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      3  5.419206   2.138826     1.806402      0.712942
Manchester Utd       2  2.979853   1.710801     1.489927      0.855401
Leicester City       2  2.418662   2.740738     1.209331      1.370369
Chelsea              2  3.108239   1.848462     1.554120      0.924231
Liverpool            3  6.218345   2.502665     2.072782      0.834222
West Ham             3  4.134912   3.312048     1.378304      1.104016
Tottenham            3  3.953768   3.697288     1.317923      1.232429
Everton              3  3.442900   3.804581     1.147633      1.268194
Arsenal              2  2.637060   1.969850     1.318530      0.984925
Leeds United         3  5.078623   3.904056     1.692874      1.301352
Aston Villa          3  3.627534   3.924239     1.209178      1.308080
Wolves               3  2.848683   3.681727     0.949561      1.227242
Crystal Palace       3  2.385685   5.164352     0.795228      1.721451
Southampton          3  3.660835   4.151035     1.220278      1.383678
Burnley              3  3.660299   4.376214     1.220100      1.458738
Newcastle Utd        3  3.046028   4.096856     1.015343      1.365619
Brighton             3  3.472765   3.411933     1.157588      1.137311
Fulham               3  3.151678   3.963932     1.050559      1.321311
West Brom            3  2.719218   5.820982     0.906406      1.940327
Sheffield Utd        3  2.547801   4.291510     0.849267      1.430503

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier,next10_xG_xA_multiplier
Squad,,,,,,
Manchester City,1.954286,0.757143,1.476442,1.021610,0.924328,0.924328
Manchester Utd,1.538889,1.055556,1.162614,NaN,0.968183,0.968183
Leicester City,1.480556,1.194444,1.118544,NaN,0.816809,0.816809
Chelsea,1.633333,0.861111,1.233966,NaN,0.951502,0.951502
Liverpool,1.797143,1.174286,1.357722,1.195885,1.153376,1.153376
West Ham,1.357143,1.280000,1.025307,0.689086,1.015592,1.015592
Tottenham,1.385714,1.271429,1.046892,0.935000,0.951078,0.951078
Everton,1.220000,1.311429,0.921697,1.356213,0.940683,0.940683
Arsenal,1.419444,1.191667,1.072375,NaN,0.928906,0.928906
Leeds United,1.482857,1.674286,1.120283,1.037635,1.141630,1.141630
Aston Villa,1.368571,1.334286,1.033941,1.061673,0.883533,0.883533
Wolves,1.068571,1.154286,0.807294,0.891405,0.888627,0.888627
Crystal Palace,0.831429,1.514286,0.628135,1.080804,0.956460,0.956460
Southampton,1.082857,1.434286,0.818087,1.127091,1.126906,1.126906
Burnley,1.051429,1.480000,0.794343,1.356213,1.160421,1.160421
Newcastle Utd,1.034286,1.457143,0.781392,0.613304,0.981685,0.981685
Brighton,1.397143,0.982857,1.055526,1.036832,0.828540,0.828540
Fulham,1.077143,1.391429,0.813770,1.005585,0.975320,0.975320
West Brom,0.860000,1.705714,0.649721,0.951200,1.053961,1.053961
Sheffield Utd,0.811429,1.674286,0.613026,0.919449,1.046632,1.046632

In [11]:
metric = 'next1_xP'
#minGames = players['games played'] >= 3

numberToShow = 50
display(players.sort_values(by=[metric], ascending=False)[['web_name','team_name',\
         'now_cost','games played','total_points','adjusted points','points_per_game',\
         'adjusted points per game','next1_xP','next5_xP','next10_xP']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,next1_xP,next5_xP,next10_xP
id,,,,,,,,,,,
254,Salah,Liverpool,127,34.193548,212,200.146946,6.2,5.853354,6.573493,6.438832,6.438832
272,De Bruyne,Manchester City,118,24.150943,128,152.898426,5.3,6.330950,6.458325,6.120722,6.120722
388,Kane,Tottenham,118,32.173913,222,201.575438,6.9,6.265183,6.078752,6.124867,6.124867
251,Mané,Liverpool,117,31.702128,149,166.924825,4.7,5.265414,5.910523,5.792144,5.792144
39,Hause,Aston Villa,44,4.000000,28,20.813539,7.0,5.203385,5.880299,5.039184,5.039184
164,Calvert-Lewin,Everton,76,30.000000,159,144.551741,5.3,4.818391,5.564063,4.694221,4.694221
277,Cancelo,Manchester City,58,26.000000,130,135.652341,5.0,5.217398,5.483733,5.227963,5.227963
259,Alexander-Arnold,Liverpool,76,33.255814,143,156.753157,4.3,4.713556,5.431671,5.362293,5.362293
390,Son,Tottenham,96,34.062500,218,183.191739,6.4,5.378106,5.340854,5.281943,5.281943
276,Sterling,Manchester City,110,28.823529,147,149.874020,5.1,5.199711,5.313492,5.037080,5.037080
271,Gündogan,Manchester City,56,25.892857,145,132.859738,5.6,5.131135,5.237771,4.993522,4.993522
37,Grealish,Aston Villa,75,22.807018,130,112.809623,5.7,4.946268,5.212553,4.721930,4.721930
91,Wood,Burnley,64,30.000000,132,133.515870,4.4,4.450529,5.117122,4.750730,4.750730
273,Stones,Manchester City,51,20.166667,121,96.333032,6.0,4.776845,5.036451,4.810970,4.810970
12,Martínez,Aston Villa,54,34.901961,178,155.365197,5.1,4.451475,5.027688,4.477443,4.477443
155,Digne,Everton,62,26.829268,110,105.642573,4.1,3.937587,5.003712,3.944082,3.944082
275,Mahrez,Manchester City,80,24.814815,134,120.890001,5.4,4.871687,4.970854,4.760231,4.760231
508,Rodríguez,Everton,77,22.222222,100,92.047226,4.5,4.142125,4.861467,4.068346,4.068346
202,Bamford,Leeds United,64,35.000000,175,167.039568,5.0,4.772559,4.852260,5.072491,5.072491
255,Robertson,Liverpool,71,34.871795,136,144.458809,3.9,4.142569,4.809792,4.751458,4.751458
560,Kelleher,Liverpool,45,2.000000,10,8.472317,5.0,4.236159,4.765197,4.736850,4.736850
274,Mendy,Manchester City,59,11.923077,62,53.759865,5.2,4.508892,4.760557,4.570825,4.570825
556,Dias,Manchester City,60,30.222222,136,133.989393,4.5,4.433473,4.688266,4.484452,4.484452
468,Jota,Liverpool,70,18.085106,85,74.389015,4.7,4.113275,4.600800,4.516618,4.516618
514,Watkins,Aston Villa,65,33.777778,152,150.775654,4.5,4.463753,4.588714,4.227769,4.227769
249,Firmino,Liverpool,90,33.157895,126,138.743697,3.8,4.184334,4.539973,4.462797,4.462797
166,Richarlison,Everton,78,30.833333,111,122.171741,3.6,3.962327,4.521715,3.869177,3.869177
246,Matip,Liverpool,54,10.000000,42,38.545499,4.2,3.854550,4.512872,4.456469,4.456469
252,Alisson,Liverpool,59,30.263158,115,120.410062,3.8,3.978767,4.507805,4.479458,4.479458
570,Raphinha,Leeds United,54,27.045455,119,118.405109,4.4,4.378004,4.499026,4.719326,4.719326
283,Zinchenko,Manchester City,55,18.235294,62,76.309742,3.4,4.184728,4.439467,4.235896,4.235896
301,Lingard,West Ham,66,13.055556,94,66.437759,7.2,5.088850,4.435102,5.172971,5.172971
280,Laporte,Manchester City,60,16.111111,58,67.124736,3.6,4.166363,4.420758,4.218736,4.218736
33,Hourihane,Aston Villa,59,4.000000,20,16.745342,5.0,4.186335,4.405673,4.050656,4.050656
366,Ings,Southampton,84,25.918367,127,107.907827,4.9,4.163373,4.348432,4.348162,4.348162
573,Olsen,Everton,45,6.944444,25,24.484302,3.6,3.525739,4.344912,3.573357,3.573357
157,Pickford,Everton,48,27.837838,103,97.001937,3.7,3.484536,4.303708,3.532154,3.532154
284,Foden,Manchester City,60,25.869565,119,108.468597,4.6,4.192904,4.284261,4.108795,4.108795
152,Coleman,Everton,49,22.812500,73,74.661803,3.2,3.272846,4.274712,3.290042,3.290042
278,Ederson,Manchester City,61,33.953488,146,136.689316,4.3,4.025781,4.271685,4.107888,4.107888
270,Walker,Manchester City,61,22.105263,84,87.961831,3.8,3.979226,4.227006,4.054764,4.054764
141,Zaha,Crystal Palace,72,26.808511,126,109.304768,4.7,4.077241,4.218466,3.967481,3.967481
389,Aurier,Tottenham,52,19.047619,80,72.842020,4.2,3.824206,4.197423,3.832602,3.832602
383,Lloris,Tottenham,56,35.128205,137,132.404111,3.9,3.769168,4.190501,3.813779,3.813779
150,Sigurdsson,Everton,69,33.142857,116,117.557669,3.5,3.546999,4.186648,3.486490,3.486490
523,Forster,Southampton,40,7.894737,30,29.524805,3.8,3.739809,4.140765,3.789286,3.789286
156,Keane,Everton,50,31.891892,118,102.063108,3.7,3.200284,4.130033,3.229488,3.229488
538,Steffen,Manchester City,44,1.000000,2,3.876018,2.0,3.876018,4.121159,3.960799,3.960799
245,Adrián,Liverpool,42,2.972973,11,10.675066,3.7,3.590704,4.119742,4.091395,4.091395
75,Bernardo,Brighton,39,2.941176,5,11.802827,1.7,4.012961,4.116103,3.658809,3.658809

In [12]:
# save predictions
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players.to_csv(filepath)