In [1]:
# recent gameweek
latest_gameweek = 28

In [2]:
import pandas as pd
import numpy as np
import json
import requests
from scipy.stats import poisson

# allow more data columns to be shown than by default
pd.set_option('max_columns',100)

In [3]:
# fetch FPL fixtures online
fixtures_text = json.loads(requests.get('https://fantasy.premierleague.com/api/fixtures').text)
fixtures = pd.DataFrame(fixtures_text)
fixtures.head(20)

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,pulse_id,started,stats,team_a,team_a_difficulty,team_a_score,team_h,team_h_difficulty,team_h_score
0,2128467,NaN,False,False,180,None,0,False,59077,None,[],7,3,NaN,2,4,NaN
1,2128573,NaN,False,False,286,None,0,False,59183,None,[],16,4,NaN,17,2,NaN
2,2128288,1.0,True,True,2,2020-09-12T11:30:00Z,90,False,58898,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",1,2,3.0,8,3,0.0
3,2128287,1.0,True,True,1,2020-09-12T14:00:00Z,90,False,58897,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",16,3,0.0,6,2,1.0
4,2128289,1.0,True,True,3,2020-09-12T16:30:00Z,90,False,58899,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",10,4,3.0,11,3,4.0
5,2128293,1.0,True,True,6,2020-09-12T19:00:00Z,90,False,58903,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",14,4,2.0,19,2,0.0
6,2128292,1.0,True,True,5,2020-09-13T13:00:00Z,90,False,58902,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",9,2,3.0,18,4,0.0
7,2128291,1.0,True,True,4,2020-09-13T15:30:00Z,90,False,58901,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",7,4,1.0,17,4,0.0
8,2128295,1.0,True,True,8,2020-09-14T17:00:00Z,90,False,58905,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",20,2,2.0,15,3,0.0
9,2128294,1.0,True,True,7,2020-09-14T19:15:00Z,90,False,58904,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,2,3.0,3,4,1.0
10,2128299,2.0,True,True,12,2020-09-19T11:30:00Z,90,False,58909,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",18,3,2.0,7,2,5.0
11,2128300,2.0,True,True,13,2020-09-19T14:00:00Z,90,False,58910,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",8,3,3.0,10,2,4.0
12,2128302,2.0,True,True,15,2020-09-19T16:30:00Z,90,False,58912,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",6,4,3.0,13,3,1.0
13,2128296,2.0,True,True,9,2020-09-19T19:00:00Z,90,False,58906,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",19,3,1.0,1,4,2.0
14,2128304,2.0,True,True,17,2020-09-20T11:00:00Z,90,False,58914,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",17,3,5.0,16,3,2.0
15,2128303,2.0,True,True,16,2020-09-20T13:00:00Z,90,False,58913,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,3,3.0,14,3,0.0
16,2128298,2.0,True,True,11,2020-09-20T15:30:00Z,90,False,58908,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",11,4,2.0,5,4,0.0
17,2128301,2.0,True,True,14,2020-09-20T18:00:00Z,90,False,58911,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,4,2.0,9,2,4.0
18,2128297,2.0,True,True,10,2020-09-21T17:00:00Z,90,False,58907,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",15,3,0.0,2,2,1.0
19,2128305,2.0,True,True,18,2020-09-21T19:15:00Z,90,False,58915,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",12,3,3.0,20,5,1.0

In [4]:
filepath = '../data/fbref/team_stats_week' + str(latest_gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col='Squad')
display(teamStats)

,Rk,MP,W,D,L,GF,GA,GD,Pts,xG,xGA,xGD,xGD/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes,xG per game,xGA per game,probability no goals allowed
Squad,,,,,,,,,,,,,,,,,,,,,
Manchester City,1,30,22,5,3,64,21,43,71,58.2,23.7,34.5,1.15,W W L W W,NaN,İlkay Gündoğan - 12,Ederson,NaN,1.940000,0.790000,0.453845
Manchester Utd,2,29,16,9,4,56,32,24,57,45.6,34.1,11.5,0.40,W D D W W,NaN,Bruno Fernandes - 16,David de Gea,NaN,1.572414,1.175862,0.308553
Leicester City,3,29,17,5,7,53,32,21,56,44.1,34.5,9.5,0.33,W L D W W,NaN,Jamie Vardy - 12,Kasper Schmeichel,NaN,1.520690,1.189655,0.304326
Chelsea,4,29,14,9,6,44,25,19,51,46.1,24.5,21.6,0.75,D D W W D,143.0,Tammy Abraham Jorginho - 6,Edouard Mendy,NaN,1.589655,0.844828,0.429631
West Ham,5,28,14,6,8,42,32,10,48,38.1,32.1,6.0,0.21,W W L W L,143.0,Tomáš Souček - 8,Łukasz Fabiański,NaN,1.360714,1.146429,0.317770
Liverpool,6,29,13,7,9,48,36,12,46,51.8,35.6,16.2,0.56,L W L L W,400.0,Mohamed Salah - 17,Alisson,NaN,1.786207,1.227586,0.292999
Everton,7,28,14,4,10,40,37,3,46,33.5,38.8,-5.3,-0.19,W W W L L,143.0,Dominic Calvert-Lewin - 14,Jordan Pickford,NaN,1.196429,1.385714,0.250145
Tottenham,8,28,13,6,9,47,30,17,45,37.5,33.2,4.3,0.15,L W W W L,143.0,Harry Kane - 16,Hugo Lloris,NaN,1.339286,1.185714,0.305528
Aston Villa,9,27,12,5,10,39,28,11,41,39.5,34.4,5.1,0.19,L W L D D,NaN,Ollie Watkins - 10,Emiliano Martínez,NaN,1.462963,1.274074,0.279690
Arsenal,10,28,12,5,11,37,29,8,41,39.3,32.7,6.6,0.24,W L W D W,143.0,Alexandre Lacazette - 10,Bernd Leno,NaN,1.403571,1.167857,0.311033
Crystal Palace,11,29,10,7,12,31,47,-16,37,23.3,42.8,-19.5,-0.67,W D D L W,133.0,Wilfried Zaha - 9,Vicente Guaita,NaN,0.803448,1.475862,0.228582
Leeds United,12,28,11,3,14,43,46,-3,36,41.9,46.5,-4.6,-0.16,L W L L D,NaN,Patrick Bamford - 13,Illan Meslier,NaN,1.496429,1.660714,0.190003
Wolves,13,29,9,8,12,28,38,-10,35,30.0,33.9,-3.9,-0.14,W D L D L,NaN,Rúben Neves Pedro Neto - 5,Rui Patrício,NaN,1.034483,1.168966,0.310688
Southampton,14,29,9,6,14,36,51,-15,33,29.4,38.4,-9.0,-0.31,L L W L L,143.0,Danny Ings - 8,Alex McCarthy,NaN,1.013793,1.324138,0.266032
Burnley,15,29,8,9,12,22,37,-15,33,27.0,42.8,-15.8,-0.55,D L D D W,NaN,Chris Wood - 6,Nick Pope,NaN,0.931034,1.475862,0.228582
Brighton,16,28,6,11,11,29,36,-7,29,39.5,28.4,11.2,0.40,D L L L W,143.0,Neal Maupay - 7,Robert Sánchez,NaN,1.410714,1.014286,0.362661
Newcastle Utd,17,28,7,7,14,28,45,-17,28,26.3,38.7,-12.4,-0.44,L L D D D,NaN,Callum Wilson - 10,Karl Darlow,NaN,0.939286,1.382143,0.251040
Fulham,18,29,5,11,13,22,36,-14,26,31.5,38.5,-7.0,-0.24,W D L W L,133.0,Bobby Reid - 5,Alphonse Areola,NaN,1.086207,1.327586,0.265116
West Brom,19,29,3,9,17,20,57,-37,18,21.0,48.2,-27.2,-0.94,D W L D L,NaN,Matheus Pereira - 5,Sam Johnstone,NaN,0.724138,1.662069,0.189746
Sheffield Utd,20,29,4,2,23,16,50,-34,14,24.5,46.2,-21.7,-0.75,L L W L L,NaN,David McGoldrick - 6,Aaron Ramsdale,NaN,0.844828,1.593103,0.203294

In [5]:
# fetch FPL data
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players = pd.read_csv(filepath, index_col=0)
players.head()

,adjusted points,adjusted points per game,assists,assists_week1,assists_week10,assists_week11,assists_week12,assists_week13,assists_week14,assists_week15,assists_week16,assists_week17,assists_week18,assists_week19,assists_week2,assists_week20,assists_week21,assists_week22,assists_week23,assists_week24,assists_week25,assists_week26,assists_week27,assists_week28,assists_week3,assists_week4,assists_week5,assists_week6,assists_week7,assists_week8,assists_week9,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheet_points,clean_sheets,cleansheet_week1,cleansheet_week10,cleansheet_week11,cleansheet_week12,cleansheet_week13,cleansheet_week14,cleansheet_week15,cleansheet_week16,cleansheet_week17,cleansheet_week18,cleansheet_week19,cleansheet_week2,cleansheet_week20,...,xG_week17,xG_week18,xG_week19,xG_week2,xG_week20,xG_week21,xG_week22,xG_week23,xG_week24,xG_week25,xG_week26,xG_week27,xG_week28,xG_week3,xG_week4,xG_week5,xG_week6,xG_week7,xG_week8,xG_week9,xPoints,xPoints week 1,xPoints week 10,xPoints week 11,xPoints week 12,xPoints week 13,xPoints week 14,xPoints week 15,xPoints week 16,xPoints week 17,xPoints week 18,xPoints week 19,xPoints week 2,xPoints week 20,xPoints week 21,xPoints week 22,xPoints week 23,xPoints week 24,xPoints week 25,xPoints week 26,xPoints week 27,xPoints week 28,xPoints week 3,xPoints week 4,xPoints week 5,xPoints week 6,xPoints week 7,xPoints week 8,xPoints week 9,yellow_cards
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,49.055048,2.767208,0,NaN,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0,206,100.0,100.0,22.055048,3,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,NaN,0.0,0.4,0.0,0.0,0.1,0.0,NaN,0.0,0.0,0.1,0.0,0.0,0.0,0.0,0.1,0.0,NaN,NaN,NaN,3.986341,NaN,0.000000,NaN,NaN,1.000000,3.397316,NaN,NaN,NaN,2.471518,7.363273,1.00000,3.204777,3.586388,-3.000000,NaN,4.395247,1.000000,5.026123,2.807586,3.986341,1.199148,5.274923,3.586388,1.000000,NaN,NaN,NaN,1
4,105.826801,4.579044,1,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,1.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10,288,100.0,100.0,7.188312,7,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,...,0.8,0.1,1.4,0.1,NaN,NaN,0.1,0.1,1.9,0.0,0.1,0.8,NaN,0.0,0.0,0.0,0.3,0.9,0.0,0.3,NaN,3.818731,4.246597,3.606531,1.70657,7.132871,NaN,NaN,5.449329,6.67032,2.867879,11.740818,5.61799,NaN,NaN,1.500000,1.500000,15.348812,2.122456,1.500000,7.201897,NaN,2.049787,2.818731,3.746597,4.101194,7.540818,2.765299,3.282085,2
5,32.935801,3.646464,1,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,121,100.0,100.0,11.237311,2,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,0.0,...,NaN,NaN,0.0,NaN,0.0,0.1,0.0,0.0,0.1,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.986341,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,10.658585,NaN,3.804777,2.586388,1.986388,3.090127,4.095247,NaN,4.426123,NaN,3.986341,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [6]:
coefficients = pd.DataFrame(np.nan, index=teamStats.index, columns=['xG','xGA','coefficient'])

for ix in coefficients.index:
    coefficients.loc[ix, 'xG'] = teamStats.loc[ix, 'xG per game']
    coefficients.loc[ix, 'xGA'] = teamStats.loc[ix, 'xGA per game']
    coefficients.loc[ix, 'coefficient'] = 0.755489209043063 * coefficients.loc[ix, 'xG']

display(coefficients)

                       xG       xGA  coefficient
Squad
Manchester City  1.940000  0.790000     1.465649
Manchester Utd   1.572414  1.175862     1.187942
Leicester City   1.520690  1.189655     1.148865
Chelsea          1.589655  0.844828     1.200967
West Ham         1.360714  1.146429     1.028005
Liverpool        1.786207  1.227586     1.349460
Everton          1.196429  1.385714     0.903889
Tottenham        1.339286  1.185714     1.011816
Aston Villa      1.462963  1.274074     1.105253
Arsenal          1.403571  1.167857     1.060383
Crystal Palace   0.803448  1.475862     0.606997
Leeds United     1.496429  1.660714     1.130536
Wolves           1.034483  1.168966     0.781541
Southampton      1.013793  1.324138     0.765910
Burnley          0.931034  1.475862     0.703387
Brighton         1.410714  1.014286     1.065779
Newcastle Utd    0.939286  1.382143     0.709620
Fulham           1.086207  1.327586     0.820618
West Brom        0.724138  1.662069     0.547078
Sheffield Utd    0.844828  1.593103     0.638258

In [7]:
def points_for_clean_sheet(position):
    if position < 3:
        return 4
    elif position==3:
        return 1
    elif position==4:
        return 0

In [8]:
goalkeepers = players['element_type'] == 1
defenders = players['element_type'] == 2
midfielders = players['element_type'] == 3
forwards = players['element_type'] == 4

In [9]:
home_coefficient = 1.0721855628874228
away_coefficient = 0.9280143971205758

In [10]:
team_names = np.sort(teamStats.index)
# for some reason the fpl team numbers are not alphabetical with leeds and leicester...
if (team_names[8]=='Leeds United') & (team_names[9]=='Leicester City'):
    team_names[8] = 'Leicester City'
    team_names[9] = 'Leeds United'
    
# how many gameweeks ahead do you want to look at
for number_gameweeks in [1,5,10]:
    expectations = pd.DataFrame(0, index=teamStats.index, \
                columns=['games','total_xG','total_xGA','xG per game', 'xGA per game'])
    gameweeks = np.arange(latest_gameweek+1, latest_gameweek+number_gameweeks+1)
    games = fixtures[fixtures['event'].isin(gameweeks)]
    for ix in games.index:
        home_team_number = games.loc[ix,'team_h']
        home_team = team_names[home_team_number-1]
        away_team_number = games.loc[ix,'team_a']
        away_team = team_names[away_team_number-1]

        home_xG = home_coefficient * coefficients.loc[home_team,'coefficient'] * \
                                    coefficients.loc[away_team,'xGA']
        away_xG = away_coefficient * coefficients.loc[away_team,'coefficient'] * \
                                    coefficients.loc[home_team,'xGA']
        expectations.loc[home_team,'total_xG'] += home_xG
        expectations.loc[home_team,'total_xGA'] += away_xG
        expectations.loc[home_team,'games'] += 1
        expectations.loc[away_team,'total_xG'] += away_xG
        expectations.loc[away_team,'total_xGA'] += home_xG
        expectations.loc[away_team,'games'] += 1

    expectations['xG per game'] = expectations['total_xG'] / expectations['games']
    expectations['xGA per game'] = expectations['total_xGA'] / expectations['games']
    print('expectations:')
    display(expectations)

    new_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    coefficients[new_column] = expectations['xG per game'] / coefficients['xG']
    print('coefficients:')
    display(coefficients)
    
    new_column = 'next' + str(number_gameweeks) + '_xP'
    multiplier_xG_xA_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    for ix in players.index:
        team = players.loc[ix,'team_name']
        position = players.loc[ix, 'element_type']

        # adjust xP based on xg and xa for the next game
        xg_points_per_game = players.loc[ix,'xG_points'] / players.loc[ix,'games played']
        xa_points_per_game = players.loc[ix,'xA_points'] / players.loc[ix,'games played']
        xpoints = xg_points_per_game + xa_points_per_game
        players.loc[ix, new_column] = players.loc[ix, 'adjusted points per game'] - \
                            xpoints + coefficients.loc[team, multiplier_xG_xA_column]*xpoints    

        # adjust xP based on probability to keep a clean sheet for the next game
        clean_sheet_points_per_game = players.loc[ix,'clean_sheet_points'] / \
                                        players.loc[ix,'games played']
        probability_clean_sheet_next = poisson.pmf(0, expectations.loc[team, 'xGA per game'])
        players.loc[ix, new_column] = players.loc[ix, new_column] - clean_sheet_points_per_game \
                + points_for_clean_sheet(position) * probability_clean_sheet_next

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      0  0.000000   0.000000          NaN           NaN
Manchester Utd       0  0.000000   0.000000          NaN           NaN
Leicester City       0  0.000000   0.000000          NaN           NaN
Chelsea              0  0.000000   0.000000          NaN           NaN
West Ham             1  1.287226   1.128144     1.287226      1.128144
Liverpool            0  0.000000   0.000000          NaN           NaN
Everton              0  0.000000   0.000000          NaN           NaN
Tottenham            1  1.196330   1.405114     1.196330      1.405114
Aston Villa          1  1.405114   1.196330     1.405114      1.196330
Arsenal              1  1.128144   1.287226     1.128144      1.287226
Crystal Palace       0  0.000000   0.000000          NaN           NaN
Leeds United         1  1.392842   1.461187     1.392842      1.461187
Wolves               0  0.000000   0.000000          NaN           NaN
Southampton          0  0.000000   0.000000          NaN           NaN
Burnley              0  0.000000   0.000000          NaN           NaN
Brighton             1  1.579393   0.667945     1.579393      0.667945
Newcastle Utd        1  0.667945   1.579393     0.667945      1.579393
Fulham               1  1.461187   1.392842     1.461187      1.392842
West Brom            0  0.000000   0.000000          NaN           NaN
Sheffield Utd        0  0.000000   0.000000          NaN           NaN

coefficients:

                       xG       xGA  coefficient  next1_xG_xA_multiplier
Squad
Manchester City  1.940000  0.790000     1.465649                     NaN
Manchester Utd   1.572414  1.175862     1.187942                     NaN
Leicester City   1.520690  1.189655     1.148865                     NaN
Chelsea          1.589655  0.844828     1.200967                     NaN
West Ham         1.360714  1.146429     1.028005                0.945993
Liverpool        1.786207  1.227586     1.349460                     NaN
Everton          1.196429  1.385714     0.903889                     NaN
Tottenham        1.339286  1.185714     1.011816                0.893260
Aston Villa      1.462963  1.274074     1.105253                0.960458
Arsenal          1.403571  1.167857     1.060383                0.803767
Crystal Palace   0.803448  1.475862     0.606997                     NaN
Leeds United     1.496429  1.660714     1.130536                0.930777
Wolves           1.034483  1.168966     0.781541                     NaN
Southampton      1.013793  1.324138     0.765910                     NaN
Burnley          0.931034  1.475862     0.703387                     NaN
Brighton         1.410714  1.014286     1.065779                1.119570
Newcastle Utd    0.939286  1.382143     0.709620                0.711121
Fulham           1.086207  1.327586     0.820618                1.345219
West Brom        0.724138  1.662069     0.547078                     NaN
Sheffield Utd    0.844828  1.593103     0.638258                     NaN

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      3  5.960751   2.738128     1.986917      0.912709
Manchester Utd       4  6.309666   4.631497     1.577416      1.157874
Leicester City       4  6.060690   4.203472     1.515172      1.050868
Chelsea              4  6.368817   2.745504     1.592204      0.686376
West Ham             5  5.963424   5.461047     1.192685      1.092209
Liverpool            4  7.385477   4.951223     1.846369      1.237806
Everton              4  4.409860   5.240663     1.102465      1.310166
Tottenham            4  5.070931   4.763541     1.267733      1.190885
Aston Villa          5  7.143265   6.389783     1.428653      1.277957
Arsenal              5  7.176341   5.417956     1.435268      1.083591
Crystal Palace       4  2.746423   6.105117     0.686606      1.526279
Leeds United         5  7.066069   8.965134     1.413214      1.793027
Wolves               4  4.495190   3.599155     1.123797      0.899789
Southampton          3  3.605306   2.386923     1.201769      0.795641
Burnley              4  3.437286   5.300390     0.859321      1.325097
Brighton             5  6.737121   4.810802     1.347424      0.962160
Newcastle Utd        5  4.222666   7.237907     0.844533      1.447581
Fulham               4  4.349346   5.438321     1.087337      1.359580
West Brom            4  2.456442   7.338479     0.614111      1.834620
Sheffield Utd        4  3.169364   6.409390     0.792341      1.602347

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier
Squad,,,,,
Manchester City,1.940000,0.790000,1.465649,NaN,1.024184
Manchester Utd,1.572414,1.175862,1.187942,NaN,1.003181
Leicester City,1.520690,1.189655,1.148865,NaN,0.996372
Chelsea,1.589655,0.844828,1.200967,NaN,1.001603
West Ham,1.360714,1.146429,1.028005,0.945993,0.876514
Liverpool,1.786207,1.227586,1.349460,NaN,1.033682
Everton,1.196429,1.385714,0.903889,NaN,0.921463
Tottenham,1.339286,1.185714,1.011816,0.893260,0.946574
Aston Villa,1.462963,1.274074,1.105253,0.960458,0.976548
Arsenal,1.403571,1.167857,1.060383,0.803767,1.022583
Crystal Palace,0.803448,1.475862,0.606997,NaN,0.854574
Leeds United,1.496429,1.660714,1.130536,0.930777,0.944391
Wolves,1.034483,1.168966,0.781541,NaN,1.086338
Southampton,1.013793,1.324138,0.765910,NaN,1.185418
Burnley,0.931034,1.475862,0.703387,NaN,0.922975
Brighton,1.410714,1.014286,1.065779,1.119570,0.955136
Newcastle Utd,0.939286,1.382143,0.709620,0.711121,0.899123
Fulham,1.086207,1.327586,0.820618,1.345219,1.001040
West Brom,0.724138,1.662069,0.547078,NaN,0.848057
Sheffield Utd,0.844828,1.593103,0.638258,NaN,0.937873

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      8  14.732802   6.299218     1.841600      0.787402
Manchester Utd       9  13.772702  10.631943     1.530300      1.181327
Leicester City       9  12.789897  10.128037     1.421100      1.125337
Chelsea              9  13.414411   7.449709     1.490490      0.827745
West Ham            10  12.911485  10.084640     1.291148      1.008464
Liverpool            9  16.838959   9.724693     1.870995      1.080521
Everton              9   9.945753  12.192714     1.105084      1.354746
Tottenham            9  12.125997  10.439821     1.347333      1.159980
Aston Villa         10  13.689122  12.660451     1.368912      1.266045
Arsenal             10  13.862937  10.318369     1.386294      1.031837
Crystal Palace       9   6.438704  14.223964     0.715412      1.580440
Leeds United        10  14.519763  15.881590     1.451976      1.588159
Wolves               9   9.400913   9.130754     1.044546      1.014528
Southampton          8   8.723623   9.571622     1.090453      1.196453
Burnley              9   8.386609  12.413544     0.931845      1.379283
Brighton            10  13.158878  10.225246     1.315888      1.022525
Newcastle Utd       10   8.582094  14.215182     0.858209      1.421518
Fulham               9   9.411211  11.669801     1.045690      1.296645
West Brom            9   5.970703  16.115323     0.663411      1.790591
Sheffield Utd        9   7.531071  12.831014     0.836786      1.425668

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier,next10_xG_xA_multiplier
Squad,,,,,,
Manchester City,1.940000,0.790000,1.465649,NaN,1.024184,0.949278
Manchester Utd,1.572414,1.175862,1.187942,NaN,1.003181,0.973217
Leicester City,1.520690,1.189655,1.148865,NaN,0.996372,0.934510
Chelsea,1.589655,0.844828,1.200967,NaN,1.001603,0.937619
West Ham,1.360714,1.146429,1.028005,0.945993,0.876514,0.948876
Liverpool,1.786207,1.227586,1.349460,NaN,1.033682,1.047469
Everton,1.196429,1.385714,0.903889,NaN,0.921463,0.923652
Tottenham,1.339286,1.185714,1.011816,0.893260,0.946574,1.006009
Aston Villa,1.462963,1.274074,1.105253,0.960458,0.976548,0.935712
Arsenal,1.403571,1.167857,1.060383,0.803767,1.022583,0.987690
Crystal Palace,0.803448,1.475862,0.606997,NaN,0.854574,0.890426
Leeds United,1.496429,1.660714,1.130536,0.930777,0.944391,0.970294
Wolves,1.034483,1.168966,0.781541,NaN,1.086338,1.009728
Southampton,1.013793,1.324138,0.765910,NaN,1.185418,1.075617
Burnley,0.931034,1.475862,0.703387,NaN,0.922975,1.000871
Brighton,1.410714,1.014286,1.065779,1.119570,0.955136,0.932781
Newcastle Utd,0.939286,1.382143,0.709620,0.711121,0.899123,0.913683
Fulham,1.086207,1.327586,0.820618,1.345219,1.001040,0.962699
West Brom,0.724138,1.662069,0.547078,NaN,0.848057,0.916140
Sheffield Utd,0.844828,1.593103,0.638258,NaN,0.937873,0.990481

In [11]:
metric = 'next1_xP'
#minGames = players['games played'] >= 3

numberToShow = 50
display(players.sort_values(by=[metric], ascending=False)[['web_name','team_name',\
         'now_cost','games played','total_points','adjusted points','points_per_game',\
         'adjusted points per game','next1_xP','next5_xP','next10_xP']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,next1_xP,next5_xP,next10_xP
id,,,,,,,,,,,
388,Kane,Tottenham,115,25.915493,184,164.440363,7.1,6.345253,6.044334,6.194636,6.362193
39,Hause,Aston Villa,44,4.000000,28,21.075037,7.0,5.268759,5.293962,5.225728,5.171703
665,Maja,Fulham,55,7.058824,24,31.800000,3.4,4.505000,5.277716,4.507328,4.421508
390,Son,Tottenham,95,27.968750,179,153.231637,6.4,5.478673,5.183774,5.359619,5.499850
37,Grealish,Aston Villa,75,21.864407,129,111.997125,5.9,5.122349,5.063035,5.072675,4.991408
301,Lingard,West Ham,61,6.027397,44,30.732303,7.3,5.098768,4.995138,4.866116,5.042127
202,Bamford,Leeds United,67,27.884615,145,138.507915,5.2,4.967180,4.810487,4.841303,4.899938
12,Martínez,Aston Villa,54,27.142857,152,126.966323,5.6,4.677707,4.767280,4.672853,4.685304
75,Bernardo,Brighton,39,2.941176,5,11.666604,1.7,3.966646,4.664613,4.007657,3.899892
326,Dubravka,Newcastle Utd,48,3.000000,15,14.012480,5.0,4.670827,4.491067,4.607220,4.632056
435,Cresswell,West Ham,59,28.125000,135,126.133978,4.8,4.484764,4.474806,4.479186,4.641172
597,Sánchez,Brighton,45,17.105263,65,65.813673,3.8,3.847569,4.447967,3.925189,3.835666
62,Dunk,Brighton,50,25.000000,95,94.266138,3.8,3.770646,4.442786,3.821348,3.718412
514,Watkins,Aston Villa,66,26.818182,118,120.530937,4.4,4.494374,4.412188,4.445630,4.360755
506,Wilson,Newcastle Utd,65,21.090909,116,103.670937,5.5,4.915432,4.355504,4.719905,4.748126
67,Veltman,Brighton,44,21.666667,65,79.730653,3.0,3.679876,4.331598,3.738240,3.639121
437,Antonio,West Ham,66,19.069767,82,84.295468,4.3,4.420372,4.315869,4.181426,4.321446
69,Trossard,Brighton,57,25.135135,93,98.807990,3.7,3.931071,4.227212,3.895679,3.845994
68,Maupay,Brighton,61,26.176471,89,104.676979,3.4,3.998896,4.218517,3.916491,3.875431
570,Raphinha,Leeds United,56,23.023256,99,98.765429,4.3,4.289812,4.209699,4.168201,4.251726
33,Hourihane,Aston Villa,59,4.000000,20,16.817249,5.0,4.204312,4.178485,4.174499,4.127814
4,Aubameyang,Arsenal,115,23.111111,104,105.826801,4.5,4.579044,4.129353,4.654113,4.598349
57,Groß,Brighton,58,24.375000,78,92.892318,3.2,3.810967,4.123240,3.769523,3.716822
557,Lookman,Fulham,51,25.714286,90,94.732748,3.5,3.684051,4.117316,3.677059,3.643759
213,Meslier,Leeds United,46,27.111111,122,106.904793,4.5,3.943210,4.110274,3.848404,4.000074
431,Fabianski,West Ham,50,25.714286,108,104.684877,4.2,4.071079,4.094534,4.141898,4.259115
77,Lamptey,Brighton,46,10.937500,35,37.161904,3.2,3.397660,4.073490,3.446978,3.343352
558,Coufal,West Ham,46,23.947368,91,94.732944,3.8,3.955881,3.947537,3.953993,4.113816
24,Saka,Arsenal,53,24.102564,94,104.090644,3.9,4.318654,3.938453,4.385726,4.342319
66,Webster,Brighton,43,21.785714,61,71.203349,2.8,3.268350,3.904973,3.332380,3.236084
45,El Ghazi,Aston Villa,53,17.000000,68,66.894727,4.0,3.934984,3.892142,3.895080,3.830823
449,Soucek,West Ham,53,27.857143,117,108.950644,4.2,3.911049,3.848476,3.772274,3.893274
74,White,Brighton,44,26.785714,75,85.756577,2.8,3.201579,3.819387,3.272667,3.179889
576,Dawson,West Ham,45,12.941176,66,49.449252,5.1,3.821079,3.806974,3.806019,3.973561
442,Masuaku,West Ham,43,10.000000,37,38.109275,3.7,3.810927,3.798738,3.800246,3.965222
383,Lloris,Tottenham,56,28.250000,113,111.524649,4.0,3.947775,3.707020,3.941472,3.979633
543,Bale,Tottenham,96,12.083333,58,46.988774,4.8,3.888726,3.672181,3.808890,3.905492
8,Leno,Arsenal,50,27.297297,101,102.961411,3.7,3.771854,3.631864,3.881235,3.953130
11,Bellerín,Arsenal,51,21.842105,83,84.069906,3.8,3.848984,3.614660,3.969222,4.024342
203,Harrison,Leeds United,54,26.666667,104,97.560710,3.9,3.658527,3.608851,3.561367,3.633502
516,Areola,Fulham,46,27.948718,109,102.638657,3.9,3.672392,3.605401,3.639001,3.705718
61,Burn,Brighton,42,20.526316,39,60.576408,1.9,2.951158,3.596993,3.011731,2.913713
389,Aurier,Tottenham,52,13.863636,61,54.241398,4.4,3.912494,3.590896,3.865727,3.948903
450,Fornals,West Ham,59,24.285714,85,87.208199,3.5,3.590926,3.539638,3.477953,3.583833
65,March,Brighton,50,20.909091,69,68.779899,3.3,3.289473,3.517345,3.279698,3.242776
17,Tierney,Arsenal,52,21.111111,76,79.160454,3.6,3.749706,3.484230,3.873529,3.923110
6,Lacazette,Arsenal,81,23.902439,98,89.856979,4.1,3.759323,3.461637,3.793581,3.740649
588,Welbeck,Brighton,55,15.172414,44,49.815468,2.9,3.283292,3.444217,3.222911,3.192825
572,Adarabioyo,Fulham,45,25.000000,90,85.210132,3.6,3.408405,3.436694,3.375301,3.431436
542,Reguilón,Tottenham,55,17.105263,65,63.898496,3.8,3.735604,3.427455,3.695569,3.771256

In [12]:
# save predictions
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players.to_csv(filepath)