In [1]:
# recent gameweek
latest_gameweek = 36

In [2]:
import pandas as pd
import numpy as np
import json
import requests
from scipy.stats import poisson

# allow more data columns to be shown than by default
pd.set_option('max_columns',100)

In [3]:
# fetch FPL fixtures online
fixtures_text = json.loads(requests.get('https://fantasy.premierleague.com/api/fixtures').text)
fixtures = pd.DataFrame(fixtures_text)
fixtures.head(20)

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,pulse_id,started,stats,team_a,team_a_difficulty,team_a_score,team_h,team_h_difficulty,team_h_score
0,2128288,1,True,True,2,2020-09-12T11:30:00Z,90,False,58898,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",1,2,3.0,8,3,0.0
1,2128287,1,True,True,1,2020-09-12T14:00:00Z,90,False,58897,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",16,3,0.0,6,2,1.0
2,2128289,1,True,True,3,2020-09-12T16:30:00Z,90,False,58899,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",10,3,3.0,11,3,4.0
3,2128293,1,True,True,6,2020-09-12T19:00:00Z,90,False,58903,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",14,4,2.0,19,2,0.0
4,2128292,1,True,True,5,2020-09-13T13:00:00Z,90,False,58902,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",9,2,3.0,18,4,0.0
5,2128291,1,True,True,4,2020-09-13T15:30:00Z,90,False,58901,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",7,4,1.0,17,4,0.0
6,2128295,1,True,True,8,2020-09-14T17:00:00Z,90,False,58905,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",20,2,2.0,15,2,0.0
7,2128294,1,True,True,7,2020-09-14T19:15:00Z,90,False,58904,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,3,3.0,3,4,1.0
8,2128299,2,True,True,12,2020-09-19T11:30:00Z,90,False,58909,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",18,3,2.0,7,2,5.0
9,2128300,2,True,True,13,2020-09-19T14:00:00Z,90,False,58910,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",8,3,3.0,10,2,4.0
10,2128302,2,True,True,15,2020-09-19T16:30:00Z,90,False,58912,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",6,4,3.0,13,2,1.0
11,2128296,2,True,True,9,2020-09-19T19:00:00Z,90,False,58906,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",19,4,1.0,1,4,2.0
12,2128304,2,True,True,17,2020-09-20T11:00:00Z,90,False,58914,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",17,2,5.0,16,3,2.0
13,2128303,2,True,True,16,2020-09-20T13:00:00Z,90,False,58913,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,2,3.0,14,3,0.0
14,2128298,2,True,True,11,2020-09-20T15:30:00Z,90,False,58908,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",11,4,2.0,5,4,0.0
15,2128301,2,True,True,14,2020-09-20T18:00:00Z,90,False,58911,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,4,2.0,9,2,4.0
16,2128297,2,True,True,10,2020-09-21T17:00:00Z,90,False,58907,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",15,3,0.0,2,2,1.0
17,2128305,2,True,True,18,2020-09-21T19:15:00Z,90,False,58915,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",12,3,3.0,20,4,1.0
18,2128306,3,True,True,19,2020-09-26T11:30:00Z,90,False,58916,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",13,3,3.0,3,4,2.0
19,2128308,3,True,True,21,2020-09-26T14:00:00Z,90,False,58918,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",7,3,2.0,6,4,1.0

In [4]:
filepath = '../data/fbref/team_stats_week' + str(latest_gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col='Squad')
display(teamStats)

,Rk,MP,W,D,L,GF,GA,GD,Pts,xG,xGA,xGD,xGD/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes,xG per game,xGA per game,probability no goals allowed
Squad,,,,,,,,,,,,,,,,,,,,,
Manchester City,1,36,26,5,5,76,29,47,83,69.7,28.7,41.0,1.14,L W W L W,NaN,İlkay Gündoğan - 12,Ederson,NaN,1.936111,0.797222,0.450579
Manchester Utd,2,36,20,10,6,70,42,28,70,57.4,40.6,16.8,0.47,W D W L L,NaN,Bruno Fernandes - 18,David de Gea,NaN,1.594444,1.127778,0.323752
Leicester City,3,36,20,6,10,65,44,21,66,53.3,43.0,10.3,0.29,W W D L W,NaN,Jamie Vardy - 13,Kasper Schmeichel,NaN,1.480556,1.194444,0.302872
Chelsea,4,36,18,10,8,55,33,22,64,58.8,31.0,27.9,0.77,D W W W L,111.0,Timo Werner Mason Mount... - 6,Edouard Mendy,NaN,1.633333,0.861111,0.422692
Liverpool,5,36,18,9,9,63,42,21,63,67.9,43.9,24.0,0.67,D D W W W,333.0,Mohamed Salah - 22,Alisson,NaN,1.886111,1.219444,0.295394
Tottenham,6,36,17,8,11,63,41,22,59,51.6,45.7,5.9,0.16,D W W L W,111.0,Harry Kane - 22,Hugo Lloris,NaN,1.433333,1.269444,0.280988
West Ham,7,36,17,8,11,56,46,10,59,48.7,45.7,3.0,0.08,L L W L D,111.0,Tomáš Souček Michail Antonio... - 9,Łukasz Fabiański,NaN,1.352778,1.269444,0.280988
Everton,8,36,16,8,12,46,43,3,56,45.2,48.1,-3.0,-0.08,W L W D L,111.0,Dominic Calvert-Lewin - 16,Jordan Pickford,NaN,1.255556,1.336111,0.262866
Arsenal,9,36,16,7,13,50,38,12,55,51.1,42.9,8.2,0.23,D L W W W,111.0,Alexandre Lacazette - 13,Bernd Leno,NaN,1.419444,1.191667,0.303715
Leeds United,10,36,16,5,15,57,53,4,53,54.2,60.0,-5.8,-0.16,D D L W W,NaN,Patrick Bamford - 15,Illan Meslier,NaN,1.505556,1.666667,0.188876
Aston Villa,11,36,14,7,15,51,44,7,49,50.0,49.3,0.7,0.02,D W L D L,NaN,Ollie Watkins - 13,Emiliano Martínez,NaN,1.388889,1.369444,0.254248
Wolves,12,36,12,9,15,35,49,-14,45,38.5,43.5,-5.0,-0.14,W L D W L,NaN,Rúben Neves Pedro Neto - 5,Rui Patrício,NaN,1.069444,1.208333,0.298695
Crystal Palace,13,36,12,8,16,40,61,-21,44,30.7,54.5,-23.8,-0.66,L L W L W,111.0,Wilfried Zaha - 11,Vicente Guaita,NaN,0.852778,1.513889,0.220053
Southampton,14,36,12,7,17,47,63,-16,43,39.8,51.3,-11.5,-0.32,L D L W W,111.0,Danny Ings - 12,Alex McCarthy,NaN,1.105556,1.425000,0.240508
Burnley,15,36,10,9,17,33,51,-18,39,38.2,54.2,-15.9,-0.44,L W L W L,NaN,Chris Wood - 12,Nick Pope,NaN,1.061111,1.505556,0.221894
Newcastle Utd,16,36,10,9,17,43,62,-19,39,38.4,52.3,-13.9,-0.39,W D L W L,NaN,Callum Wilson - 12,Karl Darlow,NaN,1.066667,1.452778,0.233920
Brighton,17,36,8,14,14,37,42,-5,38,49.8,35.5,14.2,0.40,D L W L D,111.0,Neal Maupay - 8,Robert Sánchez,NaN,1.383333,0.986111,0.373025
Fulham,18,36,5,12,19,26,50,-24,27,38.8,50.6,-11.8,-0.33,L D L L L,111.0,Bobby Reid - 5,Alphonse Areola,NaN,1.077778,1.405556,0.245231
West Brom,19,36,5,11,20,33,70,-37,26,30.9,62.1,-31.2,-0.87,L D D L L,NaN,Matheus Pereira - 10,Sam Johnstone,NaN,0.858333,1.725000,0.178173
Sheffield Utd,20,36,6,2,28,19,62,-43,20,30.0,60.0,-30.0,-0.83,L W L L W,NaN,David McGoldrick - 7,Aaron Ramsdale,NaN,0.833333,1.666667,0.188876

In [5]:
# fetch FPL data
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players = pd.read_csv(filepath, index_col=0)
players.head()

,adjusted points,adjusted points per game,assists,assists_week1,assists_week10,assists_week11,assists_week12,assists_week13,assists_week14,assists_week15,assists_week16,assists_week17,assists_week18,assists_week19,assists_week2,assists_week20,assists_week21,assists_week22,assists_week23,assists_week24,assists_week25,assists_week26,assists_week27,assists_week28,assists_week29,assists_week3,assists_week30,assists_week31,assists_week32,assists_week33,assists_week34,assists_week35,assists_week36,assists_week4,assists_week5,assists_week6,assists_week7,assists_week8,assists_week9,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheet_points,clean_sheets,cleansheet_week1,cleansheet_week10,cleansheet_week11,cleansheet_week12,cleansheet_week13,...,xG_week31,xG_week32,xG_week33,xG_week34,xG_week35,xG_week36,xG_week4,xG_week5,xG_week6,xG_week7,xG_week8,xG_week9,xPoints,xPoints week 1,xPoints week 10,xPoints week 11,xPoints week 12,xPoints week 13,xPoints week 14,xPoints week 15,xPoints week 16,xPoints week 17,xPoints week 18,xPoints week 19,xPoints week 2,xPoints week 20,xPoints week 21,xPoints week 22,xPoints week 23,xPoints week 24,xPoints week 25,xPoints week 26,xPoints week 27,xPoints week 28,xPoints week 29,xPoints week 3,xPoints week 30,xPoints week 31,xPoints week 32,xPoints week 33,xPoints week 34,xPoints week 35,xPoints week 36,xPoints week 4,xPoints week 5,xPoints week 6,xPoints week 7,xPoints week 8,xPoints week 9,yellow_cards
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,54.504601,2.658761,0,NaN,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,0.0,0.0,0.0,NaN,NaN,NaN,0,230,0.0,75.0,24.904601,3,NaN,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.1,NaN,NaN,0.0,0.1,0.0,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,1.000000,3.397316,NaN,NaN,NaN,2.471518,7.363273,1.00000,3.204777,3.586388,-3.000000,NaN,4.395247,1.000000,5.026123,2.807586,3.986341,1.401035,1.199148,NaN,NaN,NaN,NaN,1.6000,NaN,NaN,5.274923,3.586388,1.000000,NaN,NaN,NaN,1
4,126.305125,4.711382,3,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,1.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,NaN,NaN,NaN,1.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,11,350,100.0,100.0,8.142137,9,1.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,1.2,0.0,NaN,0.0,0.0,0.3,0.9,0.0,0.3,NaN,3.818731,4.246597,3.606531,1.70657,7.132871,NaN,NaN,5.449329,6.67032,2.867879,11.740818,5.61799,NaN,NaN,1.500000,1.500000,15.348812,2.122456,1.500000,7.201897,NaN,2.100259,2.049787,3.010803,NaN,NaN,NaN,10.5184,4.62884,NaN,2.818731,3.746597,4.101194,7.540818,2.765299,3.282085,2
5,33.822915,3.382292,1,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,0.0,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,125,100.0,100.0,12.148586,2,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,10.658585,NaN,3.804777,2.586388,1.986388,3.090127,4.095247,NaN,4.426123,NaN,3.986341,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [6]:
coefficients = pd.DataFrame(np.nan, index=teamStats.index, columns=['xG','xGA','coefficient'])

for ix in coefficients.index:
    coefficients.loc[ix, 'xG'] = teamStats.loc[ix, 'xG per game']
    coefficients.loc[ix, 'xGA'] = teamStats.loc[ix, 'xGA per game']
    coefficients.loc[ix, 'coefficient'] = 0.755489209043063 * coefficients.loc[ix, 'xG']

display(coefficients)

                       xG       xGA  coefficient
Squad
Manchester City  1.936111  0.797222     1.462711
Manchester Utd   1.594444  1.127778     1.204586
Leicester City   1.480556  1.194444     1.118544
Chelsea          1.633333  0.861111     1.233966
Liverpool        1.886111  1.219444     1.424937
Tottenham        1.433333  1.269444     1.082868
West Ham         1.352778  1.269444     1.022009
Everton          1.255556  1.336111     0.948559
Arsenal          1.419444  1.191667     1.072375
Leeds United     1.505556  1.666667     1.137431
Aston Villa      1.388889  1.369444     1.049291
Wolves           1.069444  1.208333     0.807954
Crystal Palace   0.852778  1.513889     0.644264
Southampton      1.105556  1.425000     0.835235
Burnley          1.061111  1.505556     0.801658
Newcastle Utd    1.066667  1.452778     0.805855
Brighton         1.383333  0.986111     1.045093
Fulham           1.077778  1.405556     0.814249
West Brom        0.858333  1.725000     0.648462
Sheffield Utd    0.833333  1.666667     0.629574

In [7]:
def points_for_clean_sheet(position):
    if position < 3:
        return 4
    elif position==3:
        return 1
    elif position==4:
        return 0

In [8]:
goalkeepers = players['element_type'] == 1
defenders = players['element_type'] == 2
midfielders = players['element_type'] == 3
forwards = players['element_type'] == 4

In [9]:
home_coefficient = 1.0721855628874228
away_coefficient = 0.9280143971205758

In [10]:
team_names = np.sort(teamStats.index)
# for some reason the fpl team numbers are not alphabetical with leeds and leicester...
if (team_names[8]=='Leeds United') & (team_names[9]=='Leicester City'):
    team_names[8] = 'Leicester City'
    team_names[9] = 'Leeds United'
    
# how many gameweeks ahead do you want to look at
for number_gameweeks in [1,5,10]:
    expectations = pd.DataFrame(0, index=teamStats.index, \
                columns=['games','total_xG','total_xGA','xG per game', 'xGA per game'])
    gameweeks = np.arange(latest_gameweek+1, latest_gameweek+number_gameweeks+1)
    games = fixtures[fixtures['event'].isin(gameweeks)]
    for ix in games.index:
        home_team_number = games.loc[ix,'team_h']
        home_team = team_names[home_team_number-1]
        away_team_number = games.loc[ix,'team_a']
        away_team = team_names[away_team_number-1]

        home_xG = home_coefficient * coefficients.loc[home_team,'coefficient'] * \
                                    coefficients.loc[away_team,'xGA']
        away_xG = away_coefficient * coefficients.loc[away_team,'coefficient'] * \
                                    coefficients.loc[home_team,'xGA']
        expectations.loc[home_team,'total_xG'] += home_xG
        expectations.loc[home_team,'total_xGA'] += away_xG
        expectations.loc[home_team,'games'] += 1
        expectations.loc[away_team,'total_xG'] += away_xG
        expectations.loc[away_team,'total_xGA'] += home_xG
        expectations.loc[away_team,'games'] += 1

    expectations['xG per game'] = expectations['total_xG'] / expectations['games']
    expectations['xGA per game'] = expectations['total_xGA'] / expectations['games']
    print('expectations:')
    display(expectations)

    new_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    coefficients[new_column] = expectations['xG per game'] / coefficients['xG']
    print('coefficients:')
    display(coefficients)
    
    new_column = 'next' + str(number_gameweeks) + '_xP'
    multiplier_xG_xA_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    for ix in players.index:
        team = players.loc[ix,'team_name']
        position = players.loc[ix, 'element_type']

        # adjust xP based on xg and xa for the next game
        xg_points_per_game = players.loc[ix,'xG_points'] / players.loc[ix,'games played']
        xa_points_per_game = players.loc[ix,'xA_points'] / players.loc[ix,'games played']
        xpoints = xg_points_per_game + xa_points_per_game
        players.loc[ix, new_column] = players.loc[ix, 'adjusted points per game'] - \
                            xpoints + coefficients.loc[team, multiplier_xG_xA_column]*xpoints    

        # adjust xP based on probability to keep a clean sheet for the next game
        clean_sheet_points_per_game = players.loc[ix,'clean_sheet_points'] / \
                                        players.loc[ix,'games played']
        probability_clean_sheet_next = poisson.pmf(0, expectations.loc[team, 'xGA per game'])
        players.loc[ix, new_column] = players.loc[ix, new_column] - clean_sheet_points_per_game \
                + points_for_clean_sheet(position) * probability_clean_sheet_next

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      1  1.338564   0.893315     1.338564      0.893315
Manchester Utd       1  1.815330   0.852189     1.815330      0.852189
Leicester City       1  0.893855   1.580298     0.893855      1.580298
Chelsea              1  1.580298   0.893855     1.580298      0.893855
Liverpool            1  1.990889   1.048144     1.990889      1.048144
Tottenham            1  1.589973   1.236130     1.589973      1.236130
West Ham             1  1.636057   0.882608     1.636057      0.882608
Everton              1  1.228912   1.001806     1.228912      1.001806
Arsenal              1  1.506591   0.823169     1.506591      0.823169
Leeds United         1  1.504162   1.492545     1.504162      1.492545
Aston Villa          1  1.236130   1.589973     1.236130      1.589973
Wolves               1  1.001806   1.228912     1.001806      1.228912
Crystal Palace       1  0.823169   1.506591     0.823169      1.506591
Southampton          1  1.492545   1.504162     1.492545      1.504162
Burnley              1  1.048144   1.990889     1.048144      1.990889
Newcastle Utd        1  1.440044   0.848791     1.440044      0.848791
Brighton             1  0.893315   1.338564     0.893315      1.338564
Fulham               1  0.852189   1.815330     0.852189      1.815330
West Brom            1  0.882608   1.636057     0.882608      1.636057
Sheffield Utd        1  0.848791   1.440044     0.848791      1.440044

coefficients:

                       xG       xGA  coefficient  next1_xG_xA_multiplier
Squad
Manchester City  1.936111  0.797222     1.462711                0.691367
Manchester Utd   1.594444  1.127778     1.204586                1.138535
Leicester City   1.480556  1.194444     1.118544                0.603729
Chelsea          1.633333  0.861111     1.233966                0.967529
Liverpool        1.886111  1.219444     1.424937                1.055552
Tottenham        1.433333  1.269444     1.082868                1.109284
West Ham         1.352778  1.269444     1.022009                1.209406
Everton          1.255556  1.336111     0.948559                0.978780
Arsenal          1.419444  1.191667     1.072375                1.061395
Leeds United     1.505556  1.666667     1.137431                0.999074
Aston Villa      1.388889  1.369444     1.049291                0.890014
Wolves           1.069444  1.208333     0.807954                0.936754
Crystal Palace   0.852778  1.513889     0.644264                0.965279
Southampton      1.105556  1.425000     0.835235                1.350041
Burnley          1.061111  1.505556     0.801658                0.987780
Newcastle Utd    1.066667  1.452778     0.805855                1.350041
Brighton         1.383333  0.986111     1.045093                0.645770
Fulham           1.077778  1.405556     0.814249                0.790690
West Brom        0.858333  1.725000     0.648462                1.028281
Sheffield Utd    0.833333  1.666667     0.629574                1.018550

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      2  3.433984   1.595090     1.716992      0.797545
Manchester Utd       2  3.166093   1.829156     1.583047      0.914578
Leicester City       2  2.416282   2.780616     1.208141      1.390308
Chelsea              2  3.148501   1.862634     1.574250      0.931317
Liverpool            2  4.303803   1.777234     2.151902      0.888617
Tottenham            2  2.790291   2.758558     1.395145      1.379279
West Ham             2  3.197549   1.866568     1.598774      0.933284
Everton              2  1.930688   3.097226     0.965344      1.548613
Arsenal              2  2.640407   1.978921     1.320203      0.989460
Leeds United         2  3.607864   2.495515     1.803932      1.247757
Aston Villa          2  2.204910   3.158176     1.102455      1.579088
Wolves               2  1.978774   2.579675     0.989387      1.289838
Crystal Palace       2  1.552258   3.819505     0.776129      1.909753
Southampton          2  2.476505   3.065653     1.238252      1.532827
Burnley              2  2.288061   3.007170     1.144031      1.503585
Newcastle Utd        2  2.491182   2.117105     1.245591      1.058552
Brighton             2  2.049067   2.472380     1.024533      1.236190
Fulham               2  2.120502   2.866468     1.060251      1.433234
West Brom            2  1.885578   3.739759     0.942789      1.869879
Sheffield Utd        2  1.865072   2.679961     0.932536      1.339980

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier
Squad,,,,,
Manchester City,1.936111,0.797222,1.462711,0.691367,0.886825
Manchester Utd,1.594444,1.127778,1.204586,1.138535,0.992851
Leicester City,1.480556,1.194444,1.118544,0.603729,0.816005
Chelsea,1.633333,0.861111,1.233966,0.967529,0.963827
Liverpool,1.886111,1.219444,1.424937,1.055552,1.140920
Tottenham,1.433333,1.269444,1.082868,1.109284,0.973357
West Ham,1.352778,1.269444,1.022009,1.209406,1.181845
Everton,1.255556,1.336111,0.948559,0.978780,0.768858
Arsenal,1.419444,1.191667,1.072375,1.061395,0.930085
Leeds United,1.505556,1.666667,1.137431,0.999074,1.198183
Aston Villa,1.388889,1.369444,1.049291,0.890014,0.793767
Wolves,1.069444,1.208333,0.807954,0.936754,0.925141
Crystal Palace,0.852778,1.513889,0.644264,0.965279,0.910119
Southampton,1.105556,1.425000,0.835235,1.350041,1.120027
Burnley,1.061111,1.505556,0.801658,0.987780,1.078144
Newcastle Utd,1.066667,1.452778,0.805855,1.350041,1.167741
Brighton,1.383333,0.986111,1.045093,0.645770,0.740626
Fulham,1.077778,1.405556,0.814249,0.790690,0.983738
West Brom,0.858333,1.725000,0.648462,1.028281,1.098395
Sheffield Utd,0.833333,1.666667,0.629574,1.018550,1.119043

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      2  3.433984   1.595090     1.716992      0.797545
Manchester Utd       2  3.166093   1.829156     1.583047      0.914578
Leicester City       2  2.416282   2.780616     1.208141      1.390308
Chelsea              2  3.148501   1.862634     1.574250      0.931317
Liverpool            2  4.303803   1.777234     2.151902      0.888617
Tottenham            2  2.790291   2.758558     1.395145      1.379279
West Ham             2  3.197549   1.866568     1.598774      0.933284
Everton              2  1.930688   3.097226     0.965344      1.548613
Arsenal              2  2.640407   1.978921     1.320203      0.989460
Leeds United         2  3.607864   2.495515     1.803932      1.247757
Aston Villa          2  2.204910   3.158176     1.102455      1.579088
Wolves               2  1.978774   2.579675     0.989387      1.289838
Crystal Palace       2  1.552258   3.819505     0.776129      1.909753
Southampton          2  2.476505   3.065653     1.238252      1.532827
Burnley              2  2.288061   3.007170     1.144031      1.503585
Newcastle Utd        2  2.491182   2.117105     1.245591      1.058552
Brighton             2  2.049067   2.472380     1.024533      1.236190
Fulham               2  2.120502   2.866468     1.060251      1.433234
West Brom            2  1.885578   3.739759     0.942789      1.869879
Sheffield Utd        2  1.865072   2.679961     0.932536      1.339980

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier,next10_xG_xA_multiplier
Squad,,,,,,
Manchester City,1.936111,0.797222,1.462711,0.691367,0.886825,0.886825
Manchester Utd,1.594444,1.127778,1.204586,1.138535,0.992851,0.992851
Leicester City,1.480556,1.194444,1.118544,0.603729,0.816005,0.816005
Chelsea,1.633333,0.861111,1.233966,0.967529,0.963827,0.963827
Liverpool,1.886111,1.219444,1.424937,1.055552,1.140920,1.140920
Tottenham,1.433333,1.269444,1.082868,1.109284,0.973357,0.973357
West Ham,1.352778,1.269444,1.022009,1.209406,1.181845,1.181845
Everton,1.255556,1.336111,0.948559,0.978780,0.768858,0.768858
Arsenal,1.419444,1.191667,1.072375,1.061395,0.930085,0.930085
Leeds United,1.505556,1.666667,1.137431,0.999074,1.198183,1.198183
Aston Villa,1.388889,1.369444,1.049291,0.890014,0.793767,0.793767
Wolves,1.069444,1.208333,0.807954,0.936754,0.925141,0.925141
Crystal Palace,0.852778,1.513889,0.644264,0.965279,0.910119,0.910119
Southampton,1.105556,1.425000,0.835235,1.350041,1.120027,1.120027
Burnley,1.061111,1.505556,0.801658,0.987780,1.078144,1.078144
Newcastle Utd,1.066667,1.452778,0.805855,1.350041,1.167741,1.167741
Brighton,1.383333,0.986111,1.045093,0.645770,0.740626,0.740626
Fulham,1.077778,1.405556,0.814249,0.790690,0.983738,0.983738
West Brom,0.858333,1.725000,0.648462,1.028281,1.098395,1.098395
Sheffield Utd,0.833333,1.666667,0.629574,1.018550,1.119043,1.119043

In [11]:
metric = 'next1_xP'
#minGames = players['games played'] >= 3

numberToShow = 50
display(players.sort_values(by=[metric], ascending=False)[['web_name','team_name',\
         'now_cost','games played','total_points','adjusted points','points_per_game',\
         'adjusted points per game','next1_xP','next5_xP','next10_xP']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,next1_xP,next5_xP,next10_xP
id,,,,,,,,,,,
608,Carson,Manchester City,39,1.000000,7,8.802315,7.0,8.802315,8.637187,8.801733,8.801733
388,Kane,Tottenham,118,32.857143,230,211.646278,7.0,6.441408,6.769288,6.361473,6.361473
302,Fernandes,Manchester Utd,114,35.820896,240,222.863361,6.7,6.221602,6.723449,6.277941,6.277941
254,Salah,Liverpool,128,35.238095,222,212.900775,6.3,6.041779,6.271363,6.599986,6.599986
390,Son,Tottenham,97,35.079365,221,186.720160,6.3,5.322792,5.569449,5.235751,5.235751
301,Lingard,West Ham,66,13.913043,96,69.446710,6.9,4.991482,5.522147,5.449329,5.449329
506,Wilson,Newcastle Utd,65,25.769231,134,122.525974,5.2,4.754739,5.432293,5.079427,5.079427
251,Mané,Liverpool,117,32.765957,154,171.222165,4.7,5.225612,5.424577,5.706149,5.706149
272,De Bruyne,Manchester City,118,24.150943,128,152.259524,5.3,6.304496,5.319333,5.958231,5.958231
699,Jebbison,Sheffield Utd,45,2.000000,8,10.400000,4.0,5.200000,5.259359,5.580939,5.580939
259,Alexander-Arnold,Liverpool,77,33.863636,149,167.107123,4.4,4.934707,5.220936,5.564066,5.564066
437,Antonio,West Ham,66,23.777778,107,109.671645,4.5,4.612359,5.050937,4.993215,4.993215
4,Aubameyang,Arsenal,113,26.808511,126,126.305125,4.7,4.711382,4.979166,4.628600,4.628600
435,Cresswell,West Ham,56,33.809524,142,139.643530,4.2,4.130302,4.796803,4.697181,4.697181
164,Calvert-Lewin,Everton,76,30.961538,161,149.645974,5.2,4.833286,4.788051,4.340566,4.340566
277,Cancelo,Manchester City,58,27.115385,141,139.667790,5.2,5.150869,4.681836,5.038846,5.038846
202,Bamford,Leeds United,65,35.918367,176,167.863291,4.9,4.673467,4.671557,5.082432,5.082432
112,Arrizabalaga,Chelsea,47,6.046512,26,28.223252,4.3,4.667692,4.613227,4.553061,4.553061
300,Shaw,Manchester Utd,55,30.750000,123,124.893130,4.0,4.061565,4.558979,4.364837,4.364837
468,Jota,Liverpool,69,18.085106,85,79.142236,4.7,4.376100,4.547404,4.786469,4.786469
37,Grealish,Aston Villa,75,23.818182,131,113.947678,5.5,4.784063,4.523176,4.341145,4.341145
306,Rashford,Manchester Utd,96,36.041667,173,150.486178,4.8,4.175339,4.498314,4.240908,4.240908
366,Ings,Southampton,84,27.234043,128,109.137316,4.7,4.007386,4.496317,4.175038,4.175038
558,Coufal,West Ham,48,32.222222,116,122.510823,3.6,3.802060,4.463545,4.364584,4.364584
570,Raphinha,Leeds United,55,27.777778,125,123.015506,4.5,4.428558,4.462790,4.889269,4.889269
326,Dubravka,Newcastle Utd,48,10.967742,34,40.262280,3.1,3.670973,4.447022,4.123125,4.123125
249,Firmino,Liverpool,90,33.684211,128,146.120303,3.8,4.337947,4.446300,4.612806,4.612806
232,Chilwell,Chelsea,59,25.200000,126,113.679015,5.0,4.511072,4.435733,4.373187,4.373187
11,Bellerín,Arsenal,50,24.736842,94,95.374753,3.8,3.855575,4.426652,4.093909,4.093909
377,Adams,Southampton,57,34.871795,136,136.220303,3.9,3.906318,4.426283,4.084611,4.084611
271,Gündogan,Manchester City,56,26.785714,150,136.606392,5.6,5.099972,4.419894,4.865582,4.865582
104,Alonso,Chelsea,56,12.954545,57,58.177468,4.4,4.490892,4.402589,4.338565,4.338565
560,Kelleher,Liverpool,45,2.000000,10,8.363154,5.0,4.181577,4.402351,4.644896,4.644896
24,Saka,Arsenal,51,30.000000,111,124.583085,3.7,4.152769,4.387553,4.107569,4.107569
224,Vardy,Leicester City,102,31.851852,172,171.780607,5.4,5.393112,4.361251,4.914003,4.914003
13,Chambers,Arsenal,45,7.931034,23,29.883744,2.9,3.767950,4.353369,3.989953,3.989953
120,Mount,Chelsea,73,34.047619,143,150.331965,4.2,4.415344,4.351641,4.330888,4.330888
273,Stones,Manchester City,51,20.166667,121,94.846693,6.0,4.703142,4.331408,4.626798,4.626798
276,Sterling,Manchester City,110,29.800000,149,151.941882,5.0,5.098721,4.329149,4.831513,4.831513
91,Wood,Burnley,65,31.162791,134,135.462987,4.3,4.346947,4.324932,4.487724,4.487724
255,Robertson,Liverpool,72,36.315789,138,146.755873,3.8,4.041104,4.300426,4.602209,4.602209
155,Digne,Everton,62,28.000000,112,108.909947,4.0,3.889641,4.292261,3.527373,3.527373
325,Darlow,Newcastle Utd,49,25.000000,80,87.391961,3.2,3.495678,4.271727,3.947831,3.947831
275,Mahrez,Manchester City,81,24.814815,134,120.327005,5.4,4.848999,4.266688,4.650459,4.650459
203,Harrison,Leeds United,55,33.777778,152,142.648760,4.5,4.223154,4.257590,4.640019,4.640019
514,Watkins,Aston Villa,64,34.888889,157,155.508961,4.5,4.457263,4.234888,4.040293,4.040293
102,Azpilicueta,Chelsea,58,23.750000,114,102.204414,4.8,4.303344,4.234523,4.172720,4.172720
8,Leno,Arsenal,50,32.702703,121,120.729160,3.7,3.691718,4.233012,3.963969,3.963969
548,Mendy,Chelsea,52,28.750000,138,122.609599,4.8,4.264682,4.210217,4.150051,4.150051
431,Fabianski,West Ham,50,34.444444,124,126.713859,3.6,3.678789,4.209649,4.127879,4.127879

In [12]:
# save predictions
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players.to_csv(filepath)