In [1]:
# recent gameweek
latest_gameweek = 26

In [2]:
import pandas as pd
import numpy as np
import json
import requests
from scipy.stats import poisson

# allow more data columns to be shown than by default
pd.set_option('max_columns',100)

In [3]:
# fetch FPL fixtures online
fixtures_text = json.loads(requests.get('https://fantasy.premierleague.com/api/fixtures').text)
fixtures = pd.DataFrame(fixtures_text)
fixtures.head(20)

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,pulse_id,started,stats,team_a,team_a_difficulty,team_a_score,team_h,team_h_difficulty,team_h_score
0,2128467,NaN,False,False,180,None,0,False,59077,None,[],7,3,NaN,2,4,NaN
1,2128573,NaN,False,False,286,None,0,False,59183,None,[],16,4,NaN,17,2,NaN
2,2128288,1.0,True,True,2,2020-09-12T11:30:00Z,90,False,58898,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",1,2,3.0,8,3,0.0
3,2128287,1.0,True,True,1,2020-09-12T14:00:00Z,90,False,58897,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",16,3,0.0,6,2,1.0
4,2128289,1.0,True,True,3,2020-09-12T16:30:00Z,90,False,58899,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",10,4,3.0,11,3,4.0
5,2128293,1.0,True,True,6,2020-09-12T19:00:00Z,90,False,58903,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",14,4,2.0,19,2,0.0
6,2128292,1.0,True,True,5,2020-09-13T13:00:00Z,90,False,58902,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",9,2,3.0,18,4,0.0
7,2128291,1.0,True,True,4,2020-09-13T15:30:00Z,90,False,58901,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",7,4,1.0,17,4,0.0
8,2128295,1.0,True,True,8,2020-09-14T17:00:00Z,90,False,58905,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",20,2,2.0,15,3,0.0
9,2128294,1.0,True,True,7,2020-09-14T19:15:00Z,90,False,58904,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,2,3.0,3,4,1.0
10,2128299,2.0,True,True,12,2020-09-19T11:30:00Z,90,False,58909,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",18,3,2.0,7,2,5.0
11,2128300,2.0,True,True,13,2020-09-19T14:00:00Z,90,False,58910,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",8,3,3.0,10,2,4.0
12,2128302,2.0,True,True,15,2020-09-19T16:30:00Z,90,False,58912,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",6,4,3.0,13,3,1.0
13,2128296,2.0,True,True,9,2020-09-19T19:00:00Z,90,False,58906,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",19,3,1.0,1,4,2.0
14,2128304,2.0,True,True,17,2020-09-20T11:00:00Z,90,False,58914,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",17,3,5.0,16,3,2.0
15,2128303,2.0,True,True,16,2020-09-20T13:00:00Z,90,False,58913,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,3,3.0,14,3,0.0
16,2128298,2.0,True,True,11,2020-09-20T15:30:00Z,90,False,58908,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",11,4,2.0,5,4,0.0
17,2128301,2.0,True,True,14,2020-09-20T18:00:00Z,90,False,58911,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,4,2.0,9,2,4.0
18,2128297,2.0,True,True,10,2020-09-21T17:00:00Z,90,False,58907,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",15,3,0.0,2,2,1.0
19,2128305,2.0,True,True,18,2020-09-21T19:15:00Z,90,False,58915,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",12,3,3.0,20,5,1.0

In [4]:
filepath = '../data/fbref/team_stats_week' + str(latest_gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col='Squad')
display(teamStats)

,Rk,MP,W,D,L,GF,GA,GD,Pts,xG,xGA,xGD,xGD/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes,xG per game,xGA per game,probability no goals allowed
Squad,,,,,,,,,,,,,,,,,,,,,
Manchester City,1,27,20,5,2,56,17,39,65,51.6,19.9,31.7,1.17,W W W W W,NaN,İlkay Gündoğan - 11,Ederson,NaN,1.911111,0.737037,0.478530
Manchester Utd,2,27,14,9,4,53,32,21,51,42.4,32.1,10.3,0.38,D D W D D,NaN,Bruno Fernandes - 15,David de Gea,NaN,1.570370,1.188889,0.304559
Leicester City,3,27,15,5,7,46,31,15,50,38.9,33.4,5.5,0.20,D W W L D,NaN,Jamie Vardy - 12,Kasper Schmeichel,NaN,1.440741,1.237037,0.290243
Chelsea,4,27,13,8,6,42,25,17,47,41.7,23.7,18.0,0.67,W W D D W,154.0,Tammy Abraham - 6,Edouard Mendy,NaN,1.544444,0.877778,0.415706
Everton,5,26,14,4,8,39,33,6,46,31.6,34.5,-2.9,-0.11,L L W W W,154.0,Dominic Calvert-Lewin - 13,Jordan Pickford,NaN,1.215385,1.326923,0.265292
West Ham,6,26,13,6,7,40,31,9,45,35.5,29.2,6.2,0.24,W D W W L,154.0,Tomáš Souček - 8,Łukasz Fabiański,NaN,1.365385,1.123077,0.325277
Liverpool,7,27,12,7,8,47,35,12,43,49.5,33.5,16.0,0.59,L L L W L,429.0,Mohamed Salah - 17,Alisson,NaN,1.833333,1.240741,0.289170
Tottenham,8,26,12,6,8,42,27,15,42,34.2,31.3,2.9,0.11,W L L W W,154.0,Harry Kane - 14,Hugo Lloris,NaN,1.315385,1.203846,0.300038
Aston Villa,9,25,12,3,10,38,27,11,39,38.2,31.7,6.5,0.26,W D L W L,NaN,Ollie Watkins - 10,Emiliano Martínez,NaN,1.528000,1.268000,0.281394
Arsenal,10,26,11,4,11,34,27,7,37,35.3,30.4,4.9,0.19,L L W L W,154.0,Alexandre Lacazette - 9,Bernd Leno,NaN,1.357692,1.169231,0.310606
Leeds United,11,26,11,2,13,43,44,-1,35,40.0,43.0,-2.9,-0.11,W L L W L,NaN,Patrick Bamford - 13,Illan Meslier,NaN,1.538462,1.653846,0.191313
Wolves,12,27,9,7,11,28,37,-9,34,27.4,32.1,-4.6,-0.17,D W W D L,NaN,Rúben Neves Pedro Neto - 5,Rui Patrício,NaN,1.014815,1.188889,0.304559
Crystal Palace,13,27,9,7,11,29,43,-14,34,21.7,39.3,-17.6,-0.65,L L W D D,143.0,Wilfried Zaha - 9,Vicente Guaita,NaN,0.803704,1.455556,0.233271
Southampton,14,26,8,6,12,31,44,-13,30,25.1,34.1,-9.1,-0.35,L L D L L,154.0,Danny Ings - 8,Alex McCarthy,NaN,0.965385,1.311538,0.269405
Burnley,15,27,7,8,12,19,35,-16,29,24.0,38.9,-14.9,-0.55,W D D L D,NaN,Chris Wood - 4,Nick Pope,NaN,0.888889,1.440741,0.236752
Brighton,16,26,5,11,10,26,33,-7,26,37.7,26.3,11.4,0.44,W D D L L,154.0,Neal Maupay - 7,Robert Sánchez,NaN,1.450000,1.011538,0.363659
Newcastle Utd,17,26,7,5,14,27,44,-17,26,24.9,37.0,-12.1,-0.46,L W L L D,NaN,Callum Wilson - 10,Karl Darlow,NaN,0.957692,1.423077,0.240971
Fulham,18,27,4,11,12,21,33,-12,23,29.9,35.4,-5.5,-0.20,W D W D L,143.0,Bobby Reid - 5,Alphonse Areola,NaN,1.107407,1.311111,0.269520
West Brom,19,27,3,8,16,20,56,-36,17,19.1,46.5,-27.4,-1.02,L D D W L,NaN,Matheus Pereira - 5,Sam Johnstone,NaN,0.707407,1.722222,0.178669
Sheffield Utd,20,27,4,2,21,16,43,-27,14,24.0,40.3,-16.3,-0.60,L L L L W,NaN,David McGoldrick - 6,Aaron Ramsdale,NaN,0.888889,1.492593,0.224789

In [5]:
# fetch FPL data
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players = pd.read_csv(filepath, index_col=0)
players.head()

,adjusted points,adjusted points per game,assists,assists_week1,assists_week10,assists_week11,assists_week12,assists_week13,assists_week14,assists_week15,assists_week16,assists_week17,assists_week18,assists_week19,assists_week2,assists_week20,assists_week21,assists_week22,assists_week23,assists_week24,assists_week25,assists_week26,assists_week3,assists_week4,assists_week5,assists_week6,assists_week7,assists_week8,assists_week9,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheet_points,clean_sheets,cleansheet_week1,cleansheet_week10,cleansheet_week11,cleansheet_week12,cleansheet_week13,cleansheet_week14,cleansheet_week15,cleansheet_week16,cleansheet_week17,cleansheet_week18,cleansheet_week19,cleansheet_week2,cleansheet_week20,cleansheet_week21,cleansheet_week22,...,xG_week14,xG_week15,xG_week16,xG_week17,xG_week18,xG_week19,xG_week2,xG_week20,xG_week21,xG_week22,xG_week23,xG_week24,xG_week25,xG_week26,xG_week3,xG_week4,xG_week5,xG_week6,xG_week7,xG_week8,xG_week9,xPoints,xPoints week 1,xPoints week 10,xPoints week 11,xPoints week 12,xPoints week 13,xPoints week 14,xPoints week 15,xPoints week 16,xPoints week 17,xPoints week 18,xPoints week 19,xPoints week 2,xPoints week 20,xPoints week 21,xPoints week 22,xPoints week 23,xPoints week 24,xPoints week 25,xPoints week 26,xPoints week 3,xPoints week 4,xPoints week 5,xPoints week 6,xPoints week 7,xPoints week 8,xPoints week 9,yellow_cards,form 20
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
2,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
3,42.765822,2.688137,0,NaN,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0,177,100.0,100.0,19.765822,3,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,...,0.1,NaN,NaN,NaN,0.0,0.4,0.0,0.0,0.1,0.0,NaN,0.0,0.0,0.1,0.0,0.0,0.1,0.0,NaN,NaN,NaN,5.026123,NaN,0.000000,NaN,NaN,1.000000,3.397316,NaN,NaN,NaN,2.471518,7.363273,1.00000,3.204777,3.586388,-3.000000,NaN,4.395247,1.000000,5.026123,1.199148,5.274923,3.586388,1.000000,NaN,NaN,NaN,1,2.585876
4,98.445356,4.512079,1,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,1.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9,270,100.0,100.0,6.776853,7,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,...,NaN,NaN,0.6,0.8,0.1,1.4,0.1,NaN,NaN,0.1,0.1,1.9,0.0,0.1,0.0,0.0,0.0,0.3,0.9,0.0,0.3,1.500000,3.818731,4.246597,3.606531,1.70657,7.132871,NaN,NaN,5.449329,6.67032,2.867879,11.740818,5.61799,NaN,NaN,1.500000,1.500000,15.348812,2.122456,1.500000,2.049787,2.818731,3.746597,4.101194,7.540818,2.765299,3.282085,2,4.936274
5,29.823190,3.670546,1,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,111,100.0,100.0,10.094688,2,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,0.1,0.0,0.0,0.1,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.426123,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,10.658585,NaN,3.804777,2.586388,1.986388,3.090127,4.095247,NaN,4.426123,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,NaN

In [6]:
coefficients = pd.DataFrame(np.nan, index=teamStats.index, columns=['xG','xGA','coefficient'])

for ix in coefficients.index:
    coefficients.loc[ix, 'xG'] = teamStats.loc[ix, 'xG per game']
    coefficients.loc[ix, 'xGA'] = teamStats.loc[ix, 'xGA per game']
    coefficients.loc[ix, 'coefficient'] = 0.755489209043063 * coefficients.loc[ix, 'xG']

display(coefficients)

                       xG       xGA  coefficient
Squad
Manchester City  1.911111  0.737037     1.443824
Manchester Utd   1.570370  1.188889     1.186398
Leicester City   1.440741  1.237037     1.088464
Chelsea          1.544444  0.877778     1.166811
Everton          1.215385  1.326923     0.918210
West Ham         1.365385  1.123077     1.031533
Liverpool        1.833333  1.240741     1.385064
Tottenham        1.315385  1.203846     0.993759
Aston Villa      1.528000  1.268000     1.154388
Arsenal          1.357692  1.169231     1.025722
Leeds United     1.538462  1.653846     1.162291
Wolves           1.014815  1.188889     0.766682
Crystal Palace   0.803704  1.455556     0.607189
Southampton      0.965385  1.311538     0.729338
Burnley          0.888889  1.440741     0.671546
Brighton         1.450000  1.011538     1.095459
Newcastle Utd    0.957692  1.423077     0.723526
Fulham           1.107407  1.311111     0.836634
West Brom        0.707407  1.722222     0.534439
Sheffield Utd    0.888889  1.492593     0.671546

In [7]:
def points_for_clean_sheet(position):
    if position < 3:
        return 4
    elif position==3:
        return 1
    elif position==4:
        return 0

In [8]:
goalkeepers = players['element_type'] == 1
defenders = players['element_type'] == 2
midfielders = players['element_type'] == 3
forwards = players['element_type'] == 4

In [9]:
home_coefficient = 1.0721855628874228
away_coefficient = 0.9280143971205758

In [10]:
team_names = np.sort(teamStats.index)
# for some reason the fpl team numbers are not alphabetical with leeds and leicester...
if (team_names[8]=='Leeds United') & (team_names[9]=='Leicester City'):
    team_names[8] = 'Leicester City'
    team_names[9] = 'Leeds United'
    
# how many gameweeks ahead do you want to look at
for number_gameweeks in [1,5,10]:
    expectations = pd.DataFrame(0, index=teamStats.index, \
                columns=['games','total_xG','total_xGA','xG per game', 'xGA per game'])
    gameweeks = np.arange(latest_gameweek+1, latest_gameweek+number_gameweeks+1)
    games = fixtures[fixtures['event'].isin(gameweeks)]
    for ix in games.index:
        home_team_number = games.loc[ix,'team_h']
        home_team = team_names[home_team_number-1]
        away_team_number = games.loc[ix,'team_a']
        away_team = team_names[away_team_number-1]

        home_xG = home_coefficient * coefficients.loc[home_team,'coefficient'] * \
                                    coefficients.loc[away_team,'xGA']
        away_xG = away_coefficient * coefficients.loc[away_team,'coefficient'] * \
                                    coefficients.loc[home_team,'xGA']
        expectations.loc[home_team,'total_xG'] += home_xG
        expectations.loc[home_team,'total_xGA'] += away_xG
        expectations.loc[home_team,'games'] += 1
        expectations.loc[away_team,'total_xG'] += away_xG
        expectations.loc[away_team,'total_xGA'] += home_xG
        expectations.loc[away_team,'games'] += 1

    expectations['xG per game'] = expectations['total_xG'] / expectations['games']
    expectations['xGA per game'] = expectations['total_xGA'] / expectations['games']
    print('expectations:')
    display(expectations)

    new_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    coefficients[new_column] = expectations['xG per game'] / coefficients['xG']
    print('coefficients:')
    display(coefficients)
    
    new_column = 'next' + str(number_gameweeks) + '_xP'
    multiplier_xG_xA_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    for ix in players.index:
        team = players.loc[ix,'team_name']
        position = players.loc[ix, 'element_type']

        # adjust xP based on xg and xa for the next game
        xg_points_per_game = players.loc[ix,'xG_points'] / players.loc[ix,'games played']
        xa_points_per_game = players.loc[ix,'xA_points'] / players.loc[ix,'games played']
        xpoints = xg_points_per_game + xa_points_per_game
        players.loc[ix, new_column] = players.loc[ix, 'adjusted points per game'] - \
                            xpoints + coefficients.loc[team, multiplier_xG_xA_column]*xpoints    

        # adjust xP based on probability to keep a clean sheet for the next game
        clean_sheet_points_per_game = players.loc[ix,'clean_sheet_points'] / \
                                        players.loc[ix,'games played']
        probability_clean_sheet_next = poisson.pmf(0, expectations.loc[team, 'xGA per game'])
        players.loc[ix, new_column] = players.loc[ix, new_column] - clean_sheet_points_per_game \
                + points_for_clean_sheet(position) * probability_clean_sheet_next

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      2  3.870779   1.310327     1.935390      0.655163
Manchester Utd       1  0.811474   1.840456     0.811474      1.840456
Leicester City       1  1.021765   1.452944     1.021765      1.452944
Chelsea              1  1.660031   0.747965     1.660031      0.747965
Everton              1  0.747965   1.660031     0.747965      1.660031
West Ham             1  1.829146   1.211376     1.829146      1.211376
Liverpool            1  1.947059   0.963322     1.947059      0.963322
Tottenham            1  1.550886   0.678344     1.550886      0.678344
Aston Villa          1  1.471509   0.902171     1.471509      0.902171
Arsenal              1  1.371419   0.841872     1.371419      0.841872
Leeds United         1  1.211376   1.829146     1.211376      1.829146
Wolves               1  0.902171   1.471509     0.902171      1.471509
Crystal Palace       1  0.678344   1.550886     0.678344      1.550886
Southampton          2  1.509093   2.974660     0.754547      1.487330
Burnley              1  0.841872   1.371419     0.841872      1.371419
Brighton             1  1.452944   1.021765     1.452944      1.021765
Newcastle Utd        1  1.156374   0.815448     1.156374      0.815448
Fulham               1  0.963322   1.947059     0.963322      1.947059
West Brom            1  0.815448   1.156374     0.815448      1.156374
Sheffield Utd        1  0.944336   1.010240     0.944336      1.010240

coefficients:

                       xG       xGA  coefficient  next1_xG_xA_multiplier
Squad
Manchester City  1.911111  0.737037     1.443824                1.012704
Manchester Utd   1.570370  1.188889     1.186398                0.516740
Leicester City   1.440741  1.237037     1.088464                0.709195
Chelsea          1.544444  0.877778     1.166811                1.074840
Everton          1.215385  1.326923     0.918210                0.615414
West Ham         1.365385  1.123077     1.031533                1.339656
Liverpool        1.833333  1.240741     1.385064                1.062032
Tottenham        1.315385  1.203846     0.993759                1.179036
Aston Villa      1.528000  1.268000     1.154388                0.963029
Arsenal          1.357692  1.169231     1.025722                1.010110
Leeds United     1.538462  1.653846     1.162291                0.787395
Wolves           1.014815  1.188889     0.766682                0.889001
Crystal Palace   0.803704  1.455556     0.607189                0.844022
Southampton      0.965385  1.311538     0.729338                0.781602
Burnley          0.888889  1.440741     0.671546                0.947106
Brighton         1.450000  1.011538     1.095459                1.002030
Newcastle Utd    0.957692  1.423077     0.723526                1.207458
Fulham           1.107407  1.311111     0.836634                0.869889
West Brom        0.707407  1.722222     0.534439                1.152727
Sheffield Utd    0.888889  1.492593     0.671546                1.062378

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      5  9.845247   3.626602     1.969049      0.725320
Manchester Utd       4  4.852215   5.453934     1.213054      1.363483
Leicester City       4  4.758254   5.249521     1.189563      1.312380
Chelsea              4  7.181511   2.848644     1.795378      0.712161
Everton              4  4.461288   4.793189     1.115322      1.198297
West Ham             5  6.766660   5.766642     1.353332      1.153328
Liverpool            4  6.861127   4.676955     1.715282      1.169239
Tottenham            5  6.377702   5.751629     1.275540      1.150326
Aston Villa          5  7.438032   5.922730     1.487606      1.184546
Arsenal              5  6.549704   5.558079     1.309941      1.111616
Leeds United         5  6.374492   8.694420     1.274898      1.738884
Wolves               4  3.778133   5.204220     0.944533      1.301055
Crystal Palace       4  3.118691   5.281876     0.779673      1.320469
Southampton          5  4.592401   5.876863     0.918480      1.175373
Burnley              4  3.510819   4.883829     0.877705      1.220957
Brighton             5  7.224857   4.640624     1.444971      0.928125
Newcastle Utd        5  4.720484   6.348468     0.944097      1.269694
Fulham               5  5.158961   7.673627     1.031792      1.534725
West Brom            4  2.724238   5.597802     0.681060      1.399450
Sheffield Utd        4  3.587819   6.032981     0.896955      1.508245

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier
Squad,,,,,
Manchester City,1.911111,0.737037,1.443824,1.012704,1.030317
Manchester Utd,1.570370,1.188889,1.186398,0.516740,0.772463
Leicester City,1.440741,1.237037,1.088464,0.709195,0.825661
Chelsea,1.544444,0.877778,1.166811,1.074840,1.162475
Everton,1.215385,1.326923,0.918210,0.615414,0.917670
West Ham,1.365385,1.123077,1.031533,1.339656,0.991173
Liverpool,1.833333,1.240741,1.385064,1.062032,0.935608
Tottenham,1.315385,1.203846,0.993759,1.179036,0.969709
Aston Villa,1.528000,1.268000,1.154388,0.963029,0.973564
Arsenal,1.357692,1.169231,1.025722,1.010110,0.964829
Leeds United,1.538462,1.653846,1.162291,0.787395,0.828684
Wolves,1.014815,1.188889,0.766682,0.889001,0.930744
Crystal Palace,0.803704,1.455556,0.607189,0.844022,0.970100
Southampton,0.965385,1.311538,0.729338,0.781602,0.951414
Burnley,0.888889,1.440741,0.671546,0.947106,0.987418
Brighton,1.450000,1.011538,1.095459,1.002030,0.996532
Newcastle Utd,0.957692,1.423077,0.723526,1.207458,0.985804
Fulham,1.107407,1.311111,0.836634,0.869889,0.931719
West Brom,0.707407,1.722222,0.534439,1.152727,0.962754
Sheffield Utd,0.888889,1.492593,0.671546,1.062378,1.009074

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      9  16.760117   6.388508     1.862235      0.709834
Manchester Utd       9  13.053658  11.877004     1.450406      1.319667
Leicester City       9  12.653322   9.931600     1.405925      1.103511
Chelsea              9  13.564150   7.587711     1.507128      0.843079
Everton              9  10.317547  11.192242     1.146394      1.243582
West Ham            10  12.914841  10.938683     1.291484      1.093868
Liverpool            9  16.789762  10.185256     1.865529      1.131695
Tottenham            9  11.983737  10.043797     1.331526      1.115977
Aston Villa         10  14.934246  11.720484     1.493425      1.172048
Arsenal             10  13.535106  10.411883     1.353511      1.041188
Leeds United        10  13.547584  17.299602     1.354758      1.729960
Wolves               9   9.102789   9.842697     1.011421      1.093633
Crystal Palace       9   6.701129  12.676419     0.744570      1.408491
Southampton          9   8.563017  10.906672     0.951446      1.211852
Burnley              9   7.809196  12.126421     0.867688      1.347380
Brighton            10  14.104802   9.525329     1.410480      0.952533
Newcastle Utd       10   8.734197  14.746234     0.873420      1.474623
Fulham               9   9.058950  12.598150     1.006550      1.399794
West Brom            9   5.938773  15.072379     0.659864      1.674709
Sheffield Utd        9   7.682288  12.678142     0.853588      1.408682

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier,next10_xG_xA_multiplier
Squad,,,,,,
Manchester City,1.911111,0.737037,1.443824,1.012704,1.030317,0.974425
Manchester Utd,1.570370,1.188889,1.186398,0.516740,0.772463,0.923608
Leicester City,1.440741,1.237037,1.088464,0.709195,0.825661,0.975835
Chelsea,1.544444,0.877778,1.166811,1.074840,1.162475,0.975838
Everton,1.215385,1.326923,0.918210,0.615414,0.917670,0.943236
West Ham,1.365385,1.123077,1.031533,1.339656,0.991173,0.945876
Liverpool,1.833333,1.240741,1.385064,1.062032,0.935608,1.017561
Tottenham,1.315385,1.203846,0.993759,1.179036,0.969709,1.012271
Aston Villa,1.528000,1.268000,1.154388,0.963029,0.973564,0.977372
Arsenal,1.357692,1.169231,1.025722,1.010110,0.964829,0.996920
Leeds United,1.538462,1.653846,1.162291,0.787395,0.828684,0.880593
Wolves,1.014815,1.188889,0.766682,0.889001,0.930744,0.996656
Crystal Palace,0.803704,1.455556,0.607189,0.844022,0.970100,0.926423
Southampton,0.965385,1.311538,0.729338,0.781602,0.951414,0.985562
Burnley,0.888889,1.440741,0.671546,0.947106,0.987418,0.976149
Brighton,1.450000,1.011538,1.095459,1.002030,0.996532,0.972745
Newcastle Utd,0.957692,1.423077,0.723526,1.207458,0.985804,0.912005
Fulham,1.107407,1.311111,0.836634,0.869889,0.931719,0.908925
West Brom,0.707407,1.722222,0.534439,1.152727,0.962754,0.932792
Sheffield Utd,0.888889,1.492593,0.671546,1.062378,1.009074,0.960286

In [11]:
metric = 'next1_xP'
#minGames = players['games played'] >= 3

numberToShow = 50
display(players.sort_values(by=[metric], ascending=False)[['web_name','team_name',\
         'now_cost','games played','total_points','adjusted points','points_per_game',\
         'adjusted points per game','next1_xP','next5_xP','next10_xP']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,next1_xP,next5_xP,next10_xP
id,,,,,,,,,,,
388,Kane,Tottenham,111,23.970588,163,148.473527,6.8,6.193988,6.682160,6.111394,6.227448
272,De Bruyne,Manchester City,118,20.961538,109,133.404245,5.2,6.364239,6.443406,6.461372,6.300253
390,Son,Tottenham,95,25.820896,173,144.975269,6.7,5.614649,6.221452,5.563573,5.669581
254,Salah,Liverpool,126,26.000000,169,153.752428,6.5,5.913555,6.189528,5.744488,5.998826
301,Lingard,West Ham,60,5.000000,39,26.683392,7.8,5.336678,5.811879,5.313921,5.266215
39,Hause,Aston Villa,44,4.000000,28,21.102302,7.0,5.275575,5.711750,5.329921,5.351591
251,Mané,Liverpool,118,24.042553,113,127.351901,4.7,5.296937,5.553485,5.148034,5.376709
271,Gündogan,Manchester City,62,20.952381,132,114.751843,6.3,5.476793,5.545656,5.549338,5.433548
277,Cancelo,Manchester City,62,20.961538,109,112.079878,5.2,5.346930,5.523149,5.400295,5.373727
437,Antonio,West Ham,65,16.956522,78,79.785507,4.6,4.705299,5.432424,4.686402,4.589431
506,Wilson,Newcastle Utd,65,21.090909,116,105.051014,5.5,4.980867,5.394782,4.952543,4.805301
276,Sterling,Manchester City,116,24.074074,130,126.139676,5.4,5.239648,5.310459,5.316841,5.192483
12,Martínez,Aston Villa,53,24.912281,142,118.640650,5.7,4.762336,5.258621,4.859664,4.875143
37,Grealish,Aston Villa,76,21.864407,129,112.394539,5.9,5.140525,5.188221,5.110246,5.121982
273,Stones,Manchester City,52,15.970149,107,79.668762,6.7,4.988605,5.158358,5.026540,5.028417
302,Fernandes,Manchester Utd,116,26.849315,196,175.979242,7.3,6.554329,4.917121,5.803334,6.281239
556,Dias,Manchester City,61,23.800000,119,112.684528,5.0,4.734644,4.904520,4.772871,4.774211
389,Aurier,Tottenham,52,13.863636,61,53.966973,4.4,3.892700,4.857972,3.935741,4.012222
383,Lloris,Tottenham,56,26.190476,110,105.432552,4.2,4.025607,4.855281,4.091589,4.135834
326,Dubravka,Newcastle Utd,48,1.000000,3,3.963886,3.0,3.963886,4.769765,4.123671,3.915460
275,Mahrez,Manchester City,81,20.961538,109,98.273230,5.2,4.688264,4.749758,4.743223,4.659856
542,Reguilón,Tottenham,55,15.000000,63,56.716290,4.2,3.781086,4.711021,3.830106,3.898186
224,Vardy,Leicester City,102,23.157895,132,127.396522,5.7,5.501213,4.710844,5.027384,5.435535
112,Arrizabalaga,Chelsea,47,3.947368,15,17.563774,3.8,4.449489,4.679982,4.748998,4.508200
255,Robertson,Liverpool,72,26.923077,105,114.383890,3.9,4.248544,4.671581,4.279030,4.396877
123,James,Chelsea,50,21.081081,78,92.511105,3.7,4.388347,4.667831,4.794215,4.431241
4,Aubameyang,Arsenal,113,21.818182,96,98.445356,4.4,4.512079,4.653155,4.458217,4.548178
232,Chilwell,Chelsea,58,20.000000,98,87.170464,4.9,4.358523,4.636165,4.760391,4.402012
202,Bamford,Leeds United,68,25.818182,142,131.048019,5.5,5.075804,4.594732,4.688159,4.805616
435,Cresswell,West Ham,58,25.744681,121,115.453173,4.7,4.484545,4.592272,4.440116,4.488420
259,Alexander-Arnold,Liverpool,74,24.705882,84,102.862301,3.4,4.163474,4.590533,4.189783,4.312945
24,Saka,Arsenal,52,21.904762,92,97.517755,4.2,4.451898,4.589919,4.408662,4.488927
249,Firmino,Liverpool,92,26.842105,102,118.371014,3.8,4.409901,4.533308,4.281799,4.444837
560,Kelleher,Liverpool,45,2.000000,10,8.313360,5.0,4.156680,4.526492,4.242413,4.289945
283,Zinchenko,Manchester City,55,12.000000,54,52.269425,4.5,4.355785,4.522589,4.386681,4.401536
120,Mount,Chelsea,68,26.279070,113,112.986871,4.3,4.299500,4.456572,4.590277,4.282071
514,Watkins,Aston Villa,66,25.227273,111,114.282512,4.4,4.530118,4.450775,4.473384,4.481556
96,Pope,Burnley,56,25.833333,124,113.064407,4.8,4.376687,4.443435,4.609176,4.468805
102,Azpilicueta,Chelsea,57,17.083333,82,70.335057,4.8,4.117174,4.383152,4.493720,4.164428
284,Foden,Manchester City,61,19.791667,95,85.013412,4.8,4.295415,4.353830,4.343025,4.273205
11,Bellerín,Arsenal,51,21.842105,83,84.122644,3.8,3.851398,4.337448,3.908175,4.019634
325,Darlow,Newcastle Utd,50,25.000000,80,88.097142,3.2,3.523886,4.329765,3.683671,3.475460
270,Walker,Manchester City,61,18.048780,74,75.076011,4.1,4.159617,4.324827,4.186711,4.208575
278,Ederson,Manchester City,61,25.869565,119,107.545922,4.6,4.157237,4.321137,4.181202,4.208835
280,Laporte,Manchester City,60,10.000000,36,41.541187,3.6,4.154119,4.320478,4.183954,4.200765
105,Jorginho,Chelsea,47,18.139535,78,75.037712,4.3,4.136694,4.309180,4.460933,4.114289
104,Alonso,Chelsea,57,7.948718,31,31.917309,3.9,4.015403,4.299564,4.431423,4.056788
110,Zouma,Chelsea,54,16.000000,80,64.605163,5.0,4.037823,4.296380,4.398260,4.087473
449,Soucek,West Ham,53,26.046512,112,101.600844,4.3,3.900747,4.294460,3.880107,3.843269
33,Hourihane,Aston Villa,59,4.000000,20,16.854078,5.0,4.213519,4.292524,4.205627,4.214138

In [12]:
# save predictions
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players.to_csv(filepath)