In [1]:
# recent gameweek
latest_gameweek = 13

In [2]:
import pandas as pd
import numpy as np
import json
import requests
from scipy.stats import poisson

# allow more data columns to be shown than by default
pd.set_option('max_columns',100)

In [3]:
# fetch FPL fixtures online
fixtures_text = json.loads(requests.get('https://fantasy.premierleague.com/api/fixtures').text)
fixtures = pd.DataFrame(fixtures_text)
fixtures.head(20)

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,pulse_id,started,stats,team_a,team_a_difficulty,team_a_score,team_h,team_h_difficulty,team_h_score
0,2128386,NaN,False,False,99,None,0,False,58996,None,[],14,3,NaN,2,2,NaN
1,2128286,NaN,False,False,379,None,0,False,58896,None,[],13,2,NaN,4,4,NaN
2,2128290,NaN,False,False,380,None,0,False,58900,None,[],2,5,NaN,12,3,NaN
3,2128288,1.0,True,True,2,2020-09-12T11:30:00Z,90,False,58898,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",1,2,3.0,8,3,0.0
4,2128287,1.0,True,True,1,2020-09-12T14:00:00Z,90,False,58897,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",16,3,0.0,6,3,1.0
5,2128289,1.0,True,True,3,2020-09-12T16:30:00Z,90,False,58899,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",10,5,3.0,11,2,4.0
6,2128293,1.0,True,True,6,2020-09-12T19:00:00Z,90,False,58903,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",14,3,2.0,19,2,0.0
7,2128292,1.0,True,True,5,2020-09-13T13:00:00Z,90,False,58902,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",9,2,3.0,18,4,0.0
8,2128291,1.0,True,True,4,2020-09-13T15:30:00Z,90,False,58901,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",7,4,1.0,17,3,0.0
9,2128295,1.0,True,True,8,2020-09-14T17:00:00Z,90,False,58905,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",20,2,2.0,15,3,0.0
10,2128294,1.0,True,True,7,2020-09-14T19:15:00Z,90,False,58904,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,2,3.0,3,4,1.0
11,2128299,2.0,True,True,12,2020-09-19T11:30:00Z,90,False,58909,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",18,3,2.0,7,2,5.0
12,2128300,2.0,True,True,13,2020-09-19T14:00:00Z,90,False,58910,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",8,3,3.0,10,2,4.0
13,2128302,2.0,True,True,15,2020-09-19T16:30:00Z,90,False,58912,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",6,4,3.0,13,3,1.0
14,2128296,2.0,True,True,9,2020-09-19T19:00:00Z,90,False,58906,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",19,3,1.0,1,3,2.0
15,2128304,2.0,True,True,17,2020-09-20T11:00:00Z,90,False,58914,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",17,3,5.0,16,4,2.0
16,2128303,2.0,True,True,16,2020-09-20T13:00:00Z,90,False,58913,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,3,3.0,14,2,0.0
17,2128298,2.0,True,True,11,2020-09-20T15:30:00Z,90,False,58908,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",11,4,2.0,5,4,0.0
18,2128301,2.0,True,True,14,2020-09-20T18:00:00Z,90,False,58911,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,4,2.0,9,2,4.0
19,2128297,2.0,True,True,10,2020-09-21T17:00:00Z,90,False,58907,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",15,3,0.0,2,2,1.0

In [4]:
filepath = '../data/fbref/team_stats_week' + str(latest_gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col='Squad')
display(teamStats)

,Rk,MP,W,D,L,GF,GA,GDiff,Pts,xG,xGA,xGDiff,xGDiff/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes,xG per game,xGA per game,probability no goals allowed
Squad,,,,,,,,,,,,,,,,,,,,,
Liverpool,1,13,8,4,1,29,19,10,28,27.1,18.4,8.7,0.67,W D W D W,333.0,Mohamed Salah - 11,Alisson,NaN,2.084615,1.415385,0.242832
Tottenham,2,13,7,4,2,25,12,13,25,18.7,14.2,4.5,0.35,W D W D L,333.0,Son Heung-min - 11,Hugo Lloris,NaN,1.438462,1.092308,0.335442
Southampton,3,13,7,3,3,25,18,7,24,14.4,15.9,-1.5,-0.12,D L W W D,333.0,Danny Ings - 6,Alex McCarthy,NaN,1.107692,1.223077,0.294323
Leicester City,4,13,8,0,5,24,17,7,24,19.9,16.4,3.5,0.27,L L W W L,NaN,Jamie Vardy - 10,Kasper Schmeichel,NaN,1.530769,1.261538,0.283218
Everton,5,13,7,2,4,23,18,5,23,19.7,16.6,3.0,0.23,W L D W W,333.0,Dominic Calvert-Lewin - 11,Jordan Pickford,NaN,1.515385,1.276923,0.278894
Manchester Utd,6,12,7,2,3,22,19,3,23,16.2,14.6,1.6,0.15,W W W D W,NaN,Bruno Fernandes - 7,David de Gea,NaN,1.350000,1.216667,0.296216
Chelsea,7,13,6,4,3,26,14,12,22,21.8,12.9,9.0,0.69,W D W L L,333.0,Timo Werner Kurt Zouma - 4,Edouard Mendy,NaN,1.676923,0.992308,0.370720
West Ham,8,13,6,3,4,21,16,5,21,17.7,17.7,0.0,0.00,W W L W D,NaN,Jarrod Bowen - 4,Łukasz Fabiański,NaN,1.361538,1.361538,0.256266
Manchester City,9,12,5,5,2,18,12,6,20,20.2,11.2,9.0,0.75,L W W D D,NaN,Riyad Mahrez - 4,Ederson,NaN,1.683333,0.933333,0.393241
Wolves,10,13,6,2,5,13,17,-4,20,12.5,15.5,-2.9,-0.23,D W L L W,NaN,Raúl Jiménez Pedro Neto - 4,Rui Patrício,NaN,0.961538,1.192308,0.303520
Aston Villa,11,11,6,1,4,21,13,8,19,19.1,13.3,5.8,0.52,W L L W D,NaN,Ollie Watkins - 6,Emiliano Martínez,NaN,1.736364,1.209091,0.298468
Crystal Palace,12,13,5,3,5,19,18,1,18,14.0,16.1,-2.0,-0.15,L L W D D,333.0,Wilfried Zaha - 7,Vicente Guaita,NaN,1.076923,1.238462,0.289830
Leeds United,13,13,5,2,6,22,24,-2,17,23.7,23.3,0.4,0.03,D W L L W,NaN,Patrick Bamford - 9,Illan Meslier,NaN,1.823077,1.792308,0.166575
Newcastle Utd,14,12,5,2,5,16,21,-5,17,12.8,17.1,-4.3,-0.36,L L W W L,NaN,Callum Wilson - 7,Karl Darlow,NaN,1.066667,1.425000,0.240508
Arsenal,15,13,4,2,7,11,16,-5,14,14.3,16.4,-2.2,-0.17,D L L L D,NaN,Alexandre Lacazette Pierre-Emerick Aubameyang - 3,Bernd Leno,NaN,1.100000,1.261538,0.283218
Brighton,16,13,2,5,6,15,21,-6,11,17.4,13.5,3.9,0.30,W D L L D,NaN,Neal Maupay - 4,Mathew Ryan,NaN,1.338462,1.038462,0.353999
Burnley,17,12,2,4,6,6,18,-12,10,9.5,17.8,-8.2,-0.68,W L D W D,NaN,Chris Wood - 2,Nick Pope,NaN,0.791667,1.483333,0.226880
Fulham,18,13,2,3,8,12,22,-10,9,15.1,20.2,-5.1,-0.39,L W L D D,NaN,Bobby Reid - 4,Alphonse Areola,NaN,1.161538,1.553846,0.211433
West Brom,19,13,1,4,8,10,26,-16,7,8.4,23.9,-15.6,-1.20,L W L L D,NaN,Conor Gallagher Callum Robinson - 2,Sam Johnstone,NaN,0.646154,1.838462,0.159062
Sheffield Utd,20,13,0,1,12,7,24,-17,1,11.5,19.0,-7.5,-0.63,L L L L L,NaN,David McGoldrick - 4,Aaron Ramsdale,NaN,0.884615,1.461538,0.231879

In [5]:
# fetch FPL data
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players = pd.read_csv(filepath, index_col=0)
players.head()

,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,code,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,creativity,creativity_rank,creativity_rank_type,direct_freekicks_order,direct_freekicks_text,dreamteam_count,element_type,ep_next,ep_this,event_points,first_name,form,goals_conceded,goals_scored,ict_index,ict_index_rank,ict_index_rank_type,in_dreamteam,influence,influence_rank,influence_rank_type,minutes,news,news_added,now_cost,own_goals,penalties_missed,penalties_order,penalties_saved,penalties_text,photo,points_per_game,red_cards,saves,second_name,selected_by_percent,special,...,xG_week6,goals_week6,xGA_week6,cleansheet_week6,xA_week6,assists_week6,xPoints week 7,xG_week7,goals_week7,xGA_week7,cleansheet_week7,xA_week7,assists_week7,xPoints week 8,xG_week8,goals_week8,xGA_week8,cleansheet_week8,xA_week8,assists_week8,xPoints week 9,xG_week9,goals_week9,xGA_week9,cleansheet_week9,xA_week9,assists_week9,xPoints week 10,xG_week10,goals_week10,xGA_week10,cleansheet_week10,xA_week10,assists_week10,xPoints week 11,xG_week11,goals_week11,xGA_week11,cleansheet_week11,xA_week11,assists_week11,xPoints week 12,xG_week12,goals_week12,xGA_week12,cleansheet_week12,xA_week12,assists_week12,form 5,form 10
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0.0,0.0,0,37605,NaN,NaN,0,0,-2,2,0.0,607,242,NaN,NaN,0,3,0.0,0.0,0,Mesut,0.0,0,0,0.0,607,242,False,0.0,607,242,0,Not included in Arsenal's 25-man Premier Leagu...,2020-10-20T22:30:18.118477Z,68,0,0,NaN,0,NaN,37605.jpg,0.0,0,0,Özil,0.6,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,0,0,0.0,0.0,0,39476,NaN,NaN,0,0,-2,2,0.0,550,210,NaN,NaN,0,2,0.0,0.0,0,Sokratis,0.0,0,0,0.0,563,210,False,0.0,561,210,0,Not included in Arsenal's 25-man Premier Leagu...,2020-10-21T10:30:18.546407Z,48,0,0,NaN,0,NaN,39476.jpg,0.0,0,0,Papastathopoulos,0.1,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,0,56,100.0,75.0,0,41270,NaN,NaN,-1,1,-1,1,23.1,283,86,4.0,NaN,0,2,0.7,0.5,1,David,0.2,7,0,12.2,315,109,False,77.2,256,100,389,NaN,2020-11-26T23:30:22.462494Z,54,0,0,NaN,0,NaN,41270.jpg,1.1,0,0,Luiz Moreira Marinho,0.8,False,...,0.0,0.0,1.2,0.0,0.0,0.0,NaN,NaN,NaN,0.3,0.0,NaN,NaN,NaN,NaN,NaN,1.8,0.0,NaN,NaN,NaN,NaN,NaN,2.5,0.0,NaN,NaN,0.000000,0.0,0.0,1.4,0.0,0.0,0.0,NaN,NaN,NaN,0.5,0.0,NaN,NaN,NaN,NaN,NaN,0.9,0.0,NaN,NaN,0.500000,2.172262
4,1,4,146,100.0,100.0,3,54694,NaN,NaN,-1,1,-6,6,201.2,46,34,NaN,NaN,1,3,3.9,3.9,10,Pierre-Emerick,3.4,16,3,76.0,30,18,False,186.6,108,39,1166,NaN,2020-10-08T09:00:12.305506Z,114,1,0,1.0,0,NaN,54694.jpg,3.6,0,0,Aubameyang,8.4,False,...,0.3,0.0,1.2,0.0,0.1,0.0,7.540818,0.9,1.0,0.3,1.0,0.1,0.0,2.765299,0.0,0.0,1.8,0.0,0.2,0.0,3.282085,0.3,0.0,2.5,1.0,-0.1,0.0,4.246597,0.4,0.0,1.4,0.0,0.0,0.0,3.606531,0.2,0.0,0.5,0.0,0.0,0.0,1.70657,0.2,0.0,0.9,0.0,0.1,0.0,3.994931,4.094729
5,0,0,3,100.0,100.0,0,58822,NaN,NaN,0,0,-4,4,0.0,535,206,NaN,NaN,0,2,0.7,0.7,1,Cédric,0.2,0,0,0.0,550,206,False,0.0,548,206,5,NaN,2020-09-23T09:00:14.881983Z,46,0,0,NaN,0,NaN,58822.jpg,1.0,0,0,Soares,0.2,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000

In [6]:
coefficients = pd.DataFrame(np.nan, index=teamStats.index, columns=['xG','xGA','coefficient'])

for ix in coefficients.index:
    coefficients.loc[ix, 'xG'] = teamStats.loc[ix, 'xG per game']
    coefficients.loc[ix, 'xGA'] = teamStats.loc[ix, 'xGA per game']
    coefficients.loc[ix, 'coefficient'] = 0.755489209043063 * coefficients.loc[ix, 'xG']

display(coefficients)

                       xG       xGA  coefficient
Squad
Liverpool        2.084615  1.415385     1.574904
Tottenham        1.438462  1.092308     1.086742
Southampton      1.107692  1.223077     0.836850
Leicester City   1.530769  1.261538     1.156480
Everton          1.515385  1.276923     1.144857
Manchester Utd   1.350000  1.216667     1.019910
Chelsea          1.676923  0.992308     1.266897
West Ham         1.361538  1.361538     1.028628
Manchester City  1.683333  0.933333     1.271740
Wolves           0.961538  1.192308     0.726432
Aston Villa      1.736364  1.209091     1.311804
Crystal Palace   1.076923  1.238462     0.813604
Leeds United     1.823077  1.792308     1.377315
Newcastle Utd    1.066667  1.425000     0.805855
Arsenal          1.100000  1.261538     0.831038
Brighton         1.338462  1.038462     1.011193
Burnley          0.791667  1.483333     0.598096
Fulham           1.161538  1.553846     0.877530
West Brom        0.646154  1.838462     0.488162
Sheffield Utd    0.884615  1.461538     0.668317

In [7]:
def points_for_clean_sheet(position):
    if position < 3:
        return 4
    elif position==3:
        return 1
    elif position==4:
        return 0

In [8]:
goalkeepers = players['element_type'] == 1
defenders = players['element_type'] == 2
midfielders = players['element_type'] == 3
forwards = players['element_type'] == 4

In [9]:
home_coefficient = 1.0721855628874228
away_coefficient = 0.9280143971205758

In [10]:
team_names = np.sort(teamStats.index)
# for some reason the fpl team numbers are not alphabetical with leeds and leicester...
if (team_names[8]=='Leeds United') & (team_names[9]=='Leicester City'):
    team_names[8] = 'Leicester City'
    team_names[9] = 'Leeds United'
    
# how many gameweeks ahead do you want to look at
for number_gameweeks in [1,5,10]:
    expectations = pd.DataFrame(0, index=teamStats.index, \
                columns=['games','total_xG','total_xGA','xG per game', 'xGA per game'])
    gameweeks = np.arange(latest_gameweek+1, latest_gameweek+number_gameweeks+1)
    games = fixtures[fixtures['event'].isin(gameweeks)]
    for ix in games.index:
        home_team_number = games.loc[ix,'team_h']
        home_team = team_names[home_team_number-1]
        away_team_number = games.loc[ix,'team_a']
        away_team = team_names[away_team_number-1]

        home_xG = home_coefficient * coefficients.loc[home_team,'coefficient'] * \
                                    coefficients.loc[away_team,'xGA']
        away_xG = away_coefficient * coefficients.loc[away_team,'coefficient'] * \
                                    coefficients.loc[home_team,'xGA']
        expectations.loc[home_team,'total_xG'] += home_xG
        expectations.loc[home_team,'total_xGA'] += away_xG
        expectations.loc[home_team,'games'] += 1
        expectations.loc[away_team,'total_xG'] += away_xG
        expectations.loc[away_team,'total_xGA'] += home_xG
        expectations.loc[away_team,'games'] += 1

    expectations['xG per game'] = expectations['total_xG'] / expectations['games']
    expectations['xGA per game'] = expectations['total_xGA'] / expectations['games']
    print('expectations:')
    display(expectations)

    new_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    coefficients[new_column] = expectations['xG per game'] / coefficients['xG']
    print('coefficients:')
    display(coefficients)
    
    new_column = 'next' + str(number_gameweeks) + '_xP'
    multiplier_xG_xA_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    for ix in players.index:
        team = players.loc[ix,'team_name']
        position = players.loc[ix, 'element_type']

        # adjust xP based on xg and xa for the next game
        xg_points_per_game = players.loc[ix,'xG_points'] / players.loc[ix,'games played']
        xa_points_per_game = players.loc[ix,'xA_points'] / players.loc[ix,'games played']
        xpoints = xg_points_per_game + xa_points_per_game
        players.loc[ix, new_column] = players.loc[ix, 'adjusted points per game'] - \
                            xpoints + coefficients.loc[team, multiplier_xG_xA_column]*xpoints    

        # adjust xP based on probability to keep a clean sheet for the next game
        clean_sheet_points_per_game = players.loc[ix,'clean_sheet_points'] / \
                                        players.loc[ix,'games played']
        probability_clean_sheet_next = poisson.pmf(0, expectations.loc[team, 'xGA per game'])
        players.loc[ix, new_column] = players.loc[ix, new_column] - clean_sheet_points_per_game \
                + points_for_clean_sheet(position) * probability_clean_sheet_next

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Liverpool            1  1.810054   1.234688     1.810054      1.234688
Tottenham            1  1.469931   1.172297     1.469931      1.172297
Southampton          1  0.837441   1.443467     0.837441      1.443467
Leicester City       1  1.172297   1.469931     1.172297      1.469931
Everton              1  1.548537   0.984783     1.548537      0.984783
Manchester Utd       1  1.959948   1.555105     1.959948      1.555105
Chelsea              1  1.849444   0.947238     1.849444      0.947238
West Ham             1  0.947238   1.849444     0.947238      1.849444
Manchester City      1  1.443467   0.837441     1.443467      0.837441
Wolves               1  0.999973   0.764591     0.999973      0.764591
Aston Villa          1  2.238093   0.632839     2.238093      0.632839
Crystal Palace       1  1.234688   1.810054     1.234688      1.810054
Leeds United         1  1.555105   1.959948     1.555105      1.959948
Newcastle Utd        1  1.342564   1.160463     1.342564      1.160463
Arsenal              1  0.984783   1.548537     0.984783      1.548537
Brighton             1  1.584581   0.644062     1.584581      0.644062
Burnley              1  0.764591   0.999973     0.764591      0.999973
Fulham               1  1.160463   1.342564     1.160463      1.342564
West Brom            1  0.632839   2.238093     0.632839      2.238093
Sheffield Utd        1  0.644062   1.584581     0.644062      1.584581

coefficients:

                       xG       xGA  coefficient  next1_xG_xA_multiplier
Squad
Liverpool        2.084615  1.415385     1.574904                0.868291
Tottenham        1.438462  1.092308     1.086742                1.021877
Southampton      1.107692  1.223077     0.836850                0.756023
Leicester City   1.530769  1.261538     1.156480                0.765822
Everton          1.515385  1.276923     1.144857                1.021877
Manchester Utd   1.350000  1.216667     1.019910                1.451813
Chelsea          1.676923  0.992308     1.266897                1.102880
West Ham         1.361538  1.361538     1.028628                0.695712
Manchester City  1.683333  0.933333     1.271740                0.857505
Wolves           0.961538  1.192308     0.726432                1.039972
Aston Villa      1.736364  1.209091     1.311804                1.288954
Crystal Palace   1.076923  1.238462     0.813604                1.146496
Leeds United     1.823077  1.792308     1.377315                0.853011
Newcastle Utd    1.066667  1.425000     0.805855                1.258654
Arsenal          1.100000  1.261538     0.831038                0.895257
Brighton         1.338462  1.038462     1.011193                1.183882
Burnley          0.791667  1.483333     0.598096                0.965799
Fulham           1.161538  1.553846     0.877530                0.999074
West Brom        0.646154  1.838462     0.488162                0.979393
Sheffield Utd    0.884615  1.461538     0.668317                0.728070

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Liverpool            4  8.784715   4.368783     2.196179      1.092196
Tottenham            5  7.790674   5.845075     1.558135      1.169015
Southampton          4  4.535787   5.549324     1.133947      1.387331
Leicester City       4  5.539422   4.854452     1.384856      1.213613
Everton              5  7.185051   5.620275     1.437010      1.124055
Manchester Utd       4  5.779993   5.365063     1.444998      1.341266
Chelsea              4  6.242794   4.210535     1.560698      1.052634
West Ham             4  4.478990   6.020053     1.119747      1.505013
Manchester City      5  7.480630   4.824729     1.496126      0.964946
Wolves               5  4.365566   5.830320     0.873113      1.166064
Aston Villa          5  8.205460   5.729678     1.641092      1.145936
Crystal Palace       5  5.475536   6.752707     1.095107      1.350541
Leeds United         4  7.491614   5.981225     1.872903      1.495306
Newcastle Utd        5  5.446489   7.736647     1.089298      1.547329
Arsenal              5  5.191186   6.012267     1.038237      1.202453
Brighton             5  6.398520   4.706291     1.279704      0.941258
Burnley              4  3.693070   5.318410     0.923267      1.329602
Fulham               4  4.408725   5.356253     1.102181      1.339063
West Brom            4  2.872423   9.110213     0.718106      2.277553
Sheffield Utd        5  4.268232   6.442577     0.853646      1.288515

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier
Squad,,,,,
Liverpool,2.084615,1.415385,1.574904,0.868291,1.053518
Tottenham,1.438462,1.092308,1.086742,1.021877,1.083195
Southampton,1.107692,1.223077,0.836850,0.756023,1.023702
Leicester City,1.530769,1.261538,1.156480,0.765822,0.904680
Everton,1.515385,1.276923,1.144857,1.021877,0.948281
Manchester Utd,1.350000,1.216667,1.019910,1.451813,1.070369
Chelsea,1.676923,0.992308,1.266897,1.102880,0.930692
West Ham,1.361538,1.361538,1.028628,0.695712,0.822413
Manchester City,1.683333,0.933333,1.271740,0.857505,0.888788
Wolves,0.961538,1.192308,0.726432,1.039972,0.908038
Aston Villa,1.736364,1.209091,1.311804,1.288954,0.945131
Crystal Palace,1.076923,1.238462,0.813604,1.146496,1.016885
Leeds United,1.823077,1.792308,1.377315,0.853011,1.027331
Newcastle Utd,1.066667,1.425000,0.805855,1.258654,1.021217
Arsenal,1.100000,1.261538,0.831038,0.895257,0.943852
Brighton,1.338462,1.038462,1.011193,1.183882,0.956101
Burnley,0.791667,1.483333,0.598096,0.965799,1.166233
Fulham,1.161538,1.553846,0.877530,0.999074,0.948898
West Brom,0.646154,1.838462,0.488162,0.979393,1.111354
Sheffield Utd,0.884615,1.461538,0.668317,0.728070,0.964992

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Squad
Liverpool           10  20.259840  12.702846     2.025984      1.270285
Tottenham           10  15.259528  11.187554     1.525953      1.118755
Southampton         10  11.175763  13.698497     1.117576      1.369850
Leicester City      10  14.826489  12.647882     1.482649      1.264788
Everton             10  14.964230  13.023674     1.496423      1.302367
Manchester Utd      10  14.116454  12.640428     1.411645      1.264043
Chelsea             10  16.189847   9.461594     1.618985      0.946159
West Ham            10  13.523189  13.766258     1.352319      1.376626
Manchester City     10  16.752979   8.771333     1.675298      0.877133
Wolves              10   9.266486  11.229268     0.926649      1.122927
Aston Villa         10  16.985510  10.961133     1.698551      1.096113
Crystal Palace      10  10.837226  13.357454     1.083723      1.335745
Leeds United        10  17.979721  16.083526     1.797972      1.608353
Newcastle Utd       10  11.020300  14.759529     1.102030      1.475953
Arsenal             10  10.340233  12.038588     1.034023      1.203859
Brighton            10  13.669513  10.552278     1.366951      1.055228
Burnley             10   7.824954  16.422327     0.782495      1.642233
Fulham              10  11.297932  14.302660     1.129793      1.430266
West Brom           10   6.488109  19.696171     0.648811      1.969617
Sheffield Utd       10   8.412801  13.888104     0.841280      1.388810

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier,next10_xG_xA_multiplier
Squad,,,,,,
Liverpool,2.084615,1.415385,1.574904,0.868291,1.053518,0.971874
Tottenham,1.438462,1.092308,1.086742,1.021877,1.083195,1.060823
Southampton,1.107692,1.223077,0.836850,0.756023,1.023702,1.008923
Leicester City,1.530769,1.261538,1.156480,0.765822,0.904680,0.968565
Everton,1.515385,1.276923,1.144857,1.021877,0.948281,0.987487
Manchester Utd,1.350000,1.216667,1.019910,1.451813,1.070369,1.045663
Chelsea,1.676923,0.992308,1.266897,1.102880,0.930692,0.965450
West Ham,1.361538,1.361538,1.028628,0.695712,0.822413,0.993229
Manchester City,1.683333,0.933333,1.271740,0.857505,0.888788,0.995226
Wolves,0.961538,1.192308,0.726432,1.039972,0.908038,0.963715
Aston Villa,1.736364,1.209091,1.311804,1.288954,0.945131,0.978223
Crystal Palace,1.076923,1.238462,0.813604,1.146496,1.016885,1.006314
Leeds United,1.823077,1.792308,1.377315,0.853011,1.027331,0.986229
Newcastle Utd,1.066667,1.425000,0.805855,1.258654,1.021217,1.033153
Arsenal,1.100000,1.261538,0.831038,0.895257,0.943852,0.940021
Brighton,1.338462,1.038462,1.011193,1.183882,0.956101,1.021285
Burnley,0.791667,1.483333,0.598096,0.965799,1.166233,0.988415
Fulham,1.161538,1.553846,0.877530,0.999074,0.948898,0.972670
West Brom,0.646154,1.838462,0.488162,0.979393,1.111354,1.004112
Sheffield Utd,0.884615,1.461538,0.668317,0.728070,0.964992,0.951012

In [11]:
metric = 'next1_xP'
#minGames = players['games played'] >= 3

numberToShow = 50
display(players.sort_values(by=[metric], ascending=False)[['web_name','team_name',\
         'now_cost','games played','total_points','adjusted points','points_per_game',\
         'adjusted points per game','next1_xP','next5_xP','next10_xP']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,next1_xP,next5_xP,next10_xP
id,,,,,,,,,,,
302,Fernandes,Manchester Utd,110,11.971831,85,76.658357,7.1,6.403227,7.679827,6.580600,6.527138
388,Kane,Tottenham,109,12.976190,109,92.104220,8.4,7.097940,7.163759,7.348240,7.280931
254,Salah,Liverpool,124,12.000000,102,85.333252,8.5,7.111104,6.671876,7.401766,7.044959
272,De Bruyne,Manchester City,119,10.909091,60,77.788431,5.5,7.130606,6.654755,6.716096,7.136072
37,Grealish,Aston Villa,78,11.014493,76,62.826011,6.9,5.703940,6.631755,5.591389,5.687246
39,Hause,Aston Villa,44,1.000000,6,4.993874,6.0,4.993874,6.444446,4.972942,5.097471
506,Wilson,Newcastle Utd,66,11.060606,73,64.085688,6.6,5.794049,6.426850,5.845956,5.875158
390,Son,Tottenham,96,12.954545,114,80.571180,8.8,6.219530,6.246433,6.395130,6.357261
141,Zaha,Crystal Palace,75,11.014493,76,64.551594,6.9,5.860605,6.098052,5.871788,5.849410
224,Vardy,Leicester City,103,12.027027,89,80.352110,7.4,6.680962,5.876422,6.353479,6.572963
514,Watkins,Aston Villa,61,11.063830,52,55.746422,4.7,5.038619,5.815339,4.891130,4.980082
164,Calvert-Lewin,Everton,79,12.941176,88,71.919266,6.8,5.557398,5.614706,5.421917,5.524620
202,Bamford,Leeds United,63,13.064516,81,77.419266,6.2,5.925919,5.493880,6.006252,5.885444
12,Martínez,Aston Villa,48,11.090909,61,50.241148,5.5,4.529940,5.460394,4.607771,4.672735
96,Pope,Burnley,54,11.034483,64,54.014021,5.8,4.895021,5.459057,5.045830,4.761690
306,Rashford,Manchester Utd,94,12.000000,66,55.080279,5.5,4.590023,5.314474,4.681400,4.658130
251,Mané,Liverpool,119,12.000000,60,67.839674,5.0,5.653306,5.307371,5.906060,5.607083
40,Trézéguet,Aston Villa,53,8.928571,25,39.871319,2.8,4.465588,5.287206,4.373202,4.456897
105,Jorginho,Chelsea,48,6.981132,37,34.880891,5.3,4.996452,5.253458,4.813122,4.933389
232,Chilwell,Chelsea,62,10.000000,65,50.248074,6.5,5.024807,5.179588,4.879777,5.065821
117,Werner,Chelsea,94,13.111111,59,64.725688,4.5,4.936705,5.169754,4.779704,4.858440
508,Rodríguez,Everton,77,10.000000,49,50.108207,4.9,5.010821,5.149858,4.951896,4.978413
597,Sánchez,Brighton,44,2.000000,10,8.831991,5.0,4.415996,5.100619,4.560547,4.392452
275,Mahrez,Manchester City,85,8.965517,52,47.732028,5.8,5.323957,5.058375,5.073555,5.336467
470,Kilman,Wolves,42,7.021277,33,30.530814,4.7,4.348328,5.013425,4.341319,4.420049
276,Sterling,Manchester City,114,10.961538,57,57.329789,5.2,5.230086,4.996672,5.004790,5.243674
563,Ait Nouri,Wolves,50,4.000000,20,16.956320,5.0,4.239080,4.908083,4.223084,4.307255
166,Richarlison,Everton,78,10.000000,45,48.352110,4.5,4.835211,4.881853,4.724946,4.808534
33,Hourihane,Aston Villa,60,4.000000,20,17.100296,5.0,4.275074,4.861657,4.227318,4.284096
277,Cancelo,Manchester City,55,7.916667,38,37.859045,4.8,4.782195,4.843303,4.657389,4.869871
461,Saïss,Wolves,51,8.076923,42,33.706032,5.2,4.173128,4.840446,4.161007,4.242832
106,Barkley,Aston Villa,59,8.000000,32,32.994170,4.0,4.124271,4.811988,4.057311,4.125671
68,Maupay,Brighton,61,11.052632,42,48.466422,3.8,4.385057,4.791997,4.287906,4.432163
155,Digne,Everton,61,8.095238,34,35.362967,4.2,4.368367,4.763897,4.512378,4.330602
41,Mings,Aston Villa,53,10.943396,58,39.671458,5.3,3.625150,4.729874,3.669891,3.754812
123,James,Chelsea,53,12.000000,54,53.907413,4.5,4.492284,4.630090,4.358690,4.538999
165,Holgate,Everton,48,4.000000,22,16.662306,5.5,4.165576,4.567053,4.295533,4.124411
366,Ings,Southampton,84,10.000000,61,49.959266,6.1,4.995927,4.533834,5.040818,5.012827
325,Darlow,Newcastle Utd,50,12.051282,47,50.593741,3.9,4.198204,4.489534,4.087433,4.150414
273,Stones,Manchester City,48,4.000000,22,17.191852,5.5,4.297963,4.424206,4.223992,4.387821
455,Patrício,Wolves,55,12.894737,49,48.655243,3.8,3.773264,4.421282,3.805548,3.860489
29,El Mohamady,Aston Villa,43,3.928571,11,13.190219,2.8,3.357510,4.398292,3.414392,3.491991
383,Lloris,Tottenham,56,12.978723,61,58.414410,4.7,4.500782,4.397636,4.401708,4.465761
255,Robertson,Liverpool,72,12.888889,58,55.345037,4.5,4.294011,4.376022,4.709443,4.422122
377,Adams,Southampton,60,13.000000,65,61.532110,5.0,4.733239,4.310971,4.774262,4.748683
46,Konsa,Aston Villa,48,10.000000,49,32.538740,4.9,3.253874,4.288352,3.311953,3.388830
474,Neto,Wolves,58,13.061224,64,53.183609,4.9,4.071870,4.280392,3.972920,4.051449
114,Ziyech,Chelsea,81,7.021277,33,29.122195,4.7,4.147707,4.274691,4.051970,4.128309
77,Lamptey,Brighton,48,10.937500,35,37.406717,3.2,3.420043,4.220670,3.536900,3.409928
110,Zouma,Chelsea,57,12.068966,70,48.996837,5.8,4.059738,4.171573,3.943639,4.115174

In [12]:
# save predictions
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players.to_csv(filepath)