In [1]:
# recent gameweek
latest_gameweek = 10

In [2]:
import pandas as pd
import numpy as np
import json
import requests
from scipy.stats import poisson

# allow more data columns to be shown than by default
pd.set_option('max_columns',100)

In [3]:
# fetch FPL fixtures online
fixtures_text = json.loads(requests.get('https://fantasy.premierleague.com/api/fixtures').text)
fixtures = pd.DataFrame(fixtures_text)
fixtures.head(20)

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,pulse_id,started,stats,team_a,team_a_difficulty,team_a_score,team_h,team_h_difficulty,team_h_score
0,2128386,NaN,False,False,99,None,0,False,58996,None,[],14,3,NaN,2,2,NaN
1,2128286,NaN,False,False,379,None,0,False,58896,None,[],13,2,NaN,4,4,NaN
2,2128290,NaN,False,False,380,None,0,False,58900,None,[],2,5,NaN,12,3,NaN
3,2128288,1.0,True,True,2,2020-09-12T11:30:00Z,90,False,58898,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",1,2,3.0,8,3,0.0
4,2128287,1.0,True,True,1,2020-09-12T14:00:00Z,90,False,58897,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",16,3,0.0,6,3,1.0
5,2128289,1.0,True,True,3,2020-09-12T16:30:00Z,90,False,58899,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",10,5,3.0,11,2,4.0
6,2128293,1.0,True,True,6,2020-09-12T19:00:00Z,90,False,58903,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",14,3,2.0,19,2,0.0
7,2128292,1.0,True,True,5,2020-09-13T13:00:00Z,90,False,58902,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",9,2,3.0,18,4,0.0
8,2128291,1.0,True,True,4,2020-09-13T15:30:00Z,90,False,58901,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",7,4,1.0,17,3,0.0
9,2128295,1.0,True,True,8,2020-09-14T17:00:00Z,90,False,58905,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",20,2,2.0,15,3,0.0
10,2128294,1.0,True,True,7,2020-09-14T19:15:00Z,90,False,58904,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,2,3.0,3,4,1.0
11,2128299,2.0,True,True,12,2020-09-19T11:30:00Z,90,False,58909,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",18,3,2.0,7,2,5.0
12,2128300,2.0,True,True,13,2020-09-19T14:00:00Z,90,False,58910,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",8,3,3.0,10,2,4.0
13,2128302,2.0,True,True,15,2020-09-19T16:30:00Z,90,False,58912,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",6,4,3.0,13,3,1.0
14,2128296,2.0,True,True,9,2020-09-19T19:00:00Z,90,False,58906,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",19,3,1.0,1,3,2.0
15,2128304,2.0,True,True,17,2020-09-20T11:00:00Z,90,False,58914,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",17,3,5.0,16,4,2.0
16,2128303,2.0,True,True,16,2020-09-20T13:00:00Z,90,False,58913,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,3,3.0,14,2,0.0
17,2128298,2.0,True,True,11,2020-09-20T15:30:00Z,90,False,58908,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",11,4,2.0,5,4,0.0
18,2128301,2.0,True,True,14,2020-09-20T18:00:00Z,90,False,58911,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,4,2.0,9,2,4.0
19,2128297,2.0,True,True,10,2020-09-21T17:00:00Z,90,False,58907,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",15,3,0.0,2,2,1.0

In [4]:
filepath = '../data/fbref/team_stats_week' + str(latest_gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col='Squad')
display(teamStats)

,Rk,MP,W,D,L,GF,GA,GDiff,Pts,xG,xGA,xGDiff,xGDiff/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes,xG per game,xGA per game,probability no goals allowed
Squad,,,,,,,,,,,,,,,,,,,,,
Tottenham,1,10,6,3,1,21,9,12,21,15.8,11.1,4.8,0.48,W W W W D,NaN,Son Heung-min - 9,Hugo Lloris,NaN,1.580000,1.110000,0.329559
Liverpool,2,10,6,3,1,22,17,5,21,22.7,14.9,7.8,0.78,W W D W D,NaN,Mohamed Salah - 8,Alisson,NaN,2.270000,1.490000,0.225373
Chelsea,3,10,5,4,1,22,10,12,19,15.8,9.8,6.0,0.60,D W W W D,NaN,Timo Werner - 4,Edouard Mendy,NaN,1.580000,0.980000,0.375311
Leicester City,4,10,6,0,4,19,14,5,18,15.8,13.6,2.3,0.23,W W W L L,NaN,Jamie Vardy - 8,Kasper Schmeichel,NaN,1.580000,1.360000,0.256661
West Ham,5,10,5,2,3,17,11,6,17,13.2,12.8,0.5,0.05,D L W W W,NaN,Jarrod Bowen - 4,Łukasz Fabiański,NaN,1.320000,1.280000,0.278037
Southampton,6,10,5,2,3,19,16,3,17,10.6,12.7,-2.1,-0.21,W W W D L,NaN,Danny Ings - 5,Alex McCarthy,NaN,1.060000,1.270000,0.280832
Wolves,7,10,5,2,3,11,11,0,17,10.3,11.9,-1.6,-0.16,D W L D W,NaN,Raúl Jiménez - 4,Rui Patrício,NaN,1.030000,1.190000,0.304221
Everton,8,10,5,1,4,19,17,2,16,15.3,14.1,1.2,0.12,L L L W L,NaN,Dominic Calvert-Lewin - 10,Jordan Pickford,NaN,1.530000,1.410000,0.244143
Manchester Utd,9,9,5,1,3,16,16,0,16,13.3,11.2,2.1,0.23,D L W W W,NaN,Bruno Fernandes - 7,David de Gea,NaN,1.477778,1.244444,0.288101
Aston Villa,10,9,5,0,4,20,13,7,15,15.9,11.5,4.4,0.49,L L W L L,NaN,Ollie Watkins - 6,Emiliano Martínez,NaN,1.766667,1.277778,0.278656
Manchester City,11,9,4,3,2,15,11,4,15,14.1,9.6,4.5,0.50,D W D L W,NaN,Riyad Mahrez - 4,Ederson,NaN,1.566667,1.066667,0.344154
Leeds United,12,10,4,2,4,15,17,-2,14,17.8,16.8,1.1,0.11,W L L D W,NaN,Patrick Bamford - 7,Illan Meslier,NaN,1.780000,1.680000,0.186374
Newcastle Utd,13,10,4,2,4,12,15,-3,14,11.1,13.9,-2.7,-0.27,D W L L W,NaN,Callum Wilson - 7,Karl Darlow,NaN,1.110000,1.390000,0.249075
Arsenal,14,10,4,1,5,10,12,-2,13,11.3,13.9,-2.6,-0.26,L W L D L,NaN,Alexandre Lacazette - 3,Bernd Leno,NaN,1.130000,1.390000,0.249075
Crystal Palace,15,10,4,1,5,12,15,-3,13,10.2,14.2,-4.0,-0.40,W L W L L,NaN,Wilfried Zaha - 5,Vicente Guaita,NaN,1.020000,1.420000,0.241714
Brighton,16,10,2,4,4,14,16,-2,10,13.5,9.9,3.7,0.37,D L D W D,NaN,Neal Maupay - 4,Mathew Ryan,NaN,1.350000,0.990000,0.371577
Fulham,17,10,2,1,7,11,19,-8,7,12.4,14.7,-2.3,-0.23,L W L L W,NaN,Bobby Reid - 3,Alphonse Areola,NaN,1.240000,1.470000,0.229925
West Brom,18,10,1,3,6,7,18,-11,6,6.7,19.1,-12.5,-1.25,D L L L W,NaN,Callum Robinson - 2,Sam Johnstone,NaN,0.670000,1.910000,0.148080
Burnley,19,9,1,2,6,4,17,-13,5,7.4,12.6,-5.2,-0.58,L L D W L,NaN,Chris Wood - 2,Nick Pope,NaN,0.822222,1.400000,0.246597
Sheffield Utd,20,10,0,1,9,4,16,-12,1,10.7,16.0,-5.3,-0.53,L L L L L,NaN,David McGoldrick - 2,Aaron Ramsdale,NaN,1.070000,1.600000,0.201897

In [5]:
# fetch FPL data
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players = pd.read_csv(filepath, index_col=0)
players.head()

,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,code,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,creativity,creativity_rank,creativity_rank_type,direct_freekicks_order,direct_freekicks_text,dreamteam_count,element_type,ep_next,ep_this,event_points,first_name,form,goals_conceded,goals_scored,ict_index,ict_index_rank,ict_index_rank_type,in_dreamteam,influence,influence_rank,influence_rank_type,minutes,news,news_added,now_cost,own_goals,penalties_missed,penalties_order,penalties_saved,penalties_text,photo,points_per_game,red_cards,saves,second_name,selected_by_percent,special,...,xPoints week 3,xG_week3,goals_week3,xGA_week3,cleansheet_week3,xA_week3,assists_week3,xPoints week 4,xG_week4,goals_week4,xGA_week4,cleansheet_week4,xA_week4,assists_week4,xPoints week 5,xG_week5,goals_week5,xGA_week5,cleansheet_week5,xA_week5,assists_week5,xPoints week 6,xG_week6,goals_week6,xGA_week6,cleansheet_week6,xA_week6,assists_week6,xPoints week 7,xG_week7,goals_week7,xGA_week7,cleansheet_week7,xA_week7,assists_week7,xPoints week 8,xG_week8,goals_week8,xGA_week8,cleansheet_week8,xA_week8,assists_week8,xPoints week 9,xG_week9,goals_week9,xGA_week9,cleansheet_week9,xA_week9,assists_week9,form 5
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0.0,0.0,0,37605,NaN,NaN,0,0,-2,2,0.0,603,240,NaN,NaN,0,3,0.0,0.0,0,Mesut,0.0,0,0,0.0,603,240,False,0.0,603,240,0,Not included in Arsenal's 25-man Premier Leagu...,2020-10-20T22:30:18.118477Z,68,0,0,NaN,0,NaN,37605.jpg,0.0,0,0,Özil,0.6,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,0,0,0.0,0.0,0,39476,NaN,NaN,0,0,-1,1,0.0,555,212,NaN,NaN,0,2,0.0,0.0,0,Sokratis,0.0,0,0,0.0,566,212,False,0.0,565,212,0,Not included in Arsenal's 25-man Premier Leagu...,2020-10-21T10:30:18.546407Z,49,0,0,NaN,0,NaN,39476.jpg,0.0,0,0,Papastathopoulos,0.1,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,0,52,75.0,75.0,0,41270,NaN,NaN,0,0,0,0,23.1,260,74,4.0,NaN,0,2,0.0,0.4,0,David,0.0,7,0,11.7,285,95,False,72.0,223,85,364,Head injury - 75% chance of playing,2020-11-26T23:30:22.462494Z,55,0,0,NaN,0,NaN,41270.jpg,1.2,0,0,Luiz Moreira Marinho,0.9,False,...,1.199148,0.0,0.0,3.0,0.0,0.0,0.0,5.274923,0.0,0.0,0.2,0.0,0.0,0.0,3.586388,0.1,0.0,1.4,0.0,0.0,0.0,1.000000,0.0,0.0,1.2,0.0,0.0,0.0,NaN,NaN,NaN,0.3,0.0,NaN,NaN,NaN,NaN,NaN,1.8,0.0,NaN,NaN,NaN,NaN,NaN,2.5,0.0,NaN,NaN,0.500000
4,1,1,117,100.0,100.0,3,54694,NaN,NaN,0,0,-4,4,163.5,37,27,NaN,NaN,0,3,2.3,2.8,2,Pierre-Emerick,2.3,12,2,55.4,38,23,False,139.6,117,42,896,NaN,2020-10-08T09:00:12.305506Z,116,0,0,1.0,0,NaN,54694.jpg,3.5,0,0,Aubameyang,10.4,False,...,2.049787,0.0,0.0,3.0,0.0,0.0,0.0,2.818731,0.0,0.0,0.2,0.0,0.0,0.0,3.746597,0.0,0.0,1.4,0.0,0.5,0.0,4.101194,0.3,0.0,1.2,0.0,0.1,0.0,7.540818,0.9,1.0,0.3,1.0,0.1,0.0,2.765299,0.0,0.0,1.8,0.0,0.2,0.0,3.282085,0.3,0.0,2.5,1.0,-0.1,0.0,4.387199
5,0,0,0,100.0,100.0,0,58822,NaN,NaN,0,0,-3,3,0.0,532,207,NaN,NaN,0,2,0.0,0.5,0,Cédric,0.0,0,0,0.0,545,207,False,0.0,544,207,0,NaN,2020-09-23T09:00:14.881983Z,47,0,0,NaN,0,NaN,58822.jpg,0.0,0,0,Soares,0.2,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
coefficients = pd.DataFrame(np.nan, index=teamStats.index, columns=['xG','xGA','coefficient'])

for ix in coefficients.index:
    coefficients.loc[ix, 'xG'] = teamStats.loc[ix, 'xG per game']
    coefficients.loc[ix, 'xGA'] = teamStats.loc[ix, 'xGA per game']
    coefficients.loc[ix, 'coefficient'] = 0.755489209043063 * coefficients.loc[ix, 'xG']

display(coefficients)

                       xG       xGA  coefficient
Squad
Tottenham        1.580000  1.110000     1.193673
Liverpool        2.270000  1.490000     1.714961
Chelsea          1.580000  0.980000     1.193673
Leicester City   1.580000  1.360000     1.193673
West Ham         1.320000  1.280000     0.997246
Southampton      1.060000  1.270000     0.800819
Wolves           1.030000  1.190000     0.778154
Everton          1.530000  1.410000     1.155898
Manchester Utd   1.477778  1.244444     1.116445
Aston Villa      1.766667  1.277778     1.334698
Manchester City  1.566667  1.066667     1.183600
Leeds United     1.780000  1.680000     1.344771
Newcastle Utd    1.110000  1.390000     0.838593
Arsenal          1.130000  1.390000     0.853703
Crystal Palace   1.020000  1.420000     0.770599
Brighton         1.350000  0.990000     1.019910
Fulham           1.240000  1.470000     0.936807
West Brom        0.670000  1.910000     0.506178
Burnley          0.822222  1.400000     0.621180
Sheffield Utd    1.070000  1.600000     0.808373

In [7]:
def points_for_clean_sheet(position):
    if position < 3:
        return 4
    elif position==3:
        return 1
    elif position==4:
        return 0

In [8]:
goalkeepers = players['element_type'] == 1
defenders = players['element_type'] == 2
midfielders = players['element_type'] == 3
forwards = players['element_type'] == 4

In [9]:
home_coefficient = 1.0721855628874228
away_coefficient = 0.9280143971205758

In [10]:
team_names = np.sort(teamStats.index)
# for some reason the fpl team numbers are not alphabetical with leeds and leicester...
if (team_names[8]=='Leeds United') & (team_names[9]=='Leicester City'):
    team_names[8] = 'Leicester City'
    team_names[9] = 'Leeds United'
    
# how many gameweeks ahead do you want to look at
for number_gameweeks in [1,5,10]:
    expectations = pd.DataFrame(0, index=teamStats.index, \
                columns=['games','total_xG','total_xGA','xG per game', 'xGA per game'])
    gameweeks = np.arange(latest_gameweek+1, latest_gameweek+number_gameweeks+1)
    games = fixtures[fixtures['event'].isin(gameweeks)]
    for ix in games.index:
        home_team_number = games.loc[ix,'team_h']
        home_team = team_names[home_team_number-1]
        away_team_number = games.loc[ix,'team_a']
        away_team = team_names[away_team_number-1]

        home_xG = home_coefficient * coefficients.loc[home_team,'coefficient'] * \
                                    coefficients.loc[away_team,'xGA']
        away_xG = away_coefficient * coefficients.loc[away_team,'coefficient'] * \
                                    coefficients.loc[home_team,'xGA']
        expectations.loc[home_team,'total_xG'] += home_xG
        expectations.loc[home_team,'total_xGA'] += away_xG
        expectations.loc[home_team,'games'] += 1
        expectations.loc[away_team,'total_xG'] += away_xG
        expectations.loc[away_team,'total_xGA'] += home_xG
        expectations.loc[away_team,'games'] += 1

    expectations['xG per game'] = expectations['total_xG'] / expectations['games']
    expectations['xGA per game'] = expectations['total_xGA'] / expectations['games']
    print('expectations:')
    display(expectations)

    new_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    coefficients[new_column] = expectations['xG per game'] / coefficients['xG']
    print('coefficients:')
    display(coefficients)
    
    new_column = 'next' + str(number_gameweeks) + '_xP'
    multiplier_xG_xA_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    for ix in players.index:
        team = players.loc[ix,'team_name']
        position = players.loc[ix, 'element_type']

        # adjust xP based on xg and xa for the next game
        xg_points_per_game = players.loc[ix,'xG_points'] / players.loc[ix,'games played']
        xa_points_per_game = players.loc[ix,'xA_points'] / players.loc[ix,'games played']
        xpoints = xg_points_per_game + xa_points_per_game
        players.loc[ix, new_column] = players.loc[ix, 'adjusted points per game'] - \
                            xpoints + coefficients.loc[team, multiplier_xG_xA_column]*xpoints    

        # adjust xP based on probability to keep a clean sheet for the next game
        clean_sheet_points_per_game = players.loc[ix,'clean_sheet_points'] / \
                                        players.loc[ix,'games played']
        probability_clean_sheet_next = poisson.pmf(0, expectations.loc[team, 'xGA per game'])
        players.loc[ix, new_column] = players.loc[ix, new_column] - clean_sheet_points_per_game \
                + points_for_clean_sheet(position) * probability_clean_sheet_next

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Tottenham            1  1.778976   0.879396     1.778976      0.879396
Liverpool            1  2.188120   1.075986     2.188120      1.075986
Chelsea              1  2.150129   1.223007     2.150129      1.223007
Leicester City       1  1.772393   1.178748     1.772393      1.178748
West Ham             1  1.330600   1.326179     1.330600      1.326179
Southampton          1  0.735739   1.388787     0.735739      1.388787
Wolves               1  1.075986   2.188120     1.075986      2.188120
Everton              1  1.501767   0.939089     1.501767      0.939089
Manchester Utd       1  1.326179   1.330600     1.326179      1.330600
Aston Villa          0  0.000000   0.000000          NaN           NaN
Manchester City      1  1.865487   0.927328     1.865487      0.927328
Leeds United         1  1.223007   2.150129     1.223007      2.150129
Newcastle Utd        0  0.000000   0.000000          NaN           NaN
Arsenal              1  0.879396   1.778976     0.879396      1.778976
Crystal Palace       1  1.365892   0.770657     1.365892      0.770657
Brighton             1  1.388787   0.735739     1.388787      0.735739
Fulham               1  0.927328   1.865487     0.927328      1.865487
West Brom            1  0.770657   1.365892     0.770657      1.365892
Burnley              1  0.939089   1.501767     0.939089      1.501767
Sheffield Utd        1  1.178748   1.772393     1.178748      1.772393

coefficients:

                       xG       xGA  coefficient  next1_xG_xA_multiplier
Squad
Tottenham        1.580000  1.110000     1.193673                1.125934
Liverpool        2.270000  1.490000     1.714961                0.963929
Chelsea          1.580000  0.980000     1.193673                1.360841
Leicester City   1.580000  1.360000     1.193673                1.121768
West Ham         1.320000  1.280000     0.997246                1.008031
Southampton      1.060000  1.270000     0.800819                0.694094
Wolves           1.030000  1.190000     0.778154                1.044646
Everton          1.530000  1.410000     1.155898                0.981547
Manchester Utd   1.477778  1.244444     1.116445                0.897414
Aston Villa      1.766667  1.277778     1.334698                     NaN
Manchester City  1.566667  1.066667     1.183600                1.190736
Leeds United     1.780000  1.680000     1.344771                0.687083
Newcastle Utd    1.110000  1.390000     0.838593                     NaN
Arsenal          1.130000  1.390000     0.853703                0.778226
Crystal Palace   1.020000  1.420000     0.770599                1.339110
Brighton         1.350000  0.990000     1.019910                1.028731
Fulham           1.240000  1.470000     0.936807                0.747845
West Brom        0.670000  1.910000     0.506178                1.150235
Burnley          0.822222  1.400000     0.621180                1.142135
Sheffield Utd    1.070000  1.600000     0.808373                1.101633

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Squad
Tottenham            5   8.061314   5.993224     1.612263      1.198645
Liverpool            5  12.340621   6.154117     2.468124      1.230823
Chelsea              5   8.208228   5.059168     1.641646      1.011834
Leicester City       5   7.666293   7.074481     1.533259      1.414896
West Ham             5   6.369170   6.936804     1.273834      1.387361
Southampton          5   5.150879   6.174577     1.030176      1.234915
Wolves               5   4.896801   7.091074     0.979360      1.418215
Everton              5   7.614161   6.644737     1.522832      1.328947
Manchester Utd       5   7.680827   6.921802     1.536165      1.384360
Aston Villa          4   7.875260   3.409920     1.968815      0.852480
Manchester City      5   8.815174   4.451199     1.763035      0.890240
Leeds United         5   8.644337   7.991800     1.728867      1.598360
Newcastle Utd        4   5.176579   5.629490     1.294145      1.407372
Arsenal              5   5.337413   6.875715     1.067483      1.375143
Crystal Palace       5   5.343214   8.153990     1.068643      1.630798
Brighton             5   7.028521   4.798387     1.405704      0.959677
Fulham               5   5.902367   8.010525     1.180473      1.602105
West Brom            5   3.318037  11.384875     0.663607      2.276975
Burnley              5   4.237990   7.816261     0.847598      1.563252
Sheffield Utd        5   5.174837   8.269876     1.034967      1.653975

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier
Squad,,,,,
Tottenham,1.580000,1.110000,1.193673,1.125934,1.020420
Liverpool,2.270000,1.490000,1.714961,0.963929,1.087279
Chelsea,1.580000,0.980000,1.193673,1.360841,1.039016
Leicester City,1.580000,1.360000,1.193673,1.121768,0.970417
West Ham,1.320000,1.280000,0.997246,1.008031,0.965026
Southampton,1.060000,1.270000,0.800819,0.694094,0.971864
Wolves,1.030000,1.190000,0.778154,1.044646,0.950835
Everton,1.530000,1.410000,1.155898,0.981547,0.995315
Manchester Utd,1.477778,1.244444,1.116445,0.897414,1.039510
Aston Villa,1.766667,1.277778,1.334698,NaN,1.114424
Manchester City,1.566667,1.066667,1.183600,1.190736,1.125341
Leeds United,1.780000,1.680000,1.344771,0.687083,0.971274
Newcastle Utd,1.110000,1.390000,0.838593,NaN,1.165896
Arsenal,1.130000,1.390000,0.853703,0.778226,0.944675
Crystal Palace,1.020000,1.420000,0.770599,1.339110,1.047689
Brighton,1.350000,0.990000,1.019910,1.028731,1.041262
Fulham,1.240000,1.470000,0.936807,0.747845,0.951995
West Brom,0.670000,1.910000,0.506178,1.150235,0.990459
Burnley,0.822222,1.400000,0.621180,1.142135,1.030862
Sheffield Utd,1.070000,1.600000,0.808373,1.101633,0.967259

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Squad
Tottenham           10  17.187613  12.660566     1.718761      1.266057
Liverpool           10  23.203094  13.082816     2.320309      1.308282
Chelsea             10  15.866668  10.295723     1.586667      1.029572
Leicester City      10  15.220617  13.623707     1.522062      1.362371
West Ham            10  13.702709  12.018908     1.370271      1.201891
Southampton         10  10.982003  13.833817     1.098200      1.383382
Wolves              10   9.988034  13.175353     0.998803      1.317535
Everton             10  14.855134  14.254466     1.485513      1.425447
Manchester Utd      10  15.616894  13.833602     1.561689      1.383360
Aston Villa          9  15.970794  10.211955     1.774533      1.134662
Manchester City     10  16.596667   9.489611     1.659667      0.948961
Leeds United        10  17.406437  15.402861     1.740644      1.540286
Newcastle Utd        9  11.576523  13.593181     1.286280      1.510353
Arsenal             10  11.213160  12.419353     1.121316      1.241935
Crystal Palace      10  10.603237  15.208198     1.060324      1.520820
Brighton            10  14.057027   9.842079     1.405703      0.984208
Fulham              10  11.179462  15.629851     1.117946      1.562985
West Brom           10   6.723332  21.015421     0.672333      2.101542
Burnley             10   8.730503  15.888884     0.873050      1.588888
Sheffield Utd       10  10.390726  15.590282     1.039073      1.559028

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier,next10_xG_xA_multiplier
Squad,,,,,,
Tottenham,1.580000,1.110000,1.193673,1.125934,1.020420,1.087824
Liverpool,2.270000,1.490000,1.714961,0.963929,1.087279,1.022163
Chelsea,1.580000,0.980000,1.193673,1.360841,1.039016,1.004220
Leicester City,1.580000,1.360000,1.193673,1.121768,0.970417,0.963330
West Ham,1.320000,1.280000,0.997246,1.008031,0.965026,1.038084
Southampton,1.060000,1.270000,0.800819,0.694094,0.971864,1.036038
Wolves,1.030000,1.190000,0.778154,1.044646,0.950835,0.969712
Everton,1.530000,1.410000,1.155898,0.981547,0.995315,0.970924
Manchester Utd,1.477778,1.244444,1.116445,0.897414,1.039510,1.056782
Aston Villa,1.766667,1.277778,1.334698,NaN,1.114424,1.004452
Manchester City,1.566667,1.066667,1.183600,1.190736,1.125341,1.059362
Leeds United,1.780000,1.680000,1.344771,0.687083,0.971274,0.977890
Newcastle Utd,1.110000,1.390000,0.838593,NaN,1.165896,1.158811
Arsenal,1.130000,1.390000,0.853703,0.778226,0.944675,0.992315
Crystal Palace,1.020000,1.420000,0.770599,1.339110,1.047689,1.039533
Brighton,1.350000,0.990000,1.019910,1.028731,1.041262,1.041261
Fulham,1.240000,1.470000,0.936807,0.747845,0.951995,0.901570
West Brom,0.670000,1.910000,0.506178,1.150235,0.990459,1.003482
Burnley,0.822222,1.400000,0.621180,1.142135,1.030862,1.061818
Sheffield Utd,1.070000,1.600000,0.808373,1.101633,0.967259,0.971096

In [11]:
metric = 'next1_xP'
#minGames = players['games played'] >= 3

numberToShow = 50
display(players.sort_values(by=[metric], ascending=False)[['web_name','team_name',\
         'now_cost','games played','total_points','adjusted points','points_per_game',\
         'adjusted points per game','next1_xP','next5_xP','next10_xP']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,next1_xP,next5_xP,next10_xP
id,,,,,,,,,,,
388,Kane,Tottenham,109,10.000000,86,74.651067,8.6,7.465107,7.902602,7.536044,7.770206
141,Zaha,Crystal Palace,73,7.941176,54,47.739731,6.8,6.011670,7.165293,6.096884,6.097213
224,Vardy,Leicester City,103,9.041096,66,60.690356,7.3,6.712721,7.153402,6.605659,6.580012
254,Salah,Liverpool,122,9.012346,73,64.191373,8.1,7.122604,7.097390,7.529982,7.254029
272,De Bruyne,Manchester City,117,7.959184,39,47.929776,4.9,6.021946,6.630332,6.454334,6.238265
302,Fernandes,Manchester Utd,109,9.024390,74,62.740409,8.2,6.952316,6.574091,7.051211,7.111137
390,Son,Tottenham,95,10.000000,87,61.475827,8.7,6.147583,6.550412,6.171084,6.321280
251,Mané,Liverpool,120,8.928571,50,55.582612,5.6,6.225252,6.213180,6.600831,6.348602
105,Jorginho,Chelsea,50,6.981132,37,34.880334,5.3,4.996372,5.756887,5.075599,4.988061
282,Jesus,Manchester City,93,4.000000,22,21.090119,5.5,5.272530,5.706454,5.557681,5.407577
277,Cancelo,Manchester City,56,5.000000,25,26.373194,5.0,5.274639,5.652124,5.653060,5.500021
164,Calvert-Lewin,Everton,79,10.000000,72,56.590119,7.2,5.659012,5.609926,5.646550,5.581669
275,Mahrez,Manchester City,83,7.031250,45,36.209950,6.4,5.149860,5.575667,5.462266,5.309356
232,Chilwell,Chelsea,62,7.000000,56,37.988948,8.0,5.426993,5.489739,5.421758,5.358908
117,Werner,Chelsea,95,10.000000,50,47.670356,5.0,4.767036,5.477893,4.843898,4.775348
389,Aurier,Tottenham,52,4.032258,25,19.705586,6.2,4.886985,5.397535,4.802506,4.814128
508,Rodríguez,Everton,78,9.038462,47,46.077035,5.2,5.097885,5.206139,5.108701,5.033342
202,Bamford,Leeds United,61,10.000000,62,60.580237,6.2,6.058024,5.100497,5.970122,5.990366
68,Maupay,Brighton,63,9.069767,39,44.350119,4.3,4.889885,4.963885,4.996160,4.996157
114,Ziyech,Chelsea,83,6.037736,32,27.736385,5.3,4.593839,4.961104,4.630545,4.580929
118,Abraham,Chelsea,72,9.047619,38,38.680237,4.2,4.275184,4.941221,4.347200,4.282972
166,Richarlison,Everton,78,7.073171,29,35.280474,4.1,4.987929,4.940134,4.975795,4.912620
468,Jota,Liverpool,69,7.931034,46,37.887438,5.8,4.777112,4.819477,5.020968,4.867014
155,Digne,Everton,62,8.095238,34,34.156185,4.2,4.219293,4.792296,4.298097,4.181696
431,Fabianski,West Ham,51,10.000000,53,48.121492,5.3,4.812149,4.761959,4.698934,4.902501
383,Lloris,Tottenham,55,10.000000,47,44.182358,4.7,4.418236,4.760134,4.306411,4.227765
255,Robertson,Liverpool,72,10.000000,45,43.285262,4.5,4.328526,4.757336,4.676413,4.528783
359,Mousset,Sheffield Utd,58,1.000000,1,4.300000,1.0,4.300000,4.635391,4.191955,4.204617
276,Sterling,Manchester City,114,8.095238,34,34.776125,4.2,4.295874,4.630068,4.548078,4.426859
457,Doherty,Tottenham,58,6.000000,24,24.899534,4.0,4.149922,4.554788,4.048307,4.003363
366,Ings,Southampton,83,7.014925,47,35.400237,6.7,5.046417,4.504807,4.996601,5.110223
450,Fornals,West Ham,65,10.000000,49,44.640847,4.9,4.464085,4.463503,4.383669,4.543418
123,James,Chelsea,51,9.038462,47,41.359058,5.2,4.575896,4.443656,4.549579,4.505531
252,Alisson,Liverpool,59,8.000000,32,31.211925,4.0,3.901491,4.363846,4.168208,4.081137
498,Castagne,Leicester City,57,6.034483,35,24.465616,5.8,4.054302,4.324904,3.983284,4.031818
417,Johnstone,West Brom,45,10.000000,41,38.923215,4.1,3.892322,4.320611,3.710376,3.789071
306,Rashford,Manchester Utd,95,8.958333,43,40.441378,4.8,4.514386,4.319978,4.542485,4.571464
377,Adams,Southampton,59,10.000000,50,48.760474,5.0,4.876047,4.300944,4.823152,4.943799
139,van Aanholt,Crystal Palace,54,5.000000,9,15.724399,1.8,3.144880,4.293365,2.998314,3.082990
249,Firmino,Liverpool,92,10.000000,35,43.680237,3.5,4.368024,4.293357,4.548692,4.413901
96,Pope,Burnley,54,7.959184,39,34.850842,4.9,4.378696,4.283253,4.230123,4.208917
445,Bowen,West Ham,63,10.000000,52,42.270492,5.2,4.227049,4.225343,4.151530,4.301051
588,Welbeck,Brighton,55,4.047619,17,16.890119,4.2,4.172853,4.214733,4.232999,4.232997
435,Cresswell,West Ham,52,10.000000,47,42.391848,4.7,4.239185,4.194054,4.103936,4.353530
235,Barnes,Leicester City,69,10.000000,42,39.656726,4.2,3.965673,4.188368,3.910250,3.913360
542,Reguilón,Tottenham,56,6.000000,27,22.489652,4.5,3.748275,4.165734,3.648702,3.610499
259,Alexander-Arnold,Liverpool,72,8.076923,21,30.071389,2.6,3.723124,4.150646,4.074129,3.924173
386,Alderweireld,Tottenham,54,6.046512,26,22.870728,4.3,3.782467,4.143110,3.673681,3.605068
273,Stones,Manchester City,48,2.000000,8,7.653230,4.0,3.826615,4.118269,4.148633,4.025285
280,Laporte,Manchester City,60,4.000000,12,15.306461,3.0,3.826615,4.118269,4.148633,4.025285

In [12]:
# save predictions
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players.to_csv(filepath)