In [1]:
# recent gameweek
latest_gameweek = 4

In [2]:
import pandas as pd
import numpy as np
import json
import requests
from scipy.stats import poisson

# allow more data columns to be shown than by default
pd.set_option('max_columns',100)

In [3]:
# fetch FPL fixtures online
fixtures_text = json.loads(requests.get('https://fantasy.premierleague.com/api/fixtures').text)
fixtures = pd.DataFrame(fixtures_text)
fixtures.head(20)

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,pulse_id,started,stats,team_a,team_a_difficulty,team_a_score,team_h,team_h_difficulty,team_h_score
0,2128286,NaN,False,False,379,None,0,False,58896,None,[],13,3,NaN,4,4,NaN
1,2128290,NaN,False,False,380,None,0,False,58900,None,[],2,5,NaN,12,2,NaN
2,2128288,1.0,True,True,2,2020-09-12T11:30:00Z,90,False,58898,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",1,2,3.0,8,3,0.0
3,2128287,1.0,True,True,1,2020-09-12T14:00:00Z,90,False,58897,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",16,2,0.0,6,3,1.0
4,2128289,1.0,True,True,3,2020-09-12T16:30:00Z,90,False,58899,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",10,5,3.0,11,2,4.0
5,2128293,1.0,True,True,6,2020-09-12T19:00:00Z,90,False,58903,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",14,2,2.0,19,2,0.0
6,2128292,1.0,True,True,5,2020-09-13T13:00:00Z,90,False,58902,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",9,2,3.0,18,3,0.0
7,2128291,1.0,True,True,4,2020-09-13T15:30:00Z,90,False,58901,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",7,4,1.0,17,2,0.0
8,2128295,1.0,True,True,8,2020-09-14T17:00:00Z,90,False,58905,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",20,4,2.0,15,3,0.0
9,2128294,1.0,True,True,7,2020-09-14T19:15:00Z,90,False,58904,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,2,3.0,3,3,1.0
10,2128299,2.0,True,True,12,2020-09-19T11:30:00Z,90,False,58909,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",18,3,2.0,7,2,5.0
11,2128300,2.0,True,True,13,2020-09-19T14:00:00Z,90,False,58910,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",8,2,3.0,10,2,4.0
12,2128302,2.0,True,True,15,2020-09-19T16:30:00Z,90,False,58912,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",6,4,3.0,13,2,1.0
13,2128296,2.0,True,True,9,2020-09-19T19:00:00Z,90,False,58906,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",19,4,1.0,1,2,2.0
14,2128304,2.0,True,True,17,2020-09-20T11:00:00Z,90,False,58914,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",17,2,5.0,16,3,2.0
15,2128303,2.0,True,True,16,2020-09-20T13:00:00Z,90,False,58913,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,3,3.0,14,2,0.0
16,2128298,2.0,True,True,11,2020-09-20T15:30:00Z,90,False,58908,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",11,4,2.0,5,4,0.0
17,2128301,2.0,True,True,14,2020-09-20T18:00:00Z,90,False,58911,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,4,2.0,9,3,4.0
18,2128297,2.0,True,True,10,2020-09-21T17:00:00Z,90,False,58907,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",15,2,0.0,2,3,1.0
19,2128305,2.0,True,True,18,2020-09-21T19:15:00Z,90,False,58915,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",12,3,3.0,20,4,1.0

In [4]:
filepath = '../data/fbref/team_stats_week' + str(latest_gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col='Squad')
display(teamStats)

,Rk,MP,W,D,L,GF,GA,GDiff,Pts,xG,xGA,xGDiff,xGDiff/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes,xG per game,xGA per game,probability no goals allowed
Squad,,,,,,,,,,,,,,,,,,,,,
Everton,1,4,4,0,0,12,5,7,12,8.6,2.9,5.7,1.41,W W W W,NaN,Dominic Calvert-Lewin - 6,Jordan Pickford,NaN,2.150000,0.725000,0.484325
Aston Villa,2,3,3,0,0,11,2,9,9,6.6,3.3,3.2,1.07,W W W,NaN,Ollie Watkins Jack Grealish - 3,Emiliano Martínez,NaN,2.200000,1.100000,0.332871
Leicester City,3,4,3,0,1,12,7,5,9,6.6,4.9,1.7,0.41,W W W L,NaN,Jamie Vardy - 5,Kasper Schmeichel,NaN,1.650000,1.225000,0.293758
Arsenal,4,4,3,0,1,8,5,3,9,4.7,5.3,-0.6,-0.14,W W L W,NaN,Alexandre Lacazette - 3,Bernd Leno,NaN,1.175000,1.325000,0.265803
Liverpool,5,4,3,0,1,11,11,0,9,10.6,6.7,3.9,0.98,W W W L,NaN,Mohamed Salah - 5,Alisson,NaN,2.650000,1.675000,0.187308
Tottenham,6,4,2,1,1,12,5,7,7,9.5,4.9,4.7,1.17,L W D W,NaN,Son Heung-min - 6,Hugo Lloris,NaN,2.375000,1.225000,0.293758
Chelsea,7,4,2,1,1,10,6,4,7,6.9,5.1,1.9,0.47,W L D W,NaN,Jorginho - 3,Kepa Arrizabalaga,NaN,1.725000,1.275000,0.279431
Leeds United,8,4,2,1,1,9,8,1,7,5.5,8.2,-2.7,-0.67,L W W D,NaN,Patrick Bamford - 3,Illan Meslier,NaN,1.375000,2.050000,0.128735
Newcastle Utd,9,4,2,1,1,6,5,1,7,5.0,5.6,-0.6,-0.15,W L D W,NaN,Callum Wilson - 4,Karl Darlow,NaN,1.250000,1.400000,0.246597
West Ham,10,4,2,0,2,8,4,4,6,6.2,3.8,2.4,0.61,L L W W,NaN,Jarrod Bowen - 3,Łukasz Fabiański,NaN,1.550000,0.950000,0.386741
Southampton,11,4,2,0,2,5,6,-1,6,4.2,3.8,0.4,0.09,L L W W,NaN,Danny Ings - 3,Alex McCarthy,NaN,1.050000,0.950000,0.386741
Crystal Palace,12,4,2,0,2,5,7,-2,6,2.8,6.5,-3.7,-0.92,W W L L,NaN,Wilfried Zaha - 3,Vicente Guaita,NaN,0.700000,1.625000,0.196912
Wolves,13,4,2,0,2,4,7,-3,6,3.9,4.9,-1.0,-0.25,W L L W,NaN,Raúl Jiménez - 2,Rui Patrício,NaN,0.975000,1.225000,0.293758
Manchester City,14,3,1,1,1,6,7,-1,4,4.4,5.2,-0.9,-0.28,W L D,NaN,Riyad Mahrez Nathan Aké... - 1,Ederson,NaN,1.466667,1.733333,0.176694
Brighton,15,4,1,0,3,8,10,-2,3,6.6,4.5,2.2,0.54,L W L L,NaN,Neal Maupay - 4,Mathew Ryan,NaN,1.650000,1.125000,0.324652
Manchester Utd,16,3,1,0,2,5,11,-6,3,3.1,7.8,-4.7,-1.58,L W L,NaN,Bruno Fernandes - 2,David de Gea,NaN,1.033333,2.600000,0.074274
West Brom,17,4,0,1,3,5,13,-8,1,1.8,9.0,-7.2,-1.79,L L D L,NaN,Callum Robinson - 2,Sam Johnstone,NaN,0.450000,2.250000,0.105399
Burnley,18,3,0,0,3,3,8,-5,0,3.0,4.0,-1.0,-0.32,L L L,NaN,Jimmy Dunne Chris Wood... - 1,Nick Pope,NaN,1.000000,1.333333,0.263597
Sheffield Utd,19,4,0,0,4,1,6,-5,0,3.3,4.1,-0.8,-0.20,L L L L,NaN,David McGoldrick - 1,Aaron Ramsdale,NaN,0.825000,1.025000,0.358796
Fulham,20,4,0,0,4,3,11,-8,0,3.4,6.3,-2.9,-0.73,L L L L,NaN,Aleksandar Mitrović - 2,Alphonse Areola,NaN,0.850000,1.575000,0.207008

In [5]:
# fetch FPL data
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players = pd.read_csv(filepath, index_col=0)
players.head()

,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,code,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,creativity,creativity_rank,creativity_rank_type,direct_freekicks_order,direct_freekicks_text,dreamteam_count,element_type,ep_next,ep_this,event_points,first_name,form,goals_conceded,goals_scored,ict_index,ict_index_rank,ict_index_rank_type,in_dreamteam,influence,influence_rank,influence_rank_type,minutes,news,news_added,now_cost,own_goals,penalties_missed,penalties_order,penalties_saved,penalties_text,photo,points_per_game,red_cards,saves,second_name,selected_by_percent,special,...,team_code,threat,threat_rank,threat_rank_type,total_points,transfers_in,transfers_in_event,transfers_out,transfers_out_event,value_form,value_season,web_name,yellow_cards,team_name,games played,adjusted points,xG,xG_points,xG_week4,goals_week4,xPoints week 4,clean_sheet_points,xGA_week4,cleansheet_week4,xA,xA_points,xA_week4,assists_week4,adjusted points per game,xPoints week 1,xG_week1,goals_week1,xGA_week1,cleansheet_week1,xA_week1,assists_week1,xPoints week 2,xG_week2,goals_week2,xGA_week2,cleansheet_week2,xA_week2,assists_week2,xPoints week 3,xG_week3,goals_week3,xGA_week3,cleansheet_week3,xA_week3,assists_week3
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,NaN,NaN,0,37605,NaN,NaN,0,0,-2,2,0.0,568,232,NaN,NaN,0,3,-0.5,0.5,0,Mesut,0.0,0,0,0.0,568,232,False,0.0,567,232,0,NaN,NaN,68,0,0,NaN,0,NaN,37605.jpg,0.0,0,0,Özil,0.8,False,...,3,0.0,567,231,0,2760,443,39534,3614,0.0,0.0,Özil,0,Arsenal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,0,0,100.0,75.0,0,39476,NaN,NaN,0,0,-1,1,0.0,476,188,NaN,NaN,0,2,-0.5,0.4,0,Sokratis,0.0,0,0,0.0,488,188,False,0.0,484,188,0,NaN,2020-09-11T11:00:08.600094Z,49,0,0,NaN,0,NaN,39476.jpg,0.0,0,0,Papastathopoulos,0.1,False,...,3,0.0,449,177,0,9919,157,16445,288,0.0,0.0,Sokratis,0,Arsenal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,0,27,100.0,100.0,0,41270,NaN,NaN,0,0,0,0,4.0,255,81,4.0,NaN,0,2,0.5,1.5,2,David,1.0,4,0,4.7,257,86,False,43.2,164,64,181,NaN,2020-09-10T14:30:11.632386Z,55,0,0,NaN,0,NaN,41270.jpg,1.3,0,0,Luiz Moreira Marinho,1.0,False,...,3,0.0,537,207,4,18215,2890,40948,4143,0.2,0.7,David Luiz,0,Arsenal,3.076923,7.271421,0.0,0.0,0.0,0.0,5.274923,3.271421,0.2,0.0,0.0,0.0,0.0,0.0,2.363212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,0.0,0.0,1.9,0.0,0.0,0.0,1.199148,0.0,0.0,3.0,0.0,0.0,0.0
4,1,0,54,75.0,NaN,1,54694,NaN,NaN,0,0,-1,1,57.2,60,44,6.0,NaN,0,3,2.6,4.5,2,Pierre-Emerick,4.0,5,1,23.8,41,22,False,78.2,69,26,360,Ankle injury - 75% chance of playing,2020-10-08T09:00:12.305506Z,119,0,0,1.0,0,NaN,54694.jpg,4.0,0,0,Aubameyang,24.3,False,...,3,103.0,30,13,16,324647,20449,1753242,284752,0.3,1.3,Aubameyang,1,Arsenal,4.000000,13.464038,0.5,2.5,0.0,0.0,2.818731,1.063212,0.2,0.0,0.5,1.5,0.0,0.0,3.366010,3.818731,0.4,1.0,0.2,1.0,0.0,0.0,5.61799,0.1,0.0,1.9,0.0,0.5,1.0,2.049787,0.0,0.0,3.0,0.0,0.0,0.0
5,0,0,0,100.0,100.0,0,58822,NaN,NaN,0,0,-2,2,0.0,468,186,NaN,NaN,0,2,-0.5,0.5,0,Cédric,0.0,0,0,0.0,482,186,False,0.0,478,186,0,NaN,2020-09-23T09:00:14.881983Z,48,0,0,NaN,0,NaN,58822.jpg,0.0,0,0,Soares,0.2,False,...,3,0.0,437,174,0,1951,383,26584,1095,0.0,0.0,Cédric,0,Arsenal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
coefficients = pd.DataFrame(np.nan, index=teamStats.index, columns=['xG','xGA','coefficient'])

for ix in coefficients.index:
    coefficients.loc[ix, 'xG'] = teamStats.loc[ix, 'xG per game']
    coefficients.loc[ix, 'xGA'] = teamStats.loc[ix, 'xGA per game']
    coefficients.loc[ix, 'coefficient'] = 0.755489209043063 * coefficients.loc[ix, 'xG']

display(coefficients)

                       xG       xGA  coefficient
Squad
Everton          2.150000  0.725000     1.624302
Aston Villa      2.200000  1.100000     1.662076
Leicester City   1.650000  1.225000     1.246557
Arsenal          1.175000  1.325000     0.887700
Liverpool        2.650000  1.675000     2.002046
Tottenham        2.375000  1.225000     1.794287
Chelsea          1.725000  1.275000     1.303219
Leeds United     1.375000  2.050000     1.038798
Newcastle Utd    1.250000  1.400000     0.944362
West Ham         1.550000  0.950000     1.171008
Southampton      1.050000  0.950000     0.793264
Crystal Palace   0.700000  1.625000     0.528842
Wolves           0.975000  1.225000     0.736602
Manchester City  1.466667  1.733333     1.108051
Brighton         1.650000  1.125000     1.246557
Manchester Utd   1.033333  2.600000     0.780672
West Brom        0.450000  2.250000     0.339970
Burnley          1.000000  1.333333     0.755489
Sheffield Utd    0.825000  1.025000     0.623279
Fulham           0.850000  1.575000     0.642166

In [7]:
def points_for_clean_sheet(position):
    if position < 3:
        return 4
    elif position==3:
        return 1
    elif position==4:
        return 0

In [8]:
goalkeepers = players['element_type'] == 1
defenders = players['element_type'] == 2
midfielders = players['element_type'] == 3
forwards = players['element_type'] == 4

In [9]:
home_coefficient = 1.0721855628874228
away_coefficient = 0.9280143971205758

In [10]:
team_names = np.sort(teamStats.index)
# for some reason the fpl team numbers are not alphabetical with leeds and leicester...
if (team_names[8]=='Leeds United') & (team_names[9]=='Leicester City'):
    team_names[8] = 'Leicester City'
    team_names[9] = 'Leeds United'
    
# how many gameweeks ahead do you want to look at
for number_gameweeks in [1,5,10]:
    expectations = pd.DataFrame(0, index=teamStats.index, \
                columns=['games','total_xG','total_xGA','xG per game', 'xGA per game'])
    gameweeks = np.arange(latest_gameweek+1, latest_gameweek+number_gameweeks+1)
    games = fixtures[fixtures['event'].isin(gameweeks)]
    for ix in games.index:
        home_team_number = games.loc[ix,'team_h']
        home_team = team_names[home_team_number-1]
        away_team_number = games.loc[ix,'team_a']
        away_team = team_names[away_team_number-1]

        home_xG = home_coefficient * coefficients.loc[home_team,'coefficient'] * \
                                    coefficients.loc[away_team,'xGA']
        away_xG = away_coefficient * coefficients.loc[away_team,'coefficient'] * \
                                    coefficients.loc[home_team,'xGA']
        expectations.loc[home_team,'total_xG'] += home_xG
        expectations.loc[home_team,'total_xGA'] += away_xG
        expectations.loc[home_team,'games'] += 1
        expectations.loc[away_team,'total_xG'] += away_xG
        expectations.loc[away_team,'total_xGA'] += home_xG
        expectations.loc[away_team,'games'] += 1

    expectations['xG per game'] = expectations['total_xG'] / expectations['games']
    expectations['xGA per game'] = expectations['total_xGA'] / expectations['games']
    print('expectations:')
    display(expectations)

    new_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    coefficients[new_column] = expectations['xG per game'] / coefficients['xG']
    print('coefficients:')
    display(coefficients)
    
    new_column = 'next' + str(number_gameweeks) + '_xP'
    multiplier_xG_xA_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    for ix in players.index:
        team = players.loc[ix,'team_name']
        position = players.loc[ix, 'element_type']

        # adjust xP based on xg and xa for the next game
        xg_points_per_game = players.loc[ix,'xG_points'] / players.loc[ix,'games played']
        xa_points_per_game = players.loc[ix,'xA_points'] / players.loc[ix,'games played']
        xpoints = xg_points_per_game + xa_points_per_game
        players.loc[ix, new_column] = players.loc[ix, 'adjusted points per game'] - \
                            xpoints + coefficients.loc[team, multiplier_xG_xA_column]*xpoints    

        # adjust xP based on probability to keep a clean sheet for the next game
        clean_sheet_points_per_game = players.loc[ix,'clean_sheet_points'] / \
                                        players.loc[ix,'games played']
        probability_clean_sheet_next = poisson.pmf(0, expectations.loc[team, 'xGA per game'])
        players.loc[ix, new_column] = players.loc[ix, new_column] - clean_sheet_points_per_game \
                + points_for_clean_sheet(position) * probability_clean_sheet_next

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Everton              1  2.917101   1.346998     2.917101      1.346998
Aston Villa          1  1.889478   1.470195     1.889478      1.470195
Leicester City       1  1.470195   1.889478     1.470195      1.889478
Arsenal              1  1.427917   1.574148     1.427917      1.574148
Liverpool            1  1.346998   2.917101     1.346998      2.917101
Tottenham            1  1.827618   1.331223     1.827618      1.331223
Chelsea              1  1.327428   0.938604     1.327428      0.938604
Leeds United         1  1.364385   1.401333     1.364385      1.401333
Newcastle Utd        1  2.632580   1.014265     2.632580      1.014265
West Ham             1  1.331223   1.827618     1.331223      1.827618
Southampton          1  0.938604   1.327428     0.938604      1.327428
Crystal Palace       1  0.637894   1.879837     0.637894      1.879837
Wolves               1  1.401333   1.364385     1.401333      1.364385
Manchester City      1  1.574148   1.427917     1.574148      1.427917
Brighton             1  1.879837   0.637894     1.879837      0.637894
Manchester Utd       1  1.014265   2.632580     1.014265      2.632580
West Brom            1  0.486015   1.577486     0.486015      1.577486
Burnley              1  1.577486   0.486015     1.577486      0.486015
Sheffield Utd        1  1.052526   0.610838     1.052526      0.610838
Fulham               1  0.610838   1.052526     0.610838      1.052526

coefficients:

                       xG       xGA  coefficient  next1_xG_xA_multiplier
Squad
Everton          2.150000  0.725000     1.624302                1.356791
Aston Villa      2.200000  1.100000     1.662076                0.858853
Leicester City   1.650000  1.225000     1.246557                0.891027
Arsenal          1.175000  1.325000     0.887700                1.215248
Liverpool        2.650000  1.675000     2.002046                0.508301
Tottenham        2.375000  1.225000     1.794287                0.769523
Chelsea          1.725000  1.275000     1.303219                0.769523
Leeds United     1.375000  2.050000     1.038798                0.992280
Newcastle Utd    1.250000  1.400000     0.944362                2.106064
West Ham         1.550000  0.950000     1.171008                0.858853
Southampton      1.050000  0.950000     0.793264                0.893909
Crystal Palace   0.700000  1.625000     0.528842                0.911278
Wolves           0.975000  1.225000     0.736602                1.437265
Manchester City  1.466667  1.733333     1.108051                1.073283
Brighton         1.650000  1.125000     1.246557                1.139295
Manchester Utd   1.033333  2.600000     0.780672                0.981547
West Brom        0.450000  2.250000     0.339970                1.080033
Burnley          1.000000  1.333333     0.755489                1.577486
Sheffield Utd    0.825000  1.025000     0.623279                1.275789
Fulham           0.850000  1.575000     0.642166                0.718632

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Squad
Everton              5  13.361587   3.722136     2.672317      0.744427
Aston Villa          5  11.284172   5.659854     2.256834      1.131971
Leicester City       5   8.949413   7.886717     1.789883      1.577343
Arsenal              5   7.471465   7.735481     1.494293      1.547096
Liverpool            5  11.436415   9.633823     2.287283      1.926765
Tottenham            5  13.293198   5.446789     2.658640      1.089358
Chelsea              5   9.209817   5.067044     1.841963      1.013409
Leeds United         5   6.831486  10.277203     1.366297      2.055441
Newcastle Utd        5   6.563770   7.114179     1.312754      1.422836
West Ham             5   8.419085   6.044727     1.683817      1.208945
Southampton          5   4.457544   6.035233     0.891509      1.207047
Crystal Palace       5   3.828810   7.164888     0.765762      1.432978
Wolves               5   5.378067   5.578208     1.075613      1.115642
Manchester City      5   6.854627  11.317528     1.370925      2.263506
Brighton             5   9.358722   5.950667     1.871744      1.190133
Manchester Utd       5   5.599083  13.267241     1.119817      2.653448
West Brom            5   2.604676  11.763711     0.520935      2.352742
Burnley              5   5.707580   6.755140     1.141516      1.351028
Sheffield Utd        5   4.552032   6.411166     0.910406      1.282233
Fulham               5   4.344176   6.673991     0.868835      1.334798

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier
Squad,,,,,
Everton,2.150000,0.725000,1.624302,1.356791,1.242938
Aston Villa,2.200000,1.100000,1.662076,0.858853,1.025834
Leicester City,1.650000,1.225000,1.246557,0.891027,1.084777
Arsenal,1.175000,1.325000,0.887700,1.215248,1.271739
Liverpool,2.650000,1.675000,2.002046,0.508301,0.863126
Tottenham,2.375000,1.225000,1.794287,0.769523,1.119427
Chelsea,1.725000,1.275000,1.303219,0.769523,1.067805
Leeds United,1.375000,2.050000,1.038798,0.992280,0.993671
Newcastle Utd,1.250000,1.400000,0.944362,2.106064,1.050203
West Ham,1.550000,0.950000,1.171008,0.858853,1.086334
Southampton,1.050000,0.950000,0.793264,0.893909,0.849056
Crystal Palace,0.700000,1.625000,0.528842,0.911278,1.093946
Wolves,0.975000,1.225000,0.736602,1.437265,1.103193
Manchester City,1.466667,1.733333,1.108051,1.073283,0.934722
Brighton,1.650000,1.125000,1.246557,1.139295,1.134390
Manchester Utd,1.033333,2.600000,0.780672,0.981547,1.083693
West Brom,0.450000,2.250000,0.339970,1.080033,1.157634
Burnley,1.000000,1.333333,0.755489,1.577486,1.141516
Sheffield Utd,0.825000,1.025000,0.623279,1.275789,1.103523
Fulham,0.850000,1.575000,0.642166,0.718632,1.022159

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Squad
Everton             10  25.316178   7.451383     2.531618      0.745138
Aston Villa         10  22.980376  10.045894     2.298038      1.004589
Leicester City      10  16.129917  15.055682     1.612992      1.505568
Arsenal             10  12.417029  15.402201     1.241703      1.540220
Liverpool           10  24.731038  17.909630     2.473104      1.790963
Tottenham           10  25.816853  12.908872     2.581685      1.290887
Chelsea             10  17.471720  13.032202     1.747172      1.303220
Leeds United        10  13.883367  22.452080     1.388337      2.245208
Newcastle Utd       10  14.621420  13.238187     1.462142      1.323819
West Ham            10  18.718145  11.050044     1.871815      1.105004
Southampton         10  10.818537  10.423752     1.081854      1.042375
Crystal Palace      10   7.837459  16.946547     0.783746      1.694655
Wolves              10  10.215948  13.736959     1.021595      1.373696
Manchester City     10  16.633333  17.037688     1.663333      1.703769
Brighton            10  17.476199  11.797923     1.747620      1.179792
Manchester Utd      10  10.884919  25.660507     1.088492      2.566051
West Brom           10   4.960150  22.591121     0.496015      2.259112
Burnley             10  10.202556  14.905569     1.020256      1.490557
Sheffield Utd       10   9.609795  10.954864     0.960980      1.095486
Fulham              10   8.869336  16.993168     0.886934      1.699317

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier,next10_xG_xA_multiplier
Squad,,,,,,
Everton,2.150000,0.725000,1.624302,1.356791,1.242938,1.177497
Aston Villa,2.200000,1.100000,1.662076,0.858853,1.025834,1.044563
Leicester City,1.650000,1.225000,1.246557,0.891027,1.084777,0.977571
Arsenal,1.175000,1.325000,0.887700,1.215248,1.271739,1.056768
Liverpool,2.650000,1.675000,2.002046,0.508301,0.863126,0.933247
Tottenham,2.375000,1.225000,1.794287,0.769523,1.119427,1.087025
Chelsea,1.725000,1.275000,1.303219,0.769523,1.067805,1.012853
Leeds United,1.375000,2.050000,1.038798,0.992280,0.993671,1.009699
Newcastle Utd,1.250000,1.400000,0.944362,2.106064,1.050203,1.169714
West Ham,1.550000,0.950000,1.171008,0.858853,1.086334,1.207622
Southampton,1.050000,0.950000,0.793264,0.893909,0.849056,1.030337
Crystal Palace,0.700000,1.625000,0.528842,0.911278,1.093946,1.119637
Wolves,0.975000,1.225000,0.736602,1.437265,1.103193,1.047790
Manchester City,1.466667,1.733333,1.108051,1.073283,0.934722,1.134091
Brighton,1.650000,1.125000,1.246557,1.139295,1.134390,1.059164
Manchester Utd,1.033333,2.600000,0.780672,0.981547,1.083693,1.053379
West Brom,0.450000,2.250000,0.339970,1.080033,1.157634,1.102256
Burnley,1.000000,1.333333,0.755489,1.577486,1.141516,1.020256
Sheffield Utd,0.825000,1.025000,0.623279,1.275789,1.103523,1.164824
Fulham,0.850000,1.575000,0.642166,0.718632,1.022159,1.043451

In [11]:
metric = 'next1_xP'
#minGames = players['games played'] >= 3

numberToShow = 50
display(players.sort_values(by=[metric], ascending=False)[['web_name','team_name',\
         'now_cost','games played','total_points','adjusted points','points_per_game',\
         'adjusted points per game','next1_xP','next5_xP','next10_xP']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,next1_xP,next5_xP,next10_xP
id,,,,,,,,,,,
506,Wilson,Newcastle Utd,64,4.000000,34,30.440826,8.5,7.610207,11.492491,7.786420,8.205901
388,Kane,Tottenham,106,4.000000,44,43.824959,11.0,10.956240,9.722037,11.595773,11.422261
232,Chilwell,Chelsea,56,1.000000,18,9.018550,18.0,9.018550,9.119805,9.454452,9.006729
164,Calvert-Lewin,Everton,76,4.021739,37,28.100000,9.2,6.987027,8.326634,7.899162,7.653455
389,Aurier,Tottenham,52,1.000000,12,9.175857,12.0,9.175857,8.227727,9.776494,9.414224
508,Rodríguez,Everton,78,3.977273,35,29.427944,8.8,7.399026,8.224299,8.104363,7.911514
37,Grealish,Aston Villa,71,2.991453,35,25.398248,11.7,8.490271,7.858828,8.576519,8.690437
166,Richarlison,Everton,80,3.965517,23,25.922479,5.8,6.536973,7.591462,7.254972,7.061560
272,De Bruyne,Manchester City,116,2.982456,17,20.947810,5.7,7.023677,7.332995,6.731657,7.479477
470,Kilman,Wolves,40,1.000000,9,7.075031,9.0,7.075031,7.315689,7.303694,6.955689
68,Maupay,Brighton,66,4.000000,32,27.340826,8.0,6.835207,7.285827,7.269960,7.026601
105,Jorginho,Chelsea,51,3.000000,27,24.719119,9.0,8.239706,7.239015,8.650527,8.293970
514,Watkins,Aston Villa,59,2.987013,23,21.900826,7.7,7.332016,6.741348,7.440125,7.518500
390,Son,Tottenham,90,4.017857,45,29.681103,11.2,7.387297,6.491511,7.878806,7.695626
33,Hourihane,Aston Villa,60,2.000000,17,13.466569,8.5,6.733284,6.319772,6.779645,6.864646
224,Vardy,Leicester City,101,4.000000,34,26.380000,8.5,6.595000,6.257729,6.857386,6.525581
6,Lacazette,Arsenal,85,3.000000,21,16.800000,7.0,5.600000,6.159646,6.306521,5.747598
251,Mané,Liverpool,119,3.012048,25,26.064181,8.3,8.653308,5.826563,7.861821,8.267125
69,Trossard,Brighton,60,4.000000,20,21.200263,5.0,5.300066,5.820714,5.585332,5.417353
254,Salah,Liverpool,122,4.019608,41,33.193732,10.2,8.257953,5.795665,7.567919,7.921248
302,Fernandes,Manchester Utd,105,2.985075,20,17.362539,6.7,5.816450,5.760040,6.057631,5.975304
12,Martínez,Aston Villa,47,3.013699,22,18.012693,7.3,5.976939,5.564977,5.935044,6.110234
202,Bamford,Leeds United,58,4.000000,30,21.701653,7.5,5.425413,5.412097,5.414495,5.442145
478,Willian,Arsenal,80,4.000000,20,20.365691,5.0,5.091423,5.307246,5.384952,5.112333
325,Darlow,Newcastle Utd,50,3.958333,19,18.904452,4.8,4.775862,5.240149,4.753592,4.853942
485,Hendrick,Newcastle Utd,51,4.000000,20,16.687214,5.0,4.171804,5.200378,4.207654,4.331337
338,Saint-Maximin,Newcastle Utd,53,3.018868,16,12.045270,5.3,3.989996,5.168580,4.032655,4.172547
276,Sterling,Manchester City,115,3.018868,16,14.934244,5.3,4.946968,5.131456,4.766142,5.174358
275,Mahrez,Manchester City,85,2.000000,14,9.954215,7.0,4.977108,5.120832,4.832593,5.129909
519,Dunne,Burnley,40,2.000000,8,6.208777,4.0,3.104389,5.116651,3.234487,2.972257
155,Digne,Everton,61,4.000000,20,22.950846,5.0,5.737711,5.054567,5.846202,5.805586
123,James,Chelsea,51,3.018868,16,14.475087,5.3,4.794873,5.035710,5.189710,4.775267
38,McGinn,Aston Villa,55,3.013699,22,16.005652,7.3,5.310967,4.983168,5.341639,5.415266
460,Jiménez,Wolves,86,4.000000,16,16.000000,4.0,4.000000,4.874530,4.206387,4.095579
450,Fornals,West Ham,64,4.032258,25,21.361919,6.2,5.297756,4.840782,5.350838,5.582060
352,Jack Robinson,Sheffield Utd,44,2.000000,3,7.670372,1.5,3.835186,4.819794,3.602839,3.885849
137,Townsend,Crystal Palace,61,4.000000,24,19.289300,6.0,4.822325,4.695960,4.950910,4.919740
235,Barnes,Leicester City,71,4.000000,20,19.875857,5.0,4.968964,4.654725,5.015254,4.861772
91,Wood,Burnley,64,3.030303,10,11.100000,3.3,3.663000,4.634909,3.901172,3.697090
351,Baldock,Sheffield Utd,54,4.000000,8,14.841570,2.0,3.710392,4.632948,3.454753,3.723970
442,Masuaku,West Ham,45,3.015873,19,17.066274,6.3,5.658817,4.614634,5.391780,5.643220
469,Podence,Wolves,56,2.978723,14,12.576676,4.7,4.222170,4.609658,4.356583,4.228108
252,Alisson,Liverpool,60,2.982456,17,15.234554,5.7,5.108056,4.575185,4.941298,5.026021
483,Ramsdale,Sheffield Utd,50,4.090909,9,15.171215,2.2,3.708519,4.465142,3.390593,3.622928
366,Ings,Southampton,85,4.000000,24,18.420000,6.0,4.605000,4.434723,4.362735,4.653691
435,Cresswell,West Ham,49,4.000000,24,21.689509,6.0,5.422377,4.423324,5.127736,5.340396
97,Taylor,Burnley,45,3.000000,6,8.463992,2.0,2.821331,4.400479,2.845293,2.674008
461,Saïss,Wolves,51,4.000000,24,17.100123,6.0,4.275031,4.384510,4.472736,4.141352
65,March,Brighton,50,4.000000,18,16.099436,4.5,4.024859,4.381835,4.152217,4.072629
498,Castagne,Leicester City,57,4.000000,28,20.002603,7.0,5.000651,4.373012,4.696220,4.701409

In [12]:
# save predictions
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players.to_csv(filepath)