In [1]:
# recent gameweek
latest_gameweek = 9

In [2]:
import pandas as pd
import numpy as np
import json
import requests
from scipy.stats import poisson

# allow more data columns to be shown than by default
pd.set_option('max_columns',100)

In [3]:
# fetch FPL fixtures online
fixtures_text = json.loads(requests.get('https://fantasy.premierleague.com/api/fixtures').text)
fixtures = pd.DataFrame(fixtures_text)
fixtures.head(20)

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,pulse_id,started,stats,team_a,team_a_difficulty,team_a_score,team_h,team_h_difficulty,team_h_score
0,2128286,NaN,False,False,379,None,0,False,58896,None,[],13,2,NaN,4,4,NaN
1,2128290,NaN,False,False,380,None,0,False,58900,None,[],2,5,NaN,12,3,NaN
2,2128288,1.0,True,True,2,2020-09-12T11:30:00Z,90,False,58898,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",1,2,3.0,8,3,0.0
3,2128287,1.0,True,True,1,2020-09-12T14:00:00Z,90,False,58897,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",16,3,0.0,6,3,1.0
4,2128289,1.0,True,True,3,2020-09-12T16:30:00Z,90,False,58899,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",10,5,3.0,11,2,4.0
5,2128293,1.0,True,True,6,2020-09-12T19:00:00Z,90,False,58903,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",14,3,2.0,19,2,0.0
6,2128292,1.0,True,True,5,2020-09-13T13:00:00Z,90,False,58902,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",9,2,3.0,18,4,0.0
7,2128291,1.0,True,True,4,2020-09-13T15:30:00Z,90,False,58901,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",7,4,1.0,17,3,0.0
8,2128295,1.0,True,True,8,2020-09-14T17:00:00Z,90,False,58905,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",20,2,2.0,15,3,0.0
9,2128294,1.0,True,True,7,2020-09-14T19:15:00Z,90,False,58904,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,2,3.0,3,4,1.0
10,2128299,2.0,True,True,12,2020-09-19T11:30:00Z,90,False,58909,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",18,3,2.0,7,2,5.0
11,2128300,2.0,True,True,13,2020-09-19T14:00:00Z,90,False,58910,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",8,3,3.0,10,2,4.0
12,2128302,2.0,True,True,15,2020-09-19T16:30:00Z,90,False,58912,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",6,4,3.0,13,3,1.0
13,2128296,2.0,True,True,9,2020-09-19T19:00:00Z,90,False,58906,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",19,3,1.0,1,3,2.0
14,2128304,2.0,True,True,17,2020-09-20T11:00:00Z,90,False,58914,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",17,3,5.0,16,4,2.0
15,2128303,2.0,True,True,16,2020-09-20T13:00:00Z,90,False,58913,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,3,3.0,14,2,0.0
16,2128298,2.0,True,True,11,2020-09-20T15:30:00Z,90,False,58908,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",11,4,2.0,5,4,0.0
17,2128301,2.0,True,True,14,2020-09-20T18:00:00Z,90,False,58911,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,4,2.0,9,2,4.0
18,2128297,2.0,True,True,10,2020-09-21T17:00:00Z,90,False,58907,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",15,3,0.0,2,2,1.0
19,2128305,2.0,True,True,18,2020-09-21T19:15:00Z,90,False,58915,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",12,3,3.0,20,4,1.0

In [4]:
filepath = '../data/fbref/team_stats_week' + str(latest_gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col='Squad')
display(teamStats)

,Rk,MP,W,D,L,GF,GA,GDiff,Pts,xG,xGA,xGDiff,xGDiff/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes,xG per game,xGA per game,probability no goals allowed
Squad,,,,,,,,,,,,,,,,,,,,,
Tottenham,1,9,6,2,1,21,9,12,20,15.6,10.0,5.6,0.62,D W W W W,NaN,Son Heung-min - 9,Hugo Lloris,NaN,1.733333,1.111111,0.329193
Liverpool,2,9,6,2,1,21,16,5,20,22.3,12.8,9.4,1.05,D W W D W,NaN,Mohamed Salah - 8,Alisson,NaN,2.477778,1.422222,0.241177
Chelsea,3,9,5,3,1,22,10,12,18,14.8,9.7,5.1,0.57,D D W W W,NaN,Timo Werner - 4,Edouard Mendy,NaN,1.644444,1.077778,0.340351
Leicester City,4,9,6,0,3,18,12,6,18,15.0,11.7,3.3,0.36,L W W W L,NaN,Jamie Vardy - 8,Kasper Schmeichel,NaN,1.666667,1.300000,0.272532
Southampton,5,9,5,2,2,17,13,4,17,10.2,10.4,-0.2,-0.03,D W W W D,NaN,Danny Ings - 5,Alex McCarthy,NaN,1.133333,1.155556,0.314883
Everton,6,9,5,1,3,19,16,3,16,13.7,11.2,2.5,0.28,D L L L W,NaN,Dominic Calvert-Lewin - 10,Jordan Pickford,NaN,1.522222,1.244444,0.288101
Aston Villa,7,8,5,0,3,19,11,8,15,13.3,11.0,2.3,0.29,W L L W L,NaN,Ollie Watkins - 6,Emiliano Martínez,NaN,1.662500,1.375000,0.252840
West Ham,8,9,4,2,3,15,10,5,14,12.8,10.2,2.6,0.28,D D L W W,NaN,Michail Antonio Jarrod Bowen - 3,Łukasz Fabiański,NaN,1.422222,1.133333,0.321958
Wolves,9,9,4,2,3,9,10,-1,14,8.8,10.7,-1.9,-0.21,W D W L D,NaN,Raúl Jiménez - 4,Rui Patrício,NaN,0.977778,1.188889,0.304559
Manchester Utd,10,8,4,1,3,13,14,-1,13,11.0,10.8,0.2,0.03,W D L W W,NaN,Bruno Fernandes - 6,David de Gea,NaN,1.375000,1.350000,0.259240
Crystal Palace,11,9,4,1,4,12,13,-1,13,9.1,12.5,-3.4,-0.38,D W L W L,NaN,Wilfried Zaha - 5,Vicente Guaita,NaN,1.011111,1.388889,0.249352
Arsenal,12,9,4,1,4,9,10,-1,13,10.1,12.5,-2.4,-0.26,L L W L D,NaN,Alexandre Lacazette - 3,Bernd Leno,NaN,1.122222,1.388889,0.249352
Manchester City,13,8,3,3,2,10,11,-1,12,11.3,9.2,2.1,0.26,W D W D L,NaN,Raheem Sterling Phil Foden... - 2,Ederson,NaN,1.412500,1.150000,0.316637
Leeds United,14,9,3,2,4,14,17,-3,11,15.0,15.2,-0.2,-0.02,L W L L D,NaN,Patrick Bamford - 7,Illan Meslier,NaN,1.666667,1.688889,0.184725
Newcastle Utd,15,9,3,2,4,10,15,-5,11,9.4,12.7,-3.3,-0.37,L D W L L,NaN,Callum Wilson - 6,Karl Darlow,NaN,1.044444,1.411111,0.243872
Brighton,16,9,2,3,4,13,15,-2,9,11.5,9.4,2.1,0.23,D D L D W,NaN,Neal Maupay - 4,Mathew Ryan,NaN,1.277778,1.044444,0.351887
Burnley,17,8,1,2,5,4,12,-8,5,7.0,9.7,-2.7,-0.34,D L L D W,NaN,Chris Wood - 2,Nick Pope,NaN,0.875000,1.212500,0.297453
Fulham,18,9,1,1,7,9,18,-9,4,10.6,13.8,-3.2,-0.36,D L W L L,NaN,Bobby Reid - 3,Alphonse Areola,NaN,1.177778,1.533333,0.215815
West Brom,19,9,0,3,6,6,18,-12,3,5.4,16.4,-11.1,-1.23,D D L L L,NaN,Callum Robinson - 2,Sam Johnstone,NaN,0.600000,1.822222,0.161666
Sheffield Utd,20,9,0,1,8,4,15,-11,1,8.0,14.7,-6.7,-0.75,D L L L L,NaN,David McGoldrick - 2,Aaron Ramsdale,NaN,0.888889,1.633333,0.195278

In [5]:
# fetch FPL data
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players = pd.read_csv(filepath, index_col=0)
players.head()

,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,code,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,creativity,creativity_rank,creativity_rank_type,direct_freekicks_order,direct_freekicks_text,dreamteam_count,element_type,ep_next,ep_this,event_points,first_name,form,goals_conceded,goals_scored,ict_index,ict_index_rank,ict_index_rank_type,in_dreamteam,influence,influence_rank,influence_rank_type,minutes,news,news_added,now_cost,own_goals,penalties_missed,penalties_order,penalties_saved,penalties_text,photo,points_per_game,red_cards,saves,second_name,selected_by_percent,special,...,xPoints week 2,xG_week2,goals_week2,xGA_week2,cleansheet_week2,xA_week2,assists_week2,xPoints week 3,xG_week3,goals_week3,xGA_week3,cleansheet_week3,xA_week3,assists_week3,xPoints week 4,xG_week4,goals_week4,xGA_week4,cleansheet_week4,xA_week4,assists_week4,xPoints week 5,xG_week5,goals_week5,xGA_week5,cleansheet_week5,xA_week5,assists_week5,xPoints week 6,xG_week6,goals_week6,xGA_week6,cleansheet_week6,xA_week6,assists_week6,xPoints week 7,xG_week7,goals_week7,xGA_week7,cleansheet_week7,xA_week7,assists_week7,xPoints week 8,xG_week8,goals_week8,xGA_week8,cleansheet_week8,xA_week8,assists_week8,form 5
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0.0,0.0,0,37605,NaN,NaN,0,0,-2,2,0.0,601,239,NaN,NaN,0,3,0.0,0.0,0,Mesut,0.0,0,0,0.0,601,239,False,0.0,601,239,0,Not included in Arsenal's 25-man Premier Leagu...,2020-10-20T22:30:18.118477Z,68,0,0,NaN,0,NaN,37605.jpg,0.0,0,0,Özil,0.6,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,0,0,0.0,0.0,0,39476,NaN,NaN,0,0,-1,1,0.0,551,210,NaN,NaN,0,2,0.0,0.0,0,Sokratis,0.0,0,0,0.0,561,210,False,0.0,560,210,0,Not included in Arsenal's 25-man Premier Leagu...,2020-10-21T10:30:18.546407Z,49,0,0,NaN,0,NaN,39476.jpg,0.0,0,0,Papastathopoulos,0.1,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,0,51,100.0,100.0,0,41270,NaN,NaN,0,0,0,0,9.8,316,105,4.0,NaN,0,2,0.5,0.5,0,David,0.0,5,0,9.7,286,95,False,66.6,219,89,319,NaN,2020-10-25T21:30:13.186040Z,55,0,0,NaN,0,NaN,41270.jpg,1.4,0,0,Luiz Moreira Marinho,0.9,False,...,1.00000,0.0,0.0,1.9,0.0,0.0,0.0,1.199148,0.0,0.0,3.0,0.0,0.0,0.0,5.274923,0.0,0.0,0.2,0.0,0.0,0.0,3.586388,0.1,0.0,1.4,0.0,0.0,0.0,1.000000,0.0,0.0,1.2,0.0,0.0,0.0,NaN,NaN,NaN,0.3,0.0,NaN,NaN,NaN,NaN,NaN,1.8,0.0,NaN,NaN,2.293194
4,1,1,115,100.0,100.0,3,54694,NaN,NaN,-1,1,-4,4,162.2,33,25,NaN,NaN,0,3,4.8,4.8,3,Pierre-Emerick,4.3,10,2,49.1,41,23,False,139.0,96,33,806,NaN,2020-10-08T09:00:12.305506Z,116,0,0,1.0,0,NaN,54694.jpg,3.7,0,0,Aubameyang,11.9,False,...,5.61799,0.1,0.0,1.9,0.0,0.5,1.0,2.049787,0.0,0.0,3.0,0.0,0.0,0.0,2.818731,0.0,0.0,0.2,0.0,0.0,0.0,3.746597,0.0,0.0,1.4,0.0,0.5,0.0,4.101194,0.3,0.0,1.2,0.0,0.1,0.0,7.540818,0.9,1.0,0.3,1.0,0.1,0.0,2.765299,0.0,0.0,1.8,0.0,0.2,0.0,4.287199
5,0,0,0,100.0,100.0,0,58822,NaN,NaN,0,0,-3,3,0.0,528,205,NaN,NaN,0,2,0.5,0.5,0,Cédric,0.0,0,0,0.0,540,205,False,0.0,539,205,0,NaN,2020-09-23T09:00:14.881983Z,47,0,0,NaN,0,NaN,58822.jpg,0.0,0,0,Soares,0.2,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
coefficients = pd.DataFrame(np.nan, index=teamStats.index, columns=['xG','xGA','coefficient'])

for ix in coefficients.index:
    coefficients.loc[ix, 'xG'] = teamStats.loc[ix, 'xG per game']
    coefficients.loc[ix, 'xGA'] = teamStats.loc[ix, 'xGA per game']
    coefficients.loc[ix, 'coefficient'] = 0.755489209043063 * coefficients.loc[ix, 'xG']

display(coefficients)

                       xG       xGA  coefficient
Squad
Tottenham        1.733333  1.111111     1.309515
Liverpool        2.477778  1.422222     1.871934
Chelsea          1.644444  1.077778     1.242360
Leicester City   1.666667  1.300000     1.259149
Southampton      1.133333  1.155556     0.856221
Everton          1.522222  1.244444     1.150022
Aston Villa      1.662500  1.375000     1.256001
West Ham         1.422222  1.133333     1.074474
Wolves           0.977778  1.188889     0.738701
Manchester Utd   1.375000  1.350000     1.038798
Crystal Palace   1.011111  1.388889     0.763884
Arsenal          1.122222  1.388889     0.847827
Manchester City  1.412500  1.150000     1.067129
Leeds United     1.666667  1.688889     1.259149
Newcastle Utd    1.044444  1.411111     0.789067
Brighton         1.277778  1.044444     0.965347
Burnley          0.875000  1.212500     0.661053
Fulham           1.177778  1.533333     0.889798
West Brom        0.600000  1.822222     0.453294
Sheffield Utd    0.888889  1.633333     0.671546

In [7]:
def points_for_clean_sheet(position):
    if position < 3:
        return 4
    elif position==3:
        return 1
    elif position==4:
        return 0

In [8]:
goalkeepers = players['element_type'] == 1
defenders = players['element_type'] == 2
midfielders = players['element_type'] == 3
forwards = players['element_type'] == 4

In [9]:
home_coefficient = 1.0721855628874228
away_coefficient = 0.9280143971205758

In [10]:
team_names = np.sort(teamStats.index)
# for some reason the fpl team numbers are not alphabetical with leeds and leicester...
if (team_names[8]=='Leeds United') & (team_names[9]=='Leicester City'):
    team_names[8] = 'Leicester City'
    team_names[9] = 'Leeds United'
    
# how many gameweeks ahead do you want to look at
for number_gameweeks in [1,5,10]:
    expectations = pd.DataFrame(0, index=teamStats.index, \
                columns=['games','total_xG','total_xGA','xG per game', 'xGA per game'])
    gameweeks = np.arange(latest_gameweek+1, latest_gameweek+number_gameweeks+1)
    games = fixtures[fixtures['event'].isin(gameweeks)]
    for ix in games.index:
        home_team_number = games.loc[ix,'team_h']
        home_team = team_names[home_team_number-1]
        away_team_number = games.loc[ix,'team_a']
        away_team = team_names[away_team_number-1]

        home_xG = home_coefficient * coefficients.loc[home_team,'coefficient'] * \
                                    coefficients.loc[away_team,'xGA']
        away_xG = away_coefficient * coefficients.loc[away_team,'coefficient'] * \
                                    coefficients.loc[home_team,'xGA']
        expectations.loc[home_team,'total_xG'] += home_xG
        expectations.loc[home_team,'total_xGA'] += away_xG
        expectations.loc[home_team,'games'] += 1
        expectations.loc[away_team,'total_xG'] += away_xG
        expectations.loc[away_team,'total_xGA'] += home_xG
        expectations.loc[away_team,'games'] += 1

    expectations['xG per game'] = expectations['total_xG'] / expectations['games']
    expectations['xGA per game'] = expectations['total_xGA'] / expectations['games']
    print('expectations:')
    display(expectations)

    new_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    coefficients[new_column] = expectations['xG per game'] / coefficients['xG']
    print('coefficients:')
    display(coefficients)
    
    new_column = 'next' + str(number_gameweeks) + '_xP'
    multiplier_xG_xA_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    for ix in players.index:
        team = players.loc[ix,'team_name']
        position = players.loc[ix, 'element_type']

        # adjust xP based on xg and xa for the next game
        xg_points_per_game = players.loc[ix,'xG_points'] / players.loc[ix,'games played']
        xa_points_per_game = players.loc[ix,'xA_points'] / players.loc[ix,'games played']
        xpoints = xg_points_per_game + xa_points_per_game
        players.loc[ix, new_column] = players.loc[ix, 'adjusted points per game'] - \
                            xpoints + coefficients.loc[team, multiplier_xG_xA_column]*xpoints    

        # adjust xP based on probability to keep a clean sheet for the next game
        clean_sheet_points_per_game = players.loc[ix,'clean_sheet_points'] / \
                                        players.loc[ix,'games played']
        probability_clean_sheet_next = poisson.pmf(0, expectations.loc[team, 'xGA per game'])
        players.loc[ix, new_column] = players.loc[ix, new_column] - clean_sheet_points_per_game \
                + points_for_clean_sheet(position) * probability_clean_sheet_next

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Tottenham            1  1.309768   1.480045     1.309768      1.480045
Liverpool            1  1.814390   1.472045     1.814390      1.472045
Chelsea              1  1.480045   1.309768     1.480045      1.309768
Leicester City       1  2.070063   1.073469     2.070063      1.073469
Southampton          1  1.239338   1.113978     1.239338      1.113978
Everton              1  2.082463   1.454143     2.082463      1.454143
Aston Villa          1  1.320998   1.584048     1.320998      1.584048
West Ham             1  1.584048   1.320998     1.584048      1.320998
Wolves               1  0.952118   1.080733     0.952118      1.080733
Manchester Utd       1  1.113978   1.239338     1.113978      1.239338
Crystal Palace       1  1.155735   1.017035     1.155735      1.017035
Arsenal              1  1.080733   0.952118     1.080733      0.952118
Manchester City      1  1.387294   0.705487     1.387294      0.705487
Leeds United         1  1.454143   2.082463     1.454143      2.082463
Newcastle Utd        1  1.017035   1.155735     1.017035      1.155735
Brighton             1  1.472045   1.814390     1.472045      1.814390
Burnley              1  0.705487   1.387294     0.705487      1.387294
Fulham               1  1.073469   2.070063     1.073469      2.070063
West Brom            1  0.793824   1.135617     0.793824      1.135617
Sheffield Utd        1  1.135617   0.793824     1.135617      0.793824

coefficients:

                       xG       xGA  coefficient  next1_xG_xA_multiplier
Squad
Tottenham        1.733333  1.111111     1.309515                0.755635
Liverpool        2.477778  1.422222     1.871934                0.732265
Chelsea          1.644444  1.077778     1.242360                0.900027
Leicester City   1.666667  1.300000     1.259149                1.242038
Southampton      1.133333  1.155556     0.856221                1.093533
Everton          1.522222  1.244444     1.150022                1.368042
Aston Villa      1.662500  1.375000     1.256001                0.794586
West Ham         1.422222  1.133333     1.074474                1.113784
Wolves           0.977778  1.188889     0.738701                0.973757
Manchester Utd   1.375000  1.350000     1.038798                0.810166
Crystal Palace   1.011111  1.388889     0.763884                1.143035
Arsenal          1.122222  1.388889     0.847827                0.963029
Manchester City  1.412500  1.150000     1.067129                0.982155
Leeds United     1.666667  1.688889     1.259149                0.872486
Newcastle Utd    1.044444  1.411111     0.789067                0.973757
Brighton         1.277778  1.044444     0.965347                1.152035
Burnley          0.875000  1.212500     0.661053                0.806271
Fulham           1.177778  1.533333     0.889798                0.911436
West Brom        0.600000  1.822222     0.453294                1.323040
Sheffield Utd    0.888889  1.633333     0.671546                1.277569

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Squad
Tottenham            5   8.501281   6.792700     1.700256      1.358540
Liverpool            5  11.507062   6.697043     2.301412      1.339409
Chelsea              5   8.044817   5.826407     1.608963      1.165281
Leicester City       5   8.367062   6.386775     1.673412      1.277355
Southampton          5   5.728007   5.224952     1.145601      1.044990
Everton              5   7.805390   6.430099     1.561078      1.286020
Aston Villa          5   8.363838   5.191733     1.672768      1.038347
West Ham             5   7.498062   6.256660     1.499612      1.251332
Wolves               5   4.700944   7.066013     0.940189      1.413203
Manchester Utd       5   6.943006   6.681020     1.388601      1.336204
Crystal Palace       5   5.325777   7.392702     1.065155      1.478540
Arsenal              5   5.086701   6.570357     1.017340      1.314071
Manchester City      5   7.707864   4.475440     1.541573      0.895088
Leeds United         5   7.726126   9.133940     1.545225      1.826788
Newcastle Utd        5   6.099500   6.719909     1.219900      1.343982
Brighton             5   6.896892   5.701666     1.379378      1.140333
Burnley              5   4.125718   6.247546     0.825144      1.249509
Fulham               5   5.541568   9.159006     1.108314      1.831801
West Brom            5   3.214479   8.177899     0.642896      1.635580
Sheffield Utd        5   4.414724   7.466949     0.882945      1.493390

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier
Squad,,,,,
Tottenham,1.733333,1.111111,1.309515,0.755635,0.980917
Liverpool,2.477778,1.422222,1.871934,0.732265,0.928821
Chelsea,1.644444,1.077778,1.242360,0.900027,0.978424
Leicester City,1.666667,1.300000,1.259149,1.242038,1.004047
Southampton,1.133333,1.155556,0.856221,1.093533,1.010825
Everton,1.522222,1.244444,1.150022,1.368042,1.025526
Aston Villa,1.662500,1.375000,1.256001,0.794586,1.006176
West Ham,1.422222,1.133333,1.074474,1.113784,1.054415
Wolves,0.977778,1.188889,0.738701,0.973757,0.961557
Manchester Utd,1.375000,1.350000,1.038798,0.810166,1.009892
Crystal Palace,1.011111,1.388889,0.763884,1.143035,1.053450
Arsenal,1.122222,1.388889,0.847827,0.963029,0.906541
Manchester City,1.412500,1.150000,1.067129,0.982155,1.091379
Leeds United,1.666667,1.688889,1.259149,0.872486,0.927135
Newcastle Utd,1.044444,1.411111,0.789067,0.973757,1.167989
Brighton,1.277778,1.044444,0.965347,1.152035,1.079513
Burnley,0.875000,1.212500,0.661053,0.806271,0.943021
Fulham,1.177778,1.533333,0.889798,0.911436,0.941021
West Brom,0.600000,1.822222,0.453294,1.323040,1.071493
Sheffield Utd,0.888889,1.633333,0.671546,1.277569,0.993313

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Squad
Tottenham           10  18.126086  12.184884     1.812609      1.218488
Liverpool           10  24.766235  12.047731     2.476623      1.204773
Chelsea             10  16.276138  11.612991     1.627614      1.161299
Leicester City      10  16.476532  12.336333     1.647653      1.233633
Southampton         10  11.667370  12.607126     1.166737      1.260713
Everton             10  15.100258  12.460863     1.510026      1.246086
Aston Villa         10  16.236139  12.667890     1.623614      1.266789
West Ham            10  14.590509  10.881852     1.459051      1.088185
Wolves              10   9.651296  12.834459     0.965130      1.283446
Manchester Utd      10  13.901061  15.000047     1.390106      1.500005
Crystal Palace      10  10.502785  14.603210     1.050279      1.460321
Arsenal             10  10.867189  12.285821     1.086719      1.228582
Manchester City     10  14.406244  10.112849     1.440624      1.011285
Leeds United        10  15.760765  16.217082     1.576076      1.621708
Newcastle Utd       10  11.457743  14.733468     1.145774      1.473347
Brighton            10  13.123513  11.047713     1.312351      1.104771
Burnley             10   8.973987  13.471727     0.897399      1.347173
Fulham              10  10.878883  16.863005     1.087888      1.686300
West Brom           10   6.285474  18.940716     0.628547      1.894072
Sheffield Utd       10   8.748004  14.886443     0.874800      1.488644

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier,next10_xG_xA_multiplier
Squad,,,,,,
Tottenham,1.733333,1.111111,1.309515,0.755635,0.980917,1.045736
Liverpool,2.477778,1.422222,1.871934,0.732265,0.928821,0.999534
Chelsea,1.644444,1.077778,1.242360,0.900027,0.978424,0.989765
Leicester City,1.666667,1.300000,1.259149,1.242038,1.004047,0.988592
Southampton,1.133333,1.155556,0.856221,1.093533,1.010825,1.029474
Everton,1.522222,1.244444,1.150022,1.368042,1.025526,0.991988
Aston Villa,1.662500,1.375000,1.256001,0.794586,1.006176,0.976610
West Ham,1.422222,1.133333,1.074474,1.113784,1.054415,1.025895
Wolves,0.977778,1.188889,0.738701,0.973757,0.961557,0.987064
Manchester Utd,1.375000,1.350000,1.038798,0.810166,1.009892,1.010986
Crystal Palace,1.011111,1.388889,0.763884,1.143035,1.053450,1.038737
Arsenal,1.122222,1.388889,0.847827,0.963029,0.906541,0.968363
Manchester City,1.412500,1.150000,1.067129,0.982155,1.091379,1.019911
Leeds United,1.666667,1.688889,1.259149,0.872486,0.927135,0.945646
Newcastle Utd,1.044444,1.411111,0.789067,0.973757,1.167989,1.097018
Brighton,1.277778,1.044444,0.965347,1.152035,1.079513,1.027058
Burnley,0.875000,1.212500,0.661053,0.806271,0.943021,1.025599
Fulham,1.177778,1.533333,0.889798,0.911436,0.941021,0.923679
West Brom,0.600000,1.822222,0.453294,1.323040,1.071493,1.047579
Sheffield Utd,0.888889,1.633333,0.671546,1.277569,0.993313,0.984150

In [11]:
metric = 'next1_xP'
#minGames = players['games played'] >= 3

numberToShow = 50
display(players.sort_values(by=[metric], ascending=False)[['web_name','team_name',\
         'now_cost','games played','total_points','adjusted points','points_per_game',\
         'adjusted points per game','next1_xP','next5_xP','next10_xP']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,next1_xP,next5_xP,next10_xP
id,,,,,,,,,,,
224,Vardy,Leicester City,102,8.026316,61,57.355808,7.6,7.145970,8.120596,7.162268,7.100032
388,Kane,Tottenham,110,9.032258,84,72.201135,9.3,7.993697,7.072756,7.921779,8.166062
164,Calvert-Lewin,Everton,79,8.974359,70,53.517904,7.8,5.963424,7.009187,6.035953,5.940657
141,Zaha,Crystal Palace,73,7.941176,54,47.855958,6.8,6.026306,6.531997,6.151924,6.115651
254,Salah,Liverpool,122,7.976190,67,59.021581,8.4,7.399721,6.277610,7.125341,7.456371
506,Wilson,Newcastle Utd,65,7.971014,55,50.395808,6.9,6.322383,6.245474,6.814696,6.606706
302,Fernandes,Manchester Utd,108,8.000000,64,54.207634,8.0,6.775954,6.187430,6.811803,6.775658
166,Richarlison,Everton,78,6.000000,27,30.691616,4.5,5.115269,6.073404,5.181721,5.094411
508,Rodríguez,Everton,79,8.035714,45,41.668808,5.6,5.185452,5.877503,5.225497,5.168727
277,Cancelo,Manchester City,55,5.000000,25,25.850639,5.0,5.170128,5.862993,5.620108,5.376506
597,Sánchez,Brighton,44,1.000000,1,6.007549,1.0,6.007549,5.799075,6.165098,6.022554
390,Son,Tottenham,95,9.032258,84,59.209164,9.3,6.555300,5.771957,6.429902,6.649387
251,Mané,Liverpool,121,8.032787,49,54.591039,6.1,6.796027,5.731069,6.536842,6.852777
68,Maupay,Brighton,64,8.000000,40,42.057904,5.0,5.257238,5.638086,5.456419,5.325017
272,De Bruyne,Manchester City,116,7.073171,29,38.933338,4.1,5.504368,5.632049,5.850034,5.606770
202,Bamford,Leeds United,61,8.955224,60,53.635808,6.7,5.989332,5.624812,5.781035,5.833952
37,Grealish,Aston Villa,76,8.026316,61,48.136794,7.6,5.997371,5.412229,6.114730,5.965069
377,Adams,Southampton,59,9.056604,48,46.171616,5.3,5.098116,5.285046,5.119750,5.157021
366,Ings,Southampton,83,7.014925,47,35.455808,6.7,5.054339,5.219940,5.073504,5.106522
282,Jesus,Manchester City,93,2.982456,17,15.000000,5.7,5.029412,4.993512,5.213245,5.069468
450,Fornals,West Ham,65,9.056604,48,43.887464,5.3,4.845908,4.978016,4.899597,4.903379
514,Watkins,Aston Villa,61,8.032787,49,43.637904,6.1,5.432474,4.905179,5.448327,5.372432
431,Fabianski,West Ham,50,8.928571,50,45.498510,5.6,5.095833,4.875475,4.952494,5.155309
114,Ziyech,Chelsea,83,5.000000,30,25.155467,6.0,5.031093,4.832660,4.974960,4.990721
563,Ait Nouri,Wolves,50,3.015873,19,14.174051,6.3,4.699817,4.825913,4.435909,4.583469
470,Kilman,Wolves,43,6.037736,32,28.373303,5.3,4.699328,4.825438,4.435440,4.582986
325,Darlow,Newcastle Utd,50,9.000000,36,40.779398,4.0,4.531044,4.814860,4.598776,4.472185
437,Antonio,West Ham,62,6.000000,27,27.400000,4.5,4.566667,4.801820,4.679124,4.620183
588,Welbeck,Brighton,55,3.000000,12,13.500000,4.0,4.500000,4.778731,4.645775,4.549605
232,Chilwell,Chelsea,61,6.000000,48,30.804232,8.0,5.134039,4.742196,4.996240,5.013693
117,Werner,Chelsea,95,9.056604,48,44.753712,5.3,4.941556,4.735133,4.897005,4.920423
11,Bellerín,Arsenal,51,8.958333,43,37.288833,4.8,4.162474,4.695138,4.205533,4.324241
105,Jorginho,Chelsea,51,6.981132,37,34.691843,5.3,4.969372,4.665768,4.890540,4.918233
235,Barnes,Leicester City,69,9.000000,36,37.770690,4.0,4.196743,4.623710,4.208967,4.198585
148,Walcott,Southampton,58,5.000000,24,22.028125,4.8,4.405625,4.576129,4.460623,4.423710
498,Castagne,Leicester City,57,6.034483,35,24.932065,5.8,4.131599,4.541114,4.158780,4.200164
155,Digne,Everton,62,8.095238,34,35.718502,4.2,4.412286,4.480706,4.385221,4.404160
461,Saïss,Wolves,51,6.031746,38,26.048102,6.3,4.318501,4.445903,4.056505,4.202796
389,Aurier,Tottenham,52,3.015873,19,15.789121,6.3,5.235340,4.440152,4.916339,5.174067
276,Sterling,Manchester City,115,8.095238,34,34.581154,4.2,4.271790,4.422568,4.499180,4.348419
280,Laporte,Manchester City,60,4.000000,12,14.866188,3.0,3.716547,4.417442,4.125407,3.913965
8,Leno,Arsenal,50,9.047619,38,35.024175,4.2,3.871093,4.417376,3.948579,4.044513
435,Cresswell,West Ham,52,9.000000,45,40.944210,5.0,4.549357,4.408647,4.444108,4.626959
96,Pope,Burnley,54,7.959184,39,36.469923,4.9,4.582119,4.391309,4.538889,4.432205
530,Ivanovic,West Brom,45,3.928571,11,13.440467,2.8,3.421210,4.380132,3.624876,3.423610
33,Hourihane,Aston Villa,60,3.000000,18,14.176423,6.0,4.725474,4.376503,4.835732,4.720064
69,Trossard,Brighton,60,6.923077,27,29.371950,3.9,4.242615,4.293036,4.335630,4.264615
455,Patrício,Wolves,55,8.936170,42,36.886381,4.7,4.127762,4.266911,3.882974,4.017847
494,Gabriel,Arsenal,51,8.043478,37,30.022636,4.6,3.732544,4.265038,3.775172,3.894165
255,Robertson,Liverpool,71,8.958333,43,40.995905,4.8,4.576287,4.251454,4.585686,4.810134

In [12]:
# save predictions
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players.to_csv(filepath)