In [1]:
# recent gameweek
latest_gameweek = 7

In [2]:
import pandas as pd
import numpy as np
import json
import requests
from scipy.stats import poisson

# allow more data columns to be shown than by default
pd.set_option('max_columns',100)

In [3]:
# fetch FPL fixtures online
fixtures_text = json.loads(requests.get('https://fantasy.premierleague.com/api/fixtures').text)
fixtures = pd.DataFrame(fixtures_text)
fixtures.head(20)

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,pulse_id,started,stats,team_a,team_a_difficulty,team_a_score,team_h,team_h_difficulty,team_h_score
0,2128286,NaN,False,False,379,None,0,False,58896,None,[],13,2,NaN,4,4,NaN
1,2128290,NaN,False,False,380,None,0,False,58900,None,[],2,5,NaN,12,3,NaN
2,2128288,1.0,True,True,2,2020-09-12T11:30:00Z,90,False,58898,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",1,2,3.0,8,4,0.0
3,2128287,1.0,True,True,1,2020-09-12T14:00:00Z,90,False,58897,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",16,3,0.0,6,2,1.0
4,2128289,1.0,True,True,3,2020-09-12T16:30:00Z,90,False,58899,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",10,5,3.0,11,2,4.0
5,2128293,1.0,True,True,6,2020-09-12T19:00:00Z,90,False,58903,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",14,3,2.0,19,2,0.0
6,2128292,1.0,True,True,5,2020-09-13T13:00:00Z,90,False,58902,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",9,2,3.0,18,3,0.0
7,2128291,1.0,True,True,4,2020-09-13T15:30:00Z,90,False,58901,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",7,4,1.0,17,3,0.0
8,2128295,1.0,True,True,8,2020-09-14T17:00:00Z,90,False,58905,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",20,3,2.0,15,3,0.0
9,2128294,1.0,True,True,7,2020-09-14T19:15:00Z,90,False,58904,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,3,3.0,3,4,1.0
10,2128299,2.0,True,True,12,2020-09-19T11:30:00Z,90,False,58909,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",18,3,2.0,7,2,5.0
11,2128300,2.0,True,True,13,2020-09-19T14:00:00Z,90,False,58910,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",8,3,3.0,10,2,4.0
12,2128302,2.0,True,True,15,2020-09-19T16:30:00Z,90,False,58912,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",6,4,3.0,13,2,1.0
13,2128296,2.0,True,True,9,2020-09-19T19:00:00Z,90,False,58906,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",19,4,1.0,1,3,2.0
14,2128304,2.0,True,True,17,2020-09-20T11:00:00Z,90,False,58914,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",17,3,5.0,16,4,2.0
15,2128303,2.0,True,True,16,2020-09-20T13:00:00Z,90,False,58913,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,3,3.0,14,2,0.0
16,2128298,2.0,True,True,11,2020-09-20T15:30:00Z,90,False,58908,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",11,4,2.0,5,4,0.0
17,2128301,2.0,True,True,14,2020-09-20T18:00:00Z,90,False,58911,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,4,2.0,9,2,4.0
18,2128297,2.0,True,True,10,2020-09-21T17:00:00Z,90,False,58907,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",15,3,0.0,2,3,1.0
19,2128305,2.0,True,True,18,2020-09-21T19:15:00Z,90,False,58915,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",12,3,3.0,20,4,1.0

In [4]:
filepath = '../data/fbref/team_stats_week' + str(latest_gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col='Squad')
display(teamStats)

,Rk,MP,W,D,L,GF,GA,GDiff,Pts,xG,xGA,xGDiff,xGDiff/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes,xG per game,xGA per game,probability no goals allowed
Squad,,,,,,,,,,,,,,,,,,,,,
Liverpool,1,7,5,1,1,17,15,2,16,17.2,9.9,7.2,1.03,W L D W W,NaN,Mohamed Salah - 7,Alisson,NaN,2.457143,1.414286,0.243099
Leicester City,2,7,5,0,2,17,9,8,15,11.8,7.5,4.3,0.61,W L L W W,NaN,Jamie Vardy - 7,Kasper Schmeichel,NaN,1.685714,1.071429,0.342519
Tottenham,3,7,4,2,1,18,9,9,14,13.3,8.0,5.4,0.76,D W D W W,NaN,Son Heung-min - 8,Hugo Lloris,NaN,1.900000,1.142857,0.318907
Everton,4,7,4,1,2,15,11,4,13,11.4,8.3,3.1,0.44,W W D L L,NaN,Dominic Calvert-Lewin - 8,Jordan Pickford,NaN,1.628571,1.185714,0.305528
Southampton,5,7,4,1,2,14,12,2,13,7.8,8.0,-0.2,-0.02,W W D W W,NaN,Danny Ings - 5,Alex McCarthy,NaN,1.114286,1.142857,0.318907
Wolves,6,7,4,1,2,8,8,0,13,6.4,7.3,-0.9,-0.12,L W W D W,NaN,Raúl Jiménez - 4,Rui Patrício,NaN,0.914286,1.042857,0.352446
Chelsea,7,7,3,3,1,16,9,7,12,10.0,8.4,1.6,0.23,D W D D W,NaN,Kurt Zouma Timo Werner... - 3,Edouard Mendy Kepa Arrizabalaga,NaN,1.428571,1.200000,0.301194
Aston Villa,8,6,4,0,2,15,9,6,12,10.1,8.1,2.0,0.33,W W W L L,NaN,Jack Grealish Ollie Watkins - 4,Emiliano Martínez,NaN,1.683333,1.350000,0.259240
Arsenal,9,7,4,0,3,9,7,2,12,7.6,8.2,-0.6,-0.09,L W L L W,NaN,Alexandre Lacazette - 3,Bernd Leno,NaN,1.085714,1.171429,0.309924
Manchester City,10,6,3,2,1,9,8,1,11,8.4,7.1,1.3,0.22,L D W D W,NaN,Raheem Sterling Phil Foden - 2,Ederson,NaN,1.400000,1.183333,0.306256
Newcastle Utd,11,7,3,2,2,10,11,-1,11,8.2,10.2,-2.0,-0.29,D W L D W,NaN,Callum Wilson - 6,Karl Darlow,NaN,1.171429,1.457143,0.232901
Leeds United,12,7,3,1,3,13,13,0,10,11.7,13.4,-1.7,-0.25,W D L W L,NaN,Patrick Bamford - 6,Illan Meslier,NaN,1.671429,1.914286,0.147447
Crystal Palace,13,7,3,1,3,8,11,-3,10,6.8,10.1,-3.3,-0.47,L L D W L,NaN,Wilfried Zaha - 5,Vicente Guaita,NaN,0.971429,1.442857,0.236252
West Ham,14,7,2,2,3,13,10,3,8,9.3,7.9,1.4,0.20,W W D D L,NaN,Michail Antonio Jarrod Bowen - 3,Łukasz Fabiański,NaN,1.328571,1.128571,0.323495
Manchester Utd,15,6,2,1,3,9,13,-4,7,6.9,9.6,-2.7,-0.45,W L W D L,NaN,Bruno Fernandes - 3,David de Gea,NaN,1.150000,1.600000,0.201897
Brighton,16,7,1,2,4,11,14,-3,5,8.9,7.6,1.2,0.17,L L D D L,NaN,Neal Maupay - 4,Mathew Ryan,NaN,1.271429,1.085714,0.337661
Fulham,17,7,1,1,5,7,14,-7,4,7.8,10.9,-3.0,-0.43,L L D L W,NaN,Bobby Reid Aleksandar Mitrović - 2,Alphonse Areola,NaN,1.114286,1.557143,0.210737
West Brom,18,7,0,3,4,6,16,-10,3,3.9,12.4,-8.4,-1.21,D L D D L,NaN,Callum Robinson - 2,Sam Johnstone,NaN,0.557143,1.771429,0.170090
Sheffield Utd,19,7,0,1,6,3,10,-7,1,6.6,9.8,-3.1,-0.45,L L D L L,NaN,Billy Sharp Sander Berge... - 1,Aaron Ramsdale,NaN,0.942857,1.400000,0.246597
Burnley,20,6,0,1,5,3,12,-9,1,5.1,6.6,-1.6,-0.26,L L D L L,NaN,Jimmy Dunne Chris Wood... - 1,Nick Pope,NaN,0.850000,1.100000,0.332871

In [5]:
# fetch FPL data
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players = pd.read_csv(filepath, index_col=0)
players.head()

,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,code,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,creativity,creativity_rank,creativity_rank_type,direct_freekicks_order,direct_freekicks_text,dreamteam_count,element_type,ep_next,ep_this,event_points,first_name,form,goals_conceded,goals_scored,ict_index,ict_index_rank,ict_index_rank_type,in_dreamteam,influence,influence_rank,influence_rank_type,minutes,news,news_added,now_cost,own_goals,penalties_missed,penalties_order,penalties_saved,penalties_text,photo,points_per_game,red_cards,saves,second_name,selected_by_percent,special,...,xA_points,xG_week7,goals_week7,xPoints week 7,xA_week7,assists_week7,adjusted points per game,xPoints week 1,xG_week1,goals_week1,xGA_week1,cleansheet_week1,xA_week1,assists_week1,xPoints week 2,xG_week2,goals_week2,xGA_week2,cleansheet_week2,xA_week2,assists_week2,xPoints week 3,xG_week3,goals_week3,xGA_week3,cleansheet_week3,xA_week3,assists_week3,xPoints week 4,xG_week4,goals_week4,xGA_week4,cleansheet_week4,xA_week4,assists_week4,xPoints week 5,xG_week5,goals_week5,xGA_week5,cleansheet_week5,xA_week5,assists_week5,xPoints week 6,xG_week6,goals_week6,xGA_week6,cleansheet_week6,xA_week6,assists_week6,form 5
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0.0,0.0,0,37605,NaN,NaN,0,0,-2,2,0.0,596,237,NaN,NaN,0,3,0.0,0.0,0,Mesut,0.0,0,0,0.0,596,237,False,0.0,595,237,0,Not included in Arsenal's 25-man Premier Leagu...,2020-10-20T22:30:18.118477Z,68,0,0,NaN,0,NaN,37605.jpg,0.0,0,0,Özil,0.6,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,0,0,0.0,0.0,0,39476,NaN,NaN,0,0,-1,1,0.0,536,206,NaN,NaN,0,2,0.0,0.0,0,Sokratis,0.0,0,0,0.0,548,206,False,0.0,543,206,0,Not included in Arsenal's 25-man Premier Leagu...,2020-10-21T10:30:18.546407Z,49,0,0,NaN,0,NaN,39476.jpg,0.0,0,0,Papastathopoulos,0.1,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,0,51,100.0,50.0,0,41270,NaN,NaN,0,0,0,0,9.8,295,93,4.0,NaN,0,2,1.5,0.5,0,David,1.0,5,0,9.7,246,82,False,66.6,187,79,319,NaN,2020-10-25T21:30:13.186040Z,55,0,0,NaN,0,NaN,41270.jpg,1.4,0,0,Luiz Moreira Marinho,0.9,False,...,0.0,NaN,NaN,NaN,NaN,NaN,2.759696,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,0.0,0.0,1.9,0.0,0.0,0.0,1.199148,0.0,0.0,3.0,0.0,0.0,0.0,5.274923,0.0,0.0,0.2,0.0,0.0,0.0,3.586388,0.1,0.0,1.4,0.0,0.0,0.0,1.000000,0.0,0.0,1.2,0.0,0.0,0.0,2.765115
4,1,1,104,100.0,100.0,2,54694,NaN,NaN,0,0,-3,3,119.5,39,30,6.0,NaN,0,3,4.5,4.0,8,Pierre-Emerick,4.0,7,2,39.0,39,22,False,127.4,71,26,626,NaN,2020-10-08T09:00:12.305506Z,117,0,0,1.0,0,NaN,54694.jpg,4.0,0,0,Aubameyang,13.8,False,...,3.6,0.9,1.0,7.540818,0.1,0.0,3.996891,3.818731,0.4,1.0,0.2,1.0,0.0,0.0,5.61799,0.1,0.0,1.9,0.0,0.5,1.0,2.049787,0.0,0.0,3.0,0.0,0.0,0.0,2.818731,0.0,0.0,0.2,0.0,0.0,0.0,3.746597,0.0,0.0,1.4,0.0,0.5,0.0,4.101194,0.3,0.0,1.2,0.0,0.1,0.0,4.051425
5,0,0,0,100.0,100.0,0,58822,NaN,NaN,0,0,-3,3,0.0,510,198,NaN,NaN,0,2,0.5,0.0,0,Cédric,0.0,0,0,0.0,525,198,False,0.0,520,198,0,NaN,2020-09-23T09:00:14.881983Z,47,0,0,NaN,0,NaN,58822.jpg,0.0,0,0,Soares,0.2,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
coefficients = pd.DataFrame(np.nan, index=teamStats.index, columns=['xG','xGA','coefficient'])

for ix in coefficients.index:
    coefficients.loc[ix, 'xG'] = teamStats.loc[ix, 'xG per game']
    coefficients.loc[ix, 'xGA'] = teamStats.loc[ix, 'xGA per game']
    coefficients.loc[ix, 'coefficient'] = 0.755489209043063 * coefficients.loc[ix, 'xG']

display(coefficients)

                       xG       xGA  coefficient
Squad
Liverpool        2.457143  1.414286     1.856345
Leicester City   1.685714  1.071429     1.273539
Tottenham        1.900000  1.142857     1.435429
Everton          1.628571  1.185714     1.230368
Southampton      1.114286  1.142857     0.841831
Wolves           0.914286  1.042857     0.690733
Chelsea          1.428571  1.200000     1.079270
Aston Villa      1.683333  1.350000     1.271740
Arsenal          1.085714  1.171429     0.820245
Manchester City  1.400000  1.183333     1.057685
Newcastle Utd    1.171429  1.457143     0.885002
Leeds United     1.671429  1.914286     1.262746
Crystal Palace   0.971429  1.442857     0.733904
West Ham         1.328571  1.128571     1.003721
Manchester Utd   1.150000  1.600000     0.868813
Brighton         1.271429  1.085714     0.960551
Fulham           1.114286  1.557143     0.841831
West Brom        0.557143  1.771429     0.420915
Sheffield Utd    0.942857  1.400000     0.712318
Burnley          0.850000  1.100000     0.642166

In [7]:
def points_for_clean_sheet(position):
    if position < 3:
        return 4
    elif position==3:
        return 1
    elif position==4:
        return 0

In [8]:
goalkeepers = players['element_type'] == 1
defenders = players['element_type'] == 2
midfielders = players['element_type'] == 3
forwards = players['element_type'] == 4

In [9]:
home_coefficient = 1.0721855628874228
away_coefficient = 0.9280143971205758

In [10]:
team_names = np.sort(teamStats.index)
# for some reason the fpl team numbers are not alphabetical with leeds and leicester...
if (team_names[8]=='Leeds United') & (team_names[9]=='Leicester City'):
    team_names[8] = 'Leicester City'
    team_names[9] = 'Leeds United'
    
# how many gameweeks ahead do you want to look at
for number_gameweeks in [1,5,10]:
    expectations = pd.DataFrame(0, index=teamStats.index, \
                columns=['games','total_xG','total_xGA','xG per game', 'xGA per game'])
    gameweeks = np.arange(latest_gameweek+1, latest_gameweek+number_gameweeks+1)
    games = fixtures[fixtures['event'].isin(gameweeks)]
    for ix in games.index:
        home_team_number = games.loc[ix,'team_h']
        home_team = team_names[home_team_number-1]
        away_team_number = games.loc[ix,'team_a']
        away_team = team_names[away_team_number-1]

        home_xG = home_coefficient * coefficients.loc[home_team,'coefficient'] * \
                                    coefficients.loc[away_team,'xGA']
        away_xG = away_coefficient * coefficients.loc[away_team,'coefficient'] * \
                                    coefficients.loc[home_team,'xGA']
        expectations.loc[home_team,'total_xG'] += home_xG
        expectations.loc[home_team,'total_xGA'] += away_xG
        expectations.loc[home_team,'games'] += 1
        expectations.loc[away_team,'total_xG'] += away_xG
        expectations.loc[away_team,'total_xGA'] += home_xG
        expectations.loc[away_team,'games'] += 1

    expectations['xG per game'] = expectations['total_xG'] / expectations['games']
    expectations['xGA per game'] = expectations['total_xGA'] / expectations['games']
    print('expectations:')
    display(expectations)

    new_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    coefficients[new_column] = expectations['xG per game'] / coefficients['xG']
    print('coefficients:')
    display(coefficients)
    
    new_column = 'next' + str(number_gameweeks) + '_xP'
    multiplier_xG_xA_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    for ix in players.index:
        team = players.loc[ix,'team_name']
        position = players.loc[ix, 'element_type']

        # adjust xP based on xg and xa for the next game
        xg_points_per_game = players.loc[ix,'xG_points'] / players.loc[ix,'games played']
        xa_points_per_game = players.loc[ix,'xA_points'] / players.loc[ix,'games played']
        xpoints = xg_points_per_game + xa_points_per_game
        players.loc[ix, new_column] = players.loc[ix, 'adjusted points per game'] - \
                            xpoints + coefficients.loc[team, multiplier_xG_xA_column]*xpoints    

        # adjust xP based on probability to keep a clean sheet for the next game
        clean_sheet_points_per_game = players.loc[ix,'clean_sheet_points'] / \
                                        players.loc[ix,'games played']
        probability_clean_sheet_next = poisson.pmf(0, expectations.loc[team, 'xGA per game'])
        players.loc[ix, new_column] = players.loc[ix, new_column] - clean_sheet_points_per_game \
                + points_for_clean_sheet(position) * probability_clean_sheet_next

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Liverpool            1  2.038546   1.603849     2.038546      1.603849
Leicester City       1  1.423990   0.686797     1.423990      0.686797
Tottenham            1  2.359719   0.515771     2.359719      0.515771
Everton              1  2.110693   0.956007     2.110693      0.956007
Southampton          1  1.315215   0.938622     1.315215      0.938622
Wolves               1  0.686797   1.423990     0.686797      1.423990
Chelsea              1  1.620049   0.793250     1.620049      0.793250
Aston Villa          1  1.382512   1.187265     1.382512      1.187265
Arsenal              1  1.187265   1.382512     1.187265      1.382512
Manchester City      1  1.603849   2.038546     1.603849      2.038546
Newcastle Utd        1  0.938622   1.315215     0.938622      1.315215
Leeds United         1  1.690807   1.506315     1.690807      1.506315
Crystal Palace       1  1.506315   1.690807     1.506315      1.690807
West Ham             1  1.675759   0.881675     1.675759      0.881675
Manchester Utd       1  0.956007   2.110693     0.956007      2.110693
Brighton             1  1.132877   0.647020     1.132877      0.647020
Fulham               1  0.881675   1.675759     0.881675      1.675759
West Brom            1  0.515771   2.359719     0.515771      2.359719
Sheffield Utd        1  0.793250   1.620049     0.793250      1.620049
Burnley              1  0.647020   1.132877     0.647020      1.132877

coefficients:

                       xG       xGA  coefficient  next1_xG_xA_multiplier
Squad
Liverpool        2.457143  1.414286     1.856345                0.829641
Leicester City   1.685714  1.071429     1.273539                0.844740
Tottenham        1.900000  1.142857     1.435429                1.241957
Everton          1.628571  1.185714     1.230368                1.296039
Southampton      1.114286  1.142857     0.841831                1.180322
Wolves           0.914286  1.042857     0.690733                0.751184
Chelsea          1.428571  1.200000     1.079270                1.134034
Aston Villa      1.683333  1.350000     1.271740                0.821294
Arsenal          1.085714  1.171429     0.820245                1.093533
Manchester City  1.400000  1.183333     1.057685                1.145606
Newcastle Utd    1.171429  1.457143     0.885002                0.801263
Leeds United     1.671429  1.914286     1.262746                1.011594
Crystal Palace   0.971429  1.442857     0.733904                1.550619
West Ham         1.328571  1.128571     1.003721                1.261324
Manchester Utd   1.150000  1.600000     0.868813                0.831310
Brighton         1.271429  1.085714     0.960551                0.891027
Fulham           1.114286  1.557143     0.841831                0.791247
West Brom        0.557143  1.771429     0.420915                0.925742
Sheffield Utd    0.942857  1.400000     0.712318                0.841326
Burnley          0.850000  1.100000     0.642166                0.761200

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Squad
Liverpool            5  10.799596   6.915001     2.159919      1.383000
Leicester City       5   8.358831   5.429710     1.671766      1.085942
Tottenham            5   9.504355   4.729263     1.900871      0.945853
Everton              5   9.252929   5.419681     1.850586      1.083936
Southampton          5   5.685918   4.638959     1.137184      0.927792
Wolves               5   4.190461   6.462269     0.838092      1.292454
Chelsea              5   7.804736   6.519668     1.560947      1.303934
Aston Villa          5   7.412508   5.952047     1.482502      1.190409
Arsenal              5   5.398908   6.220388     1.079782      1.244078
Manchester City      5   7.309383   6.591711     1.461877      1.318342
Newcastle Utd        5   6.051927   6.477314     1.210385      1.295463
Leeds United         5   7.600465   9.487027     1.520093      1.897405
Crystal Palace       5   5.507859   6.442445     1.101572      1.288489
West Ham             5   7.937628   5.513445     1.587526      1.102689
Manchester Utd       5   5.539837   7.472192     1.107967      1.494438
Brighton             5   5.924922   6.328516     1.184984      1.265703
Fulham               5   4.989922  10.028303     0.997984      2.005661
West Brom            5   2.992918   8.068199     0.598584      1.613640
Sheffield Utd        5   4.399937   6.474169     0.879987      1.294834
Burnley              5   3.860141   5.352876     0.772028      1.070575

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier
Squad,,,,,
Liverpool,2.457143,1.414286,1.856345,0.829641,0.879037
Leicester City,1.685714,1.071429,1.273539,0.844740,0.991726
Tottenham,1.900000,1.142857,1.435429,1.241957,1.000458
Everton,1.628571,1.185714,1.230368,1.296039,1.136325
Southampton,1.114286,1.142857,0.841831,1.180322,1.020549
Wolves,0.914286,1.042857,0.690733,0.751184,0.916663
Chelsea,1.428571,1.200000,1.079270,1.134034,1.092663
Aston Villa,1.683333,1.350000,1.271740,0.821294,0.880694
Arsenal,1.085714,1.171429,0.820245,1.093533,0.994536
Manchester City,1.400000,1.183333,1.057685,1.145606,1.044198
Newcastle Utd,1.171429,1.457143,0.885002,0.801263,1.033256
Leeds United,1.671429,1.914286,1.262746,1.011594,0.909457
Crystal Palace,0.971429,1.442857,0.733904,1.550619,1.133971
West Ham,1.328571,1.128571,1.003721,1.261324,1.194912
Manchester Utd,1.150000,1.600000,0.868813,0.831310,0.963450
Brighton,1.271429,1.085714,0.960551,0.891027,0.932010
Fulham,1.114286,1.557143,0.841831,0.791247,0.895627
West Brom,0.557143,1.771429,0.420915,0.925742,1.074381
Sheffield Utd,0.942857,1.400000,0.712318,0.841326,0.933320
Burnley,0.850000,1.100000,0.642166,0.761200,0.908268

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Squad
Liverpool           10  23.564723  13.082815     2.356472      1.308281
Leicester City      10  16.940742  11.025657     1.694074      1.102566
Tottenham           10  19.769183  11.433126     1.976918      1.143313
Everton             10  16.669959  11.115167     1.666996      1.111517
Southampton         10  11.180819  10.830712     1.118082      1.083071
Wolves              10   8.352248  11.659467     0.835225      1.165947
Chelsea             10  14.259993  12.175576     1.425999      1.217558
Aston Villa         10  16.274968  11.105022     1.627497      1.110502
Arsenal             10  10.536767  11.589257     1.053677      1.158926
Manchester City     10  14.434152  12.024240     1.443415      1.202424
Newcastle Utd       10  12.432194  15.473337     1.243219      1.547334
Leeds United        10  16.352627  17.793319     1.635263      1.779332
Crystal Palace      10  10.253543  15.107287     1.025354      1.510729
West Ham            10  13.945566  11.101496     1.394557      1.110150
Manchester Utd      10  11.544703  15.667804     1.154470      1.566780
Brighton            10  12.041292  10.717002     1.204129      1.071700
Fulham              10   9.891984  17.579028     0.989198      1.757903
West Brom           10   6.009424  19.117698     0.600942      1.911770
Sheffield Utd       10   8.926129  12.708874     0.892613      1.270887
Burnley             10   8.559540  10.633671     0.855954      1.063367

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier,next10_xG_xA_multiplier
Squad,,,,,,
Liverpool,2.457143,1.414286,1.856345,0.829641,0.879037,0.959029
Leicester City,1.685714,1.071429,1.273539,0.844740,0.991726,1.004959
Tottenham,1.900000,1.142857,1.435429,1.241957,1.000458,1.040483
Everton,1.628571,1.185714,1.230368,1.296039,1.136325,1.023594
Southampton,1.114286,1.142857,0.841831,1.180322,1.020549,1.003407
Wolves,0.914286,1.042857,0.690733,0.751184,0.916663,0.913527
Chelsea,1.428571,1.200000,1.079270,1.134034,1.092663,0.998199
Aston Villa,1.683333,1.350000,1.271740,0.821294,0.880694,0.966830
Arsenal,1.085714,1.171429,0.820245,1.093533,0.994536,0.970492
Manchester City,1.400000,1.183333,1.057685,1.145606,1.044198,1.031011
Newcastle Utd,1.171429,1.457143,0.885002,0.801263,1.033256,1.061285
Leeds United,1.671429,1.914286,1.262746,1.011594,0.909457,0.978362
Crystal Palace,0.971429,1.442857,0.733904,1.550619,1.133971,1.055512
West Ham,1.328571,1.128571,1.003721,1.261324,1.194912,1.049666
Manchester Utd,1.150000,1.600000,0.868813,0.831310,0.963450,1.003887
Brighton,1.271429,1.085714,0.960551,0.891027,0.932010,0.947068
Fulham,1.114286,1.557143,0.841831,0.791247,0.895627,0.887742
West Brom,0.557143,1.771429,0.420915,0.925742,1.074381,1.078615
Sheffield Utd,0.942857,1.400000,0.712318,0.841326,0.933320,0.946711
Burnley,0.850000,1.100000,0.642166,0.761200,0.908268,1.007005

In [11]:
metric = 'next1_xP'
#minGames = players['games played'] >= 3

numberToShow = 50
display(players.sort_values(by=[metric], ascending=False)[['web_name','team_name',\
         'now_cost','games played','total_points','adjusted points','points_per_game',\
         'adjusted points per game','next1_xP','next5_xP','next10_xP']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,next1_xP,next5_xP,next10_xP
id,,,,,,,,,,,
388,Kane,Tottenham,110,7.029703,71,62.950160,10.1,8.954882,10.002604,8.956867,9.130183
389,Aurier,Tottenham,52,2.000000,13,12.540023,6.5,6.270011,7.963243,6.548879,6.366590
141,Zaha,Crystal Palace,74,7.000000,49,43.782533,7.0,6.254648,7.849902,6.694848,6.405204
390,Son,Tottenham,96,7.029703,71,48.019358,10.1,6.830923,7.811209,6.901695,6.948259
224,Vardy,Leicester City,100,5.978261,55,47.357540,9.2,7.921625,7.298846,7.888435,7.941518
508,Rodríguez,Everton,79,6.029412,41,36.608463,6.8,6.071648,6.896853,6.448052,6.154659
164,Calvert-Lewin,Everton,77,7.027027,52,40.900000,7.4,5.820385,6.700874,6.225846,5.890559
251,Mané,Liverpool,120,6.029412,41,44.143285,6.8,7.321325,6.536248,6.801416,7.169799
254,Salah,Liverpool,124,6.987952,58,50.847536,8.3,7.276458,6.528464,6.782879,7.133849
563,Ait Nouri,Wolves,50,1.000000,15,7.009785,15.0,7.009785,6.413716,6.648383,6.794626
37,Grealish,Aston Villa,74,6.000000,54,40.799292,9.0,6.799882,6.330428,6.500740,6.774394
506,Wilson,Newcastle Utd,65,6.973684,53,48.737540,7.6,6.988779,6.323062,7.100177,7.194067
597,Sánchez,Brighton,45,1.000000,1,5.950642,1.0,5.950642,6.302113,5.483400,5.779148
33,Hourihane,Aston Villa,60,2.000000,17,13.107251,8.5,6.553625,6.206287,6.336009,6.550804
202,Bamford,Leeds United,60,6.986301,51,42.577540,7.3,6.094432,6.126296,5.845600,6.034967
105,Jorginho,Chelsea,53,6.000000,36,33.464705,6.0,5.577451,6.092309,5.799144,5.567323
450,Fornals,West Ham,64,6.964286,39,37.919222,5.6,5.444811,6.064486,5.847915,5.551381
166,Richarlison,Everton,78,5.000000,22,26.186310,4.4,5.237262,6.043673,5.608610,5.301532
272,De Bruyne,Manchester City,115,5.000000,24,28.228821,4.8,5.645764,5.828500,5.715989,5.716384
68,Maupay,Brighton,65,6.000000,36,35.828770,6.0,5.971462,5.651081,5.771572,5.815841
542,Reguilón,Tottenham,56,3.030303,10,12.943074,3.3,4.271214,5.599333,4.549390,4.306704
232,Chilwell,Chelsea,59,4.024390,33,19.226032,8.2,4.777378,5.482006,4.727524,4.755067
366,Ings,Southampton,85,7.014925,47,35.797540,6.7,5.103054,5.422315,5.139437,5.109085
377,Adams,Southampton,58,6.938776,34,34.266310,4.9,4.938380,5.294409,4.978953,4.945106
277,Cancelo,Manchester City,54,3.000000,21,17.563844,7.0,5.854615,5.281507,5.739682,5.859360
276,Sterling,Manchester City,116,6.037736,32,31.037864,5.3,5.140646,5.229884,5.182491,5.191353
325,Darlow,Newcastle Utd,50,7.021277,33,35.541043,4.7,5.061906,5.203969,5.225388,4.981562
302,Fernandes,Manchester Utd,105,6.000000,36,33.948919,6.0,5.658153,5.117449,5.580971,5.675572
437,Antonio,West Ham,62,6.000000,27,27.400000,4.5,4.566667,5.106736,4.969484,4.669310
514,Watkins,Aston Villa,60,5.964912,34,33.208770,5.7,5.567353,5.057442,5.226931,5.472706
498,Castagne,Leicester City,57,6.034483,35,27.134007,5.8,4.496493,5.054254,4.472227,4.457202
470,Kilman,Wolves,43,4.027778,29,22.067071,7.2,5.478721,4.957812,5.142492,5.289683
110,Zouma,Chelsea,52,5.974026,46,25.597368,7.7,4.284777,4.943336,4.203074,4.263085
155,Digne,Everton,61,5.952381,25,26.440783,4.2,4.442052,4.936685,4.655435,4.550448
435,Cresswell,West Ham,51,6.956522,32,30.867912,4.6,4.437262,4.923602,4.563652,4.484881
12,Martínez,Aston Villa,48,5.964912,34,28.185382,5.7,4.725196,4.908453,4.904622,5.005809
123,James,Chelsea,50,5.961538,31,25.071094,5.2,4.205474,4.870890,4.128512,4.183690
217,Schmeichel,Leicester City,55,7.000000,28,29.590528,4.0,4.227218,4.869884,4.207477,4.185215
543,Bale,Tottenham,95,2.000000,10,8.437813,5.0,4.218907,4.835780,4.288990,4.275438
383,Lloris,Tottenham,55,7.000000,21,25.929384,3.0,3.704198,4.816732,3.981965,3.703617
386,Alderweireld,Tottenham,54,4.062500,13,14.482232,3.2,3.564857,4.695259,3.842658,3.567266
203,Harrison,Leeds United,55,6.000000,27,27.562223,4.5,4.593704,4.687885,4.440782,4.577863
442,Masuaku,West Ham,45,5.945946,22,24.382707,3.7,4.100728,4.660877,4.282169,4.162375
280,Laporte,Manchester City,60,2.000000,10,10.250049,5.0,5.125025,4.551917,5.010092,5.129770
457,Doherty,Tottenham,58,5.000000,12,16.478131,2.4,3.295626,4.509783,3.573586,3.312048
398,Sánchez,Tottenham,54,4.000000,4,12.702505,1.0,3.175626,4.505922,3.453806,3.211480
117,Werner,Chelsea,93,7.058824,36,30.277540,5.1,4.289318,4.477302,4.419278,4.286793
235,Barnes,Leicester City,69,7.021277,33,31.893690,4.7,4.542435,4.475339,4.525361,4.539209
282,Jesus,Manchester City,93,1.000000,6,4.100000,6.0,4.100000,4.405773,4.192815,4.165123
77,Lamptey,Brighton,47,6.969697,23,25.779876,3.3,3.698852,4.367576,3.429549,3.681459

In [12]:
# save predictions
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players.to_csv(filepath)