In [1]:
# recent gameweek
latest_gameweek = 18

In [2]:
import pandas as pd
import numpy as np
import json
import requests
from scipy.stats import poisson

# allow more data columns to be shown than by default
pd.set_option('max_columns',100)

In [3]:
# fetch FPL fixtures online
fixtures_text = json.loads(requests.get('https://fantasy.premierleague.com/api/fixtures').text)
fixtures = pd.DataFrame(fixtures_text)
fixtures.head(20)

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,pulse_id,started,stats,team_a,team_a_difficulty,team_a_score,team_h,team_h_difficulty,team_h_score
0,2128457,NaN,False,False,170,None,0,False,59067,None,[],17,3,NaN,2,4,NaN
1,2128467,NaN,False,False,180,None,0,False,59077,None,[],7,3,NaN,2,3,NaN
2,2128447,NaN,False,False,160,None,0,False,59057,None,[],8,2,NaN,4,2,NaN
3,2128440,NaN,False,False,153,None,0,False,59050,None,[],12,3,NaN,7,4,NaN
4,2128608,NaN,False,False,321,None,0,False,59218,None,[],17,2,NaN,8,4,NaN
5,2128459,NaN,False,False,172,None,0,False,59069,None,[],16,3,NaN,10,3,NaN
6,2128612,NaN,False,False,325,None,0,False,59222,None,[],16,5,NaN,12,3,NaN
7,2128288,1.0,True,True,2,2020-09-12T11:30:00Z,90,False,58898,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",1,2,3.0,8,3,0.0
8,2128287,1.0,True,True,1,2020-09-12T14:00:00Z,90,False,58897,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",16,3,0.0,6,3,1.0
9,2128289,1.0,True,True,3,2020-09-12T16:30:00Z,90,False,58899,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",10,5,3.0,11,2,4.0
10,2128293,1.0,True,True,6,2020-09-12T19:00:00Z,90,False,58903,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",14,3,2.0,19,2,0.0
11,2128292,1.0,True,True,5,2020-09-13T13:00:00Z,90,False,58902,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",9,2,3.0,18,4,0.0
12,2128291,1.0,True,True,4,2020-09-13T15:30:00Z,90,False,58901,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",7,4,1.0,17,3,0.0
13,2128295,1.0,True,True,8,2020-09-14T17:00:00Z,90,False,58905,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",20,2,2.0,15,3,0.0
14,2128294,1.0,True,True,7,2020-09-14T19:15:00Z,90,False,58904,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,2,3.0,3,4,1.0
15,2128299,2.0,True,True,12,2020-09-19T11:30:00Z,90,False,58909,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",18,3,2.0,7,2,5.0
16,2128300,2.0,True,True,13,2020-09-19T14:00:00Z,90,False,58910,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",8,3,3.0,10,2,4.0
17,2128302,2.0,True,True,15,2020-09-19T16:30:00Z,90,False,58912,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",6,4,3.0,13,3,1.0
18,2128296,2.0,True,True,9,2020-09-19T19:00:00Z,90,False,58906,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",19,3,1.0,1,3,2.0
19,2128304,2.0,True,True,17,2020-09-20T11:00:00Z,90,False,58914,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",17,3,5.0,16,4,2.0

In [4]:
filepath = '../data/fbref/team_stats_week' + str(latest_gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col='Squad')
display(teamStats)

,Rk,MP,W,D,L,GF,GA,GDiff,Pts,xG,xGA,xGDiff,xGDiff/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes,xG per game,xGA per game,probability no goals allowed
Squad,,,,,,,,,,,,,,,,,,,,,
Manchester Utd,1,17,11,3,3,34,24,10,36,28.4,22.1,6.3,0.37,W D W W W,NaN,Bruno Fernandes - 11,David de Gea,NaN,1.670588,1.300000,0.272532
Liverpool,2,17,9,6,2,37,21,16,33,33.1,20.0,13.1,0.77,W W D D L,750.0,Mohamed Salah - 13,Alisson,NaN,1.947059,1.176471,0.308365
Manchester City,3,16,9,5,2,25,13,12,32,28.1,13.5,14.6,0.91,D W W W W,NaN,Riyad Mahrez Raheem Sterling... - 4,Ederson,NaN,1.756250,0.843750,0.430095
Leicester City,4,17,10,2,5,31,21,10,32,25.2,20.0,5.2,0.30,L W D D W,NaN,Jamie Vardy - 11,Kasper Schmeichel,NaN,1.482353,1.176471,0.308365
Everton,5,17,10,2,5,28,21,7,32,21.6,21.2,0.4,0.02,W W W L W,250.0,Dominic Calvert-Lewin - 11,Jordan Pickford,NaN,1.270588,1.247059,0.287349
Tottenham,6,17,8,6,3,30,16,14,30,25.0,18.6,6.4,0.38,L L D W D,222.0,Son Heung-min - 12,Hugo Lloris,NaN,1.470588,1.094118,0.334835
Southampton,7,17,8,5,4,26,19,7,29,16.5,19.8,-3.4,-0.20,D L D D W,222.0,Danny Ings - 7,Alex McCarthy,NaN,0.970588,1.164706,0.312014
Aston Villa,8,15,8,2,5,29,16,13,26,27.3,17.6,9.7,0.64,D W W D L,NaN,Ollie Watkins - 6,Emiliano Martínez,NaN,1.820000,1.173333,0.309334
Chelsea,9,17,7,5,5,32,21,11,26,28.3,18.7,9.6,0.57,L W L D L,222.0,Tammy Abraham - 6,Edouard Mendy,NaN,1.664706,1.100000,0.332871
West Ham,10,17,7,5,5,24,21,3,26,21.6,21.5,0.1,0.00,D L D D W,250.0,Tomáš Souček - 5,Łukasz Fabiański,NaN,1.270588,1.264706,0.282322
Arsenal,11,18,7,3,8,20,19,1,24,22.8,21.6,1.1,0.06,L W W W D,222.0,Alexandre Lacazette - 7,Bernd Leno,NaN,1.266667,1.200000,0.301194
Leeds United,12,17,7,2,8,30,33,-3,23,29.3,31.3,-2.0,-0.12,W L W W L,NaN,Patrick Bamford - 10,Illan Meslier,NaN,1.723529,1.841176,0.158631
Crystal Palace,13,18,6,5,7,22,29,-7,23,17.3,24.4,-7.2,-0.40,L L D W D,222.0,Wilfried Zaha - 8,Vicente Guaita,NaN,0.961111,1.355556,0.257804
Wolves,14,18,6,4,8,19,26,-7,22,17.7,21.2,-3.5,-0.19,L D L D L,NaN,Pedro Neto Raúl Jiménez - 4,Rui Patrício,NaN,0.983333,1.177778,0.307962
Newcastle Utd,15,17,5,4,8,18,27,-9,19,15.5,23.4,-7.9,-0.46,D L D L L,NaN,Callum Wilson - 8,Karl Darlow,NaN,0.911765,1.376471,0.252468
Burnley,16,16,4,4,8,9,21,-12,16,14.0,22.6,-8.6,-0.54,D W L W L,NaN,Chris Wood - 3,Nick Pope,NaN,0.875000,1.412500,0.243534
Brighton,17,18,2,8,8,21,29,-8,14,23.9,20.9,3.1,0.17,D D L D L,222.0,Neal Maupay - 6,Mathew Ryan,NaN,1.327778,1.161111,0.313138
Fulham,18,16,2,6,8,14,24,-10,12,17.5,24.0,-6.6,-0.41,D D D D D,250.0,Bobby Reid - 4,Alphonse Areola,NaN,1.093750,1.500000,0.223130
West Brom,19,17,1,5,11,11,39,-28,8,9.9,32.0,-22.1,-1.30,D L D L L,NaN,Conor Gallagher Callum Robinson - 2,Sam Johnstone,NaN,0.582353,1.882353,0.152231
Sheffield Utd,20,18,1,2,15,9,29,-20,5,17.7,26.0,-8.3,-0.46,D L L L W,NaN,David McGoldrick - 4,Aaron Ramsdale,NaN,0.983333,1.444444,0.235877

In [5]:
# fetch FPL data
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players = pd.read_csv(filepath, index_col=0)
players.head()

,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,code,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,creativity,creativity_rank,creativity_rank_type,direct_freekicks_order,direct_freekicks_text,dreamteam_count,element_type,ep_next,ep_this,event_points,first_name,form,goals_conceded,goals_scored,ict_index,ict_index_rank,ict_index_rank_type,in_dreamteam,influence,influence_rank,influence_rank_type,minutes,news,news_added,now_cost,own_goals,penalties_missed,penalties_order,penalties_saved,penalties_text,photo,points_per_game,red_cards,saves,second_name,selected_by_percent,special,...,xG_week11,goals_week11,xGA_week11,cleansheet_week11,xA_week11,assists_week11,xPoints week 12,xG_week12,goals_week12,xGA_week12,cleansheet_week12,xA_week12,assists_week12,xPoints week 13,xG_week13,goals_week13,xGA_week13,cleansheet_week13,xA_week13,assists_week13,xPoints week 14,xG_week14,goals_week14,xGA_week14,cleansheet_week14,xA_week14,assists_week14,xPoints week 15,xG_week15,goals_week15,xGA_week15,cleansheet_week15,xA_week15,assists_week15,xPoints week 16,xG_week16,goals_week16,xGA_week16,cleansheet_week16,xA_week16,assists_week16,xPoints week 17,xG_week17,goals_week17,xGA_week17,cleansheet_week17,xA_week17,assists_week17,form 5,form 10
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0.0,0.0,0,37605,NaN,NaN,0,0,-2,2,0.0,633,254,NaN,NaN,0,3,0.0,0.0,0,Mesut,0.0,0,0,0.0,633,254,False,0.0,633,254,0,Not included in Arsenal's 25-man Premier Leagu...,2020-10-20T22:30:18.118477Z,68,0,0,NaN,0,NaN,37605.jpg,0.0,0,0,Özil,0.5,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,0,0,0.0,0.0,0,39476,NaN,NaN,0,0,-2,2,0.0,581,216,NaN,NaN,0,2,0.0,0.0,0,Sokratis,0.0,0,0,0.0,593,216,False,0.0,591,216,0,Not included in Arsenal's 25-man Premier Leagu...,2020-10-21T10:30:18.546407Z,48,0,0,NaN,0,NaN,39476.jpg,0.0,0,0,Papastathopoulos,0.1,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,0,89,100.0,100.0,1,41270,NaN,NaN,0,0,-1,1,27.5,303,95,4.0,NaN,0,2,1.7,1.7,5,David,1.2,9,0,18.1,301,99,False,111.4,255,98,569,NaN,2020-12-26T18:00:15.638627Z,54,0,0,NaN,0,NaN,41270.jpg,1.6,0,0,Luiz Moreira Marinho,0.7,False,...,NaN,NaN,0.5,0.0,NaN,NaN,NaN,NaN,NaN,0.9,0.0,NaN,NaN,1.000000,0.0,0.0,1.1,0.0,0.0,0.0,3.397316,0.1,0.0,0.8,0.0,0.0,0.0,NaN,NaN,NaN,2.2,0.0,NaN,NaN,NaN,NaN,NaN,0.8,0.0,NaN,NaN,NaN,NaN,NaN,0.4,0.0,NaN,NaN,2.934417,1.717208
4,1,4,165,100.0,100.0,6,54694,NaN,NaN,0,0,-7,7,222.6,62,43,NaN,NaN,1,3,2.3,2.3,3,Pierre-Emerick,1.8,16,3,89.6,36,23,False,211.0,145,56,1436,NaN,2020-12-19T20:30:20.434896Z,113,1,0,1.0,0,NaN,54694.jpg,3.5,0,0,Aubameyang,7.0,False,...,0.2,0.0,0.5,0.0,0.0,0.0,1.70657,0.2,0.0,0.9,0.0,0.1,0.0,7.132871,0.3,1.0,1.1,0.0,0.1,0.0,NaN,NaN,NaN,0.8,0.0,NaN,NaN,NaN,NaN,NaN,2.2,0.0,NaN,NaN,5.449329,0.6,0.0,0.8,1.0,0.0,0.0,6.67032,0.8,0.0,0.4,1.0,0.0,0.0,4.995843,4.370273
5,0,0,3,100.0,100.0,0,58822,NaN,NaN,0,0,-4,4,0.0,566,213,NaN,NaN,0,2,0.5,0.5,0,Cédric,0.0,0,0,0.0,581,213,False,0.0,578,212,5,NaN,2020-09-23T09:00:14.881983Z,46,0,0,NaN,0,NaN,58822.jpg,1.0,0,0,Soares,0.2,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,0.0,0.0,1.1,0.0,0.0,0.0,NaN,NaN,NaN,0.8,0.0,NaN,NaN,NaN,NaN,NaN,2.2,0.0,NaN,NaN,NaN,NaN,NaN,0.8,0.0,NaN,NaN,NaN,NaN,NaN,0.4,0.0,NaN,NaN,NaN,1.000000

In [6]:
coefficients = pd.DataFrame(np.nan, index=teamStats.index, columns=['xG','xGA','coefficient'])

for ix in coefficients.index:
    coefficients.loc[ix, 'xG'] = teamStats.loc[ix, 'xG per game']
    coefficients.loc[ix, 'xGA'] = teamStats.loc[ix, 'xGA per game']
    coefficients.loc[ix, 'coefficient'] = 0.755489209043063 * coefficients.loc[ix, 'xG']

display(coefficients)

                       xG       xGA  coefficient
Squad
Manchester Utd   1.670588  1.300000     1.262111
Liverpool        1.947059  1.176471     1.470982
Manchester City  1.756250  0.843750     1.326828
Leicester City   1.482353  1.176471     1.119902
Everton          1.270588  1.247059     0.959916
Tottenham        1.470588  1.094118     1.111014
Southampton      0.970588  1.164706     0.733269
Aston Villa      1.820000  1.173333     1.374990
Chelsea          1.664706  1.100000     1.257667
West Ham         1.270588  1.264706     0.959916
Arsenal          1.266667  1.200000     0.956953
Leeds United     1.723529  1.841176     1.302108
Crystal Palace   0.961111  1.355556     0.726109
Wolves           0.983333  1.177778     0.742898
Newcastle Utd    0.911765  1.376471     0.688828
Burnley          0.875000  1.412500     0.661053
Brighton         1.327778  1.161111     1.003122
Fulham           1.093750  1.500000     0.826316
West Brom        0.582353  1.882353     0.439961
Sheffield Utd    0.983333  1.444444     0.742898

In [7]:
def points_for_clean_sheet(position):
    if position < 3:
        return 4
    elif position==3:
        return 1
    elif position==4:
        return 0

In [8]:
goalkeepers = players['element_type'] == 1
defenders = players['element_type'] == 2
midfielders = players['element_type'] == 3
forwards = players['element_type'] == 4

In [9]:
home_coefficient = 1.0721855628874228
away_coefficient = 0.9280143971205758

In [10]:
team_names = np.sort(teamStats.index)
# for some reason the fpl team numbers are not alphabetical with leeds and leicester...
if (team_names[8]=='Leeds United') & (team_names[9]=='Leicester City'):
    team_names[8] = 'Leicester City'
    team_names[9] = 'Leeds United'
    
# how many gameweeks ahead do you want to look at
for number_gameweeks in [1,5,10]:
    expectations = pd.DataFrame(0, index=teamStats.index, \
                columns=['games','total_xG','total_xGA','xG per game', 'xGA per game'])
    gameweeks = np.arange(latest_gameweek+1, latest_gameweek+number_gameweeks+1)
    games = fixtures[fixtures['event'].isin(gameweeks)]
    for ix in games.index:
        home_team_number = games.loc[ix,'team_h']
        home_team = team_names[home_team_number-1]
        away_team_number = games.loc[ix,'team_a']
        away_team = team_names[away_team_number-1]

        home_xG = home_coefficient * coefficients.loc[home_team,'coefficient'] * \
                                    coefficients.loc[away_team,'xGA']
        away_xG = away_coefficient * coefficients.loc[away_team,'coefficient'] * \
                                    coefficients.loc[home_team,'xGA']
        expectations.loc[home_team,'total_xG'] += home_xG
        expectations.loc[home_team,'total_xGA'] += away_xG
        expectations.loc[home_team,'games'] += 1
        expectations.loc[away_team,'total_xG'] += away_xG
        expectations.loc[away_team,'total_xGA'] += home_xG
        expectations.loc[away_team,'games'] += 1

    expectations['xG per game'] = expectations['total_xG'] / expectations['games']
    expectations['xGA per game'] = expectations['total_xGA'] / expectations['games']
    print('expectations:')
    display(expectations)

    new_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    coefficients[new_column] = expectations['xG per game'] / coefficients['xG']
    print('coefficients:')
    display(coefficients)
    
    new_column = 'next' + str(number_gameweeks) + '_xP'
    multiplier_xG_xA_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    for ix in players.index:
        team = players.loc[ix,'team_name']
        position = players.loc[ix, 'element_type']

        # adjust xP based on xg and xa for the next game
        xg_points_per_game = players.loc[ix,'xG_points'] / players.loc[ix,'games played']
        xa_points_per_game = players.loc[ix,'xA_points'] / players.loc[ix,'games played']
        xpoints = xg_points_per_game + xa_points_per_game
        players.loc[ix, new_column] = players.loc[ix, 'adjusted points per game'] - \
                            xpoints + coefficients.loc[team, multiplier_xG_xA_column]*xpoints    

        # adjust xP based on probability to keep a clean sheet for the next game
        clean_sheet_points_per_game = players.loc[ix,'clean_sheet_points'] / \
                                        players.loc[ix,'games played']
        probability_clean_sheet_next = poisson.pmf(0, expectations.loc[team, 'xGA per game'])
        players.loc[ix, new_column] = players.loc[ix, new_column] - clean_sheet_points_per_game \
                + points_for_clean_sheet(position) * probability_clean_sheet_next

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester Utd       2  3.134836   3.202069     1.567418      1.601035
Liverpool            2  4.278062   2.099676     2.139031      1.049838
Manchester City      2  3.597612   1.645186     1.798806      0.822593
Leicester City       2  2.719328   2.173668     1.359664      1.086834
Everton              0  0.000000   0.000000          NaN           NaN
Tottenham            1  1.489275   0.871491     1.489275      0.871491
Southampton          1  0.800570   1.398512     0.800570      1.398512
Aston Villa          2  3.105889   2.419235     1.552944      1.209618
Chelsea              2  3.123798   2.295377     1.561899      1.147689
West Ham             2  3.391088   1.292222     1.695544      0.646111
Arsenal              1  1.412302   0.767091     1.412302      0.767091
Leeds United         1  1.621029   1.713972     1.621029      1.713972
Crystal Palace       1  0.568552   1.928421     0.568552      1.928421
Wolves               1  1.499340   0.480875     1.499340      0.480875
Newcastle Utd        2  1.517136   3.441556     0.758568      1.720778
Burnley              2  1.497581   3.681502     0.748790      1.840751
Brighton             1  1.713972   1.621029     1.713972      1.621029
Fulham               2  2.126315   3.507586     1.063157      1.753793
West Brom            2  0.997243   3.436672     0.498621      1.718336
Sheffield Utd        1  0.871491   1.489275     0.871491      1.489275

coefficients:

                       xG       xGA  coefficient  next1_xG_xA_multiplier
Squad
Manchester Utd   1.670588  1.300000     1.262111                0.938243
Liverpool        1.947059  1.176471     1.470982                1.098596
Manchester City  1.756250  0.843750     1.326828                1.024231
Leicester City   1.482353  1.176471     1.119902                0.917234
Everton          1.270588  1.247059     0.959916                     NaN
Tottenham        1.470588  1.094118     1.111014                1.012707
Southampton      0.970588  1.164706     0.733269                0.824829
Aston Villa      1.820000  1.173333     1.374990                0.853266
Chelsea          1.664706  1.100000     1.257667                0.938243
West Ham         1.270588  1.264706     0.959916                1.334456
Arsenal          1.266667  1.200000     0.956953                1.114975
Leeds United     1.723529  1.841176     1.302108                0.940529
Crystal Palace   0.961111  1.355556     0.726109                0.591557
Wolves           0.983333  1.177778     0.742898                1.524752
Newcastle Utd    0.911765  1.376471     0.688828                0.831978
Burnley          0.875000  1.412500     0.661053                0.855760
Brighton         1.327778  1.161111     1.003122                1.290858
Fulham           1.093750  1.500000     0.826316                0.972030
West Brom        0.582353  1.882353     0.439961                0.856219
Sheffield Utd    0.983333  1.444444     0.742898                0.886262

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester Utd       6   9.758635   7.474845     1.626439      1.245807
Liverpool            6  10.660072   7.255731     1.776679      1.209289
Manchester City      6  11.158096   4.553658     1.859683      0.758943
Leicester City       6   9.009130   6.785516     1.501522      1.130919
Everton              4   5.425716   5.521785     1.356429      1.380446
Tottenham            5   7.640466   5.265521     1.528093      1.053104
Southampton          5   4.487781   6.355321     0.897556      1.271064
Aston Villa          6  10.028011   6.260557     1.671335      1.043426
Chelsea              6   9.579506   5.915063     1.596584      0.985844
West Ham             6   8.190918   6.988237     1.365153      1.164706
Arsenal              5   5.868420   5.840964     1.173684      1.168193
Leeds United         5   8.339452   8.165362     1.667890      1.633072
Crystal Palace       5   4.638262   6.964159     0.927652      1.392832
Wolves               5   5.085165   5.255972     1.017033      1.051194
Newcastle Utd        6   5.535457   8.385710     0.922576      1.397618
Burnley              6   4.425008  10.442703     0.737501      1.740450
Brighton             5   6.914133   6.362783     1.382827      1.272557
Fulham               6   6.622940   8.723616     1.103823      1.453936
West Brom            6   3.139308  10.939516     0.523218      1.823253
Sheffield Utd        5   4.724951   7.774410     0.944990      1.554882

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier
Squad,,,,,
Manchester Utd,1.670588,1.300000,1.262111,0.938243,0.973573
Liverpool,1.947059,1.176471,1.470982,1.098596,0.912494
Manchester City,1.756250,0.843750,1.326828,1.024231,1.058894
Leicester City,1.482353,1.176471,1.119902,0.917234,1.012931
Everton,1.270588,1.247059,0.959916,NaN,1.067560
Tottenham,1.470588,1.094118,1.111014,1.012707,1.039103
Southampton,0.970588,1.164706,0.733269,0.824829,0.924755
Aston Villa,1.820000,1.173333,1.374990,0.853266,0.918316
Chelsea,1.664706,1.100000,1.257667,0.938243,0.959079
West Ham,1.270588,1.264706,0.959916,1.334456,1.074426
Arsenal,1.266667,1.200000,0.956953,1.114975,0.926593
Leeds United,1.723529,1.841176,1.302108,0.940529,0.967718
Crystal Palace,0.961111,1.355556,0.726109,0.591557,0.965187
Wolves,0.983333,1.177778,0.742898,1.524752,1.034271
Newcastle Utd,0.911765,1.376471,0.688828,0.831978,1.011858
Burnley,0.875000,1.412500,0.661053,0.855760,0.842859
Brighton,1.327778,1.161111,1.003122,1.290858,1.041459
Fulham,1.093750,1.500000,0.826316,0.972030,1.009210
West Brom,0.582353,1.882353,0.439961,0.856219,0.898455
Sheffield Utd,0.983333,1.444444,0.742898,0.886262,0.961007

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester Utd      11  17.814074  13.679533     1.619461      1.243594
Liverpool           11  20.178205  12.492719     1.834382      1.135702
Manchester City     11  19.687711   8.776715     1.789792      0.797883
Leicester City      11  16.023218  13.247111     1.456656      1.204283
Everton              9  11.649923  11.740122     1.294436      1.304458
Tottenham           10  14.348948  10.479157     1.434895      1.047916
Southampton         10   9.022962  11.728338     0.902296      1.172834
Aston Villa         11  19.086093  12.055522     1.735099      1.095957
Chelsea             11  18.378466  11.287042     1.670770      1.026095
West Ham            11  14.608265  14.202947     1.328024      1.291177
Arsenal             10  12.045015  12.297252     1.204501      1.229725
Leeds United        10  15.914741  17.914221     1.591474      1.791422
Crystal Palace      10   9.890831  12.461392     0.989083      1.246139
Wolves              10  10.049650  11.819097     1.004965      1.181910
Newcastle Utd       11  10.009337  15.459146     0.909940      1.405377
Burnley             11   8.877514  16.509815     0.807047      1.500892
Brighton            10  13.735910  11.294086     1.373591      1.129409
Fulham              11  11.548128  16.682065     1.049830      1.516551
West Brom           11   6.079743  18.899435     0.552704      1.718130
Sheffield Utd       10   9.306880  15.229897     0.930688      1.522990

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier,next10_xG_xA_multiplier
Squad,,,,,,
Manchester Utd,1.670588,1.300000,1.262111,0.938243,0.973573,0.969396
Liverpool,1.947059,1.176471,1.470982,1.098596,0.912494,0.942130
Manchester City,1.756250,0.843750,1.326828,1.024231,1.058894,1.019099
Leicester City,1.482353,1.176471,1.119902,0.917234,1.012931,0.982665
Everton,1.270588,1.247059,0.959916,NaN,1.067560,1.018769
Tottenham,1.470588,1.094118,1.111014,1.012707,1.039103,0.975728
Southampton,0.970588,1.164706,0.733269,0.824829,0.924755,0.929638
Aston Villa,1.820000,1.173333,1.374990,0.853266,0.918316,0.953351
Chelsea,1.664706,1.100000,1.257667,0.938243,0.959079,1.003643
West Ham,1.270588,1.264706,0.959916,1.334456,1.074426,1.045204
Arsenal,1.266667,1.200000,0.956953,1.114975,0.926593,0.950922
Leeds United,1.723529,1.841176,1.302108,0.940529,0.967718,0.923381
Crystal Palace,0.961111,1.355556,0.726109,0.591557,0.965187,1.029104
Wolves,0.983333,1.177778,0.742898,1.524752,1.034271,1.021998
Newcastle Utd,0.911765,1.376471,0.688828,0.831978,1.011858,0.997998
Burnley,0.875000,1.412500,0.661053,0.855760,0.842859,0.922339
Brighton,1.327778,1.161111,1.003122,1.290858,1.041459,1.034504
Fulham,1.093750,1.500000,0.826316,0.972030,1.009210,0.959844
West Brom,0.582353,1.882353,0.439961,0.856219,0.898455,0.949088
Sheffield Utd,0.983333,1.444444,0.742898,0.886262,0.961007,0.946462

In [11]:
metric = 'next1_xP'
#minGames = players['games played'] >= 3

numberToShow = 50
display(players.sort_values(by=[metric], ascending=False)[['web_name','team_name',\
         'now_cost','games played','total_points','adjusted points','points_per_game',\
         'adjusted points per game','next1_xP','next5_xP','next10_xP']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,next1_xP,next5_xP,next10_xP
id,,,,,,,,,,,
272,De Bruyne,Manchester City,118,15.000000,87,107.720727,5.8,7.181382,7.280815,7.438770,7.272692
254,Salah,Liverpool,125,16.025641,125,105.679220,7.8,6.594383,6.962089,6.295026,6.415827
388,Kane,Tottenham,111,17.051282,133,115.338043,7.8,6.764186,6.800747,6.876694,6.694352
302,Fernandes,Manchester Utd,113,16.923077,132,116.907017,7.8,6.908142,6.629947,6.834588,6.821201
390,Son,Tottenham,98,16.962025,134,103.451316,7.9,6.098996,6.214027,6.210069,6.054586
224,Vardy,Leicester City,101,16.000000,112,99.214940,7.0,6.200934,5.953980,6.239518,6.149210
251,Mané,Liverpool,119,15.961538,83,88.193820,5.2,5.525396,5.842524,5.270928,5.376526
461,Saïss,Wolves,51,13.125000,63,53.268023,4.8,4.058516,5.623481,4.245897,4.067013
202,Bamford,Leeds United,66,17.118644,101,97.891838,5.9,5.718434,5.554388,5.629387,5.507088
37,Grealish,Aston Villa,77,14.923077,97,86.225525,6.5,5.777999,5.411033,5.622764,5.689726
431,Fabianski,West Ham,51,16.136364,71,69.222622,4.4,4.289853,5.256883,4.408621,4.260351
277,Cancelo,Manchester City,58,11.960784,61,62.011444,5.1,5.184563,5.242621,5.388530,5.282075
435,Cresswell,West Ham,54,17.111111,77,69.829600,4.5,4.080951,5.241487,4.242779,4.077603
470,Kilman,Wolves,41,10.000000,37,38.252861,3.7,3.825286,5.223830,4.001798,3.826806
39,Hause,Aston Villa,44,4.000000,28,21.549346,7.0,5.387336,5.101134,5.424205,5.409909
563,Ait Nouri,Wolves,50,9.090909,30,33.032998,3.3,3.633630,5.099867,3.814563,3.637988
558,Coufal,West Ham,47,13.000000,52,51.083863,4.0,3.929528,5.066359,4.086082,3.922976
276,Sterling,Manchester City,114,15.000000,75,74.343257,5.0,4.956217,5.012616,5.109009,5.013608
449,Soucek,West Ham,53,17.111111,77,73.265216,4.5,4.281733,5.002371,4.417990,4.339082
506,Wilson,Newcastle Utd,66,14.915254,88,79.417470,5.9,5.324580,4.967701,5.349766,5.320329
474,Neto,Wolves,60,17.826087,82,72.361601,4.6,4.059309,4.964223,4.139702,4.082967
255,Robertson,Liverpool,74,17.021277,80,79.066913,4.7,4.645181,4.895111,4.531328,4.647549
442,Masuaku,West Ham,44,10.000000,37,36.827260,3.7,3.682726,4.870497,3.850615,3.683059
275,Mahrez,Manchester City,81,11.875000,57,56.641741,4.8,4.769831,4.825143,4.919982,4.826365
383,Lloris,Tottenham,56,16.888889,76,74.619959,4.5,4.418287,4.752256,4.474360,4.481619
68,Maupay,Brighton,61,15.789474,60,65.414368,3.8,4.142910,4.722803,4.225569,4.211701
514,Watkins,Aston Villa,61,15.000000,69,76.177470,4.6,5.078498,4.692686,4.863724,4.955843
455,Patrício,Wolves,54,17.741935,55,60.855392,3.1,3.430031,4.671149,3.596262,3.424952
450,Fornals,West Ham,61,15.897436,62,63.225671,3.9,3.977099,4.660662,4.105105,4.029437
23,Smith Rowe,Arsenal,45,4.038462,21,17.519464,5.2,4.338153,4.657906,4.247913,4.262492
8,Leno,Arsenal,50,17.804878,73,70.450905,4.1,3.956832,4.609502,3.995768,3.921546
249,Firmino,Liverpool,93,17.073171,70,75.303103,4.1,4.410610,4.592520,4.249161,4.303840
12,Martínez,Aston Villa,51,15.090909,83,69.672532,5.5,4.616855,4.572763,4.788501,4.716397
468,Jota,Liverpool,66,9.038462,47,39.387147,5.2,4.357727,4.569529,4.196739,4.270677
11,Bellerín,Arsenal,51,16.052632,61,61.642941,3.8,3.840052,4.546440,3.844692,3.781837
246,Matip,Liverpool,54,8.000000,40,34.336420,5.0,4.292053,4.539912,4.180037,4.295636
283,Zinchenko,Manchester City,55,2.972973,11,13.314639,3.7,4.478560,4.525126,4.654598,4.567015
306,Rashford,Manchester Utd,96,16.981132,90,80.099736,5.3,4.716984,4.515944,4.676447,4.668278
445,Bowen,West Ham,63,17.000000,68,64.668215,4.0,3.804013,4.458922,3.925643,3.852478
273,Stones,Manchester City,50,8.000000,44,35.263029,5.5,4.407879,4.449207,4.571187,4.492205
432,Ogbonna,West Ham,50,16.923077,66,56.311049,3.9,3.327471,4.436797,3.477904,3.317202
389,Aurier,Tottenham,52,9.047619,38,36.952203,4.2,4.084191,4.427851,4.170085,4.129012
24,Saka,Arsenal,53,15.945946,59,64.871562,3.7,4.068217,4.413084,3.961942,3.981836
4,Aubameyang,Arsenal,113,16.000000,56,64.773475,3.5,4.048342,4.405674,3.934110,3.956641
469,Podence,Wolves,54,15.000000,57,53.188170,3.8,3.545878,4.405398,3.623306,3.567633
560,Kelleher,Liverpool,45,1.000000,7,4.233461,7.0,4.233461,4.399978,4.193638,4.284787
458,Boly,Wolves,54,12.000000,36,36.582192,3.0,3.048516,4.368347,3.219887,3.046736
542,Reguilón,Tottenham,57,12.142857,51,48.866513,4.2,4.024301,4.366433,4.105492,4.072042
546,Semedo,Wolves,53,15.217391,35,44.779901,2.3,2.942679,4.359664,3.120396,2.944972
96,Pope,Burnley,54,14.905660,79,70.120122,5.3,4.704261,4.359113,4.425567,4.618725

In [12]:
# save predictions
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players.to_csv(filepath)