In [1]:
# recent gameweek
latest_gameweek = 17

In [2]:
import pandas as pd
import numpy as np
import json
import requests
from scipy.stats import poisson

# allow more data columns to be shown than by default
pd.set_option('max_columns',100)

In [3]:
# fetch FPL fixtures online
fixtures_text = json.loads(requests.get('https://fantasy.premierleague.com/api/fixtures').text)
fixtures = pd.DataFrame(fixtures_text)
fixtures.head(20)

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,pulse_id,started,stats,team_a,team_a_difficulty,team_a_score,team_h,team_h_difficulty,team_h_score
0,2128386,NaN,False,False,99,None,0,False,58996,None,[],14,3,NaN,2,2,NaN
1,2128447,NaN,False,False,160,None,0,False,59057,None,[],8,2,NaN,4,2,NaN
2,2128440,NaN,False,False,153,None,0,False,59050,None,[],12,3,NaN,7,4,NaN
3,2128608,NaN,False,False,321,None,0,False,59218,None,[],17,2,NaN,8,4,NaN
4,2128612,NaN,False,False,325,None,0,False,59222,None,[],16,5,NaN,12,3,NaN
5,2128444,NaN,False,False,157,None,0,False,59054,None,[],8,4,NaN,17,2,NaN
6,2128288,1.0,True,True,2,2020-09-12T11:30:00Z,90,False,58898,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",1,2,3.0,8,3,0.0
7,2128287,1.0,True,True,1,2020-09-12T14:00:00Z,90,False,58897,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",16,3,0.0,6,3,1.0
8,2128289,1.0,True,True,3,2020-09-12T16:30:00Z,90,False,58899,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",10,5,3.0,11,2,4.0
9,2128293,1.0,True,True,6,2020-09-12T19:00:00Z,90,False,58903,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",14,3,2.0,19,2,0.0
10,2128292,1.0,True,True,5,2020-09-13T13:00:00Z,90,False,58902,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",9,2,3.0,18,4,0.0
11,2128291,1.0,True,True,4,2020-09-13T15:30:00Z,90,False,58901,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",7,4,1.0,17,3,0.0
12,2128295,1.0,True,True,8,2020-09-14T17:00:00Z,90,False,58905,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",20,2,2.0,15,3,0.0
13,2128294,1.0,True,True,7,2020-09-14T19:15:00Z,90,False,58904,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,2,3.0,3,4,1.0
14,2128299,2.0,True,True,12,2020-09-19T11:30:00Z,90,False,58909,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",18,3,2.0,7,2,5.0
15,2128300,2.0,True,True,13,2020-09-19T14:00:00Z,90,False,58910,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",8,3,3.0,10,2,4.0
16,2128302,2.0,True,True,15,2020-09-19T16:30:00Z,90,False,58912,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",6,4,3.0,13,3,1.0
17,2128296,2.0,True,True,9,2020-09-19T19:00:00Z,90,False,58906,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",19,3,1.0,1,3,2.0
18,2128304,2.0,True,True,17,2020-09-20T11:00:00Z,90,False,58914,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",17,3,5.0,16,4,2.0
19,2128303,2.0,True,True,16,2020-09-20T13:00:00Z,90,False,58913,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,3,3.0,14,2,0.0

In [4]:
filepath = '../data/fbref/team_stats_week' + str(latest_gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col='Squad')
display(teamStats)

,Rk,MP,W,D,L,GF,GA,GDiff,Pts,xG,xGA,xGDiff,xGDiff/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes,xG per game,xGA per game,probability no goals allowed
Squad,,,,,,,,,,,,,,,,,,,,,
Liverpool,1,17,9,6,2,37,21,16,33,33.1,20.0,13.1,0.77,W W D D L,750.0,Mohamed Salah - 13,Alisson,NaN,1.947059,1.176471,0.308365
Manchester Utd,2,16,10,3,3,33,24,9,33,27.2,21.4,5.8,0.36,W W D W W,NaN,Bruno Fernandes - 11,David de Gea,NaN,1.700000,1.337500,0.262501
Leicester City,3,17,10,2,5,31,21,10,32,25.2,20.0,5.2,0.30,L W D D W,NaN,Jamie Vardy - 11,Kasper Schmeichel,NaN,1.482353,1.176471,0.308365
Tottenham,4,16,8,5,3,29,15,14,29,22.8,17.7,5.1,0.32,D L L D W,250.0,Son Heung-min - 12,Hugo Lloris,NaN,1.425000,1.106250,0.330797
Manchester City,5,15,8,5,2,24,13,11,29,25.5,13.1,12.3,0.82,D D W W W,NaN,Riyad Mahrez Raheem Sterling - 4,Ederson,NaN,1.700000,0.873333,0.417557
Southampton,6,17,8,5,4,26,19,7,29,16.5,19.8,-3.4,-0.20,D L D D W,222.0,Danny Ings - 7,Alex McCarthy,NaN,0.970588,1.164706,0.312014
Everton,7,16,9,2,5,26,20,6,29,21.0,20.2,0.8,0.05,W W W W L,250.0,Dominic Calvert-Lewin - 11,Jordan Pickford,NaN,1.312500,1.262500,0.282946
Aston Villa,8,15,8,2,5,29,16,13,26,27.3,17.6,9.7,0.64,D W W D L,NaN,Ollie Watkins - 6,Emiliano Martínez,NaN,1.820000,1.173333,0.309334
Chelsea,9,17,7,5,5,32,21,11,26,28.3,18.7,9.6,0.57,L W L D L,222.0,Tammy Abraham - 6,Edouard Mendy,NaN,1.664706,1.100000,0.332871
West Ham,10,17,7,5,5,24,21,3,26,21.6,21.5,0.1,0.00,D L D D W,250.0,Tomáš Souček - 5,Łukasz Fabiański,NaN,1.270588,1.264706,0.282322
Arsenal,11,17,7,2,8,20,19,1,23,22.2,20.6,1.6,0.09,D L W W W,250.0,Alexandre Lacazette - 7,Bernd Leno,NaN,1.305882,1.211765,0.297672
Leeds United,12,17,7,2,8,30,33,-3,23,29.3,31.3,-2.0,-0.12,W L W W L,NaN,Patrick Bamford - 10,Illan Meslier,NaN,1.723529,1.841176,0.158631
Wolves,13,17,6,4,7,18,24,-6,22,16.7,20.6,-3.9,-0.23,W L D L D,NaN,Raúl Jiménez Pedro Neto - 4,Rui Patrício,NaN,0.982353,1.211765,0.297672
Crystal Palace,14,17,6,4,7,22,29,-7,22,16.2,23.9,-7.7,-0.45,D L L D W,222.0,Wilfried Zaha - 8,Vicente Guaita,NaN,0.952941,1.405882,0.245151
Newcastle Utd,15,16,5,4,7,18,26,-8,19,15.0,21.5,-6.5,-0.41,L D L D L,NaN,Callum Wilson - 8,Karl Darlow,NaN,0.937500,1.343750,0.260866
Burnley,16,15,4,4,7,9,20,-11,16,13.2,21.3,-8.1,-0.54,W D W L W,NaN,Chris Wood - 3,Nick Pope,NaN,0.880000,1.420000,0.241714
Brighton,17,17,2,8,7,21,28,-7,14,23.6,18.2,5.4,0.32,D D D L D,222.0,Neal Maupay - 6,Mathew Ryan,NaN,1.388235,1.070588,0.342807
Fulham,18,15,2,5,8,13,23,-10,11,16.6,21.8,-5.2,-0.35,L D D D D,250.0,Bobby Reid - 4,Alphonse Areola,NaN,1.106667,1.453333,0.233790
West Brom,19,17,1,5,11,11,39,-28,8,9.9,32.0,-22.1,-1.30,D L D L L,NaN,Conor Gallagher Callum Robinson - 2,Sam Johnstone,NaN,0.582353,1.882353,0.152231
Sheffield Utd,20,17,0,2,15,8,29,-21,2,15.8,25.5,-9.7,-0.57,L D L L L,NaN,David McGoldrick - 4,Aaron Ramsdale,NaN,0.929412,1.500000,0.223130

In [5]:
# fetch FPL data
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players = pd.read_csv(filepath, index_col=0)
players.head()

,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,code,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,creativity,creativity_rank,creativity_rank_type,direct_freekicks_order,direct_freekicks_text,dreamteam_count,element_type,ep_next,ep_this,event_points,first_name,form,goals_conceded,goals_scored,ict_index,ict_index_rank,ict_index_rank_type,in_dreamteam,influence,influence_rank,influence_rank_type,minutes,news,news_added,now_cost,own_goals,penalties_missed,penalties_order,penalties_saved,penalties_text,photo,points_per_game,red_cards,saves,second_name,selected_by_percent,special,...,xG_week10,goals_week10,xGA_week10,cleansheet_week10,xA_week10,assists_week10,xPoints week 11,xG_week11,goals_week11,xGA_week11,cleansheet_week11,xA_week11,assists_week11,xPoints week 12,xG_week12,goals_week12,xGA_week12,cleansheet_week12,xA_week12,assists_week12,xPoints week 13,xG_week13,goals_week13,xGA_week13,cleansheet_week13,xA_week13,assists_week13,xPoints week 14,xG_week14,goals_week14,xGA_week14,cleansheet_week14,xA_week14,assists_week14,xPoints week 15,xG_week15,goals_week15,xGA_week15,cleansheet_week15,xA_week15,assists_week15,xPoints week 16,xG_week16,goals_week16,xGA_week16,cleansheet_week16,xA_week16,assists_week16,form 5,form 10
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0.0,0.0,0,37605,NaN,NaN,0,0,-2,2,0.0,625,248,NaN,NaN,0,3,0.0,0.0,0,Mesut,0.0,0,0,0.0,625,248,False,0.0,625,248,0,Not included in Arsenal's 25-man Premier Leagu...,2020-10-20T22:30:18.118477Z,68,0,0,NaN,0,NaN,37605.jpg,0.0,0,0,Özil,0.5,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,0,0,0.0,0.0,0,39476,NaN,NaN,0,0,-2,2,0.0,574,215,NaN,NaN,0,2,0.0,0.0,0,Sokratis,0.0,0,0,0.0,586,215,False,0.0,584,215,0,Not included in Arsenal's 25-man Premier Leagu...,2020-10-21T10:30:18.546407Z,48,0,0,NaN,0,NaN,39476.jpg,0.0,0,0,Papastathopoulos,0.1,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,0,70,100.0,75.0,0,41270,NaN,NaN,0,0,-1,1,25.8,299,94,4.0,NaN,0,2,0.8,1.0,0,David,0.3,9,0,16.5,302,99,False,99.4,263,100,479,NaN,2020-12-26T18:00:15.638627Z,54,0,0,NaN,0,NaN,41270.jpg,1.1,0,0,Luiz Moreira Marinho,0.7,False,...,0.0,0.0,1.4,0.0,0.0,0.0,NaN,NaN,NaN,0.5,0.0,NaN,NaN,NaN,NaN,NaN,0.9,0.0,NaN,NaN,1.000000,0.0,0.0,1.1,0.0,0.0,0.0,3.397316,0.1,0.0,0.8,0.0,0.0,0.0,NaN,NaN,NaN,2.2,0.0,NaN,NaN,NaN,NaN,NaN,0.8,0.0,NaN,NaN,2.198658,1.465772
4,1,4,154,100.0,100.0,5,54694,NaN,NaN,-1,1,-7,7,214.3,62,42,NaN,NaN,1,3,3.2,3.7,3,Pierre-Emerick,2.7,16,3,84.6,39,25,False,198.8,148,56,1346,NaN,2020-12-19T20:30:20.434896Z,113,1,0,1.0,0,NaN,54694.jpg,3.5,0,0,Aubameyang,7.2,False,...,0.4,0.0,1.4,0.0,0.0,0.0,3.606531,0.2,0.0,0.5,0.0,0.0,0.0,1.70657,0.2,0.0,0.9,0.0,0.1,0.0,7.132871,0.3,1.0,1.1,0.0,0.1,0.0,NaN,NaN,NaN,0.8,0.0,NaN,NaN,NaN,NaN,NaN,2.2,0.0,NaN,NaN,5.449329,0.6,0.0,0.8,1.0,0.0,0.0,6.417507,4.357450
5,0,0,3,100.0,100.0,0,58822,NaN,NaN,0,0,-4,4,0.0,559,212,NaN,NaN,0,2,0.7,1.2,0,Cédric,0.2,0,0,0.0,574,212,False,0.0,571,211,5,NaN,2020-09-23T09:00:14.881983Z,46,0,0,NaN,0,NaN,58822.jpg,1.0,0,0,Soares,0.2,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,0.0,0.0,1.1,0.0,0.0,0.0,NaN,NaN,NaN,0.8,0.0,NaN,NaN,NaN,NaN,NaN,2.2,0.0,NaN,NaN,NaN,NaN,NaN,0.8,0.0,NaN,NaN,1.000000,1.000000

In [6]:
coefficients = pd.DataFrame(np.nan, index=teamStats.index, columns=['xG','xGA','coefficient'])

for ix in coefficients.index:
    coefficients.loc[ix, 'xG'] = teamStats.loc[ix, 'xG per game']
    coefficients.loc[ix, 'xGA'] = teamStats.loc[ix, 'xGA per game']
    coefficients.loc[ix, 'coefficient'] = 0.755489209043063 * coefficients.loc[ix, 'xG']

display(coefficients)

                       xG       xGA  coefficient
Squad
Liverpool        1.947059  1.176471     1.470982
Manchester Utd   1.700000  1.337500     1.284332
Leicester City   1.482353  1.176471     1.119902
Tottenham        1.425000  1.106250     1.076572
Manchester City  1.700000  0.873333     1.284332
Southampton      0.970588  1.164706     0.733269
Everton          1.312500  1.262500     0.991580
Aston Villa      1.820000  1.173333     1.374990
Chelsea          1.664706  1.100000     1.257667
West Ham         1.270588  1.264706     0.959916
Arsenal          1.305882  1.211765     0.986580
Leeds United     1.723529  1.841176     1.302108
Wolves           0.982353  1.211765     0.742157
Crystal Palace   0.952941  1.405882     0.719937
Newcastle Utd    0.937500  1.343750     0.708271
Burnley          0.880000  1.420000     0.664831
Brighton         1.388235  1.070588     1.048797
Fulham           1.106667  1.453333     0.836075
West Brom        0.582353  1.882353     0.439961
Sheffield Utd    0.929412  1.500000     0.702161

In [7]:
def points_for_clean_sheet(position):
    if position < 3:
        return 4
    elif position==3:
        return 1
    elif position==4:
        return 0

In [8]:
goalkeepers = players['element_type'] == 1
defenders = players['element_type'] == 2
midfielders = players['element_type'] == 3
forwards = players['element_type'] == 4

In [9]:
home_coefficient = 1.0721855628874228
away_coefficient = 0.9280143971205758

In [10]:
team_names = np.sort(teamStats.index)
# for some reason the fpl team numbers are not alphabetical with leeds and leicester...
if (team_names[8]=='Leeds United') & (team_names[9]=='Leicester City'):
    team_names[8] = 'Leicester City'
    team_names[9] = 'Leeds United'
    
# how many gameweeks ahead do you want to look at
for number_gameweeks in [1,5,10]:
    expectations = pd.DataFrame(0, index=teamStats.index, \
                columns=['games','total_xG','total_xGA','xG per game', 'xGA per game'])
    gameweeks = np.arange(latest_gameweek+1, latest_gameweek+number_gameweeks+1)
    games = fixtures[fixtures['event'].isin(gameweeks)]
    for ix in games.index:
        home_team_number = games.loc[ix,'team_h']
        home_team = team_names[home_team_number-1]
        away_team_number = games.loc[ix,'team_a']
        away_team = team_names[away_team_number-1]

        home_xG = home_coefficient * coefficients.loc[home_team,'coefficient'] * \
                                    coefficients.loc[away_team,'xGA']
        away_xG = away_coefficient * coefficients.loc[away_team,'coefficient'] * \
                                    coefficients.loc[home_team,'xGA']
        expectations.loc[home_team,'total_xG'] += home_xG
        expectations.loc[home_team,'total_xGA'] += away_xG
        expectations.loc[home_team,'games'] += 1
        expectations.loc[away_team,'total_xG'] += away_xG
        expectations.loc[away_team,'total_xGA'] += home_xG
        expectations.loc[away_team,'games'] += 1

    expectations['xG per game'] = expectations['total_xG'] / expectations['games']
    expectations['xGA per game'] = expectations['total_xGA'] / expectations['games']
    print('expectations:')
    display(expectations)

    new_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    coefficients[new_column] = expectations['xG per game'] / coefficients['xG']
    print('coefficients:')
    display(coefficients)
    
    new_column = 'next' + str(number_gameweeks) + '_xP'
    multiplier_xG_xA_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    for ix in players.index:
        team = players.loc[ix,'team_name']
        position = players.loc[ix, 'element_type']

        # adjust xP based on xg and xa for the next game
        xg_points_per_game = players.loc[ix,'xG_points'] / players.loc[ix,'games played']
        xa_points_per_game = players.loc[ix,'xA_points'] / players.loc[ix,'games played']
        xpoints = xg_points_per_game + xa_points_per_game
        players.loc[ix, new_column] = players.loc[ix, 'adjusted points per game'] - \
                            xpoints + coefficients.loc[team, multiplier_xG_xA_column]*xpoints    

        # adjust xP based on probability to keep a clean sheet for the next game
        clean_sheet_points_per_game = players.loc[ix,'clean_sheet_points'] / \
                                        players.loc[ix,'games played']
        probability_clean_sheet_next = poisson.pmf(0, expectations.loc[team, 'xGA per game'])
        players.loc[ix, new_column] = players.loc[ix, new_column] - clean_sheet_points_per_game \
                + points_for_clean_sheet(position) * probability_clean_sheet_next

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Liverpool            0  0.000000   0.000000          NaN           NaN
Manchester Utd       1  1.692467   0.953399     1.692467      0.953399
Leicester City       0  0.000000   0.000000          NaN           NaN
Tottenham            1  1.172247   1.630883     1.172247      1.630883
Manchester City      1  1.474245   0.850014     1.474245      0.850014
Southampton          0  0.000000   0.000000          NaN           NaN
Everton              1  1.115066   1.004609     1.115066      1.004609
Aston Villa          1  1.630883   1.172247     1.630883      1.172247
Chelsea              0  0.000000   0.000000          NaN           NaN
West Ham             0  0.000000   0.000000          NaN           NaN
Arsenal              1  1.487138   0.809594     1.487138      0.809594
Leeds United         0  0.000000   0.000000          NaN           NaN
Wolves               1  1.004609   1.115066     1.004609      1.115066
Crystal Palace       1  0.809594   1.487138     0.809594      1.487138
Newcastle Utd        1  0.985929   1.011637     0.985929      1.011637
Burnley              1  0.953399   1.692467     0.953399      1.692467
Brighton             1  0.850014   1.474245     0.850014      1.474245
Fulham               0  0.000000   0.000000          NaN           NaN
West Brom            0  0.000000   0.000000          NaN           NaN
Sheffield Utd        1  1.011637   0.985929     1.011637      0.985929

coefficients:

                       xG       xGA  coefficient  next1_xG_xA_multiplier
Squad
Liverpool        1.947059  1.176471     1.470982                     NaN
Manchester Utd   1.700000  1.337500     1.284332                0.995569
Leicester City   1.482353  1.176471     1.119902                     NaN
Tottenham        1.425000  1.106250     1.076572                0.822630
Manchester City  1.700000  0.873333     1.284332                0.867203
Southampton      0.970588  1.164706     0.733269                     NaN
Everton          1.312500  1.262500     0.991580                0.849574
Aston Villa      1.820000  1.173333     1.374990                0.896090
Chelsea          1.664706  1.100000     1.257667                     NaN
West Ham         1.270588  1.264706     0.959916                     NaN
Arsenal          1.305882  1.211765     0.986580                1.138799
Leeds United     1.723529  1.841176     1.302108                     NaN
Wolves           0.982353  1.211765     0.742157                1.022656
Crystal Palace   0.952941  1.405882     0.719937                0.849574
Newcastle Utd    0.937500  1.343750     0.708271                1.051657
Burnley          0.880000  1.420000     0.664831                1.083408
Brighton         1.388235  1.070588     1.048797                0.612298
Fulham           1.106667  1.453333     0.836075                     NaN
West Brom        0.582353  1.882353     0.439961                     NaN
Sheffield Utd    0.929412  1.500000     0.702161                1.088471

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Squad
Liverpool            5   9.274103   5.841932     1.854821      1.168386
Manchester Utd       6   9.940561   7.458315     1.656760      1.243053
Leicester City       5   7.752631   5.900679     1.550526      1.180136
Tottenham            5   6.368152   6.508978     1.273630      1.301796
Manchester City      6  11.027498   4.151458     1.837916      0.691910
Southampton          5   4.838773   7.180944     0.967755      1.436189
Everton              5   6.568409   6.770342     1.313682      1.354068
Aston Villa          6   9.769099   6.671754     1.628183      1.111959
Chelsea              5   7.909284   5.012875     1.581857      1.002575
West Ham             5   6.907245   5.863816     1.381449      1.172763
Arsenal              5   6.499158   4.967273     1.299832      0.993455
Leeds United         5   7.928646   8.348121     1.585729      1.669624
Wolves               5   5.192574   5.288638     1.038515      1.057728
Crystal Palace       5   4.202456   6.711380     0.840491      1.342276
Newcastle Utd        5   5.078038   6.383198     1.015608      1.276640
Burnley              6   4.597115  10.812723     0.766186      1.802120
Brighton             5   6.665349   6.557645     1.333070      1.311529
Fulham               5   5.530817   7.258705     1.106163      1.451741
West Brom            5   2.721091   8.556333     0.544218      1.711267
Sheffield Utd        5   4.702209   7.228102     0.940442      1.445620

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier
Squad,,,,,
Liverpool,1.947059,1.176471,1.470982,NaN,0.952627
Manchester Utd,1.700000,1.337500,1.284332,0.995569,0.974565
Leicester City,1.482353,1.176471,1.119902,NaN,1.045990
Tottenham,1.425000,1.106250,1.076572,0.822630,0.893776
Manchester City,1.700000,0.873333,1.284332,0.867203,1.081127
Southampton,0.970588,1.164706,0.733269,NaN,0.997081
Everton,1.312500,1.262500,0.991580,0.849574,1.000900
Aston Villa,1.820000,1.173333,1.374990,0.896090,0.894606
Chelsea,1.664706,1.100000,1.257667,NaN,0.950232
West Ham,1.270588,1.264706,0.959916,NaN,1.087252
Arsenal,1.305882,1.211765,0.986580,1.138799,0.995367
Leeds United,1.723529,1.841176,1.302108,NaN,0.920048
Wolves,0.982353,1.211765,0.742157,1.022656,1.057171
Crystal Palace,0.952941,1.405882,0.719937,0.849574,0.881997
Newcastle Utd,0.937500,1.343750,0.708271,1.051657,1.083315
Burnley,0.880000,1.420000,0.664831,1.083408,0.870666
Brighton,1.388235,1.070588,1.048797,0.612298,0.960262
Fulham,1.106667,1.453333,0.836075,NaN,0.999545
West Brom,0.582353,1.882353,0.439961,NaN,0.934516
Sheffield Utd,0.929412,1.500000,0.702161,1.088471,1.011868

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Squad
Liverpool           10  18.588443  11.537881     1.858844      1.153788
Manchester Utd      11  18.124985  13.844478     1.647726      1.258589
Leicester City      10  14.211729  12.577305     1.421173      1.257731
Tottenham           10  13.938858  11.044187     1.393886      1.104419
Manchester City     11  18.980683   9.144070     1.725517      0.831279
Southampton         10   9.450522  12.342067     0.945052      1.234207
Everton             10  12.677373  14.041122     1.267737      1.404112
Aston Villa         11  18.791824  12.731063     1.708348      1.157369
Chelsea             10  16.337311   9.752127     1.633731      0.975213
West Ham            10  13.557202  12.354961     1.355720      1.235496
Arsenal             10  12.822042  11.981043     1.282204      1.198104
Leeds United        10  15.986263  17.235217     1.598626      1.723522
Wolves              10  10.129574  11.671612     1.012957      1.167161
Crystal Palace      10   9.104881  13.836044     0.910488      1.383604
Newcastle Utd       10   9.722103  12.519341     0.972210      1.251934
Burnley             11   9.115724  16.809866     0.828702      1.528170
Brighton            10  14.102811  11.019802     1.410281      1.101980
Fulham              10  10.992356  14.459476     1.099236      1.445948
West Brom           10   5.522353  17.383758     0.552235      1.738376
Sheffield Utd       10   9.064002  14.935619     0.906400      1.493562

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier,next10_xG_xA_multiplier
Squad,,,,,,
Liverpool,1.947059,1.176471,1.470982,NaN,0.952627,0.954693
Manchester Utd,1.700000,1.337500,1.284332,0.995569,0.974565,0.969251
Leicester City,1.482353,1.176471,1.119902,NaN,1.045990,0.958728
Tottenham,1.425000,1.106250,1.076572,0.822630,0.893776,0.978166
Manchester City,1.700000,0.873333,1.284332,0.867203,1.081127,1.015010
Southampton,0.970588,1.164706,0.733269,NaN,0.997081,0.973690
Everton,1.312500,1.262500,0.991580,0.849574,1.000900,0.965895
Aston Villa,1.820000,1.173333,1.374990,0.896090,0.894606,0.938653
Chelsea,1.664706,1.100000,1.257667,NaN,0.950232,0.981393
West Ham,1.270588,1.264706,0.959916,NaN,1.087252,1.067002
Arsenal,1.305882,1.211765,0.986580,1.138799,0.995367,0.981868
Leeds United,1.723529,1.841176,1.302108,NaN,0.920048,0.927531
Wolves,0.982353,1.211765,0.742157,1.022656,1.057171,1.031154
Crystal Palace,0.952941,1.405882,0.719937,0.849574,0.881997,0.955450
Newcastle Utd,0.937500,1.343750,0.708271,1.051657,1.083315,1.037024
Burnley,0.880000,1.420000,0.664831,1.083408,0.870666,0.941707
Brighton,1.388235,1.070588,1.048797,0.612298,0.960262,1.015880
Fulham,1.106667,1.453333,0.836075,NaN,0.999545,0.993285
West Brom,0.582353,1.882353,0.439961,NaN,0.934516,0.948283
Sheffield Utd,0.929412,1.500000,0.702161,1.088471,1.011868,0.975241

In [11]:
metric = 'next1_xP'
#minGames = players['games played'] >= 3

numberToShow = 50
display(players.sort_values(by=[metric], ascending=False)[['web_name','team_name',\
         'now_cost','games played','total_points','adjusted points','points_per_game',\
         'adjusted points per game','next1_xP','next5_xP','next10_xP']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,next1_xP,next5_xP,next10_xP
id,,,,,,,,,,,
302,Fernandes,Manchester Utd,113,16.049383,130,114.774728,8.1,7.151348,7.258865,7.088885,7.065955
272,De Bruyne,Manchester City,117,13.965517,81,99.833152,5.8,7.148547,6.670970,7.529384,7.221574
388,Kane,Tottenham,110,16.025641,125,108.604903,7.8,6.776946,6.268265,6.472305,6.714327
506,Wilson,Newcastle Utd,65,14.098361,86,76.750874,6.1,5.443957,5.557104,5.626444,5.525053
37,Grealish,Aston Villa,77,14.923077,97,86.525683,6.5,5.798113,5.546386,5.562031,5.654276
23,Smith Rowe,Arsenal,44,3.000000,18,15.296170,6.0,5.098723,5.500556,5.162852,5.069576
390,Son,Tottenham,98,16.097561,132,96.763619,8.2,6.011073,5.461739,5.704205,5.960680
39,Hause,Aston Villa,44,4.000000,28,21.549346,7.0,5.387336,5.217229,5.291756,5.306024
277,Cancelo,Manchester City,57,11.000000,55,55.740243,5.0,5.067295,5.005292,5.461494,5.150495
306,Rashford,Manchester Utd,96,16.153846,84,76.911276,5.2,4.761174,4.874282,4.730806,4.714581
276,Sterling,Manchester City,114,14.074074,76,71.415326,5.4,5.074247,4.841604,5.305451,5.119590
514,Watkins,Aston Villa,61,15.000000,69,76.310874,4.6,5.087392,4.814177,4.810276,4.926089
141,Zaha,Crystal Palace,74,15.084746,89,76.341191,5.9,5.060820,4.725176,4.828628,4.972606
12,Martínez,Aston Villa,50,15.090909,83,69.672532,5.5,4.616855,4.618199,4.695174,4.636766
155,Digne,Everton,60,8.095238,34,35.300646,4.2,4.360668,4.576569,4.262337,4.184683
8,Leno,Arsenal,49,17.179487,67,67.455376,3.9,3.926507,4.515975,4.217002,3.942884
164,Calvert-Lewin,Everton,78,16.101695,95,77.870874,5.9,4.836191,4.509213,4.838148,4.762058
325,Darlow,Newcastle Utd,50,16.052632,61,65.750317,3.8,4.095921,4.506951,4.168352,4.196264
4,Aubameyang,Arsenal,113,15.142857,53,61.995316,3.5,4.094030,4.484480,4.158539,4.066370
275,Mahrez,Manchester City,81,11.020408,54,51.769371,4.9,4.697591,4.464030,4.929356,4.743038
96,Pope,Burnley,54,13.888889,75,65.028556,5.4,4.682056,4.455063,4.369408,4.580411
273,Stones,Manchester City,50,7.037037,38,31.253467,5.4,4.441282,4.452382,4.790822,4.516220
45,El Ghazi,Aston Villa,58,9.038462,47,42.235904,5.2,4.672909,4.438257,4.454146,4.539152
24,Saka,Arsenal,53,15.135135,56,61.540735,3.7,4.066084,4.434465,4.131330,4.041307
508,Rodríguez,Everton,77,11.111111,50,51.346997,4.5,4.621230,4.429644,4.598117,4.521559
11,Bellerín,Arsenal,51,15.142857,53,56.433544,3.5,3.726743,4.384957,4.014943,3.734140
461,Saïss,Wolves,51,11.923077,62,50.296641,5.2,4.218428,4.354708,4.455557,4.293904
40,Trézéguet,Aston Villa,52,8.928571,25,39.929630,2.8,4.472119,4.260644,4.276864,4.352046
17,Tierney,Arsenal,54,15.945946,59,56.922052,3.7,3.569688,4.237496,3.857568,3.575831
91,Wood,Burnley,62,15.161290,47,61.000000,3.1,4.023404,4.166440,3.801610,3.923438
33,Hourihane,Aston Villa,59,4.000000,20,17.105055,5.0,4.276264,4.149310,4.166736,4.206091
165,Holgate,Everton,48,7.021277,33,27.446562,4.7,3.909056,4.145614,3.810601,3.737755
474,Neto,Wolves,60,17.021277,80,69.205341,4.7,4.065814,4.121725,4.180211,4.114717
270,Walker,Manchester City,61,11.956522,55,49.037853,4.6,4.101348,4.117430,4.447844,4.175722
166,Richarlison,Everton,78,11.951220,49,52.458592,4.1,4.389392,4.117269,4.391021,4.327696
280,Laporte,Manchester City,60,4.000000,12,16.480918,3.0,4.120229,4.099877,4.488984,4.198722
494,Gabriel,Arsenal,50,12.051282,47,41.549293,3.9,3.447707,4.085549,3.736587,3.457765
282,Jesus,Manchester City,91,7.000000,28,29.367718,4.0,4.195388,3.979119,4.327510,4.219833
106,Barkley,Aston Villa,59,8.000000,32,33.042391,4.0,4.130299,3.966976,3.983883,4.038654
470,Kilman,Wolves,41,10.000000,37,37.874579,3.7,3.787458,3.915143,4.002899,3.851115
16,Holding,Arsenal,45,13.939394,46,45.365160,3.3,3.254457,3.891721,3.543357,3.264590
556,Dias,Manchester City,58,13.000000,52,50.512983,4.0,3.885614,3.875988,4.247816,3.962894
383,Lloris,Tottenham,56,15.869565,73,69.998426,4.6,4.410860,3.870698,4.175843,4.413285
6,Lacazette,Arsenal,83,14.146341,58,51.320000,4.1,3.627793,3.836978,3.620810,3.600466
271,Gündogan,Manchester City,54,10.000000,45,39.575574,4.5,3.957557,3.829300,4.124991,3.991102
278,Ederson,Manchester City,60,13.902439,57,52.220263,4.1,3.756194,3.795601,4.088441,3.827933
10,Marí,Arsenal,44,2.978723,14,9.546724,4.7,3.204972,3.794440,3.495467,3.221349
14,Kolasinac,Arsenal,48,1.000000,2,3.190686,2.0,3.190686,3.780155,3.481181,3.207063
284,Foden,Manchester City,62,10.909091,48,42.458327,4.4,3.892013,3.743615,4.071752,3.927834
283,Zinchenko,Manchester City,55,2.000000,3,7.540459,1.5,3.770229,3.729957,4.151153,3.850974

In [12]:
# save predictions
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players.to_csv(filepath)