In [1]:
# recent gameweek
latest_gameweek = 15

In [2]:
import pandas as pd
import numpy as np
import json
import requests
from scipy.stats import poisson

# allow more data columns to be shown than by default
pd.set_option('max_columns',100)

In [3]:
# fetch FPL fixtures online
fixtures_text = json.loads(requests.get('https://fantasy.premierleague.com/api/fixtures').text)
fixtures = pd.DataFrame(fixtures_text)
fixtures.head(20)

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,pulse_id,started,stats,team_a,team_a_difficulty,team_a_score,team_h,team_h_difficulty,team_h_score
0,2128386,NaN,False,False,99,None,0,False,58996,None,[],14,3,NaN,2,2,NaN
1,2128286,NaN,False,False,379,None,0,False,58896,None,[],13,2,NaN,4,4,NaN
2,2128290,NaN,False,False,380,None,0,False,58900,None,[],2,5,NaN,12,3,NaN
3,2128288,1.0,True,True,2,2020-09-12T11:30:00Z,90,False,58898,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",1,2,3.0,8,3,0.0
4,2128287,1.0,True,True,1,2020-09-12T14:00:00Z,90,False,58897,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",16,3,0.0,6,3,1.0
5,2128289,1.0,True,True,3,2020-09-12T16:30:00Z,90,False,58899,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",10,5,3.0,11,2,4.0
6,2128293,1.0,True,True,6,2020-09-12T19:00:00Z,90,False,58903,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",14,3,2.0,19,2,0.0
7,2128292,1.0,True,True,5,2020-09-13T13:00:00Z,90,False,58902,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",9,2,3.0,18,4,0.0
8,2128291,1.0,True,True,4,2020-09-13T15:30:00Z,90,False,58901,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",7,4,1.0,17,3,0.0
9,2128295,1.0,True,True,8,2020-09-14T17:00:00Z,90,False,58905,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",20,2,2.0,15,3,0.0
10,2128294,1.0,True,True,7,2020-09-14T19:15:00Z,90,False,58904,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,2,3.0,3,4,1.0
11,2128299,2.0,True,True,12,2020-09-19T11:30:00Z,90,False,58909,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",18,3,2.0,7,2,5.0
12,2128300,2.0,True,True,13,2020-09-19T14:00:00Z,90,False,58910,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",8,3,3.0,10,2,4.0
13,2128302,2.0,True,True,15,2020-09-19T16:30:00Z,90,False,58912,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",6,4,3.0,13,3,1.0
14,2128296,2.0,True,True,9,2020-09-19T19:00:00Z,90,False,58906,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",19,3,1.0,1,3,2.0
15,2128304,2.0,True,True,17,2020-09-20T11:00:00Z,90,False,58914,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",17,3,5.0,16,4,2.0
16,2128303,2.0,True,True,16,2020-09-20T13:00:00Z,90,False,58913,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,3,3.0,14,2,0.0
17,2128298,2.0,True,True,11,2020-09-20T15:30:00Z,90,False,58908,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",11,4,2.0,5,4,0.0
18,2128301,2.0,True,True,14,2020-09-20T18:00:00Z,90,False,58911,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,4,2.0,9,2,4.0
19,2128297,2.0,True,True,10,2020-09-21T17:00:00Z,90,False,58907,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",15,3,0.0,2,2,1.0

In [4]:
filepath = '../data/fbref/team_stats_week' + str(latest_gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col='Squad')
display(teamStats)

,Rk,MP,W,D,L,GF,GA,GDiff,Pts,xG,xGA,xGDiff,xGDiff/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes,xG per game,xGA per game,probability no goals allowed
Squad,,,,,,,,,,,,,,,,,,,,,
Liverpool,1,15,9,5,1,37,20,17,32,30.9,19.0,12.0,0.80,W D W W D,571.0,Mohamed Salah - 13,Alisson,NaN,2.060000,1.266667,0.281769
Everton,2,15,9,2,4,26,19,7,29,20.7,19.0,1.7,0.12,D W W W W,333.0,Dominic Calvert-Lewin - 11,Jordan Pickford,NaN,1.380000,1.266667,0.281769
Leicester City,3,15,9,1,5,28,19,9,28,22.5,19.3,3.1,0.21,W W L W D,NaN,Jamie Vardy - 11,Kasper Schmeichel,NaN,1.500000,1.286667,0.276190
Manchester Utd,4,14,8,3,3,30,23,7,27,24.2,19.4,4.8,0.34,W D W W D,NaN,Bruno Fernandes - 10,David de Gea,NaN,1.728571,1.385714,0.250145
Tottenham,5,15,7,5,3,26,15,11,26,20.0,16.7,3.4,0.22,W D L L D,286.0,Son Heung-min - 11,Hugo Lloris,NaN,1.333333,1.113333,0.328462
Manchester City,6,14,7,5,2,21,12,9,26,23.3,12.4,10.9,0.78,W D D W W,NaN,Riyad Mahrez Raheem Sterling - 4,Ederson,NaN,1.664286,0.885714,0.412419
Aston Villa,7,13,8,1,4,27,13,14,25,24.9,14.3,10.6,0.82,L W D W W,NaN,Ollie Watkins - 6,Emiliano Martínez,NaN,1.915385,1.100000,0.332871
Chelsea,8,15,7,4,4,30,17,13,25,26.2,15.5,10.6,0.71,W L L W L,286.0,Tammy Abraham - 6,Edouard Mendy,NaN,1.746667,1.033333,0.355819
Southampton,9,15,7,4,4,25,19,6,25,15.5,17.8,-2.4,-0.16,W W D L D,333.0,Danny Ings - 6,Alex McCarthy,NaN,1.033333,1.186667,0.305237
West Ham,10,15,6,4,5,23,21,2,22,19.5,20.9,-1.3,-0.09,L W D L D,NaN,Tomáš Souček Jarrod Bowen - 4,Łukasz Fabiański,NaN,1.300000,1.393333,0.248246
Wolves,11,15,6,3,6,15,20,-5,21,14.7,17.3,-2.6,-0.18,L L W L D,NaN,Pedro Neto Raúl Jiménez - 4,Rui Patrício,NaN,0.980000,1.153333,0.315583
Leeds United,12,15,6,2,7,25,30,-5,20,27.5,28.2,-0.7,-0.05,L L W L W,NaN,Patrick Bamford - 10,Illan Meslier,NaN,1.833333,1.880000,0.152590
Newcastle Utd,13,14,5,3,6,17,24,-7,18,14.4,19.8,-5.4,-0.39,W W L D L,NaN,Callum Wilson - 8,Karl Darlow,NaN,1.028571,1.414286,0.243099
Crystal Palace,14,15,5,3,7,19,28,-9,18,15.2,21.7,-6.5,-0.44,W D D L L,286.0,Wilfried Zaha - 7,Vicente Guaita,NaN,1.013333,1.446667,0.235353
Arsenal,15,15,5,2,8,15,19,-4,17,17.8,19.4,-1.7,-0.11,L L D L W,NaN,Alexandre Lacazette - 4,Bernd Leno,NaN,1.186667,1.293333,0.274355
Brighton,16,15,2,7,6,18,24,-6,13,21.2,15.4,5.8,0.39,L L D D D,NaN,Neal Maupay - 5,Mathew Ryan,NaN,1.413333,1.026667,0.358199
Burnley,17,14,3,4,7,8,20,-12,13,12.2,20.9,-8.7,-0.62,D W D W L,NaN,Chris Wood - 3,Nick Pope,NaN,0.871429,1.492857,0.224730
Fulham,18,15,2,5,8,13,23,-10,11,16.6,21.8,-5.2,-0.35,L D D D D,NaN,Bobby Reid - 4,Alphonse Areola,NaN,1.106667,1.453333,0.233790
West Brom,19,15,1,5,9,11,30,-19,8,8.9,27.9,-19.0,-1.27,L L D L D,NaN,Conor Gallagher Callum Robinson - 2,Sam Johnstone,NaN,0.593333,1.860000,0.155673
Sheffield Utd,20,15,0,2,13,8,26,-18,2,15.0,24.2,-9.2,-0.62,L L L D L,NaN,David McGoldrick - 4,Aaron Ramsdale,NaN,1.000000,1.613333,0.199222

In [5]:
# fetch FPL data
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players = pd.read_csv(filepath, index_col=0)
players.head()

,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,code,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,creativity,creativity_rank,creativity_rank_type,direct_freekicks_order,direct_freekicks_text,dreamteam_count,element_type,ep_next,ep_this,event_points,first_name,form,goals_conceded,goals_scored,ict_index,ict_index_rank,ict_index_rank_type,in_dreamteam,influence,influence_rank,influence_rank_type,minutes,news,news_added,now_cost,own_goals,penalties_missed,penalties_order,penalties_saved,penalties_text,photo,points_per_game,red_cards,saves,second_name,selected_by_percent,special,...,xG_week8,goals_week8,xGA_week8,cleansheet_week8,xA_week8,assists_week8,xPoints week 9,xG_week9,goals_week9,xGA_week9,cleansheet_week9,xA_week9,assists_week9,xPoints week 10,xG_week10,goals_week10,xGA_week10,cleansheet_week10,xA_week10,assists_week10,xPoints week 11,xG_week11,goals_week11,xGA_week11,cleansheet_week11,xA_week11,assists_week11,xPoints week 12,xG_week12,goals_week12,xGA_week12,cleansheet_week12,xA_week12,assists_week12,xPoints week 13,xG_week13,goals_week13,xGA_week13,cleansheet_week13,xA_week13,assists_week13,xPoints week 14,xG_week14,goals_week14,xGA_week14,cleansheet_week14,xA_week14,assists_week14,form 5,form 10
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0.0,0.0,0,37605,NaN,NaN,0,0,-2,2,0.0,614,247,NaN,NaN,0,3,0.0,0.0,0,Mesut,0.0,0,0,0.0,614,247,False,0.0,614,247,0,Not included in Arsenal's 25-man Premier Leagu...,2020-10-20T22:30:18.118477Z,68,0,0,NaN,0,NaN,37605.jpg,0.0,0,0,Özil,0.6,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,0,0,0.0,0.0,0,39476,NaN,NaN,0,0,-2,2,0.0,561,210,NaN,NaN,0,2,0.0,0.0,0,Sokratis,0.0,0,0,0.0,573,210,False,0.0,570,210,0,Not included in Arsenal's 25-man Premier Leagu...,2020-10-21T10:30:18.546407Z,48,0,0,NaN,0,NaN,39476.jpg,0.0,0,0,Papastathopoulos,0.1,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,0,70,75.0,100.0,0,41270,NaN,NaN,0,0,-1,1,25.8,290,90,4.0,NaN,0,2,0.6,0.3,0,David,0.3,9,0,16.5,291,95,False,99.4,248,94,479,Illness - 75% chance of playing,2020-12-26T18:00:15.638627Z,54,0,0,NaN,0,NaN,41270.jpg,1.1,0,0,Luiz Moreira Marinho,0.8,False,...,NaN,NaN,1.8,0.0,NaN,NaN,NaN,NaN,NaN,2.5,0.0,NaN,NaN,0.000000,0.0,0.0,1.4,0.0,0.0,0.0,NaN,NaN,NaN,0.5,0.0,NaN,NaN,NaN,NaN,NaN,0.9,0.0,NaN,NaN,1.000000,0.0,0.0,1.1,0.0,0.0,0.0,3.397316,0.1,0.0,0.8,0.0,0.0,0.0,2.198658,1.349329
4,1,4,146,100.0,75.0,3,54694,NaN,NaN,0,0,-6,6,201.2,63,43,NaN,NaN,1,3,2.8,1.7,0,Pierre-Emerick,2.3,16,3,76.0,40,25,False,186.6,139,51,1166,NaN,2020-12-19T20:30:20.434896Z,114,1,0,1.0,0,NaN,54694.jpg,3.6,0,0,Aubameyang,7.3,False,...,0.0,0.0,1.8,0.0,0.2,0.0,3.282085,0.3,0.0,2.5,1.0,-0.1,0.0,4.246597,0.4,0.0,1.4,0.0,0.0,0.0,3.606531,0.2,0.0,0.5,0.0,0.0,0.0,1.70657,0.2,0.0,0.9,0.0,0.1,0.0,7.132871,0.3,1.0,1.1,0.0,0.1,0.0,NaN,NaN,NaN,0.8,0.0,NaN,NaN,4.148657,4.297746
5,0,0,3,100.0,100.0,0,58822,NaN,NaN,0,0,-4,4,0.0,545,206,NaN,NaN,0,2,0.7,0.2,0,Cédric,0.2,0,0,0.0,560,206,False,0.0,557,206,5,NaN,2020-09-23T09:00:14.881983Z,46,0,0,NaN,0,NaN,58822.jpg,1.0,0,0,Soares,0.2,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,0.0,0.0,1.1,0.0,0.0,0.0,NaN,NaN,NaN,0.8,0.0,NaN,NaN,1.000000,1.000000

In [6]:
coefficients = pd.DataFrame(np.nan, index=teamStats.index, columns=['xG','xGA','coefficient'])

for ix in coefficients.index:
    coefficients.loc[ix, 'xG'] = teamStats.loc[ix, 'xG per game']
    coefficients.loc[ix, 'xGA'] = teamStats.loc[ix, 'xGA per game']
    coefficients.loc[ix, 'coefficient'] = 0.755489209043063 * coefficients.loc[ix, 'xG']

display(coefficients)

                       xG       xGA  coefficient
Squad
Liverpool        2.060000  1.266667     1.556308
Everton          1.380000  1.266667     1.042575
Leicester City   1.500000  1.286667     1.133234
Manchester Utd   1.728571  1.385714     1.305917
Tottenham        1.333333  1.113333     1.007319
Manchester City  1.664286  0.885714     1.257350
Aston Villa      1.915385  1.100000     1.447052
Chelsea          1.746667  1.033333     1.319588
Southampton      1.033333  1.186667     0.780672
West Ham         1.300000  1.393333     0.982136
Wolves           0.980000  1.153333     0.740379
Leeds United     1.833333  1.880000     1.385064
Newcastle Utd    1.028571  1.414286     0.777075
Crystal Palace   1.013333  1.446667     0.765562
Arsenal          1.186667  1.293333     0.896514
Brighton         1.413333  1.026667     1.067758
Burnley          0.871429  1.492857     0.658355
Fulham           1.106667  1.453333     0.836075
West Brom        0.593333  1.860000     0.448257
Sheffield Utd    1.000000  1.613333     0.755489

In [7]:
def points_for_clean_sheet(position):
    if position < 3:
        return 4
    elif position==3:
        return 1
    elif position==4:
        return 0

In [8]:
goalkeepers = players['element_type'] == 1
defenders = players['element_type'] == 2
midfielders = players['element_type'] == 3
forwards = players['element_type'] == 4

In [9]:
home_coefficient = 1.0721855628874228
away_coefficient = 0.9280143971205758

In [10]:
team_names = np.sort(teamStats.index)
# for some reason the fpl team numbers are not alphabetical with leeds and leicester...
if (team_names[8]=='Leeds United') & (team_names[9]=='Leicester City'):
    team_names[8] = 'Leicester City'
    team_names[9] = 'Leeds United'
    
# how many gameweeks ahead do you want to look at
for number_gameweeks in [1,5,10]:
    expectations = pd.DataFrame(0, index=teamStats.index, \
                columns=['games','total_xG','total_xGA','xG per game', 'xGA per game'])
    gameweeks = np.arange(latest_gameweek+1, latest_gameweek+number_gameweeks+1)
    games = fixtures[fixtures['event'].isin(gameweeks)]
    for ix in games.index:
        home_team_number = games.loc[ix,'team_h']
        home_team = team_names[home_team_number-1]
        away_team_number = games.loc[ix,'team_a']
        away_team = team_names[away_team_number-1]

        home_xG = home_coefficient * coefficients.loc[home_team,'coefficient'] * \
                                    coefficients.loc[away_team,'xGA']
        away_xG = away_coefficient * coefficients.loc[away_team,'coefficient'] * \
                                    coefficients.loc[home_team,'xGA']
        expectations.loc[home_team,'total_xG'] += home_xG
        expectations.loc[home_team,'total_xGA'] += away_xG
        expectations.loc[home_team,'games'] += 1
        expectations.loc[away_team,'total_xG'] += away_xG
        expectations.loc[away_team,'total_xGA'] += home_xG
        expectations.loc[away_team,'games'] += 1

    expectations['xG per game'] = expectations['total_xG'] / expectations['games']
    expectations['xGA per game'] = expectations['total_xGA'] / expectations['games']
    print('expectations:')
    display(expectations)

    new_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    coefficients[new_column] = expectations['xG per game'] / coefficients['xG']
    print('coefficients:')
    display(coefficients)
    
    new_column = 'next' + str(number_gameweeks) + '_xP'
    multiplier_xG_xA_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    for ix in players.index:
        team = players.loc[ix,'team_name']
        position = players.loc[ix, 'element_type']

        # adjust xP based on xg and xa for the next game
        xg_points_per_game = players.loc[ix,'xG_points'] / players.loc[ix,'games played']
        xa_points_per_game = players.loc[ix,'xA_points'] / players.loc[ix,'games played']
        xpoints = xg_points_per_game + xa_points_per_game
        players.loc[ix, new_column] = players.loc[ix, 'adjusted points per game'] - \
                            xpoints + coefficients.loc[team, multiplier_xG_xA_column]*xpoints    

        # adjust xP based on probability to keep a clean sheet for the next game
        clean_sheet_points_per_game = players.loc[ix,'clean_sheet_points'] / \
                                        players.loc[ix,'games played']
        probability_clean_sheet_next = poisson.pmf(0, expectations.loc[team, 'xGA per game'])
        players.loc[ix, new_column] = players.loc[ix, new_column] - clean_sheet_points_per_game \
                + points_for_clean_sheet(position) * probability_clean_sheet_next

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Liverpool            1  2.042619   1.055346     2.042619      1.055346
Everton              1  0.990082   1.477996     0.990082      1.477996
Leicester City       1  1.521398   1.056128     1.521398      1.056128
Manchester Utd       1  1.614881   0.952100     1.614881      0.952100
Tottenham            1  1.569648   0.863824     1.569648      0.863824
Manchester City      1  1.477996   0.990082     1.477996      0.990082
Aston Villa          1  1.387648   1.556327     1.387648      1.556327
Chelsea              1  1.556327   1.387648     1.556327      1.387648
Southampton          1  1.166255   1.081571     1.166255      1.081571
West Ham             1  1.081571   1.166255     1.081571      1.166255
Wolves               1  0.952100   1.614881     0.952100      1.614881
Leeds United         1  2.390768   0.903555     2.390768      0.903555
Newcastle Utd        1  1.055346   2.042619     1.055346      2.042619
Crystal Palace       1  1.056128   1.521398     1.056128      1.521398
Arsenal              1  0.854164   1.480653     0.854164      1.480653
Brighton             1  1.480653   0.854164     1.480653      0.854164
Burnley              1  1.138817   1.046649     1.138817      1.046649
Fulham               1  0.863824   1.569648     0.863824      1.569648
West Brom            1  0.903555   2.390768     0.903555      2.390768
Sheffield Utd        1  1.046649   1.138817     1.046649      1.138817

coefficients:

                       xG       xGA  coefficient  next1_xG_xA_multiplier
Squad
Liverpool        2.060000  1.266667     1.556308                0.991563
Everton          1.380000  1.266667     1.042575                0.717450
Leicester City   1.500000  1.286667     1.133234                1.014265
Manchester Utd   1.728571  1.385714     1.305917                0.934228
Tottenham        1.333333  1.113333     1.007319                1.177236
Manchester City  1.664286  0.885714     1.257350                0.888066
Aston Villa      1.915385  1.100000     1.447052                0.724475
Chelsea          1.746667  1.033333     1.319588                0.891027
Southampton      1.033333  1.186667     0.780672                1.128634
West Ham         1.300000  1.393333     0.982136                0.831978
Wolves           0.980000  1.153333     0.740379                0.971531
Leeds United     1.833333  1.880000     1.385064                1.304055
Newcastle Utd    1.028571  1.414286     0.777075                1.026031
Crystal Palace   1.013333  1.446667     0.765562                1.042232
Arsenal          1.186667  1.293333     0.896514                0.719801
Brighton         1.413333  1.026667     1.067758                1.047632
Burnley          0.871429  1.492857     0.658355                1.306840
Fulham           1.106667  1.453333     0.836075                0.780563
West Brom        0.593333  1.860000     0.448257                1.522846
Sheffield Utd    1.000000  1.613333     0.755489                1.046649

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Squad
Liverpool            5  10.167784   5.792592     2.033557      1.158518
Everton              5   6.166032   6.935336     1.233206      1.387067
Leicester City       5   7.038223   6.074223     1.407645      1.214845
Manchester Utd       5   8.710445   7.338952     1.742089      1.467790
Tottenham            5   7.504593   6.531991     1.500919      1.306398
Manchester City      5   8.188381   4.175823     1.637676      0.835165
Aston Villa          5   8.945831   5.965562     1.789166      1.193112
Chelsea              5   7.796654   5.485214     1.559331      1.097043
Southampton          5   5.603211   6.986823     1.120642      1.397365
West Ham             5   7.085268   5.298340     1.417054      1.059668
Wolves               5   4.849514   6.162695     0.969903      1.232539
Leeds United         5   8.926565   7.725269     1.785313      1.545054
Newcastle Utd        5   5.789816   7.852887     1.157963      1.570577
Crystal Palace       5   5.072186   7.195055     1.014437      1.439011
Arsenal              5   6.138954   5.036323     1.227791      1.007265
Brighton             5   7.205388   5.264857     1.441078      1.052971
Burnley              5   4.566322   8.272761     0.913264      1.654552
Fulham               5   4.987195   7.800407     0.997439      1.560081
West Brom            5   3.010223   9.543719     0.602045      1.908744
Sheffield Utd        5   5.079879   7.393635     1.015976      1.478727

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier
Squad,,,,,
Liverpool,2.060000,1.266667,1.556308,0.991563,0.987164
Everton,1.380000,1.266667,1.042575,0.717450,0.893628
Leicester City,1.500000,1.286667,1.133234,1.014265,0.938430
Manchester Utd,1.728571,1.385714,1.305917,0.934228,1.007820
Tottenham,1.333333,1.113333,1.007319,1.177236,1.125689
Manchester City,1.664286,0.885714,1.257350,0.888066,0.984011
Aston Villa,1.915385,1.100000,1.447052,0.724475,0.934103
Chelsea,1.746667,1.033333,1.319588,0.891027,0.892747
Southampton,1.033333,1.186667,0.780672,1.128634,1.084493
West Ham,1.300000,1.393333,0.982136,0.831978,1.090041
Wolves,0.980000,1.153333,0.740379,0.971531,0.989697
Leeds United,1.833333,1.880000,1.385064,1.304055,0.973807
Newcastle Utd,1.028571,1.414286,0.777075,1.026031,1.125797
Crystal Palace,1.013333,1.446667,0.765562,1.042232,1.001089
Arsenal,1.186667,1.293333,0.896514,0.719801,1.034655
Brighton,1.413333,1.026667,1.067758,1.047632,1.019630
Burnley,0.871429,1.492857,0.658355,1.306840,1.048008
Fulham,1.106667,1.453333,0.836075,0.780563,0.901300
West Brom,0.593333,1.860000,0.448257,1.522846,1.014682
Sheffield Utd,1.000000,1.613333,0.755489,1.046649,1.015976

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Squad
Liverpool           10  19.343164  12.624140     1.934316      1.262414
Everton             10  13.756745  14.599818     1.375674      1.459982
Leicester City      10  14.759682  13.757418     1.475968      1.375742
Manchester Utd      10  17.947385  12.680853     1.794738      1.268085
Tottenham           10  13.719691  12.306366     1.371969      1.230637
Manchester City     10  16.593265   8.579303     1.659326      0.857930
Aston Villa         10  18.082745  11.220187     1.808275      1.122019
Chelsea             10  16.702059   9.679702     1.670206      0.967970
Southampton         10  10.382765  13.499153     1.038277      1.349915
West Ham            10  13.617576  13.000858     1.361758      1.300086
Wolves              10  10.199288  11.729655     1.019929      1.172966
Leeds United        10  17.754661  16.463636     1.775466      1.646364
Newcastle Utd       10  10.641728  15.444476     1.064173      1.544448
Crystal Palace      10  10.314078  14.082770     1.031408      1.408277
Arsenal             10  12.004151  12.808533     1.200415      1.280853
Brighton            10  14.129881  10.770536     1.412988      1.077054
Burnley             10   8.744353  15.452494     0.874435      1.545249
Fulham              10  11.261804  13.995454     1.126180      1.399545
West Brom           10   6.129985  18.069466     0.612999      1.806947
Sheffield Utd       10  10.040341  15.360529     1.004034      1.536053

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier,next10_xG_xA_multiplier
Squad,,,,,,
Liverpool,2.060000,1.266667,1.556308,0.991563,0.987164,0.938989
Everton,1.380000,1.266667,1.042575,0.717450,0.893628,0.996866
Leicester City,1.500000,1.286667,1.133234,1.014265,0.938430,0.983979
Manchester Utd,1.728571,1.385714,1.305917,0.934228,1.007820,1.038278
Tottenham,1.333333,1.113333,1.007319,1.177236,1.125689,1.028977
Manchester City,1.664286,0.885714,1.257350,0.888066,0.984011,0.997020
Aston Villa,1.915385,1.100000,1.447052,0.724475,0.934103,0.944079
Chelsea,1.746667,1.033333,1.319588,0.891027,0.892747,0.956225
Southampton,1.033333,1.186667,0.780672,1.128634,1.084493,1.004784
West Ham,1.300000,1.393333,0.982136,0.831978,1.090041,1.047506
Wolves,0.980000,1.153333,0.740379,0.971531,0.989697,1.040744
Leeds United,1.833333,1.880000,1.385064,1.304055,0.973807,0.968436
Newcastle Utd,1.028571,1.414286,0.777075,1.026031,1.125797,1.034612
Crystal Palace,1.013333,1.446667,0.765562,1.042232,1.001089,1.017837
Arsenal,1.186667,1.293333,0.896514,0.719801,1.034655,1.011586
Brighton,1.413333,1.026667,1.067758,1.047632,1.019630,0.999756
Burnley,0.871429,1.492857,0.658355,1.306840,1.048008,1.003450
Fulham,1.106667,1.453333,0.836075,0.780563,0.901300,1.017633
West Brom,0.593333,1.860000,0.448257,1.522846,1.014682,1.033144
Sheffield Utd,1.000000,1.613333,0.755489,1.046649,1.015976,1.004034

In [11]:
metric = 'next1_xP'
#minGames = players['games played'] >= 3

numberToShow = 50
display(players.sort_values(by=[metric], ascending=False)[['web_name','team_name',\
         'now_cost','games played','total_points','adjusted points','points_per_game',\
         'adjusted points per game','next1_xP','next5_xP','next10_xP']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,next1_xP,next5_xP,next10_xP
id,,,,,,,,,,,
388,Kane,Tottenham,110,15.066667,113,98.134149,7.5,6.513328,7.000805,6.859029,6.593028
254,Salah,Liverpool,126,13.953488,120,96.309324,8.6,6.902168,6.939144,6.889732,6.691303
302,Fernandes,Manchester Utd,111,14.074074,114,98.606464,8.1,7.006249,6.916316,7.013375,7.168839
202,Bamford,Leeds United,65,14.918033,91,88.428245,6.1,5.927608,6.814620,5.851196,5.835527
224,Vardy,Leicester City,101,13.947368,106,93.725904,7.6,6.719970,6.766957,6.517170,6.667200
390,Son,Tottenham,97,15.063291,119,88.425382,7.9,5.870256,6.370448,6.101292,5.900460
272,De Bruyne,Manchester City,117,13.076923,68,88.639082,5.2,6.778283,6.348288,6.744084,6.779543
506,Wilson,Newcastle Utd,66,12.058824,82,72.057660,6.8,5.975513,6.040662,6.290351,6.062139
251,Mané,Liverpool,119,13.928571,78,81.271718,5.6,5.834893,5.875450,5.827906,5.649930
141,Zaha,Crystal Palace,75,12.950820,79,69.096265,6.1,5.335281,5.413358,5.339541,5.384625
96,Pope,Burnley,54,13.018868,69,61.302903,5.3,4.708774,5.228445,4.576778,4.663049
306,Rashford,Manchester Utd,95,13.888889,75,70.651897,5.4,5.086937,5.065027,5.085975,5.209938
203,Harrison,Leeds United,54,13.902439,57,59.699034,4.1,4.294141,5.065011,4.310199,4.280492
37,Grealish,Aston Villa,78,12.941176,88,76.263063,6.8,5.893055,5.064246,5.694403,5.742343
39,Hause,Aston Villa,44,2.988506,26,17.979149,8.7,6.016100,4.975083,5.765418,5.874831
366,Ings,Southampton,83,11.071429,62,52.048245,5.6,4.701132,4.935130,4.854832,4.709834
276,Sterling,Manchester City,114,12.909091,71,66.301620,5.5,5.136041,4.886198,5.127575,5.142097
255,Robertson,Liverpool,73,14.893617,70,67.833330,4.7,4.554524,4.812256,4.671874,4.505253
277,Cancelo,Manchester City,56,10.000000,53,50.366194,5.3,5.036619,4.795893,5.111121,5.081041
275,Mahrez,Manchester City,82,10.000000,53,50.293610,5.3,5.029361,4.762382,5.018448,5.034961
383,Lloris,Tottenham,56,15.000000,66,65.707736,4.4,4.380516,4.752855,4.149841,4.235093
377,Adams,Southampton,61,15.000000,69,67.747074,4.6,4.516472,4.730005,4.656729,4.524413
514,Watkins,Aston Villa,61,13.000000,65,70.017660,5.0,5.385974,4.598820,5.197711,5.226212
273,Stones,Manchester City,49,6.000000,36,28.598068,6.0,4.766345,4.552482,4.844684,4.811481
249,Firmino,Liverpool,93,15.000000,66,68.508245,4.4,4.567216,4.551129,4.542741,4.450888
91,Wood,Burnley,62,14.062500,45,56.500000,3.2,4.017778,4.530541,4.098005,4.023544
117,Werner,Chelsea,93,15.116279,65,71.747074,4.3,4.746345,4.509170,4.512912,4.651070
389,Aurier,Tottenham,52,8.000000,36,31.880207,4.5,3.985026,4.477000,3.839191,3.859162
457,Doherty,Tottenham,57,7.027027,26,28.201868,3.7,4.013343,4.461349,3.836328,3.880291
68,Maupay,Brighton,61,13.076923,51,56.929415,3.9,4.353426,4.455268,4.395398,4.352904
570,Raphinha,Leeds United,54,10.000000,30,36.764731,3.0,3.676473,4.455025,3.691870,3.662027
246,Matip,Liverpool,55,8.000000,40,33.555447,5.0,4.194431,4.452680,4.312568,4.148900
213,Meslier,Leeds United,46,15.121951,62,51.529841,4.1,3.407618,4.423797,3.649940,3.567630
164,Calvert-Lewin,Everton,80,15.000000,93,75.877660,6.2,5.058511,4.399228,4.810309,5.051197
560,Kelleher,Liverpool,45,1.000000,7,4.127077,7.0,4.127077,4.392287,4.255804,4.131880
468,Jota,Liverpool,67,9.038462,47,39.146761,5.2,4.331131,4.382871,4.341157,4.227029
431,Fabianski,West Ham,51,15.000000,63,61.894786,4.2,4.126319,4.379459,4.519617,4.223367
508,Rodríguez,Everton,77,10.000000,49,50.025938,4.9,5.002594,4.375343,4.754696,4.946702
12,Martínez,Aston Villa,50,13.050847,77,62.376999,5.9,4.779536,4.291689,4.661155,4.750539
23,Smith Rowe,Arsenal,44,1.000000,6,4.743770,6.0,4.743770,4.276605,4.886614,4.764594
198,Klich,Leeds United,55,15.000000,60,53.606511,4.0,3.573767,4.220359,3.600532,3.573020
252,Alisson,Liverpool,59,12.105263,46,47.643566,3.8,3.935773,4.200983,4.064500,3.940576
45,El Ghazi,Aston Villa,57,7.037037,38,35.282426,5.4,5.013818,4.189442,4.816227,4.864006
259,Alexander-Arnold,Liverpool,72,13.214286,37,51.532349,2.8,3.899745,4.157485,4.017107,3.850529
105,Jorginho,Chelsea,48,9.069767,39,39.966025,4.3,4.406510,4.062457,4.150406,4.334980
232,Chilwell,Chelsea,61,11.964286,67,54.336721,5.6,4.541577,4.040439,4.378427,4.606980
166,Richarlison,Everton,78,10.930233,47,50.167074,4.3,4.589754,4.038626,4.382269,4.583640
474,Neto,Wolves,59,15.000000,72,62.811406,4.8,4.187427,4.036216,4.150894,4.230728
588,Welbeck,Brighton,55,9.000000,36,35.738830,4.0,3.970981,4.033432,3.996719,3.970661
282,Jesus,Manchester City,91,7.000000,28,29.369415,4.0,4.195631,4.013338,4.169592,4.190778

In [12]:
# save predictions
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players.to_csv(filepath)