In [1]:
# recent gameweek
latest_gameweek = 3

In [2]:
import pandas as pd
import numpy as np
import json
import requests
from scipy.stats import poisson

# allow more data columns to be shown than by default
pd.set_option('max_columns',100)

In [3]:
# fetch FPL fixtures online
fixtures_text = json.loads(requests.get('https://fantasy.premierleague.com/api/fixtures').text)
fixtures = pd.DataFrame(fixtures_text)
fixtures.head(20)

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,pulse_id,started,stats,team_a,team_a_difficulty,team_a_score,team_h,team_h_difficulty,team_h_score
0,2128286,NaN,False,False,379,None,0,False,58896,None,[],13,3,NaN,4,4,NaN
1,2128290,NaN,False,False,380,None,0,False,58900,None,[],2,5,NaN,12,2,NaN
2,2128288,1.0,True,True,2,2020-09-12T11:30:00Z,90,False,58898,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",1,2,3.0,8,3,0.0
3,2128287,1.0,True,True,1,2020-09-12T14:00:00Z,90,False,58897,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",16,2,0.0,6,3,1.0
4,2128289,1.0,True,True,3,2020-09-12T16:30:00Z,90,False,58899,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",10,5,3.0,11,2,4.0
5,2128293,1.0,True,True,6,2020-09-12T19:00:00Z,90,False,58903,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",14,2,2.0,19,2,0.0
6,2128292,1.0,True,True,5,2020-09-13T13:00:00Z,90,False,58902,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",9,2,3.0,18,3,0.0
7,2128291,1.0,True,True,4,2020-09-13T15:30:00Z,90,False,58901,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",7,4,1.0,17,2,0.0
8,2128295,1.0,True,True,8,2020-09-14T17:00:00Z,90,False,58905,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",20,4,2.0,15,3,0.0
9,2128294,1.0,True,True,7,2020-09-14T19:15:00Z,90,False,58904,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,2,3.0,3,3,1.0
10,2128299,2.0,True,True,12,2020-09-19T11:30:00Z,90,False,58909,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",18,3,2.0,7,2,5.0
11,2128300,2.0,True,True,13,2020-09-19T14:00:00Z,90,False,58910,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",8,2,3.0,10,2,4.0
12,2128302,2.0,True,True,15,2020-09-19T16:30:00Z,90,False,58912,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",6,4,3.0,13,2,1.0
13,2128296,2.0,True,True,9,2020-09-19T19:00:00Z,90,False,58906,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",19,4,1.0,1,2,2.0
14,2128304,2.0,True,True,17,2020-09-20T11:00:00Z,90,False,58914,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",17,2,5.0,16,3,2.0
15,2128303,2.0,True,True,16,2020-09-20T13:00:00Z,90,False,58913,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,3,3.0,14,2,0.0
16,2128298,2.0,True,True,11,2020-09-20T15:30:00Z,90,False,58908,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",11,4,2.0,5,4,0.0
17,2128301,2.0,True,True,14,2020-09-20T18:00:00Z,90,False,58911,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,4,2.0,9,3,4.0
18,2128297,2.0,True,True,10,2020-09-21T17:00:00Z,90,False,58907,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",15,2,0.0,2,3,1.0
19,2128305,2.0,True,True,18,2020-09-21T19:15:00Z,90,False,58915,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",12,3,3.0,20,4,1.0

In [4]:
filepath = '../data/fbref/team_stats_week' + str(latest_gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col='Squad')
display(teamStats)

,Rk,MP,W,D,L,GF,GA,GDiff,Pts,xG,xGA,xGDiff,xGDiff/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes,xG per game,xGA per game,probability no goals allowed
Squad,,,,,,,,,,,,,,,,,,,,,
Leicester City,1,3,3,0,0,12,4,8,9,6.1,3.3,2.8,0.93,W W W,NaN,Jamie Vardy - 5,Kasper Schmeichel,NaN,2.033333,1.100000,0.332871
Liverpool,2,3,3,0,0,9,4,5,9,8.9,2.8,6.1,2.03,W W W,NaN,Sadio Mané Mohamed Salah - 3,Alisson,NaN,2.966667,0.933333,0.393241
Everton,3,3,3,0,0,8,3,5,9,6.7,1.7,5.0,1.68,W W W,NaN,Dominic Calvert-Lewin - 5,Jordan Pickford,NaN,2.233333,0.566667,0.567414
Aston Villa,4,2,2,0,0,4,0,4,6,2.6,1.6,1.1,0.54,W W,NaN,Ezri Konsa Jack Grealish... - 1,Emiliano Martínez,NaN,1.300000,0.800000,0.449329
Arsenal,5,3,2,0,1,6,4,2,6,4.4,5.1,-0.7,-0.25,W W L,NaN,Alexandre Lacazette - 3,Bernd Leno,NaN,1.466667,1.700000,0.182684
Crystal Palace,6,3,2,0,1,5,3,2,6,2.7,3.8,-1.1,-0.37,W W L,NaN,Wilfried Zaha - 3,Vicente Guaita,NaN,0.900000,1.266667,0.281769
Leeds United,7,3,2,0,1,8,7,1,6,3.8,6.7,-2.9,-0.95,L W W,NaN,Patrick Bamford - 3,Illan Meslier,NaN,1.266667,2.233333,0.107171
Tottenham,8,3,1,1,1,6,4,2,4,5.8,3.9,1.9,0.63,L W D,NaN,Son Heung-min - 4,Hugo Lloris,NaN,1.933333,1.300000,0.272532
Chelsea,9,3,1,1,1,6,6,0,4,4.5,5.0,-0.5,-0.17,W L D,NaN,Reece James Jorginho... - 1,Kepa Arrizabalaga,NaN,1.500000,1.666667,0.188876
Newcastle Utd,10,3,1,1,1,3,4,-1,4,3.0,5.2,-2.2,-0.73,W L D,NaN,Callum Wilson - 2,Karl Darlow,NaN,1.000000,1.733333,0.176694
West Ham,11,3,1,0,2,5,4,1,3,4.8,3.5,1.3,0.44,L L W,NaN,Jarrod Bowen - 2,Łukasz Fabiański,NaN,1.600000,1.166667,0.311403
Brighton,12,3,1,0,2,6,6,0,3,5.4,2.7,2.7,0.89,L W L,NaN,Neal Maupay - 3,Mathew Ryan,NaN,1.800000,0.900000,0.406570
Manchester City,13,2,1,0,1,5,6,-1,3,2.9,3.6,-0.6,-0.31,W L,NaN,Nathan Aké Kevin De Bruyne... - 1,Ederson,NaN,1.450000,1.800000,0.165299
Manchester Utd,14,2,1,0,1,4,5,-1,3,2.2,3.9,-1.7,-0.87,L W,NaN,Donny van de Beek Marcus Rashford... - 1,David de Gea,NaN,1.100000,1.950000,0.142274
Southampton,15,3,1,0,2,3,6,-3,3,3.0,3.7,-0.7,-0.23,L L W,NaN,Danny Ings - 3,Alex McCarthy,NaN,1.000000,1.233333,0.291320
Wolves,16,3,1,0,2,3,7,-4,3,2.8,4.4,-1.6,-0.52,W L L,NaN,Raúl Jiménez - 2,Rui Patrício,NaN,0.933333,1.466667,0.230693
West Brom,17,3,0,1,2,5,11,-6,1,1.7,7.9,-6.2,-2.05,L L D,NaN,Callum Robinson - 2,Sam Johnstone,NaN,0.566667,2.633333,0.071839
Burnley,18,2,0,0,2,2,5,-3,0,2.4,2.0,0.4,0.21,L L,NaN,Chris Wood Jimmy Dunne - 1,Nick Pope,NaN,1.200000,1.000000,0.367879
Sheffield Utd,19,3,0,0,3,0,4,-4,0,3.1,3.7,-0.6,-0.21,L L L,NaN,NaN,Aaron Ramsdale,NaN,1.033333,1.233333,0.291320
Fulham,20,3,0,0,3,3,10,-7,0,2.7,5.1,-2.4,-0.81,L L L,NaN,Aleksandar Mitrović - 2,Alphonse Areola,NaN,0.900000,1.700000,0.182684

In [5]:
# fetch FPL data
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players = pd.read_csv(filepath, index_col=0)
players.head()

,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,code,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,creativity,creativity_rank,creativity_rank_type,direct_freekicks_order,direct_freekicks_text,dreamteam_count,element_type,ep_next,ep_this,event_points,first_name,form,goals_conceded,goals_scored,ict_index,ict_index_rank,ict_index_rank_type,in_dreamteam,influence,influence_rank,influence_rank_type,minutes,news,news_added,now_cost,own_goals,penalties_missed,penalties_order,penalties_saved,penalties_text,photo,points_per_game,red_cards,saves,second_name,selected_by_percent,special,...,status,team,team_code,threat,threat_rank,threat_rank_type,total_points,transfers_in,transfers_in_event,transfers_out,transfers_out_event,value_form,value_season,web_name,yellow_cards,team_name,games played,adjusted points,xG,xG_points,xG_week3,goals_week3,xPoints week 3,clean_sheet_points,xGA_week3,cleansheet_week3,xA,xA_points,xA_week3,assists_week3,adjusted points per game,xPoints week 1,xPoints week 2,next1_xP,next5_xP,next10_xP,value,valuePoints metric,xG_week1,goals_week1,xGA_week1,cleansheet_week1,xA_week1,assists_week1,xG_week2,goals_week2,xGA_week2,cleansheet_week2,xA_week2,assists_week2
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,NaN,NaN,0,37605,4.0,NaN,-1,1,-2,2,0.0,549,225,NaN,NaN,0,3,0.5,-0.5,0,Mesut,0.0,0,0,0.0,549,225,False,0.0,548,225,0,NaN,NaN,68,0,0,NaN,0,NaN,37605.jpg,0.0,0,0,Özil,0.8,False,...,a,1,3,0.0,548,224,0,2086,416,33139,3190,0.0,0.0,Özil,0,Arsenal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,0,0,75.0,75.0,0,39476,NaN,NaN,0,0,-1,1,0.0,444,174,NaN,NaN,0,2,0.4,-0.4,0,Sokratis,0.0,0,0,0.0,458,175,False,0.0,453,175,0,Calf injury - 75% chance of playing,2020-09-11T11:00:08.600094Z,49,0,0,NaN,0,NaN,39476.jpg,0.0,0,0,Papastathopoulos,0.1,False,...,d,1,3,0.0,415,161,0,9750,26,15822,442,0.0,0.0,Sokratis,0,Arsenal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,0,14,100.0,100.0,0,41270,NaN,NaN,0,0,0,0,3.2,233,67,4.0,NaN,0,2,1.2,0.2,1,David,0.7,3,0,2.3,270,93,False,20.2,209,84,91,NaN,2020-09-10T14:30:11.632386Z,55,0,0,NaN,0,NaN,41270.jpg,1.0,0,0,Luiz Moreira Marinho,1.0,False,...,a,1,3,0.0,509,192,2,12317,3172,34453,2564,0.1,0.4,David Luiz,0,Arsenal,2.000000,3.461468,0.0,0.0,0.0,0.0,1.199148,1.461468,3.0,0.0,0.0,0.0,0.0,0.0,1.730734,NaN,1.00000,2.167292,1.699840,1.741253,0.314679,0.737987,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,1.9,0.0,0.0,0.0
4,1,0,44,NaN,NaN,1,54694,NaN,NaN,0,0,-1,1,52.6,39,27,6.0,NaN,0,3,5.2,4.2,2,Pierre-Emerick,4.7,4,1,19.4,35,19,False,68.8,59,25,270,NaN,NaN,119,0,0,1.0,0,NaN,54694.jpg,4.7,0,0,Aubameyang,29.2,False,...,a,1,3,73.0,29,14,14,230759,33112,1353837,112065,0.4,1.2,Aubameyang,1,Arsenal,2.978723,10.940715,0.5,2.5,0.0,0.0,2.049787,0.544164,3.0,0.0,0.5,1.5,0.0,0.0,3.672954,3.818731,5.61799,3.780792,3.710141,3.761735,0.308652,1.064736,0.4,1.0,0.2,1.0,0.0,0.0,0.1,0.0,1.9,0.0,0.5,1.0
5,0,0,0,75.0,75.0,0,58822,NaN,NaN,-1,1,-2,2,0.0,438,171,NaN,NaN,0,2,0.4,-0.4,0,Cédric,0.0,0,0,0.0,453,172,False,0.0,448,172,0,Calf injury - 75% chance of playing,2020-09-23T09:00:14.881983Z,48,0,0,NaN,0,NaN,58822.jpg,0.0,0,0,Soares,0.3,False,...,d,1,3,0.0,408,158,0,1383,33,23726,2304,0.0,0.0,Cédric,0,Arsenal,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
coefficients = pd.DataFrame(np.nan, index=teamStats.index, columns=['xG','xGA','coefficient'])

for ix in coefficients.index:
    coefficients.loc[ix, 'xG'] = teamStats.loc[ix, 'xG per game']
    coefficients.loc[ix, 'xGA'] = teamStats.loc[ix, 'xGA per game']
    coefficients.loc[ix, 'coefficient'] = 0.755489209043063 * coefficients.loc[ix, 'xG']

display(coefficients)

                       xG       xGA  coefficient
Squad
Leicester City   2.033333  1.100000     1.536161
Liverpool        2.966667  0.933333     2.241285
Everton          2.233333  0.566667     1.687259
Aston Villa      1.300000  0.800000     0.982136
Arsenal          1.466667  1.700000     1.108051
Crystal Palace   0.900000  1.266667     0.679940
Leeds United     1.266667  2.233333     0.956953
Tottenham        1.933333  1.300000     1.460612
Chelsea          1.500000  1.666667     1.133234
Newcastle Utd    1.000000  1.733333     0.755489
West Ham         1.600000  1.166667     1.208783
Brighton         1.800000  0.900000     1.359881
Manchester City  1.450000  1.800000     1.095459
Manchester Utd   1.100000  1.950000     0.831038
Southampton      1.000000  1.233333     0.755489
Wolves           0.933333  1.466667     0.705123
West Brom        0.566667  2.633333     0.428111
Burnley          1.200000  1.000000     0.906587
Sheffield Utd    1.033333  1.233333     0.780672
Fulham           0.900000  1.700000     0.679940

In [7]:
def points_for_clean_sheet(position):
    if position < 3:
        return 4
    elif position==3:
        return 1
    elif position==4:
        return 0

In [8]:
goalkeepers = players['element_type'] == 1
defenders = players['element_type'] == 2
midfielders = players['element_type'] == 3
forwards = players['element_type'] == 4

In [9]:
home_coefficient = 1.0721855628874228
away_coefficient = 0.9280143971205758

In [10]:
team_names = np.sort(teamStats.index)
# for some reason the fpl team numbers are not alphabetical with leeds and leicester...
if (team_names[8]=='Leeds United') & (team_names[9]=='Leicester City'):
    team_names[8] = 'Leicester City'
    team_names[9] = 'Leeds United'
    
# how many gameweeks ahead do you want to look at
for number_gameweeks in [1,5,10]:
    expectations = pd.DataFrame(0, index=teamStats.index, \
                columns=['games','total_xG','total_xGA','xG per game', 'xGA per game'])
    gameweeks = np.arange(latest_gameweek+1, latest_gameweek+number_gameweeks+1)
    games = fixtures[fixtures['event'].isin(gameweeks)]
    for ix in games.index:
        home_team_number = games.loc[ix,'team_h']
        home_team = team_names[home_team_number-1]
        away_team_number = games.loc[ix,'team_a']
        away_team = team_names[away_team_number-1]

        home_xG = home_coefficient * coefficients.loc[home_team,'coefficient'] * \
                                    coefficients.loc[away_team,'xGA']
        away_xG = away_coefficient * coefficients.loc[away_team,'coefficient'] * \
                                    coefficients.loc[home_team,'xGA']
        expectations.loc[home_team,'total_xG'] += home_xG
        expectations.loc[home_team,'total_xGA'] += away_xG
        expectations.loc[home_team,'games'] += 1
        expectations.loc[away_team,'total_xG'] += away_xG
        expectations.loc[away_team,'total_xGA'] += home_xG
        expectations.loc[away_team,'games'] += 1

    expectations['xG per game'] = expectations['total_xG'] / expectations['games']
    expectations['xGA per game'] = expectations['total_xGA'] / expectations['games']
    print('expectations:')
    display(expectations)

    new_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    coefficients[new_column] = expectations['xG per game'] / coefficients['xG']
    print('coefficients:')
    display(coefficients)
    
    new_column = 'next' + str(number_gameweeks) + '_xP'
    multiplier_xG_xA_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    for ix in players.index:
        team = players.loc[ix,'team_name']
        position = players.loc[ix, 'element_type']

        # adjust xP based on xg and xa for the next game
        xg_points_per_game = players.loc[ix,'xG_points'] / players.loc[ix,'games played']
        xa_points_per_game = players.loc[ix,'xA_points'] / players.loc[ix,'games played']
        xpoints = xg_points_per_game + xa_points_per_game
        players.loc[ix, new_column] = players.loc[ix, 'adjusted points per game'] - \
                            xpoints + coefficients.loc[team, multiplier_xG_xA_column]*xpoints    

        # adjust xP based on probability to keep a clean sheet for the next game
        clean_sheet_points_per_game = players.loc[ix,'clean_sheet_points'] / \
                                        players.loc[ix,'games played']
        probability_clean_sheet_next = poisson.pmf(0, expectations.loc[team, 'xGA per game'])
        players.loc[ix, new_column] = players.loc[ix, new_column] - clean_sheet_points_per_game \
                + points_for_clean_sheet(position) * probability_clean_sheet_next

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Leicester City       1  1.921558   1.233945     1.921558      1.233945
Liverpool            1  1.663956   0.982830     1.663956      0.982830
Everton              1  1.628149   0.715127     1.628149      0.715127
Aston Villa          1  0.982830   1.663956     0.982830      1.663956
Arsenal              1  1.465245   1.231608     1.465245      1.231608
Crystal Palace       1  1.051657   1.539047     1.051657      1.539047
Leeds United         1  1.846856   2.270411     1.846856      2.270411
Tottenham            1  2.643165   1.158335     2.643165      1.158335
Chelsea              1  1.539047   1.051657     1.539047      1.051657
Newcastle Utd        1  0.810025   1.458298     0.810025      1.458298
West Ham             1  1.233945   1.921558     1.233945      1.921558
Brighton             1  0.715127   1.628149     0.715127      1.628149
Manchester City      1  2.270411   1.846856     2.270411      1.846856
Manchester Utd       1  1.158335   2.643165     1.158335      2.643165
Southampton          1  2.133065   0.489994     2.133065      0.489994
Wolves               1  1.285239   0.925458     1.285239      0.925458
West Brom            1  0.489994   2.133065     0.489994      2.133065
Burnley              1  1.458298   0.810025     1.458298      0.810025
Sheffield Utd        1  1.231608   1.465245     1.231608      1.465245
Fulham               1  0.925458   1.285239     0.925458      1.285239

coefficients:

                       xG       xGA  coefficient  next1_xG_xA_multiplier
Squad
Leicester City   2.033333  1.100000     1.536161                0.945029
Liverpool        2.966667  0.933333     2.241285                0.560884
Everton          2.233333  0.566667     1.687259                0.729022
Aston Villa      1.300000  0.800000     0.982136                0.756023
Arsenal          1.466667  1.700000     1.108051                0.999030
Crystal Palace   0.900000  1.266667     0.679940                1.168508
Leeds United     1.266667  2.233333     0.956953                1.458044
Tottenham        1.933333  1.300000     1.460612                1.367154
Chelsea          1.500000  1.666667     1.133234                1.026031
Newcastle Utd    1.000000  1.733333     0.755489                0.810025
West Ham         1.600000  1.166667     1.208783                0.771215
Brighton         1.800000  0.900000     1.359881                0.397293
Manchester City  1.450000  1.800000     1.095459                1.565801
Manchester Utd   1.100000  1.950000     0.831038                1.053032
Southampton      1.000000  1.233333     0.755489                2.133065
Wolves           0.933333  1.466667     0.705123                1.377042
West Brom        0.566667  2.633333     0.428111                0.864696
Burnley          1.200000  1.000000     0.906587                1.215248
Sheffield Utd    1.033333  1.233333     0.780672                1.191878
Fulham           0.900000  1.700000     0.679940                1.028287

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Squad
Leicester City       5  11.262153   5.391800     2.252431      1.078360
Liverpool            5  12.353866   5.490674     2.470773      1.098135
Everton              5  11.489467   3.248812     2.297893      0.649762
Aston Villa          5   7.185363   5.203361     1.437073      1.040672
Arsenal              5   7.578590   8.715992     1.515718      1.743198
Crystal Palace       5   5.334076   6.143507     1.066815      1.228701
Leeds United         5   6.315673  10.895541     1.263135      2.179108
Tottenham            5  10.804536   6.117575     2.160907      1.223515
Chelsea              5   7.638527   6.532718     1.527705      1.306544
Newcastle Utd        5   4.741570   8.223609     0.948314      1.644722
West Ham             5   8.275364   8.474395     1.655073      1.694879
Brighton             5   9.251792   4.808469     1.850358      0.961694
Manchester City      5   7.803200  11.281190     1.560640      2.256238
Manchester Utd       5   5.931922  11.806262     1.186384      2.361252
Southampton          5   5.725513   6.083130     1.145103      1.216626
Wolves               5   5.734523   6.799723     1.146905      1.359945
West Brom            5   2.578688  13.677234     0.515738      2.735447
Burnley              5   7.314670   5.134210     1.462934      1.026842
Sheffield Utd        5   6.044832   7.959616     1.208966      1.591923
Fulham               5   5.283031   6.659537     1.056606      1.331907

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier
Squad,,,,,
Leicester City,2.033333,1.100000,1.536161,0.945029,1.107753
Liverpool,2.966667,0.933333,2.241285,0.560884,0.832845
Everton,2.233333,0.566667,1.687259,0.729022,1.028908
Aston Villa,1.300000,0.800000,0.982136,0.756023,1.105440
Arsenal,1.466667,1.700000,1.108051,0.999030,1.033444
Crystal Palace,0.900000,1.266667,0.679940,1.168508,1.185350
Leeds United,1.266667,2.233333,0.956953,1.458044,0.997212
Tottenham,1.933333,1.300000,1.460612,1.367154,1.117711
Chelsea,1.500000,1.666667,1.133234,1.026031,1.018470
Newcastle Utd,1.000000,1.733333,0.755489,0.810025,0.948314
West Ham,1.600000,1.166667,1.208783,0.771215,1.034420
Brighton,1.800000,0.900000,1.359881,0.397293,1.027977
Manchester City,1.450000,1.800000,1.095459,1.565801,1.076303
Manchester Utd,1.100000,1.950000,0.831038,1.053032,1.078531
Southampton,1.000000,1.233333,0.755489,2.133065,1.145103
Wolves,0.933333,1.466667,0.705123,1.377042,1.228826
West Brom,0.566667,2.633333,0.428111,0.864696,0.910125
Burnley,1.200000,1.000000,0.906587,1.215248,1.219112
Sheffield Utd,1.033333,1.233333,0.780672,1.191878,1.169967
Fulham,0.900000,1.700000,0.679940,1.028287,1.174007

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Squad
Leicester City      10  19.566568  12.760570     1.956657      1.276057
Liverpool           10  27.053604  10.738323     2.705360      1.073832
Everton             10  24.494825   6.245246     2.449483      0.624525
Aston Villa         10  13.411494   9.088547     1.341149      0.908855
Arsenal             10  15.607605  16.857078     1.560760      1.685708
Crystal Palace      10  10.574216  12.202806     1.057422      1.220281
Leeds United        10  13.018764  24.016937     1.301876      2.401694
Tottenham           10  21.526851  14.427203     2.152685      1.442720
Chelsea             10  15.892900  15.897115     1.589290      1.589712
Newcastle Utd       10  11.239427  15.602470     1.123943      1.560247
West Ham            10  17.369917  13.347215     1.736992      1.334721
Brighton            10  16.954048  10.397607     1.695405      1.039761
Manchester City     10  17.371347  19.069227     1.737135      1.906923
Manchester Utd      10  12.684224  20.302382     1.268422      2.030238
Southampton         10  11.155252  12.123742     1.115525      1.212374
Wolves              10  10.254968  15.974174     1.025497      1.597417
West Brom           10   5.904711  24.819017     0.590471      2.481902
Burnley             10  12.714426  10.746609     1.271443      1.074661
Sheffield Utd       10  12.375592  13.617658     1.237559      1.361766
Fulham              10   8.862568  19.799381     0.886257      1.979938

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier,next10_xG_xA_multiplier
Squad,,,,,,
Leicester City,2.033333,1.100000,1.536161,0.945029,1.107753,0.962290
Liverpool,2.966667,0.933333,2.241285,0.560884,0.832845,0.911919
Everton,2.233333,0.566667,1.687259,0.729022,1.028908,1.096783
Aston Villa,1.300000,0.800000,0.982136,0.756023,1.105440,1.031653
Arsenal,1.466667,1.700000,1.108051,0.999030,1.033444,1.064155
Crystal Palace,0.900000,1.266667,0.679940,1.168508,1.185350,1.174913
Leeds United,1.266667,2.233333,0.956953,1.458044,0.997212,1.027797
Tottenham,1.933333,1.300000,1.460612,1.367154,1.117711,1.113458
Chelsea,1.500000,1.666667,1.133234,1.026031,1.018470,1.059527
Newcastle Utd,1.000000,1.733333,0.755489,0.810025,0.948314,1.123943
West Ham,1.600000,1.166667,1.208783,0.771215,1.034420,1.085620
Brighton,1.800000,0.900000,1.359881,0.397293,1.027977,0.941892
Manchester City,1.450000,1.800000,1.095459,1.565801,1.076303,1.198024
Manchester Utd,1.100000,1.950000,0.831038,1.053032,1.078531,1.153111
Southampton,1.000000,1.233333,0.755489,2.133065,1.145103,1.115525
Wolves,0.933333,1.466667,0.705123,1.377042,1.228826,1.098747
West Brom,0.566667,2.633333,0.428111,0.864696,0.910125,1.042008
Burnley,1.200000,1.000000,0.906587,1.215248,1.219112,1.059535
Sheffield Utd,1.033333,1.233333,0.780672,1.191878,1.169967,1.197638
Fulham,0.900000,1.700000,0.679940,1.028287,1.174007,0.984730

In [11]:
metric = 'next1_xP'
#minGames = players['games played'] >= 3

numberToShow = 50
display(players.sort_values(by=[metric], ascending=False)[['web_name','team_name',\
         'now_cost','games played','total_points','adjusted points','points_per_game',\
         'adjusted points per game','next1_xP','next5_xP','next10_xP']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,next1_xP,next5_xP,next10_xP
id,,,,,,,,,,,
388,Kane,Tottenham,105,3.010753,28,30.382759,9.3,10.091416,11.847464,10.654409,10.634069
272,De Bruyne,Manchester City,116,2.000000,15,17.147150,7.5,8.573575,10.948030,8.834257,9.390493
224,Vardy,Leicester City,100,2.990654,32,23.180000,10.7,7.750813,7.545313,8.153626,7.609842
275,Mahrez,Manchester City,84,1.000000,12,6.661851,12.0,6.661851,7.276665,6.685229,6.862915
166,Richarlison,Everton,80,3.013699,22,24.909655,7.3,8.265476,7.211668,8.377895,8.641858
390,Son,Tottenham,90,3.000000,27,17.717595,9.0,5.905865,7.158952,6.315973,6.244028
366,Ings,Southampton,84,3.013699,22,15.420000,7.3,5.116636,7.154402,5.377597,5.324403
202,Bamford,Leeds United,58,2.989691,29,18.693103,9.7,6.252521,7.003240,6.247951,6.298079
164,Calvert-Lewin,Everton,74,3.009709,31,24.500000,10.3,8.140323,6.924856,8.269987,8.574442
105,Jorginho,Chelsea,51,2.000000,12,12.614303,6.0,6.307151,6.556661,6.452198,6.525841
254,Salah,Liverpool,121,3.010753,28,25.620502,9.3,8.509667,6.442953,7.670427,8.047377
251,Mané,Liverpool,119,3.012048,25,26.684460,8.3,8.859241,6.434772,7.883817,8.325190
155,Digne,Everton,61,3.015873,19,20.738094,6.3,6.876315,6.374495,6.715469,6.816116
302,Fernandes,Manchester Utd,105,2.000000,14,12.601100,7.0,6.300550,6.359870,6.445765,6.666234
12,Martínez,Aston Villa,45,2.000000,19,14.594632,9.5,7.297316,6.257553,6.912869,7.111942
478,Willian,Arsenal,80,3.000000,18,17.837706,6.0,5.945902,6.053393,5.995033,6.057595
33,Hourihane,Aston Villa,60,2.000000,17,13.695210,8.5,6.847605,6.050915,6.983462,6.870899
137,Townsend,Crystal Palace,60,3.013699,22,17.342271,7.3,5.754481,5.894179,5.992943,5.982604
252,Alisson,Liverpool,60,2.982456,17,17.691293,5.7,5.931786,5.855826,5.692794,5.725610
498,Castagne,Leicester City,57,3.000000,27,17.984108,9.0,5.994703,5.794803,6.088482,5.757136
469,Podence,Wolves,56,2.000000,11,10.154490,5.5,5.077245,5.789612,5.435025,5.192153
377,Adams,Southampton,59,2.962963,8,11.396552,2.7,3.846336,5.758383,4.091197,4.041285
6,Lacazette,Arsenal,85,3.000000,21,16.800000,7.0,5.600000,5.597479,5.686955,5.766803
235,Barnes,Leicester City,70,3.000000,18,17.195165,6.0,5.731722,5.583715,5.947325,5.605081
141,Zaha,Crystal Palace,72,3.000000,24,15.765308,8.0,5.255103,5.576611,5.693547,5.671946
442,Masuaku,West Ham,45,2.000000,13,13.187778,6.5,6.593889,5.556296,6.139555,6.542474
198,Klich,Leeds United,56,3.000000,21,14.138064,7.0,4.712688,5.536320,4.713622,4.746302
68,Maupay,Brighton,65,2.988506,26,21.836552,8.7,7.306846,5.403033,7.395219,7.123295
506,Wilson,Newcastle Utd,64,3.000000,18,17.420000,6.0,5.806667,5.336794,5.678830,6.113218
325,Darlow,Newcastle Utd,50,2.982456,17,15.107934,5.7,5.065601,5.289351,5.131089,5.199160
282,Jesus,Manchester City,95,1.000000,6,4.100000,6.0,4.100000,5.288182,4.260237,4.515850
259,Alexander-Arnold,Liverpool,75,3.000000,15,17.115440,5.0,5.705147,5.190070,5.298999,5.410889
460,Jiménez,Wolves,86,2.978723,14,12.800000,4.7,4.297143,5.157876,4.819521,4.522567
255,Robertson,Liverpool,70,2.985075,20,17.591963,6.7,5.893308,5.155379,5.402329,5.554349
276,Sterling,Manchester City,115,2.000000,7,8.627150,3.5,4.313575,5.126419,4.363660,4.583947
123,James,Chelsea,51,3.018868,16,13.377314,5.3,4.431235,5.096448,4.775269,4.544910
352,Jack Robinson,Sheffield Utd,44,1.000000,2,4.965280,2.0,4.965280,5.069467,4.920077,5.180580
508,Rodríguez,Everton,77,2.982456,17,16.688838,5.7,5.595669,5.008585,5.604704,5.745496
41,Mings,Aston Villa,50,2.000000,22,12.691183,11.0,6.345592,4.976460,6.103489,6.202950
494,Gabriel,Arsenal,51,2.000000,17,9.061468,8.5,4.530734,4.967001,4.509873,4.560499
365,Redmond,Southampton,64,1.000000,2,3.291320,2.0,3.291320,4.745695,3.441331,3.413015
284,Foden,Manchester City,66,2.000000,11,8.330598,5.5,4.165299,4.723533,4.181047,4.346561
38,McGinn,Aston Villa,55,2.000000,12,10.691761,6.0,5.345881,4.719975,5.407929,5.347017
152,Coleman,Everton,50,3.023256,13,15.458298,4.3,5.113129,4.692437,4.943628,5.023954
461,Saïss,Wolves,51,3.018868,16,11.185729,5.3,3.705273,4.667647,3.991117,3.670678
184,Mitrović,Fulham,60,3.000000,15,13.720000,5.0,4.573333,4.636697,4.963109,4.539128
91,Wood,Burnley,65,2.000000,8,8.300000,4.0,4.150000,4.612784,4.621090,4.278001
369,Vestergaard,Southampton,45,2.000000,7,5.930559,3.5,2.965280,4.590439,3.028443,3.024618
485,Hendrick,Newcastle Utd,50,3.000000,18,14.226635,6.0,4.742212,4.589176,4.701729,4.911938
156,Keane,Everton,50,3.000000,15,15.708964,5.0,5.236321,4.570916,5.092926,5.234549

In [12]:
# save predictions
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players.to_csv(filepath)