In [1]:
# recent gameweek
latest_gameweek = 19

In [2]:
import pandas as pd
import numpy as np
import json
import requests
from scipy.stats import poisson

# allow more data columns to be shown than by default
pd.set_option('max_columns',100)

In [3]:
# fetch FPL fixtures online
fixtures_text = json.loads(requests.get('https://fantasy.premierleague.com/api/fixtures').text)
fixtures = pd.DataFrame(fixtures_text)
fixtures.head(20)

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,pulse_id,started,stats,team_a,team_a_difficulty,team_a_score,team_h,team_h_difficulty,team_h_score
0,2128457,NaN,False,False,170,None,0,False,59067,None,[],17,3,NaN,2,4,NaN
1,2128467,NaN,False,False,180,None,0,False,59077,None,[],7,3,NaN,2,3,NaN
2,2128447,NaN,False,False,160,None,0,False,59057,None,[],8,2,NaN,4,2,NaN
3,2128440,NaN,False,False,153,None,0,False,59050,None,[],12,3,NaN,7,4,NaN
4,2128608,NaN,False,False,321,None,0,False,59218,None,[],17,2,NaN,8,4,NaN
5,2128459,NaN,False,False,172,None,0,False,59069,None,[],16,3,NaN,10,3,NaN
6,2128612,NaN,False,False,325,None,0,False,59222,None,[],16,5,NaN,12,3,NaN
7,2128288,1.0,True,True,2,2020-09-12T11:30:00Z,90,False,58898,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",1,2,3.0,8,3,0.0
8,2128287,1.0,True,True,1,2020-09-12T14:00:00Z,90,False,58897,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",16,3,0.0,6,3,1.0
9,2128289,1.0,True,True,3,2020-09-12T16:30:00Z,90,False,58899,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",10,5,3.0,11,2,4.0
10,2128293,1.0,True,True,6,2020-09-12T19:00:00Z,90,False,58903,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",14,3,2.0,19,2,0.0
11,2128292,1.0,True,True,5,2020-09-13T13:00:00Z,90,False,58902,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",9,2,3.0,18,4,0.0
12,2128291,1.0,True,True,4,2020-09-13T15:30:00Z,90,False,58901,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",7,4,1.0,17,3,0.0
13,2128295,1.0,True,True,8,2020-09-14T17:00:00Z,90,False,58905,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",20,2,2.0,15,3,0.0
14,2128294,1.0,True,True,7,2020-09-14T19:15:00Z,90,False,58904,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,2,3.0,3,4,1.0
15,2128299,2.0,True,True,12,2020-09-19T11:30:00Z,90,False,58909,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",18,3,2.0,7,2,5.0
16,2128300,2.0,True,True,13,2020-09-19T14:00:00Z,90,False,58910,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",8,3,3.0,10,2,4.0
17,2128302,2.0,True,True,15,2020-09-19T16:30:00Z,90,False,58912,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",6,4,3.0,13,3,1.0
18,2128296,2.0,True,True,9,2020-09-19T19:00:00Z,90,False,58906,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",19,3,1.0,1,3,2.0
19,2128304,2.0,True,True,17,2020-09-20T11:00:00Z,90,False,58914,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",17,3,5.0,16,4,2.0

In [4]:
filepath = '../data/fbref/team_stats_week' + str(latest_gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col='Squad')
display(teamStats)

,Rk,MP,W,D,L,GF,GA,GDiff,Pts,xG,xGA,xGDiff,xGDiff/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes,xG per game,xGA per game,probability no goals allowed
Squad,,,,,,,,,,,,,,,,,,,,,
Manchester Utd,1,19,12,4,3,36,25,11,40,30.8,24.7,6.1,0.32,W W W D W,NaN,Bruno Fernandes - 11,David de Gea,NaN,1.621053,1.300000,0.272532
Manchester City,2,18,11,5,2,31,13,18,38,33.3,14.3,19.0,1.05,W W W W W,NaN,İlkay Gündoğan Raheem Sterling - 5,Ederson,NaN,1.850000,0.794444,0.451832
Leicester City,3,19,12,2,5,35,21,14,38,28.4,21.6,6.8,0.36,D D W W W,NaN,Jamie Vardy - 11,Kasper Schmeichel,NaN,1.494737,1.136842,0.320831
Liverpool,4,19,9,7,3,37,22,15,34,37.1,22.3,14.8,0.78,D D L D L,600.0,Mohamed Salah - 13,Alisson,NaN,1.952632,1.173684,0.309226
Tottenham,5,18,9,6,3,33,17,16,33,26.3,19.3,6.9,0.39,L D W D W,222.0,Harry Kane Son Heung-min - 12,Hugo Lloris,NaN,1.461111,1.072222,0.342247
Everton,6,17,10,2,5,28,21,7,32,21.6,21.2,0.4,0.02,W W W L W,250.0,Dominic Calvert-Lewin - 11,Jordan Pickford,NaN,1.270588,1.247059,0.287349
West Ham,7,19,9,5,5,27,22,5,32,24.7,22.5,2.2,0.12,D D W W W,200.0,Michail Antonio Tomáš Souček... - 5,Łukasz Fabiański,NaN,1.300000,1.184211,0.305988
Aston Villa,8,17,9,2,6,31,18,13,29,29.8,22.3,7.5,0.44,W D L L W,NaN,Ollie Watkins - 7,Emiliano Martínez,NaN,1.752941,1.311765,0.269344
Chelsea,9,19,8,5,6,33,23,10,29,30.6,20.7,9.8,0.52,L D L W L,222.0,Tammy Abraham - 6,Edouard Mendy,NaN,1.610526,1.089474,0.336393
Southampton,10,18,8,5,5,26,21,5,29,17.3,21.9,-4.6,-0.25,L D D W L,222.0,Danny Ings - 7,Alex McCarthy,NaN,0.961111,1.216667,0.296216
Arsenal,11,19,8,3,8,23,19,4,27,25.5,21.9,3.6,0.19,W W W D W,200.0,Alexandre Lacazette - 7,Bernd Leno,NaN,1.342105,1.152632,0.315805
Leeds United,12,18,7,2,9,30,34,-4,23,29.6,32.7,-3.1,-0.17,L W W L L,NaN,Patrick Bamford - 10,Illan Meslier,NaN,1.644444,1.816667,0.162567
Crystal Palace,13,19,6,5,8,22,33,-11,23,17.3,25.4,-8.0,-0.42,L D W D L,222.0,Wilfried Zaha - 8,Vicente Guaita,NaN,0.910526,1.336842,0.262674
Wolves,14,19,6,4,9,21,29,-8,22,19.9,23.4,-3.5,-0.18,D L D L L,NaN,Pedro Neto Raúl Jiménez - 4,Rui Patrício,NaN,1.047368,1.231579,0.291831
Burnley,15,18,5,4,9,10,22,-12,19,16.0,26.7,-10.6,-0.59,L W L L W,NaN,Chris Wood - 3,Nick Pope,NaN,0.888889,1.483333,0.226880
Newcastle Utd,16,19,5,4,10,18,32,-14,19,16.3,28.0,-11.7,-0.62,D L L L L,NaN,Callum Wilson - 8,Karl Darlow,NaN,0.857895,1.473684,0.229080
Brighton,17,19,3,8,8,22,29,-7,17,25.2,21.2,4.1,0.22,D L D L W,222.0,Neal Maupay - 7,Mathew Ryan,NaN,1.326316,1.115789,0.327657
Fulham,18,18,2,6,10,15,27,-12,12,19.3,27.1,-7.8,-0.43,D D D L L,200.0,Bobby Reid - 4,Alphonse Areola,NaN,1.072222,1.505556,0.221894
West Brom,19,19,2,5,12,15,43,-28,11,12.6,35.6,-23.1,-1.21,D L L W L,NaN,Matheus Pereira - 4,Sam Johnstone,NaN,0.663158,1.873684,0.153557
Sheffield Utd,20,19,1,2,16,10,32,-22,5,18.4,27.2,-8.9,-0.47,L L L W L,NaN,David McGoldrick - 5,Aaron Ramsdale,NaN,0.968421,1.431579,0.238931

In [5]:
# fetch FPL data
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players = pd.read_csv(filepath, index_col=0)
players.head()

,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,code,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,creativity,creativity_rank,creativity_rank_type,direct_freekicks_order,direct_freekicks_text,dreamteam_count,element_type,ep_next,ep_this,event_points,first_name,form,goals_conceded,goals_scored,ict_index,ict_index_rank,ict_index_rank_type,in_dreamteam,influence,influence_rank,influence_rank_type,minutes,news,news_added,now_cost,own_goals,penalties_missed,penalties_order,penalties_saved,penalties_text,photo,points_per_game,red_cards,saves,second_name,selected_by_percent,special,...,xG_week12,goals_week12,xGA_week12,cleansheet_week12,xA_week12,assists_week12,xPoints week 13,xG_week13,goals_week13,xGA_week13,cleansheet_week13,xA_week13,assists_week13,xPoints week 14,xG_week14,goals_week14,xGA_week14,cleansheet_week14,xA_week14,assists_week14,xPoints week 15,xG_week15,goals_week15,xGA_week15,cleansheet_week15,xA_week15,assists_week15,xPoints week 16,xG_week16,goals_week16,xGA_week16,cleansheet_week16,xA_week16,assists_week16,xPoints week 17,xG_week17,goals_week17,xGA_week17,cleansheet_week17,xA_week17,assists_week17,xPoints week 18,xG_week18,goals_week18,xGA_week18,cleansheet_week18,xA_week18,assists_week18,form 5,form 10
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0.0,0.0,0,37605,NaN,NaN,0,0,-3,3,0.0,641,257,NaN,NaN,0,3,0.0,0.0,0,Mesut,0.0,0,0,0.0,641,257,False,0.0,641,257,0,Not included in Arsenal's 25-man Premier Leagu...,2020-10-20T22:30:18.118477Z,67,0,0,NaN,0,NaN,37605.jpg,0.0,0,0,Özil,0.5,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,0,0,0.0,0.0,0,39476,NaN,NaN,0,0,-2,2,0.0,589,219,NaN,NaN,0,2,0.0,0.0,0,Sokratis,0.0,0,0,0.0,602,219,False,0.0,599,219,0,Left the club by mutual consent on 20/1,2020-10-21T10:30:18.546407Z,48,0,0,NaN,0,NaN,39476.jpg,0.0,0,0,Papastathopoulos,0.1,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,0,108,100.0,100.0,2,41270,NaN,NaN,0,0,-1,1,28.8,312,100,4.0,NaN,0,2,2.7,2.7,6,David,2.2,9,0,20.0,298,98,False,115.4,259,99,659,NaN,2020-12-26T18:00:15.638627Z,54,0,0,NaN,0,NaN,41270.jpg,2.0,0,0,Luiz Moreira Marinho,0.8,False,...,NaN,NaN,0.9,0.0,NaN,NaN,1.000000,0.0,0.0,1.1,0.0,0.0,0.0,3.397316,0.1,0.0,0.8,0.0,0.0,0.0,NaN,NaN,NaN,2.2,0.0,NaN,NaN,NaN,NaN,NaN,0.8,0.0,NaN,NaN,NaN,NaN,NaN,0.4,0.0,NaN,NaN,2.471518,0.0,0.0,1.0,1.0,0.0,0.0,4.917395,2.846421
4,1,6,202,75.0,100.0,7,54694,NaN,NaN,0,0,-7,7,226.3,70,49,NaN,NaN,1,3,4.0,5.3,15,Pierre-Emerick,4.8,16,5,101.8,32,22,False,272.2,114,39,1514,Personal Reasons - 75% chance of playing,2021-01-23T16:00:22.555453Z,113,1,0,1.0,0,NaN,54694.jpg,4.2,0,0,Aubameyang,7.2,False,...,0.2,0.0,0.9,0.0,0.1,0.0,7.132871,0.3,1.0,1.1,0.0,0.1,0.0,NaN,NaN,NaN,0.8,0.0,NaN,NaN,NaN,NaN,NaN,2.2,0.0,NaN,NaN,5.449329,0.6,0.0,0.8,1.0,0.0,0.0,6.67032,0.8,0.0,0.4,1.0,0.0,0.0,2.867879,0.1,0.0,1.0,1.0,0.0,0.0,6.682087,5.427614
5,1,3,42,100.0,100.0,1,58822,NaN,NaN,0,0,-4,4,32.3,302,93,NaN,NaN,0,2,2.9,2.9,12,Cédric,2.4,0,0,6.4,387,145,False,29.2,381,151,95,NaN,2020-09-23T09:00:14.881983Z,46,0,0,NaN,0,NaN,58822.jpg,6.5,0,0,Soares,0.2,False,...,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,0.0,0.0,1.1,0.0,0.0,0.0,NaN,NaN,NaN,0.8,0.0,NaN,NaN,NaN,NaN,NaN,2.2,0.0,NaN,NaN,NaN,NaN,NaN,0.8,0.0,NaN,NaN,NaN,NaN,NaN,0.4,0.0,NaN,NaN,NaN,NaN,NaN,1.0,0.0,NaN,NaN,10.658585,5.829293

In [6]:
coefficients = pd.DataFrame(np.nan, index=teamStats.index, columns=['xG','xGA','coefficient'])

for ix in coefficients.index:
    coefficients.loc[ix, 'xG'] = teamStats.loc[ix, 'xG per game']
    coefficients.loc[ix, 'xGA'] = teamStats.loc[ix, 'xGA per game']
    coefficients.loc[ix, 'coefficient'] = 0.755489209043063 * coefficients.loc[ix, 'xG']

display(coefficients)

                       xG       xGA  coefficient
Squad
Manchester Utd   1.621053  1.300000     1.224688
Manchester City  1.850000  0.794444     1.397655
Leicester City   1.494737  1.136842     1.129258
Liverpool        1.952632  1.173684     1.475192
Tottenham        1.461111  1.072222     1.103854
Everton          1.270588  1.247059     0.959916
West Ham         1.300000  1.184211     0.982136
Aston Villa      1.752941  1.311765     1.324328
Chelsea          1.610526  1.089474     1.216735
Southampton      0.961111  1.216667     0.726109
Arsenal          1.342105  1.152632     1.013946
Leeds United     1.644444  1.816667     1.242360
Crystal Palace   0.910526  1.336842     0.687893
Wolves           1.047368  1.231579     0.791276
Burnley          0.888889  1.483333     0.671546
Newcastle Utd    0.857895  1.473684     0.648130
Brighton         1.326316  1.115789     1.002017
Fulham           1.072222  1.505556     0.810052
West Brom        0.663158  1.873684     0.501009
Sheffield Utd    0.968421  1.431579     0.731632

In [7]:
def points_for_clean_sheet(position):
    if position < 3:
        return 4
    elif position==3:
        return 1
    elif position==4:
        return 0

In [8]:
goalkeepers = players['element_type'] == 1
defenders = players['element_type'] == 2
midfielders = players['element_type'] == 3
forwards = players['element_type'] == 4

In [9]:
home_coefficient = 1.0721855628874228
away_coefficient = 0.9280143971205758

In [10]:
team_names = np.sort(teamStats.index)
# for some reason the fpl team numbers are not alphabetical with leeds and leicester...
if (team_names[8]=='Leeds United') & (team_names[9]=='Leicester City'):
    team_names[8] = 'Leicester City'
    team_names[9] = 'Leeds United'
    
# how many gameweeks ahead do you want to look at
for number_gameweeks in [1,5,10]:
    expectations = pd.DataFrame(0, index=teamStats.index, \
                columns=['games','total_xG','total_xGA','xG per game', 'xGA per game'])
    gameweeks = np.arange(latest_gameweek+1, latest_gameweek+number_gameweeks+1)
    games = fixtures[fixtures['event'].isin(gameweeks)]
    for ix in games.index:
        home_team_number = games.loc[ix,'team_h']
        home_team = team_names[home_team_number-1]
        away_team_number = games.loc[ix,'team_a']
        away_team = team_names[away_team_number-1]

        home_xG = home_coefficient * coefficients.loc[home_team,'coefficient'] * \
                                    coefficients.loc[away_team,'xGA']
        away_xG = away_coefficient * coefficients.loc[away_team,'coefficient'] * \
                                    coefficients.loc[home_team,'xGA']
        expectations.loc[home_team,'total_xG'] += home_xG
        expectations.loc[home_team,'total_xGA'] += away_xG
        expectations.loc[home_team,'games'] += 1
        expectations.loc[away_team,'total_xG'] += away_xG
        expectations.loc[away_team,'total_xGA'] += home_xG
        expectations.loc[away_team,'games'] += 1

    expectations['xG per game'] = expectations['total_xG'] / expectations['games']
    expectations['xGA per game'] = expectations['total_xGA'] / expectations['games']
    print('expectations:')
    display(expectations)

    new_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    coefficients[new_column] = expectations['xG per game'] / coefficients['xG']
    print('coefficients:')
    display(coefficients)
    
    new_column = 'next' + str(number_gameweeks) + '_xP'
    multiplier_xG_xA_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    for ix in players.index:
        team = players.loc[ix,'team_name']
        position = players.loc[ix, 'element_type']

        # adjust xP based on xg and xa for the next game
        xg_points_per_game = players.loc[ix,'xG_points'] / players.loc[ix,'games played']
        xa_points_per_game = players.loc[ix,'xA_points'] / players.loc[ix,'games played']
        xpoints = xg_points_per_game + xa_points_per_game
        players.loc[ix, new_column] = players.loc[ix, 'adjusted points per game'] - \
                            xpoints + coefficients.loc[team, multiplier_xG_xA_column]*xpoints    

        # adjust xP based on probability to keep a clean sheet for the next game
        clean_sheet_points_per_game = players.loc[ix,'clean_sheet_points'] / \
                                        players.loc[ix,'games played']
        probability_clean_sheet_next = poisson.pmf(0, expectations.loc[team, 'xGA per game'])
        players.loc[ix, new_column] = players.loc[ix, new_column] - clean_sheet_points_per_game \
                + points_for_clean_sheet(position) * probability_clean_sheet_next

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester Utd       1  1.879796   0.882654     1.879796      0.882654
Manchester City      1  2.430251   0.426755     2.430251      0.426755
Leicester City       1  1.306877   1.170047     1.306877      1.170047
Liverpool            1  1.467872   1.389097     1.467872      1.389097
Tottenham            1  1.389097   1.467872     1.389097      1.467872
Everton              1  1.170047   1.306877     1.170047      1.306877
West Ham             1  1.218446   0.873413     1.218446      0.873413
Aston Villa          1  1.823010   0.944499     1.823010      0.944499
Chelsea              1  1.606676   0.800017     1.606676      0.800017
Southampton          1  0.897351   1.144830     0.897351      1.144830
Arsenal              1  1.144830   0.897351     1.144830      0.897351
Leeds United         1  1.699052   1.262430     1.699052      1.262430
Crystal Palace       1  0.873413   1.218446     0.873413      1.218446
Wolves               1  0.800017   1.606676     0.800017      1.606676
Burnley              1  0.944499   1.823010     0.944499      1.823010
Newcastle Utd        1  1.262430   1.699052     1.262430      1.699052
Brighton             1  1.617491   0.838784     1.617491      0.838784
Fulham               1  0.838784   1.617491     0.838784      1.617491
West Brom            1  0.426755   2.430251     0.426755      2.430251
Sheffield Utd        1  0.882654   1.879796     0.882654      1.879796

coefficients:

                       xG       xGA  coefficient  next1_xG_xA_multiplier
Squad
Manchester Utd   1.621053  1.300000     1.224688                1.159614
Manchester City  1.850000  0.794444     1.397655                1.313649
Leicester City   1.494737  1.136842     1.129258                0.874319
Liverpool        1.952632  1.173684     1.475192                0.751740
Tottenham        1.461111  1.072222     1.103854                0.950713
Everton          1.270588  1.247059     0.959916                0.920870
West Ham         1.300000  1.184211     0.982136                0.937267
Aston Villa      1.752941  1.311765     1.324328                1.039972
Chelsea          1.610526  1.089474     1.216735                0.997609
Southampton      0.961111  1.216667     0.726109                0.933660
Arsenal          1.342105  1.152632     1.013946                0.853011
Leeds United     1.644444  1.816667     1.242360                1.033207
Crystal Palace   0.910526  1.336842     0.687893                0.959240
Wolves           1.047368  1.231579     0.791276                0.763835
Burnley          0.888889  1.483333     0.671546                1.062562
Newcastle Utd    0.857895  1.473684     0.648130                1.471545
Brighton         1.326316  1.115789     1.002017                1.219537
Fulham           1.072222  1.505556     0.810052                0.782285
West Brom        0.663158  1.873684     0.501009                0.643520
Sheffield Utd    0.968421  1.431579     0.731632                0.911436

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester Utd       5  8.554388   5.028312     1.710878      1.005662
Manchester City      5  9.628580   3.608551     1.925716      0.721710
Leicester City       5  7.795942   5.988948     1.559188      1.197790
Liverpool            5  7.666770   6.659804     1.533354      1.331961
Tottenham            5  6.852930   5.935806     1.370586      1.187161
Everton              5  7.012679   6.293051     1.402536      1.258610
West Ham             5  6.529680   6.008643     1.305936      1.201729
Aston Villa          5  8.007730   5.804935     1.601546      1.160987
Chelsea              5  8.291462   4.278335     1.658292      0.855667
Southampton          5  4.746423   5.976602     0.949285      1.195320
Arsenal              5  6.926254   6.150787     1.385251      1.230157
Leeds United         5  7.780511   8.214999     1.556102      1.643000
Crystal Palace       5  4.976269   5.742956     0.995254      1.148591
Wolves               5  4.617473   5.923356     0.923495      1.184671
Burnley              5  3.832000   8.155427     0.766400      1.631085
Newcastle Utd        5  4.442268   7.072086     0.888454      1.414417
Brighton             5  6.649449   5.921304     1.329890      1.184261
Fulham               5  5.200667   6.925757     1.040133      1.385151
West Brom            5  3.097953   9.655644     0.619591      1.931129
Sheffield Utd        5  4.550525   7.814648     0.910105      1.562930

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier
Squad,,,,,
Manchester Utd,1.621053,1.300000,1.224688,1.159614,1.055411
Manchester City,1.850000,0.794444,1.397655,1.313649,1.040928
Leicester City,1.494737,1.136842,1.129258,0.874319,1.043119
Liverpool,1.952632,1.173684,1.475192,0.751740,0.785276
Tottenham,1.461111,1.072222,1.103854,0.950713,0.938044
Everton,1.270588,1.247059,0.959916,0.920870,1.103848
West Ham,1.300000,1.184211,0.982136,0.937267,1.004566
Aston Villa,1.752941,1.311765,1.324328,1.039972,0.913634
Chelsea,1.610526,1.089474,1.216735,0.997609,1.029659
Southampton,0.961111,1.216667,0.726109,0.933660,0.987695
Arsenal,1.342105,1.152632,1.013946,0.853011,1.032148
Leeds United,1.644444,1.816667,1.242360,1.033207,0.946278
Crystal Palace,0.910526,1.336842,0.687893,0.959240,1.093053
Wolves,1.047368,1.231579,0.791276,0.763835,0.881729
Burnley,0.888889,1.483333,0.671546,1.062562,0.862200
Newcastle Utd,0.857895,1.473684,0.648130,1.471545,1.035621
Brighton,1.326316,1.115789,1.002017,1.219537,1.002695
Fulham,1.072222,1.505556,0.810052,0.782285,0.970073
West Brom,0.663158,1.873684,0.501009,0.643520,0.934303
Sheffield Utd,0.968421,1.431579,0.731632,0.911436,0.939782

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester Utd      10  15.704933  11.597954     1.570493      1.159795
Manchester City     10  18.644645   7.372585     1.864465      0.737258
Leicester City      10  15.023318  11.484689     1.502332      1.148469
Liverpool           10  17.389584  11.829346     1.738958      1.182935
Tottenham           10  14.024520  10.305742     1.402452      1.030574
Everton             10  13.476703  12.179747     1.347670      1.217975
West Ham            10  12.694483  13.030910     1.269448      1.303091
Aston Villa         10  17.173943  11.830767     1.717394      1.183077
Chelsea             10  16.364613  10.509675     1.636461      1.050968
Southampton         10   8.990750  12.128340     0.899075      1.212834
Arsenal             10  12.535341  12.265801     1.253534      1.226580
Leeds United        10  15.500086  17.531040     1.550009      1.753104
Crystal Palace      10   9.824207  11.907263     0.982421      1.190726
Wolves              10   9.783239  13.479480     0.978324      1.347948
Burnley             10   8.274951  15.077566     0.827495      1.507757
Newcastle Utd       10   8.789686  14.275346     0.878969      1.427535
Brighton            10  13.763973   9.942067     1.376397      0.994207
Fulham              10  10.599114  15.128273     1.059911      1.512827
West Brom           10   6.470060  16.925064     0.647006      1.692506
Sheffield Utd       10   9.248726  15.475219     0.924873      1.547522

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier,next10_xG_xA_multiplier
Squad,,,,,,
Manchester Utd,1.621053,1.300000,1.224688,1.159614,1.055411,0.968811
Manchester City,1.850000,0.794444,1.397655,1.313649,1.040928,1.007819
Leicester City,1.494737,1.136842,1.129258,0.874319,1.043119,1.005081
Liverpool,1.952632,1.173684,1.475192,0.751740,0.785276,0.890572
Tottenham,1.461111,1.072222,1.103854,0.950713,0.938044,0.959853
Everton,1.270588,1.247059,0.959916,0.920870,1.103848,1.060666
West Ham,1.300000,1.184211,0.982136,0.937267,1.004566,0.976499
Aston Villa,1.752941,1.311765,1.324328,1.039972,0.913634,0.979722
Chelsea,1.610526,1.089474,1.216735,0.997609,1.029659,1.016103
Southampton,0.961111,1.216667,0.726109,0.933660,0.987695,0.935454
Arsenal,1.342105,1.152632,1.013946,0.853011,1.032148,0.934006
Leeds United,1.644444,1.816667,1.242360,1.033207,0.946278,0.942573
Crystal Palace,0.910526,1.336842,0.687893,0.959240,1.093053,1.078959
Wolves,1.047368,1.231579,0.791276,0.763835,0.881729,0.934078
Burnley,0.888889,1.483333,0.671546,1.062562,0.862200,0.930932
Newcastle Utd,0.857895,1.473684,0.648130,1.471545,1.035621,1.024565
Brighton,1.326316,1.115789,1.002017,1.219537,1.002695,1.037760
Fulham,1.072222,1.505556,0.810052,0.782285,0.970073,0.988518
West Brom,0.663158,1.873684,0.501009,0.643520,0.934303,0.975644
Sheffield Utd,0.968421,1.431579,0.731632,0.911436,0.939782,0.955031

In [11]:
metric = 'next1_xP'
#minGames = players['games played'] >= 3

numberToShow = 50
display(players.sort_values(by=[metric], ascending=False)[['web_name','team_name',\
         'now_cost','games played','total_points','adjusted points','points_per_game',\
         'adjusted points per game','next1_xP','next5_xP','next10_xP']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,next1_xP,next5_xP,next10_xP
id,,,,,,,,,,,
272,De Bruyne,Manchester City,119,16.964286,95,117.378135,5.6,6.919132,8.224813,7.097396,6.973266
302,Fernandes,Manchester Utd,113,18.918919,140,126.533819,7.4,6.688216,7.346709,6.961086,6.628144
388,Kane,Tottenham,112,17.974684,142,123.108437,7.9,6.848991,6.705693,6.668857,6.732267
273,Stones,Manchester City,51,10.000000,71,52.573287,7.1,5.257329,6.295730,5.424378,5.369559
277,Cancelo,Manchester City,58,14.081633,69,72.645452,4.9,5.158880,6.236010,5.330982,5.272076
5,Cédric,Arsenal,46,2.000000,13,11.221749,6.5,5.610875,5.845958,5.545575,5.461437
390,Son,Tottenham,97,18.051948,139,109.350102,7.7,6.057524,5.823375,5.866604,5.972445
506,Wilson,Newcastle Utd,66,17.037037,92,83.661250,5.4,4.910552,5.798450,4.977624,4.956806
39,Hause,Aston Villa,44,4.000000,28,20.909509,7.0,5.227377,5.771451,5.260203,5.341880
37,Grealish,Aston Villa,77,16.935484,105,92.714601,6.2,5.474576,5.684268,5.323599,5.465826
224,Vardy,Leicester City,101,18.125000,116,108.902500,6.4,6.008414,5.635774,6.136260,6.023479
202,Bamford,Leeds United,67,18.070175,103,99.996562,5.7,5.533790,5.621117,5.392516,5.382771
556,Dias,Manchester City,59,16.041667,77,74.087878,4.8,4.618465,5.621062,4.780842,4.729803
276,Sterling,Manchester City,114,16.862745,86,79.815693,5.1,4.733256,5.486843,4.839478,4.773628
254,Salah,Liverpool,125,17.916667,129,111.721542,7.2,6.235621,5.405282,5.524010,5.893190
271,Gündogan,Manchester City,55,12.941176,66,60.067240,5.1,4.641559,5.356650,4.742758,4.680971
275,Mahrez,Manchester City,81,12.888889,58,58.618927,4.5,4.548020,5.306079,4.654825,4.588503
280,Laporte,Manchester City,60,4.000000,12,17.029315,3.0,4.257329,5.201636,4.412099,4.367213
283,Zinchenko,Manchester City,55,5.000000,23,21.236644,4.6,4.247329,5.125769,4.393505,4.355571
514,Watkins,Aston Villa,61,17.111111,77,83.721250,4.5,4.892800,4.993577,4.675056,4.841675
141,Zaha,Crystal Palace,73,15.862069,92,79.392488,5.8,5.005179,4.954577,5.250481,5.208485
270,Walker,Manchester City,61,14.090909,62,57.462217,4.4,4.077964,4.927872,4.220417,4.185495
12,Martínez,Aston Villa,51,17.037037,92,74.655317,5.4,4.381943,4.860766,4.555752,4.529547
68,Maupay,Brighton,61,16.829268,69,73.975313,4.1,4.395635,4.853252,4.401251,4.474344
306,Rashford,Manchester Utd,96,18.979592,93,82.449105,4.9,4.344093,4.786314,4.541882,4.326281
278,Ederson,Manchester City,60,16.888889,76,66.523774,4.5,3.938908,4.742072,4.075261,4.045274
431,Fabianski,West Ham,51,17.954545,79,76.975477,4.4,4.287242,4.733388,4.265987,4.150054
284,Foden,Manchester City,63,14.000000,63,57.011588,4.5,4.072256,4.676311,4.158966,4.108900
164,Calvert-Lewin,Everton,76,16.101695,95,77.581250,5.9,4.818204,4.646201,5.043936,4.950074
435,Cresswell,West Ham,54,18.913043,87,80.020506,4.6,4.230969,4.642287,4.212250,4.080734
123,James,Chelsea,51,14.000000,56,58.528661,4.0,4.180619,4.630639,4.556016,4.244829
538,Steffen,Manchester City,44,1.000000,2,3.807329,2.0,3.807329,4.610493,3.943682,3.913695
232,Chilwell,Chelsea,61,16.000000,80,66.410434,5.0,4.150652,4.600974,4.522316,4.212836
558,Coufal,West Ham,47,14.883721,64,62.198189,4.3,4.178941,4.589681,4.160263,4.028489
251,Mané,Liverpool,118,17.959184,88,95.130002,4.9,5.297011,4.585997,4.688606,5.007176
366,Ings,Southampton,83,13.035714,73,59.925938,5.6,4.597058,4.488966,4.577009,4.491889
96,Pope,Burnley,54,17.037037,92,80.061463,5.4,4.699260,4.440097,4.569754,4.674931
75,Bernardo,Brighton,39,2.941176,5,11.254782,1.7,3.826626,4.424086,3.742088,4.026879
274,Mendy,Manchester City,59,6.000000,24,21.443972,4.0,3.573995,4.408525,3.714441,3.681143
33,Hourihane,Aston Villa,59,4.000000,20,16.872690,5.0,4.218172,4.386668,4.156206,4.230322
40,Trézéguet,Aston Villa,52,10.000000,26,41.788756,2.6,4.178876,4.375152,4.056885,4.176931
508,Rodríguez,Everton,77,12.093023,52,54.660852,4.3,4.520032,4.362664,4.701361,4.636370
8,Leno,Arsenal,50,18.809524,79,74.760537,4.2,3.974611,4.341985,3.880379,3.884568
286,Rodrigo,Manchester City,54,16.800000,42,62.486093,2.5,3.719410,4.330932,3.807094,3.756241
109,Rüdiger,Chelsea,45,4.047619,17,15.646371,4.2,3.865574,4.316577,4.228791,3.923172
203,Harrison,Leeds United,54,16.829268,69,69.617129,4.1,4.136670,4.310937,4.080356,4.054182
4,Aubameyang,Arsenal,113,16.904762,71,76.253914,4.2,4.510795,4.306830,4.551932,4.355474
45,El Ghazi,Aston Villa,58,10.888889,49,44.672860,4.5,4.102610,4.298274,3.981941,4.100976
266,Fernandinho,Manchester City,54,9.047619,19,30.352022,2.1,3.354697,4.261861,3.504621,3.463656
588,Welbeck,Brighton,55,9.000000,36,35.590625,4.0,3.954514,4.242351,3.958047,4.004021

In [12]:
# save predictions
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players.to_csv(filepath)