In [1]:
# recent gameweek
latest_gameweek = 6

In [2]:
import pandas as pd
import numpy as np
import json
import requests
from scipy.stats import poisson

# allow more data columns to be shown than by default
pd.set_option('max_columns',100)

In [3]:
# fetch FPL fixtures online
fixtures_text = json.loads(requests.get('https://fantasy.premierleague.com/api/fixtures').text)
fixtures = pd.DataFrame(fixtures_text)
fixtures.head(20)

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,pulse_id,started,stats,team_a,team_a_difficulty,team_a_score,team_h,team_h_difficulty,team_h_score
0,2128286,NaN,False,False,379,None,0,False,58896,None,[],13,2,NaN,4,4,NaN
1,2128290,NaN,False,False,380,None,0,False,58900,None,[],2,5,NaN,12,3,NaN
2,2128288,1.0,True,True,2,2020-09-12T11:30:00Z,90,False,58898,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",1,2,3.0,8,4,0.0
3,2128287,1.0,True,True,1,2020-09-12T14:00:00Z,90,False,58897,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",16,3,0.0,6,2,1.0
4,2128289,1.0,True,True,3,2020-09-12T16:30:00Z,90,False,58899,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",10,5,3.0,11,2,4.0
5,2128293,1.0,True,True,6,2020-09-12T19:00:00Z,90,False,58903,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",14,3,2.0,19,2,0.0
6,2128292,1.0,True,True,5,2020-09-13T13:00:00Z,90,False,58902,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",9,2,3.0,18,3,0.0
7,2128291,1.0,True,True,4,2020-09-13T15:30:00Z,90,False,58901,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",7,4,1.0,17,3,0.0
8,2128295,1.0,True,True,8,2020-09-14T17:00:00Z,90,False,58905,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",20,3,2.0,15,3,0.0
9,2128294,1.0,True,True,7,2020-09-14T19:15:00Z,90,False,58904,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,3,3.0,3,4,1.0
10,2128299,2.0,True,True,12,2020-09-19T11:30:00Z,90,False,58909,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",18,3,2.0,7,2,5.0
11,2128300,2.0,True,True,13,2020-09-19T14:00:00Z,90,False,58910,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",8,3,3.0,10,2,4.0
12,2128302,2.0,True,True,15,2020-09-19T16:30:00Z,90,False,58912,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",6,4,3.0,13,2,1.0
13,2128296,2.0,True,True,9,2020-09-19T19:00:00Z,90,False,58906,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",19,4,1.0,1,3,2.0
14,2128304,2.0,True,True,17,2020-09-20T11:00:00Z,90,False,58914,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",17,3,5.0,16,4,2.0
15,2128303,2.0,True,True,16,2020-09-20T13:00:00Z,90,False,58913,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,3,3.0,14,2,0.0
16,2128298,2.0,True,True,11,2020-09-20T15:30:00Z,90,False,58908,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",11,4,2.0,5,4,0.0
17,2128301,2.0,True,True,14,2020-09-20T18:00:00Z,90,False,58911,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,4,2.0,9,2,4.0
18,2128297,2.0,True,True,10,2020-09-21T17:00:00Z,90,False,58907,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",15,3,0.0,2,3,1.0
19,2128305,2.0,True,True,18,2020-09-21T19:15:00Z,90,False,58915,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",12,3,3.0,20,4,1.0

In [4]:
filepath = '../data/fbref/team_stats_week' + str(latest_gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col='Squad')
display(teamStats)

,Rk,MP,W,D,L,GF,GA,GDiff,Pts,xG,xGA,xGDiff,xGDiff/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes,xG per game,xGA per game,probability no goals allowed
Squad,,,,,,,,,,,,,,,,,,,,,
Everton,1,6,4,1,1,14,9,5,13,10.3,5.9,4.4,0.73,W W W D L,NaN,Dominic Calvert-Lewin - 7,Jordan Pickford,NaN,1.716667,0.983333,0.374062
Liverpool,2,6,4,1,1,15,14,1,13,15.3,9.5,5.9,0.98,W W L D W,NaN,Mohamed Salah - 6,Alisson,NaN,2.550000,1.583333,0.205290
Aston Villa,3,5,4,0,1,12,5,7,12,8.4,7.2,1.2,0.24,W W W W L,NaN,Jack Grealish Ollie Watkins - 3,Emiliano Martínez,NaN,1.680000,1.440000,0.236928
Leicester City,4,6,4,0,2,13,8,5,12,8.3,6.5,1.8,0.30,W W L L W,NaN,Jamie Vardy - 6,Kasper Schmeichel,NaN,1.383333,1.083333,0.338465
Tottenham,5,6,3,2,1,16,8,8,11,11.4,7.5,3.9,0.65,W D W D W,NaN,Son Heung-min - 8,Hugo Lloris,NaN,1.900000,1.250000,0.286505
Leeds United,6,6,3,1,2,12,9,3,10,10.4,9.9,0.5,0.08,W W D L W,NaN,Patrick Bamford - 6,Illan Meslier,NaN,1.733333,1.650000,0.192050
Southampton,7,6,3,1,2,10,9,1,10,7.1,6.2,0.9,0.15,L W W D W,NaN,Danny Ings - 4,Alex McCarthy,NaN,1.183333,1.033333,0.355819
Crystal Palace,8,6,3,1,2,8,9,-1,10,6.1,9.0,-2.9,-0.48,W L L D W,NaN,Wilfried Zaha - 5,Vicente Guaita,NaN,1.016667,1.500000,0.223130
Wolves,9,6,3,1,2,6,8,-2,10,5.1,6.7,-1.5,-0.26,L L W W D,NaN,Raúl Jiménez - 4,Rui Patrício,NaN,0.850000,1.116667,0.327369
Chelsea,10,6,2,3,1,13,9,4,9,9.1,8.0,1.1,0.18,L D W D D,NaN,Jorginho - 3,Kepa Arrizabalaga,NaN,1.516667,1.333333,0.263597
Arsenal,11,6,3,0,3,8,7,1,9,6.5,7.9,-1.3,-0.22,W L W L L,NaN,Alexandre Lacazette - 3,Bernd Leno,NaN,1.083333,1.316667,0.268027
West Ham,12,6,2,2,2,12,8,4,8,8.9,6.1,2.8,0.46,L W W D D,NaN,Michail Antonio Jarrod Bowen - 3,Łukasz Fabiański,NaN,1.483333,1.016667,0.361799
Manchester City,13,5,2,2,1,8,8,0,8,6.9,6.6,0.2,0.05,W L D W D,NaN,Raheem Sterling Phil Foden - 2,Ederson,NaN,1.380000,1.320000,0.267135
Newcastle Utd,14,6,2,2,2,8,10,-2,8,5.7,9.0,-3.3,-0.55,L D W L D,NaN,Callum Wilson - 4,Karl Darlow,NaN,0.950000,1.500000,0.223130
Manchester Utd,15,5,2,1,2,9,12,-3,7,6.5,8.5,-2.0,-0.39,L W L W D,NaN,Bruno Fernandes - 3,David de Gea,NaN,1.300000,1.700000,0.182684
Brighton,16,6,1,2,3,10,12,-2,5,8.8,5.9,2.9,0.48,W L L D D,NaN,Neal Maupay - 4,Mathew Ryan,NaN,1.466667,0.983333,0.374062
West Brom,17,6,0,3,3,6,14,-8,3,3.4,10.8,-7.3,-1.22,L D L D D,NaN,Callum Robinson - 2,Sam Johnstone,NaN,0.566667,1.800000,0.165299
Burnley,18,5,0,1,4,3,9,-6,1,4.6,5.6,-1.0,-0.19,L L L D L,NaN,Jimmy Dunne Chris Wood... - 1,Nick Pope,NaN,0.920000,1.120000,0.326280
Sheffield Utd,19,6,0,1,5,3,9,-6,1,6.1,8.4,-2.3,-0.38,L L L D L,NaN,Billy Sharp Sander Berge... - 1,Aaron Ramsdale,NaN,1.016667,1.400000,0.246597
Fulham,20,6,0,1,5,5,14,-9,1,6.4,10.3,-3.9,-0.66,L L L D L,NaN,Aleksandar Mitrović - 2,Alphonse Areola,NaN,1.066667,1.716667,0.179664

In [5]:
# fetch FPL data
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players = pd.read_csv(filepath, index_col=0)
players.head()

,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,code,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,creativity,creativity_rank,creativity_rank_type,direct_freekicks_order,direct_freekicks_text,dreamteam_count,element_type,ep_next,ep_this,event_points,first_name,form,goals_conceded,goals_scored,ict_index,ict_index_rank,ict_index_rank_type,in_dreamteam,influence,influence_rank,influence_rank_type,minutes,news,news_added,now_cost,own_goals,penalties_missed,penalties_order,penalties_saved,penalties_text,photo,points_per_game,red_cards,saves,second_name,selected_by_percent,special,...,games played,adjusted points,xG,xG_points,xG_week6,goals_week6,xPoints week 6,clean_sheet_points,xGA_week6,cleansheet_week6,xA,xA_points,xA_week6,assists_week6,adjusted points per game,xPoints week 1,xG_week1,goals_week1,xGA_week1,cleansheet_week1,xA_week1,assists_week1,xPoints week 2,xG_week2,goals_week2,xGA_week2,cleansheet_week2,xA_week2,assists_week2,xPoints week 3,xG_week3,goals_week3,xGA_week3,cleansheet_week3,xA_week3,assists_week3,xPoints week 4,xG_week4,goals_week4,xGA_week4,cleansheet_week4,xA_week4,assists_week4,xPoints week 5,xG_week5,goals_week5,xGA_week5,cleansheet_week5,xA_week5,assists_week5
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0.0,0.0,0,37605,NaN,NaN,0,0,-2,2,0.0,587,236,NaN,NaN,0,3,0.0,0.0,0,Mesut,0.0,0,0,0.0,589,237,False,0.0,588,237,0,Not included in Arsenal's 25-man Premier Leagu...,2020-10-20T22:30:18.118477Z,68,0,0,NaN,0,NaN,37605.jpg,0.0,0,0,Özil,0.7,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,0,0,0.0,0.0,0,39476,NaN,NaN,0,0,-1,1,0.0,518,202,NaN,NaN,0,2,0.0,0.0,0,Sokratis,0.0,0,0,0.0,532,202,False,0.0,528,202,0,Not included in Arsenal's 25-man Premier Leagu...,2020-10-21T10:30:18.546407Z,49,0,0,NaN,0,NaN,39476.jpg,0.0,0,0,Papastathopoulos,0.1,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,0,51,75.0,100.0,0,41270,NaN,NaN,0,0,0,0,9.8,281,87,4.0,NaN,0,2,1.1,1.5,1,David,1.5,5,0,9.7,227,77,False,66.6,161,64,319,Thigh injury - 75% chance of playing,2020-10-25T21:30:13.186040Z,55,0,0,NaN,0,NaN,41270.jpg,1.4,0,0,Luiz Moreira Marinho,1.1,False,...,5.000000,12.960545,0.1,0.6,0.0,0.0,1.000000,5.360545,1.2,0.0,0.0,0.0,0.0,0.0,2.592109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,0.0,0.0,1.9,0.0,0.0,0.0,1.199148,0.0,0.0,3.0,0.0,0.0,0.0,5.274923,0.0,0.0,0.2,0.0,0.0,0.0,3.586388,0.1,0.0,1.4,0.0,0.0,0.0
4,1,0,73,100.0,100.0,1,54694,NaN,NaN,-1,1,-3,3,103.1,41,31,6.0,NaN,0,3,2.0,2.0,2,Pierre-Emerick,2.0,7,1,31.4,50,27,False,93.4,101,37,540,NaN,2020-10-08T09:00:12.305506Z,117,0,0,1.0,0,NaN,54694.jpg,3.3,0,0,Aubameyang,15.2,False,...,6.060606,21.092926,0.8,4.0,0.3,0.0,4.101194,1.624408,1.2,0.0,1.1,3.3,0.1,0.0,3.480333,3.818731,0.4,1.0,0.2,1.0,0.0,0.0,5.61799,0.1,0.0,1.9,0.0,0.5,1.0,2.049787,0.0,0.0,3.0,0.0,0.0,0.0,2.818731,0.0,0.0,0.2,0.0,0.0,0.0,3.746597,0.0,0.0,1.4,0.0,0.5,0.0
5,0,0,0,100.0,100.0,0,58822,NaN,NaN,-1,1,-3,3,0.0,495,196,NaN,NaN,0,2,0.0,0.0,0,Cédric,0.0,0,0,0.0,512,196,False,0.0,508,196,0,NaN,2020-09-23T09:00:14.881983Z,47,0,0,NaN,0,NaN,58822.jpg,0.0,0,0,Soares,0.2,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
coefficients = pd.DataFrame(np.nan, index=teamStats.index, columns=['xG','xGA','coefficient'])

for ix in coefficients.index:
    coefficients.loc[ix, 'xG'] = teamStats.loc[ix, 'xG per game']
    coefficients.loc[ix, 'xGA'] = teamStats.loc[ix, 'xGA per game']
    coefficients.loc[ix, 'coefficient'] = 0.755489209043063 * coefficients.loc[ix, 'xG']

display(coefficients)

                       xG       xGA  coefficient
Squad
Everton          1.716667  0.983333     1.296923
Liverpool        2.550000  1.583333     1.926497
Aston Villa      1.680000  1.440000     1.269222
Leicester City   1.383333  1.083333     1.045093
Tottenham        1.900000  1.250000     1.435429
Leeds United     1.733333  1.650000     1.309515
Southampton      1.183333  1.033333     0.893996
Crystal Palace   1.016667  1.500000     0.768081
Wolves           0.850000  1.116667     0.642166
Chelsea          1.516667  1.333333     1.145825
Arsenal          1.083333  1.316667     0.818447
West Ham         1.483333  1.016667     1.120642
Manchester City  1.380000  1.320000     1.042575
Newcastle Utd    0.950000  1.500000     0.717715
Manchester Utd   1.300000  1.700000     0.982136
Brighton         1.466667  0.983333     1.108051
West Brom        0.566667  1.800000     0.428111
Burnley          0.920000  1.120000     0.695050
Sheffield Utd    1.016667  1.400000     0.768081
Fulham           1.066667  1.716667     0.805855

In [7]:
def points_for_clean_sheet(position):
    if position < 3:
        return 4
    elif position==3:
        return 1
    elif position==4:
        return 0

In [8]:
goalkeepers = players['element_type'] == 1
defenders = players['element_type'] == 2
midfielders = players['element_type'] == 3
forwards = players['element_type'] == 4

In [9]:
home_coefficient = 1.0721855628874228
away_coefficient = 0.9280143971205758

In [10]:
team_names = np.sort(teamStats.index)
# for some reason the fpl team numbers are not alphabetical with leeds and leicester...
if (team_names[8]=='Leeds United') & (team_names[9]=='Leicester City'):
    team_names[8] = 'Leicester City'
    team_names[9] = 'Leeds United'
    
# how many gameweeks ahead do you want to look at
for number_gameweeks in [1,5,10]:
    expectations = pd.DataFrame(0, index=teamStats.index, \
                columns=['games','total_xG','total_xGA','xG per game', 'xGA per game'])
    gameweeks = np.arange(latest_gameweek+1, latest_gameweek+number_gameweeks+1)
    games = fixtures[fixtures['event'].isin(gameweeks)]
    for ix in games.index:
        home_team_number = games.loc[ix,'team_h']
        home_team = team_names[home_team_number-1]
        away_team_number = games.loc[ix,'team_a']
        away_team = team_names[away_team_number-1]

        home_xG = home_coefficient * coefficients.loc[home_team,'coefficient'] * \
                                    coefficients.loc[away_team,'xGA']
        away_xG = away_coefficient * coefficients.loc[away_team,'coefficient'] * \
                                    coefficients.loc[home_team,'xGA']
        expectations.loc[home_team,'total_xG'] += home_xG
        expectations.loc[home_team,'total_xGA'] += away_xG
        expectations.loc[home_team,'games'] += 1
        expectations.loc[away_team,'total_xG'] += away_xG
        expectations.loc[away_team,'total_xGA'] += home_xG
        expectations.loc[away_team,'games'] += 1

    expectations['xG per game'] = expectations['total_xG'] / expectations['games']
    expectations['xGA per game'] = expectations['total_xGA'] / expectations['games']
    print('expectations:')
    display(expectations)

    new_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    coefficients[new_column] = expectations['xG per game'] / coefficients['xG']
    print('coefficients:')
    display(coefficients)
    
    new_column = 'next' + str(number_gameweeks) + '_xP'
    multiplier_xG_xA_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    for ix in players.index:
        team = players.loc[ix,'team_name']
        position = players.loc[ix, 'element_type']

        # adjust xP based on xg and xa for the next game
        xg_points_per_game = players.loc[ix,'xG_points'] / players.loc[ix,'games played']
        xa_points_per_game = players.loc[ix,'xA_points'] / players.loc[ix,'games played']
        xpoints = xg_points_per_game + xa_points_per_game
        players.loc[ix, new_column] = players.loc[ix, 'adjusted points per game'] - \
                            xpoints + coefficients.loc[team, multiplier_xG_xA_column]*xpoints    

        # adjust xP based on probability to keep a clean sheet for the next game
        clean_sheet_points_per_game = players.loc[ix,'clean_sheet_points'] / \
                                        players.loc[ix,'games played']
        probability_clean_sheet_next = poisson.pmf(0, expectations.loc[team, 'xGA per game'])
        players.loc[ix, new_column] = players.loc[ix, new_column] - clean_sheet_points_per_game \
                + points_for_clean_sheet(position) * probability_clean_sheet_next

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Everton              1  1.805345   0.756698     1.805345      0.756698
Liverpool            1  2.099989   1.646623     2.099989      1.646623
Aston Villa          1  1.406203   1.194683     1.406203      1.194683
Leicester City       1  1.600272   1.521046     1.600272      1.521046
Tottenham            1  1.513396   1.285359     1.513396      1.285359
Leeds United         1  1.521046   1.600272     1.521046      1.600272
Southampton          1  1.194683   1.406203     1.194683      1.406203
Crystal Palace       1  0.795949   1.032781     0.795949      1.032781
Wolves               1  1.032781   0.795949     1.032781      0.795949
Chelsea              1  1.190943   0.993630     1.190943      0.993630
Arsenal              1  1.291201   1.386492     1.291201      1.386492
West Ham             1  1.646623   2.099989     1.646623      2.099989
Manchester City      1  1.354535   1.087053     1.354535      1.087053
Newcastle Utd        1  0.756698   1.805345     0.756698      1.805345
Manchester Utd       1  1.386492   1.291201     1.386492      1.291201
Brighton             1  1.285359   1.513396     1.285359      1.513396
West Brom            1  0.682019   1.555247     0.682019      1.555247
Burnley              1  0.993630   1.190943     0.993630      1.190943
Sheffield Utd        1  1.087053   1.354535     1.087053      1.354535
Fulham               1  1.555247   0.682019     1.555247      0.682019

coefficients:

                       xG       xGA  coefficient  next1_xG_xA_multiplier
Squad
Everton          1.716667  0.983333     1.296923                1.051657
Liverpool        2.550000  1.583333     1.926497                0.823525
Aston Villa      1.680000  1.440000     1.269222                0.837025
Leicester City   1.383333  1.083333     1.045093                1.156823
Tottenham        1.900000  1.250000     1.435429                0.796524
Leeds United     1.733333  1.650000     1.309515                0.877527
Southampton      1.183333  1.033333     0.893996                1.009591
Crystal Palace   1.016667  1.500000     0.768081                0.782900
Wolves           0.850000  1.116667     0.642166                1.215037
Chelsea          1.516667  1.333333     1.145825                0.785237
Arsenal          1.083333  1.316667     0.818447                1.191878
West Ham         1.483333  1.016667     1.120642                1.110083
Manchester City  1.380000  1.320000     1.042575                0.981547
Newcastle Utd    0.950000  1.500000     0.717715                0.796524
Manchester Utd   1.300000  1.700000     0.982136                1.066532
Brighton         1.466667  0.983333     1.108051                0.876381
West Brom        0.566667  1.800000     0.428111                1.203563
Burnley          0.920000  1.120000     0.695050                1.080033
Sheffield Utd    1.016667  1.400000     0.768081                1.069233
Fulham           1.066667  1.716667     0.805855                1.458044

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Squad
Everton              5   9.877770   4.430366     1.975554      0.886073
Liverpool            5  10.762166   7.776768     2.152433      1.555354
Aston Villa          5   7.533957   6.628379     1.506791      1.325676
Leicester City       5   7.668539   6.106658     1.533708      1.221332
Tottenham            5   9.745260   5.553617     1.949052      1.110723
Leeds United         5   8.007901   8.533794     1.601580      1.706759
Southampton          5   6.004222   4.975380     1.200844      0.995076
Crystal Palace       5   5.471399   5.661083     1.094280      1.132217
Wolves               5   4.118077   6.260094     0.823615      1.252019
Chelsea              5   8.068668   6.366512     1.613734      1.273302
Arsenal              5   5.737382   7.597057     1.147476      1.519411
West Ham             5   8.938046   5.821663     1.787609      1.164333
Manchester City      5   7.504767   7.317091     1.500953      1.463418
Newcastle Utd        5   4.429166   8.114702     0.885833      1.622940
Manchester Utd       5   6.046640   8.002633     1.209328      1.600527
Brighton             5   7.205387   6.059657     1.441077      1.211931
West Brom            5   3.262325   8.414527     0.652465      1.682905
Burnley              5   4.329954   5.919834     0.865991      1.183967
Sheffield Utd        5   5.049864   6.530874     1.009973      1.306175
Fulham               5   4.962504   8.653306     0.992501      1.730661

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier
Squad,,,,,
Everton,1.716667,0.983333,1.296923,1.051657,1.150808
Liverpool,2.550000,1.583333,1.926497,0.823525,0.844091
Aston Villa,1.680000,1.440000,1.269222,0.837025,0.896900
Leicester City,1.383333,1.083333,1.045093,1.156823,1.108704
Tottenham,1.900000,1.250000,1.435429,0.796524,1.025817
Leeds United,1.733333,1.650000,1.309515,0.877527,0.923989
Southampton,1.183333,1.033333,0.893996,1.009591,1.014798
Crystal Palace,1.016667,1.500000,0.768081,0.782900,1.076341
Wolves,0.850000,1.116667,0.642166,1.215037,0.968959
Chelsea,1.516667,1.333333,1.145825,0.785237,1.064000
Arsenal,1.083333,1.316667,0.818447,1.191878,1.059209
West Ham,1.483333,1.016667,1.120642,1.110083,1.205130
Manchester City,1.380000,1.320000,1.042575,0.981547,1.087647
Newcastle Utd,0.950000,1.500000,0.717715,0.796524,0.932456
Manchester Utd,1.300000,1.700000,0.982136,1.066532,0.930252
Brighton,1.466667,0.983333,1.108051,0.876381,0.982553
West Brom,0.566667,1.800000,0.428111,1.203563,1.151409
Burnley,0.920000,1.120000,0.695050,1.080033,0.941294
Sheffield Utd,1.016667,1.400000,0.768081,1.069233,0.993416
Fulham,1.066667,1.716667,0.805855,1.458044,0.930469

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Squad
Everton             10  18.387071   9.085915     1.838707      0.908591
Liverpool           10  25.494672  14.405341     2.549467      1.440534
Aston Villa         10  16.105250  12.005164     1.610525      1.200516
Leicester City      10  14.444284  12.071338     1.444428      1.207134
Tottenham           10  19.649408  12.172761     1.964941      1.217276
Leeds United        10  17.367305  14.907884     1.736731      1.490788
Southampton         10  12.102502   9.585948     1.210250      0.958595
Crystal Palace      10  10.447960  15.639318     1.044796      1.563932
Wolves              10   8.568775  12.258327     0.856877      1.225833
Chelsea             10  14.719861  13.265736     1.471986      1.326574
Arsenal             10  10.290768  14.333885     1.029077      1.433388
West Ham            10  16.099084  11.242719     1.609908      1.124272
Manchester City     10  14.789586  13.211480     1.478959      1.321148
Newcastle Utd       10  10.331903  16.296950     1.033190      1.629695
Manchester Utd      10  12.613431  16.031344     1.261343      1.603134
Brighton            10  14.357515  10.640434     1.435751      1.064043
West Brom           10   6.430090  19.837372     0.643009      1.983737
Burnley             10   9.047804  11.465110     0.904780      1.146511
Sheffield Utd       10   9.495441  13.540377     0.949544      1.354038
Fulham              10  10.129572  18.874881     1.012957      1.887488

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier,next10_xG_xA_multiplier
Squad,,,,,,
Everton,1.716667,0.983333,1.296923,1.051657,1.150808,1.071092
Liverpool,2.550000,1.583333,1.926497,0.823525,0.844091,0.999791
Aston Villa,1.680000,1.440000,1.269222,0.837025,0.896900,0.958646
Leicester City,1.383333,1.083333,1.045093,1.156823,1.108704,1.044165
Tottenham,1.900000,1.250000,1.435429,0.796524,1.025817,1.034179
Leeds United,1.733333,1.650000,1.309515,0.877527,0.923989,1.001960
Southampton,1.183333,1.033333,0.893996,1.009591,1.014798,1.022747
Crystal Palace,1.016667,1.500000,0.768081,0.782900,1.076341,1.027668
Wolves,0.850000,1.116667,0.642166,1.215037,0.968959,1.008091
Chelsea,1.516667,1.333333,1.145825,0.785237,1.064000,0.970540
Arsenal,1.083333,1.316667,0.818447,1.191878,1.059209,0.949917
West Ham,1.483333,1.016667,1.120642,1.110083,1.205130,1.085331
Manchester City,1.380000,1.320000,1.042575,0.981547,1.087647,1.071709
Newcastle Utd,0.950000,1.500000,0.717715,0.796524,0.932456,1.087569
Manchester Utd,1.300000,1.700000,0.982136,1.066532,0.930252,0.970264
Brighton,1.466667,0.983333,1.108051,0.876381,0.982553,0.978921
West Brom,0.566667,1.800000,0.428111,1.203563,1.151409,1.134722
Burnley,0.920000,1.120000,0.695050,1.080033,0.941294,0.983457
Sheffield Utd,1.016667,1.400000,0.768081,1.069233,0.993416,0.933978
Fulham,1.066667,1.716667,0.805855,1.458044,0.930469,0.949647

In [11]:
metric = 'next1_xP'
#minGames = players['games played'] >= 3

numberToShow = 50
display(players.sort_values(by=[metric], ascending=False)[['web_name','team_name',\
         'now_cost','games played','total_points','adjusted points','points_per_game',\
         'adjusted points per game','next1_xP','next5_xP','next10_xP']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,next1_xP,next5_xP,next10_xP
id,,,,,,,,,,,
388,Kane,Tottenham,109,6.018519,65,55.768148,10.8,9.266092,8.406686,9.375133,9.410453
251,Mané,Liverpool,120,5.000000,39,40.663485,7.8,8.132697,7.227144,7.349625,8.163151
224,Vardy,Leicester City,100,5.000000,41,33.380000,8.2,6.676000,7.189752,7.032116,6.820685
390,Son,Tottenham,95,6.000000,69,44.456066,11.5,7.409344,6.741486,7.535635,7.529388
470,Kilman,Wolves,41,2.987013,23,18.279943,7.7,6.119807,6.701331,5.941568,5.987633
302,Fernandes,Manchester Utd,105,5.000000,34,31.610455,6.8,6.322091,6.632042,6.112983,6.243376
254,Salah,Liverpool,124,6.024096,50,43.345203,8.3,7.195304,6.452100,6.555661,7.225950
508,Rodríguez,Everton,80,6.029412,41,36.960930,6.8,6.130106,6.355483,6.548498,6.338355
141,Zaha,Crystal Palace,73,6.000000,48,41.147299,8.0,6.857883,6.280129,7.206960,6.934632
33,Hourihane,Aston Villa,60,2.000000,17,13.042374,8.5,6.521187,6.228515,6.323062,6.494319
202,Bamford,Leeds United,59,5.975610,49,37.737037,8.2,6.315178,5.979051,6.106565,6.320557
37,Grealish,Aston Villa,73,5.000000,39,31.890194,7.8,6.378039,5.948468,6.093309,6.316433
277,Cancelo,Manchester City,54,2.000000,13,11.105601,6.5,5.552800,5.816486,5.488917,5.616113
272,De Bruyne,Manchester City,115,4.000000,18,23.157060,4.5,5.789265,5.808961,5.992851,5.984724
105,Jorginho,Chelsea,53,5.000000,35,31.935023,7.0,6.387005,5.794371,6.611698,6.292872
164,Calvert-Lewin,Everton,77,6.027397,44,33.900000,7.3,5.624318,5.777729,6.072184,5.835444
68,Maupay,Brighton,66,6.000000,36,36.608519,6.0,6.101420,5.721498,6.047799,6.036638
12,Martínez,Aston Villa,48,5.000000,34,26.738555,6.8,5.347711,5.611200,5.462494,5.604155
389,Aurier,Tottenham,52,2.000000,13,12.260557,6.5,6.130278,5.602123,6.363502,6.250431
506,Wilson,Newcastle Utd,65,6.029412,41,36.877037,6.8,6.116192,5.591760,5.942106,6.341888
184,Mitrović,Fulham,58,5.937500,19,25.940000,3.2,4.368842,5.521378,4.193889,4.242144
366,Ings,Southampton,85,6.029412,41,33.057037,6.8,5.482631,5.501274,5.511395,5.526846
276,Sterling,Manchester City,116,5.000000,29,27.004195,5.8,5.400839,5.435851,5.531677,5.536780
557,Lookman,Fulham,50,3.023256,13,13.243170,4.3,4.380433,5.418447,4.269843,4.273942
232,Chilwell,Chelsea,58,3.000000,27,15.500203,9.0,5.166734,5.378504,5.295969,5.144426
166,Richarlison,Everton,78,5.000000,22,26.125556,4.4,5.225111,5.365826,5.635912,5.418764
155,Digne,Everton,62,5.952381,25,28.011797,4.2,4.705982,5.117829,4.950028,4.865096
377,Adams,Southampton,58,6.041667,29,30.737037,4.8,5.087510,5.108782,5.120331,5.137960
450,Fornals,West Ham,64,6.041667,29,30.791424,4.8,5.096512,5.077640,5.457669,5.230500
514,Watkins,Aston Villa,60,5.000000,27,27.568519,5.4,5.513704,5.044337,5.216775,5.394604
461,Saïss,Wolves,53,6.031746,38,26.598432,6.3,4.409740,5.001132,4.230076,4.277938
325,Darlow,Newcastle Utd,50,6.000000,30,31.355124,5.0,5.225854,4.991004,5.122604,5.117291
460,Jiménez,Wolves,85,6.000000,33,27.200000,5.5,4.533333,4.898896,4.480564,4.547088
437,Antonio,West Ham,63,6.000000,27,27.400000,4.5,4.566667,4.794171,4.990602,4.743018
582,Grant,West Brom,60,2.000000,11,9.000000,5.5,4.500000,4.703563,4.651409,4.634722
306,Rashford,Manchester Utd,95,5.000000,28,22.350455,5.6,4.470091,4.670130,4.376206,4.440500
478,Willian,Arsenal,78,5.000000,22,21.945692,4.4,4.389138,4.566778,4.400345,4.308526
252,Alisson,Liverpool,59,3.958333,19,18.250420,4.8,4.610632,4.560272,4.633933,4.736679
123,James,Chelsea,50,5.000000,25,21.140461,5.0,4.228092,4.538653,4.327887,4.219336
249,Firmino,Liverpool,93,6.000000,24,28.737037,4.0,4.789506,4.424791,4.467295,4.789074
6,Lacazette,Arsenal,84,5.000000,23,20.300000,4.6,4.060000,4.416894,4.170129,3.966846
546,Semedo,Wolves,55,3.947368,15,14.868988,3.8,3.766810,4.409031,3.579809,3.636920
572,Adarabioyo,Fulham,45,2.000000,3,5.637312,1.5,2.818656,4.397207,2.766951,2.675596
275,Mahrez,Manchester City,84,3.958333,19,17.025929,4.8,4.301287,4.348984,4.371880,4.387938
484,Robinson,Fulham,44,2.941176,5,8.313694,1.7,2.826656,4.317262,2.788300,2.693263
284,Foden,Manchester City,66,5.000000,25,21.304195,5.0,4.260839,4.302125,4.361877,4.372399
530,Ivanovic,West Brom,45,2.000000,8,7.722391,4.0,3.861196,4.288825,4.125024,3.911883
69,Trossard,Brighton,60,5.952381,25,27.763597,4.2,4.664284,4.277782,4.555016,4.595619
110,Zouma,Chelsea,51,5.000000,32,19.671943,6.4,3.934389,4.257835,4.030343,3.927399
156,Keane,Everton,51,5.952381,25,22.706242,4.2,3.814649,4.236909,4.089098,3.988095

In [12]:
# save predictions
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players.to_csv(filepath)