In [1]:
# recent gameweek
latest_gameweek = 14

In [2]:
import pandas as pd
import numpy as np
import json
import requests
from scipy.stats import poisson

# allow more data columns to be shown than by default
pd.set_option('max_columns',100)

In [3]:
# fetch FPL fixtures online
fixtures_text = json.loads(requests.get('https://fantasy.premierleague.com/api/fixtures').text)
fixtures = pd.DataFrame(fixtures_text)
fixtures.head(20)

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,pulse_id,started,stats,team_a,team_a_difficulty,team_a_score,team_h,team_h_difficulty,team_h_score
0,2128386,NaN,False,False,99,None,0,False,58996,None,[],14,3,NaN,2,2,NaN
1,2128286,NaN,False,False,379,None,0,False,58896,None,[],13,2,NaN,4,4,NaN
2,2128290,NaN,False,False,380,None,0,False,58900,None,[],2,5,NaN,12,3,NaN
3,2128288,1.0,True,True,2,2020-09-12T11:30:00Z,90,False,58898,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",1,2,3.0,8,3,0.0
4,2128287,1.0,True,True,1,2020-09-12T14:00:00Z,90,False,58897,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",16,3,0.0,6,3,1.0
5,2128289,1.0,True,True,3,2020-09-12T16:30:00Z,90,False,58899,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",10,5,3.0,11,2,4.0
6,2128293,1.0,True,True,6,2020-09-12T19:00:00Z,90,False,58903,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",14,3,2.0,19,2,0.0
7,2128292,1.0,True,True,5,2020-09-13T13:00:00Z,90,False,58902,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",9,2,3.0,18,4,0.0
8,2128291,1.0,True,True,4,2020-09-13T15:30:00Z,90,False,58901,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",7,4,1.0,17,3,0.0
9,2128295,1.0,True,True,8,2020-09-14T17:00:00Z,90,False,58905,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",20,2,2.0,15,3,0.0
10,2128294,1.0,True,True,7,2020-09-14T19:15:00Z,90,False,58904,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,2,3.0,3,4,1.0
11,2128299,2.0,True,True,12,2020-09-19T11:30:00Z,90,False,58909,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",18,3,2.0,7,2,5.0
12,2128300,2.0,True,True,13,2020-09-19T14:00:00Z,90,False,58910,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",8,3,3.0,10,2,4.0
13,2128302,2.0,True,True,15,2020-09-19T16:30:00Z,90,False,58912,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",6,4,3.0,13,3,1.0
14,2128296,2.0,True,True,9,2020-09-19T19:00:00Z,90,False,58906,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",19,3,1.0,1,3,2.0
15,2128304,2.0,True,True,17,2020-09-20T11:00:00Z,90,False,58914,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",17,3,5.0,16,4,2.0
16,2128303,2.0,True,True,16,2020-09-20T13:00:00Z,90,False,58913,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,3,3.0,14,2,0.0
17,2128298,2.0,True,True,11,2020-09-20T15:30:00Z,90,False,58908,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",11,4,2.0,5,4,0.0
18,2128301,2.0,True,True,14,2020-09-20T18:00:00Z,90,False,58911,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,4,2.0,9,2,4.0
19,2128297,2.0,True,True,10,2020-09-21T17:00:00Z,90,False,58907,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",15,3,0.0,2,2,1.0

In [4]:
filepath = '../data/fbref/team_stats_week' + str(latest_gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col='Squad')
display(teamStats)

,Rk,MP,W,D,L,GF,GA,GDiff,Pts,xG,xGA,xGDiff,xGDiff/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes,xG per game,xGA per game,probability no goals allowed
Squad,,,,,,,,,,,,,,,,,,,,,
Liverpool,1,14,9,4,1,36,19,17,31,29.2,18.6,10.6,0.75,D W D W W,333.0,Mohamed Salah - 13,Alisson,NaN,2.085714,1.328571,0.264855
Leicester City,2,14,9,0,5,26,17,9,27,21.5,17.5,3.9,0.28,L W W L W,NaN,Jamie Vardy - 11,Kasper Schmeichel,NaN,1.535714,1.250000,0.286505
Manchester Utd,3,13,8,2,3,28,21,7,26,22.0,18.2,3.8,0.29,W W D W W,NaN,Bruno Fernandes - 9,David de Gea,NaN,1.692308,1.400000,0.246597
Everton,4,14,8,2,4,25,19,6,26,20.4,17.9,2.5,0.18,L D W W W,333.0,Dominic Calvert-Lewin - 11,Jordan Pickford,NaN,1.457143,1.278571,0.278435
Chelsea,5,14,7,4,3,29,14,15,25,23.9,13.4,10.5,0.75,D W L L W,286.0,Tammy Abraham - 5,Edouard Mendy,NaN,1.707143,0.957143,0.383988
Tottenham,6,14,7,4,3,25,14,11,25,19.7,15.8,4.0,0.28,D W D L L,286.0,Son Heung-min - 11,Hugo Lloris,NaN,1.407143,1.128571,0.323495
Southampton,7,14,7,3,4,25,19,6,24,15.3,17.0,-1.6,-0.12,L W W D L,333.0,Danny Ings - 6,Alex McCarthy,NaN,1.092857,1.214286,0.296922
Manchester City,8,13,6,5,2,19,12,7,23,21.3,12.1,9.1,0.70,W W D D W,NaN,Riyad Mahrez Raheem Sterling - 4,Ederson,NaN,1.638462,0.930769,0.394250
Aston Villa,9,12,7,1,4,24,13,11,22,21.3,13.3,8.0,0.67,L L W D W,NaN,Ollie Watkins - 6,Emiliano Martínez,NaN,1.775000,1.108333,0.330109
West Ham,10,14,6,3,5,21,19,2,21,18.3,19.7,-1.4,-0.10,W L W D L,NaN,Jarrod Bowen - 4,Łukasz Fabiański,NaN,1.307143,1.407143,0.244842
Wolves,11,14,6,2,6,14,19,-5,20,13.8,17.0,-3.2,-0.23,W L L W L,NaN,Pedro Neto Raúl Jiménez - 4,Rui Patrício,NaN,0.985714,1.214286,0.296922
Newcastle Utd,12,13,5,3,5,17,22,-5,18,14.1,17.8,-3.7,-0.28,L W W L D,NaN,Callum Wilson - 8,Karl Darlow,NaN,1.084615,1.369231,0.254303
Crystal Palace,13,14,5,3,6,19,25,-6,18,14.1,18.2,-4.1,-0.29,L W D D L,286.0,Wilfried Zaha - 7,Vicente Guaita,NaN,1.007143,1.300000,0.272532
Leeds United,14,14,5,2,7,24,30,-6,17,25.6,27.1,-1.5,-0.11,W L L W L,NaN,Patrick Bamford - 9,Illan Meslier,NaN,1.828571,1.935714,0.144321
Arsenal,15,14,4,2,8,12,18,-6,14,15.7,17.2,-1.5,-0.11,L L L D L,NaN,Pierre-Emerick Aubameyang Alexandre Lacazette - 3,Bernd Leno,NaN,1.121429,1.228571,0.292710
Burnley,16,13,3,4,6,8,19,-11,13,11.1,19.1,-7.9,-0.61,L D W D W,NaN,Chris Wood - 3,Nick Pope,NaN,0.853846,1.469231,0.230102
Brighton,17,14,2,6,6,16,22,-6,12,20.0,14.1,5.8,0.42,D L L D D,NaN,Neal Maupay - 4,Mathew Ryan,NaN,1.428571,1.007143,0.365261
Fulham,18,14,2,4,8,13,23,-10,10,15.8,21.6,-5.7,-0.41,W L D D D,NaN,Bobby Reid - 4,Alphonse Areola,NaN,1.128571,1.542857,0.213769
West Brom,19,14,1,4,9,10,29,-19,7,8.4,26.2,-17.8,-1.27,W L L D L,NaN,Conor Gallagher Callum Robinson - 2,Sam Johnstone,NaN,0.600000,1.871429,0.153904
Sheffield Utd,20,14,0,2,12,8,25,-17,2,13.7,23.5,-9.8,-0.70,L L L L D,NaN,David McGoldrick - 4,Aaron Ramsdale,NaN,0.978571,1.678571,0.186640

In [5]:
# fetch FPL data
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players = pd.read_csv(filepath, index_col=0)
players.head()

,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,code,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,creativity,creativity_rank,creativity_rank_type,direct_freekicks_order,direct_freekicks_text,dreamteam_count,element_type,ep_next,ep_this,event_points,first_name,form,goals_conceded,goals_scored,ict_index,ict_index_rank,ict_index_rank_type,in_dreamteam,influence,influence_rank,influence_rank_type,minutes,news,news_added,now_cost,own_goals,penalties_missed,penalties_order,penalties_saved,penalties_text,photo,points_per_game,red_cards,saves,second_name,selected_by_percent,special,...,xG_week7,goals_week7,xGA_week7,cleansheet_week7,xA_week7,assists_week7,xPoints week 8,xG_week8,goals_week8,xGA_week8,cleansheet_week8,xA_week8,assists_week8,xPoints week 9,xG_week9,goals_week9,xGA_week9,cleansheet_week9,xA_week9,assists_week9,xPoints week 10,xG_week10,goals_week10,xGA_week10,cleansheet_week10,xA_week10,assists_week10,xPoints week 11,xG_week11,goals_week11,xGA_week11,cleansheet_week11,xA_week11,assists_week11,xPoints week 12,xG_week12,goals_week12,xGA_week12,cleansheet_week12,xA_week12,assists_week12,xPoints week 13,xG_week13,goals_week13,xGA_week13,cleansheet_week13,xA_week13,assists_week13,form 5,form 10
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0.0,0.0,0,37605,NaN,NaN,0,0,-2,2,0.0,611,245,NaN,NaN,0,3,0.0,0.0,0,Mesut,0.0,0,0,0.0,611,245,False,0.0,611,245,0,Not included in Arsenal's 25-man Premier Leagu...,2020-10-20T22:30:18.118477Z,68,0,0,NaN,0,NaN,37605.jpg,0.0,0,0,Özil,0.6,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,0,0,0.0,0.0,0,39476,NaN,NaN,0,0,-2,2,0.0,558,210,NaN,NaN,0,2,0.0,0.0,0,Sokratis,0.0,0,0,0.0,570,210,False,0.0,567,210,0,Not included in Arsenal's 25-man Premier Leagu...,2020-10-21T10:30:18.546407Z,48,0,0,NaN,0,NaN,39476.jpg,0.0,0,0,Papastathopoulos,0.1,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,0,70,100.0,100.0,0,41270,NaN,NaN,0,0,-1,1,25.8,283,87,4.0,NaN,0,2,0.4,0.9,1,David,0.4,9,0,16.5,281,90,False,99.4,242,92,479,NaN,2020-11-26T23:30:22.462494Z,54,0,0,NaN,0,NaN,41270.jpg,1.1,0,0,Luiz Moreira Marinho,0.8,False,...,NaN,NaN,0.3,0.0,NaN,NaN,NaN,NaN,NaN,1.8,0.0,NaN,NaN,NaN,NaN,NaN,2.5,0.0,NaN,NaN,0.000000,0.0,0.0,1.4,0.0,0.0,0.0,NaN,NaN,NaN,0.5,0.0,NaN,NaN,NaN,NaN,NaN,0.9,0.0,NaN,NaN,1.000000,0.0,0.0,1.1,0.0,0.0,0.0,1.465772,1.796741
4,1,4,146,75.0,100.0,3,54694,NaN,NaN,0,0,-6,6,201.2,55,40,NaN,NaN,1,3,2.1,3.3,0,Pierre-Emerick,2.8,16,3,76.0,34,21,False,186.6,121,42,1166,Calf injury - 75% chance of playing,2020-12-19T20:30:20.434896Z,114,1,0,1.0,0,NaN,54694.jpg,3.6,0,0,Aubameyang,7.8,False,...,0.9,1.0,0.3,1.0,0.1,0.0,2.765299,0.0,0.0,1.8,0.0,0.2,0.0,3.282085,0.3,0.0,2.5,1.0,-0.1,0.0,4.246597,0.4,0.0,1.4,0.0,0.0,0.0,3.606531,0.2,0.0,0.5,0.0,0.0,0.0,1.70657,0.2,0.0,0.9,0.0,0.1,0.0,7.132871,0.3,1.0,1.1,0.0,0.1,0.0,4.173142,4.236507
5,0,0,3,100.0,100.0,0,58822,NaN,NaN,0,0,-4,4,0.0,543,206,NaN,NaN,0,2,0.2,0.7,0,Cédric,0.2,0,0,0.0,557,206,False,0.0,554,206,5,NaN,2020-09-23T09:00:14.881983Z,46,0,0,NaN,0,NaN,58822.jpg,1.0,0,0,Soares,0.2,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,0.0,0.0,1.1,0.0,0.0,0.0,1.000000,1.000000

In [6]:
coefficients = pd.DataFrame(np.nan, index=teamStats.index, columns=['xG','xGA','coefficient'])

for ix in coefficients.index:
    coefficients.loc[ix, 'xG'] = teamStats.loc[ix, 'xG per game']
    coefficients.loc[ix, 'xGA'] = teamStats.loc[ix, 'xGA per game']
    coefficients.loc[ix, 'coefficient'] = 0.755489209043063 * coefficients.loc[ix, 'xG']

display(coefficients)

                       xG       xGA  coefficient
Squad
Liverpool        2.085714  1.328571     1.575735
Leicester City   1.535714  1.250000     1.160216
Manchester Utd   1.692308  1.400000     1.278520
Everton          1.457143  1.278571     1.100856
Chelsea          1.707143  0.957143     1.289728
Tottenham        1.407143  1.128571     1.063081
Southampton      1.092857  1.214286     0.825642
Manchester City  1.638462  0.930769     1.237840
Aston Villa      1.775000  1.108333     1.340993
West Ham         1.307143  1.407143     0.987532
Wolves           0.985714  1.214286     0.744697
Newcastle Utd    1.084615  1.369231     0.819415
Crystal Palace   1.007143  1.300000     0.760886
Leeds United     1.828571  1.935714     1.381466
Arsenal          1.121429  1.228571     0.847227
Burnley          0.853846  1.469231     0.645072
Brighton         1.428571  1.007143     1.079270
Fulham           1.128571  1.542857     0.852624
West Brom        0.600000  1.871429     0.453294
Sheffield Utd    0.978571  1.678571     0.739300

In [7]:
def points_for_clean_sheet(position):
    if position < 3:
        return 4
    elif position==3:
        return 1
    elif position==4:
        return 0

In [8]:
goalkeepers = players['element_type'] == 1
defenders = players['element_type'] == 2
midfielders = players['element_type'] == 3
forwards = players['element_type'] == 4

In [9]:
home_coefficient = 1.0721855628874228
away_coefficient = 0.9280143971205758

In [10]:
team_names = np.sort(teamStats.index)
# for some reason the fpl team numbers are not alphabetical with leeds and leicester...
if (team_names[8]=='Leeds United') & (team_names[9]=='Leicester City'):
    team_names[8] = 'Leicester City'
    team_names[9] = 'Leeds United'
    
# how many gameweeks ahead do you want to look at
for number_gameweeks in [1,5,10]:
    expectations = pd.DataFrame(0, index=teamStats.index, \
                columns=['games','total_xG','total_xGA','xG per game', 'xGA per game'])
    gameweeks = np.arange(latest_gameweek+1, latest_gameweek+number_gameweeks+1)
    games = fixtures[fixtures['event'].isin(gameweeks)]
    for ix in games.index:
        home_team_number = games.loc[ix,'team_h']
        home_team = team_names[home_team_number-1]
        away_team_number = games.loc[ix,'team_a']
        away_team = team_names[away_team_number-1]

        home_xG = home_coefficient * coefficients.loc[home_team,'coefficient'] * \
                                    coefficients.loc[away_team,'xGA']
        away_xG = away_coefficient * coefficients.loc[away_team,'coefficient'] * \
                                    coefficients.loc[home_team,'xGA']
        expectations.loc[home_team,'total_xG'] += home_xG
        expectations.loc[home_team,'total_xGA'] += away_xG
        expectations.loc[home_team,'games'] += 1
        expectations.loc[away_team,'total_xG'] += away_xG
        expectations.loc[away_team,'total_xGA'] += home_xG
        expectations.loc[away_team,'games'] += 1

    expectations['xG per game'] = expectations['total_xG'] / expectations['games']
    expectations['xGA per game'] = expectations['total_xGA'] / expectations['games']
    print('expectations:')
    display(expectations)

    new_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    coefficients[new_column] = expectations['xG per game'] / coefficients['xG']
    print('coefficients:')
    display(coefficients)
    
    new_column = 'next' + str(number_gameweeks) + '_xP'
    multiplier_xG_xA_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    for ix in players.index:
        team = players.loc[ix,'team_name']
        position = players.loc[ix, 'element_type']

        # adjust xP based on xg and xa for the next game
        xg_points_per_game = players.loc[ix,'xG_points'] / players.loc[ix,'games played']
        xa_points_per_game = players.loc[ix,'xA_points'] / players.loc[ix,'games played']
        xpoints = xg_points_per_game + xa_points_per_game
        players.loc[ix, new_column] = players.loc[ix, 'adjusted points per game'] - \
                            xpoints + coefficients.loc[team, multiplier_xG_xA_column]*xpoints    

        # adjust xP based on probability to keep a clean sheet for the next game
        clean_sheet_points_per_game = players.loc[ix,'clean_sheet_points'] / \
                                        players.loc[ix,'games played']
        probability_clean_sheet_next = poisson.pmf(0, expectations.loc[team, 'xGA per game'])
        players.loc[ix, new_column] = players.loc[ix, new_column] - clean_sheet_points_per_game \
                + points_for_clean_sheet(position) * probability_clean_sheet_next

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Liverpool            1  3.161741   0.558881     3.161741      0.558881
Leicester City       1  1.741553   1.483106     1.741553      1.483106
Manchester Utd       1  1.483106   1.741553     1.483106      1.741553
Everton              1  1.714845   1.013481     1.714845      1.013481
Chelsea              1  1.470460   0.869454     1.470460      0.869454
Tottenham            1  1.197959   0.901111     1.197959      0.901111
Southampton          1  1.182149   1.110064     1.182149      1.110064
Manchester City      1  1.817235   0.707784     1.817235      0.707784
Aston Villa          1  1.869132   0.782608     1.869132      0.782608
West Ham             1  1.066381   1.409364     1.066381      1.409364
Wolves               1  0.901111   1.197959     0.901111      1.197959
Newcastle Utd        1  0.707784   1.817235     0.707784      1.817235
Crystal Palace       1  0.782608   1.869132     0.782608      1.869132
Leeds United         1  2.176207   1.158788     2.176207      1.158788
Arsenal              1  0.869454   1.470460     0.869454      1.470460
Burnley              1  1.158788   2.176207     1.158788      2.176207
Brighton             1  1.409364   1.066381     1.409364      1.066381
Fulham               1  1.110064   1.182149     1.110064      1.182149
West Brom            1  0.558881   3.161741     0.558881      3.161741
Sheffield Utd        1  1.013481   1.714845     1.013481      1.714845

coefficients:

                       xG       xGA  coefficient  next1_xG_xA_multiplier
Squad
Liverpool        2.085714  1.328571     1.575735                1.515903
Leicester City   1.535714  1.250000     1.160216                1.134034
Manchester Utd   1.692308  1.400000     1.278520                0.876381
Everton          1.457143  1.278571     1.100856                1.176855
Chelsea          1.707143  0.957143     1.289728                0.861357
Tottenham        1.407143  1.128571     1.063081                0.851342
Southampton      1.092857  1.214286     0.825642                1.081705
Manchester City  1.638462  0.930769     1.237840                1.109111
Aston Villa      1.775000  1.108333     1.340993                1.053032
West Ham         1.307143  1.407143     0.987532                0.815811
Wolves           0.985714  1.214286     0.744697                0.914171
Newcastle Utd    1.084615  1.369231     0.819415                0.652567
Crystal Palace   1.007143  1.300000     0.760886                0.777058
Leeds United     1.828571  1.935714     1.381466                1.190113
Arsenal          1.121429  1.228571     0.847227                0.775309
Burnley          0.853846  1.469231     0.645072                1.357139
Brighton         1.428571  1.007143     1.079270                0.986555
Fulham           1.128571  1.542857     0.852624                0.983601
West Brom        0.600000  1.871429     0.453294                0.931468
Sheffield Utd    0.978571  1.678571     0.739300                1.035674

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Squad
Liverpool            5  11.787136   5.273884     2.357427      1.054777
Leicester City       5   7.316689   6.054943     1.463338      1.210989
Manchester Utd       5   8.073885   8.096434     1.614777      1.619287
Everton              5   6.847144   6.513159     1.369429      1.302632
Chelsea              5   7.632920   5.225728     1.526584      1.045146
Tottenham            5   7.912340   5.758175     1.582468      1.151635
Southampton          5   6.044834   7.307661     1.208967      1.461532
Manchester City      5   7.447501   4.682951     1.489500      0.936590
Aston Villa          5   8.263479   6.060274     1.652696      1.212055
West Ham             5   6.888095   5.750205     1.377619      1.150041
Wolves               5   5.079788   6.018991     1.015958      1.203798
Newcastle Utd        5   5.183903   7.622846     1.036781      1.524569
Crystal Palace       5   4.696506   7.066996     0.939301      1.413399
Leeds United         5   9.312621   7.727868     1.862524      1.545574
Arsenal              5   5.557388   5.290991     1.111478      1.058198
Burnley              5   5.024541   8.384626     1.004908      1.676925
Brighton             5   7.107192   5.382703     1.421438      1.076541
Fulham               5   5.320398   7.685026     1.064080      1.537005
West Brom            5   3.199508  10.508090     0.639902      2.101618
Sheffield Utd        5   4.893324   7.177640     0.978665      1.435528

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier
Squad,,,,,
Liverpool,2.085714,1.328571,1.575735,1.515903,1.130273
Leicester City,1.535714,1.250000,1.160216,1.134034,0.952871
Manchester Utd,1.692308,1.400000,1.278520,0.876381,0.954186
Everton,1.457143,1.278571,1.100856,1.176855,0.939804
Chelsea,1.707143,0.957143,1.289728,0.861357,0.894233
Tottenham,1.407143,1.128571,1.063081,0.851342,1.124597
Southampton,1.092857,1.214286,0.825642,1.081705,1.106244
Manchester City,1.638462,0.930769,1.237840,1.109111,0.909085
Aston Villa,1.775000,1.108333,1.340993,1.053032,0.931096
West Ham,1.307143,1.407143,0.987532,0.815811,1.053916
Wolves,0.985714,1.214286,0.744697,0.914171,1.030682
Newcastle Utd,1.084615,1.369231,0.819415,0.652567,0.955897
Crystal Palace,1.007143,1.300000,0.760886,0.777058,0.932639
Leeds United,1.828571,1.935714,1.381466,1.190113,1.018568
Arsenal,1.121429,1.228571,0.847227,0.775309,0.991126
Burnley,0.853846,1.469231,0.645072,1.357139,1.176920
Brighton,1.428571,1.007143,1.079270,0.986555,0.995007
Fulham,1.128571,1.542857,0.852624,0.983601,0.942855
West Brom,0.600000,1.871429,0.453294,0.931468,1.066503
Sheffield Utd,0.978571,1.678571,0.739300,1.035674,1.000095

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Squad
Liverpool           10  20.597067  12.704473     2.059707      1.270447
Leicester City      10  15.722591  13.101530     1.572259      1.310153
Manchester Utd      10  17.470229  13.512051     1.747023      1.351205
Everton             10  15.167545  13.520206     1.516755      1.352021
Chelsea             10  16.597002   9.037685     1.659700      0.903769
Tottenham           10  14.562592  12.037802     1.456259      1.203780
Southampton         10  11.310299  13.344076     1.131030      1.334408
Manchester City     10  16.536826   8.908426     1.653683      0.890843
Aston Villa         10  16.645975  10.977659     1.664597      1.097766
West Ham            10  13.693158  13.230802     1.369316      1.323080
Wolves              10   9.457876  12.025839     0.945788      1.202584
Newcastle Utd       10  10.793620  14.903717     1.079362      1.490372
Crystal Palace      10  10.367372  13.002694     1.036737      1.300269
Leeds United        10  18.064930  16.939234     1.806493      1.693923
Arsenal             10  11.368352  12.158697     1.136835      1.215870
Burnley             10   8.482642  16.602638     0.848264      1.660264
Brighton            10  14.283268  10.824678     1.428327      1.082468
Fulham              10  11.038807  15.116437     1.103881      1.511644
West Brom           10   6.263009  19.975559     0.626301      1.997556
Sheffield Utd       10   9.699950  16.198907     0.969995      1.619891

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier,next10_xG_xA_multiplier
Squad,,,,,,
Liverpool,2.085714,1.328571,1.575735,1.515903,1.130273,0.987531
Leicester City,1.535714,1.250000,1.160216,1.134034,0.952871,1.023797
Manchester Utd,1.692308,1.400000,1.278520,0.876381,0.954186,1.032332
Everton,1.457143,1.278571,1.100856,1.176855,0.939804,1.040910
Chelsea,1.707143,0.957143,1.289728,0.861357,0.894233,0.972209
Tottenham,1.407143,1.128571,1.063081,0.851342,1.124597,1.034905
Southampton,1.092857,1.214286,0.825642,1.081705,1.106244,1.034929
Manchester City,1.638462,0.930769,1.237840,1.109111,0.909085,1.009290
Aston Villa,1.775000,1.108333,1.340993,1.053032,0.931096,0.937801
West Ham,1.307143,1.407143,0.987532,0.815811,1.053916,1.047564
Wolves,0.985714,1.214286,0.744697,0.914171,1.030682,0.959495
Newcastle Utd,1.084615,1.369231,0.819415,0.652567,0.955897,0.995156
Crystal Palace,1.007143,1.300000,0.760886,0.777058,0.932639,1.029384
Leeds United,1.828571,1.935714,1.381466,1.190113,1.018568,0.987926
Arsenal,1.121429,1.228571,0.847227,0.775309,0.991126,1.013738
Burnley,0.853846,1.469231,0.645072,1.357139,1.176920,0.993463
Brighton,1.428571,1.007143,1.079270,0.986555,0.995007,0.999829
Fulham,1.128571,1.542857,0.852624,0.983601,0.942855,0.978122
West Brom,0.600000,1.871429,0.453294,0.931468,1.066503,1.043835
Sheffield Utd,0.978571,1.678571,0.739300,1.035674,1.000095,0.991236

In [11]:
metric = 'next1_xP'
#minGames = players['games played'] >= 3

numberToShow = 50
display(players.sort_values(by=[metric], ascending=False)[['web_name','team_name',\
         'now_cost','games played','total_points','adjusted points','points_per_game',\
         'adjusted points per game','next1_xP','next5_xP','next10_xP']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,next1_xP,next5_xP,next10_xP
id,,,,,,,,,,,
254,Salah,Liverpool,125,12.967033,118,91.945624,9.1,7.090722,9.247753,7.641299,7.061857
224,Vardy,Leicester City,102,12.948718,101,90.556854,7.8,6.993500,7.464892,6.827750,7.077191
251,Mané,Liverpool,119,13.018868,69,72.662162,5.3,5.581296,7.402055,6.046960,5.560559
272,De Bruyne,Manchester City,118,12.037037,65,83.025269,5.4,6.897484,7.379037,6.576007,6.946159
388,Kane,Tottenham,110,14.050633,111,96.068090,7.9,6.837278,6.403067,7.201208,6.939231
202,Bamford,Leeds United,64,14.067797,83,81.808427,5.9,5.815298,6.366672,5.869149,5.780280
255,Robertson,Liverpool,72,13.877551,68,63.916220,4.9,4.605728,6.324416,5.063300,4.657270
302,Fernandes,Manchester Utd,110,13.076923,102,87.041583,7.8,6.656121,6.189628,6.461122,6.771800
37,Grealish,Aston Villa,78,11.944444,86,70.465437,7.2,5.899432,6.153072,5.702501,5.754530
390,Son,Tottenham,97,13.975904,116,85.832372,8.3,6.141454,5.859236,6.439866,6.203682
164,Calvert-Lewin,Everton,79,13.939394,92,74.311236,6.6,5.331023,5.766201,5.182902,5.431689
249,Firmino,Liverpool,92,13.913043,64,65.808427,4.6,4.729981,5.760820,4.990283,4.705065
468,Jota,Liverpool,67,9.038462,47,38.993885,5.2,4.314217,5.511637,4.622478,4.308546
508,Rodríguez,Everton,77,10.000000,49,50.092775,4.9,5.009277,5.452811,4.880460,5.072607
276,Sterling,Manchester City,114,12.037037,65,61.254033,5.4,5.088797,5.391234,4.916567,5.122221
259,Alexander-Arnold,Liverpool,72,12.068966,35,45.091739,2.9,3.736173,5.361687,4.170217,3.789967
275,Mahrez,Manchester City,83,10.000000,53,50.145312,5.3,5.014531,5.333419,4.828594,5.049356
277,Cancelo,Manchester City,55,9.019608,46,43.926742,5.1,4.870139,5.333030,4.803531,4.940248
246,Matip,Liverpool,54,7.021277,33,25.841300,4.7,3.680428,5.305178,4.114279,3.734240
560,Kelleher,Liverpool,45,1.000000,7,4.059421,7.0,4.059421,5.287395,4.393081,4.122824
594,Rhys Williams,Liverpool,40,1.000000,2,3.659421,2.0,3.659421,5.196937,4.071245,3.715343
252,Alisson,Liverpool,59,11.000000,44,43.653636,4.0,3.968512,5.196486,4.302172,4.031915
506,Wilson,Newcastle Utd,66,12.058824,82,72.191236,6.8,5.986590,5.117058,5.876212,5.974468
12,Martínez,Aston Villa,49,11.964286,67,54.798058,5.6,4.580136,5.088549,4.450042,4.594164
514,Watkins,Aston Villa,61,12.000000,54,58.542809,4.5,4.878567,5.013534,4.703207,4.720272
273,Stones,Manchester City,49,5.000000,30,22.785006,6.0,4.557001,4.970579,4.531484,4.622912
166,Richarlison,Everton,78,10.930233,47,50.334045,4.3,4.605030,4.949994,4.487614,4.684827
141,Zaha,Crystal Palace,75,12.000000,78,66.918808,6.5,5.576567,4.944783,5.392197,5.644176
232,Chilwell,Chelsea,62,11.000000,66,53.303918,6.0,4.845811,4.880706,4.635652,4.908797
377,Adams,Southampton,60,13.958333,67,65.914045,4.8,4.722200,4.867952,4.911727,4.784510
366,Ings,Southampton,84,11.071429,62,52.148427,5.6,4.710181,4.858809,4.903449,4.773720
155,Digne,Everton,60,8.095238,34,35.330028,4.2,4.364298,4.840006,4.290974,4.317264
45,El Ghazi,Aston Villa,57,6.041667,29,27.434407,4.8,4.540867,4.785943,4.355064,4.406010
117,Werner,Chelsea,93,13.913043,64,70.514045,4.6,5.068197,4.744337,4.821133,5.003280
40,Trézéguet,Aston Villa,52,8.928571,25,40.150208,2.8,4.496823,4.732027,4.323846,4.373545
203,Harrison,Leeds United,54,12.857143,54,54.666794,4.2,4.251862,4.728968,4.350769,4.271804
165,Holgate,Everton,48,5.000000,24,20.968696,4.8,4.193739,4.722816,4.102250,4.159051
383,Lloris,Tottenham,56,14.000000,63,61.115723,4.5,4.365409,4.695901,4.335906,4.271660
123,James,Chelsea,53,12.000000,54,54.537063,4.5,4.544755,4.591939,4.343971,4.610204
91,Wood,Burnley,62,13.030303,43,51.500000,3.3,3.952326,4.514196,4.230665,3.942040
33,Hourihane,Aston Villa,60,4.000000,20,17.223244,5.0,4.305811,4.497878,4.188880,4.233125
280,Laporte,Manchester City,60,4.000000,12,16.108005,3.0,4.027001,4.470039,3.976936,4.095420
270,Walker,Manchester City,62,11.956522,55,47.958259,4.6,4.011054,4.424156,3.985933,4.076924
105,Jorginho,Chelsea,48,8.000000,40,37.357525,5.0,4.669691,4.422745,4.422108,4.634189
306,Rashford,Manchester Utd,95,13.076923,68,62.035965,5.2,4.743927,4.419232,4.601479,4.822519
457,Doherty,Tottenham,57,6.000000,24,24.766690,4.0,4.127782,4.383945,4.160578,4.051485
282,Jesus,Manchester City,92,7.000000,28,29.402809,4.0,4.200401,4.378096,4.052339,4.215530
106,Barkley,Aston Villa,59,8.000000,32,33.243678,4.0,4.155460,4.366088,4.014413,4.061004
96,Pope,Burnley,54,12.000000,66,57.644916,5.5,4.803743,4.355075,4.639971,4.643362
68,Maupay,Brighton,61,11.891892,44,51.962809,3.7,4.369600,4.340249,4.358700,4.369226

In [12]:
# save predictions
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players.to_csv(filepath)