In [1]:
# recent gameweek
latest_gameweek = 12

In [2]:
import pandas as pd
import numpy as np
import json
import requests
from scipy.stats import poisson

# allow more data columns to be shown than by default
pd.set_option('max_columns',100)

In [3]:
# fetch FPL fixtures online
fixtures_text = json.loads(requests.get('https://fantasy.premierleague.com/api/fixtures').text)
fixtures = pd.DataFrame(fixtures_text)
fixtures.head(20)

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,pulse_id,started,stats,team_a,team_a_difficulty,team_a_score,team_h,team_h_difficulty,team_h_score
0,2128386,NaN,False,False,99,None,0,False,58996,None,[],14,3,NaN,2,2,NaN
1,2128286,NaN,False,False,379,None,0,False,58896,None,[],13,2,NaN,4,4,NaN
2,2128290,NaN,False,False,380,None,0,False,58900,None,[],2,5,NaN,12,3,NaN
3,2128288,1.0,True,True,2,2020-09-12T11:30:00Z,90,False,58898,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",1,2,3.0,8,3,0.0
4,2128287,1.0,True,True,1,2020-09-12T14:00:00Z,90,False,58897,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",16,3,0.0,6,3,1.0
5,2128289,1.0,True,True,3,2020-09-12T16:30:00Z,90,False,58899,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",10,5,3.0,11,2,4.0
6,2128293,1.0,True,True,6,2020-09-12T19:00:00Z,90,False,58903,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",14,3,2.0,19,2,0.0
7,2128292,1.0,True,True,5,2020-09-13T13:00:00Z,90,False,58902,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",9,2,3.0,18,4,0.0
8,2128291,1.0,True,True,4,2020-09-13T15:30:00Z,90,False,58901,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",7,4,1.0,17,3,0.0
9,2128295,1.0,True,True,8,2020-09-14T17:00:00Z,90,False,58905,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",20,2,2.0,15,3,0.0
10,2128294,1.0,True,True,7,2020-09-14T19:15:00Z,90,False,58904,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,2,3.0,3,4,1.0
11,2128299,2.0,True,True,12,2020-09-19T11:30:00Z,90,False,58909,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",18,3,2.0,7,2,5.0
12,2128300,2.0,True,True,13,2020-09-19T14:00:00Z,90,False,58910,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",8,3,3.0,10,2,4.0
13,2128302,2.0,True,True,15,2020-09-19T16:30:00Z,90,False,58912,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",6,4,3.0,13,3,1.0
14,2128296,2.0,True,True,9,2020-09-19T19:00:00Z,90,False,58906,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",19,3,1.0,1,3,2.0
15,2128304,2.0,True,True,17,2020-09-20T11:00:00Z,90,False,58914,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",17,3,5.0,16,4,2.0
16,2128303,2.0,True,True,16,2020-09-20T13:00:00Z,90,False,58913,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,3,3.0,14,2,0.0
17,2128298,2.0,True,True,11,2020-09-20T15:30:00Z,90,False,58908,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",11,4,2.0,5,4,0.0
18,2128301,2.0,True,True,14,2020-09-20T18:00:00Z,90,False,58911,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,4,2.0,9,2,4.0
19,2128297,2.0,True,True,10,2020-09-21T17:00:00Z,90,False,58907,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",15,3,0.0,2,2,1.0

In [4]:
filepath = '../data/fbref/team_stats_week' + str(latest_gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col='Squad')
display(teamStats)

,Rk,MP,W,D,L,GF,GA,GDiff,Pts,xG,xGA,xGDiff,xGDiff/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes,xG per game,xGA per game,probability no goals allowed
Squad,,,,,,,,,,,,,,,,,,,,,
Tottenham,1,12,7,4,1,24,10,14,25,17.4,13.2,4.2,0.35,W W D W D,333.0,Son Heung-min - 10,Hugo Lloris,NaN,1.450000,1.100000,0.332871
Liverpool,2,12,7,4,1,27,18,9,25,25.9,17.1,8.8,0.73,D W D W D,333.0,Mohamed Salah - 10,Alisson,NaN,2.158333,1.425000,0.240508
Leicester City,3,12,8,0,4,24,15,9,24,19.0,14.9,4.1,0.34,W L L W W,NaN,Jamie Vardy - 10,Kasper Schmeichel,NaN,1.583333,1.241667,0.288902
Southampton,4,12,7,2,3,24,17,7,23,13.3,15.1,-1.8,-0.15,W D L W W,333.0,Danny Ings - 6,Alex McCarthy,NaN,1.108333,1.258333,0.284127
Chelsea,5,12,6,4,2,25,12,13,22,20.6,12.4,8.2,0.68,W W D W L,333.0,Timo Werner Kurt Zouma - 4,Edouard Mendy,NaN,1.716667,1.033333,0.355819
West Ham,6,12,6,2,4,20,15,5,20,17.4,16.6,0.8,0.07,W W W L W,NaN,Jarrod Bowen - 4,Łukasz Fabiański,NaN,1.450000,1.383333,0.250741
Everton,7,12,6,2,4,21,18,3,20,18.1,15.7,2.4,0.20,L W L D W,333.0,Dominic Calvert-Lewin - 11,Jordan Pickford,NaN,1.508333,1.308333,0.270270
Manchester Utd,8,11,6,2,3,19,17,2,20,16.2,14.6,1.6,0.15,W W W W D,NaN,Bruno Fernandes - 7,David de Gea,NaN,1.472727,1.327273,0.265200
Manchester City,9,11,5,4,2,17,11,6,19,18.3,10.8,7.5,0.68,D L W W D,NaN,Riyad Mahrez - 4,Ederson,NaN,1.663636,0.981818,0.374629
Aston Villa,10,10,6,0,4,21,13,8,18,17.0,12.8,4.2,0.42,L W L L W,NaN,Ollie Watkins - 6,Emiliano Martínez,NaN,1.700000,1.280000,0.278037
Crystal Palace,11,12,5,2,5,18,17,1,17,12.9,15.9,-3.0,-0.25,W L L W D,333.0,Wilfried Zaha - 7,Vicente Guaita,NaN,1.075000,1.325000,0.265803
Newcastle Utd,12,11,5,2,4,14,16,-2,17,11.9,14.3,-2.3,-0.21,W L L W W,NaN,Callum Wilson - 7,Karl Darlow,NaN,1.081818,1.300000,0.272532
Wolves,13,12,5,2,5,11,16,-5,17,12.0,14.2,-2.2,-0.18,L D W L L,NaN,Raúl Jiménez - 4,Rui Patrício,NaN,1.000000,1.183333,0.306256
Leeds United,14,12,4,2,6,17,22,-5,14,20.9,22.5,-1.5,-0.13,L D W L L,NaN,Patrick Bamford - 8,Illan Meslier,NaN,1.741667,1.875000,0.153355
Arsenal,15,12,4,1,7,10,15,-5,13,13.7,15.3,-1.6,-0.13,L D L L L,NaN,Alexandre Lacazette - 3,Bernd Leno,NaN,1.141667,1.275000,0.279431
Brighton,16,12,2,4,6,15,21,-6,10,16.7,12.7,4.0,0.33,D W D L L,NaN,Neal Maupay - 4,Mathew Ryan,NaN,1.391667,1.058333,0.347034
Burnley,17,11,2,3,6,6,18,-12,9,9.1,15.7,-6.6,-0.60,D W L D W,NaN,Chris Wood - 2,Nick Pope,NaN,0.827273,1.427273,0.239962
Fulham,18,12,2,2,8,12,22,-10,8,14.3,19.5,-5.3,-0.44,L L W L D,NaN,Bobby Reid - 4,Alphonse Areola,NaN,1.191667,1.625000,0.196912
West Brom,19,12,1,3,8,9,25,-16,6,8.1,22.0,-13.9,-1.16,L L W L L,NaN,Conor Gallagher Callum Robinson - 2,Sam Johnstone,NaN,0.675000,1.833333,0.159880
Sheffield Utd,20,12,0,1,11,5,21,-16,1,11.4,19.0,-7.6,-0.63,L L L L L,NaN,David McGoldrick - 2,Aaron Ramsdale,NaN,0.950000,1.583333,0.205290

In [5]:
# fetch FPL data
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players = pd.read_csv(filepath, index_col=0)
players.head()

,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,code,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,creativity,creativity_rank,creativity_rank_type,direct_freekicks_order,direct_freekicks_text,dreamteam_count,element_type,ep_next,ep_this,event_points,first_name,form,goals_conceded,goals_scored,ict_index,ict_index_rank,ict_index_rank_type,in_dreamteam,influence,influence_rank,influence_rank_type,minutes,news,news_added,now_cost,own_goals,penalties_missed,penalties_order,penalties_saved,penalties_text,photo,points_per_game,red_cards,saves,second_name,selected_by_percent,special,...,xG_week5,goals_week5,xGA_week5,cleansheet_week5,xA_week5,assists_week5,xPoints week 6,xG_week6,goals_week6,xGA_week6,cleansheet_week6,xA_week6,assists_week6,xPoints week 7,xG_week7,goals_week7,xGA_week7,cleansheet_week7,xA_week7,assists_week7,xPoints week 8,xG_week8,goals_week8,xGA_week8,cleansheet_week8,xA_week8,assists_week8,xPoints week 9,xG_week9,goals_week9,xGA_week9,cleansheet_week9,xA_week9,assists_week9,xPoints week 10,xG_week10,goals_week10,xGA_week10,cleansheet_week10,xA_week10,assists_week10,xPoints week 11,xG_week11,goals_week11,xGA_week11,cleansheet_week11,xA_week11,assists_week11,form 10,form 5
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0.0,0.0,0,37605,NaN,NaN,0,0,-2,2,0.0,607,242,NaN,NaN,0,3,0.0,0.0,0,Mesut,0.0,0,0,0.0,607,242,False,0.0,607,242,0,Not included in Arsenal's 25-man Premier Leagu...,2020-10-20T22:30:18.118477Z,68,0,0,NaN,0,NaN,37605.jpg,0.0,0,0,Özil,0.6,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,0,0,0.0,0.0,0,39476,NaN,NaN,0,0,-1,1,0.0,562,212,NaN,NaN,0,2,0.0,0.0,0,Sokratis,0.0,0,0,0.0,573,212,False,0.0,571,212,0,Not included in Arsenal's 25-man Premier Leagu...,2020-10-21T10:30:18.546407Z,49,0,0,NaN,0,NaN,39476.jpg,0.0,0,0,Papastathopoulos,0.1,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,0,52,75.0,75.0,0,41270,NaN,NaN,0,0,0,0,23.1,276,84,4.0,NaN,0,2,0.4,0.8,0,David,0.0,7,0,11.7,307,104,False,72.0,249,94,364,Head injury - 75% chance of playing,2020-11-26T23:30:22.462494Z,55,0,0,NaN,0,NaN,41270.jpg,1.2,0,0,Luiz Moreira Marinho,0.8,False,...,0.1,0.0,1.4,0.0,0.0,0.0,1.000000,0.0,0.0,1.2,0.0,0.0,0.0,NaN,NaN,NaN,0.3,0.0,NaN,NaN,NaN,NaN,NaN,1.8,0.0,NaN,NaN,NaN,NaN,NaN,2.5,0.0,NaN,NaN,0.000000,0.0,0.0,1.4,0.0,0.0,0.0,NaN,NaN,NaN,0.5,0.0,NaN,NaN,2.212092,0.000000
4,1,1,122,100.0,100.0,3,54694,NaN,NaN,0,0,-5,5,189.3,44,33,NaN,NaN,0,3,2.3,2.8,0,Pierre-Emerick,1.8,15,2,68.3,31,18,False,148.8,143,55,1076,NaN,2020-10-08T09:00:12.305506Z,115,1,0,1.0,0,NaN,54694.jpg,3.1,0,0,Aubameyang,8.8,False,...,0.0,0.0,1.4,0.0,0.5,0.0,4.101194,0.3,0.0,1.2,0.0,0.1,0.0,7.540818,0.9,1.0,0.3,1.0,0.1,0.0,2.765299,0.0,0.0,1.8,0.0,0.2,0.0,3.282085,0.3,0.0,2.5,1.0,-0.1,0.0,4.246597,0.4,0.0,1.4,0.0,0.0,0.0,3.606531,0.2,0.0,0.5,0.0,0.0,0.0,3.586421,3.121416
5,0,0,0,100.0,100.0,0,58822,NaN,NaN,0,0,-4,4,0.0,535,206,NaN,NaN,0,2,0.5,1.0,0,Cédric,0.0,0,0,0.0,549,206,False,0.0,547,206,0,NaN,2020-09-23T09:00:14.881983Z,46,0,0,NaN,0,NaN,58822.jpg,0.0,0,0,Soares,0.2,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
coefficients = pd.DataFrame(np.nan, index=teamStats.index, columns=['xG','xGA','coefficient'])

for ix in coefficients.index:
    coefficients.loc[ix, 'xG'] = teamStats.loc[ix, 'xG per game']
    coefficients.loc[ix, 'xGA'] = teamStats.loc[ix, 'xGA per game']
    coefficients.loc[ix, 'coefficient'] = 0.755489209043063 * coefficients.loc[ix, 'xG']

display(coefficients)

                       xG       xGA  coefficient
Squad
Tottenham        1.450000  1.100000     1.095459
Liverpool        2.158333  1.425000     1.630598
Leicester City   1.583333  1.241667     1.196191
Southampton      1.108333  1.258333     0.837334
Chelsea          1.716667  1.033333     1.296923
West Ham         1.450000  1.383333     1.095459
Everton          1.508333  1.308333     1.139530
Manchester Utd   1.472727  1.327273     1.112630
Manchester City  1.663636  0.981818     1.256859
Aston Villa      1.700000  1.280000     1.284332
Crystal Palace   1.075000  1.325000     0.812151
Newcastle Utd    1.081818  1.300000     0.817302
Wolves           1.000000  1.183333     0.755489
Leeds United     1.741667  1.875000     1.315810
Arsenal          1.141667  1.275000     0.862517
Brighton         1.391667  1.058333     1.051389
Burnley          0.827273  1.427273     0.624996
Fulham           1.191667  1.625000     0.900291
West Brom        0.675000  1.833333     0.509955
Sheffield Utd    0.950000  1.583333     0.717715

In [7]:
def points_for_clean_sheet(position):
    if position < 3:
        return 4
    elif position==3:
        return 1
    elif position==4:
        return 0

In [8]:
goalkeepers = players['element_type'] == 1
defenders = players['element_type'] == 2
midfielders = players['element_type'] == 3
forwards = players['element_type'] == 4

In [9]:
home_coefficient = 1.0721855628874228
away_coefficient = 0.9280143971205758

In [10]:
team_names = np.sort(teamStats.index)
# for some reason the fpl team numbers are not alphabetical with leeds and leicester...
if (team_names[8]=='Leeds United') & (team_names[9]=='Leicester City'):
    team_names[8] = 'Leicester City'
    team_names[9] = 'Leeds United'
    
# how many gameweeks ahead do you want to look at
for number_gameweeks in [1,5,10]:
    expectations = pd.DataFrame(0, index=teamStats.index, \
                columns=['games','total_xG','total_xGA','xG per game', 'xGA per game'])
    gameweeks = np.arange(latest_gameweek+1, latest_gameweek+number_gameweeks+1)
    games = fixtures[fixtures['event'].isin(gameweeks)]
    for ix in games.index:
        home_team_number = games.loc[ix,'team_h']
        home_team = team_names[home_team_number-1]
        away_team_number = games.loc[ix,'team_a']
        away_team = team_names[away_team_number-1]

        home_xG = home_coefficient * coefficients.loc[home_team,'coefficient'] * \
                                    coefficients.loc[away_team,'xGA']
        away_xG = away_coefficient * coefficients.loc[away_team,'coefficient'] * \
                                    coefficients.loc[home_team,'xGA']
        expectations.loc[home_team,'total_xG'] += home_xG
        expectations.loc[home_team,'total_xGA'] += away_xG
        expectations.loc[home_team,'games'] += 1
        expectations.loc[away_team,'total_xG'] += away_xG
        expectations.loc[away_team,'total_xGA'] += home_xG
        expectations.loc[away_team,'games'] += 1

    expectations['xG per game'] = expectations['total_xG'] / expectations['games']
    expectations['xGA per game'] = expectations['total_xGA'] / expectations['games']
    print('expectations:')
    display(expectations)

    new_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    coefficients[new_column] = expectations['xG per game'] / coefficients['xG']
    print('coefficients:')
    display(coefficients)
    
    new_column = 'next' + str(number_gameweeks) + '_xP'
    multiplier_xG_xA_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    for ix in players.index:
        team = players.loc[ix,'team_name']
        position = players.loc[ix, 'element_type']

        # adjust xP based on xg and xa for the next game
        xg_points_per_game = players.loc[ix,'xG_points'] / players.loc[ix,'games played']
        xa_points_per_game = players.loc[ix,'xA_points'] / players.loc[ix,'games played']
        xpoints = xg_points_per_game + xa_points_per_game
        players.loc[ix, new_column] = players.loc[ix, 'adjusted points per game'] - \
                            xpoints + coefficients.loc[team, multiplier_xG_xA_column]*xpoints    

        # adjust xP based on probability to keep a clean sheet for the next game
        clean_sheet_points_per_game = players.loc[ix,'clean_sheet_points'] / \
                                        players.loc[ix,'games played']
        probability_clean_sheet_next = poisson.pmf(0, expectations.loc[team, 'xGA per game'])
        players.loc[ix, new_column] = players.loc[ix, new_column] - clean_sheet_points_per_game \
                + points_for_clean_sheet(position) * probability_clean_sheet_next

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Tottenham            1  1.448658   1.923133     1.448658      1.923133
Liverpool            1  1.923133   1.448658     1.923133      1.448658
Leicester City       1  1.677989   1.313062     1.677989      1.313062
Southampton          1  0.990749   1.163679     0.990749      1.163679
Chelsea              1  1.424217   0.837025     1.424217      0.837025
West Ham             1  1.556260   1.042601     1.556260      1.042601
Everton              1  1.313062   1.677989     1.313062      1.677989
Manchester Utd       1  1.634849   1.021367     1.634849      1.021367
Manchester City      1  2.470575   0.464641     2.470575      0.464641
Aston Villa          1  1.965414   0.742406     1.965414      0.742406
Crystal Palace       1  1.042601   1.556260     1.042601      1.556260
Newcastle Utd        1  1.422127   1.834031     1.422127      1.834031
Wolves               1  0.837025   1.424217     0.837025      1.424217
Leeds United         1  1.834031   1.422127     1.834031      1.422127
Arsenal              1  1.163679   0.990749     1.163679      0.990749
Brighton             1  1.585519   1.021587     1.585519      1.021587
Burnley              1  0.742406   1.965414     0.742406      1.965414
Fulham               1  1.021587   1.585519     1.021587      1.585519
West Brom            1  0.464641   2.470575     0.464641      2.470575
Sheffield Utd        1  1.021367   1.634849     1.021367      1.634849

coefficients:

                       xG       xGA  coefficient  next1_xG_xA_multiplier
Squad
Tottenham        1.450000  1.100000     1.095459                0.999074
Liverpool        2.158333  1.425000     1.630598                0.891027
Leicester City   1.583333  1.241667     1.196191                1.059782
Southampton      1.108333  1.258333     0.837334                0.893909
Chelsea          1.716667  1.033333     1.296923                0.829641
West Ham         1.450000  1.383333     1.095459                1.073283
Everton          1.508333  1.308333     1.139530                0.870539
Manchester Utd   1.472727  1.327273     1.112630                1.110083
Manchester City  1.663636  0.981818     1.256859                1.485045
Aston Villa      1.700000  1.280000     1.284332                1.156126
Crystal Palace   1.075000  1.325000     0.812151                0.969862
Newcastle Utd    1.081818  1.300000     0.817302                1.314572
Wolves           1.000000  1.183333     0.755489                0.837025
Leeds United     1.741667  1.875000     1.315810                1.053032
Arsenal          1.141667  1.275000     0.862517                1.019281
Brighton         1.391667  1.058333     1.051389                1.139295
Burnley          0.827273  1.427273     0.624996                0.897414
Fulham           1.191667  1.625000     0.900291                0.857276
West Brom        0.675000  1.833333     0.509955                0.688358
Sheffield Utd    0.950000  1.583333     0.717715                1.075124

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Squad
Tottenham            5   8.220894   6.297483     1.644179      1.259497
Liverpool            5  11.004686   5.891949     2.200937      1.178390
Leicester City       5   7.515326   6.222796     1.503065      1.244559
Southampton          5   5.656180   7.029378     1.131236      1.405876
Chelsea              5   8.027497   5.279989     1.605499      1.055998
West Ham             5   6.459077   7.247973     1.291815      1.449595
Everton              5   7.434927   6.588081     1.486985      1.317616
Manchester Utd       5   8.092310   6.856872     1.618462      1.371374
Manchester City      5   8.421418   4.655606     1.684284      0.931121
Aston Villa          5   8.788660   5.713852     1.757732      1.142770
Crystal Palace       5   5.708122   7.739229     1.141624      1.547846
Newcastle Utd        5   5.927590   8.082312     1.185518      1.616462
Wolves               5   4.401280   6.165766     0.880256      1.233153
Leeds United         5   9.050205   7.973851     1.810041      1.594770
Arsenal              5   5.481081   6.217486     1.096216      1.243497
Brighton             5   7.491351   4.558662     1.498270      0.911732
Burnley              5   4.772821   7.122765     0.954564      1.424553
Fulham               5   5.433853   7.269776     1.086771      1.453955
West Brom            5   3.561193  11.567026     0.712239      2.313405
Sheffield Utd        5   4.566213   7.533829     0.913243      1.506766

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier
Squad,,,,,
Tottenham,1.450000,1.100000,1.095459,0.999074,1.133916
Liverpool,2.158333,1.425000,1.630598,0.891027,1.019739
Leicester City,1.583333,1.241667,1.196191,1.059782,0.949304
Southampton,1.108333,1.258333,0.837334,0.893909,1.020664
Chelsea,1.716667,1.033333,1.296923,0.829641,0.935242
West Ham,1.450000,1.383333,1.095459,1.073283,0.890907
Everton,1.508333,1.308333,1.139530,0.870539,0.985847
Manchester Utd,1.472727,1.327273,1.112630,1.110083,1.098956
Manchester City,1.663636,0.981818,1.256859,1.485045,1.012411
Aston Villa,1.700000,1.280000,1.284332,1.156126,1.033960
Crystal Palace,1.075000,1.325000,0.812151,0.969862,1.061976
Newcastle Utd,1.081818,1.300000,0.817302,1.314572,1.095857
Wolves,1.000000,1.183333,0.755489,0.837025,0.880256
Leeds United,1.741667,1.875000,1.315810,1.053032,1.039258
Arsenal,1.141667,1.275000,0.862517,1.019281,0.960189
Brighton,1.391667,1.058333,1.051389,1.139295,1.076601
Burnley,0.827273,1.427273,0.624996,0.897414,1.153869
Fulham,1.191667,1.625000,0.900291,0.857276,0.911975
West Brom,0.675000,1.833333,0.509955,0.688358,1.055168
Sheffield Utd,0.950000,1.583333,0.717715,1.075124,0.961308

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Squad
Tottenham           10  15.095068  12.887177     1.509507      1.288718
Liverpool           10  21.428578  12.927625     2.142858      1.292763
Leicester City      10  16.115481  12.913863     1.611548      1.291386
Southampton         10  11.403199  14.426596     1.140320      1.442660
Chelsea             10  16.431790  10.140235     1.643179      1.014023
West Ham            10  14.610737  13.907737     1.461074      1.390774
Everton             10  15.128090  13.739968     1.512809      1.373997
Manchester Utd      10  15.947982  13.601366     1.594798      1.360137
Manchester City     10  17.569962   8.202247     1.756996      0.820225
Aston Villa         10  17.210859  11.676850     1.721086      1.167685
Crystal Palace      10  10.623845  14.187171     1.062384      1.418717
Newcastle Utd       10  11.892031  14.440440     1.189203      1.444044
Wolves              10   9.632328  11.600215     0.963233      1.160022
Leeds United        10  17.267935  17.290914     1.726793      1.729091
Arsenal             10  11.090435  11.639415     1.109043      1.163942
Brighton            10  14.740989  11.288358     1.474099      1.128836
Burnley             10   8.516676  16.645019     0.851668      1.664502
Fulham              10  11.326992  15.427655     1.132699      1.542766
West Brom           10   6.950484  20.286269     0.695048      2.028627
Sheffield Utd       10   9.361831  15.116172     0.936183      1.511617

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier,next10_xG_xA_multiplier
Squad,,,,,,
Tottenham,1.450000,1.100000,1.095459,0.999074,1.133916,1.041039
Liverpool,2.158333,1.425000,1.630598,0.891027,1.019739,0.992830
Leicester City,1.583333,1.241667,1.196191,1.059782,0.949304,1.017820
Southampton,1.108333,1.258333,0.837334,0.893909,1.020664,1.028860
Chelsea,1.716667,1.033333,1.296923,0.829641,0.935242,0.957192
West Ham,1.450000,1.383333,1.095459,1.073283,0.890907,1.007637
Everton,1.508333,1.308333,1.139530,0.870539,0.985847,1.002967
Manchester Utd,1.472727,1.327273,1.112630,1.110083,1.098956,1.082888
Manchester City,1.663636,0.981818,1.256859,1.485045,1.012411,1.056118
Aston Villa,1.700000,1.280000,1.284332,1.156126,1.033960,1.012403
Crystal Palace,1.075000,1.325000,0.812151,0.969862,1.061976,0.988265
Newcastle Utd,1.081818,1.300000,0.817302,1.314572,1.095857,1.099263
Wolves,1.000000,1.183333,0.755489,0.837025,0.880256,0.963233
Leeds United,1.741667,1.875000,1.315810,1.053032,1.039258,0.991460
Arsenal,1.141667,1.275000,0.862517,1.019281,0.960189,0.971425
Brighton,1.391667,1.058333,1.051389,1.139295,1.076601,1.059233
Burnley,0.827273,1.427273,0.624996,0.897414,1.153869,1.029488
Fulham,1.191667,1.625000,0.900291,0.857276,0.911975,0.950517
West Brom,0.675000,1.833333,0.509955,0.688358,1.055168,1.029701
Sheffield Utd,0.950000,1.583333,0.717715,1.075124,0.961308,0.985456

In [11]:
metric = 'next1_xP'
#minGames = players['games played'] >= 3

numberToShow = 50
display(players.sort_values(by=[metric], ascending=False)[['web_name','team_name',\
         'now_cost','games played','total_points','adjusted points','points_per_game',\
         'adjusted points per game','next1_xP','next5_xP','next10_xP']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,next1_xP,next5_xP,next10_xP
id,,,,,,,,,,,
272,De Bruyne,Manchester City,118,10.000000,56,69.777154,5.6,6.977715,8.985370,7.042076,7.246341
388,Kane,Tottenham,109,12.022472,107,88.624768,8.9,7.371593,7.368680,7.793087,7.500761
224,Vardy,Leicester City,103,11.012658,87,76.312384,7.9,6.929515,7.143507,6.748049,6.993302
302,Fernandes,Manchester Utd,109,11.066667,83,73.907259,7.5,6.678367,7.132166,6.989544,6.940027
254,Salah,Liverpool,123,11.046512,95,80.492210,8.6,7.286663,6.867700,7.428801,7.293470
506,Wilson,Newcastle Utd,66,10.000000,68,59.395430,6.8,5.939543,6.740442,6.183595,6.192268
275,Mahrez,Manchester City,84,8.965517,52,47.537223,5.8,5.302229,6.594703,5.348289,5.488111
37,Grealish,Aston Villa,78,10.000000,73,57.151234,7.3,5.715123,6.279950,5.835826,5.777321
277,Cancelo,Manchester City,55,6.981132,37,33.939824,5.3,4.861651,6.189232,4.947580,5.160637
202,Bamford,Leeds United,62,12.096774,75,71.935430,6.2,5.946662,6.100102,6.060249,5.921954
276,Sterling,Manchester City,114,10.000000,50,48.703247,5.0,4.870325,5.997137,4.912147,5.037040
141,Zaha,Crystal Palace,75,10.000000,74,60.933460,7.4,6.093346,5.959082,6.203494,6.038656
390,Son,Tottenham,96,11.931818,105,72.385665,8.8,6.066608,5.877752,6.326179,6.103947
514,Watkins,Aston Villa,61,10.000000,51,52.418477,5.1,5.241848,5.670258,5.335034,5.275883
329,Gayle,Newcastle Utd,59,1.000000,8,5.200000,8.0,5.200000,5.577486,5.315028,5.319116
251,Mané,Liverpool,119,10.943396,58,64.645887,5.3,5.907297,5.552152,6.037874,5.918302
273,Stones,Manchester City,48,4.000000,22,16.894069,5.5,4.223517,5.347577,4.304239,4.498957
282,Jesus,Manchester City,93,6.046512,26,26.678477,4.3,4.412210,5.270553,4.434172,4.511517
366,Ings,Southampton,84,8.955224,60,48.875430,6.7,5.457756,5.233377,5.501460,5.518794
12,Martínez,Aston Villa,48,10.000000,53,44.121492,5.3,4.412149,5.203869,4.575737,4.544345
280,Laporte,Manchester City,60,4.000000,12,15.794069,3.0,3.948517,5.181712,4.032031,4.236584
164,Calvert-Lewin,Everton,79,12.028986,83,65.656954,6.9,5.458229,5.127821,5.422107,5.465802
232,Chilwell,Chelsea,62,8.955224,60,44.202706,6.7,4.935969,5.102004,4.849839,4.927867
270,Walker,Manchester City,62,10.000000,46,39.063650,4.6,3.906365,5.023149,3.986900,4.180963
556,Dias,Manchester City,56,8.974359,35,33.248233,3.9,3.704803,4.979157,3.789370,3.997632
40,Trézéguet,Aston Villa,53,8.928571,25,39.660953,2.8,4.442027,4.958204,4.552148,4.500359
431,Fabianski,West Ham,51,12.083333,58,54.119165,4.8,4.478827,4.886008,4.414524,4.471393
306,Rashford,Manchester Utd,94,11.063830,52,50.348030,4.7,4.550687,4.859510,4.731543,4.703187
123,James,Chelsea,53,11.041667,53,50.172289,4.8,4.543905,4.736900,4.468024,4.542578
117,Werner,Chelsea,94,11.875000,57,61.013907,4.8,5.138013,4.734889,4.984776,5.036715
445,Bowen,West Ham,64,12.040816,59,53.876084,4.9,4.474454,4.697365,4.278080,4.485218
68,Maupay,Brighton,61,11.052632,42,48.438477,3.8,4.382529,4.690796,4.552051,4.513614
105,Jorginho,Chelsea,49,6.981132,37,34.720973,5.3,4.973545,4.653445,4.814556,4.880653
508,Rodríguez,Everton,77,10.000000,49,49.938132,4.9,4.993813,4.647486,4.962585,4.982660
33,Hourihane,Aston Villa,60,4.000000,20,16.990626,5.0,4.247657,4.636841,4.330154,4.295900
450,Fornals,West Ham,64,12.045455,53,52.834201,4.4,4.386236,4.603015,4.198987,4.396360
278,Ederson,Manchester City,60,11.025641,43,39.522114,3.9,3.584564,4.599488,3.662493,3.847377
166,Richarlison,Everton,78,9.024390,37,44.212384,4.1,4.899210,4.593359,4.865773,4.906220
377,Adams,Southampton,60,12.000000,60,57.213907,5.0,4.767826,4.579514,4.804504,4.819052
106,Barkley,Aston Villa,59,8.000000,32,32.802775,4.0,4.100347,4.544175,4.194731,4.152931
435,Cresswell,West Ham,52,12.045455,53,48.495082,4.4,4.026007,4.478816,3.893777,4.023327
266,Fernandinho,Manchester City,54,6.111111,11,19.157606,1.8,3.134881,4.387919,3.218903,3.425243
588,Welbeck,Brighton,55,6.000000,24,25.056954,4.0,4.176159,4.387424,4.292338,4.265995
286,Rodrigo,Manchester City,54,10.952381,23,37.903083,2.1,3.460716,4.369891,3.496970,3.602252
110,Zouma,Chelsea,57,10.952381,69,45.088257,6.3,4.116754,4.355469,4.058252,4.126916
41,Mings,Aston Villa,53,10.000000,52,34.499969,5.2,3.449997,4.326025,3.631923,3.588891
274,Mendy,Manchester City,59,5.000000,22,16.092587,4.4,3.218517,4.291647,3.297936,3.488065
96,Pope,Burnley,54,10.000000,53,46.598499,5.3,4.659850,4.260391,4.662464,4.457140
11,Bellerín,Arsenal,52,11.842105,45,45.871634,3.8,3.873605,4.250356,3.890215,3.991139
558,Coufal,West Ham,46,9.000000,36,34.083642,4.0,3.787071,4.235778,3.660948,3.783964

In [12]:
# save predictions
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players.to_csv(filepath)