In [1]:
# recent gameweek
latest_gameweek = 8

In [2]:
import pandas as pd
import numpy as np
import json
import requests
from scipy.stats import poisson

# allow more data columns to be shown than by default
pd.set_option('max_columns',100)

In [3]:
# fetch FPL fixtures online
fixtures_text = json.loads(requests.get('https://fantasy.premierleague.com/api/fixtures').text)
fixtures = pd.DataFrame(fixtures_text)
fixtures.head(20)

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,pulse_id,started,stats,team_a,team_a_difficulty,team_a_score,team_h,team_h_difficulty,team_h_score
0,2128286,NaN,False,False,379,None,0,False,58896,None,[],13,2,NaN,4,4,NaN
1,2128290,NaN,False,False,380,None,0,False,58900,None,[],2,5,NaN,12,3,NaN
2,2128288,1.0,True,True,2,2020-09-12T11:30:00Z,90,False,58898,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",1,2,3.0,8,4,0.0
3,2128287,1.0,True,True,1,2020-09-12T14:00:00Z,90,False,58897,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",16,3,0.0,6,2,1.0
4,2128289,1.0,True,True,3,2020-09-12T16:30:00Z,90,False,58899,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",10,5,3.0,11,2,4.0
5,2128293,1.0,True,True,6,2020-09-12T19:00:00Z,90,False,58903,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",14,3,2.0,19,2,0.0
6,2128292,1.0,True,True,5,2020-09-13T13:00:00Z,90,False,58902,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",9,2,3.0,18,3,0.0
7,2128291,1.0,True,True,4,2020-09-13T15:30:00Z,90,False,58901,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",7,4,1.0,17,3,0.0
8,2128295,1.0,True,True,8,2020-09-14T17:00:00Z,90,False,58905,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",20,3,2.0,15,3,0.0
9,2128294,1.0,True,True,7,2020-09-14T19:15:00Z,90,False,58904,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,3,3.0,3,4,1.0
10,2128299,2.0,True,True,12,2020-09-19T11:30:00Z,90,False,58909,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",18,3,2.0,7,2,5.0
11,2128300,2.0,True,True,13,2020-09-19T14:00:00Z,90,False,58910,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",8,3,3.0,10,2,4.0
12,2128302,2.0,True,True,15,2020-09-19T16:30:00Z,90,False,58912,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",6,4,3.0,13,2,1.0
13,2128296,2.0,True,True,9,2020-09-19T19:00:00Z,90,False,58906,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",19,4,1.0,1,3,2.0
14,2128304,2.0,True,True,17,2020-09-20T11:00:00Z,90,False,58914,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",17,3,5.0,16,4,2.0
15,2128303,2.0,True,True,16,2020-09-20T13:00:00Z,90,False,58913,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,3,3.0,14,2,0.0
16,2128298,2.0,True,True,11,2020-09-20T15:30:00Z,90,False,58908,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",11,4,2.0,5,4,0.0
17,2128301,2.0,True,True,14,2020-09-20T18:00:00Z,90,False,58911,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,4,2.0,9,2,4.0
18,2128297,2.0,True,True,10,2020-09-21T17:00:00Z,90,False,58907,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",15,3,0.0,2,3,1.0
19,2128305,2.0,True,True,18,2020-09-21T19:15:00Z,90,False,58915,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",12,3,3.0,20,4,1.0

In [4]:
filepath = '../data/fbref/team_stats_week' + str(latest_gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col='Squad')
display(teamStats)

,Rk,MP,W,D,L,GF,GA,GDiff,Pts,xG,xGA,xGDiff,xGDiff/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes,xG per game,xGA per game,probability no goals allowed
Squad,,,,,,,,,,,,,,,,,,,,,
Leicester City,1,8,6,0,2,18,9,9,18,13.7,8.0,5.7,0.71,L L W W W,NaN,Jamie Vardy - 8,Kasper Schmeichel,NaN,1.712500,1.000000,0.367879
Tottenham,2,8,5,2,1,19,9,10,17,15.0,8.8,6.2,0.77,W D W W W,NaN,Son Heung-min - 8,Hugo Lloris,NaN,1.875000,1.100000,0.332871
Liverpool,3,8,5,2,1,18,16,2,17,18.6,11.5,7.0,0.88,L D W W D,NaN,Mohamed Salah - 8,Alisson,NaN,2.325000,1.437500,0.237521
Southampton,4,8,5,1,2,16,12,4,16,8.8,8.5,0.3,0.04,W D W W W,NaN,Danny Ings - 5,Alex McCarthy,NaN,1.100000,1.062500,0.345591
Chelsea,5,8,4,3,1,20,10,10,15,12.7,9.0,3.7,0.47,W D D W W,NaN,Timo Werner - 4,Edouard Mendy,NaN,1.587500,1.125000,0.324652
Aston Villa,6,7,5,0,2,18,9,9,15,11.9,9.8,2.1,0.30,W W L L W,NaN,Ollie Watkins - 6,Emiliano Martínez,NaN,1.700000,1.400000,0.246597
Everton,7,8,4,1,3,16,14,2,13,12.0,9.9,2.1,0.26,W D L L L,NaN,Dominic Calvert-Lewin - 8,Jordan Pickford,NaN,1.500000,1.237500,0.290109
Crystal Palace,8,8,4,1,3,12,12,0,13,7.7,10.8,-3.2,-0.40,L D W L W,NaN,Wilfried Zaha - 5,Vicente Guaita,NaN,0.962500,1.350000,0.259240
Wolves,9,8,4,1,3,8,9,-1,13,6.9,9.2,-2.3,-0.29,W W D W L,NaN,Raúl Jiménez - 4,Rui Patrício,NaN,0.862500,1.150000,0.316637
Manchester City,10,7,3,3,1,10,9,1,12,10.0,8.5,1.5,0.21,D W D W D,NaN,Raheem Sterling Phil Foden... - 2,Ederson,NaN,1.428571,1.214286,0.296922
Arsenal,11,8,4,0,4,9,10,-1,12,9.3,10.0,-0.7,-0.08,W L L W L,NaN,Alexandre Lacazette - 3,Bernd Leno,NaN,1.162500,1.250000,0.286505
West Ham,12,8,3,2,3,14,10,4,11,10.5,9.6,0.9,0.11,W D D L W,NaN,Michail Antonio Jarrod Bowen - 3,Łukasz Fabiański,NaN,1.312500,1.200000,0.301194
Newcastle Utd,13,8,3,2,3,10,13,-3,11,8.7,11.2,-2.5,-0.31,W L D W L,NaN,Callum Wilson - 6,Karl Darlow,NaN,1.087500,1.400000,0.246597
Manchester Utd,14,7,3,1,3,12,14,-2,10,8.5,10.2,-1.7,-0.24,L W D L W,NaN,Bruno Fernandes - 5,David de Gea,NaN,1.214286,1.457143,0.232901
Leeds United,15,8,3,1,4,14,17,-3,10,12.5,14.3,-1.8,-0.23,D L W L L,NaN,Patrick Bamford - 7,Illan Meslier,NaN,1.562500,1.787500,0.167378
Brighton,16,8,1,3,4,11,14,-3,6,10.1,7.9,2.2,0.28,L D D L D,NaN,Neal Maupay - 4,Mathew Ryan,NaN,1.262500,0.987500,0.372507
Fulham,17,8,1,1,6,7,15,-8,4,9.5,12.0,-2.5,-0.31,L D L W L,NaN,Bobby Reid Aleksandar Mitrović - 2,Alphonse Areola,NaN,1.187500,1.500000,0.223130
West Brom,18,8,0,3,5,6,17,-11,3,4.7,14.0,-9.3,-1.16,L D D L L,NaN,Callum Robinson - 2,Sam Johnstone,NaN,0.587500,1.750000,0.173774
Burnley,19,7,0,2,5,3,12,-9,2,5.4,7.9,-2.6,-0.37,L D L L D,NaN,Jimmy Dunne Chris Wood... - 1,Nick Pope,NaN,0.771429,1.128571,0.323495
Sheffield Utd,20,8,0,1,7,4,14,-10,1,7.2,12.5,-5.3,-0.66,L D L L L,NaN,David McGoldrick - 2,Aaron Ramsdale,NaN,0.900000,1.562500,0.209611

In [5]:
# fetch FPL data
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players = pd.read_csv(filepath, index_col=0)
players.head()

,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,code,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,creativity,creativity_rank,creativity_rank_type,direct_freekicks_order,direct_freekicks_text,dreamteam_count,element_type,ep_next,ep_this,event_points,first_name,form,goals_conceded,goals_scored,ict_index,ict_index_rank,ict_index_rank_type,in_dreamteam,influence,influence_rank,influence_rank_type,minutes,news,news_added,now_cost,own_goals,penalties_missed,penalties_order,penalties_saved,penalties_text,photo,points_per_game,red_cards,saves,second_name,selected_by_percent,special,...,xPoints week 1,xG_week1,goals_week1,xGA_week1,cleansheet_week1,xA_week1,assists_week1,xPoints week 2,xG_week2,goals_week2,xGA_week2,cleansheet_week2,xA_week2,assists_week2,xPoints week 3,xG_week3,goals_week3,xGA_week3,cleansheet_week3,xA_week3,assists_week3,xPoints week 4,xG_week4,goals_week4,xGA_week4,cleansheet_week4,xA_week4,assists_week4,xPoints week 5,xG_week5,goals_week5,xGA_week5,cleansheet_week5,xA_week5,assists_week5,xPoints week 6,xG_week6,goals_week6,xGA_week6,cleansheet_week6,xA_week6,assists_week6,xPoints week 7,xG_week7,goals_week7,xGA_week7,cleansheet_week7,xA_week7,assists_week7,form 5
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0.0,0.0,0,37605,NaN,NaN,0,0,-2,2,0.0,600,238,NaN,NaN,0,3,0.0,0.0,0,Mesut,0.0,0,0,0.0,600,238,False,0.0,600,238,0,Not included in Arsenal's 25-man Premier Leagu...,2020-10-20T22:30:18.118477Z,68,0,0,NaN,0,NaN,37605.jpg,0.0,0,0,Özil,0.6,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0,0,0,0.0,0.0,0,39476,NaN,NaN,0,0,-1,1,0.0,545,209,NaN,NaN,0,2,0.0,0.0,0,Sokratis,0.0,0,0,0.0,556,209,False,0.0,554,209,0,Not included in Arsenal's 25-man Premier Leagu...,2020-10-21T10:30:18.546407Z,49,0,0,NaN,0,NaN,39476.jpg,0.0,0,0,Papastathopoulos,0.1,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0,0,51,100.0,100.0,0,41270,NaN,NaN,0,0,0,0,9.8,309,101,4.0,NaN,0,2,1.3,1.3,0,David,0.8,5,0,9.7,268,90,False,66.6,200,83,319,NaN,2020-10-25T21:30:13.186040Z,55,0,0,NaN,0,NaN,41270.jpg,1.4,0,0,Luiz Moreira Marinho,0.9,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.00000,0.0,0.0,1.9,0.0,0.0,0.0,1.199148,0.0,0.0,3.0,0.0,0.0,0.0,5.274923,0.0,0.0,0.2,0.0,0.0,0.0,3.586388,0.1,0.0,1.4,0.0,0.0,0.0,1.000000,0.0,0.0,1.2,0.0,0.0,0.0,NaN,NaN,NaN,0.3,0.0,NaN,NaN,3.287104
4,1,1,111,100.0,100.0,2,54694,NaN,NaN,0,0,-3,3,147.8,32,25,6.0,NaN,0,3,4.0,4.0,2,Pierre-Emerick,3.5,10,2,43.2,39,21,False,133.4,79,27,716,NaN,2020-10-08T09:00:12.305506Z,117,0,0,1.0,0,NaN,54694.jpg,3.8,0,0,Aubameyang,13.3,False,...,3.818731,0.4,1.0,0.2,1.0,0.0,0.0,5.61799,0.1,0.0,1.9,0.0,0.5,1.0,2.049787,0.0,0.0,3.0,0.0,0.0,0.0,2.818731,0.0,0.0,0.2,0.0,0.0,0.0,3.746597,0.0,0.0,1.4,0.0,0.5,0.0,4.101194,0.3,0.0,1.2,0.0,0.1,0.0,7.540818,0.9,1.0,0.3,1.0,0.1,0.0,4.194528
5,0,0,0,100.0,100.0,0,58822,NaN,NaN,0,0,-3,3,0.0,521,203,NaN,NaN,0,2,0.5,0.5,0,Cédric,0.0,0,0,0.0,535,203,False,0.0,533,203,0,NaN,2020-09-23T09:00:14.881983Z,47,0,0,NaN,0,NaN,58822.jpg,0.0,0,0,Soares,0.2,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
coefficients = pd.DataFrame(np.nan, index=teamStats.index, columns=['xG','xGA','coefficient'])

for ix in coefficients.index:
    coefficients.loc[ix, 'xG'] = teamStats.loc[ix, 'xG per game']
    coefficients.loc[ix, 'xGA'] = teamStats.loc[ix, 'xGA per game']
    coefficients.loc[ix, 'coefficient'] = 0.755489209043063 * coefficients.loc[ix, 'xG']

display(coefficients)

                       xG       xGA  coefficient
Squad
Leicester City   1.712500  1.000000     1.293775
Tottenham        1.875000  1.100000     1.416542
Liverpool        2.325000  1.437500     1.756512
Southampton      1.100000  1.062500     0.831038
Chelsea          1.587500  1.125000     1.199339
Aston Villa      1.700000  1.400000     1.284332
Everton          1.500000  1.237500     1.133234
Crystal Palace   0.962500  1.350000     0.727158
Wolves           0.862500  1.150000     0.651609
Manchester City  1.428571  1.214286     1.079270
Arsenal          1.162500  1.250000     0.878256
West Ham         1.312500  1.200000     0.991580
Newcastle Utd    1.087500  1.400000     0.821595
Manchester Utd   1.214286  1.457143     0.917380
Leeds United     1.562500  1.787500     1.180452
Brighton         1.262500  0.987500     0.953805
Fulham           1.187500  1.500000     0.897143
West Brom        0.587500  1.750000     0.443850
Burnley          0.771429  1.128571     0.582806
Sheffield Utd    0.900000  1.562500     0.679940

In [7]:
def points_for_clean_sheet(position):
    if position < 3:
        return 4
    elif position==3:
        return 1
    elif position==4:
        return 0

In [8]:
goalkeepers = players['element_type'] == 1
defenders = players['element_type'] == 2
midfielders = players['element_type'] == 3
forwards = players['element_type'] == 4

In [9]:
home_coefficient = 1.0721855628874228
away_coefficient = 0.9280143971205758

In [10]:
team_names = np.sort(teamStats.index)
# for some reason the fpl team numbers are not alphabetical with leeds and leicester...
if (team_names[8]=='Leeds United') & (team_names[9]=='Leicester City'):
    team_names[8] = 'Leicester City'
    team_names[9] = 'Leeds United'
    
# how many gameweeks ahead do you want to look at
for number_gameweeks in [1,5,10]:
    expectations = pd.DataFrame(0, index=teamStats.index, \
                columns=['games','total_xG','total_xGA','xG per game', 'xGA per game'])
    gameweeks = np.arange(latest_gameweek+1, latest_gameweek+number_gameweeks+1)
    games = fixtures[fixtures['event'].isin(gameweeks)]
    for ix in games.index:
        home_team_number = games.loc[ix,'team_h']
        home_team = team_names[home_team_number-1]
        away_team_number = games.loc[ix,'team_a']
        away_team = team_names[away_team_number-1]

        home_xG = home_coefficient * coefficients.loc[home_team,'coefficient'] * \
                                    coefficients.loc[away_team,'xGA']
        away_xG = away_coefficient * coefficients.loc[away_team,'coefficient'] * \
                                    coefficients.loc[home_team,'xGA']
        expectations.loc[home_team,'total_xG'] += home_xG
        expectations.loc[home_team,'total_xGA'] += away_xG
        expectations.loc[home_team,'games'] += 1
        expectations.loc[away_team,'total_xG'] += away_xG
        expectations.loc[away_team,'total_xGA'] += home_xG
        expectations.loc[away_team,'games'] += 1

    expectations['xG per game'] = expectations['total_xG'] / expectations['games']
    expectations['xGA per game'] = expectations['total_xGA'] / expectations['games']
    print('expectations:')
    display(expectations)

    new_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    coefficients[new_column] = expectations['xG per game'] / coefficients['xG']
    print('coefficients:')
    display(coefficients)
    
    new_column = 'next' + str(number_gameweeks) + '_xP'
    multiplier_xG_xA_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    for ix in players.index:
        team = players.loc[ix,'team_name']
        position = players.loc[ix, 'element_type']

        # adjust xP based on xg and xa for the next game
        xg_points_per_game = players.loc[ix,'xG_points'] / players.loc[ix,'games played']
        xa_points_per_game = players.loc[ix,'xA_points'] / players.loc[ix,'games played']
        xpoints = xg_points_per_game + xa_points_per_game
        players.loc[ix, new_column] = players.loc[ix, 'adjusted points per game'] - \
                            xpoints + coefficients.loc[team, multiplier_xG_xA_column]*xpoints    

        # adjust xP based on probability to keep a clean sheet for the next game
        clean_sheet_points_per_game = players.loc[ix,'clean_sheet_points'] / \
                                        players.loc[ix,'games played']
        probability_clean_sheet_next = poisson.pmf(0, expectations.loc[team, 'xGA per game'])
        players.loc[ix, new_column] = players.loc[ix, new_column] - clean_sheet_points_per_game \
                + points_for_clean_sheet(position) * probability_clean_sheet_next

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Leicester City       1  1.725923   1.883307     1.725923      1.883307
Tottenham            1  1.844252   1.101736     1.844252      1.101736
Liverpool            1  1.883307   1.725923     1.883307      1.725923
Southampton          1  0.886898   0.742312     0.886898      0.742312
Chelsea              1  1.558206   0.991014     1.558206      0.991014
Aston Villa          1  1.359829   1.239203     1.359829      1.239203
Everton              1  1.577486   1.190356     1.577486      1.190356
Crystal Palace       1  0.761575   0.843583     0.761575      0.843583
Wolves               1  0.742312   0.886898     0.742312      0.886898
Manchester City      1  1.101736   1.844252     1.101736      1.844252
Arsenal              1  1.456874   1.582079     1.456874      1.582079
West Ham             1  1.437813   0.874827     1.437813      0.874827
Newcastle Utd        1  0.991014   1.558206     0.991014      1.558206
Manchester Utd       1  1.721302   0.600196     1.721302      0.600196
Leeds United         1  1.582079   1.456874     1.582079      1.456874
Brighton             1  1.239203   1.359829     1.239203      1.359829
Fulham               1  1.190356   1.577486     1.190356      1.577486
West Brom            1  0.600196   1.721302     0.600196      1.721302
Burnley              1  0.843583   0.761575     0.843583      0.761575
Sheffield Utd        1  0.874827   1.437813     0.874827      1.437813

coefficients:

                       xG       xGA  coefficient  next1_xG_xA_multiplier
Squad
Leicester City   1.712500  1.000000     1.293775                1.007838
Tottenham        1.875000  1.100000     1.416542                0.983601
Liverpool        2.325000  1.437500     1.756512                0.810025
Southampton      1.100000  1.062500     0.831038                0.806271
Chelsea          1.587500  1.125000     1.199339                0.981547
Aston Villa      1.700000  1.400000     1.284332                0.799899
Everton          1.500000  1.237500     1.133234                1.051657
Crystal Palace   0.962500  1.350000     0.727158                0.791247
Wolves           0.862500  1.150000     0.651609                0.860651
Manchester City  1.428571  1.214286     1.079270                0.771215
Arsenal          1.162500  1.250000     0.878256                1.253225
West Ham         1.312500  1.200000     0.991580                1.095476
Newcastle Utd    1.087500  1.400000     0.821595                0.911278
Manchester Utd   1.214286  1.457143     0.917380                1.417543
Leeds United     1.562500  1.787500     1.180452                1.012531
Brighton         1.262500  0.987500     0.953805                0.981547
Fulham           1.187500  1.500000     0.897143                1.002405
West Brom        0.587500  1.750000     0.443850                1.021610
Burnley          0.771429  1.128571     0.582806                1.093533
Sheffield Utd    0.900000  1.562500     0.679940                0.972030

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Squad
Leicester City       5   8.769124   5.381694     1.753825      1.076339
Tottenham            5   8.886009   6.342031     1.777202      1.268406
Liverpool            5  10.175545   7.337686     2.035109      1.467537
Southampton          5   5.303076   4.404373     1.060615      0.880875
Chelsea              5   7.928579   5.855212     1.585716      1.171042
Aston Villa          5   7.642691   5.530353     1.528538      1.106071
Everton              5   7.354809   6.413254     1.470962      1.282651
Crystal Palace       5   4.701397   5.725277     0.940279      1.145055
Wolves               5   4.131533   6.786217     0.826307      1.357243
Manchester City      5   7.627966   5.206506     1.525593      1.041301
Arsenal              5   5.499544   5.876538     1.099909      1.175308
West Ham             5   7.555525   5.655263     1.511105      1.131053
Newcastle Utd        5   5.992216   6.926160     1.198443      1.385232
Manchester Utd       5   6.172057   5.969454     1.234411      1.193891
Leeds United         5   7.460867   8.935064     1.492173      1.787013
Brighton             5   6.008705   6.050805     1.201741      1.210161
Fulham               5   5.366504   9.166824     1.073301      1.833365
West Brom            5   3.063046   7.573106     0.612609      1.514621
Burnley              5   3.706875   5.871217     0.741375      1.174243
Sheffield Utd        5   4.440810   6.779844     0.888162      1.355969

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier
Squad,,,,,
Leicester City,1.712500,1.000000,1.293775,1.007838,1.024131
Tottenham,1.875000,1.100000,1.416542,0.983601,0.947841
Liverpool,2.325000,1.437500,1.756512,0.810025,0.875316
Southampton,1.100000,1.062500,0.831038,0.806271,0.964196
Chelsea,1.587500,1.125000,1.199339,0.981547,0.998876
Aston Villa,1.700000,1.400000,1.284332,0.799899,0.899140
Everton,1.500000,1.237500,1.133234,1.051657,0.980641
Crystal Palace,0.962500,1.350000,0.727158,0.791247,0.976914
Wolves,0.862500,1.150000,0.651609,0.860651,0.958037
Manchester City,1.428571,1.214286,1.079270,0.771215,1.067915
Arsenal,1.162500,1.250000,0.878256,1.253225,0.946158
West Ham,1.312500,1.200000,0.991580,1.095476,1.151318
Newcastle Utd,1.087500,1.400000,0.821595,0.911278,1.102017
Manchester Utd,1.214286,1.457143,0.917380,1.417543,1.016574
Leeds United,1.562500,1.787500,1.180452,1.012531,0.954991
Brighton,1.262500,0.987500,0.953805,0.981547,0.951874
Fulham,1.187500,1.500000,0.897143,1.002405,0.903832
West Brom,0.587500,1.750000,0.443850,1.021610,1.042739
Burnley,0.771429,1.128571,0.582806,1.093533,0.961042
Sheffield Utd,0.900000,1.562500,0.679940,0.972030,0.986847

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Squad
Leicester City      10  16.973460  10.525386     1.697346      1.052539
Tottenham           10  18.750005  12.066836     1.875001      1.206684
Liverpool           10  21.811416  12.375159     2.181142      1.237516
Southampton         10  11.270491  10.545001     1.127049      1.054500
Chelsea             10  15.337682  11.977999     1.533768      1.197800
Aston Villa         10  16.179831  12.159059     1.617983      1.215906
Everton             10  14.659672  11.566800     1.465967      1.156680
Crystal Palace      10   9.608247  13.528818     0.960825      1.352882
Wolves              10   7.925351  12.533184     0.792535      1.253318
Manchester City     10  13.821134  11.325990     1.382113      1.132599
Arsenal             10  11.069898  11.503288     1.106990      1.150329
West Ham            10  13.617604  11.282089     1.361760      1.128209
Newcastle Utd       10  11.577932  14.695422     1.157793      1.469542
Manchester Utd      10  12.566782  13.606528     1.256678      1.360653
Leeds United        10  14.952399  16.604073     1.495240      1.660407
Brighton            10  12.197973  10.268484     1.219797      1.026848
Fulham              10  10.811170  16.137521     1.081117      1.613752
West Brom           10   6.261189  18.158599     0.626119      1.815860
Burnley             10   8.083414  11.759234     0.808341      1.175923
Sheffield Utd       10   8.550677  13.406860     0.855068      1.340686

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier,next10_xG_xA_multiplier
Squad,,,,,,
Leicester City,1.712500,1.000000,1.293775,1.007838,1.024131,0.991151
Tottenham,1.875000,1.100000,1.416542,0.983601,0.947841,1.000000
Liverpool,2.325000,1.437500,1.756512,0.810025,0.875316,0.938125
Southampton,1.100000,1.062500,0.831038,0.806271,0.964196,1.024590
Chelsea,1.587500,1.125000,1.199339,0.981547,0.998876,0.966153
Aston Villa,1.700000,1.400000,1.284332,0.799899,0.899140,0.951755
Everton,1.500000,1.237500,1.133234,1.051657,0.980641,0.977311
Crystal Palace,0.962500,1.350000,0.727158,0.791247,0.976914,0.998259
Wolves,0.862500,1.150000,0.651609,0.860651,0.958037,0.918881
Manchester City,1.428571,1.214286,1.079270,0.771215,1.067915,0.967479
Arsenal,1.162500,1.250000,0.878256,1.253225,0.946158,0.952249
West Ham,1.312500,1.200000,0.991580,1.095476,1.151318,1.037532
Newcastle Utd,1.087500,1.400000,0.821595,0.911278,1.102017,1.064637
Manchester Utd,1.214286,1.457143,0.917380,1.417543,1.016574,1.034911
Leeds United,1.562500,1.787500,1.180452,1.012531,0.954991,0.956954
Brighton,1.262500,0.987500,0.953805,0.981547,0.951874,0.966176
Fulham,1.187500,1.500000,0.897143,1.002405,0.903832,0.910414
West Brom,0.587500,1.750000,0.443850,1.021610,1.042739,1.065734
Burnley,0.771429,1.128571,0.582806,1.093533,0.961042,1.047850
Sheffield Utd,0.900000,1.562500,0.679940,0.972030,0.986847,0.950075

In [11]:
metric = 'next1_xP'
#minGames = players['games played'] >= 3

numberToShow = 50
display(players.sort_values(by=[metric], ascending=False)[['web_name','team_name',\
         'now_cost','games played','total_points','adjusted points','points_per_game',\
         'adjusted points per game','next1_xP','next5_xP','next10_xP']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,next1_xP,next5_xP,next10_xP
id,,,,,,,,,,,
388,Kane,Tottenham,110,8.000000,80,70.695502,10.0,8.836938,8.768391,8.618913,8.836939
302,Fernandes,Manchester Utd,105,6.973684,53,42.154990,7.6,6.044866,7.501870,6.160305,6.163877
224,Vardy,Leicester City,101,7.023810,59,52.333876,8.4,7.450925,7.483310,7.550627,7.414363
254,Salah,Liverpool,124,7.976190,67,59.131449,8.4,7.413495,6.566090,6.889358,7.209463
390,Son,Tottenham,96,8.043478,74,53.191317,9.2,6.612975,6.565098,6.410939,6.579292
88,Mee,Burnley,49,1.000000,8,5.893980,8.0,5.893980,6.523841,5.812836,5.862846
389,Aurier,Tottenham,52,2.000000,13,12.619906,6.5,6.309953,6.268287,5.978405,6.175221
37,Grealish,Aston Villa,74,6.976744,60,46.862071,8.6,6.716897,6.180557,6.509133,6.627055
33,Hourihane,Aston Villa,60,2.000000,17,13.050132,8.5,6.525066,6.127862,6.387434,6.468771
506,Wilson,Newcastle Utd,66,7.971014,55,50.673876,6.9,6.357268,6.097257,6.656240,6.546696
251,Mané,Liverpool,120,6.969697,46,47.726262,6.6,6.847681,6.063124,6.364792,6.664119
202,Bamford,Leeds United,60,8.055556,58,47.513876,7.2,5.898274,5.931252,5.779823,5.784988
164,Calvert-Lewin,Everton,78,8.028169,57,44.756938,7.1,5.574987,5.713972,5.522902,5.513943
114,Ziyech,Chelsea,81,3.970588,27,22.559875,6.8,5.681746,5.701338,5.665496,5.609510
141,Zaha,Crystal Palace,74,7.941176,54,48.212548,6.8,6.071210,5.668019,6.066683,6.065677
508,Rodríguez,Everton,79,7.049180,43,38.715841,6.1,5.492247,5.617639,5.437697,5.467744
597,Sánchez,Brighton,45,1.000000,1,6.090027,1.0,6.090027,5.560387,5.619344,5.910769
306,Rashford,Manchester Utd,96,7.000000,35,31.601119,5.0,4.514446,5.516213,4.611814,4.595393
232,Chilwell,Chelsea,60,5.000000,41,26.406925,8.2,5.281385,5.443217,5.221466,5.145528
514,Watkins,Aston Villa,60,7.014925,47,42.176938,6.7,6.012457,5.412862,5.710234,5.867892
563,Ait Nouri,Wolves,50,2.000000,17,10.133094,8.5,5.066547,5.405922,4.816888,4.917887
68,Maupay,Brighton,65,7.037037,38,38.196938,5.4,5.427986,5.380680,5.304611,5.341276
166,Richarlison,Everton,78,5.000000,22,26.090813,4.4,5.218163,5.358877,5.165429,5.156359
282,Jesus,Manchester City,93,2.000000,15,11.800000,7.5,5.900000,5.350917,6.062996,5.821951
450,Fornals,West Ham,64,8.076923,42,40.503536,5.2,5.014723,5.303048,5.309748,5.104985
431,Fabianski,West Ham,50,8.039216,41,38.685461,5.1,4.812094,5.275054,4.898091,4.901766
470,Kilman,Wolves,43,5.000000,30,23.689673,6.0,4.737935,5.085671,4.490793,4.594142
435,Cresswell,West Ham,51,7.916667,38,36.008630,4.8,4.548459,5.083780,4.749139,4.666576
105,Jorginho,Chelsea,52,6.981132,37,34.860317,5.3,4.993505,4.997020,4.976275,4.891779
272,De Bruyne,Manchester City,115,6.000000,27,34.492346,4.5,5.748724,4.952571,5.999940,5.680554
277,Cancelo,Manchester City,54,4.000000,24,22.807690,6.0,5.701923,4.923743,5.992432,5.771306
96,Pope,Burnley,54,7.073171,29,30.152543,4.1,4.262946,4.836687,4.205176,4.203101
437,Antonio,West Ham,62,6.000000,27,27.400000,4.5,4.566667,4.763984,4.879391,4.644232
366,Ings,Southampton,84,7.014925,47,35.733876,6.7,5.093978,4.750978,5.030586,5.137515
325,Darlow,Newcastle Utd,50,7.954545,35,38.846267,4.4,4.883531,4.739197,4.898206,4.817266
461,Saïss,Wolves,52,6.031746,38,26.339490,6.3,4.366810,4.685613,4.110956,4.206174
558,Coufal,West Ham,45,5.000000,25,20.837760,5.0,4.167552,4.659155,4.298944,4.268484
455,Patrício,Wolves,55,8.000000,40,34.132377,5.0,4.266547,4.647727,4.029477,4.142223
117,Werner,Chelsea,94,7.962963,43,36.813876,5.4,4.623138,4.591853,4.621233,4.565756
442,Masuaku,West Ham,45,7.000000,28,28.290376,4.0,4.041482,4.582188,4.250695,4.161716
12,Martínez,Aston Villa,48,7.017544,40,30.922020,5.7,4.406388,4.578460,4.743426,4.605765
110,Zouma,Chelsea,53,6.956522,48,29.433808,6.9,4.231110,4.410933,4.172287,4.128253
123,James,Chelsea,50,7.021277,33,29.574837,4.7,4.212174,4.389691,4.153210,4.105086
203,Harrison,Leeds United,55,7.073171,29,30.397769,4.1,4.297616,4.382511,4.228337,4.253963
184,Mitrović,Fulham,57,8.000000,28,34.753876,3.5,4.344234,4.349779,4.122568,4.137740
377,Adams,Southampton,59,8.039216,41,37.570813,5.1,4.673443,4.333660,4.610645,4.716571
546,Semedo,Wolves,55,5.952381,25,23.838971,4.2,4.004947,4.308872,3.744612,3.835650
542,Reguilón,Tottenham,56,4.000000,16,17.239813,4.0,4.309953,4.292885,4.056644,4.175221
478,Willian,Arsenal,78,6.923077,27,28.354308,3.9,4.095622,4.267046,4.064179,4.078059
4,Aubameyang,Arsenal,117,7.894737,30,30.638818,3.8,3.880917,4.191918,3.819796,3.837033

In [12]:
# save predictions
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players.to_csv(filepath)