In [1]:
# recent gameweek
latest_gameweek = 20

In [2]:
import pandas as pd
import numpy as np
import json
import requests
from scipy.stats import poisson

# allow more data columns to be shown than by default
pd.set_option('max_columns',100)

In [3]:
# fetch FPL fixtures online
fixtures_text = json.loads(requests.get('https://fantasy.premierleague.com/api/fixtures').text)
fixtures = pd.DataFrame(fixtures_text)
fixtures.head(20)

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,pulse_id,started,stats,team_a,team_a_difficulty,team_a_score,team_h,team_h_difficulty,team_h_score
0,2128457,NaN,False,False,170,None,0,False,59067,None,[],17,3,NaN,2,4,NaN
1,2128467,NaN,False,False,180,None,0,False,59077,None,[],7,3,NaN,2,3,NaN
2,2128447,NaN,False,False,160,None,0,False,59057,None,[],8,2,NaN,4,2,NaN
3,2128440,NaN,False,False,153,None,0,False,59050,None,[],12,3,NaN,7,4,NaN
4,2128608,NaN,False,False,321,None,0,False,59218,None,[],17,2,NaN,8,4,NaN
5,2128459,NaN,False,False,172,None,0,False,59069,None,[],16,3,NaN,10,3,NaN
6,2128612,NaN,False,False,325,None,0,False,59222,None,[],16,5,NaN,12,3,NaN
7,2128288,1.0,True,True,2,2020-09-12T11:30:00Z,90,False,58898,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",1,2,3.0,8,3,0.0
8,2128287,1.0,True,True,1,2020-09-12T14:00:00Z,90,False,58897,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",16,3,0.0,6,3,1.0
9,2128289,1.0,True,True,3,2020-09-12T16:30:00Z,90,False,58899,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",10,5,3.0,11,2,4.0
10,2128293,1.0,True,True,6,2020-09-12T19:00:00Z,90,False,58903,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",14,3,2.0,19,2,0.0
11,2128292,1.0,True,True,5,2020-09-13T13:00:00Z,90,False,58902,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",9,2,3.0,18,4,0.0
12,2128291,1.0,True,True,4,2020-09-13T15:30:00Z,90,False,58901,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",7,4,1.0,17,3,0.0
13,2128295,1.0,True,True,8,2020-09-14T17:00:00Z,90,False,58905,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",20,2,2.0,15,3,0.0
14,2128294,1.0,True,True,7,2020-09-14T19:15:00Z,90,False,58904,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,2,3.0,3,4,1.0
15,2128299,2.0,True,True,12,2020-09-19T11:30:00Z,90,False,58909,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",18,3,2.0,7,2,5.0
16,2128300,2.0,True,True,13,2020-09-19T14:00:00Z,90,False,58910,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",8,3,3.0,10,2,4.0
17,2128302,2.0,True,True,15,2020-09-19T16:30:00Z,90,False,58912,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",6,4,3.0,13,3,1.0
18,2128296,2.0,True,True,9,2020-09-19T19:00:00Z,90,False,58906,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",19,3,1.0,1,3,2.0
19,2128304,2.0,True,True,17,2020-09-20T11:00:00Z,90,False,58914,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",17,3,5.0,16,4,2.0

In [4]:
filepath = '../data/fbref/team_stats_week' + str(latest_gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col='Squad')
display(teamStats)

,Rk,MP,W,D,L,GF,GA,GDiff,Pts,xG,xGA,xGDiff,xGDiff/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes,xG per game,xGA per game,probability no goals allowed
Squad,,,,,,,,,,,,,,,,,,,,,
Manchester City,1,19,12,5,2,36,13,23,41,35.3,14.6,20.6,1.09,W W W W W,NaN,İlkay Gündoğan - 7,Ederson,NaN,1.857895,0.768421,0.463745
Manchester Utd,2,20,12,4,4,37,27,10,40,32.5,25.9,6.6,0.33,W W D W L,NaN,Bruno Fernandes - 11,David de Gea,NaN,1.625000,1.295000,0.273898
Leicester City,3,20,12,3,5,36,22,14,39,29.4,22.2,7.2,0.36,D W W W D,NaN,Jamie Vardy - 11,Kasper Schmeichel,NaN,1.470000,1.110000,0.329559
Liverpool,4,20,10,7,3,40,23,17,37,39.2,22.5,16.7,0.83,D L D L W,600.0,Mohamed Salah - 13,Alisson,NaN,1.960000,1.125000,0.324652
West Ham,5,20,10,5,5,30,24,6,35,27.7,22.9,4.8,0.24,D W W W W,200.0,Tomáš Souček - 7,Łukasz Fabiański,NaN,1.385000,1.145000,0.318224
Tottenham,6,19,9,6,4,34,20,14,33,26.5,21.4,5.1,0.27,D W D W L,200.0,Harry Kane Son Heung-min - 12,Hugo Lloris,NaN,1.394737,1.126316,0.324226
Everton,7,18,10,3,5,29,22,7,33,22.2,22.2,0.0,0.00,W W L W D,222.0,Dominic Calvert-Lewin - 11,Jordan Pickford,NaN,1.233333,1.233333,0.291320
Chelsea,8,20,8,6,6,33,23,10,30,31.3,21.2,10.1,0.51,D L W L D,200.0,Tammy Abraham - 6,Edouard Mendy,NaN,1.565000,1.060000,0.346456
Arsenal,9,20,9,3,8,26,20,6,30,27.6,23.1,4.5,0.22,W W D W W,200.0,Alexandre Lacazette - 8,Bernd Leno,NaN,1.380000,1.155000,0.315058
Aston Villa,10,18,9,2,7,33,21,12,29,31.9,22.8,9.1,0.51,D L L W L,NaN,Ollie Watkins - 8,Emiliano Martínez,NaN,1.772222,1.266667,0.281769
Southampton,11,19,8,5,6,27,24,3,29,18.5,23.9,-5.4,-0.29,D D W L L,200.0,Danny Ings - 7,Alex McCarthy,NaN,0.973684,1.257895,0.284252
Leeds United,12,19,8,2,9,32,35,-3,26,30.5,34.0,-3.5,-0.18,W W L L W,NaN,Patrick Bamford - 10,Illan Meslier,NaN,1.605263,1.789474,0.167048
Wolves,13,20,6,5,9,21,29,-8,23,20.3,24.2,-3.9,-0.19,L D L L D,NaN,Pedro Neto Raúl Jiménez - 4,Rui Patrício,NaN,1.015000,1.210000,0.298197
Crystal Palace,14,20,6,5,9,24,36,-12,23,17.8,28.4,-10.6,-0.53,D W D L L,200.0,Wilfried Zaha - 9,Vicente Guaita,NaN,0.890000,1.420000,0.241714
Burnley,15,19,6,4,9,13,24,-11,22,16.5,28.6,-12.1,-0.64,W L L W W,NaN,Chris Wood - 4,Nick Pope,NaN,0.868421,1.505263,0.221959
Newcastle Utd,16,20,5,4,11,19,34,-15,19,17.7,28.9,-11.2,-0.56,L L L L L,NaN,Callum Wilson - 8,Karl Darlow,NaN,0.885000,1.445000,0.235746
Brighton,17,20,3,9,8,22,29,-7,18,27.2,22.1,5.1,0.26,L D L W D,200.0,Neal Maupay - 7,Mathew Ryan,NaN,1.360000,1.105000,0.331211
Fulham,18,19,2,7,10,15,27,-12,13,20.3,29.1,-8.8,-0.46,D D L L D,200.0,Bobby Reid - 4,Alphonse Areola,NaN,1.068421,1.531579,0.216194
West Brom,19,20,2,5,13,15,48,-33,11,12.9,37.6,-24.7,-1.23,L L W L L,NaN,Matheus Pereira - 4,Sam Johnstone,NaN,0.645000,1.880000,0.152590
Sheffield Utd,20,20,2,2,16,12,33,-21,8,19.3,28.9,-9.6,-0.48,L L W L W,NaN,David McGoldrick - 5,Aaron Ramsdale,NaN,0.965000,1.445000,0.235746

In [5]:
# fetch FPL data
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players = pd.read_csv(filepath, index_col=0)
players.head()

,adjusted points,adjusted points per game,assists,assists_week1,assists_week10,assists_week11,assists_week12,assists_week13,assists_week14,assists_week15,assists_week16,assists_week17,assists_week18,assists_week19,assists_week2,assists_week20,assists_week3,assists_week4,assists_week5,assists_week6,assists_week7,assists_week8,assists_week9,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheet_points,clean_sheets,cleansheet_week1,cleansheet_week10,cleansheet_week11,cleansheet_week12,cleansheet_week13,cleansheet_week14,cleansheet_week15,cleansheet_week16,cleansheet_week17,cleansheet_week18,cleansheet_week19,cleansheet_week2,cleansheet_week20,cleansheet_week3,cleansheet_week4,cleansheet_week5,cleansheet_week6,cleansheet_week7,cleansheet_week8,cleansheet_week9,code,...,xGA_week3,xGA_week4,xGA_week5,xGA_week6,xGA_week7,xGA_week8,xGA_week9,xG_points,xG_week1,xG_week10,xG_week11,xG_week12,xG_week13,xG_week14,xG_week15,xG_week16,xG_week17,xG_week18,xG_week19,xG_week2,xG_week20,xG_week3,xG_week4,xG_week5,xG_week6,xG_week7,xG_week8,xG_week9,xPoints,xPoints week 1,xPoints week 10,xPoints week 11,xPoints week 12,xPoints week 13,xPoints week 14,xPoints week 15,xPoints week 16,xPoints week 17,xPoints week 18,xPoints week 19,xPoints week 2,xPoints week 20,xPoints week 3,xPoints week 4,xPoints week 5,xPoints week 6,xPoints week 7,xPoints week 8,xPoints week 9,yellow_cards
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,37605,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0,0.0,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39476,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,31.462532,2.860230,0,NaN,0.0,NaN,NaN,0.0,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,0,117,100.0,100.0,13.862532,2,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,41270,...,3.0,0.2,1.4,1.2,0.3,1.8,2.5,3.60,NaN,0.0,NaN,NaN,0.0,0.1,NaN,NaN,NaN,0.0,0.4,0.0,0.0,0.0,0.0,0.1,0.0,NaN,NaN,NaN,3.204777,NaN,0.000000,NaN,NaN,1.000000,3.397316,NaN,NaN,NaN,2.471518,7.363273,1.00000,3.204777,1.199148,5.274923,3.586388,1.000000,NaN,NaN,NaN,1
4,76.244715,4.510251,1,0.0,0.0,0.0,0.0,0.0,NaN,NaN,0.0,0.0,0.0,0.0,1.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6,202,50.0,0.0,5.325973,7,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,54694,...,3.0,0.2,1.4,1.2,0.3,1.8,2.5,29.52,0.4,0.4,0.2,0.2,0.3,NaN,NaN,0.6,0.8,0.1,1.4,0.1,NaN,0.0,0.0,0.0,0.3,0.9,0.0,0.3,NaN,3.818731,4.246597,3.606531,1.70657,7.132871,NaN,NaN,5.449329,6.67032,2.867879,11.740818,5.61799,NaN,2.049787,2.818731,3.746597,4.101194,7.540818,2.765299,3.282085,2
5,15.079433,5.026478,1,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,53,100.0,100.0,3.780690,1,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,58822,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.00,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.804777,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,10.658585,NaN,3.804777,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [6]:
coefficients = pd.DataFrame(np.nan, index=teamStats.index, columns=['xG','xGA','coefficient'])

for ix in coefficients.index:
    coefficients.loc[ix, 'xG'] = teamStats.loc[ix, 'xG per game']
    coefficients.loc[ix, 'xGA'] = teamStats.loc[ix, 'xGA per game']
    coefficients.loc[ix, 'coefficient'] = 0.755489209043063 * coefficients.loc[ix, 'xG']

display(coefficients)

                       xG       xGA  coefficient
Squad
Manchester City  1.857895  0.768421     1.403619
Manchester Utd   1.625000  1.295000     1.227670
Leicester City   1.470000  1.110000     1.110569
Liverpool        1.960000  1.125000     1.480759
West Ham         1.385000  1.145000     1.046353
Tottenham        1.394737  1.126316     1.053709
Everton          1.233333  1.233333     0.931770
Chelsea          1.565000  1.060000     1.182341
Arsenal          1.380000  1.155000     1.042575
Aston Villa      1.772222  1.266667     1.338895
Southampton      0.973684  1.257895     0.735608
Leeds United     1.605263  1.789474     1.212759
Wolves           1.015000  1.210000     0.766822
Crystal Palace   0.890000  1.420000     0.672385
Burnley          0.868421  1.505263     0.656083
Newcastle Utd    0.885000  1.445000     0.668608
Brighton         1.360000  1.105000     1.027465
Fulham           1.068421  1.531579     0.807181
West Brom        0.645000  1.880000     0.487291
Sheffield Utd    0.965000  1.445000     0.729047

In [7]:
def points_for_clean_sheet(position):
    if position < 3:
        return 4
    elif position==3:
        return 1
    elif position==4:
        return 0

In [8]:
goalkeepers = players['element_type'] == 1
defenders = players['element_type'] == 2
midfielders = players['element_type'] == 3
forwards = players['element_type'] == 4

In [9]:
home_coefficient = 1.0721855628874228
away_coefficient = 0.9280143971205758

In [10]:
team_names = np.sort(teamStats.index)
# for some reason the fpl team numbers are not alphabetical with leeds and leicester...
if (team_names[8]=='Leeds United') & (team_names[9]=='Leicester City'):
    team_names[8] = 'Leicester City'
    team_names[9] = 'Leeds United'
    
# how many gameweeks ahead do you want to look at
for number_gameweeks in [1,5,10]:
    expectations = pd.DataFrame(0, index=teamStats.index, \
                columns=['games','total_xG','total_xGA','xG per game', 'xGA per game'])
    gameweeks = np.arange(latest_gameweek+1, latest_gameweek+number_gameweeks+1)
    games = fixtures[fixtures['event'].isin(gameweeks)]
    for ix in games.index:
        home_team_number = games.loc[ix,'team_h']
        home_team = team_names[home_team_number-1]
        away_team_number = games.loc[ix,'team_a']
        away_team = team_names[away_team_number-1]

        home_xG = home_coefficient * coefficients.loc[home_team,'coefficient'] * \
                                    coefficients.loc[away_team,'xGA']
        away_xG = away_coefficient * coefficients.loc[away_team,'coefficient'] * \
                                    coefficients.loc[home_team,'xGA']
        expectations.loc[home_team,'total_xG'] += home_xG
        expectations.loc[home_team,'total_xGA'] += away_xG
        expectations.loc[home_team,'games'] += 1
        expectations.loc[away_team,'total_xG'] += away_xG
        expectations.loc[away_team,'total_xGA'] += home_xG
        expectations.loc[away_team,'games'] += 1

    expectations['xG per game'] = expectations['total_xG'] / expectations['games']
    expectations['xGA per game'] = expectations['total_xGA'] / expectations['games']
    print('expectations:')
    display(expectations)

    new_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    coefficients[new_column] = expectations['xG per game'] / coefficients['xG']
    print('coefficients:')
    display(coefficients)
    
    new_column = 'next' + str(number_gameweeks) + '_xP'
    multiplier_xG_xA_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    for ix in players.index:
        team = players.loc[ix,'team_name']
        position = players.loc[ix, 'element_type']

        # adjust xP based on xg and xa for the next game
        xg_points_per_game = players.loc[ix,'xG_points'] / players.loc[ix,'games played']
        xa_points_per_game = players.loc[ix,'xA_points'] / players.loc[ix,'games played']
        xpoints = xg_points_per_game + xa_points_per_game
        players.loc[ix, new_column] = players.loc[ix, 'adjusted points per game'] - \
                            xpoints + coefficients.loc[team, multiplier_xG_xA_column]*xpoints    

        # adjust xP based on probability to keep a clean sheet for the next game
        clean_sheet_points_per_game = players.loc[ix,'clean_sheet_points'] / \
                                        players.loc[ix,'games played']
        probability_clean_sheet_next = poisson.pmf(0, expectations.loc[team, 'xGA per game'])
        players.loc[ix, new_column] = players.loc[ix, new_column] - clean_sheet_points_per_game \
                + points_for_clean_sheet(position) * probability_clean_sheet_next

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      1  2.174639   0.519888     2.174639      0.519888
Manchester Utd       1  1.315886   1.447595     1.315886      1.447595
Leicester City       1  2.130791   1.249258     2.130791      1.249258
Liverpool            1  1.573420   1.262120     1.573420      1.262120
West Ham             1  1.262120   1.573420     1.262120      1.573420
Tottenham            1  1.080532   1.240787     1.080532      1.240787
Everton              1  1.443599   0.765256     1.443599      0.765256
Chelsea              1  1.908205   0.645385     1.908205      0.645385
Arsenal              1  1.447595   1.315886     1.447595      1.315886
Aston Villa          1  1.562951   0.999030     1.562951      0.999030
Southampton          1  0.999030   1.562951     0.999030      1.562951
Leeds United         1  1.249258   2.130791     1.249258      2.130791
Wolves               1  1.010502   0.872316     1.010502      0.872316
Crystal Palace       1  0.872316   1.010502     0.872316      1.010502
Burnley              1  0.645385   1.908205     0.645385      1.908205
Newcastle Utd        1  0.765256   1.443599     0.765256      1.443599
Brighton             1  1.240787   1.080532     1.240787      1.080532
Fulham               1  1.408261   0.800198     1.408261      0.800198
West Brom            1  0.800198   1.408261     0.800198      1.408261
Sheffield Utd        1  0.519888   2.174639     0.519888      2.174639

coefficients:

                       xG       xGA  coefficient  next1_xG_xA_multiplier
Squad
Manchester City  1.857895  0.768421     1.403619                1.170486
Manchester Utd   1.625000  1.295000     1.227670                0.809776
Leicester City   1.470000  1.110000     1.110569                1.449518
Liverpool        1.960000  1.125000     1.480759                0.802765
West Ham         1.385000  1.145000     1.046353                0.911278
Tottenham        1.394737  1.126316     1.053709                0.774721
Everton          1.233333  1.233333     0.931770                1.170486
Chelsea          1.565000  1.060000     1.182341                1.219300
Arsenal          1.380000  1.155000     1.042575                1.048982
Aston Villa      1.772222  1.266667     1.338895                0.881916
Southampton      0.973684  1.257895     0.735608                1.026031
Leeds United     1.605263  1.789474     1.212759                0.778226
Wolves           1.015000  1.210000     0.766822                0.995569
Crystal Palace   0.890000  1.420000     0.672385                0.980130
Burnley          0.868421  1.505263     0.656083                0.743171
Newcastle Utd    0.885000  1.445000     0.668608                0.864696
Brighton         1.360000  1.105000     1.027465                0.912344
Fulham           1.068421  1.531579     0.807181                1.318077
West Brom        0.645000  1.880000     0.487291                1.240617
Sheffield Utd    0.965000  1.445000     0.729047                0.538744

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City      5  8.800282   3.890783     1.760056      0.778157
Manchester Utd       5  8.638979   4.931526     1.727796      0.986305
Leicester City       5  7.601364   6.241296     1.520273      1.248259
Liverpool            5  8.031176   6.112573     1.606235      1.222515
West Ham             5  6.864019   6.102369     1.372804      1.220474
Tottenham            5  6.273111   5.944582     1.254622      1.188916
Everton              5  6.613608   6.874346     1.322722      1.374869
Chelsea              5  7.941536   4.165254     1.588307      0.833051
Arsenal              5  6.703133   6.727934     1.340627      1.345587
Aston Villa          5  7.831133   6.155393     1.566227      1.231079
Southampton          5  4.659872   6.395798     0.931974      1.279160
Leeds United         5  7.361102   8.266339     1.472220      1.653268
Wolves               5  5.239134   5.606216     1.047827      1.121243
Crystal Palace       5  4.665252   6.303783     0.933050      1.260757
Burnley              5  4.150274   7.070078     0.830055      1.414016
Newcastle Utd        5  4.146188   7.065540     0.829238      1.413108
Brighton             5  6.708472   5.674666     1.341694      1.134933
Fulham               5  5.534276   6.432198     1.106855      1.286440
West Brom            5  3.320272   8.466125     0.664054      1.693225
Sheffield Utd        5  4.628891   7.285276     0.925778      1.457055

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier
Squad,,,,,
Manchester City,1.857895,0.768421,1.403619,1.170486,0.947339
Manchester Utd,1.625000,1.295000,1.227670,0.809776,1.063259
Leicester City,1.470000,1.110000,1.110569,1.449518,1.034199
Liverpool,1.960000,1.125000,1.480759,0.802765,0.819508
West Ham,1.385000,1.145000,1.046353,0.911278,0.991194
Tottenham,1.394737,1.126316,1.053709,0.774721,0.899540
Everton,1.233333,1.233333,0.931770,1.170486,1.072477
Chelsea,1.565000,1.060000,1.182341,1.219300,1.014893
Arsenal,1.380000,1.155000,1.042575,1.048982,0.971469
Aston Villa,1.772222,1.266667,1.338895,0.881916,0.883764
Southampton,0.973684,1.257895,0.735608,1.026031,0.957163
Leeds United,1.605263,1.789474,1.212759,0.778226,0.917121
Wolves,1.015000,1.210000,0.766822,0.995569,1.032342
Crystal Palace,0.890000,1.420000,0.672385,0.980130,1.048371
Burnley,0.868421,1.505263,0.656083,0.743171,0.955821
Newcastle Utd,0.885000,1.445000,0.668608,0.864696,0.936992
Brighton,1.360000,1.105000,1.027465,0.912344,0.986540
Fulham,1.068421,1.531579,0.807181,1.318077,1.035973
West Brom,0.645000,1.880000,0.487291,1.240617,1.029542
Sheffield Utd,0.965000,1.445000,0.729047,0.538744,0.959356

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Squad
Manchester City     10  17.734180   7.639241     1.773418      0.763924
Manchester Utd      10  15.301543  11.947945     1.530154      1.194794
Leicester City      10  14.302465  11.515734     1.430247      1.151573
Liverpool           10  17.381263  11.251558     1.738126      1.125156
West Ham            10  13.345968  12.670533     1.334597      1.267053
Tottenham           10  13.541550  10.168489     1.354155      1.016849
Everton             10  13.334916  11.444643     1.333492      1.144464
Chelsea             10  16.727775   9.830059     1.672778      0.983006
Arsenal             10  12.857878  12.928072     1.285788      1.292807
Aston Villa         10  17.581099  11.550816     1.758110      1.155082
Southampton         10   9.315870  12.022150     0.931587      1.202215
Leeds United        10  15.277787  17.220221     1.527779      1.722022
Wolves              10   9.581976  12.869304     0.958198      1.286930
Crystal Palace      10   9.530710  12.650309     0.953071      1.265031
Burnley             10   7.946128  14.469437     0.794613      1.446944
Newcastle Utd       10   8.581191  13.649092     0.858119      1.364909
Brighton            10  13.749922  10.402482     1.374992      1.040248
Fulham              10  10.603224  15.885334     1.060322      1.588533
West Brom           10   6.418422  16.789424     0.641842      1.678942
Sheffield Utd       10   9.443344  15.652365     0.944334      1.565236

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier,next10_xG_xA_multiplier
Squad,,,,,,
Manchester City,1.857895,0.768421,1.403619,1.170486,0.947339,0.954531
Manchester Utd,1.625000,1.295000,1.227670,0.809776,1.063259,0.941633
Leicester City,1.470000,1.110000,1.110569,1.449518,1.034199,0.972957
Liverpool,1.960000,1.125000,1.480759,0.802765,0.819508,0.886799
West Ham,1.385000,1.145000,1.046353,0.911278,0.991194,0.963608
Tottenham,1.394737,1.126316,1.053709,0.774721,0.899540,0.970904
Everton,1.233333,1.233333,0.931770,1.170486,1.072477,1.081209
Chelsea,1.565000,1.060000,1.182341,1.219300,1.014893,1.068867
Arsenal,1.380000,1.155000,1.042575,1.048982,0.971469,0.931730
Aston Villa,1.772222,1.266667,1.338895,0.881916,0.883764,0.992037
Southampton,0.973684,1.257895,0.735608,1.026031,0.957163,0.956765
Leeds United,1.605263,1.789474,1.212759,0.778226,0.917121,0.951731
Wolves,1.015000,1.210000,0.766822,0.995569,1.032342,0.944037
Crystal Palace,0.890000,1.420000,0.672385,0.980130,1.048371,1.070866
Burnley,0.868421,1.505263,0.656083,0.743171,0.955821,0.915009
Newcastle Utd,0.885000,1.445000,0.668608,0.864696,0.936992,0.969626
Brighton,1.360000,1.105000,1.027465,0.912344,0.986540,1.011024
Fulham,1.068421,1.531579,0.807181,1.318077,1.035973,0.992420
West Brom,0.645000,1.880000,0.487291,1.240617,1.029542,0.995104
Sheffield Utd,0.965000,1.445000,0.729047,0.538744,0.959356,0.978585

In [11]:
metric = 'next1_xP'
#minGames = players['games played'] >= 3

numberToShow = 50
display(players.sort_values(by=[metric], ascending=False)[['web_name','team_name',\
         'now_cost','games played','total_points','adjusted points','points_per_game',\
         'adjusted points per game','next1_xP','next5_xP','next10_xP']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,next1_xP,next5_xP,next10_xP
id,,,,,,,,,,,
272,De Bruyne,Manchester City,119,16.964286,95,117.614519,5.6,6.933066,7.664478,6.743065,6.774983
224,Vardy,Leicester City,100,18.125000,116,108.929937,6.4,6.009928,7.342732,6.111327,5.929745
277,Cancelo,Manchester City,59,15.087719,86,81.284885,5.7,5.387487,6.063402,5.322396,5.355163
302,Fernandes,Manchester Utd,114,20.000000,142,132.886637,7.1,6.644332,5.984298,6.949990,6.482575
388,Kane,Tottenham,113,19.066667,143,124.146164,7.5,6.511162,5.893693,6.235812,6.431412
273,Stones,Manchester City,52,11.000000,77,56.904768,7.0,5.173161,5.812771,5.119284,5.150520
254,Salah,Liverpool,125,18.985507,131,116.058660,6.9,6.113013,5.476141,5.538108,5.771312
39,Hause,Aston Villa,44,4.000000,28,21.108309,7.0,5.277077,5.428107,5.126121,5.396988
276,Sterling,Manchester City,115,17.962963,97,88.742682,5.4,4.940314,5.403530,4.833155,4.853759
37,Grealish,Aston Villa,77,17.936508,113,99.641378,6.3,5.555227,5.367823,5.295851,5.570021
390,Son,Tottenham,98,19.054054,141,111.870264,7.4,5.871205,5.300547,5.612694,5.839538
556,Dias,Manchester City,59,16.938776,83,78.519813,4.9,4.635507,5.261538,4.585825,4.616487
271,Gündogan,Manchester City,57,14.035088,80,67.028698,5.7,4.775795,5.192337,4.683053,4.701688
275,Mahrez,Manchester City,81,14.000000,70,66.389910,5.0,4.742136,5.190813,4.639469,4.659459
155,Digne,Everton,60,10.000000,41,43.545248,4.1,4.354525,5.177969,4.255094,4.523730
251,Mané,Liverpool,118,19.074074,103,109.683640,5.4,5.750404,5.138011,5.197900,5.422753
164,Calvert-Lewin,Everton,76,17.017544,97,80.794969,5.7,4.747746,5.110405,4.901920,4.920496
123,James,Chelsea,51,14.000000,56,58.799010,4.0,4.199929,5.062325,4.563202,4.358068
232,Chilwell,Chelsea,61,17.000000,85,70.653964,5.0,4.156116,5.003584,4.518375,4.309567
508,Rodríguez,Everton,77,13.043478,60,58.496051,4.6,4.484697,4.946145,4.568494,4.648745
141,Zaha,Crystal Palace,72,17.068966,99,82.862035,5.8,4.854543,4.937239,4.992734,5.036386
5,Cédric,Arsenal,46,3.000000,15,15.079433,5.0,5.026478,4.878379,4.784970,4.809628
283,Zinchenko,Manchester City,55,6.041667,29,25.707164,4.8,4.254979,4.820677,4.223933,4.252051
109,Rüdiger,Chelsea,45,5.000000,24,20.129116,4.8,4.025823,4.790473,4.382458,4.153267
202,Bamford,Leeds United,67,18.909091,104,101.013711,5.5,5.342071,4.784737,5.133790,5.220768
280,Laporte,Manchester City,60,5.000000,13,20.674894,2.6,4.134979,4.740182,4.091730,4.121514
516,Areola,Fulham,45,17.894737,68,67.474942,3.8,3.770659,4.702843,4.010893,3.722782
12,Martínez,Aston Villa,51,17.884615,93,77.757341,5.2,4.347722,4.689629,4.384656,4.480505
270,Walker,Manchester City,61,14.090909,62,58.137081,4.4,4.125857,4.674636,4.100038,4.127441
24,Saka,Arsenal,54,18.000000,81,83.267262,4.5,4.625959,4.671387,4.517554,4.456826
506,Wilson,Newcastle Utd,66,17.962963,97,88.173711,5.4,4.908640,4.654949,4.790501,4.851689
514,Watkins,Aston Villa,62,18.043478,83,89.234969,4.6,4.945552,4.640321,4.645098,4.924969
366,Ings,Southampton,84,13.888889,75,63.736226,5.4,4.589008,4.632191,4.517947,4.517287
4,Aubameyang,Arsenal,113,16.904762,71,76.244715,4.2,4.510251,4.562003,4.398162,4.332303
110,Zouma,Chelsea,57,15.000000,78,56.187349,5.2,3.745823,4.536789,4.104245,3.881531
235,Barnes,Leicester City,68,19.111111,86,76.094464,4.5,3.981687,4.529230,3.984048,3.932749
278,Ederson,Manchester City,60,17.826087,82,71.067015,4.6,3.986686,4.510057,3.968715,3.995047
117,Werner,Chelsea,92,18.918919,70,77.593711,3.7,4.101382,4.496655,4.128225,4.225510
165,Holgate,Everton,48,9.000000,36,33.287516,4.0,3.698613,4.485118,3.583478,3.850223
490,Thiago Silva,Chelsea,56,15.000000,69,55.187349,4.6,3.679157,4.470123,4.037579,3.814864
461,Saïss,Wolves,50,13.913043,64,55.295327,4.6,3.974352,4.450722,4.105284,3.851036
105,Jorginho,Chelsea,47,12.051282,47,47.072721,3.9,3.906034,4.449804,4.019139,4.048625
437,Antonio,West Ham,64,12.045455,53,55.298742,4.4,4.590839,4.411118,4.573001,4.517121
557,Lookman,Fulham,50,16.111111,58,59.799353,3.6,3.711684,4.411053,3.824481,3.688602
538,Steffen,Manchester City,44,1.000000,2,3.854979,2.0,3.854979,4.378349,3.837007,3.863339
96,Pope,Burnley,54,17.924528,95,83.514033,5.3,4.659204,4.356157,4.742549,4.709677
284,Foden,Manchester City,63,14.883721,64,59.598473,4.3,4.004272,4.352751,3.932555,3.948318
255,Robertson,Liverpool,74,20.000000,90,93.465908,4.5,4.673295,4.329388,4.390197,4.571212
120,Mount,Chelsea,68,18.947368,72,73.758137,3.8,3.892791,4.310381,3.997326,3.995757
156,Keane,Everton,51,17.179487,67,60.518905,3.9,3.522742,4.292750,3.400594,3.666494

In [12]:
# save predictions
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players.to_csv(filepath)