# Tableau and player form

Here we create a csv file that is used for making further Tableau visualizations.

In [1]:
# recent gameweek
gameweek = 20

In [2]:
# import basic libraries
import pandas as pd
import numpy as np

pd.set_option('max_columns',100)

In [3]:
# fetch player stats data
all_df = pd.read_csv('../data/fpl/data_week1.csv', index_col=0)
all_df['gameweek'] = 1
all_df['xPoints'] = all_df['adjusted points']

for week in range(2,gameweek+1):
    filepath = '../data/fpl/data_week' + str(week) + '.csv'
    df = pd.read_csv(filepath, index_col=0)
    df['gameweek'] = week
    column_name = 'xPoints week ' + str(week)
    df['xPoints'] = df[column_name]
    all_df = all_df.append(df,sort='False')

all_df.shape

(11988, 228)

In [4]:
# calculate player form
for i in [5,10]:
    gameweeks = np.arange(gameweek-i+1,gameweek+1)
    column_name = 'form ' + str(i)
    all_df.loc[all_df['gameweek']==gameweek, column_name] = (all_df[all_df['gameweek'].isin(gameweeks)].groupby(['id'])['xPoints'].sum() / (all_df.loc[(all_df['gameweek']==gameweek),'games played'].round() - all_df.loc[(all_df['gameweek']==gameweek-i),'games played'].round()) )

In [5]:
# top form players
all_df[all_df['gameweek']==gameweek][['web_name', 'games played','total_points', 'points_per_game','adjusted points','adjusted points per game',\
                                'form 5', 'form 10']].sort_values(by=['form 5'], ascending=False).head(20)

,web_name,games played,total_points,points_per_game,adjusted points,adjusted points per game,form 5,form 10
id,,,,,,,,
542,Reguilón,12.926829,53,4.1,51.261061,3.965478,7.273494,4.144558
24,Saka,18.000000,81,4.5,83.267262,4.625959,7.257440,5.836272
5,Cédric,3.000000,15,5.0,15.079433,5.026478,7.231681,NaN
272,De Bruyne,16.964286,95,5.6,117.614519,6.933066,7.178408,7.827081
17,Tierney,17.105263,65,3.8,62.254053,3.639468,7.103196,4.937927
388,Kane,19.066667,143,7.5,124.146164,6.511162,6.816930,5.665632
4,Aubameyang,16.904762,71,4.2,76.244715,4.510251,6.682087,5.596331
271,Gündogan,14.035088,80,5.7,67.028698,4.775795,6.443247,6.139186
458,Boly,13.846154,54,3.9,48.414284,3.496587,6.167920,4.157686
556,Dias,16.938776,83,4.9,78.519813,4.635507,5.944705,5.454080
435,Cresswell,20.000000,92,4.6,86.449108,4.322455,5.872946,4.469276
390,Son,19.054054,141,7.4,111.870264,5.871205,5.864130,5.615786
302,Fernandes,20.000000,142,7.1,132.886637,6.644332,5.849749,6.574855
277,Cancelo,15.087719,86,5.7,81.284885,5.387487,5.785390,5.534422
251,Mané,19.074074,103,5.4,109.683640,5.750404,5.727121,5.429345
16,Holding,17.142857,60,3.5,58.702688,3.424323,5.617176,4.291030
128,Guaita,20.000000,64,3.2,71.337121,3.566856,5.531667,4.507061
273,Stones,11.000000,77,7.0,56.904768,5.173161,5.445642,5.596022
235,Barnes,19.111111,86,4.5,76.094464,3.981687,5.434005,3.965703
437,Antonio,12.045455,53,4.4,55.298742,4.590839,5.379748,5.379748

In [6]:
# save data
filepath = '../data/fpl/all_data.csv'
all_df.to_csv(filepath)

filepath = '../data/fpl/data_week' + str(gameweek) + '.csv'
all_df[all_df['gameweek']==gameweek].to_csv(filepath)