# Player evaluation

Here we compare players based on their adjusted points. Also, we calculate some useful metrics using the adjusted points to further evaluate player performance in FPL.

In [1]:
# recent gameweek
gameweek = 16

In [2]:
# import basic libraries
import pandas as pd
import numpy as np

pd.set_option('max_columns',100)

In [3]:
# fetch data
df = pd.read_csv('../data/data_week' + str(gameweek) + '.csv', index_col=0, encoding='latin-1')
df.head()

,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,creativity,dreamteam_count,element_type,ep_next,ep_this,event_points,first_name,form,goals_conceded,goals_scored,ict_index,in_dreamteam,influence,minutes,news,news_added,now_cost,own_goals,penalties_missed,penalties_saved,photo,points_per_game,red_cards,saves,second_name,selected_by_percent,special,squad_number,status,team,team_code,threat,total_points,transfers_in,transfers_in_event,transfers_out,transfers_out_event,value_form,value_season,web_name,yellow_cards,games played,adjusted points,adjusted points per game,form 5,value,valuePoints metric
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,1,0,24,100.0,100.0,0,69140,0,0,-3,3,0.8,0,2,0.5,1.5,0,Shkodran,1.0,2,0,7.5,False,19.8,90,NaN,2019-11-28T23:00:21.541666Z,52,0,0,0,69140.jpg,4.0,0,0,Mustafi,0.3,False,NaN,a,1,3,54.0,4,7667,72,31570,195,0.2,0.8,Mustafi,0,1.000000,4.308389,4.308389,NaN,0.828536,1.889353
2,0,0,26,75.0,100.0,0,98745,0,0,-1,1,22.7,0,2,-0.2,0.7,0,Héctor,0.2,6,0,6.9,False,30.8,262,Hamstring injury - 75% chance of playing,2019-12-09T20:00:21.228098Z,54,0,0,0,98745.jpg,0.3,0,0,Bellerín,0.3,False,NaN,d,1,3,15.0,1,34509,502,30240,943,0.0,0.2,Bellerín,2,3.333333,4.147716,1.244315,NaN,0.230429,0.535468
3,2,1,191,100.0,100.0,1,111457,0,0,-3,3,148.9,0,2,1.5,2.5,5,Sead,2.0,14,0,37.3,False,172.6,889,NaN,2019-11-21T14:30:19.207005Z,52,0,0,0,111457.jpg,2.1,0,0,Kolasinac,0.6,False,NaN,a,1,3,53.0,27,45487,339,106342,720,0.4,5.2,Kolasinac,2,12.857143,36.192194,2.814948,3.210629,0.541336,1.234437
4,2,3,106,100.0,100.0,1,154043,0,0,-4,4,110.0,1,2,0.0,1.0,2,Ainsley,0.5,11,0,29.3,False,155.0,580,NaN,2019-09-22T18:00:10.824841Z,46,0,0,0,154043.jpg,2.7,1,0,Maitland-Niles,2.6,False,NaN,a,1,3,33.0,19,544862,228,560581,3143,0.1,4.1,Maitland-Niles,0,7.037037,21.419992,3.043894,3.175771,0.661716,1.419223
5,0,2,217,NaN,NaN,2,39476,0,0,-1,1,30.4,0,2,0.0,1.0,2,Sokratis,0.5,20,1,43.1,False,328.8,1260,NaN,NaN,49,0,0,0,39476.jpg,2.4,0,0,Papastathopoulos,1.6,False,NaN,a,1,3,71.0,33,106569,326,134728,2389,0.1,6.7,Sokratis,4,13.750000,33.146827,2.410678,1.860761,0.491975,1.089033

In [4]:
# fetch team data
filepath = '../data/fbref/team_stats_week' + str(gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col=0, encoding='latin-1')

# fetch player stats data
filepath = '../data/fbref/player_stats_week' + str(gameweek) + '.csv'
playerStats = pd.read_csv(filepath, index_col=0, skiprows=1, encoding='latin-1')

## Value and value points

Here we calculate two interesting metrics: 'value' and 'value points'. 

Value is simply adjusted points per game divided by the cost of the player. Essentially, this measures how many 'points per pound(/euro/whatever)' has the player gained on an average game week. 

The value points is calculated as the geometric mean of a players adjusted points per game and value. Essentially, in FPL we want to gain the maximum possible amount of points. However, we are restrained by a limited budget, so that in practice we cannot just pick all the best players. Then, we would like to have a squad of players that give the most points given our budget. Thus, we would like to pick players that have high value ('bang for buck'). However, often the players with highest value are very cheap players who somewhat overperform relative to their price. Picking a squad full of these players might leave a part of our budget unused. Calculating the geometric mean of adjusted points and value allows us to weigh both aspects equally, i.e. we want players that both gain a lot of points but also have good value. For example, this metric values equally two players, where one has twice the points per game of the other who in turn has twice the value of the other.

In [5]:
# value = expected points / cost
df['value'] = df['adjusted points per game'] / (df['now_cost'] / 10.0)
# geometric mean of 'adjusted points per game' and 'value'
df['valuePoints metric'] = np.sqrt(df['adjusted points per game'] * df['value'])

In [6]:
# assign proper team names for each player
team_names = np.sort(teamStats['Squad'])
df['team_name'] = team_names[df['team']-1]

In [7]:
# save data
filepath = '../data/data_week' + str(gameweek) + str('.csv')
df.to_csv(filepath)

In [8]:
goalkeepers = df['element_type'] == 1
defenders = df['element_type'] == 2
midfielders = df['element_type'] == 3
forwards = df['element_type'] == 4

minGames = df['games played'] >= 3

## Player evaluation

Below we compile lists for each position sorting players based on a given metric.

In [9]:
metric = 'valuePoints metric'
#metric = 'adjusted points per game'
#metric = 'form 5'

numberToShow = 40

print('GOALKEEPERS')
display(df[goalkeepers & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'valuePoints metric']].head(numberToShow))
print('DEFENDERS')
display(df[defenders & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'valuePoints metric']].head(numberToShow))
print('MIDFIELDERS')
display(df[midfielders & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'valuePoints metric']].head(numberToShow))
print('FORWARDS')
display(df[forwards & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'valuePoints metric']].head(numberToShow))

GOALKEEPERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,valuePoints metric
id,,,,,,,,,,
411,Patrício,Wolves,52,15.897436,62,69.102762,3.9,4.346787,3.998669,1.906192
280,Krul,Norwich City,45,14.054054,52,53.647562,3.7,3.817230,3.086818,1.799460
341,Gazzaniga,Tottenham,46,10.000000,31,38.569610,3.1,3.856961,3.287341,1.798317
553,Martin,West Ham,40,3.023256,13,10.699151,4.3,3.538950,NaN,1.769475
47,Ryan,Brighton,48,15.853659,65,60.804073,4.1,3.835334,3.291170,1.750582
471,Henderson,Sheffield Utd,47,14.871795,58,56.142565,3.9,3.775103,3.845623,1.741325
168,Schmeichel,Leicester City,54,16.190476,68,65.334958,4.2,4.035394,3.903842,1.736557
494,Ramsdale,Bournemouth,46,15.789474,60,58.646777,3.8,3.714296,2.846363,1.731799
235,de Gea,Manchester Utd,55,16.129032,50,64.296178,3.1,3.986363,2.775315,1.699791
14,Leno,Arsenal,50,15.882353,54,59.568528,3.4,3.750611,4.555082,1.677324
93,Pope,Burnley,47,16.000000,56,57.618897,3.5,3.601181,2.208832,1.661101
131,Guaita,Crystal Palace,50,13.863636,61,51.197469,4.4,3.692932,5.212198,1.651529
340,Lloris,Tottenham,53,6.969697,23,26.227304,3.3,3.763048,NaN,1.634564
262,Dubravka,Newcastle Utd,50,15.789474,60,55.253035,3.8,3.499359,4.193582,1.564961
388,Fabianski,West Ham,49,6.956522,32,23.909752,4.6,3.437027,NaN,1.552690
526,Adrián,Liverpool,42,10.000000,25,31.715178,2.5,3.171518,2.102961,1.547542
366,Foster,Watford,48,15.833333,57,52.468968,3.6,3.313830,2.842947,1.512549
212,Ederson,Manchester City,60,14.857143,52,53.322761,3.5,3.589032,3.244922,1.465216
450,Roberto,West Ham,44,7.083333,17,20.981024,2.4,2.962027,2.654193,1.412091
319,Gunn,Southampton,44,10.000000,29,29.025544,2.9,2.902554,NaN,1.383739
148,Pickford,Everton,54,15.714286,44,48.397265,2.8,3.079826,2.067914,1.325346
111,Kepa,Chelsea,55,16.000000,40,49.303749,2.5,3.081484,3.399971,1.313949
189,Alisson,Liverpool,60,8.181818,18,26.039691,2.2,3.182629,3.135110,1.299303
318,McCarthy,Southampton,43,6.111111,11,15.904499,1.8,2.602554,2.909704,1.255063
94,Heaton,Aston Villa,45,15.000000,42,37.919631,2.8,2.527975,1.567172,1.191699

DEFENDERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,valuePoints metric
id,,,,,,,,,,
297,Lundstram,Sheffield Utd,51,15.918367,78,80.827459,4.9,5.077622,3.952449,2.248409
182,Alexander-Arnold,Liverpool,73,16.190476,68,86.603092,4.2,5.349014,4.742521,1.979759
162,Evans,Leicester City,52,15.957447,75,69.987096,4.7,4.385858,6.694943,1.923326
181,Robertson,Liverpool,71,16.000000,72,81.414655,4.5,5.088416,3.983191,1.909648
185,Matip,Liverpool,52,6.956522,32,30.036645,4.6,4.317768,NaN,1.893466
161,Chilwell,Leicester City,58,12.941176,66,58.033071,5.1,4.484374,4.966420,1.862035
164,Söyüncü,Leicester City,51,15.909091,70,66.659146,4.4,4.190003,5.231467,1.855365
208,Otamendi,Manchester City,50,10.000000,36,41.205933,3.6,4.120593,4.787535,1.842785
405,Boly,Wolves,48,8.095238,34,32.618384,4.2,4.029330,NaN,1.839129
159,Pereira,Leicester City,65,15.961538,83,74.039273,5.2,4.638605,5.496658,1.819411
401,Doherty,Wolves,60,15.128205,59,67.293035,3.9,4.448184,4.643177,1.815963
336,Aurier,Tottenham,50,10.930233,47,42.350522,4.3,3.874622,3.993798,1.732784
294,Baldock,Sheffield Utd,47,16.136364,71,59.147474,4.4,3.665477,5.008278,1.690759
440,Angeliño,Manchester City,47,6.111111,11,22.224654,1.8,3.636762,3.635963,1.677513
163,Fuchs,Leicester City,43,3.928571,11,13.301865,2.8,3.385929,3.459398,1.632840
518,Cancelo,Manchester City,53,5.937500,19,22.221416,3.2,3.742554,3.326766,1.625662
293,O'Connell,Sheffield Utd,46,16.250000,52,56.377954,3.2,3.469413,3.545513,1.617622
529,Tomori,Chelsea,48,11.142857,39,39.436540,3.5,3.539177,4.956755,1.615406
291,Stevens,Sheffield Utd,51,16.153846,63,58.914727,3.9,3.647102,3.867171,1.614964
359,Janmaat,Watford,42,8.000000,36,26.445763,4.5,3.305720,4.432958,1.613026
183,van Dijk,Liverpool,64,16.097561,66,65.687847,4.1,4.080609,4.235331,1.613002
128,Kelly,Crystal Palace,43,11.111111,50,37.132737,4.5,3.341946,3.585431,1.611630
309,Targett,Aston Villa,44,10.000000,40,33.787902,4.0,3.378790,2.169321,1.610775
498,Willems,Newcastle Utd,47,12.888889,58,44.493959,4.5,3.452117,2.373362,1.592343
103,Alonso,Chelsea,60,7.058824,36,27.506861,5.1,3.896805,NaN,1.590864
402,Jonny,Wolves,54,15.000000,45,54.552648,3.0,3.636843,4.692434,1.565048
84,Tarkowski,Burnley,51,15.833333,57,55.223723,3.6,3.487814,2.639864,1.544430
63,Adam Smith,Bournemouth,43,10.000000,32,31.282786,3.2,3.128279,2.684703,1.508590
186,Lovren,Liverpool,53,8.000000,16,27.526216,2.0,3.440777,3.276360,1.494578
203,Walker,Manchester City,58,13.000000,39,46.765564,3.0,3.597351,2.701103,1.493719
295,Egan,Sheffield Utd,45,15.000000,48,47.498966,3.2,3.166598,2.825027,1.492748
6,Monreal,Arsenal,50,3.030303,10,10.088832,3.3,3.329315,NaN,1.488915
511,Sidibé,Everton,53,9.032258,28,30.887043,3.1,3.419637,3.479444,1.485395
160,Maguire,Manchester Utd,53,16.190476,34,55.281115,2.1,3.414422,2.408434,1.483130
506,James,Chelsea,50,8.181818,18,27.048037,2.2,3.305871,4.550113,1.478431
423,Basham,Sheffield Utd,45,15.862069,46,49.550631,2.9,3.123844,2.588505,1.472594
206,Zinchenko,Manchester City,52,6.923077,18,23.235902,2.6,3.356297,NaN,1.471834
65,Rico,Bournemouth,43,12.941176,44,39.357069,3.4,3.041228,2.560104,1.466610
403,Coady,Wolves,50,15.714286,44,51.136602,2.8,3.254147,3.663467,1.455299
61,Mepham,Bournemouth,43,5.925926,16,17.876274,2.7,3.016621,2.472733,1.454744

MIDFIELDERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,valuePoints metric
id,,,,,,,,,,
215,De Bruyne,Manchester City,102,14.923077,97,96.095088,6.5,6.439362,5.774794,2.016242
171,Maddison,Leicester City,77,15.087719,86,81.532926,5.7,5.403927,7.592412,1.947440
196,Keita,Liverpool,58,3.018868,16,14.064654,5.3,4.658916,11.362441,1.934510
191,Salah,Liverpool,122,12.941176,88,85.677089,6.8,6.620502,8.060977,1.895444
431,Pulisic,Chelsea,75,13.125000,63,66.231155,4.8,5.046183,4.796177,1.842606
192,Mané,Liverpool,123,14.931507,109,95.617439,7.3,6.403737,8.423082,1.825917
287,Cantwell,Norwich City,47,15.789474,60,61.717863,3.8,3.908798,3.622369,1.802994
239,Martial,Manchester Utd,76,10.000000,52,49.518130,5.2,4.951813,4.487797,1.796211
29,Grealish,Aston Villa,60,14.042553,66,60.869827,4.7,4.334669,3.890697,1.769621
219,David Silva,Manchester City,76,14.905660,79,71.780691,5.3,4.815667,4.770467,1.746826
214,Sterling,Manchester City,118,15.000000,81,89.136021,5.4,5.942401,4.887283,1.729900
463,Mount,Chelsea,66,16.046512,69,69.849568,4.3,4.352944,3.479482,1.694381
417,Traoré,Wolves,52,14.864865,55,56.762770,3.7,3.818586,3.380788,1.674561
269,Shelvey,Newcastle Utd,50,11.000000,55,40.759904,5.0,3.705446,5.110297,1.657126
114,Pedro,Chelsea,68,4.090909,9,17.361745,2.2,4.243982,4.670332,1.627493
217,Mahrez,Manchester City,83,11.929825,68,55.804823,5.7,4.677757,4.072637,1.623673
30,El Ghazi,Aston Villa,55,13.846154,54,52.643903,3.9,3.802060,3.927113,1.621204
321,Ward-Prowse,Southampton,59,15.945946,59,62.753446,3.7,3.935386,3.914557,1.620173
344,Alli,Tottenham,87,8.955224,60,41.783777,6.7,4.665855,5.620795,1.581873
172,Barnes,Leicester City,59,14.857143,52,56.644861,3.5,3.812635,4.414296,1.569637
218,Bernardo Silva,Manchester City,79,14.130435,65,61.286246,4.6,4.337181,3.978420,1.543100
31,McGinn,Aston Villa,58,16.111111,58,59.034716,3.6,3.664224,2.165671,1.521486
301,Fleck,Sheffield Utd,49,14.193548,44,47.682862,3.1,3.359474,3.620190,1.517656
265,Pérez,Leicester City,62,13.902439,57,52.118002,4.1,3.748839,4.643090,1.505570
448,Tielemans,Leicester City,66,15.952381,67,61.655024,4.2,3.864942,3.618208,1.504427
119,Kanté,Chelsea,50,8.918919,33,29.968850,3.7,3.360144,3.507331,1.502702
421,Trossard,Brighton,58,10.000000,39,36.177708,3.9,3.617771,2.877451,1.502198
243,James,Manchester Utd,61,15.945946,59,58.827068,3.7,3.689155,3.815084,1.493695
113,Willian,Chelsea,70,15.135135,56,59.800271,3.7,3.951089,3.730239,1.493371
415,Moutinho,Wolves,54,16.111111,58,55.869617,3.6,3.467769,4.521602,1.492290
150,Richarlison,Everton,78,15.918367,78,66.114776,4.9,4.153364,3.847107,1.487143
238,Pogba,Manchester Utd,84,5.000000,15,21.536102,3.0,4.307220,NaN,1.486132
371,Cleverley,Watford,49,8.888889,24,28.825469,2.7,3.242865,NaN,1.464977
248,McTominay,Manchester Utd,51,14.166667,51,46.004017,3.6,3.247342,2.133183,1.437947
17,Iwobi,Everton,56,13.913043,32,45.629434,2.3,3.279616,3.048571,1.385891
117,Barkley,Chelsea,56,6.000000,9,19.597227,1.5,3.266204,NaN,1.380223
118,Jorginho,Chelsea,50,14.000000,42,42.722417,3.0,3.051601,1.737813,1.364718
15,Özil,Arsenal,72,7.000000,21,25.303199,3.0,3.614743,4.405358,1.347135
392,Yarmolenko,West Ham,56,14.117647,48,44.737698,3.4,3.168920,1.350851,1.339113
96,Gudmundsson,Burnley,59,4.047619,17,13.134454,4.2,3.244983,NaN,1.335938

FORWARDS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,valuePoints metric
id,,,,,,,,,,
233,Rashford,Manchester Utd,89,16.031746,101,100.170370,6.3,6.248251,8.399026,2.094418
460,Abraham,Chelsea,79,14.923077,97,87.362222,6.5,5.854170,5.839820,2.082820
166,Vardy,Leicester City,101,16.000000,128,102.916296,8.0,6.432269,9.726321,2.023967
278,Pukki,Norwich City,66,16.153846,84,78.162222,5.2,4.838614,4.746643,1.883428
409,Jiménez,Wolves,75,16.000000,80,81.716296,5.0,5.107269,5.630897,1.864911
313,Ings,Southampton,63,16.153846,84,74.554074,5.2,4.615252,6.140489,1.838760
502,Maupay,Brighton,58,16.000000,64,70.600000,4.0,4.412500,5.026667,1.832191
68,King,Bournemouth,61,11.904762,50,51.462222,4.2,4.322827,7.705919,1.750261
11,Aubameyang,Arsenal,109,16.031746,101,87.062222,6.3,5.430614,7.350845,1.644886
210,Agüero,Manchester City,118,12.000000,72,67.762222,6.0,5.646852,3.675923,1.643862
91,Wood,Burnley,62,13.947368,53,57.000000,3.8,4.086792,3.400000,1.641295
468,Ayew,Crystal Palace,51,15.000000,54,53.900000,3.6,3.593333,2.440000,1.591155
187,Firmino,Liverpool,94,15.869565,73,76.870370,4.6,4.843886,3.750862,1.579902
90,Barnes,Burnley,63,13.846154,54,53.900000,3.9,3.892778,2.960000,1.550920
303,McGoldrick,Sheffield Utd,54,12.727273,28,45.154074,2.2,3.547820,3.406344,1.526739
428,Wesley,Aston Villa,58,15.882353,54,56.854074,3.4,3.579701,2.320489,1.486390
410,Jota,Wolves,61,14.193548,44,51.754074,3.1,3.646310,4.952331,1.476348
70,Mousset,Sheffield Utd,51,13.023256,56,42.362222,4.3,3.252813,3.301468,1.440370
457,Haller,West Ham,70,15.000000,54,55.308148,3.6,3.687210,1.680979,1.393634
67,Callum Wilson,Bournemouth,75,15.897436,62,60.262222,3.9,3.790688,2.281468,1.384164
363,Deulofeu,Watford,61,15.862069,46,53.508148,2.9,3.373340,3.426834,1.365825
147,Calvert-Lewin,Everton,57,14.062500,45,45.100000,3.2,3.207111,4.300000,1.343311
211,Jesus,Manchester City,96,12.894737,49,53.408148,3.8,4.141856,5.040979,1.336778
338,Kane,Tottenham,109,15.090909,83,66.008148,5.5,4.374034,4.631847,1.324857
12,Lacazette,Arsenal,93,10.000000,47,38.008148,4.7,3.800815,4.684194,1.246336
534,Connolly,Brighton,47,11.000000,33,29.008148,3.0,2.637104,2.353422,1.216406
466,Joelinton,Newcastle Utd,56,16.086957,37,41.554074,2.3,2.583091,1.787156,1.091555
362,Deeney,Watford,62,5.000000,9,13.100000,1.8,2.620000,2.136364,1.052217
364,Gray,Watford,56,14.736842,28,36.200000,1.9,2.456429,1.386667,1.038031
315,Long,Southampton,46,7.777778,14,16.854074,1.8,2.166952,3.159541,1.010347
146,Tosun,Everton,57,4.000000,10,9.400000,2.5,2.350000,3.233333,0.984307
188,Origi,Liverpool,52,12.068966,35,26.954074,2.9,2.233338,4.746555,0.979383
69,Solanke,Bournemouth,52,14.000000,21,30.700000,1.5,2.192857,2.446154,0.961631
437,Adams,Southampton,54,11.111111,20,24.254074,1.8,2.182867,1.001485,0.939356
487,Cutrone,Wolves,56,11.000000,22,23.600000,2.0,2.145455,1.360000,0.906620
512,Welbeck,Watford,58,5.000000,7,10.500000,1.4,2.100000,NaN,0.871978
110,Giroud,Chelsea,66,5.000000,7,11.200000,1.4,2.240000,4.000000,0.871919
501,McBurnie,Sheffield Utd,57,14.210526,27,28.400000,1.9,1.998519,1.971429,0.837087
496,Kean,Everton,64,10.666667,16,21.254074,1.5,1.992569,2.158816,0.787632
504,Martinelli,Arsenal,45,8.000000,16,12.854074,2.0,1.606759,2.927497,0.757434

Below we compile a list sorting players based on a given metric (irrespective of position).

In [10]:
#metric = 'adjusted points per game'
metric = 'form 5'

display(df[minGames].sort_values(by=[metric], ascending=False)[['web_name','team','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'valuePoints metric']].head(numberToShow))

,web_name,team,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,valuePoints metric
id,,,,,,,,,,
196,Keita,10,58,3.018868,16,14.064654,5.3,4.658916,11.362441,1.934510
166,Vardy,9,101,16.000000,128,102.916296,8.0,6.432269,9.726321,2.023967
192,Mané,10,123,14.931507,109,95.617439,7.3,6.403737,8.423082,1.825917
233,Rashford,12,89,16.031746,101,100.170370,6.3,6.248251,8.399026,2.094418
191,Salah,10,122,12.941176,88,85.677089,6.8,6.620502,8.060977,1.895444
68,King,3,61,11.904762,50,51.462222,4.2,4.322827,7.705919,1.750261
171,Maddison,9,77,15.087719,86,81.532926,5.7,5.403927,7.592412,1.947440
11,Aubameyang,1,109,16.031746,101,87.062222,6.3,5.430614,7.350845,1.644886
162,Evans,9,52,15.957447,75,69.987096,4.7,4.385858,6.694943,1.923326
313,Ings,16,63,16.153846,84,74.554074,5.2,4.615252,6.140489,1.838760
460,Abraham,6,79,14.923077,97,87.362222,6.5,5.854170,5.839820,2.082820
215,De Bruyne,11,102,14.923077,97,96.095088,6.5,6.439362,5.774794,2.016242
409,Jiménez,20,75,16.000000,80,81.716296,5.0,5.107269,5.630897,1.864911
344,Alli,17,87,8.955224,60,41.783777,6.7,4.665855,5.620795,1.581873
159,Pereira,9,65,15.961538,83,74.039273,5.2,4.638605,5.496658,1.819411
164,Söyüncü,9,51,15.909091,70,66.659146,4.4,4.190003,5.231467,1.855365
131,Guaita,7,50,13.863636,61,51.197469,4.4,3.692932,5.212198,1.651529
269,Shelvey,13,50,11.000000,55,40.759904,5.0,3.705446,5.110297,1.657126
211,Jesus,11,96,12.894737,49,53.408148,3.8,4.141856,5.040979,1.336778
502,Maupay,4,58,16.000000,64,70.600000,4.0,4.412500,5.026667,1.832191
294,Baldock,15,47,16.136364,71,59.147474,4.4,3.665477,5.008278,1.690759
161,Chilwell,9,58,12.941176,66,58.033071,5.1,4.484374,4.966420,1.862035
529,Tomori,6,48,11.142857,39,39.436540,3.5,3.539177,4.956755,1.615406
410,Jota,20,61,14.193548,44,51.754074,3.1,3.646310,4.952331,1.476348
214,Sterling,11,118,15.000000,81,89.136021,5.4,5.942401,4.887283,1.729900
431,Pulisic,6,75,13.125000,63,66.231155,4.8,5.046183,4.796177,1.842606
208,Otamendi,11,50,10.000000,36,41.205933,3.6,4.120593,4.787535,1.842785
219,David Silva,11,76,14.905660,79,71.780691,5.3,4.815667,4.770467,1.746826
278,Pukki,14,66,16.153846,84,78.162222,5.2,4.838614,4.746643,1.883428
188,Origi,10,52,12.068966,35,26.954074,2.9,2.233338,4.746555,0.979383
182,Alexander-Arnold,10,73,16.190476,68,86.603092,4.2,5.349014,4.742521,1.979759
305,Bertrand,16,48,10.833333,13,24.748413,1.2,2.284469,4.701997,1.042713
402,Jonny,20,54,15.000000,45,54.552648,3.0,3.636843,4.692434,1.565048
12,Lacazette,1,93,10.000000,47,38.008148,4.7,3.800815,4.684194,1.246336
114,Pedro,6,68,4.090909,9,17.361745,2.2,4.243982,4.670332,1.627493
401,Doherty,20,60,15.128205,59,67.293035,3.9,4.448184,4.643177,1.815963
265,Pérez,9,62,13.902439,57,52.118002,4.1,3.748839,4.643090,1.505570
342,Son,17,100,13.968254,88,53.507800,6.3,3.830672,4.635386,1.211365
338,Kane,17,109,15.090909,83,66.008148,5.5,4.374034,4.631847,1.324857
330,Vertonghen,17,52,8.928571,25,26.012655,2.8,2.913417,4.569920,1.277618