# Player evaluation

Here we compare players based on their adjusted points. Also, we calculate some useful metrics using the adjusted points to further evaluate player performance in FPL.

In [1]:
# recent gameweek
gameweek = 29

In [2]:
# import basic libraries
import pandas as pd
import numpy as np

pd.set_option('max_columns',100)

In [3]:
# fetch FPL data
filepath = '../data/data_week' + str(gameweek) + '.csv'
df = pd.read_csv(filepath, index_col=0)#, encoding='latin-1')

# fetch team data
filepath = '../data/fbref/team_stats_week' + str(gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col=0)#, encoding='latin-1')

# fetch player stats data
filepath = '../data/fbref/player_stats_week' + str(gameweek) + '.csv'
playerStats = pd.read_csv(filepath, index_col=0, skiprows=1)#, encoding='latin-1')

## Value and value points

Here we calculate two interesting metrics: 'value' and 'value points'. 

Value is simply adjusted points per game divided by the cost of the player. Essentially, this measures how many 'points per pound(/euro/whatever)' has the player gained on an average game week. 

The value points is calculated as the geometric mean of a players adjusted points per game and value. Essentially, in FPL we want to gain the maximum possible amount of points. However, we are restrained by a limited budget, so that in practice we cannot just pick all the best players. Then, we would like to have a squad of players that give the most points given our budget. Thus, we would like to pick players that have high value ('bang for buck'). However, often the players with highest value are very cheap players who somewhat overperform relative to their price. Picking a squad full of these players might leave a part of our budget unused. Calculating the geometric mean of adjusted points and value allows us to weigh both aspects equally, i.e. we want players that both gain a lot of points but also have good value. For example, this metric values equally two players, where one has twice the points per game of the other who in turn has twice the value of the other.

In [4]:
# value = expected points / cost
df['value'] = df['adjusted points per game'] / (df['now_cost'] / 10.0)
# geometric mean of 'adjusted points per game' and 'value'
df['valuePoints metric'] = np.sqrt(df['adjusted points per game'] * df['value'])

In [5]:
# assign proper team names for each player
team_names = np.sort(teamStats['Squad'])
df['team_name'] = team_names[df['team']-1]

In [6]:
# save data
filepath = '../data/data_week' + str(gameweek) + str('.csv')
df.to_csv(filepath)

In [7]:
goalkeepers = df['element_type'] == 1
defenders = df['element_type'] == 2
midfielders = df['element_type'] == 3
forwards = df['element_type'] == 4

minGames = df['games played'] >= 3

## Player evaluation

Below we compile lists for each position sorting players based on a given metric.

In [8]:
#metric = 'valuePoints metric'
metric = 'adjusted points per game'
#metric = 'form 10'

numberToShow = 40

print('GOALKEEPERS')
display(df[goalkeepers & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('DEFENDERS')
display(df[defenders & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('MIDFIELDERS')
display(df[midfielders & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('FORWARDS')
display(df[forwards & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

GOALKEEPERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
340,Lloris,Tottenham,53,12.142857,51,54.140885,4.2,4.458661,5.649624,5.581730,1.936719
411,Patr√≠cio,Wolves,51,29.000000,116,128.323775,4.0,4.424958,4.758545,4.654252,1.959404
471,Henderson,Sheffield Utd,52,27.111111,122,111.882804,4.5,4.126825,3.962979,4.744287,1.809732
93,Pope,Burnley,48,29.090909,128,119.427385,4.4,4.105316,4.910823,5.195974,1.873812
131,Guaita,Crystal Palace,51,26.976744,116,109.306849,4.3,4.051892,5.966669,4.775374,1.794208
235,de Gea,Manchester Utd,54,28.611111,103,112.382088,3.6,3.927918,4.483690,3.839307,1.690307
168,Schmeichel,Leicester City,53,29.024390,119,113.970186,4.1,3.926704,5.483275,4.773773,1.705651
189,Alisson,Liverpool,62,19.777778,89,76.886428,4.5,3.887516,2.663914,3.968077,1.561264
14,Leno,Arsenal,50,27.692308,108,105.798238,3.9,3.820492,4.952660,4.204959,1.708576
341,Gazzaniga,Tottenham,42,18.125000,58,67.829409,3.2,3.742312,1.653034,4.087448,1.826061
318,McCarthy,Southampton,45,18.888889,68,70.567634,3.6,3.735934,6.079885,4.761378,1.761136
603,Reina,Aston Villa,45,5.937500,19,22.101445,3.2,3.722349,3.469286,3.773400,1.754732
47,Ryan,Brighton,48,29.142857,102,108.376723,3.5,3.718809,3.993657,3.594049,1.697396
262,Dubravka,Newcastle Utd,50,28.780488,118,105.810578,4.1,3.676469,4.280849,3.999530,1.644167
494,Ramsdale,Bournemouth,46,28.235294,96,101.285695,3.4,3.587202,2.966422,3.189534,1.672541
366,Foster,Watford,49,29.210526,111,101.402688,3.8,3.471443,3.348223,3.374874,1.568238
280,Krul,Norwich City,45,26.764706,91,92.318715,3.4,3.449271,3.593164,3.495369,1.626002
212,Ederson,Manchester City,60,24.848485,82,84.992794,3.3,3.420442,3.430232,3.642091,1.396389
111,Kepa,Chelsea,54,24.642857,69,83.584491,2.8,3.391834,4.415457,4.138537,1.459613
112,Caballero,Chelsea,48,3.888889,7,13.089018,1.8,3.365747,NaN,NaN,1.536247
213,Bravo,Manchester City,47,3.928571,11,13.164801,2.8,3.351040,NaN,3.360964,1.545720
388,Fabianski,West Ham,49,15.945946,59,53.081191,3.7,3.328820,2.648789,2.531175,1.503808
526,Adri√°n,Liverpool,40,10.800000,27,34.837685,2.5,3.225712,3.017023,3.017023,1.612856
148,Pickford,Everton,53,28.965517,84,92.347552,2.9,3.188189,2.846822,2.893335,1.384861
319,Gunn,Southampton,42,10.000000,29,30.829924,2.9,3.082992,NaN,NaN,1.504346
553,Martin,West Ham,40,5.000000,20,15.161051,4.0,3.032210,NaN,2.676469,1.516105
450,Roberto,West Ham,44,8.181818,18,23.172630,2.2,2.832210,NaN,NaN,1.350203
94,Heaton,Aston Villa,43,19.666667,59,53.272858,3.0,2.708789,NaN,2.358632,1.306294
27,Nyland,Aston Villa,43,3.000000,3,4.567046,1.0,1.522349,NaN,0.930534,0.734142

DEFENDERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
182,Alexander-Arnold,Liverpool,78,29.122807,166,159.572846,5.7,5.479309,4.988546,5.041574,1.961907
103,Alonso,Chelsea,61,11.000000,77,56.473002,7.0,5.133909,7.073458,7.107858,2.078659
181,Robertson,Liverpool,70,27.959184,137,136.683629,4.9,4.888685,4.340258,4.518895,1.847749
401,Doherty,Wolves,62,27.209302,117,125.603162,4.3,4.616185,6.292651,5.474015,1.853904
297,Lundstram,Sheffield Utd,48,27.234043,128,124.978588,4.7,4.589058,6.278227,4.316552,2.094609
183,van Dijk,Liverpool,66,28.775510,141,123.881173,4.9,4.305090,4.077628,4.347676,1.675754
105,Azpilicueta,Chelsea,58,26.666667,88,113.603046,3.3,4.260114,2.608852,4.042815,1.768916
208,Otamendi,Manchester City,50,18.857143,66,75.674307,3.5,4.013031,2.825673,3.653555,1.794682
159,Pereira,Leicester City,63,27.954545,123,112.069814,4.4,4.009001,4.111600,4.255624,1.597224
185,Matip,Liverpool,52,8.048780,33,32.003153,4.1,3.976149,2.830943,2.830943,1.743657
405,Boly,Wolves,48,13.043478,60,50.518991,4.6,3.873123,3.780605,3.684368,1.767831
122,Wan-Bissaka,Manchester Utd,53,25.757576,85,99.221356,3.3,3.852123,4.112540,4.328387,1.673255
440,Angeli√±o,Manchester City,47,6.111111,11,23.072951,1.8,3.775574,NaN,NaN,1.741542
141,Digne,Everton,57,25.937500,83,96.782281,3.2,3.731365,1.706856,3.670632,1.562897
123,van Aanholt,Crystal Palace,55,21.750000,87,80.348647,4.0,3.694191,5.019961,4.869984,1.575208
506,James,Chelsea,50,17.307692,45,63.865995,2.6,3.690035,3.408005,3.801919,1.650234
203,Walker,Manchester City,57,20.857143,73,76.396011,3.5,3.662822,4.084518,4.002681,1.534188
160,Maguire,Manchester Utd,53,28.709677,89,104.824651,3.1,3.651196,3.166749,3.307128,1.585978
161,Chilwell,Leicester City,56,22.926829,94,83.699338,4.1,3.650716,3.361446,3.251021,1.542709
162,Evans,Leicester City,52,29.189189,108,106.331858,3.7,3.642851,4.104233,3.752744,1.597496
204,Mendy,Manchester City,55,14.000000,49,50.835630,3.5,3.631116,3.179943,3.711402,1.548313
164,S√∂y√ºnc√º,Leicester City,50,27.837838,103,100.848351,3.7,3.622708,3.796329,3.425469,1.620124
291,Stevens,Sheffield Utd,51,28.205128,110,102.165415,3.9,3.622228,3.164570,3.387035,1.603950
293,O'Connell,Sheffield Utd,47,28.235294,96,101.617983,3.4,3.598970,4.125533,3.672823,1.660081
529,Tomori,Chelsea,43,15.000000,48,53.686212,3.2,3.579081,1.966214,1.966214,1.725986
42,Dunk,Brighton,48,27.272727,90,96.777194,3.3,3.548497,4.154647,3.913963,1.619660
518,Cancelo,Manchester City,52,10.869565,25,38.556763,2.3,3.547222,1.676216,2.539136,1.555560
359,Janmaat,Watford,40,8.000000,36,27.749942,4.5,3.468743,NaN,NaN,1.734371
186,Lovren,Liverpool,53,8.947368,17,30.804149,1.9,3.442817,1.897797,1.897797,1.495464
295,Egan,Sheffield Utd,46,26.857143,94,92.281169,3.5,3.436001,3.814089,3.657524,1.602044
407,Sa√Øss,Wolves,46,25.172414,73,86.140189,2.9,3.422008,5.112868,4.566810,1.595519
6,Monreal,Arsenal,50,3.030303,10,10.323039,3.3,3.406603,NaN,NaN,1.523479
294,Baldock,Sheffield Utd,51,28.048780,115,95.446243,4.1,3.402866,3.169275,2.726912,1.506814
145,Baines,Everton,49,5.000000,11,16.967064,2.2,3.393413,3.698334,3.615766,1.532988
184,Gomez,Liverpool,53,19.000000,76,64.162594,4.0,3.376979,3.684513,3.650264,1.466866
403,Coady,Wolves,50,28.620690,83,96.244035,2.9,3.362743,3.815341,3.706624,1.503865
402,Jonny,Wolves,54,26.428571,74,88.760108,2.8,3.358491,4.569939,3.833093,1.445264
127,Dann,Crystal Palace,43,9.024390,37,30.287128,4.1,3.356141,4.135487,3.962247,1.618475
478,Holgate,Everton,43,22.000000,55,73.001776,2.5,3.318263,1.775112,2.811204,1.600208
511,Sidib√©,Everton,51,21.333333,64,70.357269,3.0,3.297997,2.054552,2.443426,1.460378

MIDFIELDERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
191,Salah,Liverpool,127,25.833333,186,174.430397,7.2,6.752144,4.667238,5.915822,1.894697
215,De Bruyne,Manchester City,106,26.176471,178,159.267853,6.8,6.084390,5.816460,5.712784,1.868805
618,Fernandes,Manchester Utd,85,5.000000,38,30.077735,7.6,6.015547,6.829775,6.886805,2.063316
192,Man√©,Liverpool,124,26.119403,175,156.825054,6.7,6.004159,5.245158,4.794003,1.705067
214,Sterling,Manchester City,117,24.081633,118,132.733878,4.9,5.511831,4.280451,4.310654,1.611398
342,Son,Tottenham,98,21.034483,122,107.194043,5.8,5.096110,8.531671,6.581088,1.627893
344,Alli,Tottenham,83,21.923077,114,102.248081,5.2,4.663948,4.972283,4.924424,1.618880
217,Mahrez,Manchester City,84,22.830189,121,106.289009,5.3,4.655634,4.377117,4.568399,1.606346
239,Martial,Manchester Utd,79,23.018868,122,106.793197,5.3,4.639377,4.639941,4.298016,1.650616
150,Richarlison,Everton,83,27.142857,133,124.694319,4.9,4.594001,5.820712,6.046663,1.594601
431,Pulisic,Chelsea,69,15.909091,70,71.777184,4.4,4.511709,NaN,2.856183,1.717578
219,David Silva,Manchester City,73,19.148936,90,85.361573,4.7,4.457771,4.752573,4.206888,1.649895
171,Maddison,Leicester City,75,28.333333,119,119.204262,4.2,4.207209,3.131161,3.273272,1.536256
29,Grealish,Aston Villa,65,26.222222,118,108.527105,4.5,4.138746,3.049070,3.785240,1.623350
114,Pedro,Chelsea,68,9.090909,30,37.325037,3.3,4.105754,6.090300,5.306680,1.574485
265,P√©rez,Leicester City,62,25.000000,110,97.837443,4.4,3.913498,2.907640,4.017029,1.571698
172,Barnes,Leicester City,61,27.317073,112,106.253182,4.1,3.889625,5.186407,5.128471,1.574863
417,Traor√©,Wolves,58,27.692308,108,106.964092,3.9,3.862592,2.254464,2.967047,1.603854
463,Mount,Chelsea,61,29.210526,111,112.750376,3.8,3.859923,3.320837,3.596087,1.562837
113,Willian,Chelsea,69,28.250000,113,108.477651,4.0,3.839917,3.606952,3.233423,1.461831
389,Antonio,West Ham,69,15.000000,45,57.320568,3.0,3.821371,5.407003,4.784715,1.454771
615,Bergwijn,Tottenham,75,5.000000,22,18.946856,4.4,3.789371,NaN,NaN,1.383683
525,Sarr,Watford,63,19.024390,78,70.334268,4.1,3.697058,5.920018,5.494396,1.472943
488,P√©p√©,Arsenal,92,23.783784,88,87.358821,3.7,3.673041,4.574089,4.460531,1.210966
238,Pogba,Manchester Utd,83,7.083333,17,25.947790,2.4,3.663217,NaN,NaN,1.271521
301,Fleck,Sheffield Utd,50,24.736842,94,90.311433,3.8,3.650888,2.709325,3.131545,1.632727
218,Bernardo Silva,Manchester City,78,23.888889,86,87.188043,3.6,3.649732,2.604996,2.898082,1.306814
320,Redmond,Southampton,62,23.000000,69,80.935466,3.0,3.518933,2.603835,3.956003,1.413238
283,Buend√≠a,Norwich City,60,27.586207,80,96.976084,2.9,3.515383,1.893808,2.362695,1.435149
287,Cantwell,Norwich City,48,29.411765,100,101.023310,3.4,3.434793,1.962993,2.437055,1.567761
269,Shelvey,Newcastle Utd,49,16.829268,69,57.680784,4.1,3.427409,2.894717,2.821310,1.548346
321,Ward-Prowse,Southampton,57,29.062500,93,98.115094,3.2,3.376003,2.732865,2.582343,1.414052
117,Barkley,Chelsea,56,13.214286,37,44.505598,2.8,3.367991,6.041903,4.513027,1.423236
243,James,Manchester Utd,58,26.969697,89,90.351561,3.3,3.350114,3.132252,2.855792,1.391059
31,McGinn,Aston Villa,54,17.941176,61,59.909407,3.4,3.339213,NaN,NaN,1.436968
133,Zaha,Crystal Palace,68,28.787879,95,95.434905,3.3,3.315107,4.256333,3.886053,1.271286
151,Sigurdsson,Everton,73,25.555556,69,84.684640,2.7,3.313747,3.230038,3.424466,1.226473
448,Tielemans,Leicester City,62,27.941176,95,92.288165,3.4,3.302945,2.586408,2.744533,1.326495
415,Moutinho,Wolves,54,29.375000,94,96.907051,3.2,3.298963,2.879664,2.939585,1.419648
198,Henderson,Liverpool,53,24.750000,99,81.389973,4.0,3.288484,5.186051,4.711589,1.428426

FORWARDS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
233,Rashford,Manchester Utd,89,21.967213,134,125.556300,6.1,5.715623,NaN,6.475998,1.915881
166,Vardy,Leicester City,96,26.093750,167,141.699559,6.4,5.430402,4.386301,3.698732,1.752655
409,Jim√©nez,Wolves,80,28.823529,147,146.559559,5.1,5.084719,4.305987,4.771045,1.797720
210,Ag√ºero,Manchester City,119,22.142857,124,109.993040,5.6,4.967428,2.882988,4.295351,1.439985
187,Firmino,Liverpool,95,28.888889,130,143.366079,4.5,4.962672,4.184738,5.032501,1.610103
11,Aubameyang,Arsenal,111,26.206897,152,128.069780,5.8,4.886873,4.673150,4.462999,1.466796
460,Abraham,Chelsea,75,25.192308,131,121.216300,5.2,4.811639,2.768220,3.929049,1.756962
278,Pukki,Norwich City,65,28.222222,127,132.289780,4.5,4.687433,3.033660,4.175487,1.838563
313,Ings,Southampton,71,29.166667,140,128.483260,4.8,4.405140,2.552553,3.045606,1.653220
338,Kane,Tottenham,108,20.000000,104,87.406520,5.2,4.370326,NaN,2.669867,1.329848
211,Jesus,Manchester City,95,24.250000,97,101.936300,4.0,4.203559,2.396463,3.513633,1.363815
91,Wood,Burnley,61,25.952381,109,105.483260,4.2,4.064493,5.126167,4.962460,1.645665
147,Calvert-Lewin,Everton,64,27.073171,111,108.583260,4.1,4.010733,5.540779,5.289407,1.585381
362,Deeney,Watford,62,17.948718,70,71.926520,3.9,4.007335,3.466275,3.967162,1.609384
410,Jota,Wolves,64,25.142857,88,98.849780,3.5,3.931525,6.308989,5.548951,1.554072
502,Maupay,Brighton,57,28.055556,101,107.186520,3.6,3.820510,3.136860,3.331113,1.600235
68,King,Bournemouth,61,19.166667,69,72.869780,3.6,3.801902,5.117291,4.621192,1.539345
613,Samatta,Aston Villa,59,4.000000,14,14.600000,3.5,3.650000,NaN,NaN,1.502681
468,Ayew,Crystal Palace,51,27.692308,108,98.966520,3.9,3.573791,3.187371,3.025950,1.582501
457,Haller,West Ham,68,26.944444,97,95.749780,3.6,3.553600,4.816340,4.050802,1.362743
67,Callum Wilson,Bournemouth,74,27.941176,95,98.249780,3.4,3.516308,4.204327,4.251634,1.292620
12,Lacazette,Arsenal,93,20.000000,78,69.333040,3.9,3.466652,4.854883,4.004029,1.136760
167,Iheanacho,Leicester City,57,11.891892,44,40.233040,3.7,3.383233,2.314095,2.301910,1.417080
363,Deulofeu,Watford,61,28.387097,88,94.536300,3.1,3.330256,2.170231,3.123951,1.348381
428,Wesley,Aston Villa,55,20.937500,67,67.703260,3.2,3.233589,NaN,3.184933,1.378807
315,Long,Southampton,46,18.928571,53,59.649780,2.8,3.151309,3.597660,3.638661,1.469305
90,Barnes,Burnley,61,19.062500,61,59.620000,3.2,3.127607,NaN,1.400000,1.266331
303,McGoldrick,Sheffield Utd,54,21.000000,42,64.566520,2.0,3.074596,1.207612,1.333892,1.323096
110,Giroud,Chelsea,65,9.032258,28,27.683260,3.1,3.064932,4.337448,4.254134,1.202165
13,Nketiah,Arsenal,43,5.000000,12,14.500000,2.4,2.900000,3.563636,NaN,1.398504
501,McBurnie,Sheffield Utd,57,26.363636,58,73.200000,2.2,2.776552,3.972727,4.104444,1.162970
70,Mousset,Sheffield Utd,45,22.903226,71,62.133040,3.1,2.712851,1.938156,1.751868,1.278850
130,Wickham,Crystal Palace,44,6.000000,15,16.083260,2.5,2.680543,NaN,2.330888,1.277899
466,Joelinton,Newcastle Utd,55,29.047619,61,74.566520,2.1,2.567044,1.451774,1.907879,1.094591
504,Martinelli,Arsenal,45,13.928571,39,34.883260,2.8,2.504439,2.380279,4.382095,1.180604
92,Vydra,Burnley,53,10.000000,26,24.683260,2.6,2.468326,3.664859,3.790305,1.072172
129,Benteke,Crystal Palace,57,20.625000,33,46.983260,1.6,2.277976,4.134951,4.198514,0.954139
451,Rodriguez,Burnley,57,28.260870,65,64.203260,2.3,2.271808,3.998420,3.752796,0.951556
534,Connolly,Brighton,43,17.083333,41,37.766520,2.4,2.210723,0.982865,1.344340,1.066105
298,Sharp,Sheffield Utd,56,18.181818,40,40.100000,2.2,2.205500,5.590909,3.822222,0.931994

Below we compile a list sorting players based on a given metric (irrespective of position).

In [9]:
metric = 'adjusted points per game'

display(df[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
191,Salah,Liverpool,127,25.833333,186,174.430397,7.2,6.752144,4.667238,5.915822,1.894697
215,De Bruyne,Manchester City,106,26.176471,178,159.267853,6.8,6.084390,5.816460,5.712784,1.868805
618,Fernandes,Manchester Utd,85,5.000000,38,30.077735,7.6,6.015547,6.829775,6.886805,2.063316
192,Man√©,Liverpool,124,26.119403,175,156.825054,6.7,6.004159,5.245158,4.794003,1.705067
233,Rashford,Manchester Utd,89,21.967213,134,125.556300,6.1,5.715623,NaN,6.475998,1.915881
214,Sterling,Manchester City,117,24.081633,118,132.733878,4.9,5.511831,4.280451,4.310654,1.611398
182,Alexander-Arnold,Liverpool,78,29.122807,166,159.572846,5.7,5.479309,4.988546,5.041574,1.961907
166,Vardy,Leicester City,96,26.093750,167,141.699559,6.4,5.430402,4.386301,3.698732,1.752655
103,Alonso,Chelsea,61,11.000000,77,56.473002,7.0,5.133909,7.073458,7.107858,2.078659
342,Son,Tottenham,98,21.034483,122,107.194043,5.8,5.096110,8.531671,6.581088,1.627893
409,Jim√©nez,Wolves,80,28.823529,147,146.559559,5.1,5.084719,4.305987,4.771045,1.797720
210,Ag√ºero,Manchester City,119,22.142857,124,109.993040,5.6,4.967428,2.882988,4.295351,1.439985
187,Firmino,Liverpool,95,28.888889,130,143.366079,4.5,4.962672,4.184738,5.032501,1.610103
181,Robertson,Liverpool,70,27.959184,137,136.683629,4.9,4.888685,4.340258,4.518895,1.847749
11,Aubameyang,Arsenal,111,26.206897,152,128.069780,5.8,4.886873,4.673150,4.462999,1.466796
460,Abraham,Chelsea,75,25.192308,131,121.216300,5.2,4.811639,2.768220,3.929049,1.756962
278,Pukki,Norwich City,65,28.222222,127,132.289780,4.5,4.687433,3.033660,4.175487,1.838563
344,Alli,Tottenham,83,21.923077,114,102.248081,5.2,4.663948,4.972283,4.924424,1.618880
217,Mahrez,Manchester City,84,22.830189,121,106.289009,5.3,4.655634,4.377117,4.568399,1.606346
239,Martial,Manchester Utd,79,23.018868,122,106.793197,5.3,4.639377,4.639941,4.298016,1.650616
401,Doherty,Wolves,62,27.209302,117,125.603162,4.3,4.616185,6.292651,5.474015,1.853904
150,Richarlison,Everton,83,27.142857,133,124.694319,4.9,4.594001,5.820712,6.046663,1.594601
297,Lundstram,Sheffield Utd,48,27.234043,128,124.978588,4.7,4.589058,6.278227,4.316552,2.094609
431,Pulisic,Chelsea,69,15.909091,70,71.777184,4.4,4.511709,NaN,2.856183,1.717578
340,Lloris,Tottenham,53,12.142857,51,54.140885,4.2,4.458661,5.649624,5.581730,1.936719
219,David Silva,Manchester City,73,19.148936,90,85.361573,4.7,4.457771,4.752573,4.206888,1.649895
411,Patr√≠cio,Wolves,51,29.000000,116,128.323775,4.0,4.424958,4.758545,4.654252,1.959404
313,Ings,Southampton,71,29.166667,140,128.483260,4.8,4.405140,2.552553,3.045606,1.653220
338,Kane,Tottenham,108,20.000000,104,87.406520,5.2,4.370326,NaN,2.669867,1.329848
183,van Dijk,Liverpool,66,28.775510,141,123.881173,4.9,4.305090,4.077628,4.347676,1.675754
105,Azpilicueta,Chelsea,58,26.666667,88,113.603046,3.3,4.260114,2.608852,4.042815,1.768916
171,Maddison,Leicester City,75,28.333333,119,119.204262,4.2,4.207209,3.131161,3.273272,1.536256
211,Jesus,Manchester City,95,24.250000,97,101.936300,4.0,4.203559,2.396463,3.513633,1.363815
29,Grealish,Aston Villa,65,26.222222,118,108.527105,4.5,4.138746,3.049070,3.785240,1.623350
471,Henderson,Sheffield Utd,52,27.111111,122,111.882804,4.5,4.126825,3.962979,4.744287,1.809732
114,Pedro,Chelsea,68,9.090909,30,37.325037,3.3,4.105754,6.090300,5.306680,1.574485
93,Pope,Burnley,48,29.090909,128,119.427385,4.4,4.105316,4.910823,5.195974,1.873812
91,Wood,Burnley,61,25.952381,109,105.483260,4.2,4.064493,5.126167,4.962460,1.645665
131,Guaita,Crystal Palace,51,26.976744,116,109.306849,4.3,4.051892,5.966669,4.775374,1.794208
208,Otamendi,Manchester City,50,18.857143,66,75.674307,3.5,4.013031,2.825673,3.653555,1.794682

In [10]:
metric = 'form 10'

display(df[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
103,Alonso,Chelsea,61,11.000000,77,56.473002,7.0,5.133909,7.073458,7.107858,2.078659
618,Fernandes,Manchester Utd,85,5.000000,38,30.077735,7.6,6.015547,6.829775,6.886805,2.063316
342,Son,Tottenham,98,21.034483,122,107.194043,5.8,5.096110,8.531671,6.581088,1.627893
233,Rashford,Manchester Utd,89,21.967213,134,125.556300,6.1,5.715623,NaN,6.475998,1.915881
150,Richarlison,Everton,83,27.142857,133,124.694319,4.9,4.594001,5.820712,6.046663,1.594601
191,Salah,Liverpool,127,25.833333,186,174.430397,7.2,6.752144,4.667238,5.915822,1.894697
215,De Bruyne,Manchester City,106,26.176471,178,159.267853,6.8,6.084390,5.816460,5.712784,1.868805
340,Lloris,Tottenham,53,12.142857,51,54.140885,4.2,4.458661,5.649624,5.581730,1.936719
410,Jota,Wolves,64,25.142857,88,98.849780,3.5,3.931525,6.308989,5.548951,1.554072
525,Sarr,Watford,63,19.024390,78,70.334268,4.1,3.697058,5.920018,5.494396,1.472943
401,Doherty,Wolves,62,27.209302,117,125.603162,4.3,4.616185,6.292651,5.474015,1.853904
114,Pedro,Chelsea,68,9.090909,30,37.325037,3.3,4.105754,6.090300,5.306680,1.574485
147,Calvert-Lewin,Everton,64,27.073171,111,108.583260,4.1,4.010733,5.540779,5.289407,1.585381
93,Pope,Burnley,48,29.090909,128,119.427385,4.4,4.105316,4.910823,5.195974,1.873812
172,Barnes,Leicester City,61,27.317073,112,106.253182,4.1,3.889625,5.186407,5.128471,1.574863
182,Alexander-Arnold,Liverpool,78,29.122807,166,159.572846,5.7,5.479309,4.988546,5.041574,1.961907
187,Firmino,Liverpool,95,28.888889,130,143.366079,4.5,4.962672,4.184738,5.032501,1.610103
91,Wood,Burnley,61,25.952381,109,105.483260,4.2,4.064493,5.126167,4.962460,1.645665
344,Alli,Tottenham,83,21.923077,114,102.248081,5.2,4.663948,4.972283,4.924424,1.618880
123,van Aanholt,Crystal Palace,55,21.750000,87,80.348647,4.0,3.694191,5.019961,4.869984,1.575208
192,Man√©,Liverpool,124,26.119403,175,156.825054,6.7,6.004159,5.245158,4.794003,1.705067
389,Antonio,West Ham,69,15.000000,45,57.320568,3.0,3.821371,5.407003,4.784715,1.454771
131,Guaita,Crystal Palace,51,26.976744,116,109.306849,4.3,4.051892,5.966669,4.775374,1.794208
168,Schmeichel,Leicester City,53,29.024390,119,113.970186,4.1,3.926704,5.483275,4.773773,1.705651
409,Jim√©nez,Wolves,80,28.823529,147,146.559559,5.1,5.084719,4.305987,4.771045,1.797720
318,McCarthy,Southampton,45,18.888889,68,70.567634,3.6,3.735934,6.079885,4.761378,1.761136
471,Henderson,Sheffield Utd,52,27.111111,122,111.882804,4.5,4.126825,3.962979,4.744287,1.809732
198,Henderson,Liverpool,53,24.750000,99,81.389973,4.0,3.288484,5.186051,4.711589,1.428426
411,Patr√≠cio,Wolves,51,29.000000,116,128.323775,4.0,4.424958,4.758545,4.654252,1.959404
68,King,Bournemouth,61,19.166667,69,72.869780,3.6,3.801902,5.117291,4.621192,1.539345
217,Mahrez,Manchester City,84,22.830189,121,106.289009,5.3,4.655634,4.377117,4.568399,1.606346
407,Sa√Øss,Wolves,46,25.172414,73,86.140189,2.9,3.422008,5.112868,4.566810,1.595519
181,Robertson,Liverpool,70,27.959184,137,136.683629,4.9,4.888685,4.340258,4.518895,1.847749
117,Barkley,Chelsea,56,13.214286,37,44.505598,2.8,3.367991,6.041903,4.513027,1.423236
11,Aubameyang,Arsenal,111,26.206897,152,128.069780,5.8,4.886873,4.673150,4.462999,1.466796
488,P√©p√©,Arsenal,92,23.783784,88,87.358821,3.7,3.673041,4.574089,4.460531,1.210966
504,Martinelli,Arsenal,45,13.928571,39,34.883260,2.8,2.504439,2.380279,4.382095,1.180604
257,Lejeune,Newcastle Utd,44,6.000000,24,17.463900,4.0,2.910650,NaN,4.375534,1.387598
183,van Dijk,Liverpool,66,28.775510,141,123.881173,4.9,4.305090,4.077628,4.347676,1.675754
5,Sokratis,Arsenal,48,19.000000,57,54.500457,3.0,2.868445,3.519601,4.333152,1.309260