# Player evaluation

Here we compare players based on their adjusted points. Also, we calculate some useful metrics using the adjusted points to further evaluate player performance in FPL.

In [1]:
# recent gameweek
gameweek = 25

In [2]:
# import basic libraries
import pandas as pd
import numpy as np

pd.set_option('max_columns',100)

In [3]:
# fetch FPL data
filepath = '../data/data_week' + str(gameweek) + '.csv'
df = pd.read_csv(filepath, index_col=0)#, encoding='latin-1')

# fetch team data
filepath = '../data/fbref/team_stats_week' + str(gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col=0)#, encoding='latin-1')

# fetch player stats data
filepath = '../data/fbref/player_stats_week' + str(gameweek) + '.csv'
playerStats = pd.read_csv(filepath, index_col=0, skiprows=1)#, encoding='latin-1')

## Value and value points

Here we calculate two interesting metrics: 'value' and 'value points'. 

Value is simply adjusted points per game divided by the cost of the player. Essentially, this measures how many 'points per pound(/euro/whatever)' has the player gained on an average game week. 

The value points is calculated as the geometric mean of a players adjusted points per game and value. Essentially, in FPL we want to gain the maximum possible amount of points. However, we are restrained by a limited budget, so that in practice we cannot just pick all the best players. Then, we would like to have a squad of players that give the most points given our budget. Thus, we would like to pick players that have high value ('bang for buck'). However, often the players with highest value are very cheap players who somewhat overperform relative to their price. Picking a squad full of these players might leave a part of our budget unused. Calculating the geometric mean of adjusted points and value allows us to weigh both aspects equally, i.e. we want players that both gain a lot of points but also have good value. For example, this metric values equally two players, where one has twice the points per game of the other who in turn has twice the value of the other.

In [4]:
# value = expected points / cost
df['value'] = df['adjusted points per game'] / (df['now_cost'] / 10.0)
# geometric mean of 'adjusted points per game' and 'value'
df['valuePoints metric'] = np.sqrt(df['adjusted points per game'] * df['value'])

In [5]:
# assign proper team names for each player
team_names = np.sort(teamStats['Squad'])
df['team_name'] = team_names[df['team']-1]

In [6]:
# save data
filepath = '../data/data_week' + str(gameweek) + str('.csv')
df.to_csv(filepath)

In [7]:
goalkeepers = df['element_type'] == 1
defenders = df['element_type'] == 2
midfielders = df['element_type'] == 3
forwards = df['element_type'] == 4

minGames = df['games played'] >= 3

## Player evaluation

Below we compile lists for each position sorting players based on a given metric.

In [8]:
metric = 'valuePoints metric'
#metric = 'adjusted points per game'
#metric = 'form 5'

numberToShow = 40

print('GOALKEEPERS')
display(df[goalkeepers & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('DEFENDERS')
display(df[defenders & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('MIDFIELDERS')
display(df[midfielders & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('FORWARDS')
display(df[forwards & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

GOALKEEPERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
340,Lloris,Tottenham,53,9.090909,40,41.221791,4.4,4.534397,7.680326,7.433607,1.969616
341,Gazzaniga,Tottenham,44,16.764706,57,67.206068,3.4,4.008783,6.954244,4.910144,1.911112
411,Patr√≠cio,Wolves,51,25.277778,91,108.048209,3.6,4.274435,4.359166,4.216694,1.892751
471,Henderson,Sheffield Utd,51,24.130435,111,101.657565,4.6,4.212836,6.572768,5.608263,1.865475
93,Pope,Burnley,46,25.000000,105,99.165403,4.2,3.966616,5.525301,4.862991,1.849444
494,Ramsdale,Bournemouth,46,24.166667,87,90.099213,3.6,3.728243,4.036462,3.904054,1.738302
47,Ryan,Brighton,49,24.722222,89,92.807410,3.6,3.754008,2.907138,3.293550,1.695888
131,Guaita,Crystal Palace,51,22.894737,87,87.366309,3.8,3.816000,3.015449,3.713901,1.689753
14,Leno,Arsenal,50,24.722222,89,92.335992,3.6,3.734939,3.387055,3.689154,1.670315
235,de Gea,Manchester Utd,54,24.687500,79,95.619885,3.2,3.873211,3.049243,3.173575,1.666764
189,Alisson,Liverpool,61,16.875000,81,69.134198,4.8,4.096841,5.741793,5.221108,1.658763
262,Dubravka,Newcastle Utd,50,24.750000,99,89.974953,4.0,3.635352,3.818402,3.872528,1.625779
280,Krul,Norwich City,45,23.030303,76,79.203743,3.3,3.439110,4.011500,3.239611,1.621212
366,Foster,Watford,49,24.750000,99,87.748299,4.0,3.545386,3.187957,3.705190,1.601642
388,Fabianski,West Ham,49,12.142857,51,42.652524,4.2,3.512561,2.323588,3.173263,1.586813
526,Adri√°n,Liverpool,41,10.000000,25,31.952514,2.5,3.195251,NaN,NaN,1.578022
168,Schmeichel,Leicester City,54,24.864865,92,89.729462,3.7,3.608685,2.798027,2.876798,1.552931
318,McCarthy,Southampton,44,15.000000,45,48.155213,3.0,3.210348,2.580011,3.226663,1.530473
213,Bravo,Manchester City,48,3.928571,11,13.113933,2.8,3.338092,3.360964,3.391013,1.523624
319,Gunn,Southampton,43,10.000000,29,31.103475,2.9,3.110348,NaN,NaN,1.499943
553,Martin,West Ham,41,5.000000,20,15.151039,4.0,3.030208,2.676469,2.239504,1.496513
111,Kepa,Chelsea,55,24.230769,63,79.668484,2.6,3.287906,3.925823,3.888712,1.401968
148,Pickford,Everton,53,25.333333,76,80.743608,3.0,3.187248,2.914721,3.285427,1.384452
450,Roberto,West Ham,44,8.181818,18,23.156246,2.2,2.830208,NaN,1.476035,1.349249
212,Ederson,Manchester City,60,22.333333,67,73.756781,3.0,3.302542,3.680561,3.021596,1.348257
94,Heaton,Aston Villa,44,19.666667,59,54.259582,3.0,2.758962,2.358632,2.659079,1.315283
603,Reina,Aston Villa,45,3.000000,6,7.717563,2.0,2.572521,2.573786,2.574995,1.212698
27,Nyland,Aston Villa,43,3.000000,3,4.717563,1.0,1.572521,0.861845,0.993939,0.758337

DEFENDERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
297,Lundstram,Sheffield Utd,51,24.000000,108,108.704708,4.5,4.529363,2.266692,3.043871,2.005636
182,Alexander-Arnold,Liverpool,76,25.172414,146,136.761051,5.8,5.432973,4.383933,4.937274,1.970747
185,Matip,Liverpool,52,6.956522,32,29.601749,4.6,4.255251,NaN,NaN,1.866051
208,Otamendi,Manchester City,50,15.833333,57,65.442832,3.6,4.133231,4.549608,4.089510,1.848437
181,Robertson,Liverpool,70,25.102041,123,122.044844,4.9,4.861949,4.118455,4.383220,1.837644
105,Azpilicueta,Chelsea,58,22.941176,78,100.922431,3.4,4.399183,5.456509,5.891144,1.826661
405,Boly,Wolves,47,9.090909,40,35.925862,4.4,3.951845,3.540000,3.540000,1.822850
103,Alonso,Chelsea,60,7.966102,47,34.960613,5.9,4.388673,NaN,6.851449,1.791668
401,Doherty,Wolves,61,23.055556,83,100.496715,3.6,4.358894,3.920144,4.081093,1.764864
440,Angeli√±o,Manchester City,47,6.111111,11,23.012392,1.8,3.765664,NaN,2.881632,1.736971
478,Holgate,Everton,45,17.931034,52,65.852162,2.9,3.672524,4.819954,4.563436,1.731245
529,Tomori,Chelsea,44,13.823529,47,50.119182,3.4,3.625643,NaN,3.482690,1.728457
506,James,Chelsea,50,12.903226,40,49.530145,3.1,3.838586,4.185352,4.274856,1.716668
359,Janmaat,Watford,40,8.000000,36,27.214412,4.5,3.401801,NaN,NaN,1.700901
183,van Dijk,Liverpool,65,24.901961,127,107.934692,5.1,4.334385,5.024194,4.795705,1.700086
291,Stevens,Sheffield Utd,51,25.263158,96,94.118626,3.8,3.725529,4.255413,4.066738,1.649692
293,O'Connell,Sheffield Utd,46,25.294118,86,89.153946,3.4,3.524691,3.175828,3.502420,1.643396
122,Wan-Bissaka,Manchester Utd,53,22.222222,60,83.064877,2.7,3.737919,5.091126,4.605963,1.623648
518,Cancelo,Manchester City,52,10.000000,25,36.762738,2.5,3.676274,3.240290,3.393575,1.612153
164,S√∂y√ºnc√º,Leicester City,50,23.888889,86,85.687926,3.6,3.586936,2.696668,2.599527,1.604127
160,Maguire,Manchester Utd,52,24.800000,62,90.486761,2.5,3.648660,3.207517,3.443889,1.600043
141,Digne,Everton,58,23.823529,81,91.739712,3.4,3.850803,4.993879,4.942640,1.598959
159,Pereira,Leicester City,63,23.777778,107,95.259589,4.5,4.006244,4.445339,3.266985,1.596126
59,Ak√©,Bournemouth,48,20.000000,64,69.810009,3.2,3.490500,4.896043,4.388518,1.593188
336,Aurier,Tottenham,50,19.736842,75,70.231975,3.8,3.558420,3.396753,3.235688,1.591374
163,Fuchs,Leicester City,43,7.096774,22,23.213949,3.1,3.271056,3.018980,3.530523,1.577443
42,Dunk,Brighton,48,23.235294,79,80.180995,3.4,3.450828,3.404059,3.913907,1.575080
204,Mendy,Manchester City,55,10.909091,36,40.281193,3.3,3.692443,4.671003,4.088864,1.574463
128,Kelly,Crystal Palace,43,18.823529,64,61.035253,3.4,3.242498,2.184562,2.791456,1.563671
186,Lovren,Liverpool,53,8.000000,16,28.663842,2.0,3.582980,NaN,2.757812,1.556347
162,Evans,Leicester City,52,25.000000,90,88.691435,3.6,3.547657,2.763618,2.676960,1.555751
295,Egan,Sheffield Utd,45,24.242424,80,79.690118,3.3,3.287217,3.218778,3.361071,1.549609
161,Chilwell,Leicester City,56,20.238095,85,74.114642,4.2,3.662135,3.637973,2.732618,1.547535
549,Williams,Manchester Utd,41,9.000000,27,27.951864,3.0,3.105763,3.801859,3.965396,1.533827
6,Monreal,Arsenal,50,3.030303,10,10.360387,3.3,3.418928,NaN,NaN,1.528991
511,Sidib√©,Everton,54,17.142857,60,60.857883,3.5,3.550043,2.755098,3.377076,1.527695
294,Baldock,Sheffield Utd,51,25.000000,105,85.606505,4.2,3.424260,2.044501,2.708952,1.516288
203,Walker,Manchester City,57,18.750000,60,67.583794,3.2,3.604469,3.130499,3.186177,1.509746
446,Stacey,Bournemouth,43,8.846154,23,27.234294,2.6,3.078659,NaN,4.055012,1.484661
403,Coady,Wolves,50,24.615385,64,81.577377,2.6,3.314081,3.794621,3.541920,1.482102

MIDFIELDERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
191,Salah,Liverpool,127,22.000000,165,156.694864,7.5,7.122494,8.602122,8.437651,1.998620
215,De Bruyne,Manchester City,107,24.029851,161,146.180371,6.7,6.083283,5.162874,5.249987,1.859714
192,Man√©,Liverpool,122,21.940299,147,138.116208,6.7,6.295092,4.286282,5.255809,1.802280
431,Pulisic,Chelsea,69,15.909091,70,72.924308,4.4,4.583814,2.856183,2.722011,1.745028
417,Traor√©,Wolves,58,23.953488,103,98.089630,4.3,4.095004,4.236143,4.357147,1.700358
287,Cantwell,Norwich City,49,24.864865,92,92.787032,3.7,3.731652,2.952291,3.385653,1.685789
239,Martial,Manchester Utd,79,18.823529,96,89.105901,5.1,4.733751,3.843724,4.101676,1.684193
301,Fleck,Sheffield Utd,51,21.750000,87,81.328483,4.0,3.739241,3.224526,3.819536,1.655764
463,Mount,Chelsea,61,24.750000,99,99.972711,4.0,4.039301,4.452829,3.810322,1.635465
219,David Silva,Manchester City,74,18.125000,87,80.568338,4.8,4.445150,3.887281,3.729571,1.634070
171,Maddison,Leicester City,76,23.913043,110,107.512750,4.6,4.495988,3.582728,3.527332,1.630866
265,P√©rez,Leicester City,62,22.127660,104,89.409851,4.7,4.040637,5.431544,5.483342,1.622759
29,Grealish,Aston Villa,67,23.191489,109,97.250386,4.7,4.193365,4.075024,4.026286,1.620038
214,Sterling,Manchester City,117,23.200000,116,127.850048,5.0,5.510778,4.540621,4.483808,1.611091
172,Barnes,Leicester City,59,22.894737,87,88.418171,3.8,3.861943,5.941759,5.029589,1.589937
269,Shelvey,Newcastle Utd,50,14.883721,64,52.052706,4.3,3.497291,2.721354,2.957767,1.564036
344,Alli,Tottenham,85,18.113208,96,82.200817,5.3,4.538170,4.713707,4.483349,1.556580
217,Mahrez,Manchester City,85,21.132075,112,95.338296,5.3,4.511544,4.065142,4.469895,1.547447
342,Son,Tottenham,100,19.818182,109,96.642349,5.5,4.876449,4.782055,4.279043,1.542069
283,Buend√≠a,Norwich City,60,23.870968,74,90.088994,3.1,3.773998,3.347608,4.401621,1.540728
150,Richarlison,Everton,81,22.916667,110,99.007726,4.8,4.320337,5.317742,4.912064,1.518012
118,Jorginho,Chelsea,49,23.030303,76,75.878445,3.3,3.294722,4.317543,3.996176,1.488404
113,Willian,Chelsea,71,24.250000,97,95.103548,4.0,3.921796,2.630253,3.440332,1.471824
516,Mooy,Brighton,48,17.741935,55,57.173185,3.1,3.222489,4.246148,3.997024,1.470858
415,Moutinho,Wolves,54,25.000000,85,85.373084,3.4,3.414923,2.784154,3.153179,1.469549
371,Cleverley,Watford,48,8.888889,24,28.509050,2.7,3.207268,NaN,NaN,1.463911
30,El Ghazi,Aston Villa,55,21.818182,72,74.150164,3.3,3.398549,2.470358,2.776526,1.449146
31,McGinn,Aston Villa,54,17.941176,61,60.171586,3.4,3.353826,NaN,0.404943,1.443257
246,Pereira,Manchester Utd,49,21.923077,57,69.535319,2.6,3.171786,3.578133,3.490703,1.432867
393,Snodgrass,West Ham,52,20.000000,78,64.858360,3.9,3.242918,4.501874,3.796249,1.422114
320,Redmond,Southampton,62,23.000000,69,81.111329,3.0,3.526580,3.930434,3.948752,1.416308
248,McTominay,Manchester Utd,49,17.187500,55,53.877375,3.2,3.134684,NaN,2.452485,1.416106
321,Ward-Prowse,Southampton,58,25.312500,81,86.239096,3.2,3.406977,1.923155,2.362367,1.414670
421,Trossard,Brighton,58,19.142857,67,64.917777,3.5,3.391227,3.609178,3.365295,1.408130
448,Tielemans,Leicester City,62,23.783784,88,82.274892,3.7,3.459285,3.381262,2.856408,1.389282
243,James,Manchester Utd,59,24.242424,80,81.600904,3.3,3.366037,2.554149,2.756761,1.385776
198,Henderson,Liverpool,54,24.210526,92,77.457527,3.8,3.199333,4.965620,4.287887,1.376774
302,Norwood,Sheffield Utd,49,25.000000,70,75.023457,2.8,3.000938,2.930850,3.160502,1.355686
392,Yarmolenko,West Ham,53,14.848485,49,46.041238,3.3,3.100736,NaN,2.215427,1.346874
266,Almir√≥n,Newcastle Utd,58,24.137931,70,77.828256,2.9,3.224313,2.871572,3.347728,1.338823

FORWARDS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
278,Pukki,Norwich City,65,23.800000,119,120.345491,5.0,5.056533,6.630729,5.719754,1.983336
233,Rashford,Manchester Utd,89,21.967213,134,125.649151,6.1,5.719849,6.803924,5.461512,1.917298
409,Jim√©nez,Wolves,77,25.192308,131,127.970982,5.2,5.079764,5.026900,5.093849,1.830620
460,Abraham,Chelsea,77,24.074074,130,120.209151,5.4,4.993303,4.244096,3.874803,1.799462
166,Vardy,Leicester City,98,23.030303,152,129.690982,6.6,5.631319,2.902865,3.818143,1.798859
313,Ings,Southampton,70,25.098039,128,117.901830,5.1,4.697651,3.672261,4.566737,1.775545
362,Deeney,Watford,63,13.947368,53,58.461830,3.8,4.191603,4.913943,4.834598,1.669975
187,Firmino,Liverpool,97,24.897959,122,127.214642,4.9,5.109441,6.995824,6.225558,1.640542
91,Wood,Burnley,62,22.790698,98,92.901830,4.3,4.076305,5.352507,4.503644,1.637083
468,Ayew,Crystal Palace,50,23.783784,88,86.101830,3.7,3.620191,2.625594,3.034215,1.618998
502,Maupay,Brighton,59,24.166667,87,93.823661,3.6,3.882358,3.665815,3.256323,1.598342
210,Ag√ºero,Manchester City,120,18.906250,121,100.547321,6.4,5.318205,5.988725,5.411916,1.535234
167,Iheanacho,Leicester City,57,9.090909,40,33.107321,4.4,3.641805,2.129535,2.618844,1.525384
68,King,Bournemouth,61,16.111111,58,59.925491,3.6,3.719513,NaN,2.179260,1.505987
11,Aubameyang,Arsenal,108,23.035714,129,113.025491,5.6,4.906533,3.638905,3.799958,1.493010
147,Calvert-Lewin,Everton,61,22.972973,85,83.400000,3.7,3.630353,4.040000,4.109259,1.469887
363,Deulofeu,Watford,61,25.151515,83,88.529151,3.3,3.519834,4.192445,4.128775,1.425139
410,Jota,Wolves,61,20.740741,56,72.501830,2.7,3.495624,2.903020,3.195197,1.415337
211,Jesus,Manchester City,95,21.190476,89,91.729151,4.2,4.328791,3.704931,4.436487,1.404445
303,McGoldrick,Sheffield Utd,54,19.047619,40,61.703661,2.1,3.239442,1.601570,2.600815,1.394034
428,Wesley,Aston Villa,55,20.937500,67,67.721830,3.2,3.234475,3.184933,2.350559,1.379185
315,Long,Southampton,46,15.200000,38,44.605491,2.5,2.934572,3.580869,3.775667,1.368251
338,Kane,Tottenham,108,20.000000,104,87.443661,5.2,4.372183,2.669867,4.294799,1.330413
130,Wickham,Crystal Palace,44,6.000000,15,16.101830,2.5,2.683638,2.045638,3.104618,1.279374
70,Mousset,Sheffield Utd,46,21.935484,68,60.105491,3.1,2.740103,1.590116,1.777062,1.277580
90,Barnes,Burnley,61,19.062500,61,59.620000,3.2,3.127607,1.400000,1.572222,1.266331
457,Haller,West Ham,70,24.285714,85,81.205491,3.5,3.343756,2.871230,2.977979,1.263821
67,Callum Wilson,Bournemouth,74,23.939394,79,80.105491,3.3,3.346179,4.116783,3.115499,1.230080
504,Martinelli,Arsenal,46,13.928571,39,34.901830,2.8,2.505772,4.392784,4.103037,1.168322
466,Joelinton,Newcastle Utd,55,25.454545,56,68.103661,2.2,2.675501,2.544522,2.702804,1.140837
534,Connolly,Brighton,43,16.000000,40,37.603661,2.5,2.350229,1.578775,1.705965,1.133381
501,McBurnie,Sheffield Utd,57,22.608696,52,59.900000,2.3,2.649423,3.726667,3.851852,1.109721
12,Lacazette,Arsenal,93,18.235294,62,59.405491,3.4,3.257720,3.054202,2.880522,1.068249
69,Solanke,Bournemouth,52,21.111111,38,44.803661,1.8,2.122279,2.877241,2.308817,0.930681
146,Tosun,Crystal Palace,57,7.857143,22,17.200000,2.8,2.189091,2.577778,2.146429,0.916909
364,Gray,Watford,55,19.444444,35,41.001830,1.8,2.108666,1.651251,1.600825,0.899138
188,Origi,Liverpool,52,20.000000,50,39.405491,2.5,1.970275,2.245125,1.975174,0.864023
451,Rodriguez,Burnley,57,23.809524,50,48.800000,2.1,2.049600,3.523077,3.129787,0.858483
487,Cutrone,Wolves,55,12.105263,23,24.200000,1.9,1.999130,NaN,0.866667,0.852432
110,Giroud,Chelsea,66,5.000000,7,10.900000,1.4,2.180000,NaN,NaN,0.848564

Below we compile a list sorting players based on a given metric (irrespective of position).

In [9]:
metric = 'adjusted points per game'

display(df[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
191,Salah,Liverpool,127,22.000000,165,156.694864,7.5,7.122494,8.602122,8.437651,1.998620
192,Man√©,Liverpool,122,21.940299,147,138.116208,6.7,6.295092,4.286282,5.255809,1.802280
215,De Bruyne,Manchester City,107,24.029851,161,146.180371,6.7,6.083283,5.162874,5.249987,1.859714
233,Rashford,Manchester Utd,89,21.967213,134,125.649151,6.1,5.719849,6.803924,5.461512,1.917298
166,Vardy,Leicester City,98,23.030303,152,129.690982,6.6,5.631319,2.902865,3.818143,1.798859
214,Sterling,Manchester City,117,23.200000,116,127.850048,5.0,5.510778,4.540621,4.483808,1.611091
182,Alexander-Arnold,Liverpool,76,25.172414,146,136.761051,5.8,5.432973,4.383933,4.937274,1.970747
210,Ag√ºero,Manchester City,120,18.906250,121,100.547321,6.4,5.318205,5.988725,5.411916,1.535234
187,Firmino,Liverpool,97,24.897959,122,127.214642,4.9,5.109441,6.995824,6.225558,1.640542
409,Jim√©nez,Wolves,77,25.192308,131,127.970982,5.2,5.079764,5.026900,5.093849,1.830620
278,Pukki,Norwich City,65,23.800000,119,120.345491,5.0,5.056533,6.630729,5.719754,1.983336
460,Abraham,Chelsea,77,24.074074,130,120.209151,5.4,4.993303,4.244096,3.874803,1.799462
11,Aubameyang,Arsenal,108,23.035714,129,113.025491,5.6,4.906533,3.638905,3.799958,1.493010
342,Son,Tottenham,100,19.818182,109,96.642349,5.5,4.876449,4.782055,4.279043,1.542069
181,Robertson,Liverpool,70,25.102041,123,122.044844,4.9,4.861949,4.118455,4.383220,1.837644
239,Martial,Manchester Utd,79,18.823529,96,89.105901,5.1,4.733751,3.843724,4.101676,1.684193
313,Ings,Southampton,70,25.098039,128,117.901830,5.1,4.697651,3.672261,4.566737,1.775545
431,Pulisic,Chelsea,69,15.909091,70,72.924308,4.4,4.583814,2.856183,2.722011,1.745028
344,Alli,Tottenham,85,18.113208,96,82.200817,5.3,4.538170,4.713707,4.483349,1.556580
340,Lloris,Tottenham,53,9.090909,40,41.221791,4.4,4.534397,7.680326,7.433607,1.969616
297,Lundstram,Sheffield Utd,51,24.000000,108,108.704708,4.5,4.529363,2.266692,3.043871,2.005636
217,Mahrez,Manchester City,85,21.132075,112,95.338296,5.3,4.511544,4.065142,4.469895,1.547447
171,Maddison,Leicester City,76,23.913043,110,107.512750,4.6,4.495988,3.582728,3.527332,1.630866
219,David Silva,Manchester City,74,18.125000,87,80.568338,4.8,4.445150,3.887281,3.729571,1.634070
105,Azpilicueta,Chelsea,58,22.941176,78,100.922431,3.4,4.399183,5.456509,5.891144,1.826661
103,Alonso,Chelsea,60,7.966102,47,34.960613,5.9,4.388673,NaN,6.851449,1.791668
338,Kane,Tottenham,108,20.000000,104,87.443661,5.2,4.372183,2.669867,4.294799,1.330413
401,Doherty,Wolves,61,23.055556,83,100.496715,3.6,4.358894,3.920144,4.081093,1.764864
183,van Dijk,Liverpool,65,24.901961,127,107.934692,5.1,4.334385,5.024194,4.795705,1.700086
211,Jesus,Manchester City,95,21.190476,89,91.729151,4.2,4.328791,3.704931,4.436487,1.404445
150,Richarlison,Everton,81,22.916667,110,99.007726,4.8,4.320337,5.317742,4.912064,1.518012
411,Patr√≠cio,Wolves,51,25.277778,91,108.048209,3.6,4.274435,4.359166,4.216694,1.892751
185,Matip,Liverpool,52,6.956522,32,29.601749,4.6,4.255251,NaN,NaN,1.866051
471,Henderson,Sheffield Utd,51,24.130435,111,101.657565,4.6,4.212836,6.572768,5.608263,1.865475
29,Grealish,Aston Villa,67,23.191489,109,97.250386,4.7,4.193365,4.075024,4.026286,1.620038
362,Deeney,Watford,63,13.947368,53,58.461830,3.8,4.191603,4.913943,4.834598,1.669975
208,Otamendi,Manchester City,50,15.833333,57,65.442832,3.6,4.133231,4.549608,4.089510,1.848437
189,Alisson,Liverpool,61,16.875000,81,69.134198,4.8,4.096841,5.741793,5.221108,1.658763
417,Traor√©,Wolves,58,23.953488,103,98.089630,4.3,4.095004,4.236143,4.357147,1.700358
91,Wood,Burnley,62,22.790698,98,92.901830,4.3,4.076305,5.352507,4.503644,1.637083

In [10]:
metric = 'form 10'

display(df[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
191,Salah,Liverpool,127,22.000000,165,156.694864,7.5,7.122494,8.602122,8.437651,1.998620
340,Lloris,Tottenham,53,9.090909,40,41.221791,4.4,4.534397,7.680326,7.433607,1.969616
103,Alonso,Chelsea,60,7.966102,47,34.960613,5.9,4.388673,NaN,6.851449,1.791668
187,Firmino,Liverpool,97,24.897959,122,127.214642,4.9,5.109441,6.995824,6.225558,1.640542
105,Azpilicueta,Chelsea,58,22.941176,78,100.922431,3.4,4.399183,5.456509,5.891144,1.826661
278,Pukki,Norwich City,65,23.800000,119,120.345491,5.0,5.056533,6.630729,5.719754,1.983336
471,Henderson,Sheffield Utd,51,24.130435,111,101.657565,4.6,4.212836,6.572768,5.608263,1.865475
265,P√©rez,Leicester City,62,22.127660,104,89.409851,4.7,4.040637,5.431544,5.483342,1.622759
233,Rashford,Manchester Utd,89,21.967213,134,125.649151,6.1,5.719849,6.803924,5.461512,1.917298
210,Ag√ºero,Manchester City,120,18.906250,121,100.547321,6.4,5.318205,5.988725,5.411916,1.535234
192,Man√©,Liverpool,122,21.940299,147,138.116208,6.7,6.295092,4.286282,5.255809,1.802280
215,De Bruyne,Manchester City,107,24.029851,161,146.180371,6.7,6.083283,5.162874,5.249987,1.859714
189,Alisson,Liverpool,61,16.875000,81,69.134198,4.8,4.096841,5.741793,5.221108,1.658763
409,Jim√©nez,Wolves,77,25.192308,131,127.970982,5.2,5.079764,5.026900,5.093849,1.830620
172,Barnes,Leicester City,59,22.894737,87,88.418171,3.8,3.861943,5.941759,5.029589,1.589937
304,Vestergaard,Southampton,46,11.875000,38,37.097877,3.2,3.124032,5.014097,5.014097,1.456587
141,Digne,Everton,58,23.823529,81,91.739712,3.4,3.850803,4.993879,4.942640,1.598959
182,Alexander-Arnold,Liverpool,76,25.172414,146,136.761051,5.8,5.432973,4.383933,4.937274,1.970747
150,Richarlison,Everton,81,22.916667,110,99.007726,4.8,4.320337,5.317742,4.912064,1.518012
341,Gazzaniga,Tottenham,44,16.764706,57,67.206068,3.4,4.008783,6.954244,4.910144,1.911112
93,Pope,Burnley,46,25.000000,105,99.165403,4.2,3.966616,5.525301,4.862991,1.849444
362,Deeney,Watford,63,13.947368,53,58.461830,3.8,4.191603,4.913943,4.834598,1.669975
183,van Dijk,Liverpool,65,24.901961,127,107.934692,5.1,4.334385,5.024194,4.795705,1.700086
5,Sokratis,Arsenal,49,17.931034,52,50.925601,2.9,2.840082,5.547515,4.637741,1.283018
122,Wan-Bissaka,Manchester Utd,53,22.222222,60,83.064877,2.7,3.737919,5.091126,4.605963,1.623648
313,Ings,Southampton,70,25.098039,128,117.901830,5.1,4.697651,3.672261,4.566737,1.775545
478,Holgate,Everton,45,17.931034,52,65.852162,2.9,3.672524,4.819954,4.563436,1.731245
525,Sarr,Watford,62,16.000000,56,52.961782,3.5,3.310111,4.398269,4.541394,1.329373
91,Wood,Burnley,62,22.790698,98,92.901830,4.3,4.076305,5.352507,4.503644,1.637083
214,Sterling,Manchester City,117,23.200000,116,127.850048,5.0,5.510778,4.540621,4.483808,1.611091
344,Alli,Tottenham,85,18.113208,96,82.200817,5.3,4.538170,4.713707,4.483349,1.556580
142,Mina,Everton,53,23.103448,67,76.813545,2.9,3.324765,5.194423,4.476590,1.444186
217,Mahrez,Manchester City,85,21.132075,112,95.338296,5.3,4.511544,4.065142,4.469895,1.547447
211,Jesus,Manchester City,95,21.190476,89,91.729151,4.2,4.328791,3.704931,4.436487,1.404445
283,Buend√≠a,Norwich City,60,23.870968,74,90.088994,3.1,3.773998,3.347608,4.401621,1.540728
59,Ak√©,Bournemouth,48,20.000000,64,69.810009,3.2,3.490500,4.896043,4.388518,1.593188
181,Robertson,Liverpool,70,25.102041,123,122.044844,4.9,4.861949,4.118455,4.383220,1.837644
417,Traor√©,Wolves,58,23.953488,103,98.089630,4.3,4.095004,4.236143,4.357147,1.700358
338,Kane,Tottenham,108,20.000000,104,87.443661,5.2,4.372183,2.669867,4.294799,1.330413
198,Henderson,Liverpool,54,24.210526,92,77.457527,3.8,3.199333,4.965620,4.287887,1.376774