# Player evaluation

Here we compare players based on their adjusted points. Also, we calculate some useful metrics using the adjusted points to further evaluate player performance in FPL.

In [1]:
# recent gameweek
gameweek = 36

In [2]:
# import basic libraries
import pandas as pd
import numpy as np

pd.set_option('max_columns',100)

In [3]:
# fetch FPL data
filepath = '../data/data_week' + str(gameweek) + '.csv'
df = pd.read_csv(filepath, index_col=0)#, encoding='latin-1')

# fetch team data
filepath = '../data/fbref/team_stats_week' + str(gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col=0)#, encoding='latin-1')

# fetch player stats data
filepath = '../data/fbref/player_stats_week' + str(gameweek) + '.csv'
playerStats = pd.read_csv(filepath, index_col=0, skiprows=1)#, encoding='latin-1')

## Value and value points

Here we calculate two interesting metrics: 'value' and 'value points'. 

Value is simply adjusted points per game divided by the cost of the player. Essentially, this measures how many 'points per pound(/euro/whatever)' has the player gained on an average game week. 

The value points is calculated as the geometric mean of a players adjusted points per game and value. Essentially, in FPL we want to gain the maximum possible amount of points. However, we are restrained by a limited budget, so that in practice we cannot just pick all the best players. Then, we would like to have a squad of players that give the most points given our budget. Thus, we would like to pick players that have high value ('bang for buck'). However, often the players with highest value are very cheap players who somewhat overperform relative to their price. Picking a squad full of these players might leave a part of our budget unused. Calculating the geometric mean of adjusted points and value allows us to weigh both aspects equally, i.e. we want players that both gain a lot of points but also have good value. For example, this metric values equally two players, where one has twice the points per game of the other who in turn has twice the value of the other.

In [4]:
# value = expected points / cost
df['value'] = df['adjusted points per game'] / (df['now_cost'] / 10.0)
# geometric mean of 'adjusted points per game' and 'value'
df['valuePoints metric'] = np.sqrt(df['adjusted points per game'] * df['value'])

In [5]:
# assign proper team names for each player
team_names = np.sort(teamStats['Squad'])
df['team_name'] = team_names[df['team']-1]

In [6]:
# save data
filepath = '../data/data_week' + str(gameweek) + str('.csv')
df.to_csv(filepath)

In [7]:
goalkeepers = df['element_type'] == 1
defenders = df['element_type'] == 2
midfielders = df['element_type'] == 3
forwards = df['element_type'] == 4

minGames = df['games played'] >= 3

## Player evaluation

Below we compile lists for each position sorting players based on a given metric.

In [8]:
#metric = 'valuePoints metric'
metric = 'adjusted points per game'
#metric = 'form 10'

numberToShow = 40

print('GOALKEEPERS')
display(df[goalkeepers & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('DEFENDERS')
display(df[defenders & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('MIDFIELDERS')
display(df[midfielders & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('FORWARDS')
display(df[forwards & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

GOALKEEPERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
340,Lloris,Tottenham,53,19.111111,86,84.903405,4.5,4.442620,4.287210,4.460506,1.929751
411,Patr√≠cio,Wolves,53,36.250000,145,155.301197,4.0,4.284171,3.402546,3.745385,1.860925
471,Henderson,Sheffield Utd,52,34.130435,157,141.680761,4.6,4.151156,4.009932,4.145201,1.820402
168,Schmeichel,Leicester City,55,35.813953,154,147.008890,4.3,4.104794,3.449691,4.436802,1.750290
93,Pope,Burnley,51,36.222222,163,148.177295,4.5,4.090784,4.108761,4.296969,1.811430
235,de Gea,Manchester Utd,53,36.216216,134,141.869777,3.7,3.917300,4.269752,4.293618,1.701566
341,Gazzaniga,Tottenham,41,18.125000,58,69.128011,3.2,3.813959,NaN,1.653034,1.883580
189,Alisson,Liverpool,62,27.045455,119,103.026729,4.4,3.809392,3.145642,3.368351,1.529889
131,Guaita,Crystal Palace,49,33.250000,133,126.256094,4.0,3.797176,2.830783,3.447557,1.715389
14,Leno,Arsenal,48,30.000000,114,113.683182,3.8,3.789439,NaN,4.764574,1.729635
318,McCarthy,Southampton,45,25.675676,95,95.976854,3.7,3.738046,3.565515,4.048582,1.762132
603,Reina,Aston Villa,42,10.000000,33,35.466644,3.3,3.546664,3.441316,3.136751,1.730595
47,Ryan,Brighton,47,36.000000,126,127.497807,3.5,3.541606,2.160617,2.753191,1.633621
427,Mart√≠nez,Arsenal,43,6.976744,30,24.437949,4.3,3.502773,3.946492,NaN,1.689187
212,Ederson,Manchester City,60,33.333333,120,116.296977,3.6,3.488909,4.025188,3.772803,1.424341
494,Ramsdale,Bournemouth,44,35.000000,112,121.373937,3.2,3.467827,3.093931,2.943961,1.653222
366,Foster,Watford,49,36.285714,127,124.530035,3.5,3.431930,3.146031,3.300954,1.550388
262,Dubravka,Newcastle Utd,51,36.216216,134,123.492461,3.7,3.409866,1.911923,2.578389,1.509914
213,Bravo,Manchester City,47,3.928571,11,13.128215,2.8,3.341728,NaN,NaN,1.541424
280,Krul,Norwich City,46,33.870968,105,112.353722,3.1,3.317110,2.346520,2.760309,1.546610
132,Hennessey,Crystal Palace,42,3.043478,7,10.044036,2.3,3.300183,NaN,2.031087,1.610325
111,Kepa,Chelsea,54,32.142857,90,104.646399,2.8,3.255666,3.018223,3.090027,1.401015
112,Caballero,Chelsea,48,3.888889,7,12.643638,1.8,3.251221,NaN,3.668264,1.483973
148,Pickford,Everton,52,36.333333,109,116.607954,3.0,3.209393,2.821207,3.158592,1.407412
388,Fabianski,West Ham,49,23.333333,77,73.815287,3.3,3.163512,3.104826,2.969731,1.429129
526,Adri√°n,Liverpool,40,10.800000,27,33.826202,2.5,3.132056,NaN,3.017023,1.566028
553,Martin,West Ham,39,5.000000,20,15.603276,4.0,3.120655,NaN,NaN,1.580205
319,Gunn,Southampton,42,10.000000,29,30.727827,2.9,3.072783,NaN,NaN,1.499364
450,Roberto,West Ham,44,8.181818,18,23.896270,2.2,2.920655,NaN,NaN,1.392368
94,Heaton,Aston Villa,43,19.666667,59,55.717733,3.0,2.833105,NaN,NaN,1.366245
27,Nyland,Aston Villa,43,7.142857,15,15.619031,2.1,2.186664,2.911575,2.744365,1.054503

DEFENDERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
182,Alexander-Arnold,Liverpool,77,36.296296,196,184.910959,5.4,5.094486,3.019200,3.510383,1.835925
181,Robertson,Liverpool,70,34.200000,171,160.637876,5.0,4.697014,5.423034,4.497258,1.775304
401,Doherty,Wolves,65,33.695652,155,158.084782,4.6,4.691548,3.439842,4.465548,1.840177
103,Alonso,Chelsea,61,15.892857,89,74.560523,5.6,4.691449,4.258637,4.260717,1.899512
105,Azpilicueta,Chelsea,61,33.783784,125,155.320688,3.7,4.597492,5.362069,5.219014,1.861470
183,van Dijk,Liverpool,65,35.744681,168,148.267821,4.7,4.147969,3.390344,3.519165,1.626967
297,Lundstram,Sheffield Utd,46,32.380952,136,133.694445,4.2,4.128799,2.121292,2.591918,1.925062
159,Pereira,Leicester City,62,27.954545,123,112.958467,4.4,4.040791,NaN,4.237695,1.622821
185,Matip,Liverpool,52,9.069767,39,35.850945,4.3,3.952797,NaN,4.079767,1.733416
122,Wan-Bissaka,Manchester Utd,55,33.055556,119,129.989205,3.6,3.932447,3.191768,3.982885,1.676801
405,Boly,Wolves,49,20.000000,90,78.265001,4.5,3.913250,3.454944,3.827832,1.767826
208,Otamendi,Manchester City,48,24.117647,82,92.320166,3.4,3.827909,3.540541,3.032010,1.747194
440,Angeli√±o,Manchester City,46,6.111111,11,23.031603,1.8,3.768808,NaN,NaN,1.757216
161,Chilwell,Leicester City,55,27.142857,114,102.271204,4.2,3.767886,2.683932,4.218383,1.606632
141,Digne,Everton,59,33.235294,113,124.021285,3.4,3.731614,2.955313,3.435141,1.536281
123,van Aanholt,Crystal Palace,56,28.684211,109,106.007114,3.8,3.695661,3.305652,3.649088,1.561702
160,Maguire,Manchester Utd,53,36.250000,116,133.221894,3.2,3.675087,3.583373,3.721702,1.596356
204,Mendy,Manchester City,55,18.974359,74,68.995927,3.9,3.636272,3.758621,3.402289,1.550512
402,Jonny,Wolves,55,33.333333,110,120.006767,3.3,3.600203,3.308750,4.145822,1.535132
407,Sa√Øss,Wolves,47,31.875000,102,114.062493,3.2,3.578431,3.659041,4.023385,1.650607
291,Stevens,Sheffield Utd,52,35.897436,140,128.179873,3.9,3.570725,3.331432,3.329562,1.565867
162,Evans,Leicester City,53,36.111111,130,128.367541,3.6,3.554793,2.487319,3.070837,1.544104
42,Dunk,Brighton,48,33.714286,118,119.767432,3.5,3.552424,1.800550,2.936348,1.621452
506,James,Chelsea,49,22.000000,55,78.024515,2.5,3.546569,3.057827,3.135045,1.602177
164,S√∂y√ºnc√º,Leicester City,49,34.285714,120,120.651119,3.5,3.518991,1.186647,2.746755,1.589718
359,Janmaat,Watford,40,8.000000,36,27.958989,4.5,3.494874,NaN,NaN,1.747437
203,Walker,Manchester City,56,27.352941,93,94.965755,3.4,3.471866,3.154433,3.038196,1.467131
529,Tomori,Chelsea,42,15.000000,48,51.968319,3.2,3.464555,NaN,1.966214,1.690530
518,Cancelo,Manchester City,51,14.782609,34,51.059529,2.3,3.454027,3.567443,3.257832,1.529469
225,Lindel√∂f,Manchester Utd,53,33.030303,109,113.554954,3.3,3.437902,3.843019,3.921984,1.493329
403,Coady,Wolves,51,36.129032,112,123.606644,3.1,3.421255,3.347497,3.714288,1.514957
293,O'Connell,Sheffield Utd,45,32.058824,109,109.432887,3.4,3.413503,2.277591,2.472121,1.609141
295,Egan,Sheffield Utd,47,34.210526,130,116.571533,3.8,3.407476,4.149208,4.076793,1.571751
6,Monreal,Arsenal,50,3.030303,10,10.296281,3.3,3.397773,NaN,NaN,1.519530
104,R√ºdiger,Chelsea,59,17.812500,57,59.649879,3.2,3.348765,4.425049,3.712594,1.378665
336,Aurier,Tottenham,51,31.351351,116,104.902378,3.7,3.346024,3.937287,3.686188,1.481644
226,Shaw,Manchester Utd,54,23.928571,67,79.413959,2.8,3.318792,3.629674,3.703792,1.428181
84,Tarkowski,Burnley,54,35.789474,136,118.603323,3.8,3.313916,3.988807,3.705535,1.426083
202,Laporte,Manchester City,63,12.857143,45,42.555977,3.5,3.309909,3.969301,3.625149,1.318699
294,Baldock,Sheffield Utd,50,35.641026,139,117.889269,3.9,3.307685,2.482603,2.718799,1.479241

MIDFIELDERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
191,Salah,Liverpool,125,31.971831,227,218.522116,7.1,6.834833,7.297781,6.794712,1.933183
618,Fernandes,Manchester Utd,91,11.931818,105,78.452311,8.8,6.575051,6.781902,6.804725,2.179608
215,De Bruyne,Manchester City,107,33.235294,226,206.276305,6.8,6.206544,6.011123,6.414709,1.897396
192,Man√©,Liverpool,122,32.812500,210,190.750633,6.4,5.813353,5.269532,5.112684,1.664358
214,Sterling,Manchester City,119,30.862069,179,178.049625,5.8,5.769206,5.835396,6.076107,1.672409
239,Martial,Manchester Utd,85,30.000000,189,153.081812,6.3,5.102727,6.638190,6.529543,1.750221
342,Son,Tottenham,96,27.758621,161,139.770115,5.8,5.035197,5.028378,4.807558,1.625103
431,Pulisic,Chelsea,74,23.000000,115,111.536287,5.0,4.849404,5.099907,5.495451,1.782676
389,Antonio,West Ham,70,22.173913,102,106.390230,4.6,4.797991,8.073964,7.325073,1.813470
219,David Silva,Manchester City,74,26.153846,136,123.785289,5.2,4.732967,6.413713,5.817055,1.739873
217,Mahrez,Manchester City,86,31.132075,165,147.145510,5.3,4.726492,4.691918,4.703768,1.611720
113,Willian,Chelsea,74,34.893617,164,156.930178,4.7,4.497389,6.035286,6.467671,1.653273
344,Alli,Tottenham,83,24.166667,116,105.788945,4.8,4.377474,1.392961,2.945873,1.519443
150,Richarlison,Everton,82,33.913043,156,144.836500,4.6,4.270820,2.024068,2.857289,1.491435
171,Maddison,Leicester City,73,31.250000,125,128.685200,4.0,4.117926,2.439361,3.179309,1.524113
29,Grealish,Aston Villa,59,33.750000,135,133.267995,4.0,3.948681,3.667167,3.280353,1.625646
114,Pedro,Chelsea,68,10.000000,31,38.425700,3.1,3.842570,NaN,4.405132,1.473558
626,Bowen,West Ham,64,11.081081,41,42.391704,3.7,3.825593,4.048533,4.163529,1.512198
172,Barnes,Leicester City,59,34.210526,130,128.678473,3.8,3.761371,3.933230,3.736385,1.548532
417,Traor√©,Wolves,56,35.277778,127,132.273803,3.6,3.749494,3.759600,3.509058,1.584450
218,Bernardo Silva,Manchester City,76,32.000000,112,118.271039,3.5,3.695970,3.818449,3.457363,1.340669
463,Mount,Chelsea,60,34.857143,122,128.240475,3.5,3.679030,2.026820,2.465148,1.501958
265,P√©rez,Leicester City,60,30.975610,127,113.921864,4.1,3.677792,3.199841,2.871534,1.501452
238,Pogba,Manchester Utd,83,13.823529,47,50.446590,3.4,3.649328,3.533010,3.528060,1.266700
500,Saint-Maximin,Newcastle Utd,53,23.783784,88,86.336163,3.7,3.630043,3.639347,4.380986,1.576790
525,Sarr,Watford,60,25.789474,98,92.544061,3.8,3.588443,3.361289,3.522271,1.464976
320,Redmond,Southampton,62,30.000000,99,107.592341,3.3,3.586411,4.250040,3.908895,1.440337
269,Shelvey,Newcastle Utd,49,24.250000,97,85.535784,4.0,3.527249,3.250313,3.702126,1.593449
488,P√©p√©,Arsenal,89,28.611111,103,99.513329,3.6,3.478136,1.803111,2.272124,1.165874
321,Ward-Prowse,Southampton,57,36.451613,113,125.720169,3.1,3.448960,3.568897,3.700297,1.444611
421,Trossard,Brighton,58,29.705882,101,101.804409,3.4,3.427079,4.438675,3.882843,1.423017
301,Fleck,Sheffield Utd,47,28.000000,98,95.231140,3.5,3.401112,0.020774,1.296721,1.568816
266,Almir√≥n,Newcastle Utd,58,33.548387,104,113.527630,3.1,3.383997,3.644268,3.848584,1.405128
117,Barkley,Chelsea,56,20.000000,60,65.050224,3.0,3.252511,2.902002,3.390466,1.374437
97,McNeil,Burnley,60,35.757576,118,115.909809,3.3,3.241546,2.635855,3.075520,1.323355
133,Zaha,Crystal Palace,66,36.250000,116,117.157102,3.2,3.231920,3.368936,3.293451,1.258023
616,Soucek,West Ham,48,10.882353,37,34.860606,3.4,3.203407,4.586277,3.960213,1.462149
448,Tielemans,Leicester City,61,35.312500,113,113.017865,3.2,3.200506,3.791382,3.128592,1.295847
287,Cantwell,Norwich City,45,34.516129,107,109.966333,3.1,3.185940,0.988097,1.371760,1.501867
198,Henderson,Liverpool,52,29.743590,116,94.402092,3.9,3.173863,3.138746,2.788832,1.391831

FORWARDS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
233,Rashford,Manchester Utd,89,29.000000,174,166.450588,6.0,5.739675,6.424613,6.074265,1.923944
166,Vardy,Leicester City,98,32.857143,207,186.391765,6.3,5.672793,8.135898,6.848080,1.812107
409,Jim√©nez,Wolves,81,35.961538,187,180.072941,5.2,5.007376,5.174957,4.832004,1.759413
210,Ag√ºero,Manchester City,117,24.000000,132,117.052941,5.5,4.877206,NaN,4.456819,1.425864
11,Aubameyang,Arsenal,109,34.000000,187,164.915294,5.5,4.850450,3.896053,4.516240,1.469159
313,Ings,Southampton,76,35.769231,186,166.197647,5.2,4.646386,5.438763,5.009357,1.685421
187,Firmino,Liverpool,93,35.750000,143,163.690588,4.0,4.578758,2.981720,2.994673,1.501434
460,Abraham,Chelsea,74,31.956522,147,142.692941,4.6,4.465221,2.409623,2.863661,1.641448
211,Jesus,Manchester City,98,32.380952,136,143.610588,4.2,4.435033,7.948163,5.942712,1.416719
338,Kane,Tottenham,109,27.200000,136,118.437647,5.0,4.354325,5.032097,4.666049,1.318887
278,Pukki,Norwich City,64,35.128205,137,145.036471,3.9,4.128775,1.704812,1.891639,1.632042
362,Deeney,Watford,62,25.250000,101,102.497647,4.0,4.059313,6.022763,4.770897,1.630259
91,Wood,Burnley,61,30.000000,120,119.218824,4.0,3.973961,4.311675,4.202190,1.609010
147,Calvert-Lewin,Everton,62,34.444444,124,129.498824,3.6,3.759643,2.359382,2.982061,1.509909
502,Maupay,Brighton,57,35.428571,124,131.337647,3.5,3.707111,3.712097,3.395032,1.552738
410,Jota,Wolves,60,32.187500,103,118.196471,3.2,3.672123,3.191478,3.301151,1.499138
68,King,Bournemouth,61,24.285714,85,88.635294,3.5,3.649689,3.448617,3.576241,1.477716
12,Lacazette,Arsenal,92,28.250000,113,100.692941,4.0,3.564352,5.323183,4.606500,1.175132
110,Giroud,Chelsea,67,16.111111,58,55.798824,3.6,3.463375,5.006048,4.335017,1.338019
67,Callum Wilson,Bournemouth,74,33.030303,109,113.094118,3.3,3.423950,3.552031,3.236870,1.258669
457,Haller,West Ham,68,30.303030,100,101.496471,3.3,3.349384,1.795101,2.459350,1.284430
363,Deulofeu,Watford,61,28.387097,88,95.014118,3.1,3.347088,NaN,1.885790,1.355196
468,Ayew,Crystal Palace,51,34.722222,125,115.997647,3.6,3.340732,2.405430,2.526133,1.479301
428,Wesley,Aston Villa,54,20.937500,67,67.718824,3.2,3.234332,NaN,NaN,1.391835
167,Iheanacho,Leicester City,57,18.235294,62,57.395294,3.4,3.147484,2.728788,2.826743,1.318336
90,Barnes,Burnley,61,19.062500,61,59.620000,3.2,3.127607,NaN,NaN,1.266331
303,McGoldrick,Sheffield Utd,54,27.391304,63,85.297647,2.3,3.114041,4.770868,3.623346,1.340070
315,Long,Southampton,46,23.600000,59,67.096471,2.5,2.843071,1.276591,1.732283,1.325589
501,McBurnie,Sheffield Utd,55,33.600000,84,94.598824,2.5,2.815441,3.072603,2.878928,1.200508
554,Gayle,Newcastle Utd,50,18.076923,47,48.697647,2.6,2.693912,4.024302,4.144705,1.204754
130,Wickham,Crystal Palace,43,6.000000,15,16.098824,2.5,2.683137,NaN,NaN,1.293924
92,Vydra,Burnley,51,16.818182,37,43.898824,2.2,2.610200,2.472715,2.678425,1.155816
70,Mousset,Sheffield Utd,43,30.000000,84,77.195294,2.8,2.573176,1.957527,2.107609,1.240896
129,Benteke,Crystal Palace,57,23.333333,42,59.798824,1.8,2.562807,3.554966,3.419213,1.073442
451,Rodriguez,Burnley,57,34.285714,96,86.817647,2.8,2.532181,4.081232,3.947801,1.060614
613,Samatta,Aston Villa,51,11.818182,26,29.700000,2.2,2.513077,2.386667,2.288679,1.112809
13,Nketiah,Arsenal,43,11.000000,22,27.600000,2.0,2.509091,0.283333,2.270588,1.209991
466,Joelinton,Newcastle Utd,55,36.190476,76,90.597647,2.1,2.503356,1.792097,1.982305,1.067435
504,Martinelli,Arsenal,43,13.928571,39,34.498824,2.8,2.476839,NaN,NaN,1.194438
234,Greenwood,Manchester Utd,49,28.750000,92,67.598824,3.2,2.351263,3.351242,3.562745,1.062193

Below we compile a list sorting players based on a given metric (irrespective of position).

In [9]:
metric = 'adjusted points per game'

display(df[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
191,Salah,Liverpool,125,31.971831,227,218.522116,7.1,6.834833,7.297781,6.794712,1.933183
618,Fernandes,Manchester Utd,91,11.931818,105,78.452311,8.8,6.575051,6.781902,6.804725,2.179608
215,De Bruyne,Manchester City,107,33.235294,226,206.276305,6.8,6.206544,6.011123,6.414709,1.897396
192,Man√©,Liverpool,122,32.812500,210,190.750633,6.4,5.813353,5.269532,5.112684,1.664358
214,Sterling,Manchester City,119,30.862069,179,178.049625,5.8,5.769206,5.835396,6.076107,1.672409
233,Rashford,Manchester Utd,89,29.000000,174,166.450588,6.0,5.739675,6.424613,6.074265,1.923944
166,Vardy,Leicester City,98,32.857143,207,186.391765,6.3,5.672793,8.135898,6.848080,1.812107
239,Martial,Manchester Utd,85,30.000000,189,153.081812,6.3,5.102727,6.638190,6.529543,1.750221
182,Alexander-Arnold,Liverpool,77,36.296296,196,184.910959,5.4,5.094486,3.019200,3.510383,1.835925
342,Son,Tottenham,96,27.758621,161,139.770115,5.8,5.035197,5.028378,4.807558,1.625103
409,Jim√©nez,Wolves,81,35.961538,187,180.072941,5.2,5.007376,5.174957,4.832004,1.759413
210,Ag√ºero,Manchester City,117,24.000000,132,117.052941,5.5,4.877206,NaN,4.456819,1.425864
11,Aubameyang,Arsenal,109,34.000000,187,164.915294,5.5,4.850450,3.896053,4.516240,1.469159
431,Pulisic,Chelsea,74,23.000000,115,111.536287,5.0,4.849404,5.099907,5.495451,1.782676
389,Antonio,West Ham,70,22.173913,102,106.390230,4.6,4.797991,8.073964,7.325073,1.813470
219,David Silva,Manchester City,74,26.153846,136,123.785289,5.2,4.732967,6.413713,5.817055,1.739873
217,Mahrez,Manchester City,86,31.132075,165,147.145510,5.3,4.726492,4.691918,4.703768,1.611720
181,Robertson,Liverpool,70,34.200000,171,160.637876,5.0,4.697014,5.423034,4.497258,1.775304
401,Doherty,Wolves,65,33.695652,155,158.084782,4.6,4.691548,3.439842,4.465548,1.840177
103,Alonso,Chelsea,61,15.892857,89,74.560523,5.6,4.691449,4.258637,4.260717,1.899512
313,Ings,Southampton,76,35.769231,186,166.197647,5.2,4.646386,5.438763,5.009357,1.685421
105,Azpilicueta,Chelsea,61,33.783784,125,155.320688,3.7,4.597492,5.362069,5.219014,1.861470
187,Firmino,Liverpool,93,35.750000,143,163.690588,4.0,4.578758,2.981720,2.994673,1.501434
113,Willian,Chelsea,74,34.893617,164,156.930178,4.7,4.497389,6.035286,6.467671,1.653273
460,Abraham,Chelsea,74,31.956522,147,142.692941,4.6,4.465221,2.409623,2.863661,1.641448
340,Lloris,Tottenham,53,19.111111,86,84.903405,4.5,4.442620,4.287210,4.460506,1.929751
211,Jesus,Manchester City,98,32.380952,136,143.610588,4.2,4.435033,7.948163,5.942712,1.416719
344,Alli,Tottenham,83,24.166667,116,105.788945,4.8,4.377474,1.392961,2.945873,1.519443
338,Kane,Tottenham,109,27.200000,136,118.437647,5.0,4.354325,5.032097,4.666049,1.318887
411,Patr√≠cio,Wolves,53,36.250000,145,155.301197,4.0,4.284171,3.402546,3.745385,1.860925
150,Richarlison,Everton,82,33.913043,156,144.836500,4.6,4.270820,2.024068,2.857289,1.491435
471,Henderson,Sheffield Utd,52,34.130435,157,141.680761,4.6,4.151156,4.009932,4.145201,1.820402
183,van Dijk,Liverpool,65,35.744681,168,148.267821,4.7,4.147969,3.390344,3.519165,1.626967
297,Lundstram,Sheffield Utd,46,32.380952,136,133.694445,4.2,4.128799,2.121292,2.591918,1.925062
278,Pukki,Norwich City,64,35.128205,137,145.036471,3.9,4.128775,1.704812,1.891639,1.632042
171,Maddison,Leicester City,73,31.250000,125,128.685200,4.0,4.117926,2.439361,3.179309,1.524113
168,Schmeichel,Leicester City,55,35.813953,154,147.008890,4.3,4.104794,3.449691,4.436802,1.750290
93,Pope,Burnley,51,36.222222,163,148.177295,4.5,4.090784,4.108761,4.296969,1.811430
362,Deeney,Watford,62,25.250000,101,102.497647,4.0,4.059313,6.022763,4.770897,1.630259
159,Pereira,Leicester City,62,27.954545,123,112.958467,4.4,4.040791,NaN,4.237695,1.622821

In [10]:
metric = 'form 10'

display(df[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
389,Antonio,West Ham,70,22.173913,102,106.390230,4.6,4.797991,8.073964,7.325073,1.813470
166,Vardy,Leicester City,98,32.857143,207,186.391765,6.3,5.672793,8.135898,6.848080,1.812107
618,Fernandes,Manchester Utd,91,11.931818,105,78.452311,8.8,6.575051,6.781902,6.804725,2.179608
191,Salah,Liverpool,125,31.971831,227,218.522116,7.1,6.834833,7.297781,6.794712,1.933183
239,Martial,Manchester Utd,85,30.000000,189,153.081812,6.3,5.102727,6.638190,6.529543,1.750221
113,Willian,Chelsea,74,34.893617,164,156.930178,4.7,4.497389,6.035286,6.467671,1.653273
215,De Bruyne,Manchester City,107,33.235294,226,206.276305,6.8,6.206544,6.011123,6.414709,1.897396
214,Sterling,Manchester City,119,30.862069,179,178.049625,5.8,5.769206,5.835396,6.076107,1.672409
233,Rashford,Manchester Utd,89,29.000000,174,166.450588,6.0,5.739675,6.424613,6.074265,1.923944
211,Jesus,Manchester City,98,32.380952,136,143.610588,4.2,4.435033,7.948163,5.942712,1.416719
219,David Silva,Manchester City,74,26.153846,136,123.785289,5.2,4.732967,6.413713,5.817055,1.739873
431,Pulisic,Chelsea,74,23.000000,115,111.536287,5.0,4.849404,5.099907,5.495451,1.782676
165,Morgan,Leicester City,41,8.947368,17,23.869788,1.9,2.667800,5.235276,5.235276,1.317532
105,Azpilicueta,Chelsea,61,33.783784,125,155.320688,3.7,4.597492,5.362069,5.219014,1.861470
192,Man√©,Liverpool,122,32.812500,210,190.750633,6.4,5.813353,5.269532,5.112684,1.664358
313,Ings,Southampton,76,35.769231,186,166.197647,5.2,4.646386,5.438763,5.009357,1.685421
409,Jim√©nez,Wolves,81,35.961538,187,180.072941,5.2,5.007376,5.174957,4.832004,1.759413
342,Son,Tottenham,96,27.758621,161,139.770115,5.8,5.035197,5.028378,4.807558,1.625103
362,Deeney,Watford,62,25.250000,101,102.497647,4.0,4.059313,6.022763,4.770897,1.630259
14,Leno,Arsenal,48,30.000000,114,113.683182,3.8,3.789439,NaN,4.764574,1.729635
217,Mahrez,Manchester City,86,31.132075,165,147.145510,5.3,4.726492,4.691918,4.703768,1.611720
338,Kane,Tottenham,109,27.200000,136,118.437647,5.0,4.354325,5.032097,4.666049,1.318887
12,Lacazette,Arsenal,92,28.250000,113,100.692941,4.0,3.564352,5.323183,4.606500,1.175132
11,Aubameyang,Arsenal,109,34.000000,187,164.915294,5.5,4.850450,3.896053,4.516240,1.469159
181,Robertson,Liverpool,70,34.200000,171,160.637876,5.0,4.697014,5.423034,4.497258,1.775304
401,Doherty,Wolves,65,33.695652,155,158.084782,4.6,4.691548,3.439842,4.465548,1.840177
340,Lloris,Tottenham,53,19.111111,86,84.903405,4.5,4.442620,4.287210,4.460506,1.929751
210,Ag√ºero,Manchester City,117,24.000000,132,117.052941,5.5,4.877206,NaN,4.456819,1.425864
15,√ñzil,Arsenal,69,18.275862,53,54.212587,2.9,2.966349,NaN,4.453404,1.129270
168,Schmeichel,Leicester City,55,35.813953,154,147.008890,4.3,4.104794,3.449691,4.436802,1.750290
114,Pedro,Chelsea,68,10.000000,31,38.425700,3.1,3.842570,NaN,4.405132,1.473558
500,Saint-Maximin,Newcastle Utd,53,23.783784,88,86.336163,3.7,3.630043,3.639347,4.380986,1.576790
110,Giroud,Chelsea,67,16.111111,58,55.798824,3.6,3.463375,5.006048,4.335017,1.338019
83,Mee,Burnley,49,32.352941,110,94.268634,3.4,2.913758,7.651707,4.310155,1.316302
93,Pope,Burnley,51,36.222222,163,148.177295,4.5,4.090784,4.108761,4.296969,1.811430
235,de Gea,Manchester Utd,53,36.216216,134,141.869777,3.7,3.917300,4.269752,4.293618,1.701566
103,Alonso,Chelsea,61,15.892857,89,74.560523,5.6,4.691449,4.258637,4.260717,1.899512
159,Pereira,Leicester City,62,27.954545,123,112.958467,4.4,4.040791,NaN,4.237695,1.622821
161,Chilwell,Leicester City,55,27.142857,114,102.271204,4.2,3.767886,2.683932,4.218383,1.606632
91,Wood,Burnley,61,30.000000,120,119.218824,4.0,3.973961,4.311675,4.202190,1.609010

In [11]:
metric = 'valuePoints metric'

display(df[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
618,Fernandes,Manchester Utd,91,11.931818,105,78.452311,8.8,6.575051,6.781902,6.804725,2.179608
191,Salah,Liverpool,125,31.971831,227,218.522116,7.1,6.834833,7.297781,6.794712,1.933183
340,Lloris,Tottenham,53,19.111111,86,84.903405,4.5,4.442620,4.287210,4.460506,1.929751
297,Lundstram,Sheffield Utd,46,32.380952,136,133.694445,4.2,4.128799,2.121292,2.591918,1.925062
233,Rashford,Manchester Utd,89,29.000000,174,166.450588,6.0,5.739675,6.424613,6.074265,1.923944
103,Alonso,Chelsea,61,15.892857,89,74.560523,5.6,4.691449,4.258637,4.260717,1.899512
215,De Bruyne,Manchester City,107,33.235294,226,206.276305,6.8,6.206544,6.011123,6.414709,1.897396
341,Gazzaniga,Tottenham,41,18.125000,58,69.128011,3.2,3.813959,NaN,1.653034,1.883580
105,Azpilicueta,Chelsea,61,33.783784,125,155.320688,3.7,4.597492,5.362069,5.219014,1.861470
411,Patr√≠cio,Wolves,53,36.250000,145,155.301197,4.0,4.284171,3.402546,3.745385,1.860925
401,Doherty,Wolves,65,33.695652,155,158.084782,4.6,4.691548,3.439842,4.465548,1.840177
182,Alexander-Arnold,Liverpool,77,36.296296,196,184.910959,5.4,5.094486,3.019200,3.510383,1.835925
471,Henderson,Sheffield Utd,52,34.130435,157,141.680761,4.6,4.151156,4.009932,4.145201,1.820402
389,Antonio,West Ham,70,22.173913,102,106.390230,4.6,4.797991,8.073964,7.325073,1.813470
166,Vardy,Leicester City,98,32.857143,207,186.391765,6.3,5.672793,8.135898,6.848080,1.812107
93,Pope,Burnley,51,36.222222,163,148.177295,4.5,4.090784,4.108761,4.296969,1.811430
431,Pulisic,Chelsea,74,23.000000,115,111.536287,5.0,4.849404,5.099907,5.495451,1.782676
181,Robertson,Liverpool,70,34.200000,171,160.637876,5.0,4.697014,5.423034,4.497258,1.775304
405,Boly,Wolves,49,20.000000,90,78.265001,4.5,3.913250,3.454944,3.827832,1.767826
318,McCarthy,Southampton,45,25.675676,95,95.976854,3.7,3.738046,3.565515,4.048582,1.762132
409,Jim√©nez,Wolves,81,35.961538,187,180.072941,5.2,5.007376,5.174957,4.832004,1.759413
440,Angeli√±o,Manchester City,46,6.111111,11,23.031603,1.8,3.768808,NaN,NaN,1.757216
168,Schmeichel,Leicester City,55,35.813953,154,147.008890,4.3,4.104794,3.449691,4.436802,1.750290
239,Martial,Manchester Utd,85,30.000000,189,153.081812,6.3,5.102727,6.638190,6.529543,1.750221
359,Janmaat,Watford,40,8.000000,36,27.958989,4.5,3.494874,NaN,NaN,1.747437
208,Otamendi,Manchester City,48,24.117647,82,92.320166,3.4,3.827909,3.540541,3.032010,1.747194
219,David Silva,Manchester City,74,26.153846,136,123.785289,5.2,4.732967,6.413713,5.817055,1.739873
185,Matip,Liverpool,52,9.069767,39,35.850945,4.3,3.952797,NaN,4.079767,1.733416
603,Reina,Aston Villa,42,10.000000,33,35.466644,3.3,3.546664,3.441316,3.136751,1.730595
14,Leno,Arsenal,48,30.000000,114,113.683182,3.8,3.789439,NaN,4.764574,1.729635
131,Guaita,Crystal Palace,49,33.250000,133,126.256094,4.0,3.797176,2.830783,3.447557,1.715389
235,de Gea,Manchester Utd,53,36.216216,134,141.869777,3.7,3.917300,4.269752,4.293618,1.701566
529,Tomori,Chelsea,42,15.000000,48,51.968319,3.2,3.464555,NaN,1.966214,1.690530
427,Mart√≠nez,Arsenal,43,6.976744,30,24.437949,4.3,3.502773,3.946492,NaN,1.689187
313,Ings,Southampton,76,35.769231,186,166.197647,5.2,4.646386,5.438763,5.009357,1.685421
122,Wan-Bissaka,Manchester Utd,55,33.055556,119,129.989205,3.6,3.932447,3.191768,3.982885,1.676801
214,Sterling,Manchester City,119,30.862069,179,178.049625,5.8,5.769206,5.835396,6.076107,1.672409
192,Man√©,Liverpool,122,32.812500,210,190.750633,6.4,5.813353,5.269532,5.112684,1.664358
113,Willian,Chelsea,74,34.893617,164,156.930178,4.7,4.497389,6.035286,6.467671,1.653273
494,Ramsdale,Bournemouth,44,35.000000,112,121.373937,3.2,3.467827,3.093931,2.943961,1.653222