# Player evaluation

Here we compare players based on their adjusted points. Also, we calculate some useful metrics using the adjusted points to further evaluate player performance in FPL.

In [1]:
# recent gameweek
gameweek = 24

In [2]:
# import basic libraries
import pandas as pd
import numpy as np

pd.set_option('max_columns',100)

In [3]:
# fetch FPL data
filepath = '../data/data_week' + str(gameweek) + '.csv'
df = pd.read_csv(filepath, index_col=0)#, encoding='latin-1')

# fetch team data
filepath = '../data/fbref/team_stats_week' + str(gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col=0)#, encoding='latin-1')

# fetch player stats data
filepath = '../data/fbref/player_stats_week' + str(gameweek) + '.csv'
playerStats = pd.read_csv(filepath, index_col=0, skiprows=1)#, encoding='latin-1')

## Value and value points

Here we calculate two interesting metrics: 'value' and 'value points'. 

Value is simply adjusted points per game divided by the cost of the player. Essentially, this measures how many 'points per pound(/euro/whatever)' has the player gained on an average game week. 

The value points is calculated as the geometric mean of a players adjusted points per game and value. Essentially, in FPL we want to gain the maximum possible amount of points. However, we are restrained by a limited budget, so that in practice we cannot just pick all the best players. Then, we would like to have a squad of players that give the most points given our budget. Thus, we would like to pick players that have high value ('bang for buck'). However, often the players with highest value are very cheap players who somewhat overperform relative to their price. Picking a squad full of these players might leave a part of our budget unused. Calculating the geometric mean of adjusted points and value allows us to weigh both aspects equally, i.e. we want players that both gain a lot of points but also have good value. For example, this metric values equally two players, where one has twice the points per game of the other who in turn has twice the value of the other.

In [4]:
# value = expected points / cost
df['value'] = df['adjusted points per game'] / (df['now_cost'] / 10.0)
# geometric mean of 'adjusted points per game' and 'value'
df['valuePoints metric'] = np.sqrt(df['adjusted points per game'] * df['value'])

In [5]:
# assign proper team names for each player
team_names = np.sort(teamStats['Squad'])
df['team_name'] = team_names[df['team']-1]

In [6]:
# save data
filepath = '../data/data_week' + str(gameweek) + str('.csv')
df.to_csv(filepath)

In [7]:
goalkeepers = df['element_type'] == 1
defenders = df['element_type'] == 2
midfielders = df['element_type'] == 3
forwards = df['element_type'] == 4

minGames = df['games played'] >= 3

## Player evaluation

Below we compile lists for each position sorting players based on a given metric.

In [8]:
metric = 'valuePoints metric'
#metric = 'adjusted points per game'
#metric = 'form 5'

numberToShow = 40

print('GOALKEEPERS')
display(df[goalkeepers & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('DEFENDERS')
display(df[defenders & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('MIDFIELDERS')
display(df[midfielders & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('FORWARDS')
display(df[forwards & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

GOALKEEPERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
341,Gazzaniga,Tottenham,45,16.764706,57,68.475661,3.4,4.084513,6.521861,4.725551,1.925458
411,Patr√≠cio,Wolves,51,23.714286,83,101.462508,3.5,4.278539,3.260365,3.739991,1.894569
93,Pope,Burnley,46,24.146341,99,96.128421,4.1,3.981076,6.458961,4.997283,1.856186
471,Henderson,Sheffield Utd,50,22.954545,101,94.033119,4.4,4.096492,5.673971,5.027696,1.832007
494,Ramsdale,Bournemouth,47,22.702703,84,85.816029,3.7,3.779992,3.711050,3.817702,1.743580
131,Guaita,Crystal Palace,51,22.051282,86,84.771242,3.9,3.844277,3.263724,4.137192,1.702275
47,Ryan,Brighton,49,24.166667,87,89.864877,3.6,3.718547,2.972469,3.425700,1.679868
388,Fabianski,West Ham,49,10.888889,49,39.992727,4.5,3.672801,2.138458,3.421242,1.659203
14,Leno,Arsenal,50,24.117647,82,89.298870,3.4,3.702636,3.731932,3.826319,1.655869
235,de Gea,Manchester Utd,54,24.000000,72,91.611960,3.0,3.817165,2.586900,2.996852,1.642646
366,Foster,Watford,49,23.902439,98,86.474580,4.1,3.617814,4.098520,4.169542,1.634362
189,Alisson,Liverpool,61,15.869565,73,63.080105,4.6,3.974911,5.524054,4.959079,1.609394
340,Lloris,Tottenham,53,8.064516,25,29.791348,3.1,3.694127,2.992679,2.992679,1.604626
262,Dubravka,Newcastle Utd,50,24.210526,92,86.367483,3.8,3.567353,3.896171,4.056029,1.595369
318,McCarthy,Southampton,44,14.193548,44,47.217030,3.1,3.326654,3.511653,3.728456,1.585920
526,Adri√°n,Liverpool,41,10.000000,25,31.593061,2.5,3.159306,NaN,1.870324,1.560270
168,Schmeichel,Leicester City,54,23.947368,91,86.816393,3.8,3.625300,2.840405,2.900995,1.560081
280,Krul,Norwich City,45,22.000000,66,71.766894,3.0,3.262132,2.292383,2.308075,1.537784
319,Gunn,Southampton,43,10.000000,29,31.721090,2.9,3.172109,NaN,NaN,1.529727
213,Bravo,Manchester City,48,3.928571,11,12.952057,2.8,3.296887,3.360964,3.391475,1.504816
553,Martin,West Ham,41,5.000000,20,15.210946,4.0,3.042189,2.676469,2.232301,1.502430
111,Kepa,Chelsea,55,24.230769,63,80.484130,2.6,3.321567,3.940737,3.869068,1.416321
148,Pickford,Everton,53,24.193548,75,77.929267,3.1,3.221076,2.960453,3.203498,1.399146
450,Roberto,West Ham,44,8.181818,18,23.254275,2.2,2.842189,NaN,1.476035,1.354961
212,Ederson,Manchester City,60,21.290323,66,70.256309,3.1,3.299918,3.766243,2.925409,1.347186
94,Heaton,Aston Villa,44,19.666667,59,54.427844,3.0,2.767518,2.358632,2.529159,1.319362
27,Nyland,Aston Villa,43,3.000000,3,4.743230,1.0,1.581077,0.930534,0.999223,0.762463

DEFENDERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
297,Lundstram,Sheffield Utd,51,22.765957,107,106.051839,4.7,4.658352,2.089332,3.214792,2.062753
182,Alexander-Arnold,Liverpool,76,24.137931,140,132.583250,5.8,5.492735,4.462058,4.988422,1.992424
105,Azpilicueta,Chelsea,58,22.000000,77,99.297865,3.5,4.513539,7.689525,6.701533,1.874145
181,Robertson,Liverpool,70,23.877551,117,117.473965,4.9,4.919850,4.063625,4.221260,1.859528
208,Otamendi,Manchester City,50,15.135135,56,62.752327,3.7,4.146136,5.843304,4.507951,1.854208
185,Matip,Liverpool,52,6.956522,32,29.351694,4.6,4.219306,NaN,NaN,1.850288
405,Boly,Wolves,47,8.095238,34,32.385862,4.2,4.000606,NaN,NaN,1.845342
103,Alonso,Chelsea,60,7.966102,47,35.287928,5.9,4.429761,NaN,6.851449,1.808442
401,Doherty,Wolves,61,22.000000,77,96.135897,3.5,4.369814,3.847908,4.021676,1.769286
506,James,Chelsea,50,12.187500,39,47.896728,3.2,3.929988,6.147511,5.317597,1.757544
529,Tomori,Chelsea,45,13.823529,47,50.584504,3.4,3.659305,NaN,3.504915,1.725013
440,Angeli√±o,Manchester City,47,6.111111,11,22.780307,1.8,3.727687,NaN,3.563086,1.719454
359,Janmaat,Watford,40,8.000000,36,27.373452,4.5,3.421681,NaN,NaN,1.710841
478,Holgate,Everton,45,16.896552,49,60.671808,2.9,3.590780,4.537750,4.233919,1.692710
518,Cancelo,Manchester City,52,8.888889,24,33.667281,2.7,3.787569,3.442442,3.544263,1.660959
183,van Dijk,Liverpool,65,24.200000,121,102.215207,5.0,4.223769,4.662873,4.420869,1.656698
291,Stevens,Sheffield Utd,51,23.684211,90,88.222835,3.8,3.724964,3.328836,3.685033,1.649442
293,O'Connell,Sheffield Utd,46,23.939394,79,84.304903,3.3,3.521597,2.397422,3.270326,1.641953
336,Aurier,Tottenham,50,19.166667,69,69.223414,3.6,3.611656,4.432085,3.710903,1.615182
164,S√∂y√ºnc√º,Leicester City,50,22.972973,85,82.830536,3.7,3.605564,2.710094,2.645200,1.612457
141,Digne,Everton,58,22.857143,80,88.649504,3.5,3.878416,5.787928,5.022923,1.610425
159,Pereira,Leicester City,63,23.043478,106,92.632217,4.6,4.019889,5.067267,3.446656,1.601562
308,Stephens,Southampton,44,16.000000,56,53.718398,3.5,3.357400,4.868862,4.729203,1.600578
42,Dunk,Brighton,48,22.285714,78,77.349901,3.5,3.470829,3.706987,4.163441,1.584209
162,Evans,Leicester City,53,23.684211,90,85.760415,3.8,3.620995,2.730532,2.832644,1.572860
511,Sidib√©,Everton,54,15.945946,59,58.235263,3.7,3.652042,2.894050,3.471154,1.571589
163,Fuchs,Leicester City,43,7.096774,22,22.965546,3.1,3.236054,3.276192,3.541648,1.560564
204,Mendy,Manchester City,55,10.909091,36,39.871130,3.3,3.654854,4.612917,4.064418,1.558435
122,Wan-Bissaka,Manchester Utd,53,21.250000,51,76.052974,2.4,3.578963,4.014493,4.019466,1.554602
160,Maguire,Manchester Utd,52,24.347826,56,86.028075,2.3,3.533296,2.650059,3.192716,1.549453
294,Baldock,Sheffield Utd,51,23.809524,100,83.015037,4.2,3.486632,1.734106,2.898516,1.543906
186,Lovren,Liverpool,53,8.000000,16,28.396000,2.0,3.549500,NaN,3.059220,1.541804
295,Egan,Sheffield Utd,45,23.125000,74,75.514376,3.2,3.265487,2.685345,3.188739,1.539365
161,Chilwell,Leicester City,56,19.024390,78,69.286040,4.1,3.641959,2.766148,2.158974,1.539008
6,Monreal,Arsenal,50,3.030303,10,10.427426,3.3,3.441051,NaN,NaN,1.538885
206,Zinchenko,Manchester City,52,10.000000,32,35.050691,3.2,3.505069,3.726324,3.784081,1.537074
549,Williams,Manchester Utd,41,9.000000,27,27.976037,3.0,3.108449,3.927675,3.974317,1.535153
128,Kelly,Crystal Palace,44,18.823529,64,60.459657,3.4,3.211919,2.262570,2.879383,1.531222
486,C√©dric,Southampton,48,15.925926,43,52.995880,2.7,3.327648,3.007084,3.412221,1.518857
309,Targett,Aston Villa,44,15.833333,57,50.065038,3.6,3.162002,4.398989,2.892417,1.507426

MIDFIELDERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
191,Salah,Liverpool,125,20.985915,149,146.685529,7.1,6.989713,7.908678,8.114620,1.976989
215,De Bruyne,Manchester City,106,23.043478,159,141.994495,6.9,6.162025,5.435992,5.476240,1.892651
192,Man√©,Liverpool,123,21.940299,147,138.076816,6.7,6.293297,4.509695,5.564863,1.794427
431,Pulisic,Chelsea,69,15.909091,70,73.117353,4.4,4.595948,2.856183,3.123246,1.749647
239,Martial,Manchester Utd,79,17.884615,93,86.999095,5.2,4.864466,4.537375,4.542423,1.730699
287,Cantwell,Norwich City,50,23.684211,90,91.124863,3.8,3.847494,3.761705,3.714712,1.720652
417,Traor√©,Wolves,58,23.255814,100,95.299922,4.3,4.097897,4.863052,4.620459,1.701559
301,Fleck,Sheffield Utd,50,21.250000,85,79.863974,4.0,3.758305,4.179481,4.365830,1.680765
265,P√©rez,Leicester City,62,20.816327,102,86.222243,4.9,4.142049,6.450964,5.967771,1.663487
29,Grealish,Aston Villa,67,21.836735,107,93.801515,4.9,4.295583,4.487057,4.179240,1.659529
171,Maddison,Leicester City,76,23.191489,109,104.797091,4.7,4.518774,4.125243,3.972849,1.639131
219,David Silva,Manchester City,74,18.125000,87,80.559122,4.8,4.444641,3.782467,3.823484,1.633883
344,Alli,Tottenham,85,16.909091,93,80.294472,5.5,4.748598,5.826186,5.026648,1.628756
214,Sterling,Manchester City,117,22.115385,115,123.019687,5.2,5.562629,4.154618,4.506827,1.626250
283,Buend√≠a,Norwich City,60,22.812500,73,88.856626,3.2,3.895085,5.196405,5.134381,1.590162
217,Mahrez,Manchester City,85,20.000000,110,92.069311,5.5,4.603466,4.608662,4.649713,1.578976
463,Mount,Chelsea,61,24.054054,89,92.967345,3.7,3.864935,3.247213,3.078305,1.564866
269,Shelvey,Newcastle Utd,50,14.883721,64,52.022909,4.3,3.495289,2.714882,3.229173,1.563141
118,Jorginho,Chelsea,49,22.058824,75,76.195707,3.4,3.454205,6.373742,4.788739,1.560451
342,Son,Tottenham,99,19.056604,101,93.487496,5.3,4.905779,5.588126,4.499454,1.559159
172,Barnes,Leicester City,59,22.222222,80,83.364799,3.6,3.751416,6.203541,4.969981,1.544434
113,Willian,Chelsea,72,22.857143,96,94.347553,4.2,4.127705,3.560721,4.078350,1.538305
415,Moutinho,Wolves,54,23.714286,83,84.166489,3.5,3.549189,3.702844,3.697441,1.527328
150,Richarlison,Everton,81,22.040816,108,94.819485,4.9,4.301995,7.083001,4.985009,1.511567
30,El Ghazi,Aston Villa,55,20.882353,71,73.319770,3.4,3.511088,3.466447,3.299625,1.497133
371,Cleverley,Watford,48,8.888889,24,28.547750,2.7,3.211622,NaN,NaN,1.465898
321,Ward-Prowse,Southampton,58,24.242424,80,85.562285,3.3,3.529444,2.549251,2.793617,1.465522
246,Pereira,Manchester Utd,49,20.769231,54,66.669166,2.6,3.209997,3.883686,3.562416,1.450129
31,McGinn,Aston Villa,54,17.941176,61,60.249404,3.4,3.358163,NaN,0.757694,1.445123
516,Mooy,Brighton,48,17.096774,53,53.965507,3.1,3.156473,4.676166,4.291727,1.440726
248,McTominay,Manchester Utd,49,17.187500,55,53.918943,3.2,3.137102,NaN,2.425851,1.417198
320,Redmond,Southampton,62,22.333333,67,78.507493,3.0,3.515261,4.535504,4.187865,1.411763
421,Trossard,Brighton,58,18.055556,65,60.878497,3.6,3.371732,3.428940,3.159751,1.400036
243,James,Manchester Utd,60,23.333333,77,79.384995,3.3,3.402214,2.595014,2.929811,1.388948
396,Noble,West Ham,50,20.833333,75,64.487839,3.6,3.095416,4.283565,3.856371,1.384312
114,Pedro,Chelsea,68,5.000000,10,17.933705,2.0,3.586741,NaN,1.356389,1.375452
119,Kant√©,Chelsea,50,15.862069,46,48.334513,2.9,3.047176,3.170885,2.922166,1.362738
218,Bernardo Silva,Manchester City,78,19.736842,75,74.661877,3.8,3.782868,2.709781,2.582074,1.354484
196,Keita,Liverpool,58,6.000000,21,19.510511,3.5,3.251752,1.901863,3.545399,1.350216
392,Yarmolenko,West Ham,53,14.848485,49,46.105436,3.3,3.105060,NaN,2.032332,1.348752

FORWARDS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
278,Pukki,Norwich City,65,22.941176,117,116.964655,5.1,5.098459,8.256301,6.231735,1.999780
233,Rashford,Manchester Utd,89,21.967213,134,129.107759,6.1,5.877293,6.475998,5.799674,1.970073
409,Jim√©nez,Wolves,76,23.888889,129,127.029310,5.4,5.317506,6.813957,5.954206,1.928862
460,Abraham,Chelsea,77,22.857143,128,118.007759,5.6,5.162839,5.224836,4.411940,1.860558
166,Vardy,Leicester City,99,22.058824,150,126.929310,6.8,5.754129,3.053794,4.520524,1.828782
313,Ings,Southampton,70,24.230769,126,113.721552,5.2,4.693270,3.740421,4.795487,1.773889
362,Deeney,Watford,63,12.972973,48,56.600000,3.7,4.362917,6.114286,5.296296,1.738228
167,Iheanacho,Leicester City,57,7.959184,39,32.186207,4.9,4.043908,2.717666,3.114160,1.693807
91,Wood,Burnley,62,21.818182,96,89.521552,4.4,4.103071,6.207697,4.528065,1.647833
468,Ayew,Crystal Palace,50,23.243243,86,83.821552,3.7,3.606276,2.847564,3.170321,1.612776
502,Maupay,Brighton,59,24.166667,87,94.343103,3.6,3.903853,3.511648,3.474116,1.607191
187,Firmino,Liverpool,96,24.130435,111,117.407759,4.6,4.865547,5.656600,5.139412,1.570348
210,Ag√ºero,Manchester City,120,18.030303,119,95.586207,6.6,5.301420,6.729455,5.471543,1.530388
68,King,Bournemouth,61,16.111111,58,60.464655,3.6,3.752979,NaN,2.191685,1.519537
11,Aubameyang,Arsenal,107,21.896552,127,108.564655,5.8,4.958071,2.317599,3.738866,1.515726
147,Calvert-Lewin,Everton,61,21.842105,83,80.200000,3.8,3.671807,4.328571,4.277778,1.486671
211,Jesus,Manchester City,95,20.000000,88,90.907759,4.4,4.545388,5.454302,5.333649,1.474719
363,Deulofeu,Watford,61,24.375000,78,85.386207,3.2,3.503024,4.841558,4.251446,1.418333
410,Jota,Wolves,61,20.000000,54,69.821552,2.7,3.491078,3.003529,3.383181,1.413496
315,Long,Southampton,46,13.846154,36,41.664655,2.6,3.009114,3.756940,3.973540,1.403007
303,McGoldrick,Sheffield Utd,54,19.047619,40,61.743103,2.1,3.241513,1.638399,2.670762,1.394925
428,Wesley,Aston Villa,55,20.937500,67,68.221552,3.2,3.258343,3.184933,2.328446,1.389362
338,Kane,Tottenham,108,20.000000,104,88.443103,5.2,4.422155,2.669867,4.214193,1.345619
457,Haller,West Ham,70,23.055556,83,78.964655,3.6,3.424973,3.141489,3.119104,1.294518
70,Mousset,Sheffield Utd,47,20.937500,67,58.564655,3.2,2.797118,1.649836,1.823497,1.290214
130,Wickham,Crystal Palace,44,6.000000,15,16.121552,2.5,2.686925,2.330888,3.157567,1.280941
90,Barnes,Burnley,62,19.062500,61,60.100000,3.2,3.152787,1.400000,1.520833,1.266190
67,Callum Wilson,Bournemouth,74,22.941176,78,76.164655,3.4,3.319998,4.006979,2.809487,1.220455
504,Martinelli,Arsenal,45,13.214286,37,32.521552,2.8,2.461090,5.383003,4.412328,1.160169
466,Joelinton,Newcastle Utd,55,24.545455,54,65.343103,2.2,2.662126,2.509414,2.621363,1.135135
534,Connolly,Brighton,43,16.000000,40,37.643103,2.5,2.352694,1.607231,1.742372,1.134570
501,McBurnie,Sheffield Utd,57,21.739130,50,57.600000,2.3,2.649600,4.500000,4.118519,1.109795
12,Lacazette,Arsenal,93,17.142857,60,56.364655,3.5,3.287938,3.149797,2.862816,1.078157
69,Solanke,Bournemouth,52,21.111111,38,44.843103,1.8,2.124147,2.808251,2.235760,0.931500
146,Tosun,Crystal Palace,57,7.857143,22,17.200000,2.8,2.189091,2.408333,2.121875,0.916909
364,Gray,Watford,56,19.444444,35,41.021552,1.8,2.109680,1.731287,1.562552,0.891502
188,Origi,Liverpool,52,20.000000,50,39.464655,2.5,1.973233,2.109969,2.289468,0.865320
437,Adams,Southampton,53,17.777778,32,35.243103,1.8,1.982425,1.405116,1.415636,0.861110
487,Cutrone,Wolves,55,12.105263,23,24.200000,1.9,1.999130,NaN,1.000000,0.852432
110,Giroud,Chelsea,66,5.000000,7,10.900000,1.4,2.180000,NaN,NaN,0.848564

Below we compile a list sorting players based on a given metric (irrespective of position).

In [9]:
metric = 'adjusted points per game'

display(df[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
191,Salah,Liverpool,125,20.985915,149,146.685529,7.1,6.989713,7.908678,8.114620,1.976989
192,Man√©,Liverpool,123,21.940299,147,138.076816,6.7,6.293297,4.509695,5.564863,1.794427
215,De Bruyne,Manchester City,106,23.043478,159,141.994495,6.9,6.162025,5.435992,5.476240,1.892651
233,Rashford,Manchester Utd,89,21.967213,134,129.107759,6.1,5.877293,6.475998,5.799674,1.970073
166,Vardy,Leicester City,99,22.058824,150,126.929310,6.8,5.754129,3.053794,4.520524,1.828782
214,Sterling,Manchester City,117,22.115385,115,123.019687,5.2,5.562629,4.154618,4.506827,1.626250
182,Alexander-Arnold,Liverpool,76,24.137931,140,132.583250,5.8,5.492735,4.462058,4.988422,1.992424
409,Jim√©nez,Wolves,76,23.888889,129,127.029310,5.4,5.317506,6.813957,5.954206,1.928862
210,Ag√ºero,Manchester City,120,18.030303,119,95.586207,6.6,5.301420,6.729455,5.471543,1.530388
460,Abraham,Chelsea,77,22.857143,128,118.007759,5.6,5.162839,5.224836,4.411940,1.860558
278,Pukki,Norwich City,65,22.941176,117,116.964655,5.1,5.098459,8.256301,6.231735,1.999780
11,Aubameyang,Arsenal,107,21.896552,127,108.564655,5.8,4.958071,2.317599,3.738866,1.515726
181,Robertson,Liverpool,70,23.877551,117,117.473965,4.9,4.919850,4.063625,4.221260,1.859528
342,Son,Tottenham,99,19.056604,101,93.487496,5.3,4.905779,5.588126,4.499454,1.559159
187,Firmino,Liverpool,96,24.130435,111,117.407759,4.6,4.865547,5.656600,5.139412,1.570348
239,Martial,Manchester Utd,79,17.884615,93,86.999095,5.2,4.864466,4.537375,4.542423,1.730699
344,Alli,Tottenham,85,16.909091,93,80.294472,5.5,4.748598,5.826186,5.026648,1.628756
313,Ings,Southampton,70,24.230769,126,113.721552,5.2,4.693270,3.740421,4.795487,1.773889
297,Lundstram,Sheffield Utd,51,22.765957,107,106.051839,4.7,4.658352,2.089332,3.214792,2.062753
217,Mahrez,Manchester City,85,20.000000,110,92.069311,5.5,4.603466,4.608662,4.649713,1.578976
431,Pulisic,Chelsea,69,15.909091,70,73.117353,4.4,4.595948,2.856183,3.123246,1.749647
211,Jesus,Manchester City,95,20.000000,88,90.907759,4.4,4.545388,5.454302,5.333649,1.474719
171,Maddison,Leicester City,76,23.191489,109,104.797091,4.7,4.518774,4.125243,3.972849,1.639131
105,Azpilicueta,Chelsea,58,22.000000,77,99.297865,3.5,4.513539,7.689525,6.701533,1.874145
219,David Silva,Manchester City,74,18.125000,87,80.559122,4.8,4.444641,3.782467,3.823484,1.633883
103,Alonso,Chelsea,60,7.966102,47,35.287928,5.9,4.429761,NaN,6.851449,1.808442
338,Kane,Tottenham,108,20.000000,104,88.443103,5.2,4.422155,2.669867,4.214193,1.345619
401,Doherty,Wolves,61,22.000000,77,96.135897,3.5,4.369814,3.847908,4.021676,1.769286
362,Deeney,Watford,63,12.972973,48,56.600000,3.7,4.362917,6.114286,5.296296,1.738228
150,Richarlison,Everton,81,22.040816,108,94.819485,4.9,4.301995,7.083001,4.985009,1.511567
29,Grealish,Aston Villa,67,21.836735,107,93.801515,4.9,4.295583,4.487057,4.179240,1.659529
411,Patr√≠cio,Wolves,51,23.714286,83,101.462508,3.5,4.278539,3.260365,3.739991,1.894569
183,van Dijk,Liverpool,65,24.200000,121,102.215207,5.0,4.223769,4.662873,4.420869,1.656698
185,Matip,Liverpool,52,6.956522,32,29.351694,4.6,4.219306,NaN,NaN,1.850288
208,Otamendi,Manchester City,50,15.135135,56,62.752327,3.7,4.146136,5.843304,4.507951,1.854208
265,P√©rez,Leicester City,62,20.816327,102,86.222243,4.9,4.142049,6.450964,5.967771,1.663487
113,Willian,Chelsea,72,22.857143,96,94.347553,4.2,4.127705,3.560721,4.078350,1.538305
91,Wood,Burnley,62,21.818182,96,89.521552,4.4,4.103071,6.207697,4.528065,1.647833
417,Traor√©,Wolves,58,23.255814,100,95.299922,4.3,4.097897,4.863052,4.620459,1.701559
471,Henderson,Sheffield Utd,50,22.954545,101,94.033119,4.4,4.096492,5.673971,5.027696,1.832007

In [10]:
metric = 'form 10'

display(df[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
191,Salah,Liverpool,125,20.985915,149,146.685529,7.1,6.989713,7.908678,8.114620,1.976989
103,Alonso,Chelsea,60,7.966102,47,35.287928,5.9,4.429761,NaN,6.851449,1.808442
105,Azpilicueta,Chelsea,58,22.000000,77,99.297865,3.5,4.513539,7.689525,6.701533,1.874145
278,Pukki,Norwich City,65,22.941176,117,116.964655,5.1,5.098459,8.256301,6.231735,1.999780
265,P√©rez,Leicester City,62,20.816327,102,86.222243,4.9,4.142049,6.450964,5.967771,1.663487
409,Jim√©nez,Wolves,76,23.888889,129,127.029310,5.4,5.317506,6.813957,5.954206,1.928862
233,Rashford,Manchester Utd,89,21.967213,134,129.107759,6.1,5.877293,6.475998,5.799674,1.970073
192,Man√©,Liverpool,123,21.940299,147,138.076816,6.7,6.293297,4.509695,5.564863,1.794427
215,De Bruyne,Manchester City,106,23.043478,159,141.994495,6.9,6.162025,5.435992,5.476240,1.892651
210,Ag√ºero,Manchester City,120,18.030303,119,95.586207,6.6,5.301420,6.729455,5.471543,1.530388
211,Jesus,Manchester City,95,20.000000,88,90.907759,4.4,4.545388,5.454302,5.333649,1.474719
506,James,Chelsea,50,12.187500,39,47.896728,3.2,3.929988,6.147511,5.317597,1.757544
362,Deeney,Watford,63,12.972973,48,56.600000,3.7,4.362917,6.114286,5.296296,1.738228
187,Firmino,Liverpool,96,24.130435,111,117.407759,4.6,4.865547,5.656600,5.139412,1.570348
283,Buend√≠a,Norwich City,60,22.812500,73,88.856626,3.2,3.895085,5.196405,5.134381,1.590162
471,Henderson,Sheffield Utd,50,22.954545,101,94.033119,4.4,4.096492,5.673971,5.027696,1.832007
344,Alli,Tottenham,85,16.909091,93,80.294472,5.5,4.748598,5.826186,5.026648,1.628756
141,Digne,Everton,58,22.857143,80,88.649504,3.5,3.878416,5.787928,5.022923,1.610425
304,Vestergaard,Southampton,46,11.875000,38,37.831294,3.2,3.185793,5.014097,5.014097,1.485384
93,Pope,Burnley,46,24.146341,99,96.128421,4.1,3.981076,6.458961,4.997283,1.856186
182,Alexander-Arnold,Liverpool,76,24.137931,140,132.583250,5.8,5.492735,4.462058,4.988422,1.992424
150,Richarlison,Everton,81,22.040816,108,94.819485,4.9,4.301995,7.083001,4.985009,1.511567
172,Barnes,Leicester City,59,22.222222,80,83.364799,3.6,3.751416,6.203541,4.969981,1.544434
189,Alisson,Liverpool,61,15.869565,73,63.080105,4.6,3.974911,5.524054,4.959079,1.609394
313,Ings,Southampton,70,24.230769,126,113.721552,5.2,4.693270,3.740421,4.795487,1.773889
123,van Aanholt,Crystal Palace,55,17.187500,55,56.448661,3.2,3.284286,NaN,4.791850,1.400424
118,Jorginho,Chelsea,49,22.058824,75,76.195707,3.4,3.454205,6.373742,4.788739,1.560451
308,Stephens,Southampton,44,16.000000,56,53.718398,3.5,3.357400,4.868862,4.729203,1.600578
341,Gazzaniga,Tottenham,45,16.764706,57,68.475661,3.4,4.084513,6.521861,4.725551,1.925458
217,Mahrez,Manchester City,85,20.000000,110,92.069311,5.5,4.603466,4.608662,4.649713,1.578976
417,Traor√©,Wolves,58,23.255814,100,95.299922,4.3,4.097897,4.863052,4.620459,1.701559
239,Martial,Manchester Utd,79,17.884615,93,86.999095,5.2,4.864466,4.537375,4.542423,1.730699
91,Wood,Burnley,62,21.818182,96,89.521552,4.4,4.103071,6.207697,4.528065,1.647833
166,Vardy,Leicester City,99,22.058824,150,126.929310,6.8,5.754129,3.053794,4.520524,1.828782
208,Otamendi,Manchester City,50,15.135135,56,62.752327,3.7,4.146136,5.843304,4.507951,1.854208
214,Sterling,Manchester City,117,22.115385,115,123.019687,5.2,5.562629,4.154618,4.506827,1.626250
342,Son,Tottenham,99,19.056604,101,93.487496,5.3,4.905779,5.588126,4.499454,1.559159
525,Sarr,Watford,62,16.000000,56,53.090605,3.5,3.318163,4.503379,4.472747,1.332606
183,van Dijk,Liverpool,65,24.200000,121,102.215207,5.0,4.223769,4.662873,4.420869,1.656698
504,Martinelli,Arsenal,45,13.214286,37,32.521552,2.8,2.461090,5.383003,4.412328,1.160169