# Player evaluation

Here we compare players based on their adjusted points. Also, we calculate some useful metrics using the adjusted points to further evaluate player performance in FPL.

In [1]:
# recent gameweek
gameweek = 20

In [2]:
# import basic libraries
import pandas as pd
import numpy as np

pd.set_option('max_columns',100)

In [3]:
# fetch FPL data
filepath = '../data/data_week' + str(gameweek) + '.csv'
df = pd.read_csv(filepath, index_col=0, encoding='latin-1')

# fetch team data
filepath = '../data/fbref/team_stats_week' + str(gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col=0, encoding='latin-1')

# fetch player stats data
filepath = '../data/fbref/player_stats_week' + str(gameweek) + '.csv'
playerStats = pd.read_csv(filepath, index_col=0, skiprows=1, encoding='latin-1')

## Value and value points

Here we calculate two interesting metrics: 'value' and 'value points'. 

Value is simply adjusted points per game divided by the cost of the player. Essentially, this measures how many 'points per pound(/euro/whatever)' has the player gained on an average game week. 

The value points is calculated as the geometric mean of a players adjusted points per game and value. Essentially, in FPL we want to gain the maximum possible amount of points. However, we are restrained by a limited budget, so that in practice we cannot just pick all the best players. Then, we would like to have a squad of players that give the most points given our budget. Thus, we would like to pick players that have high value ('bang for buck'). However, often the players with highest value are very cheap players who somewhat overperform relative to their price. Picking a squad full of these players might leave a part of our budget unused. Calculating the geometric mean of adjusted points and value allows us to weigh both aspects equally, i.e. we want players that both gain a lot of points but also have good value. For example, this metric values equally two players, where one has twice the points per game of the other who in turn has twice the value of the other.

In [4]:
# value = expected points / cost
df['value'] = df['adjusted points per game'] / (df['now_cost'] / 10.0)
# geometric mean of 'adjusted points per game' and 'value'
df['valuePoints metric'] = np.sqrt(df['adjusted points per game'] * df['value'])

In [5]:
# assign proper team names for each player
team_names = np.sort(teamStats['Squad'])
df['team_name'] = team_names[df['team']-1]

In [6]:
# save data
filepath = '../data/data_week' + str(gameweek) + str('.csv')
df.to_csv(filepath)

In [7]:
goalkeepers = df['element_type'] == 1
defenders = df['element_type'] == 2
midfielders = df['element_type'] == 3
forwards = df['element_type'] == 4

minGames = df['games played'] >= 3

## Player evaluation

Below we compile lists for each position sorting players based on a given metric.

In [10]:
#metric = 'valuePoints metric'
metric = 'adjusted points per game'
#metric = 'form 5'

numberToShow = 40

print('GOALKEEPERS')
display(df[goalkeepers & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'valuePoints metric']].head(numberToShow))
print('DEFENDERS')
display(df[defenders & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'valuePoints metric']].head(numberToShow))
print('MIDFIELDERS')
display(df[midfielders & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'valuePoints metric']].head(numberToShow))
print('FORWARDS')
display(df[forwards & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'valuePoints metric']].head(numberToShow))

GOALKEEPERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,valuePoints metric
id,,,,,,,,,,
411,PatrÃÂ­cio,Wolves,52,20.000000,76,88.276375,3.8,4.413819,4.532485,1.935588
388,Fabianski,West Ham,49,8.000000,40,33.044848,5.0,4.130606,8.445227,1.866018
235,de Gea,Manchester Utd,54,20.000000,62,81.094366,3.1,4.054718,3.786200,1.744873
471,Henderson,Sheffield Utd,49,18.809524,79,75.066824,4.2,3.990894,5.092929,1.802902
131,Guaita,Crystal Palace,51,18.095238,76,71.335508,4.2,3.942225,5.368922,1.745647
340,Lloris,Tottenham,53,6.969697,23,27.313379,3.3,3.918876,NaN,1.702251
47,Ryan,Brighton,48,20.000000,78,77.144714,3.9,3.857236,3.995082,1.760579
494,Ramsdale,Bournemouth,47,20.000000,76,76.503797,3.8,3.825190,4.341664,1.764429
168,Schmeichel,Leicester City,54,20.000000,78,74.455782,3.9,3.722789,2.643449,1.602033
341,Gazzaniga,Tottenham,46,14.074074,38,51.987402,2.7,3.693842,3.233796,1.722263
14,Leno,Arsenal,50,20.000000,66,72.672029,3.3,3.633601,3.577763,1.624996
93,Pope,Burnley,47,20.277778,73,73.397573,3.6,3.619606,3.634489,1.669600
366,Foster,Watford,48,19.750000,79,70.546062,4.0,3.571953,4.732124,1.630366
262,Dubravka,Newcastle Utd,50,20.000000,76,71.059765,3.8,3.552988,4.090324,1.588945
280,Krul,Norwich City,45,18.064516,56,62.661778,3.1,3.468777,2.289764,1.635197
189,Alisson,Liverpool,60,10.909091,36,37.371626,3.3,3.425732,3.725635,1.398549
212,Ederson,Manchester City,60,17.812500,57,59.080680,3.2,3.316810,1.439949,1.354082
148,Pickford,Everton,53,20.000000,64,66.132047,3.2,3.306602,4.331031,1.436296
526,AdriÃÂ¡n,Liverpool,41,10.000000,25,32.923991,2.5,3.292399,NaN,1.626000
318,McCarthy,Southampton,43,10.000000,26,32.063142,2.6,3.206314,3.934233,1.546222
111,Kepa,Chelsea,55,20.400000,51,64.572038,2.5,3.165296,3.734617,1.349687
213,Bravo,Manchester City,48,3.000000,9,9.392536,3.0,3.130845,3.427071,1.429029
553,Martin,West Ham,41,4.000000,18,12.522424,4.5,3.130606,1.627754,1.546096
319,Gunn,Southampton,43,10.000000,29,31.063142,2.9,3.106314,NaN,1.497998
450,Roberto,West Ham,44,8.181818,18,23.159503,2.2,2.830606,1.476035,1.349438
94,Heaton,Aston Villa,45,19.000000,57,51.440927,3.0,2.707417,2.787842,1.276289

DEFENDERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,valuePoints metric
id,,,,,,,,,,
182,Alexander-Arnold,Liverpool,74,18.928571,106,109.723582,5.6,5.796718,7.222161,2.130916
297,Lundstram,Sheffield Utd,52,19.019608,97,97.537238,5.1,5.128247,5.323665,2.248885
181,Robertson,Liverpool,70,19.111111,86,95.623387,4.5,5.003549,4.468824,1.891164
401,Doherty,Wolves,61,18.000000,72,79.263260,4.0,4.403514,3.957828,1.782931
185,Matip,Liverpool,52,6.956522,32,30.277559,4.6,4.352399,NaN,1.908653
103,Alonso,Chelsea,60,7.966102,47,34.562261,5.9,4.338667,6.851449,1.771253
183,van Dijk,Liverpool,64,18.888889,85,79.978649,4.5,4.234164,4.325120,1.673700
208,Otamendi,Manchester City,50,13.142857,46,52.181664,3.5,3.970344,3.522561,1.775592
405,Boly,Wolves,48,8.095238,34,32.083373,4.2,3.963240,NaN,1.808963
159,Pereira,Leicester City,64,19.111111,86,75.233700,4.5,3.936647,0.686263,1.556096
511,SidibÃÂ©,Everton,53,12.000000,48,45.931925,4.0,3.827660,5.115874,1.662629
294,Baldock,Sheffield Utd,50,20.000000,90,76.447717,4.5,3.822386,4.987284,1.709423
518,Cancelo,Manchester City,53,5.937500,19,22.693560,3.2,3.822073,NaN,1.660203
161,Chilwell,Leicester City,57,16.046512,69,61.254627,4.3,3.817317,1.225550,1.598898
160,Maguire,Manchester Utd,52,19.583333,47,74.746566,2.4,3.816846,4.225451,1.673798
291,Stevens,Sheffield Utd,51,20.000000,76,75.971368,3.8,3.798568,4.645457,1.682034
162,Evans,Leicester City,52,20.000000,80,74.332131,4.0,3.716607,2.236076,1.629840
293,O'Connell,Sheffield Utd,46,20.000000,68,74.133194,3.4,3.706660,4.742109,1.728239
164,SÃÂ¶yÃÂ¼ncÃÂ¼,Leicester City,51,19.210526,73,71.052281,3.8,3.698612,1.910444,1.637773
186,Lovren,Liverpool,53,8.000000,16,29.477367,2.0,3.684671,2.757812,1.600519
440,AngeliÃÂ±o,Manchester City,47,6.111111,11,22.485932,1.8,3.679516,2.881632,1.697234
122,Wan-Bissaka,Manchester Utd,53,16.800000,42,61.157441,2.5,3.640324,4.486994,1.581256
105,Azpilicueta,Chelsea,58,18.000000,45,65.369323,2.5,3.631629,4.179186,1.507952
203,Walker,Manchester City,58,16.875000,54,60.584361,3.2,3.590184,3.178122,1.490743
529,Tomori,Chelsea,48,13.823529,47,49.238723,3.4,3.561950,3.482690,1.625800
336,Aurier,Tottenham,51,15.000000,54,53.082708,3.6,3.538847,2.716397,1.567028
141,Digne,Everton,57,19.032258,59,67.075664,3.1,3.524315,4.905297,1.476173
84,Tarkowski,Burnley,51,20.000000,72,70.209571,3.6,3.510479,3.520071,1.554466
42,Dunk,Brighton,47,17.948718,70,62.357502,3.9,3.474204,5.083761,1.602531
206,Zinchenko,Manchester City,52,8.965517,26,31.027118,2.9,3.460717,3.885983,1.517625
295,Egan,Sheffield Utd,45,19.090909,63,65.322519,3.3,3.421656,4.384156,1.612984
6,Monreal,Arsenal,50,3.030303,10,10.329095,3.3,3.408601,NaN,1.524373
128,Kelly,Crystal Palace,44,14.871795,58,50.629300,3.9,3.404384,3.701906,1.622976
478,Holgate,Everton,44,12.800000,32,43.540858,2.5,3.401630,4.469263,1.621663
402,Jonny,Wolves,54,18.846154,49,63.783220,2.6,3.384416,2.469930,1.456421
225,LindelÃÂ¶f,Manchester Utd,53,19.230769,50,64.898429,2.6,3.374718,3.398361,1.465884
359,Janmaat,Watford,41,8.000000,36,26.792275,4.5,3.349034,NaN,1.653970
486,CÃÂ©dric,Southampton,48,12.000000,30,40.075771,2.5,3.339648,3.956478,1.524334
184,Gomez,Liverpool,51,10.000000,33,33.223991,3.3,3.322399,4.526257,1.471183
506,James,Chelsea,50,9.047619,19,30.053691,2.1,3.321724,2.780774,1.485520

MIDFIELDERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,valuePoints metric
id,,,,,,,,,,
191,Salah,Liverpool,123,15.942029,110,105.599215,6.9,6.623951,8.412237,1.888707
192,ManÃÂ©,Liverpool,123,18.082192,132,117.803911,7.3,6.514913,6.936672,1.857617
215,De Bruyne,Manchester City,105,19.041096,139,122.404331,7.3,6.428429,6.226855,1.983856
214,Sterling,Manchester City,118,19.122807,109,112.176149,5.7,5.866092,5.245458,1.707685
239,Martial,Manchester Utd,79,14.107143,79,70.597681,5.6,5.004393,5.092396,1.780483
431,Pulisic,Chelsea,71,14.888889,67,69.610292,4.5,4.675318,2.641508,1.754616
219,David Silva,Manchester City,74,14.905660,79,69.661531,5.3,4.673495,4.431935,1.718011
344,Alli,Tottenham,89,13.035714,73,59.901737,5.6,4.595202,4.278559,1.540315
171,Maddison,Leicester City,77,19.166667,92,87.206319,4.8,4.549895,2.514490,1.639668
217,Mahrez,Manchester City,83,16.153846,84,72.180249,5.2,4.468301,4.614783,1.550970
113,Willian,Chelsea,71,19.090909,84,80.171289,4.4,4.199448,5.118774,1.576025
29,Grealish,Aston Villa,64,18.000000,81,74.863722,4.5,4.159096,3.168625,1.644027
417,TraorÃÂ©,Wolves,55,18.837209,81,76.810797,4.3,4.077610,4.667831,1.738699
463,Mount,Chelsea,64,19.750000,79,79.271971,4.0,4.013771,2.532947,1.586582
150,Richarlison,Everton,80,20.222222,91,80.947187,4.5,4.002883,3.513703,1.415233
218,Bernardo Silva,Manchester City,79,18.000000,72,68.941501,4.0,3.830083,2.042419,1.362683
321,Ward-Prowse,Southampton,59,19.714286,69,75.336040,3.5,3.821393,3.157516,1.573243
238,Pogba,Manchester Utd,84,7.083333,17,26.729496,2.4,3.773576,2.646870,1.302007
287,Cantwell,Norwich City,48,20.000000,74,74.434519,3.7,3.721726,3.341309,1.698728
301,Fleck,Sheffield Utd,49,17.027027,63,62.396574,3.7,3.664561,4.794936,1.655480
243,James,Manchester Utd,61,19.189189,71,70.287491,3.7,3.662869,3.856130,1.483052
114,Pedro,Chelsea,68,5.000000,10,18.312012,2.0,3.662402,1.356389,1.404467
265,PÃÂ©rez,Leicester City,60,17.073171,70,61.443870,4.1,3.598855,5.264520,1.469227
283,BuendÃÂ­a,Norwich City,60,20.333333,61,72.754852,3.0,3.578107,5.325600,1.460756
269,Shelvey,Newcastle Utd,51,13.043478,60,46.555397,4.6,3.569247,3.276307,1.580489
196,Keita,Liverpool,58,5.000000,20,17.828673,4.0,3.565735,4.943630,1.480591
172,Barnes,Leicester City,59,18.750000,60,66.820245,3.2,3.563746,3.596083,1.467171
448,Tielemans,Leicester City,64,19.210526,73,67.843050,3.8,3.531556,2.240565,1.395970
30,El Ghazi,Aston Villa,55,17.941176,61,62.217467,3.4,3.467859,2.765330,1.478700
415,Moutinho,Wolves,54,19.705882,67,68.056008,3.4,3.453588,2.994569,1.486188
389,Antonio,West Ham,69,8.965517,26,30.389776,2.9,3.389629,3.463704,1.290410
488,PÃÂ©pÃÂ©,Arsenal,91,16.896552,49,57.258184,2.9,3.388750,2.952475,1.123360
320,Redmond,Southampton,62,18.076923,47,60.947766,2.6,3.371579,3.818448,1.354059
421,Trossard,Brighton,58,13.888889,50,46.814606,3.6,3.370652,2.648029,1.399587
49,GroÃÂ,Brighton,64,17.812500,57,59.953562,3.2,3.365814,3.768840,1.330455
31,McGinn,Aston Villa,56,17.941176,61,60.141118,3.4,3.352128,0.404943,1.416533
266,AlmirÃÂ³n,Newcastle Utd,58,19.259259,52,62.863673,2.7,3.264075,4.803423,1.355334
15,ÃÂzil,Arsenal,72,10.000000,27,32.010352,2.7,3.201035,2.815037,1.192955
371,Cleverley,Watford,48,8.888889,24,28.381695,2.7,3.192941,NaN,1.457371
540,Matthew Longstaff,Newcastle Utd,45,4.038462,21,12.860229,5.2,3.184438,3.145321,1.501158

FORWARDS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,valuePoints metric
id,,,,,,,,,,
166,Vardy,Leicester City,101,18.947368,144,117.190871,7.6,6.185074,5.696682,1.946185
233,Rashford,Manchester Utd,91,20.000000,120,117.190871,6.0,5.859544,4.800567,1.942420
167,Iheanacho,Leicester City,57,4.000000,28,21.476349,7.0,5.369087,4.084430,2.248863
11,Aubameyang,Arsenal,108,20.166667,121,103.814523,6.0,5.147828,4.662740,1.566434
460,Abraham,Chelsea,78,18.965517,110,97.514523,5.8,5.141675,2.293197,1.841015
409,JimÃÂ©nez,Wolves,75,20.000000,104,102.329046,5.2,5.116452,5.103904,1.868264
210,AgÃÂ¼ero,Manchester City,117,14.909091,82,73.914523,5.5,4.957681,1.720027,1.449391
313,Ings,Southampton,66,19.818182,109,95.538174,5.5,4.820734,5.692971,1.876468
278,Pukki,Norwich City,65,20.000000,98,95.414523,4.9,4.770726,4.150340,1.871233
187,Firmino,Liverpool,92,18.936170,89,88.890871,4.7,4.694237,4.085881,1.547644
338,Kane,Tottenham,110,18.888889,102,85.776349,5.4,4.541101,4.991198,1.369193
211,Jesus,Manchester City,95,16.052632,61,66.014523,3.8,4.112380,3.958800,1.334232
502,Maupay,Brighton,58,20.000000,78,81.838174,3.9,4.091909,3.149674,1.699073
362,Deeney,Watford,62,9.117647,31,35.400000,3.4,3.882581,5.146429,1.559282
468,Ayew,Crystal Palace,50,18.947368,72,71.938174,3.8,3.796737,3.831817,1.697952
68,King,Bournemouth,61,16.111111,58,60.514523,3.6,3.756074,2.179260,1.520790
91,Wood,Burnley,62,17.894737,68,66.000000,3.8,3.688235,2.028571,1.481231
457,Haller,West Ham,70,17.837838,66,64.176349,3.7,3.597765,3.404352,1.359827
147,Calvert-Lewin,Everton,58,17.894737,68,64.200000,3.8,3.587647,4.664286,1.489689
410,Jota,Wolves,61,17.931034,52,64.038174,2.9,3.571360,3.942971,1.446001
303,McGoldrick,Sheffield Utd,54,16.818182,37,58.376349,2.2,3.471026,3.462918,1.493692
363,Deulofeu,Watford,61,19.655172,57,64.776349,2.9,3.295639,2.950227,1.334365
12,Lacazette,Arsenal,93,13.157895,50,42.876349,3.8,3.258602,1.409647,1.068538
67,Callum Wilson,Bournemouth,74,19.117647,65,62.114523,3.4,3.249067,0.653080,1.194381
90,Barnes,Burnley,62,18.181818,60,58.700000,3.3,3.228500,1.658333,1.296597
428,Wesley,Aston Villa,56,20.333333,61,65.038174,3.0,3.198599,1.992971,1.351655
70,Mousset,Sheffield Utd,49,17.222222,62,51.614523,3.6,2.996972,2.118197,1.353894
315,Long,Southampton,46,10.000000,21,28.076349,2.1,2.807635,5.405440,1.309067
466,Joelinton,Newcastle Utd,56,20.000000,46,54.576349,2.3,2.728817,2.867645,1.153136
534,Connolly,Brighton,45,12.857143,36,32.576349,2.8,2.533716,1.857111,1.194405
146,Tosun,Everton,57,5.000000,12,11.500000,2.4,2.300000,2.100000,0.963364
130,Wickham,Crystal Palace,44,3.000000,6,6.838174,2.0,2.279391,4.838174,1.086657
364,Gray,Watford,56,16.666667,30,37.100000,1.8,2.226000,1.200000,0.940657
501,McBurnie,Sheffield Utd,57,17.727273,39,39.000000,2.2,2.200000,3.400000,0.921479
110,Giroud,Chelsea,66,5.000000,7,10.900000,1.4,2.180000,NaN,0.848564
188,Origi,Liverpool,52,15.185185,41,32.376349,2.7,2.132101,2.145478,0.934988
69,Solanke,Bournemouth,52,16.666667,25,34.300000,1.5,2.058000,1.435714,0.902493
437,Adams,Southampton,53,15.294118,26,30.638174,1.7,2.003265,1.396542,0.870163
520,Carroll,Newcastle Utd,54,12.000000,24,24.014523,2.0,2.001210,3.421059,0.861184
487,Cutrone,Wolves,55,12.105263,23,24.200000,1.9,1.999130,0.866667,0.852432

Below we compile a list sorting players based on a given metric (irrespective of position).

In [9]:
#metric = 'adjusted points per game'
metric = 'form 5'

display(df[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'valuePoints metric']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,valuePoints metric
id,,,,,,,,,,
388,Fabianski,West Ham,49,8.000000,40,33.044848,5.0,4.130606,8.445227,1.866018
191,Salah,Liverpool,123,15.942029,110,105.599215,6.9,6.623951,8.412237,1.888707
182,Alexander-Arnold,Liverpool,74,18.928571,106,109.723582,5.6,5.796718,7.222161,2.130916
192,ManÃÂ©,Liverpool,123,18.082192,132,117.803911,7.3,6.514913,6.936672,1.857617
103,Alonso,Chelsea,60,7.966102,47,34.562261,5.9,4.338667,6.851449,1.771253
215,De Bruyne,Manchester City,105,19.041096,139,122.404331,7.3,6.428429,6.226855,1.983856
166,Vardy,Leicester City,101,18.947368,144,117.190871,7.6,6.185074,5.696682,1.946185
313,Ings,Southampton,66,19.818182,109,95.538174,5.5,4.820734,5.692971,1.876468
315,Long,Southampton,46,10.000000,21,28.076349,2.1,2.807635,5.405440,1.309067
131,Guaita,Crystal Palace,51,18.095238,76,71.335508,4.2,3.942225,5.368922,1.745647
283,BuendÃÂ­a,Norwich City,60,20.333333,61,72.754852,3.0,3.578107,5.325600,1.460756
297,Lundstram,Sheffield Utd,52,19.019608,97,97.537238,5.1,5.128247,5.323665,2.248885
265,PÃÂ©rez,Leicester City,60,17.073171,70,61.443870,4.1,3.598855,5.264520,1.469227
214,Sterling,Manchester City,118,19.122807,109,112.176149,5.7,5.866092,5.245458,1.707685
503,Cahill,Crystal Palace,45,11.923077,31,35.340299,2.6,2.964025,5.188644,1.397255
362,Deeney,Watford,62,9.117647,31,35.400000,3.4,3.882581,5.146429,1.559282
113,Willian,Chelsea,71,19.090909,84,80.171289,4.4,4.199448,5.118774,1.576025
38,Montoya,Brighton,44,17.142857,48,51.747929,2.8,3.018629,5.118142,1.439075
511,SidibÃÂ©,Everton,53,12.000000,48,45.931925,4.0,3.827660,5.115874,1.662629
409,JimÃÂ©nez,Wolves,75,20.000000,104,102.329046,5.2,5.116452,5.103904,1.868264
471,Henderson,Sheffield Utd,49,18.809524,79,75.066824,4.2,3.990894,5.092929,1.802902
239,Martial,Manchester Utd,79,14.107143,79,70.597681,5.6,5.004393,5.092396,1.780483
42,Dunk,Brighton,47,17.948718,70,62.357502,3.9,3.474204,5.083761,1.602531
123,van Aanholt,Crystal Palace,55,17.187500,55,57.065552,3.2,3.320178,5.071048,1.415728
106,David Luiz,Arsenal,57,17.037037,46,51.205803,2.7,3.005558,5.007339,1.258890
338,Kane,Tottenham,110,18.888889,102,85.776349,5.4,4.541101,4.991198,1.369193
294,Baldock,Sheffield Utd,50,20.000000,90,76.447717,4.5,3.822386,4.987284,1.709423
196,Keita,Liverpool,58,5.000000,20,17.828673,4.0,3.565735,4.943630,1.480591
141,Digne,Everton,57,19.032258,59,67.075664,3.1,3.524315,4.905297,1.476173
130,Wickham,Crystal Palace,44,3.000000,6,6.838174,2.0,2.279391,4.838174,1.086657
266,AlmirÃÂ³n,Newcastle Utd,58,19.259259,52,62.863673,2.7,3.264075,4.803423,1.355334
233,Rashford,Manchester Utd,91,20.000000,120,117.190871,6.0,5.859544,4.800567,1.942420
301,Fleck,Sheffield Utd,49,17.027027,63,62.396574,3.7,3.664561,4.794936,1.655480
505,Harry Wilson,Bournemouth,59,15.897436,62,48.129066,3.9,3.027474,4.788376,1.246391
293,O'Connell,Sheffield Utd,46,20.000000,68,74.133194,3.4,3.706660,4.742109,1.728239
366,Foster,Watford,48,19.750000,79,70.546062,4.0,3.571953,4.732124,1.630366
200,Milner,Liverpool,53,15.000000,39,38.747845,2.6,2.583190,4.676817,1.122066
417,TraorÃÂ©,Wolves,55,18.837209,81,76.810797,4.3,4.077610,4.667831,1.738699
147,Calvert-Lewin,Everton,58,17.894737,68,64.200000,3.8,3.587647,4.664286,1.489689
11,Aubameyang,Arsenal,108,20.166667,121,103.814523,6.0,5.147828,4.662740,1.566434