# Player evaluation

Here we compare players based on their adjusted points. Also, we calculate some useful metrics using the adjusted points to further evaluate player performance in FPL.

In [1]:
# recent gameweek
gameweek = 23

In [2]:
# import basic libraries
import pandas as pd
import numpy as np

pd.set_option('max_columns',100)

In [3]:
# fetch FPL data
filepath = '../data/data_week' + str(gameweek) + '.csv'
df = pd.read_csv(filepath, index_col=0)#, encoding='latin-1')

# fetch team data
filepath = '../data/fbref/team_stats_week' + str(gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col=0)#, encoding='latin-1')

# fetch player stats data
filepath = '../data/fbref/player_stats_week' + str(gameweek) + '.csv'
playerStats = pd.read_csv(filepath, index_col=0, skiprows=1)#, encoding='latin-1')

## Value and value points

Here we calculate two interesting metrics: 'value' and 'value points'. 

Value is simply adjusted points per game divided by the cost of the player. Essentially, this measures how many 'points per pound(/euro/whatever)' has the player gained on an average game week. 

The value points is calculated as the geometric mean of a players adjusted points per game and value. Essentially, in FPL we want to gain the maximum possible amount of points. However, we are restrained by a limited budget, so that in practice we cannot just pick all the best players. Then, we would like to have a squad of players that give the most points given our budget. Thus, we would like to pick players that have high value ('bang for buck'). However, often the players with highest value are very cheap players who somewhat overperform relative to their price. Picking a squad full of these players might leave a part of our budget unused. Calculating the geometric mean of adjusted points and value allows us to weigh both aspects equally, i.e. we want players that both gain a lot of points but also have good value. For example, this metric values equally two players, where one has twice the points per game of the other who in turn has twice the value of the other.

In [4]:
# value = expected points / cost
df['value'] = df['adjusted points per game'] / (df['now_cost'] / 10.0)
# geometric mean of 'adjusted points per game' and 'value'
df['valuePoints metric'] = np.sqrt(df['adjusted points per game'] * df['value'])

In [5]:
# assign proper team names for each player
team_names = np.sort(teamStats['Squad'])
df['team_name'] = team_names[df['team']-1]

In [6]:
# save data
filepath = '../data/data_week' + str(gameweek) + str('.csv')
df.to_csv(filepath)

In [7]:
goalkeepers = df['element_type'] == 1
defenders = df['element_type'] == 2
midfielders = df['element_type'] == 3
forwards = df['element_type'] == 4

minGames = df['games played'] >= 3

## Player evaluation

Below we compile lists for each position sorting players based on a given metric.

In [10]:
metric = 'valuePoints metric'
#metric = 'adjusted points per game'
#metric = 'form 5'

numberToShow = 40

print('GOALKEEPERS')
display(df[goalkeepers & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('DEFENDERS')
display(df[defenders & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('MIDFIELDERS')
display(df[midfielders & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('FORWARDS')
display(df[forwards & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

GOALKEEPERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
341,Gazzaniga,Tottenham,46,16.764706,57,68.958691,3.4,4.113325,5.938888,4.574342,1.917848
411,Patr√≠cio,Wolves,51,23.142857,81,99.203514,3.5,4.286572,3.954794,4.082240,1.898126
93,Pope,Burnley,46,22.820513,89,89.353766,3.9,3.915502,5.518733,4.420363,1.825612
471,Henderson,Sheffield Utd,49,21.951220,90,83.816684,4.1,3.818316,3.110867,3.871084,1.724939
131,Guaita,Crystal Palace,51,21.000000,84,81.540766,4.0,3.882894,3.368627,4.439478,1.719374
47,Ryan,Brighton,49,23.243243,86,88.239590,3.7,3.796354,3.667725,3.795394,1.715018
388,Fabianski,West Ham,49,10.000000,47,37.950958,4.7,3.795096,3.647215,4.118533,1.714450
494,Ramsdale,Bournemouth,47,22.222222,80,81.202423,3.6,3.654109,2.904453,3.529646,1.685515
14,Leno,Arsenal,50,23.235294,79,86.833621,3.4,3.737143,4.280528,4.119340,1.671301
340,Lloris,Tottenham,53,6.969697,23,26.798669,3.3,3.845026,NaN,NaN,1.670173
235,de Gea,Manchester Utd,54,22.903226,71,88.556289,3.1,3.866542,2.600859,3.044755,1.663895
366,Foster,Watford,49,22.857143,96,83.059110,4.2,3.633836,4.260379,4.251270,1.641600
262,Dubravka,Newcastle Utd,50,22.820513,89,82.416751,3.9,3.611521,3.655493,4.092319,1.615121
189,Alisson,Liverpool,61,13.913043,64,54.623820,4.6,3.926087,5.827494,4.900617,1.589626
168,Schmeichel,Leicester City,54,23.076923,90,85.219638,3.9,3.692851,3.287001,3.263306,1.589150
318,McCarthy,Southampton,44,13.103448,38,43.676671,2.9,3.333220,3.630866,3.733385,1.589050
280,Krul,Norwich City,45,20.967742,65,70.230323,3.1,3.349446,2.649695,2.435657,1.578944
526,Adri√°n,Liverpool,41,10.000000,25,31.384514,2.5,3.138451,NaN,2.087452,1.549971
553,Martin,West Ham,41,5.000000,20,15.475479,4.0,3.095096,2.676469,NaN,1.528559
319,Gunn,Southampton,43,10.000000,29,31.437459,2.9,3.143746,NaN,NaN,1.516049
213,Bravo,Manchester City,48,3.928571,11,12.882380,2.8,3.279151,3.387407,3.391814,1.496721
111,Kepa,Chelsea,55,22.962963,62,76.834621,2.7,3.346024,4.032480,3.908281,1.426749
148,Pickford,Everton,53,23.125000,74,75.429357,3.2,3.261810,3.295881,3.366874,1.416840
450,Roberto,West Ham,44,8.181818,18,23.687147,2.2,2.895096,1.476035,1.476035,1.380183
212,Ederson,Manchester City,60,20.000000,60,65.946664,3.0,3.297333,2.174809,2.610053,1.346131
94,Heaton,Aston Villa,44,19.666667,59,54.119472,3.0,2.751838,3.208554,2.449218,1.311887
27,Nyland,Aston Villa,43,3.000000,3,4.696191,1.0,1.565397,0.959972,1.003264,0.754901

DEFENDERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
297,Lundstram,Sheffield Utd,51,22.083333,106,106.207009,4.8,4.809374,3.379974,3.980768,2.129627
182,Alexander-Arnold,Liverpool,75,22.068966,128,122.061557,5.8,5.530914,4.922560,4.992021,2.019604
181,Robertson,Liverpool,70,22.000000,110,109.709434,5.0,4.986792,4.467710,4.282715,1.884830
185,Matip,Liverpool,52,6.956522,32,29.206618,4.6,4.198451,NaN,NaN,1.841143
405,Boly,Wolves,48,8.095238,34,32.574776,4.2,4.023943,NaN,NaN,1.836670
105,Azpilicueta,Chelsea,58,21.212121,70,93.110361,3.3,4.389488,7.980667,6.716390,1.822636
103,Alonso,Chelsea,60,7.966102,47,35.016261,5.9,4.395658,NaN,6.851449,1.794520
401,Doherty,Wolves,61,21.111111,76,93.132488,3.6,4.411539,4.245762,4.354393,1.786180
208,Otamendi,Manchester City,50,13.823529,47,54.609014,3.4,3.950439,1.542059,3.302518,1.766690
506,James,Chelsea,50,12.187500,39,47.509503,3.2,3.898216,6.065284,5.257716,1.743335
440,Angeli√±o,Manchester City,47,6.111111,11,22.660954,1.8,3.708156,NaN,3.611762,1.710445
478,Holgate,Everton,45,16.000000,48,57.826118,3.0,3.614132,5.335305,4.401418,1.703718
529,Tomori,Chelsea,46,13.823529,47,50.170178,3.4,3.629332,2.504798,3.789626,1.692185
183,van Dijk,Liverpool,64,22.156863,113,94.771569,5.1,4.277301,5.018963,4.632944,1.690752
359,Janmaat,Watford,41,8.000000,36,27.171273,4.5,3.396409,NaN,NaN,1.677367
293,O'Connell,Sheffield Utd,46,23.333333,77,83.386327,3.3,3.573700,3.282850,3.774768,1.666246
518,Cancelo,Manchester City,52,8.888889,24,33.509629,2.7,3.769833,3.483170,3.551051,1.653181
291,Stevens,Sheffield Utd,51,23.157895,88,85.872281,3.8,3.708121,3.634442,3.954562,1.641984
42,Dunk,Brighton,48,20.810811,77,74.243943,3.7,3.567566,4.223238,4.461576,1.628364
164,S√∂y√ºnc√º,Leicester City,51,21.842105,83,79.905838,3.8,3.658340,2.281452,2.737627,1.619940
511,Sidib√©,Everton,54,14.871795,58,55.496073,3.9,3.731633,3.429838,3.650692,1.605839
160,Maguire,Manchester Utd,52,22.916667,55,83.075982,2.4,3.625134,2.943358,3.254421,1.589726
295,Egan,Sheffield Utd,45,21.818182,72,73.335760,3.3,3.361222,3.073460,3.391043,1.584495
294,Baldock,Sheffield Utd,51,22.790698,98,81.523294,4.3,3.577042,2.153962,3.322144,1.583941
336,Aurier,Tottenham,50,18.000000,63,63.193830,3.5,3.510768,3.411461,3.175300,1.570063
163,Fuchs,Leicester City,43,7.096774,22,23.086254,3.1,3.253063,3.407753,3.552134,1.568766
162,Evans,Leicester City,53,23.157895,88,83.534208,3.8,3.607159,2.740846,3.150667,1.566850
6,Monreal,Arsenal,50,3.030303,10,10.608336,3.3,3.500751,NaN,NaN,1.565583
141,Digne,Everton,58,21.764706,74,81.575848,3.4,3.748080,5.012322,4.423922,1.556305
204,Mendy,Manchester City,55,10.909091,36,39.655712,3.3,3.635107,4.186521,4.007625,1.550015
128,Kelly,Crystal Palace,44,18.000000,63,58.474098,3.5,3.248561,2.570587,3.116022,1.548691
122,Wan-Bissaka,Manchester Utd,53,20.000000,50,71.013259,2.5,3.550663,3.709578,3.788849,1.542309
486,C√©dric,Southampton,48,15.000000,42,50.566773,2.8,3.371118,3.606821,3.617995,1.538698
549,Williams,Manchester Utd,41,8.125000,26,25.214796,3.2,3.103359,4.541927,4.313630,1.532640
206,Zinchenko,Manchester City,52,8.965517,26,31.324367,2.9,3.493872,4.548168,3.812407,1.532164
186,Lovren,Liverpool,53,8.000000,16,28.218195,2.0,3.527274,NaN,3.205620,1.532150
161,Chilwell,Leicester City,57,18.095238,76,65.904928,4.2,3.642114,1.603570,1.974000,1.525514
203,Walker,Manchester City,57,16.875000,54,61.088666,3.2,3.620069,2.477424,3.294269,1.516280
308,Stephens,Southampton,44,15.000000,45,47.477357,3.0,3.165157,4.139896,4.329235,1.508929
159,Pereira,Leicester City,64,21.860465,94,83.127016,4.3,3.802619,2.139147,2.323381,1.503117

MIDFIELDERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
191,Salah,Liverpool,124,19.000000,133,127.985564,7.0,6.736082,7.029628,7.663488,1.912919
215,De Bruyne,Manchester City,107,22.028986,152,134.415526,6.9,6.101757,4.449389,5.274372,1.865362
192,Man√©,Liverpool,124,20.857143,146,135.885168,7.0,6.515042,6.217720,6.619937,1.850148
301,Fleck,Sheffield Utd,50,20.000000,84,79.223113,4.2,3.961156,5.697031,5.136329,1.771483
431,Pulisic,Chelsea,69,15.909091,70,72.965241,4.4,4.586387,2.455897,3.388711,1.746008
417,Traor√©,Wolves,57,22.093023,95,90.826487,4.3,4.111094,5.007061,4.547337,1.721948
287,Cantwell,Norwich City,50,22.820513,89,87.609379,3.9,3.839063,3.731093,3.806822,1.716881
239,Martial,Manchester Utd,79,16.851852,91,80.204306,5.4,4.759376,3.815261,3.976738,1.693310
29,Grealish,Aston Villa,66,21.000000,105,90.731837,5.0,4.320564,4.906416,4.416232,1.681777
171,Maddison,Leicester City,77,21.836735,107,100.750184,4.9,4.613793,3.831876,4.025697,1.662696
214,Sterling,Manchester City,117,21.132075,112,118.031607,5.3,5.585424,3.707441,4.574666,1.632914
219,David Silva,Manchester City,74,18.125000,87,80.380047,4.8,4.434761,3.730060,3.997268,1.630251
283,Buend√≠a,Norwich City,60,22.812500,73,88.860653,3.2,3.895261,5.121124,4.969228,1.590234
463,Mount,Chelsea,62,23.157895,88,91.414335,3.8,3.947437,3.920192,3.432330,1.585329
217,Mahrez,Manchester City,85,19.107143,107,87.347695,5.6,4.571468,4.432862,4.542470,1.568001
269,Shelvey,Newcastle Utd,50,14.883721,64,52.039836,4.3,3.496426,2.721516,3.364354,1.563649
113,Willian,Chelsea,72,21.860465,94,91.243455,4.3,4.173903,3.910696,4.200720,1.555522
344,Alli,Tottenham,85,16.000000,80,71.407510,5.0,4.462969,4.218008,4.400320,1.530786
30,El Ghazi,Aston Villa,55,19.714286,69,70.728935,3.5,3.587700,3.723313,3.445189,1.529800
265,P√©rez,Leicester City,61,20.232558,87,75.487573,4.3,3.730995,4.903972,4.602625,1.510636
150,Richarlison,Everton,81,22.040816,108,94.701620,4.9,4.296648,6.698554,4.842806,1.509688
415,Moutinho,Wolves,54,23.142857,81,81.124966,3.5,3.505400,4.036309,3.834262,1.508484
342,Son,Tottenham,99,18.076923,94,85.752001,5.2,4.743728,14.325283,7.626734,1.507656
321,Ward-Prowse,Southampton,58,23.333333,77,83.120270,3.3,3.562297,2.672891,2.967585,1.479163
371,Cleverley,Watford,48,8.888889,24,28.494636,2.7,3.205647,NaN,NaN,1.463171
196,Keita,Liverpool,58,5.000000,20,17.608648,4.0,3.521730,2.376106,5.643864,1.462319
421,Trossard,Brighton,58,16.842105,64,59.081634,3.8,3.507972,4.125271,3.416359,1.456606
31,McGinn,Aston Villa,55,17.941176,61,60.157139,3.4,3.353021,NaN,1.018678,1.429733
118,Jorginho,Chelsea,49,20.967742,65,65.983724,3.1,3.146916,4.046711,3.374248,1.421632
246,Pereira,Manchester Utd,49,20.384615,53,64.098299,2.6,3.144445,4.449705,3.708608,1.420515
172,Barnes,Leicester City,59,21.250000,68,73.291566,3.2,3.449015,3.233305,3.600321,1.419937
248,McTominay,Manchester Utd,49,17.187500,55,53.816664,3.2,3.131151,0.866584,2.430551,1.414510
243,James,Manchester Utd,60,22.058824,75,75.243285,3.4,3.411029,2.288713,2.712431,1.392547
320,Redmond,Southampton,62,20.769231,54,71.919450,2.6,3.462788,3.553336,3.518709,1.390689
266,Almir√≥n,Newcastle Utd,58,21.666667,65,72.344616,3.0,3.338982,3.139155,3.639960,1.386437
368,Doucour√©,Watford,56,21.818182,72,71.426183,3.3,3.273700,5.234466,4.181982,1.383391
218,Bernardo Silva,Manchester City,78,18.974359,74,73.245070,3.9,3.860213,3.561957,3.050085,1.382178
302,Norwood,Sheffield Utd,49,22.592593,61,69.042411,2.7,3.055976,3.084694,3.156776,1.380549
114,Pedro,Chelsea,68,5.000000,10,17.896239,2.0,3.579248,1.356389,2.092821,1.372579
101,Westwood,Burnley,54,20.000000,70,63.081464,3.5,3.154073,3.766592,3.824759,1.357297

FORWARDS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
233,Rashford,Manchester Utd,90,21.967213,134,129.052920,6.1,5.874797,6.186154,5.752556,1.958266
278,Pukki,Norwich City,65,21.800000,109,107.531752,5.0,4.932649,6.030219,5.350292,1.934744
409,Jim√©nez,Wolves,75,22.830189,121,119.863504,5.3,5.250220,6.340441,5.618364,1.917109
166,Vardy,Leicester City,101,20.985915,149,125.863504,7.1,5.997523,4.065346,5.476491,1.887171
313,Ings,Southampton,69,23.148148,125,112.710584,5.4,4.869097,5.233493,5.737644,1.853634
460,Abraham,Chelsea,79,21.964286,123,113.242336,5.6,5.155749,5.171765,4.350853,1.834333
167,Iheanacho,Leicester City,57,6.956522,32,28.621168,4.6,4.114293,2.507763,NaN,1.723288
468,Ayew,Crystal Palace,50,22.105263,84,81.010584,3.8,3.664765,3.487260,3.185725,1.638933
502,Maupay,Brighton,59,22.972973,85,89.221168,3.7,3.883745,2.555326,3.131203,1.598912
210,Ag√ºero,Manchester City,119,16.911765,115,92.042336,6.8,5.442503,7.942129,6.054796,1.577703
187,Firmino,Liverpool,94,22.173913,102,106.952920,4.6,4.823367,5.774609,4.974630,1.573209
362,Deeney,Watford,62,12.187500,39,47.600000,3.2,3.905641,4.721429,4.395192,1.568543
91,Wood,Burnley,62,21.000000,84,81.800000,4.0,3.895238,4.892857,3.809259,1.564365
68,King,Bournemouth,61,16.111111,58,60.431752,3.6,3.750936,2.328152,2.199968,1.518710
11,Aubameyang,Arsenal,107,21.896552,127,108.531752,5.8,4.956568,3.280581,4.063959,1.515267
147,Calvert-Lewin,Everton,60,21.081081,78,76.600000,3.7,3.633590,5.114286,4.324074,1.483407
211,Jesus,Manchester City,95,19.130435,88,86.852920,4.6,4.540039,5.631217,5.691818,1.472983
410,Jota,Wolves,61,18.928571,53,66.410584,2.8,3.508484,2.468047,3.379049,1.420544
363,Deulofeu,Watford,61,22.812500,73,79.931752,3.2,3.503858,4.416843,3.876231,1.418670
303,McGoldrick,Sheffield Utd,54,19.047619,40,61.721168,2.1,3.240361,1.650017,2.769844,1.394429
428,Wesley,Aston Villa,55,20.937500,67,68.210584,3.2,3.257819,2.828047,2.299049,1.389139
130,Wickham,Crystal Palace,44,5.000000,14,14.410584,2.8,2.882117,3.432498,3.853374,1.373995
338,Kane,Tottenham,109,20.000000,104,88.421168,5.2,4.421058,4.636094,4.188923,1.339100
457,Haller,West Ham,70,21.111111,76,73.621168,3.6,3.487318,3.159844,3.126585,1.318082
70,Mousset,Sheffield Utd,47,20.000000,66,57.131752,3.3,2.856588,2.021908,2.093487,1.317646
315,Long,Southampton,46,13.076923,34,36.731752,2.6,2.808899,3.049004,3.722591,1.309656
90,Barnes,Burnley,62,19.062500,61,60.100000,3.2,3.152787,2.040000,1.590323,1.266190
466,Joelinton,Newcastle Utd,55,22.608696,52,63.321168,2.3,2.800744,2.977897,2.697443,1.194241
534,Connolly,Brighton,44,15.000000,39,36.621168,2.6,2.441411,2.133900,2.021014,1.163897
67,Callum Wilson,Bournemouth,74,21.875000,70,68.931752,3.2,3.151166,2.121908,1.731228,1.158392
12,Lacazette,Arsenal,93,16.111111,58,54.331752,3.6,3.372316,3.568494,3.146429,1.105826
501,McBurnie,Sheffield Utd,57,21.304348,49,53.900000,2.3,2.530000,4.842857,4.057407,1.059700
504,Martinelli,Arsenal,45,12.083333,29,26.910584,2.4,2.227083,5.103186,3.800110,1.049857
364,Gray,Watford,56,17.894737,34,40.010584,1.9,2.235886,2.287879,1.739545,0.944834
69,Solanke,Bournemouth,52,20.000000,30,40.100000,1.5,2.005000,1.914286,1.762963,0.879251
234,Greenwood,Manchester Utd,44,17.826087,41,32.400000,2.3,1.817561,1.642857,2.100000,0.866488
437,Adams,Southampton,53,17.222222,31,34.221168,1.8,1.987036,1.821382,1.498951,0.863113
487,Cutrone,Wolves,55,12.105263,23,24.200000,1.9,1.999130,NaN,1.030769,0.852432
110,Giroud,Chelsea,66,5.000000,7,10.900000,1.4,2.180000,NaN,4.000000,0.848564
188,Origi,Liverpool,52,18.333333,44,35.321168,2.4,1.926609,1.122049,1.880408,0.844874

Below we compile a list sorting players based on a given metric (irrespective of position).

In [9]:
#NOTE: SON FORM IS NOT CORRECT CURRENTLY

#metric = 'adjusted points per game'
metric = 'form 10'

display(df[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
191,Salah,Liverpool,124,19.000000,133,127.985564,7.0,6.736082,7.029628,7.663488,1.912919
342,Son,Tottenham,99,18.076923,94,85.752001,5.2,4.743728,14.325283,7.626734,1.507656
103,Alonso,Chelsea,60,7.966102,47,35.016261,5.9,4.395658,NaN,6.851449,1.794520
105,Azpilicueta,Chelsea,58,21.212121,70,93.110361,3.3,4.389488,7.980667,6.716390,1.822636
192,Man√©,Liverpool,124,20.857143,146,135.885168,7.0,6.515042,6.217720,6.619937,1.850148
210,Ag√ºero,Manchester City,119,16.911765,115,92.042336,6.8,5.442503,7.942129,6.054796,1.577703
233,Rashford,Manchester Utd,90,21.967213,134,129.052920,6.1,5.874797,6.186154,5.752556,1.958266
313,Ings,Southampton,69,23.148148,125,112.710584,5.4,4.869097,5.233493,5.737644,1.853634
211,Jesus,Manchester City,95,19.130435,88,86.852920,4.6,4.540039,5.631217,5.691818,1.472983
196,Keita,Liverpool,58,5.000000,20,17.608648,4.0,3.521730,2.376106,5.643864,1.462319
409,Jim√©nez,Wolves,75,22.830189,121,119.863504,5.3,5.250220,6.340441,5.618364,1.917109
166,Vardy,Leicester City,101,20.985915,149,125.863504,7.1,5.997523,4.065346,5.476491,1.887171
278,Pukki,Norwich City,65,21.800000,109,107.531752,5.0,4.932649,6.030219,5.350292,1.934744
215,De Bruyne,Manchester City,107,22.028986,152,134.415526,6.9,6.101757,4.449389,5.274372,1.865362
506,James,Chelsea,50,12.187500,39,47.509503,3.2,3.898216,6.065284,5.257716,1.743335
301,Fleck,Sheffield Utd,50,20.000000,84,79.223113,4.2,3.961156,5.697031,5.136329,1.771483
182,Alexander-Arnold,Liverpool,75,22.068966,128,122.061557,5.8,5.530914,4.922560,4.992021,2.019604
187,Firmino,Liverpool,94,22.173913,102,106.952920,4.6,4.823367,5.774609,4.974630,1.573209
283,Buend√≠a,Norwich City,60,22.812500,73,88.860653,3.2,3.895261,5.121124,4.969228,1.590234
189,Alisson,Liverpool,61,13.913043,64,54.623820,4.6,3.926087,5.827494,4.900617,1.589626
150,Richarlison,Everton,81,22.040816,108,94.701620,4.9,4.296648,6.698554,4.842806,1.509688
183,van Dijk,Liverpool,64,22.156863,113,94.771569,5.1,4.277301,5.018963,4.632944,1.690752
265,P√©rez,Leicester City,61,20.232558,87,75.487573,4.3,3.730995,4.903972,4.602625,1.510636
214,Sterling,Manchester City,117,21.132075,112,118.031607,5.3,5.585424,3.707441,4.574666,1.632914
341,Gazzaniga,Tottenham,46,16.764706,57,68.958691,3.4,4.113325,5.938888,4.574342,1.917848
417,Traor√©,Wolves,57,22.093023,95,90.826487,4.3,4.111094,5.007061,4.547337,1.721948
217,Mahrez,Manchester City,85,19.107143,107,87.347695,5.6,4.571468,4.432862,4.542470,1.568001
123,van Aanholt,Crystal Palace,55,17.187500,55,56.330091,3.2,3.277387,3.525250,4.478588,1.397483
42,Dunk,Brighton,48,20.810811,77,74.243943,3.7,3.567566,4.223238,4.461576,1.628364
525,Sarr,Watford,62,16.000000,56,52.962096,3.5,3.310131,4.245438,4.458742,1.329381
131,Guaita,Crystal Palace,51,21.000000,84,81.540766,4.0,3.882894,3.368627,4.439478,1.719374
141,Digne,Everton,58,21.764706,74,81.575848,3.4,3.748080,5.012322,4.423922,1.556305
93,Pope,Burnley,46,22.820513,89,89.353766,3.9,3.915502,5.518733,4.420363,1.825612
29,Grealish,Aston Villa,66,21.000000,105,90.731837,5.0,4.320564,4.906416,4.416232,1.681777
478,Holgate,Everton,45,16.000000,48,57.826118,3.0,3.614132,5.335305,4.401418,1.703718
344,Alli,Tottenham,85,16.000000,80,71.407510,5.0,4.462969,4.218008,4.400320,1.530786
362,Deeney,Watford,62,12.187500,39,47.600000,3.2,3.905641,4.721429,4.395192,1.568543
401,Doherty,Wolves,61,21.111111,76,93.132488,3.6,4.411539,4.245762,4.354393,1.786180
460,Abraham,Chelsea,79,21.964286,123,113.242336,5.6,5.155749,5.171765,4.350853,1.834333
308,Stephens,Southampton,44,15.000000,45,47.477357,3.0,3.165157,4.139896,4.329235,1.508929