# Player evaluation

Here we compare players based on their adjusted points. Also, we calculate some useful metrics using the adjusted points to further evaluate player performance in FPL.

In [1]:
# recent gameweek
gameweek = 22

In [2]:
# import basic libraries
import pandas as pd
import numpy as np

pd.set_option('max_columns',100)

In [3]:
# fetch FPL data
filepath = '../data/data_week' + str(gameweek) + '.csv'
df = pd.read_csv(filepath, index_col=0)#, encoding='latin-1')

# fetch team data
filepath = '../data/fbref/team_stats_week' + str(gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col=0)#, encoding='latin-1')

# fetch player stats data
filepath = '../data/fbref/player_stats_week' + str(gameweek) + '.csv'
playerStats = pd.read_csv(filepath, index_col=0, skiprows=1)#, encoding='latin-1')

## Value and value points

Here we calculate two interesting metrics: 'value' and 'value points'. 

Value is simply adjusted points per game divided by the cost of the player. Essentially, this measures how many 'points per pound(/euro/whatever)' has the player gained on an average game week. 

The value points is calculated as the geometric mean of a players adjusted points per game and value. Essentially, in FPL we want to gain the maximum possible amount of points. However, we are restrained by a limited budget, so that in practice we cannot just pick all the best players. Then, we would like to have a squad of players that give the most points given our budget. Thus, we would like to pick players that have high value ('bang for buck'). However, often the players with highest value are very cheap players who somewhat overperform relative to their price. Picking a squad full of these players might leave a part of our budget unused. Calculating the geometric mean of adjusted points and value allows us to weigh both aspects equally, i.e. we want players that both gain a lot of points but also have good value. For example, this metric values equally two players, where one has twice the points per game of the other who in turn has twice the value of the other.

In [4]:
# value = expected points / cost
df['value'] = df['adjusted points per game'] / (df['now_cost'] / 10.0)
# geometric mean of 'adjusted points per game' and 'value'
df['valuePoints metric'] = np.sqrt(df['adjusted points per game'] * df['value'])

In [5]:
# assign proper team names for each player
team_names = np.sort(teamStats['Squad'])
df['team_name'] = team_names[df['team']-1]

In [6]:
# save data
filepath = '../data/data_week' + str(gameweek) + str('.csv')
df.to_csv(filepath)

In [7]:
goalkeepers = df['element_type'] == 1
defenders = df['element_type'] == 2
midfielders = df['element_type'] == 3
forwards = df['element_type'] == 4

minGames = df['games played'] >= 3

## Player evaluation

Below we compile lists for each position sorting players based on a given metric.

In [8]:
#metric = 'valuePoints metric'
metric = 'adjusted points per game'
#metric = 'form 5'

numberToShow = 40

print('GOALKEEPERS')
display(df[goalkeepers & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('DEFENDERS')
display(df[defenders & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('MIDFIELDERS')
display(df[midfielders & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('FORWARDS')
display(df[forwards & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

GOALKEEPERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
411,Patr√≠cio,Wolves,52,21.944444,79,95.291640,3.6,4.342404,4.232416,4.138953,1.904270
235,de Gea,Manchester Utd,54,21.875000,70,88.148877,3.2,4.029663,3.726012,3.611050,1.734091
131,Guaita,Crystal Palace,51,20.000000,82,79.119746,4.1,3.955987,3.950948,4.831698,1.751741
340,Lloris,Tottenham,53,6.969697,23,26.987406,3.3,3.872106,NaN,NaN,1.681935
47,Ryan,Brighton,48,22.105263,84,84.460040,3.8,3.820811,3.803239,3.730480,1.743954
471,Henderson,Sheffield Utd,49,21.219512,87,80.225130,4.1,3.780725,3.712414,3.947331,1.707957
388,Fabianski,West Ham,49,10.000000,47,37.803593,4.7,3.780359,3.835742,4.149954,1.707792
14,Leno,Arsenal,50,22.000000,77,83.098697,3.5,3.777213,4.561598,4.354008,1.689221
168,Schmeichel,Leicester City,54,22.000000,88,82.042671,4.0,3.729212,3.325997,3.298584,1.604797
494,Ramsdale,Bournemouth,47,20.810811,77,77.475521,3.7,3.722850,2.696803,3.439627,1.717223
341,Gazzaniga,Tottenham,46,15.925926,43,58.451417,2.7,3.670205,3.148279,3.227964,1.711242
262,Dubravka,Newcastle Utd,50,21.891892,81,78.048241,3.7,3.565167,3.705023,4.037443,1.594391
366,Foster,Watford,49,21.750000,87,77.325407,4.0,3.555191,4.155285,3.789429,1.606072
189,Alisson,Liverpool,61,13.076923,51,46.427066,3.9,3.550305,4.477077,3.900180,1.437476
93,Pope,Burnley,46,22.000000,77,77.791409,3.5,3.535973,2.861883,2.948898,1.648656
318,McCarthy,Southampton,43,11.935484,37,41.718821,3.1,3.495361,4.538949,4.039123,1.685613
212,Ederson,Manchester City,60,19.032258,59,62.879293,3.1,3.303827,1.813628,2.574260,1.348782
280,Krul,Norwich City,45,20.000000,58,65.932966,2.9,3.296648,1.960340,2.244227,1.554055
111,Kepa,Chelsea,55,22.222222,60,72.999026,2.7,3.284956,4.210140,3.869290,1.400710
213,Bravo,Manchester City,48,3.928571,11,12.754745,2.8,3.246662,3.389296,3.392073,1.481892
148,Pickford,Everton,53,22.187500,71,71.297389,3.2,3.213403,3.008954,3.155538,1.395813
526,Adri√°n,Liverpool,41,10.000000,25,31.855992,2.5,3.185599,NaN,2.102961,1.573255
319,Gunn,Southampton,43,10.000000,29,31.656310,2.9,3.165631,NaN,NaN,1.526603
553,Martin,West Ham,41,5.000000,20,15.401797,4.0,3.080359,2.676469,NaN,1.521281
450,Roberto,West Ham,44,8.181818,18,23.566576,2.2,2.880359,1.476035,1.719156,1.373157
94,Heaton,Aston Villa,44,19.666667,59,53.598093,3.0,2.725327,3.199099,2.484446,1.299249
27,Nyland,Aston Villa,43,3.000000,3,4.616658,1.0,1.538886,0.976327,1.006454,0.742117

DEFENDERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
182,Alexander-Arnold,Liverpool,75,21.071429,118,117.521879,5.6,5.577309,5.351865,5.047349,2.036545
181,Robertson,Liverpool,70,20.800000,104,105.591372,5.0,5.076508,4.784737,4.398792,1.918740
297,Lundstram,Sheffield Utd,51,20.800000,104,102.345221,5.0,4.920443,3.409650,3.994146,2.178809
401,Doherty,Wolves,61,19.736842,75,90.038568,3.8,4.561954,5.057671,4.653654,1.847081
103,Alonso,Chelsea,60,7.966102,47,34.824767,5.9,4.371620,6.851449,6.851449,1.784706
105,Azpilicueta,Chelsea,58,20.000000,68,87.194578,3.4,4.359729,8.203164,6.631326,1.810279
185,Matip,Liverpool,52,6.956522,32,29.534603,4.6,4.245599,NaN,NaN,1.861818
183,van Dijk,Liverpool,64,20.851064,98,87.676323,4.7,4.204885,3.907304,4.068025,1.662127
405,Boly,Wolves,48,8.095238,34,32.544105,4.2,4.020154,NaN,NaN,1.834941
208,Otamendi,Manchester City,50,13.823529,47,54.181135,3.4,3.919486,2.076442,3.367555,1.752848
518,Cancelo,Manchester City,52,7.931034,23,30.817730,2.9,3.885714,4.051413,3.987481,1.703998
511,Sidib√©,Everton,54,13.902439,57,53.451744,4.1,3.844775,4.155831,3.981569,1.654528
160,Maguire,Manchester Utd,52,21.600000,54,82.219577,2.5,3.806462,4.022555,3.724706,1.669244
159,Pereira,Leicester City,64,21.136364,93,79.875707,4.4,3.779066,1.196029,2.334038,1.493807
291,Stevens,Sheffield Utd,51,21.794872,85,81.202420,3.9,3.725758,3.404075,3.747944,1.649793
506,James,Chelsea,50,11.071429,31,41.204223,2.8,3.721672,5.260046,4.791603,1.664382
164,S√∂y√ºnc√º,Leicester City,51,21.025641,82,77.447658,3.9,3.683486,1.842537,2.907342,1.631075
440,Angeli√±o,Manchester City,47,6.111111,11,22.483644,1.8,3.679142,NaN,3.638804,1.697062
141,Digne,Everton,57,21.176471,72,77.717490,3.4,3.669993,5.928807,4.324737,1.537191
162,Evans,Leicester City,53,21.750000,87,79.817186,4.0,3.669756,1.848233,3.148172,1.594040
161,Chilwell,Leicester City,57,18.095238,76,66.022327,4.2,3.648602,1.401335,2.265228,1.528231
293,O'Connell,Sheffield Utd,46,22.058824,75,80.112594,3.4,3.631771,3.807636,3.807700,1.693322
294,Baldock,Sheffield Utd,51,22.045455,97,79.990727,4.4,3.628445,2.978822,3.709637,1.606703
529,Tomori,Chelsea,47,13.823529,47,49.727336,3.4,3.597297,3.384901,3.773126,1.659309
203,Walker,Manchester City,58,16.875000,54,60.582883,3.2,3.590097,3.375912,3.301043,1.490707
122,Wan-Bissaka,Manchester Utd,53,18.846154,49,67.452389,2.6,3.579106,3.585762,3.735126,1.554664
186,Lovren,Liverpool,53,8.000000,16,28.616612,2.0,3.577076,NaN,3.268438,1.553783
336,Aurier,Tottenham,50,16.764706,57,59.471766,3.4,3.547439,2.976392,3.147177,1.586463
42,Dunk,Brighton,48,20.000000,76,70.406920,3.8,3.520346,4.823179,4.605256,1.606811
6,Monreal,Arsenal,50,3.030303,10,10.543898,3.3,3.479486,NaN,NaN,1.556074
163,Fuchs,Leicester City,43,6.000000,21,20.838910,3.5,3.473152,4.513467,4.247580,1.674902
206,Zinchenko,Manchester City,52,8.965517,26,31.033086,2.9,3.461383,4.548168,3.791385,1.517917
204,Mendy,Manchester City,55,10.000000,31,34.380260,3.1,3.438026,3.815356,3.636152,1.465979
359,Janmaat,Watford,41,8.000000,36,27.251508,4.5,3.406439,NaN,NaN,1.682320
486,C√©dric,Southampton,48,14.074074,38,47.897769,2.7,3.403263,4.083203,3.730532,1.553370
225,Lindel√∂f,Manchester Utd,53,21.111111,57,70.956377,2.7,3.361092,3.527580,3.203567,1.459965
107,Emerson,Chelsea,55,12.000000,18,40.219474,1.5,3.351623,2.731280,4.164597,1.429137
478,Holgate,Everton,44,14.814815,40,49.587245,2.7,3.347139,3.836080,3.388010,1.595686
295,Egan,Sheffield Utd,45,21.212121,70,70.883736,3.3,3.341662,3.796691,3.580845,1.575274
128,Kelly,Crystal Palace,44,17.222222,62,57.218267,3.6,3.322351,3.373835,3.489170,1.583869

MIDFIELDERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
191,Salah,Liverpool,123,18.000000,126,120.744287,7.0,6.708016,6.948494,7.775896,1.912677
192,Man√©,Liverpool,124,19.861111,143,129.330958,7.2,6.511769,6.183230,6.693703,1.849218
215,De Bruyne,Manchester City,107,21.126761,150,129.745944,7.1,6.141308,4.547640,5.427405,1.877453
214,Sterling,Manchester City,118,20.000000,110,113.487857,5.5,5.674393,3.019793,4.578472,1.651880
239,Martial,Manchester Utd,79,15.892857,89,77.298006,5.6,4.863695,4.382359,4.165306,1.730425
342,Son,Tottenham,98,16.851852,91,81.814500,5.4,4.854926,19.601332,8.538892,1.550849
217,Mahrez,Manchester City,84,17.966102,106,85.665749,5.9,4.768188,6.139181,5.181592,1.645181
171,Maddison,Leicester City,77,21.000000,105,96.730637,5.0,4.606221,3.037351,4.155328,1.659967
431,Pulisic,Chelsea,70,15.909091,70,72.601530,4.4,4.563525,2.427305,3.428788,1.724850
219,David Silva,Manchester City,74,17.000000,85,77.211952,5.0,4.541880,4.052296,4.273009,1.669628
344,Alli,Tottenham,86,15.098039,77,66.621115,5.1,4.412567,3.844686,4.396555,1.504673
150,Richarlison,Everton,81,22.040816,108,94.761462,4.9,4.299363,6.047085,4.667169,1.510642
29,Grealish,Aston Villa,65,19.791667,95,83.657272,4.8,4.226894,3.588300,3.910787,1.657924
113,Willian,Chelsea,72,20.909091,92,87.521362,4.4,4.185804,4.618553,4.249449,1.559957
463,Mount,Chelsea,62,21.794872,85,87.686562,3.9,4.023266,3.523859,3.286046,1.615782
417,Traor√©,Wolves,57,21.250000,85,84.244711,4.0,3.964457,4.063880,4.081198,1.660528
287,Cantwell,Norwich City,49,22.051282,86,84.555415,3.9,3.834490,4.500128,4.105897,1.732246
218,Bernardo Silva,Manchester City,78,18.000000,72,68.919072,4.0,3.828837,2.033477,2.649292,1.370944
301,Fleck,Sheffield Utd,49,18.974359,74,72.609725,3.9,3.826729,5.059698,4.879007,1.728740
265,P√©rez,Leicester City,61,18.888889,85,72.220270,4.5,3.823426,5.236216,5.109207,1.548060
238,Pogba,Manchester Utd,84,7.083333,17,26.728069,2.4,3.773374,2.711683,2.614464,1.301938
283,Buend√≠a,Norwich City,60,22.187500,71,83.241636,3.2,3.751736,5.208312,4.620905,1.531640
114,Pedro,Chelsea,68,5.000000,10,18.356195,2.0,3.671239,1.356389,2.260192,1.407856
321,Ward-Prowse,Southampton,58,22.121212,73,80.656899,3.3,3.646134,2.837464,3.201848,1.513975
415,Moutinho,Wolves,54,21.944444,79,78.795637,3.6,3.590687,4.677327,4.263242,1.545186
269,Shelvey,Newcastle Utd,50,13.863636,61,49.299066,4.4,3.555998,2.764607,3.684038,1.590291
30,El Ghazi,Aston Villa,55,19.142857,67,67.806228,3.5,3.542116,3.900801,3.645198,1.510363
196,Keita,Liverpool,58,5.000000,20,17.688817,4.0,3.537763,2.376106,5.832389,1.468976
243,James,Manchester Utd,60,20.857143,73,73.430886,3.5,3.520659,2.309878,2.995027,1.437303
320,Redmond,Southampton,62,20.000000,52,69.528155,2.6,3.476408,4.329342,3.727108,1.396159
448,Tielemans,Leicester City,63,21.111111,76,72.499126,3.6,3.434169,2.146755,2.505385,1.368206
488,P√©p√©,Arsenal,91,19.032258,59,65.274865,3.1,3.429696,3.436305,3.357487,1.136933
389,Antonio,West Ham,69,8.965517,26,30.488580,2.9,3.400649,3.348522,3.654917,1.294605
266,Almir√≥n,Newcastle Utd,58,20.666667,62,70.255343,3.0,3.399452,4.250217,3.944120,1.411546
172,Barnes,Leicester City,59,20.333333,61,68.569708,3.0,3.372281,2.827655,3.375275,1.388346
421,Trossard,Brighton,58,15.882353,54,53.334161,3.4,3.358077,2.968520,2.849888,1.394366
31,McGinn,Aston Villa,55,17.941176,61,60.080699,3.4,3.348760,-1.322782,1.301851,1.427916
49,Gro√ü,Brighton,64,18.709677,58,61.888385,3.1,3.307827,2.423810,3.377843,1.307534
525,Sarr,Watford,62,15.142857,53,49.480665,3.5,3.267591,4.795614,4.544642,1.312296
368,Doucour√©,Watford,56,21.212121,70,68.085400,3.3,3.209740,5.505650,4.215195,1.356363

FORWARDS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
166,Vardy,Leicester City,100,19.866667,149,120.790909,7.5,6.080079,4.003294,6.035419,1.922690
233,Rashford,Manchester Utd,92,21.967213,134,129.159091,6.1,5.879630,5.555840,5.861906,1.938457
210,Ag√ºero,Manchester City,118,15.937500,102,83.527273,6.4,5.240927,5.756895,4.799376,1.525693
460,Abraham,Chelsea,78,20.862069,121,106.527273,5.8,5.106266,3.626074,3.808766,1.828337
313,Ings,Southampton,68,21.964286,123,110.331818,5.6,5.023237,7.169739,6.390705,1.926324
409,Jim√©nez,Wolves,75,22.040816,108,109.390909,4.9,4.963106,4.212308,4.606512,1.812270
11,Aubameyang,Arsenal,108,21.896552,127,108.595455,5.8,4.959477,3.037790,4.204422,1.509121
187,Firmino,Liverpool,93,20.833333,100,102.959091,4.8,4.942036,6.650599,5.248033,1.620558
278,Pukki,Norwich City,65,20.833333,100,97.795455,4.8,4.694182,2.277599,4.186647,1.841210
211,Jesus,Manchester City,95,17.872340,84,83.327273,4.7,4.662359,6.651614,5.984383,1.512669
167,Iheanacho,Leicester City,57,5.961538,31,26.763636,5.2,4.489384,2.914932,NaN,1.880396
338,Kane,Tottenham,109,20.000000,104,88.463636,5.2,4.423182,4.429511,4.131521,1.339743
502,Maupay,Brighton,58,21.891892,81,86.031818,3.7,3.929848,2.002896,3.187115,1.631781
468,Ayew,Crystal Palace,50,20.750000,83,80.031818,4.0,3.856955,4.456468,3.614893,1.724883
91,Wood,Burnley,62,19.743590,77,74.800000,3.9,3.788571,2.892857,3.150000,1.521527
68,King,Bournemouth,61,16.111111,58,60.495455,3.6,3.754890,1.925839,2.205884,1.520311
362,Deeney,Watford,62,11.142857,39,41.700000,3.5,3.742308,4.453571,3.886275,1.502947
410,Jota,Wolves,61,18.928571,53,66.431818,2.8,3.509605,2.503644,3.449785,1.420998
147,Calvert-Lewin,Everton,59,20.000000,70,69.800000,3.5,3.490000,3.635714,3.674074,1.436810
363,Deulofeu,Watford,61,22.187500,71,76.795455,3.2,3.461204,4.706335,3.970207,1.401400
457,Haller,West Ham,70,20.000000,74,68.963636,3.7,3.448182,2.318573,2.725356,1.303290
12,Lacazette,Arsenal,93,15.135135,56,51.995455,3.7,3.435414,3.593700,3.519699,1.126517
130,Wickham,Crystal Palace,44,4.062500,13,13.431818,3.2,3.306294,5.836322,5.762929,1.576214
428,Wesley,Aston Villa,56,20.937500,67,68.231818,3.2,3.258833,2.536978,2.332067,1.377108
303,McGoldrick,Sheffield Utd,54,19.047619,40,61.763636,2.1,3.242591,1.793050,2.818800,1.395389
67,Callum Wilson,Bournemouth,74,20.909091,69,67.195455,3.3,3.213696,1.816361,1.763592,1.181378
90,Barnes,Burnley,62,19.062500,61,60.100000,3.2,3.152787,1.511111,1.828205,1.266190
70,Mousset,Sheffield Utd,47,19.117647,65,55.795455,3.4,2.918531,2.148504,2.377670,1.346218
466,Joelinton,Newcastle Utd,55,21.739130,50,60.563636,2.3,2.785927,3.019064,2.651894,1.187923
315,Long,Southampton,46,12.272727,27,32.995455,2.2,2.688519,3.540551,3.635291,1.253528
501,McBurnie,Sheffield Utd,57,19.583333,47,49.900000,2.4,2.548085,5.264286,3.885185,1.067275
534,Connolly,Brighton,44,14.230769,37,34.363636,2.6,2.414742,1.846878,1.949148,1.151183
364,Gray,Watford,56,17.894737,34,40.031818,1.9,2.237072,2.207386,1.618900,0.945336
110,Giroud,Chelsea,66,5.000000,7,10.900000,1.4,2.180000,NaN,4.000000,0.848564
437,Adams,Southampton,53,15.789474,30,33.263636,1.9,2.106697,2.164571,1.626484,0.915091
69,Solanke,Bournemouth,52,19.333333,29,39.100000,1.5,2.022414,1.964286,1.955769,0.886887
487,Cutrone,Wolves,55,12.105263,23,24.200000,1.9,1.999130,0.600000,1.050000,0.852432
188,Origi,Liverpool,52,17.200000,43,34.363636,2.5,1.997886,1.239932,2.190665,0.876131
512,Welbeck,Watford,58,5.000000,7,9.700000,1.4,1.940000,NaN,NaN,0.805541
496,Kean,Everton,64,15.714286,22,30.431818,1.4,1.936570,2.845661,2.366461,0.765497

Below we compile a list sorting players based on a given metric (irrespective of position).

In [9]:
#NOTE: SON FORM IS NOT CORRECT CURRENTLY

#metric = 'adjusted points per game'
metric = 'form 10'

display(df[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
342,Son,Tottenham,98,16.851852,91,81.814500,5.4,4.854926,19.601332,8.538892,1.550849
191,Salah,Liverpool,123,18.000000,126,120.744287,7.0,6.708016,6.948494,7.775896,1.912677
103,Alonso,Chelsea,60,7.966102,47,34.824767,5.9,4.371620,6.851449,6.851449,1.784706
192,Man√©,Liverpool,124,19.861111,143,129.330958,7.2,6.511769,6.183230,6.693703,1.849218
105,Azpilicueta,Chelsea,58,20.000000,68,87.194578,3.4,4.359729,8.203164,6.631326,1.810279
313,Ings,Southampton,68,21.964286,123,110.331818,5.6,5.023237,7.169739,6.390705,1.926324
166,Vardy,Leicester City,100,19.866667,149,120.790909,7.5,6.080079,4.003294,6.035419,1.922690
211,Jesus,Manchester City,95,17.872340,84,83.327273,4.7,4.662359,6.651614,5.984383,1.512669
233,Rashford,Manchester Utd,92,21.967213,134,129.159091,6.1,5.879630,5.555840,5.861906,1.938457
196,Keita,Liverpool,58,5.000000,20,17.688817,4.0,3.537763,2.376106,5.832389,1.468976
130,Wickham,Crystal Palace,44,4.062500,13,13.431818,3.2,3.306294,5.836322,5.762929,1.576214
215,De Bruyne,Manchester City,107,21.126761,150,129.745944,7.1,6.141308,4.547640,5.427405,1.877453
187,Firmino,Liverpool,93,20.833333,100,102.959091,4.8,4.942036,6.650599,5.248033,1.620558
217,Mahrez,Manchester City,84,17.966102,106,85.665749,5.9,4.768188,6.139181,5.181592,1.645181
265,P√©rez,Leicester City,61,18.888889,85,72.220270,4.5,3.823426,5.236216,5.109207,1.548060
182,Alexander-Arnold,Liverpool,75,21.071429,118,117.521879,5.6,5.577309,5.351865,5.047349,2.036545
301,Fleck,Sheffield Utd,49,18.974359,74,72.609725,3.9,3.826729,5.059698,4.879007,1.728740
131,Guaita,Crystal Palace,51,20.000000,82,79.119746,4.1,3.955987,3.950948,4.831698,1.751741
210,Ag√ºero,Manchester City,118,15.937500,102,83.527273,6.4,5.240927,5.756895,4.799376,1.525693
506,James,Chelsea,50,11.071429,31,41.204223,2.8,3.721672,5.260046,4.791603,1.664382
549,Williams,Manchester Utd,40,7.058824,24,22.351288,3.4,3.166432,5.771857,4.736318,1.583216
150,Richarlison,Everton,81,22.040816,108,94.761462,4.9,4.299363,6.047085,4.667169,1.510642
308,Stephens,Southampton,43,14.193548,44,45.388721,3.1,3.197842,5.440433,4.661043,1.542136
401,Doherty,Wolves,61,19.736842,75,90.038568,3.8,4.561954,5.057671,4.653654,1.847081
283,Buend√≠a,Norwich City,60,22.187500,71,83.241636,3.2,3.751736,5.208312,4.620905,1.531640
409,Jim√©nez,Wolves,75,22.040816,108,109.390909,4.9,4.963106,4.212308,4.606512,1.812270
42,Dunk,Brighton,48,20.000000,76,70.406920,3.8,3.520346,4.823179,4.605256,1.606811
214,Sterling,Manchester City,118,20.000000,110,113.487857,5.5,5.674393,3.019793,4.578472,1.651880
525,Sarr,Watford,62,15.142857,53,49.480665,3.5,3.267591,4.795614,4.544642,1.312296
181,Robertson,Liverpool,70,20.800000,104,105.591372,5.0,5.076508,4.784737,4.398792,1.918740
344,Alli,Tottenham,86,15.098039,77,66.621115,5.1,4.412567,3.844686,4.396555,1.504673
14,Leno,Arsenal,50,22.000000,77,83.098697,3.5,3.777213,4.561598,4.354008,1.689221
305,Bertrand,Southampton,48,16.842105,32,48.979287,1.9,2.908145,4.198103,4.328759,1.327381
141,Digne,Everton,57,21.176471,72,77.717490,3.4,3.669993,5.928807,4.324737,1.537191
330,Vertonghen,Tottenham,52,14.137931,41,46.034158,2.9,3.256075,4.177514,4.311783,1.427883
219,David Silva,Manchester City,74,17.000000,85,77.211952,5.0,4.541880,4.052296,4.273009,1.669628
415,Moutinho,Wolves,54,21.944444,79,78.795637,3.6,3.590687,4.677327,4.263242,1.545186
113,Willian,Chelsea,72,20.909091,92,87.521362,4.4,4.185804,4.618553,4.249449,1.559957
163,Fuchs,Leicester City,43,6.000000,21,20.838910,3.5,3.473152,4.513467,4.247580,1.674902
368,Doucour√©,Watford,56,21.212121,70,68.085400,3.3,3.209740,5.505650,4.215195,1.356363