# Player evaluation

Here we compare players based on their adjusted points. Also, we calculate some useful metrics using the adjusted points to further evaluate player performance in FPL.

In [1]:
# recent gameweek
gameweek = 31

In [2]:
# import basic libraries
import pandas as pd
import numpy as np

pd.set_option('max_columns',100)

In [3]:
# fetch FPL data
filepath = '../data/data_week' + str(gameweek) + '.csv'
df = pd.read_csv(filepath, index_col=0)#, encoding='latin-1')

# fetch team data
filepath = '../data/fbref/team_stats_week' + str(gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col=0)#, encoding='latin-1')

# fetch player stats data
filepath = '../data/fbref/player_stats_week' + str(gameweek) + '.csv'
playerStats = pd.read_csv(filepath, index_col=0, skiprows=1)#, encoding='latin-1')

## Value and value points

Here we calculate two interesting metrics: 'value' and 'value points'. 

Value is simply adjusted points per game divided by the cost of the player. Essentially, this measures how many 'points per pound(/euro/whatever)' has the player gained on an average game week. 

The value points is calculated as the geometric mean of a players adjusted points per game and value. Essentially, in FPL we want to gain the maximum possible amount of points. However, we are restrained by a limited budget, so that in practice we cannot just pick all the best players. Then, we would like to have a squad of players that give the most points given our budget. Thus, we would like to pick players that have high value ('bang for buck'). However, often the players with highest value are very cheap players who somewhat overperform relative to their price. Picking a squad full of these players might leave a part of our budget unused. Calculating the geometric mean of adjusted points and value allows us to weigh both aspects equally, i.e. we want players that both gain a lot of points but also have good value. For example, this metric values equally two players, where one has twice the points per game of the other who in turn has twice the value of the other.

In [4]:
# value = expected points / cost
df['value'] = df['adjusted points per game'] / (df['now_cost'] / 10.0)
# geometric mean of 'adjusted points per game' and 'value'
df['valuePoints metric'] = np.sqrt(df['adjusted points per game'] * df['value'])

In [5]:
# assign proper team names for each player
team_names = np.sort(teamStats['Squad'])
df['team_name'] = team_names[df['team']-1]

In [6]:
# save data
filepath = '../data/data_week' + str(gameweek) + str('.csv')
df.to_csv(filepath)

In [7]:
goalkeepers = df['element_type'] == 1
defenders = df['element_type'] == 2
midfielders = df['element_type'] == 3
forwards = df['element_type'] == 4

minGames = df['games played'] >= 3

## Player evaluation

Below we compile lists for each position sorting players based on a given metric.

In [8]:
#metric = 'valuePoints metric'
metric = 'adjusted points per game'
#metric = 'form 10'

numberToShow = 40

print('GOALKEEPERS')
display(df[goalkeepers & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('DEFENDERS')
display(df[defenders & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('MIDFIELDERS')
display(df[midfielders & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('FORWARDS')
display(df[forwards & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

GOALKEEPERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
340,Lloris,Tottenham,53,14.000000,63,64.072529,4.5,4.576609,5.226482,5.310736,1.987952
411,Patr√≠cio,Wolves,53,31.219512,128,138.120716,4.1,4.424179,4.603705,4.818796,1.921741
471,Henderson,Sheffield Utd,52,28.723404,135,121.121089,4.7,4.216808,4.502791,4.910635,1.849193
168,Schmeichel,Leicester City,54,30.909091,136,129.599082,4.4,4.192911,7.015312,6.023173,1.804342
93,Pope,Burnley,50,30.666667,138,126.215358,4.5,4.115718,4.326147,4.677339,1.840605
189,Alisson,Liverpool,62,21.875000,105,88.171356,4.8,4.030691,4.474394,4.448061,1.618764
131,Guaita,Crystal Palace,50,27.727273,122,111.456200,4.4,4.019732,5.591662,4.687470,1.797679
235,de Gea,Manchester Utd,53,30.833333,111,122.010670,3.6,3.957103,4.853813,4.290441,1.718856
603,Reina,Aston Villa,43,5.937500,19,22.472941,3.2,3.784916,1.709744,3.721934,1.825249
14,Leno,Arsenal,49,30.000000,114,113.210986,3.8,3.773700,4.764574,4.041273,1.704784
341,Gazzaniga,Tottenham,42,18.125000,58,68.124256,3.2,3.758580,1.653034,3.632541,1.833999
47,Ryan,Brighton,47,30.833333,111,114.309544,3.6,3.707337,3.538330,3.427818,1.710067
262,Dubravka,Newcastle Utd,51,30.731707,126,112.902910,4.1,3.673825,4.012318,3.876098,1.626797
318,McCarthy,Southampton,45,21.111111,76,76.097793,3.6,3.604632,4.652931,4.220272,1.699240
494,Ramsdale,Bournemouth,45,30.000000,99,107.025119,3.3,3.567504,2.917652,3.089290,1.681737
366,Foster,Watford,49,31.351351,116,109.128585,3.7,3.480826,3.823650,3.543151,1.572477
280,Krul,Norwich City,46,29.393939,97,100.968975,3.3,3.435027,3.979698,3.857312,1.601590
212,Ederson,Manchester City,60,28.235294,96,95.749493,3.4,3.391128,2.834102,3.328083,1.384422
132,Hennessey,Crystal Palace,42,3.043478,7,10.233254,2.3,3.362355,2.031087,2.031087,1.640661
111,Kepa,Chelsea,54,27.407407,74,91.652681,2.7,3.344084,4.203291,4.127390,1.439065
213,Bravo,Manchester City,47,3.928571,11,13.087169,2.8,3.331279,NaN,NaN,1.536605
148,Pickford,Everton,52,30.937500,99,102.973391,3.2,3.328433,4.215442,3.699815,1.459614
112,Caballero,Chelsea,48,3.888889,7,12.910178,1.8,3.319760,3.668264,NaN,1.515256
388,Fabianski,West Ham,49,18.000000,63,58.939974,3.5,3.274443,2.825748,2.683891,1.479243
526,Adri√°n,Liverpool,40,10.800000,27,34.943740,2.5,3.235532,3.017023,3.017023,1.617766
553,Martin,West Ham,39,5.000000,20,15.316659,4.0,3.063332,NaN,2.676469,1.551178
319,Gunn,Southampton,42,10.000000,29,30.520007,2.9,3.052001,NaN,NaN,1.489224
450,Roberto,West Ham,44,8.181818,18,23.427261,2.2,2.863332,NaN,NaN,1.365040
94,Heaton,Aston Villa,43,19.666667,59,54.503357,3.0,2.771357,NaN,NaN,1.336467
27,Nyland,Aston Villa,43,5.909091,13,12.456324,2.2,2.107993,2.632892,2.526775,1.016565

DEFENDERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
182,Alexander-Arnold,Liverpool,78,31.166667,187,171.301093,6.0,5.496292,5.315583,5.389388,1.967988
103,Alonso,Chelsea,62,12.903226,80,63.043508,6.2,4.885872,4.727636,5.269944,1.962213
181,Robertson,Liverpool,70,29.200000,146,141.430354,5.0,4.843505,4.810657,4.824567,1.830673
401,Doherty,Wolves,64,28.723404,135,138.680795,4.7,4.828146,6.465838,5.917758,1.908492
105,Azpilicueta,Chelsea,59,28.857143,101,131.545434,3.5,4.558505,5.849231,5.220873,1.876707
297,Lundstram,Sheffield Utd,48,29.777778,134,128.545709,4.5,4.316834,3.273595,3.306506,1.970356
183,van Dijk,Liverpool,65,31.200000,156,134.215496,5.0,4.301779,4.829153,4.635818,1.687296
405,Boly,Wolves,48,14.897959,73,60.695519,4.9,4.074083,4.723947,4.262602,1.859556
185,Matip,Liverpool,52,9.069767,39,36.789446,4.3,4.056272,4.079767,3.767561,1.778793
159,Pereira,Leicester City,63,27.954545,123,112.418206,4.4,4.021464,4.237695,4.336986,1.602190
122,Wan-Bissaka,Manchester Utd,54,28.000000,98,112.224472,3.5,4.008017,5.490567,5.138471,1.724776
208,Otamendi,Manchester City,48,20.857143,73,81.395234,3.5,3.902511,2.378593,3.215990,1.781245
161,Chilwell,Leicester City,56,25.111111,113,96.492433,4.5,3.842619,5.639172,4.598571,1.623803
141,Digne,Everton,57,28.285714,99,106.957361,3.5,3.781321,4.081501,4.185097,1.583821
42,Dunk,Brighton,47,28.648649,106,107.624819,3.7,3.756715,4.918521,4.440624,1.732844
440,Angeli√±o,Manchester City,46,6.111111,11,22.946830,1.8,3.754936,NaN,NaN,1.750748
164,S√∂y√ºnc√º,Leicester City,49,29.736842,113,111.273766,3.8,3.741950,4.747668,4.090156,1.690441
506,James,Chelsea,50,17.692308,46,65.843863,2.6,3.721610,2.781636,3.218976,1.664354
160,Maguire,Manchester Utd,53,31.290323,97,116.207428,3.1,3.713846,4.391379,4.124483,1.613191
123,van Aanholt,Crystal Palace,56,24.146341,99,88.949881,4.1,3.683783,4.388593,4.591964,1.556682
204,Mendy,Manchester City,55,15.833333,57,57.388937,3.6,3.624564,2.867264,3.352408,1.545519
162,Evans,Leicester City,53,31.351351,116,112.684281,3.7,3.594240,3.544665,3.640530,1.561238
203,Walker,Manchester City,56,22.857143,80,82.072057,3.5,3.590653,2.617868,3.333114,1.517328
407,Sa√Øss,Wolves,46,26.875000,86,95.801711,3.2,3.564715,5.006442,4.775263,1.662057
251,Ritchie,Newcastle Utd,53,11.914894,56,42.228343,4.7,3.544165,5.899963,4.507042,1.539487
293,O'Connell,Sheffield Utd,46,28.235294,96,99.969767,3.4,3.540596,3.924251,3.806921,1.650811
529,Tomori,Chelsea,42,15.000000,48,52.996400,3.2,3.533093,1.966214,1.966214,1.723973
402,Jonny,Wolves,54,28.387097,88,100.229275,3.1,3.530804,5.877241,4.897943,1.519416
359,Janmaat,Watford,40,8.000000,36,27.957608,4.5,3.494701,NaN,NaN,1.747351
291,Stevens,Sheffield Utd,51,31.052632,118,108.329860,3.8,3.488589,2.095790,2.750835,1.544773
403,Coady,Wolves,51,30.645161,95,105.698637,3.1,3.449113,4.302221,4.061053,1.527293
518,Cancelo,Manchester City,51,12.000000,30,41.093535,2.5,3.424461,2.798339,2.814415,1.516377
186,Lovren,Liverpool,53,10.000000,18,34.040623,1.8,3.404062,2.504201,2.409450,1.478630
225,Lindel√∂f,Manchester Utd,53,28.064516,87,95.389136,3.1,3.398923,4.482316,3.999540,1.476398
478,Holgate,Everton,43,24.285714,68,82.250455,2.8,3.386783,3.320618,3.305250,1.633252
6,Monreal,Arsenal,50,3.030303,10,10.248584,3.3,3.382033,NaN,NaN,1.512491
184,Gomez,Liverpool,53,20.750000,83,69.932649,4.0,3.370248,3.059334,3.410127,1.463942
511,Sidib√©,Everton,50,21.333333,64,71.317496,3.0,3.343008,1.532815,2.308176,1.495038
142,Mina,Everton,53,25.172414,73,84.147786,2.9,3.342857,3.229352,4.515280,1.452044
294,Baldock,Sheffield Utd,51,30.750000,123,102.643837,4.0,3.338011,2.356165,2.588656,1.478096

MIDFIELDERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
191,Salah,Liverpool,127,26.986301,197,183.965086,7.3,6.816980,5.843496,6.086795,1.912891
215,De Bruyne,Manchester City,107,29.130435,201,176.984230,6.9,6.075578,4.756168,5.518007,1.857358
618,Fernandes,Manchester Utd,87,7.042254,50,42.357980,7.1,6.014833,6.137313,6.488787,2.039219
192,Man√©,Liverpool,125,27.910448,187,166.401960,6.7,5.961995,5.360750,4.792744,1.686307
214,Sterling,Manchester City,117,26.000000,130,147.047299,5.0,5.655665,6.117914,5.811322,1.653449
342,Son,Tottenham,98,22.807018,130,114.623030,5.7,5.025779,3.823252,5.163692,1.605426
239,Martial,Manchester Utd,81,25.000000,145,123.882891,5.8,4.955316,7.570494,5.938000,1.741120
217,Mahrez,Manchester City,85,25.964912,148,124.712713,5.7,4.803125,5.135148,5.036609,1.647458
431,Pulisic,Chelsea,70,17.872340,84,85.624119,4.7,4.790873,7.024183,6.971175,1.810780
150,Richarlison,Everton,83,28.958333,139,133.407519,4.8,4.606878,4.642997,5.323667,1.599071
344,Alli,Tottenham,83,23.000000,115,104.056478,5.0,4.524195,3.792916,4.337035,1.570371
219,David Silva,Manchester City,73,21.914894,103,96.590174,4.7,4.407513,2.763106,3.382091,1.631294
171,Maddison,Leicester City,75,30.243902,124,126.140211,4.1,4.170765,3.475289,3.249111,1.522948
113,Willian,Chelsea,70,29.761905,125,122.615141,4.2,4.119869,6.241161,4.649035,1.557164
29,Grealish,Aston Villa,63,28.837209,124,115.782143,4.3,4.015026,2.417073,3.186657,1.599625
114,Pedro,Chelsea,68,10.000000,31,38.555201,3.1,3.855520,4.405132,4.257904,1.478524
463,Mount,Chelsea,62,31.081081,115,119.698449,3.7,3.851167,3.295120,3.529949,1.546666
615,Bergwijn,Tottenham,75,6.938776,34,26.719774,4.9,3.850791,3.279377,NaN,1.406110
265,P√©rez,Leicester City,61,25.813953,111,99.134516,4.3,3.840346,1.987408,3.089652,1.554911
172,Barnes,Leicester City,61,29.000000,116,110.301665,4.0,3.803506,3.641248,4.102595,1.539994
417,Traor√©,Wolves,58,30.256410,118,114.044736,3.9,3.769275,3.030591,3.045413,1.565106
389,Antonio,West Ham,69,17.142857,48,63.276553,2.8,3.691132,4.413412,4.229557,1.405190
218,Bernardo Silva,Manchester City,77,27.222222,98,100.290248,3.6,3.684132,2.773810,3.073751,1.327669
525,Sarr,Watford,63,21.025641,82,76.894744,3.9,3.657189,4.337265,4.565996,1.457059
488,P√©p√©,Arsenal,92,26.052632,99,94.195052,3.8,3.615568,3.229587,4.023389,1.192017
238,Pogba,Manchester Utd,83,8.888889,24,31.841858,2.7,3.582209,2.984016,2.964552,1.243403
320,Redmond,Southampton,62,25.000000,80,88.827905,3.2,3.553116,3.773673,3.869593,1.426966
301,Fleck,Sheffield Utd,48,27.222222,98,94.642701,3.6,3.476671,2.278219,2.624809,1.586876
500,Saint-Maximin,Newcastle Utd,54,19.705882,67,68.068493,3.4,3.454222,4.638031,4.289154,1.486460
321,Ward-Prowse,Southampton,57,30.625000,98,104.840358,3.2,3.423359,3.038922,2.846080,1.433887
283,Buend√≠a,Norwich City,60,29.642857,83,101.388292,2.8,3.420328,2.146580,2.080398,1.396343
269,Shelvey,Newcastle Utd,49,19.230769,75,65.008712,3.9,3.380453,3.466052,3.301026,1.527133
287,Cantwell,Norwich City,46,31.212121,103,105.018699,3.3,3.364677,1.909774,2.104305,1.568789
266,Almir√≥n,Newcastle Utd,58,30.000000,87,100.421392,2.9,3.347380,4.499422,3.792109,1.389924
117,Barkley,Chelsea,57,14.814815,40,48.740343,2.7,3.289973,4.093078,3.834337,1.378018
415,Moutinho,Wolves,54,30.625000,98,100.236871,3.2,3.273041,2.271507,2.415214,1.408492
198,Henderson,Liverpool,53,26.923077,105,87.525951,3.9,3.250964,3.120402,3.928588,1.412128
97,McNeil,Burnley,61,31.176471,106,101.192174,3.4,3.245787,3.735174,3.933709,1.314181
133,Zaha,Crystal Palace,67,30.909091,102,100.176508,3.3,3.241005,3.046854,3.394316,1.252109
49,Gro√ü,Brighton,62,23.666667,71,76.397550,3.0,3.228066,2.183383,2.889224,1.296422

FORWARDS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
233,Rashford,Manchester Utd,90,24.166667,145,138.785304,6.0,5.742840,6.993706,6.876597,1.914280
166,Vardy,Leicester City,98,28.032787,171,147.767403,6.1,5.271235,3.675996,3.469460,1.683834
409,Jim√©nez,Wolves,83,30.943396,164,158.227403,5.3,5.113447,5.260547,5.090034,1.774903
210,Ag√ºero,Manchester City,117,24.000000,132,116.927403,5.5,4.871975,4.456819,4.607617,1.424335
460,Abraham,Chelsea,75,27.200000,136,129.767403,5.0,4.770860,4.241102,4.026262,1.742072
187,Firmino,Liverpool,95,31.162791,134,148.023204,4.3,4.749998,2.776285,3.955056,1.541103
11,Aubameyang,Arsenal,110,29.259259,158,138.753702,5.4,4.742215,3.854768,4.233016,1.429832
278,Pukki,Norwich City,65,30.232558,130,136.773702,4.3,4.524053,2.476940,3.344256,1.774480
313,Ings,Southampton,72,31.224490,153,138.855801,4.9,4.447016,3.814930,3.540256,1.657305
338,Kane,Tottenham,109,22.200000,111,95.195801,5.0,4.288099,4.105082,3.994324,1.298828
147,Calvert-Lewin,Everton,65,28.750000,115,118.077901,4.0,4.107057,4.767869,5.205592,1.610920
211,Jesus,Manchester City,96,26.666667,104,108.787403,3.9,4.079528,1.663489,2.548173,1.316662
91,Wood,Burnley,61,25.952381,109,105.077901,4.2,4.048873,6.590746,4.976316,1.639341
362,Deeney,Watford,62,20.000000,74,77.715801,3.7,3.885790,3.209910,3.546651,1.560571
410,Jota,Wolves,63,27.058824,92,103.833702,3.4,3.837332,4.125151,4.605589,1.528830
502,Maupay,Brighton,57,30.277778,109,116.095801,3.6,3.834357,3.655738,3.732353,1.606035
68,King,Bournemouth,61,20.000000,70,73.853702,3.5,3.692685,3.445488,3.480608,1.495124
457,Haller,West Ham,68,26.944444,97,95.733702,3.6,3.553003,5.222582,4.278606,1.362515
67,Callum Wilson,Bournemouth,74,29.696970,98,102.433702,3.3,3.449298,2.703607,3.562835,1.267987
468,Ayew,Crystal Palace,52,30.263158,115,103.055801,3.8,3.405322,2.543110,2.693396,1.493333
12,Lacazette,Arsenal,93,22.702703,84,76.489503,3.7,3.369180,3.222757,3.404634,1.104798
363,Deulofeu,Watford,61,28.387097,88,94.909503,3.1,3.343403,1.885790,2.751651,1.353704
428,Wesley,Aston Villa,54,20.937500,67,67.697901,3.2,3.233333,NaN,NaN,1.391405
110,Giroud,Chelsea,66,10.857143,38,34.477901,3.5,3.175596,3.782041,3.880447,1.236099
167,Iheanacho,Leicester City,57,13.823529,47,43.511602,3.4,3.147648,2.024809,2.050613,1.318405
90,Barnes,Burnley,61,19.062500,61,59.620000,3.2,3.127607,NaN,NaN,1.266331
13,Nketiah,Arsenal,44,8.076923,21,25.100000,2.6,3.107619,4.846154,NaN,1.481499
315,Long,Southampton,47,20.000000,54,61.333702,2.7,3.066685,2.668192,3.264566,1.414556
303,McGoldrick,Sheffield Utd,54,22.500000,45,67.555801,2.0,3.002480,1.421230,1.401954,1.292062
613,Samatta,Aston Villa,56,6.923077,18,19.400000,2.6,2.802222,2.615385,NaN,1.184155
501,McBurnie,Sheffield Utd,56,28.636364,63,79.300000,2.2,2.769206,2.307692,3.109375,1.170203
130,Wickham,Crystal Palace,43,6.000000,15,16.077901,2.5,2.679650,NaN,1.418087,1.292242
466,Joelinton,Newcastle Utd,55,30.909091,68,81.055801,2.2,2.622394,2.295738,2.251587,1.118192
92,Vydra,Burnley,53,12.000000,30,31.377901,2.5,2.614825,3.174536,3.652328,1.135807
70,Mousset,Sheffield Utd,44,25.172414,73,64.511602,2.9,2.562790,1.165720,1.424387,1.221762
504,Martinelli,Arsenal,44,13.928571,39,34.477901,2.8,2.475336,NaN,4.412026,1.180070
129,Benteke,Crystal Palace,57,20.588235,35,49.177901,1.7,2.388641,3.125908,3.727617,1.000492
451,Rodriguez,Burnley,57,30.000000,72,69.197901,2.4,2.306597,3.222843,3.376521,0.966127
534,Connolly,Brighton,42,18.800000,47,43.333702,2.5,2.304984,2.603452,2.212187,1.124717
298,Sharp,Sheffield Utd,55,20.000000,44,44.900000,2.2,2.245000,4.312500,3.868421,0.957271

Below we compile a list sorting players based on a given metric (irrespective of position).

In [9]:
metric = 'adjusted points per game'

display(df[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
191,Salah,Liverpool,127,26.986301,197,183.965086,7.3,6.816980,5.843496,6.086795,1.912891
215,De Bruyne,Manchester City,107,29.130435,201,176.984230,6.9,6.075578,4.756168,5.518007,1.857358
618,Fernandes,Manchester Utd,87,7.042254,50,42.357980,7.1,6.014833,6.137313,6.488787,2.039219
192,Man√©,Liverpool,125,27.910448,187,166.401960,6.7,5.961995,5.360750,4.792744,1.686307
233,Rashford,Manchester Utd,90,24.166667,145,138.785304,6.0,5.742840,6.993706,6.876597,1.914280
214,Sterling,Manchester City,117,26.000000,130,147.047299,5.0,5.655665,6.117914,5.811322,1.653449
182,Alexander-Arnold,Liverpool,78,31.166667,187,171.301093,6.0,5.496292,5.315583,5.389388,1.967988
166,Vardy,Leicester City,98,28.032787,171,147.767403,6.1,5.271235,3.675996,3.469460,1.683834
409,Jim√©nez,Wolves,83,30.943396,164,158.227403,5.3,5.113447,5.260547,5.090034,1.774903
342,Son,Tottenham,98,22.807018,130,114.623030,5.7,5.025779,3.823252,5.163692,1.605426
239,Martial,Manchester Utd,81,25.000000,145,123.882891,5.8,4.955316,7.570494,5.938000,1.741120
103,Alonso,Chelsea,62,12.903226,80,63.043508,6.2,4.885872,4.727636,5.269944,1.962213
210,Ag√ºero,Manchester City,117,24.000000,132,116.927403,5.5,4.871975,4.456819,4.607617,1.424335
181,Robertson,Liverpool,70,29.200000,146,141.430354,5.0,4.843505,4.810657,4.824567,1.830673
401,Doherty,Wolves,64,28.723404,135,138.680795,4.7,4.828146,6.465838,5.917758,1.908492
217,Mahrez,Manchester City,85,25.964912,148,124.712713,5.7,4.803125,5.135148,5.036609,1.647458
431,Pulisic,Chelsea,70,17.872340,84,85.624119,4.7,4.790873,7.024183,6.971175,1.810780
460,Abraham,Chelsea,75,27.200000,136,129.767403,5.0,4.770860,4.241102,4.026262,1.742072
187,Firmino,Liverpool,95,31.162791,134,148.023204,4.3,4.749998,2.776285,3.955056,1.541103
11,Aubameyang,Arsenal,110,29.259259,158,138.753702,5.4,4.742215,3.854768,4.233016,1.429832
150,Richarlison,Everton,83,28.958333,139,133.407519,4.8,4.606878,4.642997,5.323667,1.599071
340,Lloris,Tottenham,53,14.000000,63,64.072529,4.5,4.576609,5.226482,5.310736,1.987952
105,Azpilicueta,Chelsea,59,28.857143,101,131.545434,3.5,4.558505,5.849231,5.220873,1.876707
344,Alli,Tottenham,83,23.000000,115,104.056478,5.0,4.524195,3.792916,4.337035,1.570371
278,Pukki,Norwich City,65,30.232558,130,136.773702,4.3,4.524053,2.476940,3.344256,1.774480
313,Ings,Southampton,72,31.224490,153,138.855801,4.9,4.447016,3.814930,3.540256,1.657305
411,Patr√≠cio,Wolves,53,31.219512,128,138.120716,4.1,4.424179,4.603705,4.818796,1.921741
219,David Silva,Manchester City,73,21.914894,103,96.590174,4.7,4.407513,2.763106,3.382091,1.631294
297,Lundstram,Sheffield Utd,48,29.777778,134,128.545709,4.5,4.316834,3.273595,3.306506,1.970356
183,van Dijk,Liverpool,65,31.200000,156,134.215496,5.0,4.301779,4.829153,4.635818,1.687296
338,Kane,Tottenham,109,22.200000,111,95.195801,5.0,4.288099,4.105082,3.994324,1.298828
471,Henderson,Sheffield Utd,52,28.723404,135,121.121089,4.7,4.216808,4.502791,4.910635,1.849193
168,Schmeichel,Leicester City,54,30.909091,136,129.599082,4.4,4.192911,7.015312,6.023173,1.804342
171,Maddison,Leicester City,75,30.243902,124,126.140211,4.1,4.170765,3.475289,3.249111,1.522948
113,Willian,Chelsea,70,29.761905,125,122.615141,4.2,4.119869,6.241161,4.649035,1.557164
93,Pope,Burnley,50,30.666667,138,126.215358,4.5,4.115718,4.326147,4.677339,1.840605
147,Calvert-Lewin,Everton,65,28.750000,115,118.077901,4.0,4.107057,4.767869,5.205592,1.610920
211,Jesus,Manchester City,96,26.666667,104,108.787403,3.9,4.079528,1.663489,2.548173,1.316662
405,Boly,Wolves,48,14.897959,73,60.695519,4.9,4.074083,4.723947,4.262602,1.859556
185,Matip,Liverpool,52,9.069767,39,36.789446,4.3,4.056272,4.079767,3.767561,1.778793

In [10]:
metric = 'form 10'

display(df[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
431,Pulisic,Chelsea,70,17.872340,84,85.624119,4.7,4.790873,7.024183,6.971175,1.810780
233,Rashford,Manchester Utd,90,24.166667,145,138.785304,6.0,5.742840,6.993706,6.876597,1.914280
618,Fernandes,Manchester Utd,87,7.042254,50,42.357980,7.1,6.014833,6.137313,6.488787,2.039219
191,Salah,Liverpool,127,26.986301,197,183.965086,7.3,6.816980,5.843496,6.086795,1.912891
168,Schmeichel,Leicester City,54,30.909091,136,129.599082,4.4,4.192911,7.015312,6.023173,1.804342
239,Martial,Manchester Utd,81,25.000000,145,123.882891,5.8,4.955316,7.570494,5.938000,1.741120
401,Doherty,Wolves,64,28.723404,135,138.680795,4.7,4.828146,6.465838,5.917758,1.908492
214,Sterling,Manchester City,117,26.000000,130,147.047299,5.0,5.655665,6.117914,5.811322,1.653449
215,De Bruyne,Manchester City,107,29.130435,201,176.984230,6.9,6.075578,4.756168,5.518007,1.857358
257,Lejeune,Newcastle Utd,44,6.000000,24,17.752473,4.0,2.958745,NaN,5.469865,1.410527
182,Alexander-Arnold,Liverpool,78,31.166667,187,171.301093,6.0,5.496292,5.315583,5.389388,1.967988
150,Richarlison,Everton,83,28.958333,139,133.407519,4.8,4.606878,4.642997,5.323667,1.599071
340,Lloris,Tottenham,53,14.000000,63,64.072529,4.5,4.576609,5.226482,5.310736,1.987952
103,Alonso,Chelsea,62,12.903226,80,63.043508,6.2,4.885872,4.727636,5.269944,1.962213
105,Azpilicueta,Chelsea,59,28.857143,101,131.545434,3.5,4.558505,5.849231,5.220873,1.876707
147,Calvert-Lewin,Everton,65,28.750000,115,118.077901,4.0,4.107057,4.767869,5.205592,1.610920
342,Son,Tottenham,98,22.807018,130,114.623030,5.7,5.025779,3.823252,5.163692,1.605426
122,Wan-Bissaka,Manchester Utd,54,28.000000,98,112.224472,3.5,4.008017,5.490567,5.138471,1.724776
409,Jim√©nez,Wolves,83,30.943396,164,158.227403,5.3,5.113447,5.260547,5.090034,1.774903
217,Mahrez,Manchester City,85,25.964912,148,124.712713,5.7,4.803125,5.135148,5.036609,1.647458
91,Wood,Burnley,61,25.952381,109,105.077901,4.2,4.048873,6.590746,4.976316,1.639341
471,Henderson,Sheffield Utd,52,28.723404,135,121.121089,4.7,4.216808,4.502791,4.910635,1.849193
402,Jonny,Wolves,54,28.387097,88,100.229275,3.1,3.530804,5.877241,4.897943,1.519416
181,Robertson,Liverpool,70,29.200000,146,141.430354,5.0,4.843505,4.810657,4.824567,1.830673
411,Patr√≠cio,Wolves,53,31.219512,128,138.120716,4.1,4.424179,4.603705,4.818796,1.921741
192,Man√©,Liverpool,125,27.910448,187,166.401960,6.7,5.961995,5.360750,4.792744,1.686307
407,Sa√Øss,Wolves,46,26.875000,86,95.801711,3.2,3.564715,5.006442,4.775263,1.662057
131,Guaita,Crystal Palace,50,27.727273,122,111.456200,4.4,4.019732,5.591662,4.687470,1.797679
93,Pope,Burnley,50,30.666667,138,126.215358,4.5,4.115718,4.326147,4.677339,1.840605
113,Willian,Chelsea,70,29.761905,125,122.615141,4.2,4.119869,6.241161,4.649035,1.557164
183,van Dijk,Liverpool,65,31.200000,156,134.215496,5.0,4.301779,4.829153,4.635818,1.687296
515,Tierney,Arsenal,53,7.894737,15,21.760786,1.9,2.756366,4.806232,4.612551,1.197289
210,Ag√ºero,Manchester City,117,24.000000,132,116.927403,5.5,4.871975,4.456819,4.607617,1.424335
410,Jota,Wolves,63,27.058824,92,103.833702,3.4,3.837332,4.125151,4.605589,1.528830
161,Chilwell,Leicester City,56,25.111111,113,96.492433,4.5,3.842619,5.639172,4.598571,1.623803
123,van Aanholt,Crystal Palace,56,24.146341,99,88.949881,4.1,3.683783,4.388593,4.591964,1.556682
525,Sarr,Watford,63,21.025641,82,76.894744,3.9,3.657189,4.337265,4.565996,1.457059
142,Mina,Everton,53,25.172414,73,84.147786,2.9,3.342857,3.229352,4.515280,1.452044
251,Ritchie,Newcastle Utd,53,11.914894,56,42.228343,4.7,3.544165,5.899963,4.507042,1.539487
189,Alisson,Liverpool,62,21.875000,105,88.171356,4.8,4.030691,4.474394,4.448061,1.618764

In [11]:
metric = 'valuePoints metric'

display(df[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
618,Fernandes,Manchester Utd,87,7.042254,50,42.357980,7.1,6.014833,6.137313,6.488787,2.039219
340,Lloris,Tottenham,53,14.000000,63,64.072529,4.5,4.576609,5.226482,5.310736,1.987952
297,Lundstram,Sheffield Utd,48,29.777778,134,128.545709,4.5,4.316834,3.273595,3.306506,1.970356
182,Alexander-Arnold,Liverpool,78,31.166667,187,171.301093,6.0,5.496292,5.315583,5.389388,1.967988
103,Alonso,Chelsea,62,12.903226,80,63.043508,6.2,4.885872,4.727636,5.269944,1.962213
411,Patr√≠cio,Wolves,53,31.219512,128,138.120716,4.1,4.424179,4.603705,4.818796,1.921741
233,Rashford,Manchester Utd,90,24.166667,145,138.785304,6.0,5.742840,6.993706,6.876597,1.914280
191,Salah,Liverpool,127,26.986301,197,183.965086,7.3,6.816980,5.843496,6.086795,1.912891
401,Doherty,Wolves,64,28.723404,135,138.680795,4.7,4.828146,6.465838,5.917758,1.908492
105,Azpilicueta,Chelsea,59,28.857143,101,131.545434,3.5,4.558505,5.849231,5.220873,1.876707
405,Boly,Wolves,48,14.897959,73,60.695519,4.9,4.074083,4.723947,4.262602,1.859556
215,De Bruyne,Manchester City,107,29.130435,201,176.984230,6.9,6.075578,4.756168,5.518007,1.857358
471,Henderson,Sheffield Utd,52,28.723404,135,121.121089,4.7,4.216808,4.502791,4.910635,1.849193
93,Pope,Burnley,50,30.666667,138,126.215358,4.5,4.115718,4.326147,4.677339,1.840605
341,Gazzaniga,Tottenham,42,18.125000,58,68.124256,3.2,3.758580,1.653034,3.632541,1.833999
181,Robertson,Liverpool,70,29.200000,146,141.430354,5.0,4.843505,4.810657,4.824567,1.830673
603,Reina,Aston Villa,43,5.937500,19,22.472941,3.2,3.784916,1.709744,3.721934,1.825249
431,Pulisic,Chelsea,70,17.872340,84,85.624119,4.7,4.790873,7.024183,6.971175,1.810780
168,Schmeichel,Leicester City,54,30.909091,136,129.599082,4.4,4.192911,7.015312,6.023173,1.804342
131,Guaita,Crystal Palace,50,27.727273,122,111.456200,4.4,4.019732,5.591662,4.687470,1.797679
208,Otamendi,Manchester City,48,20.857143,73,81.395234,3.5,3.902511,2.378593,3.215990,1.781245
185,Matip,Liverpool,52,9.069767,39,36.789446,4.3,4.056272,4.079767,3.767561,1.778793
409,Jim√©nez,Wolves,83,30.943396,164,158.227403,5.3,5.113447,5.260547,5.090034,1.774903
278,Pukki,Norwich City,65,30.232558,130,136.773702,4.3,4.524053,2.476940,3.344256,1.774480
440,Angeli√±o,Manchester City,46,6.111111,11,22.946830,1.8,3.754936,NaN,NaN,1.750748
359,Janmaat,Watford,40,8.000000,36,27.957608,4.5,3.494701,NaN,NaN,1.747351
460,Abraham,Chelsea,75,27.200000,136,129.767403,5.0,4.770860,4.241102,4.026262,1.742072
239,Martial,Manchester Utd,81,25.000000,145,123.882891,5.8,4.955316,7.570494,5.938000,1.741120
42,Dunk,Brighton,47,28.648649,106,107.624819,3.7,3.756715,4.918521,4.440624,1.732844
122,Wan-Bissaka,Manchester Utd,54,28.000000,98,112.224472,3.5,4.008017,5.490567,5.138471,1.724776
529,Tomori,Chelsea,42,15.000000,48,52.996400,3.2,3.533093,1.966214,1.966214,1.723973
235,de Gea,Manchester Utd,53,30.833333,111,122.010670,3.6,3.957103,4.853813,4.290441,1.718856
47,Ryan,Brighton,47,30.833333,111,114.309544,3.6,3.707337,3.538330,3.427818,1.710067
14,Leno,Arsenal,49,30.000000,114,113.210986,3.8,3.773700,4.764574,4.041273,1.704784
318,McCarthy,Southampton,45,21.111111,76,76.097793,3.6,3.604632,4.652931,4.220272,1.699240
164,S√∂y√ºnc√º,Leicester City,49,29.736842,113,111.273766,3.8,3.741950,4.747668,4.090156,1.690441
183,van Dijk,Liverpool,65,31.200000,156,134.215496,5.0,4.301779,4.829153,4.635818,1.687296
192,Man√©,Liverpool,125,27.910448,187,166.401960,6.7,5.961995,5.360750,4.792744,1.686307
166,Vardy,Leicester City,98,28.032787,171,147.767403,6.1,5.271235,3.675996,3.469460,1.683834
494,Ramsdale,Bournemouth,45,30.000000,99,107.025119,3.3,3.567504,2.917652,3.089290,1.681737