# Player form

Here we are interested in evaluating how well the players have been doing recently, i.e. we evaluated each player's current form. Essentially, we calculate a weighted average of a player's adjusted points from a given number of previous games. We weight points so that more recent games are emphasized.

In [1]:
latest_gameweek = 23

# how many gameweeks do we use to evaluate form
number_games = 5

In [2]:
# import basic libraries

import pandas as pd
import numpy as np
pd.set_option('max_columns',100)

In [3]:
# fetch relevant data

data = []

for i in range(0, number_games+1):
    # create string for filename to be read
    data_string = '../data/data_week' + str(latest_gameweek-i) + '.csv'    
    try:
        # read data
        new_data = pd.read_csv(data_string,index_col='id')
        print(data_string)
        data.append(new_data) 
    # throw an exception if the data file is not found
    except FileNotFoundError:
        print(data_string + ' not found.')
    except UnicodeDecodeError:
        new_data = pd.read_csv(data_string, index_col='id', engine='python')
        print(data_string)
        data.append(new_data)

../data/data_week23.csv
../data/data_week22.csv
../data/data_week21.csv
../data/data_week20.csv
../data/data_week19.csv not found.
../data/data_week18.csv

In [4]:
# this is used in the following to calculate form as a weighted average of recent gameweek adjusted points
def weighted_points(games_played,points,total_weight):
    weight = (number_games-i) / number_games
    total_weight += weight
    points += weight * (data[i].loc[ix,'adjusted points'] - data[i+1].loc[ix,'adjusted points']) / games_played
    return points, total_weight

In [5]:
# calculate form

column_name = 'form ' + str(number_games)
for ix in data[0][data[0]['minutes']>0].index:
    points = 0
    total_weight = 0
    for i in range(0, len(data)-1):
        if (ix in data[i].index) & (ix in data[i+1].index):
            # sometimes players get to play two games in a gameweek
            # also, it is possible that data from a given gameweek is missing, in which case data[i] and data[i+1] 
            # cover two gameweeks
            if (data[i].loc[ix,'minutes'] - data[i+1].loc[ix,'minutes']) > 90:
                points, total_weight = weighted_points(2,points,total_weight)
            elif (data[i].loc[ix,'minutes'] - data[i+1].loc[ix,'minutes']) > 0:
                points, total_weight = weighted_points(1,points,total_weight)
    if total_weight > 0:
        data[0].loc[ix, column_name] = points / total_weight

In [6]:
# display a sorted list showing players with the best current form
data[0].sort_values(by=column_name, ascending=False)[['web_name',column_name]]

             web_name    form 5
id
105       Azpilicueta  7.980667
210            Agüero  7.942129
191             Salah  7.029628
150       Richarlison  6.698554
409           Jiménez  6.340441
192              Mané  6.217720
233          Rashford  6.186154
506             James  6.065284
278             Pukki  6.030219
341         Gazzaniga  5.938888
189           Alisson  5.827494
187           Firmino  5.774609
301             Fleck  5.697031
211             Jesus  5.631217
93               Pope  5.518733
5            Sokratis  5.442480
478           Holgate  5.335305
368          Doucouré  5.234466
313              Ings  5.233493
460           Abraham  5.171765
283           Buendía  5.121124
147     Calvert-Lewin  5.114286
504        Martinelli  5.103186
446            Stacey  5.039472
183          van Dijk  5.018963
141             Digne  5.012322
417            Traoré  5.007061
182  Alexander-Arnold  4.922560
29           Grealish  4.906416
265             Pérez  4.903972
..                ...       ...
383              Reid       NaN
384           Johnson       NaN
385        Arnautovic       NaN
386        Chicharito       NaN
387       Xande Silva       NaN
392        Yarmolenko       NaN
394          Wilshere       NaN
398          Diangana       NaN
400            Obiang       NaN
568           Holland       NaN
582             Anang       NaN
593            Ngakia       NaN
594           Cardoso       NaN
595              Rosa       NaN
606          Randolph       NaN
405              Boly       NaN
412             Ruddy       NaN
413            Norris       NaN
416       Gibbs-White       NaN
418             Costa       NaN
419         Cavaleiro       NaN
473           Vallejo       NaN
487           Cutrone       NaN
559       Ashley-Seal       NaN
560             Perry       NaN
566          Otasowie       NaN
567            Cundle       NaN
587              Buur       NaN
607             Giles       NaN
609            Jordao       NaN

[606 rows x 2 columns]

In [7]:
# save form results to latest data file

filepath = '../data/data_week' + str(latest_gameweek) + str('.csv')
df = pd.read_csv(filepath, index_col=0)
df[column_name] = data[0][column_name].copy()
df.to_csv(filepath)