# Player evaluation

Here we compare players based on their adjusted points. Also, we calculate some useful metrics using the adjusted points to further evaluate player performance in FPL.

In [1]:
# recent gameweek
gameweek = 32

In [2]:
# import basic libraries
import pandas as pd
import numpy as np

pd.set_option('max_columns',100)

In [3]:
# fetch FPL data
filepath = '../data/data_week' + str(gameweek) + '.csv'
df = pd.read_csv(filepath, index_col=0)#, encoding='latin-1')

# fetch team data
filepath = '../data/fbref/team_stats_week' + str(gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col=0)#, encoding='latin-1')

# fetch player stats data
filepath = '../data/fbref/player_stats_week' + str(gameweek) + '.csv'
playerStats = pd.read_csv(filepath, index_col=0, skiprows=1)#, encoding='latin-1')

## Value and value points

Here we calculate two interesting metrics: 'value' and 'value points'. 

Value is simply adjusted points per game divided by the cost of the player. Essentially, this measures how many 'points per pound(/euro/whatever)' has the player gained on an average game week. 

The value points is calculated as the geometric mean of a players adjusted points per game and value. Essentially, in FPL we want to gain the maximum possible amount of points. However, we are restrained by a limited budget, so that in practice we cannot just pick all the best players. Then, we would like to have a squad of players that give the most points given our budget. Thus, we would like to pick players that have high value ('bang for buck'). However, often the players with highest value are very cheap players who somewhat overperform relative to their price. Picking a squad full of these players might leave a part of our budget unused. Calculating the geometric mean of adjusted points and value allows us to weigh both aspects equally, i.e. we want players that both gain a lot of points but also have good value. For example, this metric values equally two players, where one has twice the points per game of the other who in turn has twice the value of the other.

In [4]:
# value = expected points / cost
df['value'] = df['adjusted points per game'] / (df['now_cost'] / 10.0)
# geometric mean of 'adjusted points per game' and 'value'
df['valuePoints metric'] = np.sqrt(df['adjusted points per game'] * df['value'])

In [5]:
# assign proper team names for each player
team_names = np.sort(teamStats['Squad'])
df['team_name'] = team_names[df['team']-1]

In [6]:
# save data
filepath = '../data/data_week' + str(gameweek) + str('.csv')
df.to_csv(filepath)

In [7]:
goalkeepers = df['element_type'] == 1
defenders = df['element_type'] == 2
midfielders = df['element_type'] == 3
forwards = df['element_type'] == 4

minGames = df['games played'] >= 3

## Player evaluation

Below we compile lists for each position sorting players based on a given metric.

In [8]:
#metric = 'valuePoints metric'
metric = 'adjusted points per game'
#metric = 'form 10'

numberToShow = 40

print('GOALKEEPERS')
display(df[goalkeepers & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('DEFENDERS')
display(df[defenders & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('MIDFIELDERS')
display(df[midfielders & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('FORWARDS')
display(df[forwards & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

GOALKEEPERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
411,Patr√≠cio,Wolves,53,31.904762,134,142.048430,4.2,4.452264,4.408282,4.669268,1.933940
340,Lloris,Tottenham,53,14.883721,64,65.791637,4.3,4.420376,4.002040,4.551735,1.920088
471,Henderson,Sheffield Utd,52,29.782609,137,124.818133,4.6,4.190974,4.186582,4.568883,1.837864
93,Pope,Burnley,50,31.956522,147,132.742507,4.6,4.153847,4.973442,4.956112,1.857657
168,Schmeichel,Leicester City,54,31.860465,137,131.745594,4.3,4.135081,5.391438,5.477872,1.779455
131,Guaita,Crystal Palace,49,29.069767,125,116.590868,4.3,4.010726,5.346537,4.882290,1.811861
235,de Gea,Manchester Utd,53,31.621622,117,125.764885,3.7,3.977180,4.554989,4.262818,1.727577
189,Alisson,Liverpool,62,22.826087,105,87.360665,4.6,3.827229,2.667045,3.287919,1.537052
603,Reina,Aston Villa,43,5.937500,19,22.630816,3.2,3.811506,1.464012,3.677821,1.838071
14,Leno,Arsenal,49,30.000000,114,114.324913,3.8,3.810830,4.952481,4.111377,1.721558
341,Gazzaniga,Tottenham,42,18.125000,58,67.995090,3.2,3.751453,1.653034,2.917926,1.830522
47,Ryan,Brighton,47,32.285714,113,118.374569,3.5,3.666469,3.748972,3.556208,1.691216
262,Dubravka,Newcastle Utd,51,32.000000,128,116.205874,4.0,3.631434,3.708494,3.782157,1.608026
318,McCarthy,Southampton,45,22.285714,78,79.845397,3.5,3.582806,4.274089,4.198062,1.688951
366,Foster,Watford,49,31.891892,118,111.876091,3.7,3.507979,3.553211,3.395214,1.584743
494,Ramsdale,Bournemouth,45,31.250000,100,109.164035,3.2,3.493249,2.652643,2.884750,1.646733
212,Ederson,Manchester City,60,28.611111,103,98.574168,3.6,3.445311,2.701127,3.186031,1.406542
280,Krul,Norwich City,46,29.696970,98,102.133221,3.3,3.439180,3.135342,3.419635,1.603526
132,Hennessey,Crystal Palace,42,3.043478,7,10.307426,2.3,3.386726,2.031087,2.031087,1.652553
213,Bravo,Manchester City,47,3.928571,11,12.983138,2.8,3.304799,NaN,NaN,1.524390
111,Kepa,Chelsea,54,27.777778,75,91.116218,2.7,3.280184,2.519538,2.868758,1.411566
148,Pickford,Everton,52,32.258065,100,104.968361,3.1,3.254019,3.601972,3.448641,1.426982
112,Caballero,Chelsea,48,3.888889,7,12.616271,1.8,3.244184,3.246579,NaN,1.480761
388,Fabianski,West Ham,49,19.117647,65,61.680067,3.4,3.226342,2.818468,2.722220,1.457513
526,Adri√°n,Liverpool,40,10.800000,27,33.882939,2.5,3.137309,3.017023,3.017023,1.568655
319,Gunn,Southampton,42,10.000000,29,30.802422,2.9,3.080242,NaN,NaN,1.503004
553,Martin,West Ham,39,5.000000,20,15.316325,4.0,3.063265,NaN,NaN,1.551145
450,Roberto,West Ham,44,8.181818,18,23.426714,2.2,2.863265,NaN,NaN,1.365008
94,Heaton,Aston Villa,43,19.666667,59,55.026283,3.0,2.797947,NaN,NaN,1.349290
27,Nyland,Aston Villa,43,7.142857,15,15.367899,2.1,2.151506,2.749140,2.735876,1.037548

DEFENDERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
182,Alexander-Arnold,Liverpool,78,32.241379,187,171.902738,5.8,5.331743,3.704769,4.572821,1.909070
401,Doherty,Wolves,64,30.000000,141,144.272137,4.7,4.809071,6.053464,5.960373,1.900952
103,Alonso,Chelsea,62,13.965517,81,66.184312,5.8,4.739124,3.909462,4.760648,1.903278
181,Robertson,Liverpool,70,29.795918,146,139.601696,4.9,4.685262,1.606625,3.257061,1.770863
105,Azpilicueta,Chelsea,59,30.000000,102,132.151412,3.4,4.405047,4.314843,4.353723,1.813529
297,Lundstram,Sheffield Utd,48,29.777778,134,128.828186,4.5,4.326320,3.089761,3.300638,1.974686
183,van Dijk,Liverpool,65,31.836735,156,132.682967,4.9,4.167606,2.905710,3.526047,1.634670
122,Wan-Bissaka,Manchester Utd,55,29.189189,108,118.634457,3.7,4.064329,6.033914,5.414050,1.733036
405,Boly,Wolves,48,16.122449,79,65.106838,4.9,4.038272,4.781120,4.320597,1.843211
159,Pereira,Leicester City,63,27.954545,123,112.479510,4.4,4.023657,4.489641,4.386104,1.603063
185,Matip,Liverpool,52,9.069767,39,35.898592,4.3,3.958050,4.391973,3.791577,1.735720
161,Chilwell,Leicester City,56,25.909091,114,100.335727,4.4,3.872607,5.201341,4.557892,1.636475
141,Digne,Everton,57,28.888889,104,110.943476,3.6,3.840351,4.188250,4.030841,1.608546
208,Otamendi,Manchester City,48,21.764706,74,83.252405,3.4,3.825110,2.149500,2.868772,1.745916
440,Angeli√±o,Manchester City,46,6.111111,11,22.812283,1.8,3.732919,NaN,NaN,1.740482
160,Maguire,Manchester Utd,53,32.187500,103,120.137547,3.2,3.732429,4.375855,4.148931,1.621263
42,Dunk,Brighton,47,29.722222,107,110.340160,3.6,3.712379,4.234463,4.168159,1.712393
162,Evans,Leicester City,53,31.621622,117,117.069992,3.7,3.702213,3.889588,3.817472,1.608139
164,S√∂y√ºnc√º,Leicester City,49,30.810811,114,113.594053,3.7,3.686825,4.138212,3.884382,1.665538
402,Jonny,Wolves,54,29.411765,100,108.396970,3.4,3.685497,6.953425,5.774583,1.585985
123,van Aanholt,Crystal Palace,56,25.250000,101,92.765007,4.0,3.673862,3.841812,4.435698,1.552490
506,James,Chelsea,49,17.692308,46,64.561304,2.6,3.649117,2.559690,3.040197,1.648503
407,Sa√Øss,Wolves,47,27.878788,92,100.190941,3.3,3.593805,4.768319,4.747093,1.657699
291,Stevens,Sheffield Utd,51,32.368421,123,115.464230,3.8,3.567188,3.860010,3.529307,1.579577
251,Ritchie,Newcastle Utd,53,11.914894,56,42.327367,4.7,3.552475,6.324607,4.650207,1.543097
293,O'Connell,Sheffield Utd,46,28.235294,96,100.161428,3.4,3.547384,3.389872,3.864756,1.653976
204,Mendy,Manchester City,55,17.222222,62,60.439470,3.6,3.509389,2.843226,3.217410,1.496408
359,Janmaat,Watford,40,8.000000,36,28.049012,4.5,3.506127,NaN,NaN,1.753063
403,Coady,Wolves,51,31.875000,102,111.499878,3.2,3.498035,4.928939,4.407569,1.548956
203,Walker,Manchester City,56,24.285714,85,84.697031,3.5,3.487525,2.512430,3.121620,1.473748
529,Tomori,Chelsea,42,15.000000,48,51.862758,3.2,3.457517,1.966214,1.966214,1.687096
225,Lindel√∂f,Manchester Utd,53,29.062500,93,99.418368,3.2,3.420847,4.453025,4.080154,1.485921
6,Monreal,Arsenal,50,3.030303,10,10.361102,3.3,3.419164,NaN,NaN,1.529097
478,Holgate,Everton,43,25.000000,70,84.771197,2.8,3.390848,3.226490,3.092385,1.635212
127,Dann,Crystal Palace,43,10.975610,45,37.032658,4.1,3.374087,3.897111,3.839878,1.627129
518,Cancelo,Manchester City,51,12.916667,31,43.171833,2.4,3.342335,2.473468,2.528633,1.480011
294,Baldock,Sheffield Utd,50,32.051282,125,107.009354,3.9,3.338692,2.947930,2.944266,1.493108
511,Sidib√©,Everton,50,21.333333,64,71.069126,3.0,3.331365,1.259975,2.235179,1.489832
163,Fuchs,Leicester City,42,8.000000,24,26.478164,3.0,3.309770,NaN,2.594689,1.615003
186,Lovren,Liverpool,53,10.000000,18,33.085678,1.8,3.308568,2.580001,2.417572,1.437150

MIDFIELDERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
191,Salah,Liverpool,126,28.028169,199,188.452309,7.1,6.723675,5.551837,5.699198,1.894181
215,De Bruyne,Manchester City,107,29.861111,215,192.613059,7.2,6.450298,9.325324,7.900675,1.971914
618,Fernandes,Manchester Utd,88,8.024691,65,48.349332,8.1,6.025071,5.713466,6.365751,2.031051
192,Man√©,Liverpool,125,29.076923,189,169.963976,6.5,5.845322,4.738318,4.617537,1.653307
214,Sterling,Manchester City,117,27.037037,146,156.234938,5.4,5.778553,7.204948,6.705948,1.689375
342,Son,Tottenham,98,23.859649,136,120.904213,5.7,5.067309,4.865516,5.424065,1.618692
239,Martial,Manchester Utd,82,25.964912,148,126.445903,5.7,4.869876,6.298044,5.474760,1.700634
431,Pulisic,Chelsea,71,19.166667,92,90.745944,4.8,4.734571,6.248320,6.289764,1.776853
217,Mahrez,Manchester City,85,27.090909,149,127.696884,5.5,4.713643,4.234153,4.602874,1.616766
150,Richarlison,Everton,83,30.208333,145,136.280729,4.8,4.511362,3.884413,4.779634,1.565917
219,David Silva,Manchester City,73,21.914894,103,96.690603,4.7,4.412095,2.693123,3.232305,1.632990
344,Alli,Tottenham,83,24.166667,116,105.449439,4.8,4.363425,2.729559,3.647469,1.514567
113,Willian,Chelsea,71,30.888889,139,130.443384,4.5,4.222987,7.185741,5.348082,1.584859
389,Antonio,West Ham,69,18.181818,60,76.635558,3.3,4.214956,7.301038,5.939437,1.604606
171,Maddison,Leicester City,74,31.250000,125,128.579572,4.0,4.114546,3.161383,3.114420,1.512537
29,Grealish,Aston Villa,62,30.000000,126,119.142549,4.2,3.971418,2.791992,3.159708,1.594960
114,Pedro,Chelsea,68,10.000000,31,38.420818,3.1,3.842082,4.116086,4.277862,1.473371
463,Mount,Chelsea,62,32.222222,116,120.959600,3.6,3.753919,2.643313,3.068930,1.507610
172,Barnes,Leicester City,60,30.000000,117,111.820963,3.9,3.727365,2.914148,3.588620,1.521691
626,Bowen,West Ham,64,7.027027,26,26.175554,3.7,3.724983,4.649049,NaN,1.472429
417,Traor√©,Wolves,58,31.315789,119,116.218513,3.8,3.711179,2.844811,2.816633,1.540983
265,P√©rez,Leicester City,61,27.317073,112,100.722378,4.1,3.687158,1.735383,2.611940,1.492887
500,Saint-Maximin,Newcastle Utd,55,21.025641,82,77.359073,3.9,3.679273,6.333460,5.264984,1.568847
525,Sarr,Watford,62,22.105263,84,79.793760,3.8,3.609718,3.716537,4.190317,1.449698
218,Bernardo Silva,Manchester City,77,28.285714,99,101.705904,3.5,3.595663,2.276967,2.718110,1.295787
320,Redmond,Southampton,62,25.625000,82,91.684856,3.2,3.577946,3.362948,3.560037,1.436938
269,Shelvey,Newcastle Utd,49,20.000000,82,71.412347,4.1,3.570617,4.505118,4.077229,1.613041
488,P√©p√©,Arsenal,91,27.027027,100,95.830561,3.7,3.545731,2.639692,3.517108,1.175398
615,Bergwijn,Tottenham,74,7.954545,35,27.942721,4.4,3.512799,2.558969,NaN,1.291331
238,Pogba,Manchester Utd,83,10.000000,30,35.096061,3.0,3.509606,3.102757,3.073127,1.218202
321,Ward-Prowse,Southampton,57,32.424242,107,113.306619,3.3,3.494503,4.794602,3.891442,1.463686
301,Fleck,Sheffield Utd,48,27.222222,98,95.036879,3.6,3.491151,2.149183,2.447587,1.593485
151,Sigurdsson,Everton,73,28.928571,81,97.723712,2.8,3.378104,4.513736,4.030175,1.250292
287,Cantwell,Norwich City,46,31.818182,105,107.474614,3.3,3.377774,2.056073,2.130979,1.574895
283,Buend√≠a,Norwich City,60,31.111111,84,103.356861,2.7,3.322185,2.147578,2.007504,1.356276
266,Almir√≥n,Newcastle Utd,58,31.000000,93,102.241469,3.0,3.298112,3.757215,3.497200,1.369466
415,Moutinho,Wolves,54,31.562500,101,103.308774,3.2,3.273149,2.451180,2.477799,1.408539
97,McNeil,Burnley,61,32.058824,109,104.650647,3.4,3.264332,3.438297,3.888464,1.321689
243,James,Manchester Utd,58,29.677419,92,96.172740,3.1,3.240603,2.204720,2.464936,1.345587
49,Gro√ü,Brighton,62,23.666667,71,76.642106,3.0,3.238399,2.183383,2.942617,1.300572

FORWARDS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
233,Rashford,Manchester Utd,91,24.915254,147,140.976255,5.9,5.658231,5.055759,5.102551,1.875685
166,Vardy,Leicester City,97,28.833333,173,150.231076,6.0,5.210326,3.144464,3.274675,1.672935
409,Jim√©nez,Wolves,83,31.923077,166,160.791076,5.2,5.036829,4.341508,4.603633,1.748309
11,Aubameyang,Arsenal,110,30.000000,174,149.640717,5.8,4.988024,6.211832,5.695549,1.503946
210,Ag√ºero,Manchester City,117,24.000000,132,117.091076,5.5,4.878795,4.567077,4.398577,1.426329
460,Abraham,Chelsea,75,28.163265,138,133.731076,4.9,4.748422,4.226759,3.971866,1.733879
187,Firmino,Liverpool,95,32.380952,136,152.841434,4.2,4.720103,3.293122,3.944184,1.531404
313,Ings,Southampton,73,31.923077,166,145.210359,5.2,4.548758,4.736767,4.027763,1.683571
278,Pukki,Norwich City,65,31.190476,131,137.855538,4.2,4.419796,1.930754,2.771453,1.733587
338,Kane,Tottenham,109,23.137255,118,101.050359,5.1,4.367431,4.869104,4.690683,1.322857
91,Wood,Burnley,61,25.952381,109,105.105179,4.2,4.049924,7.124160,5.039029,1.639766
211,Jesus,Manchester City,96,27.631579,105,111.151076,3.8,4.022610,1.801567,2.367830,1.298292
147,Calvert-Lewin,Everton,65,30.000000,117,120.105179,3.9,4.003506,3.732474,4.620044,1.570304
362,Deeney,Watford,62,21.111111,76,80.170359,3.6,3.797543,2.878414,3.258102,1.525130
410,Jota,Wolves,62,28.181818,93,105.715538,3.3,3.751197,2.844221,4.090479,1.506517
502,Maupay,Brighton,57,31.428571,110,117.550359,3.5,3.740239,2.783614,3.305835,1.566614
68,King,Bournemouth,61,21.176471,72,76.735538,3.4,3.623623,2.842471,3.297672,1.467162
457,Haller,West Ham,68,26.944444,97,95.815538,3.6,3.556041,5.605814,4.422134,1.363679
468,Ayew,Crystal Palace,52,30.789474,117,106.910359,3.8,3.472302,2.831614,2.871812,1.522705
67,Callum Wilson,Bournemouth,74,29.696970,98,102.515538,3.3,3.452054,2.445213,3.508701,1.269000
363,Deulofeu,Watford,61,28.387097,88,95.045896,3.1,3.348208,1.650104,2.615972,1.355650
12,Lacazette,Arsenal,92,23.888889,86,79.825896,3.6,3.341549,3.220309,3.354358,1.101676
167,Iheanacho,Leicester City,57,15.000000,54,49.020717,3.6,3.268048,3.169894,2.719440,1.368835
428,Wesley,Aston Villa,54,20.937500,67,67.725179,3.2,3.234635,NaN,NaN,1.391965
90,Barnes,Burnley,61,19.062500,61,59.620000,3.2,3.127607,NaN,NaN,1.266331
315,Long,Southampton,46,20.740741,56,63.815538,2.7,3.076821,2.288193,3.053233,1.434575
303,McGoldrick,Sheffield Utd,54,23.500000,47,70.410359,2.0,2.996185,1.942440,1.775384,1.289353
110,Giroud,Chelsea,66,12.187500,39,36.305179,3.2,2.978887,2.945941,3.455408,1.159530
13,Nketiah,Arsenal,44,9.166667,22,26.400000,2.4,2.880000,3.621429,NaN,1.372986
501,McBurnie,Sheffield Utd,56,29.565217,68,82.200000,2.3,2.780294,2.267857,2.953061,1.174889
70,Mousset,Sheffield Utd,44,25.806452,80,70.820717,3.1,2.744303,3.304874,2.715372,1.308295
130,Wickham,Crystal Palace,43,6.000000,15,16.105179,2.5,2.684197,NaN,1.466900,1.294435
613,Samatta,Aston Villa,55,8.000000,20,21.400000,2.5,2.675000,2.400000,NaN,1.140624
466,Joelinton,Newcastle Utd,55,31.818182,70,83.510359,2.2,2.624611,2.458281,2.288605,1.119138
92,Vydra,Burnley,53,12.800000,32,33.405179,2.5,2.609780,2.672474,3.334594,1.133616
504,Martinelli,Arsenal,43,13.928571,39,34.505179,2.8,2.477295,NaN,4.456923,1.194658
554,Gayle,Newcastle Utd,50,13.913043,32,33.505179,2.3,2.408185,5.023842,4.331283,1.076973
129,Benteke,Crystal Palace,57,20.588235,35,49.205179,1.7,2.389966,2.862581,3.696771,1.001047
534,Connolly,Brighton,42,19.600000,49,45.415538,2.5,2.317119,2.491138,2.210128,1.130638
451,Rodriguez,Burnley,57,30.000000,72,69.225179,2.4,2.307506,2.994475,3.385206,0.966508

Below we compile a list sorting players based on a given metric (irrespective of position).

In [9]:
metric = 'adjusted points per game'

display(df[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
191,Salah,Liverpool,126,28.028169,199,188.452309,7.1,6.723675,5.551837,5.699198,1.894181
215,De Bruyne,Manchester City,107,29.861111,215,192.613059,7.2,6.450298,9.325324,7.900675,1.971914
618,Fernandes,Manchester Utd,88,8.024691,65,48.349332,8.1,6.025071,5.713466,6.365751,2.031051
192,Man√©,Liverpool,125,29.076923,189,169.963976,6.5,5.845322,4.738318,4.617537,1.653307
214,Sterling,Manchester City,117,27.037037,146,156.234938,5.4,5.778553,7.204948,6.705948,1.689375
233,Rashford,Manchester Utd,91,24.915254,147,140.976255,5.9,5.658231,5.055759,5.102551,1.875685
182,Alexander-Arnold,Liverpool,78,32.241379,187,171.902738,5.8,5.331743,3.704769,4.572821,1.909070
166,Vardy,Leicester City,97,28.833333,173,150.231076,6.0,5.210326,3.144464,3.274675,1.672935
342,Son,Tottenham,98,23.859649,136,120.904213,5.7,5.067309,4.865516,5.424065,1.618692
409,Jim√©nez,Wolves,83,31.923077,166,160.791076,5.2,5.036829,4.341508,4.603633,1.748309
11,Aubameyang,Arsenal,110,30.000000,174,149.640717,5.8,4.988024,6.211832,5.695549,1.503946
210,Ag√ºero,Manchester City,117,24.000000,132,117.091076,5.5,4.878795,4.567077,4.398577,1.426329
239,Martial,Manchester Utd,82,25.964912,148,126.445903,5.7,4.869876,6.298044,5.474760,1.700634
401,Doherty,Wolves,64,30.000000,141,144.272137,4.7,4.809071,6.053464,5.960373,1.900952
460,Abraham,Chelsea,75,28.163265,138,133.731076,4.9,4.748422,4.226759,3.971866,1.733879
103,Alonso,Chelsea,62,13.965517,81,66.184312,5.8,4.739124,3.909462,4.760648,1.903278
431,Pulisic,Chelsea,71,19.166667,92,90.745944,4.8,4.734571,6.248320,6.289764,1.776853
187,Firmino,Liverpool,95,32.380952,136,152.841434,4.2,4.720103,3.293122,3.944184,1.531404
217,Mahrez,Manchester City,85,27.090909,149,127.696884,5.5,4.713643,4.234153,4.602874,1.616766
181,Robertson,Liverpool,70,29.795918,146,139.601696,4.9,4.685262,1.606625,3.257061,1.770863
313,Ings,Southampton,73,31.923077,166,145.210359,5.2,4.548758,4.736767,4.027763,1.683571
150,Richarlison,Everton,83,30.208333,145,136.280729,4.8,4.511362,3.884413,4.779634,1.565917
411,Patr√≠cio,Wolves,53,31.904762,134,142.048430,4.2,4.452264,4.408282,4.669268,1.933940
340,Lloris,Tottenham,53,14.883721,64,65.791637,4.3,4.420376,4.002040,4.551735,1.920088
278,Pukki,Norwich City,65,31.190476,131,137.855538,4.2,4.419796,1.930754,2.771453,1.733587
219,David Silva,Manchester City,73,21.914894,103,96.690603,4.7,4.412095,2.693123,3.232305,1.632990
105,Azpilicueta,Chelsea,59,30.000000,102,132.151412,3.4,4.405047,4.314843,4.353723,1.813529
338,Kane,Tottenham,109,23.137255,118,101.050359,5.1,4.367431,4.869104,4.690683,1.322857
344,Alli,Tottenham,83,24.166667,116,105.449439,4.8,4.363425,2.729559,3.647469,1.514567
297,Lundstram,Sheffield Utd,48,29.777778,134,128.828186,4.5,4.326320,3.089761,3.300638,1.974686
113,Willian,Chelsea,71,30.888889,139,130.443384,4.5,4.222987,7.185741,5.348082,1.584859
389,Antonio,West Ham,69,18.181818,60,76.635558,3.3,4.214956,7.301038,5.939437,1.604606
471,Henderson,Sheffield Utd,52,29.782609,137,124.818133,4.6,4.190974,4.186582,4.568883,1.837864
183,van Dijk,Liverpool,65,31.836735,156,132.682967,4.9,4.167606,2.905710,3.526047,1.634670
93,Pope,Burnley,50,31.956522,147,132.742507,4.6,4.153847,4.973442,4.956112,1.857657
168,Schmeichel,Leicester City,54,31.860465,137,131.745594,4.3,4.135081,5.391438,5.477872,1.779455
171,Maddison,Leicester City,74,31.250000,125,128.579572,4.0,4.114546,3.161383,3.114420,1.512537
122,Wan-Bissaka,Manchester Utd,55,29.189189,108,118.634457,3.7,4.064329,6.033914,5.414050,1.733036
91,Wood,Burnley,61,25.952381,109,105.105179,4.2,4.049924,7.124160,5.039029,1.639766
405,Boly,Wolves,48,16.122449,79,65.106838,4.9,4.038272,4.781120,4.320597,1.843211

In [10]:
metric = 'form 10'

display(df[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
215,De Bruyne,Manchester City,107,29.861111,215,192.613059,7.2,6.450298,9.325324,7.900675,1.971914
214,Sterling,Manchester City,117,27.037037,146,156.234938,5.4,5.778553,7.204948,6.705948,1.689375
618,Fernandes,Manchester Utd,88,8.024691,65,48.349332,8.1,6.025071,5.713466,6.365751,2.031051
257,Lejeune,Newcastle Utd,43,6.000000,24,17.788601,4.0,2.964767,NaN,6.335912,1.429738
431,Pulisic,Chelsea,71,19.166667,92,90.745944,4.8,4.734571,6.248320,6.289764,1.776853
401,Doherty,Wolves,64,30.000000,141,144.272137,4.7,4.809071,6.053464,5.960373,1.900952
389,Antonio,West Ham,69,18.181818,60,76.635558,3.3,4.214956,7.301038,5.939437,1.604606
402,Jonny,Wolves,54,29.411765,100,108.396970,3.4,3.685497,6.953425,5.774583,1.585985
191,Salah,Liverpool,126,28.028169,199,188.452309,7.1,6.723675,5.551837,5.699198,1.894181
11,Aubameyang,Arsenal,110,30.000000,174,149.640717,5.8,4.988024,6.211832,5.695549,1.503946
220,Foden,Manchester City,53,17.096774,53,46.319873,3.1,2.709276,6.693558,5.529707,1.176834
168,Schmeichel,Leicester City,54,31.860465,137,131.745594,4.3,4.135081,5.391438,5.477872,1.779455
239,Martial,Manchester Utd,82,25.964912,148,126.445903,5.7,4.869876,6.298044,5.474760,1.700634
342,Son,Tottenham,98,23.859649,136,120.904213,5.7,5.067309,4.865516,5.424065,1.618692
122,Wan-Bissaka,Manchester Utd,55,29.189189,108,118.634457,3.7,4.064329,6.033914,5.414050,1.733036
113,Willian,Chelsea,71,30.888889,139,130.443384,4.5,4.222987,7.185741,5.348082,1.584859
500,Saint-Maximin,Newcastle Utd,55,21.025641,82,77.359073,3.9,3.679273,6.333460,5.264984,1.568847
233,Rashford,Manchester Utd,91,24.915254,147,140.976255,5.9,5.658231,5.055759,5.102551,1.875685
91,Wood,Burnley,61,25.952381,109,105.105179,4.2,4.049924,7.124160,5.039029,1.639766
93,Pope,Burnley,50,31.956522,147,132.742507,4.6,4.153847,4.973442,4.956112,1.857657
131,Guaita,Crystal Palace,49,29.069767,125,116.590868,4.3,4.010726,5.346537,4.882290,1.811861
150,Richarlison,Everton,83,30.208333,145,136.280729,4.8,4.511362,3.884413,4.779634,1.565917
103,Alonso,Chelsea,62,13.965517,81,66.184312,5.8,4.739124,3.909462,4.760648,1.903278
407,Sa√Øss,Wolves,47,27.878788,92,100.190941,3.3,3.593805,4.768319,4.747093,1.657699
338,Kane,Tottenham,109,23.137255,118,101.050359,5.1,4.367431,4.869104,4.690683,1.322857
411,Patr√≠cio,Wolves,53,31.904762,134,142.048430,4.2,4.452264,4.408282,4.669268,1.933940
251,Ritchie,Newcastle Utd,53,11.914894,56,42.327367,4.7,3.552475,6.324607,4.650207,1.543097
147,Calvert-Lewin,Everton,65,30.000000,117,120.105179,3.9,4.003506,3.732474,4.620044,1.570304
192,Man√©,Liverpool,125,29.076923,189,169.963976,6.5,5.845322,4.738318,4.617537,1.653307
409,Jim√©nez,Wolves,83,31.923077,166,160.791076,5.2,5.036829,4.341508,4.603633,1.748309
217,Mahrez,Manchester City,85,27.090909,149,127.696884,5.5,4.713643,4.234153,4.602874,1.616766
182,Alexander-Arnold,Liverpool,78,32.241379,187,171.902738,5.8,5.331743,3.704769,4.572821,1.909070
471,Henderson,Sheffield Utd,52,29.782609,137,124.818133,4.6,4.190974,4.186582,4.568883,1.837864
161,Chilwell,Leicester City,56,25.909091,114,100.335727,4.4,3.872607,5.201341,4.557892,1.636475
340,Lloris,Tottenham,53,14.883721,64,65.791637,4.3,4.420376,4.002040,4.551735,1.920088
504,Martinelli,Arsenal,43,13.928571,39,34.505179,2.8,2.477295,NaN,4.456923,1.194658
123,van Aanholt,Crystal Palace,56,25.250000,101,92.765007,4.0,3.673862,3.841812,4.435698,1.552490
457,Haller,West Ham,68,26.944444,97,95.815538,3.6,3.556041,5.605814,4.422134,1.363679
403,Coady,Wolves,51,31.875000,102,111.499878,3.2,3.498035,4.928939,4.407569,1.548956
210,Ag√ºero,Manchester City,117,24.000000,132,117.091076,5.5,4.878795,4.567077,4.398577,1.426329

In [11]:
metric = 'valuePoints metric'

display(df[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
618,Fernandes,Manchester Utd,88,8.024691,65,48.349332,8.1,6.025071,5.713466,6.365751,2.031051
297,Lundstram,Sheffield Utd,48,29.777778,134,128.828186,4.5,4.326320,3.089761,3.300638,1.974686
215,De Bruyne,Manchester City,107,29.861111,215,192.613059,7.2,6.450298,9.325324,7.900675,1.971914
411,Patr√≠cio,Wolves,53,31.904762,134,142.048430,4.2,4.452264,4.408282,4.669268,1.933940
340,Lloris,Tottenham,53,14.883721,64,65.791637,4.3,4.420376,4.002040,4.551735,1.920088
182,Alexander-Arnold,Liverpool,78,32.241379,187,171.902738,5.8,5.331743,3.704769,4.572821,1.909070
103,Alonso,Chelsea,62,13.965517,81,66.184312,5.8,4.739124,3.909462,4.760648,1.903278
401,Doherty,Wolves,64,30.000000,141,144.272137,4.7,4.809071,6.053464,5.960373,1.900952
191,Salah,Liverpool,126,28.028169,199,188.452309,7.1,6.723675,5.551837,5.699198,1.894181
233,Rashford,Manchester Utd,91,24.915254,147,140.976255,5.9,5.658231,5.055759,5.102551,1.875685
93,Pope,Burnley,50,31.956522,147,132.742507,4.6,4.153847,4.973442,4.956112,1.857657
405,Boly,Wolves,48,16.122449,79,65.106838,4.9,4.038272,4.781120,4.320597,1.843211
603,Reina,Aston Villa,43,5.937500,19,22.630816,3.2,3.811506,1.464012,3.677821,1.838071
471,Henderson,Sheffield Utd,52,29.782609,137,124.818133,4.6,4.190974,4.186582,4.568883,1.837864
341,Gazzaniga,Tottenham,42,18.125000,58,67.995090,3.2,3.751453,1.653034,2.917926,1.830522
105,Azpilicueta,Chelsea,59,30.000000,102,132.151412,3.4,4.405047,4.314843,4.353723,1.813529
131,Guaita,Crystal Palace,49,29.069767,125,116.590868,4.3,4.010726,5.346537,4.882290,1.811861
168,Schmeichel,Leicester City,54,31.860465,137,131.745594,4.3,4.135081,5.391438,5.477872,1.779455
431,Pulisic,Chelsea,71,19.166667,92,90.745944,4.8,4.734571,6.248320,6.289764,1.776853
181,Robertson,Liverpool,70,29.795918,146,139.601696,4.9,4.685262,1.606625,3.257061,1.770863
359,Janmaat,Watford,40,8.000000,36,28.049012,4.5,3.506127,NaN,NaN,1.753063
409,Jim√©nez,Wolves,83,31.923077,166,160.791076,5.2,5.036829,4.341508,4.603633,1.748309
208,Otamendi,Manchester City,48,21.764706,74,83.252405,3.4,3.825110,2.149500,2.868772,1.745916
440,Angeli√±o,Manchester City,46,6.111111,11,22.812283,1.8,3.732919,NaN,NaN,1.740482
185,Matip,Liverpool,52,9.069767,39,35.898592,4.3,3.958050,4.391973,3.791577,1.735720
460,Abraham,Chelsea,75,28.163265,138,133.731076,4.9,4.748422,4.226759,3.971866,1.733879
278,Pukki,Norwich City,65,31.190476,131,137.855538,4.2,4.419796,1.930754,2.771453,1.733587
122,Wan-Bissaka,Manchester Utd,55,29.189189,108,118.634457,3.7,4.064329,6.033914,5.414050,1.733036
235,de Gea,Manchester Utd,53,31.621622,117,125.764885,3.7,3.977180,4.554989,4.262818,1.727577
14,Leno,Arsenal,49,30.000000,114,114.324913,3.8,3.810830,4.952481,4.111377,1.721558
42,Dunk,Brighton,47,29.722222,107,110.340160,3.6,3.712379,4.234463,4.168159,1.712393
239,Martial,Manchester Utd,82,25.964912,148,126.445903,5.7,4.869876,6.298044,5.474760,1.700634
47,Ryan,Brighton,47,32.285714,113,118.374569,3.5,3.666469,3.748972,3.556208,1.691216
214,Sterling,Manchester City,117,27.037037,146,156.234938,5.4,5.778553,7.204948,6.705948,1.689375
318,McCarthy,Southampton,45,22.285714,78,79.845397,3.5,3.582806,4.274089,4.198062,1.688951
529,Tomori,Chelsea,42,15.000000,48,51.862758,3.2,3.457517,1.966214,1.966214,1.687096
313,Ings,Southampton,73,31.923077,166,145.210359,5.2,4.548758,4.736767,4.027763,1.683571
166,Vardy,Leicester City,97,28.833333,173,150.231076,6.0,5.210326,3.144464,3.274675,1.672935
164,S√∂y√ºnc√º,Leicester City,49,30.810811,114,113.594053,3.7,3.686825,4.138212,3.884382,1.665538
407,Sa√Øss,Wolves,47,27.878788,92,100.190941,3.3,3.593805,4.768319,4.747093,1.657699