In [1]:
# recent gameweek
latest_gameweek = 18

In [2]:
import pandas as pd
import numpy as np

# allow more data columns to be shown than by default
pd.set_option('max_columns',100)

In [3]:
# fetch FPL data
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players = pd.read_csv(filepath, index_col=0)

In [4]:
# how many gameweeks do we look form for
for i in [5,10]:
    number_gameweeks = i
    # create a list of relevant column names
    column_list = []
    for i in range(0,number_gameweeks):
        column_list.append('xPoints week ' + str(latest_gameweek-i))
    # calculate form
    column_name = 'form ' + str(number_gameweeks)
    players[column_name] = players[column_list].mean(axis=1)

In [5]:
# give a sorted list showing the players with best 'form 5'
players[['web_name', 'games played','total_points', 'points_per_game','adjusted points','adjusted points per game',\
                                'form 5', 'form 10']].sort_values(by='form 5', ascending=False)

,web_name,games played,total_points,points_per_game,adjusted points,adjusted points per game,form 5,form 10
id,,,,,,,,
302,Fernandes,16.923077,132,7.8,116.907017,6.908142,8.465692,7.836187
272,De Bruyne,15.000000,87,5.8,107.720727,7.181382,7.654797,8.371803
45,El Ghazi,9.038462,47,5.2,42.235904,4.672909,6.941011,5.221322
118,Abraham,13.953488,60,4.3,54.968735,3.939426,6.700000,4.228571
255,Robertson,17.021277,80,4.7,79.066913,4.645181,6.608885,5.520756
39,Hause,4.000000,28,7.0,21.549346,5.387336,6.419302,6.371007
277,Cancelo,11.960784,61,5.1,62.011444,5.184563,6.339293,5.283904
246,Matip,8.000000,40,5.0,34.336420,4.292053,6.223573,5.552679
388,Kane,17.051282,133,7.8,115.338043,6.764186,6.116930,5.234288
37,Grealish,14.923077,97,6.5,86.225525,5.777999,6.109345,5.194104
449,Soucek,17.111111,77,4.5,73.265216,4.281733,6.061974,5.200499
284,Foden,12.040816,59,4.9,48.481793,4.026454,5.978208,4.165844
279,Ak√©,6.000000,21,3.5,17.922271,2.987045,5.963273,4.822277
259,Alexander-Arnold,15.000000,45,3.0,59.670645,3.978043,5.933885,4.450914
283,Zinchenko,2.972973,11,3.7,13.314639,4.478560,5.933811,5.933811
390,Son,16.962025,134,7.9,103.451316,6.098996,5.687658,5.606865
156,Keane,15.853659,65,4.1,56.722113,3.577856,5.664376,4.142781
270,Walker,11.956522,55,4.6,49.604111,4.148707,5.626279,4.071107
430,Randolph,1.000000,6,6.0,3.129289,3.129289,5.619350,5.619350
24,Saka,15.945946,59,3.7,64.871562,4.068217,5.595198,4.696856
303,Martial,12.857143,45,3.5,46.571838,3.622254,5.561685,4.523872
542,Reguil√≥n,12.142857,51,4.2,48.866513,4.024301,5.531504,3.820228
540,Traor√©,13.142857,46,3.5,40.934269,3.114564,5.499744,4.203225
367,Stephens,7.045455,31,4.4,25.293134,3.589993,5.446784,5.446784
395,Davies,11.851852,32,2.7,38.442391,3.243577,5.433606,2.723122
128,Guaita,18.235294,62,3.4,68.804529,3.773152,5.319657,4.786141
258,Minamino,8.000000,16,2.0,15.466921,1.933365,5.318731,2.485297
556,Dias,14.047619,59,4.2,55.967223,3.984107,5.314293,4.772502
202,Bamford,17.118644,101,5.9,97.891838,5.718434,5.304457,5.710701
17,Tierney,15.945946,59,3.7,57.080042,3.579596,5.289064,4.072763
...,...,...,...,...,...,...,...,...
499,Kipre,NaN,0,0.0,NaN,NaN,NaN,NaN
621,Diaby,NaN,0,0.0,NaN,NaN,NaN,NaN
429,Martin,NaN,0,0.0,NaN,NaN,NaN,NaN
433,Roberto,NaN,0,0.0,NaN,NaN,NaN,NaN
434,Wilshere,NaN,0,0.0,NaN,NaN,NaN,NaN
440,Felipe Anderson,2.000000,2,1.0,2.564645,1.282322,NaN,NaN
442,Masuaku,10.000000,37,3.7,36.827260,3.682726,NaN,2.878863
444,Hugill,NaN,0,0.0,NaN,NaN,NaN,NaN
447,Ajeti,NaN,0,0.0,NaN,NaN,NaN,NaN
451,Diop,4.000000,4,1.0,8.517157,2.129289,NaN,3.331484
453,Ruddy,NaN,0,0.0,NaN,NaN,NaN,NaN
456,Bennett,NaN,0,0.0,NaN,NaN,NaN,NaN
458,Boly,12.000000,36,3.0,36.582192,3.048516,NaN,2.498050
460,Jim√©nez,10.000000,43,4.3,36.934368,3.693437,NaN,2.558952
462,Jonny,NaN,0,0.0,NaN,NaN,NaN,NaN
463,Bonatini,NaN,0,0.0,NaN,NaN,NaN,NaN
467,Buur,1.000000,1,1.0,2.231849,2.231849,NaN,NaN
471,Vinagre,2.000000,1,0.5,3.463699,1.731849,NaN,NaN
472,Sarkic,NaN,0,0.0,NaN,NaN,NaN,NaN
475,Jordao,NaN,0,0.0,NaN,NaN,NaN,NaN
476,Campana,NaN,0,0.0,NaN,NaN,NaN,NaN
553,Shabani,NaN,0,0.0,NaN,NaN,NaN,NaN
610,Corbeanu,NaN,0,0.0,NaN,NaN,NaN,NaN
611,Perry,NaN,0,0.0,NaN,NaN,NaN,NaN
614,Cundle,NaN,0,0.0,NaN,NaN,NaN,NaN
615,Richards,NaN,0,0.0,NaN,NaN,NaN,NaN
616,Marques,NaN,0,0.0,NaN,NaN,NaN,NaN
617,S√∂ndergaard,NaN,0,0.0,NaN,NaN,NaN,NaN
626,Cutrone,1.000000,1,1.0,1.000000,1.000000,NaN,NaN
629,Lonwijk,NaN,0,0.0,NaN,NaN,NaN,NaN

In [6]:
# save data
filepath = '../data/fpl/data_week' + str(latest_gameweek) + '.csv'
players.to_csv(filepath)