# Player evaluation

Here we compare players based on their adjusted points. Also, we calculate some useful metrics using the adjusted points to further evaluate player performance in FPL.

In [1]:
# recent gameweek
gameweek = 35

In [2]:
# import basic libraries
import pandas as pd
import numpy as np

pd.set_option('max_columns',100)

In [3]:
# fetch FPL data
filepath = '../data/data_week' + str(gameweek) + '.csv'
df = pd.read_csv(filepath, index_col=0)#, encoding='latin-1')

# fetch team data
filepath = '../data/fbref/team_stats_week' + str(gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col=0)#, encoding='latin-1')

# fetch player stats data
filepath = '../data/fbref/player_stats_week' + str(gameweek) + '.csv'
playerStats = pd.read_csv(filepath, index_col=0, skiprows=1)#, encoding='latin-1')

## Value and value points

Here we calculate two interesting metrics: 'value' and 'value points'. 

Value is simply adjusted points per game divided by the cost of the player. Essentially, this measures how many 'points per pound(/euro/whatever)' has the player gained on an average game week. 

The value points is calculated as the geometric mean of a players adjusted points per game and value. Essentially, in FPL we want to gain the maximum possible amount of points. However, we are restrained by a limited budget, so that in practice we cannot just pick all the best players. Then, we would like to have a squad of players that give the most points given our budget. Thus, we would like to pick players that have high value ('bang for buck'). However, often the players with highest value are very cheap players who somewhat overperform relative to their price. Picking a squad full of these players might leave a part of our budget unused. Calculating the geometric mean of adjusted points and value allows us to weigh both aspects equally, i.e. we want players that both gain a lot of points but also have good value. For example, this metric values equally two players, where one has twice the points per game of the other who in turn has twice the value of the other.

In [4]:
# value = expected points / cost
df['value'] = df['adjusted points per game'] / (df['now_cost'] / 10.0)
# geometric mean of 'adjusted points per game' and 'value'
df['valuePoints metric'] = np.sqrt(df['adjusted points per game'] * df['value'])

In [5]:
# assign proper team names for each player
team_names = np.sort(teamStats['Squad'])
df['team_name'] = team_names[df['team']-1]

In [6]:
# save data
filepath = '../data/data_week' + str(gameweek) + str('.csv')
df.to_csv(filepath)

In [7]:
goalkeepers = df['element_type'] == 1
defenders = df['element_type'] == 2
midfielders = df['element_type'] == 3
forwards = df['element_type'] == 4

minGames = df['games played'] >= 3

## Player evaluation

Below we compile lists for each position sorting players based on a given metric.

In [8]:
#metric = 'valuePoints metric'
metric = 'adjusted points per game'
#metric = 'form 10'

numberToShow = 40

print('GOALKEEPERS')
display(df[goalkeepers & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('DEFENDERS')
display(df[defenders & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('MIDFIELDERS')
display(df[midfielders & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))
print('FORWARDS')
display(df[forwards & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

GOALKEEPERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
340,Lloris,Tottenham,53,18.043478,83,80.645967,4.6,4.469535,4.251266,4.493724,1.941442
411,Patr√≠cio,Wolves,53,34.878049,143,152.537547,4.1,4.373454,3.817550,4.051800,1.899707
471,Henderson,Sheffield Utd,52,32.978723,155,139.288386,4.7,4.223583,4.739600,4.541944,1.852164
93,Pope,Burnley,50,34.782609,160,143.393849,4.6,4.122573,4.168773,4.231405,1.843671
168,Schmeichel,Leicester City,55,35.238095,148,142.994669,4.2,4.057957,3.795290,4.675402,1.730319
235,de Gea,Manchester Utd,53,35.000000,126,135.605004,3.6,3.874429,3.392440,3.881571,1.682944
131,Guaita,Crystal Palace,49,31.951220,131,123.337223,4.1,3.860173,2.839173,3.678243,1.743848
189,Alisson,Liverpool,62,26.222222,118,100.728994,4.5,3.841360,3.490746,3.609593,1.542727
14,Leno,Arsenal,48,30.000000,114,114.594261,3.8,3.819809,NaN,4.581548,1.743496
341,Gazzaniga,Tottenham,41,18.125000,58,68.925692,3.2,3.802797,NaN,1.653034,1.878067
318,McCarthy,Southampton,45,25.135135,93,93.025901,3.7,3.701030,3.859610,4.327876,1.744682
603,Reina,Aston Villa,42,9.117647,31,32.693717,3.4,3.585763,3.698057,3.409237,1.749673
212,Ederson,Manchester City,60,31.891892,118,113.429440,3.7,3.556686,4.327336,3.964856,1.452011
47,Ryan,Brighton,47,35.142857,123,124.305274,3.5,3.537142,1.997486,2.745419,1.631562
494,Ramsdale,Bournemouth,45,33.636364,111,118.469997,3.3,3.522081,3.086736,2.931804,1.660325
366,Foster,Watford,49,35.000000,126,121.749098,3.6,3.478546,3.381107,3.413525,1.571447
262,Dubravka,Newcastle Utd,51,35.000000,133,121.104456,3.8,3.460127,1.854786,2.710197,1.532170
213,Bravo,Manchester City,47,3.928571,11,13.298330,2.8,3.385029,NaN,NaN,1.561398
280,Krul,Norwich City,46,32.903226,102,109.342342,3.1,3.323150,2.225202,2.760760,1.549426
132,Hennessey,Crystal Palace,42,3.043478,7,10.080247,2.3,3.312081,2.031087,2.031087,1.616130
148,Pickford,Everton,52,34.516129,107,112.842597,3.1,3.269271,2.493913,3.057599,1.433670
427,Mart√≠nez,Arsenal,43,6.046512,26,19.763184,4.3,3.268527,3.580010,NaN,1.576224
112,Caballero,Chelsea,48,3.888889,7,12.498184,1.8,3.213819,NaN,3.549399,1.466901
111,Kepa,Chelsea,54,31.111111,84,99.985472,2.7,3.213819,2.348125,2.752828,1.383007
388,Fabianski,West Ham,49,22.058824,75,70.799954,3.4,3.209598,3.072806,2.933260,1.449949
526,Adri√°n,Liverpool,40,10.800000,27,33.754598,2.5,3.125426,NaN,3.017023,1.562713
553,Martin,West Ham,39,5.000000,20,15.581323,4.0,3.116265,NaN,NaN,1.577982
319,Gunn,Southampton,42,10.000000,29,30.558692,2.9,3.055869,NaN,NaN,1.491111
450,Roberto,West Ham,44,8.181818,18,23.860347,2.2,2.916265,NaN,NaN,1.390275
94,Heaton,Aston Villa,43,19.666667,59,55.281286,3.0,2.810913,NaN,NaN,1.355543
27,Nyland,Aston Villa,43,7.142857,15,15.460516,2.1,2.164472,2.820769,2.741182,1.043801

DEFENDERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
182,Alexander-Arnold,Liverpool,78,35.000000,196,181.186842,5.6,5.176767,2.956475,3.641013,1.853580
401,Doherty,Wolves,65,32.826087,151,156.382906,4.6,4.763983,4.376757,5.172229,1.868588
181,Robertson,Liverpool,70,33.000000,165,151.529147,5.0,4.591792,3.459070,3.391348,1.735534
103,Alonso,Chelsea,61,14.909091,82,68.093969,5.5,4.567278,2.216987,3.747535,1.849237
105,Azpilicueta,Chelsea,61,33.142857,116,146.388427,3.5,4.416892,3.628976,4.421621,1.788347
297,Lundstram,Sheffield Utd,46,30.681818,135,131.637243,4.4,4.290399,1.950203,2.972689,2.000409
183,van Dijk,Liverpool,65,34.791667,167,143.941355,4.8,4.137237,3.099781,3.387201,1.622758
159,Pereira,Leicester City,62,27.954545,123,111.928060,4.4,4.003931,NaN,4.223640,1.608017
122,Wan-Bissaka,Manchester Utd,55,31.666667,114,125.920055,3.6,3.976423,3.280610,4.022225,1.695552
405,Boly,Wolves,48,19.130435,88,75.664129,4.6,3.955170,3.997245,4.077460,1.805280
185,Matip,Liverpool,52,9.069767,39,35.790812,4.3,3.946167,NaN,3.945964,1.730508
208,Otamendi,Manchester City,48,22.857143,80,89.349901,3.5,3.909058,3.435978,3.098629,1.784233
440,Angeli√±o,Manchester City,46,6.111111,11,23.302475,1.8,3.813132,NaN,NaN,1.777882
141,Digne,Everton,58,32.000000,112,121.324557,3.5,3.791392,3.546460,3.626752,1.574290
123,van Aanholt,Crystal Palace,56,27.692308,108,104.357005,3.9,3.768447,3.822475,4.159606,1.592460
161,Chilwell,Leicester City,55,27.142857,114,101.277327,4.2,3.731270,3.259989,4.160144,1.591019
402,Jonny,Wolves,55,32.058824,109,118.301951,3.4,3.690153,4.491664,4.784239,1.573486
160,Maguire,Manchester Utd,53,34.687500,111,127.626388,3.2,3.679319,2.877657,3.379603,1.598194
204,Mendy,Manchester City,55,17.894737,68,65.799188,3.8,3.677013,3.712702,3.489595,1.567884
291,Stevens,Sheffield Utd,51,34.750000,139,126.859787,4.0,3.650641,4.184762,3.723424,1.616531
506,James,Chelsea,49,20.769231,54,74.474072,2.6,3.585789,2.914178,3.058013,1.619894
162,Evans,Leicester City,53,34.722222,125,124.397347,3.6,3.582644,2.238702,2.998182,1.556201
407,Sa√Øss,Wolves,47,31.250000,100,111.162580,3.2,3.557203,4.037238,4.315205,1.640815
203,Walker,Manchester City,56,26.285714,92,93.451698,3.5,3.555228,3.717555,3.544311,1.502358
42,Dunk,Brighton,48,33.142857,116,117.825069,3.5,3.555067,2.105852,3.267628,1.622659
293,O'Connell,Sheffield Utd,45,30.857143,108,107.925551,3.5,3.497587,2.676143,2.913198,1.648778
518,Cancelo,Manchester City,51,14.782609,34,51.699645,2.3,3.497329,3.494435,3.227568,1.548643
164,S√∂y√ºnc√º,Leicester City,50,34.285714,120,119.378264,3.5,3.481866,1.714508,2.859897,1.557138
359,Janmaat,Watford,40,8.000000,36,27.824866,4.5,3.478108,NaN,NaN,1.739054
295,Egan,Sheffield Utd,46,33.333333,130,115.900034,3.9,3.477001,5.828729,4.904707,1.621160
403,Coady,Wolves,51,35.483871,110,122.036959,3.1,3.439223,4.236433,4.164519,1.522914
6,Monreal,Arsenal,50,3.030303,10,10.388309,3.3,3.428142,NaN,NaN,1.533112
529,Tomori,Chelsea,42,15.000000,48,51.407281,3.2,3.427152,NaN,1.966214,1.672279
544,Garcia,Manchester City,45,10.000000,31,34.032112,3.1,3.403211,5.225226,4.726755,1.604289
225,Lindel√∂f,Manchester Utd,53,31.562500,101,106.940227,3.2,3.388205,2.727676,3.364786,1.471742
206,Zinchenko,Manchester City,52,16.785714,47,56.811046,2.8,3.384488,3.763843,3.771736,1.484196
336,Aurier,Tottenham,51,30.000000,114,101.274584,3.8,3.375819,4.091333,3.591000,1.494838
202,Laporte,Manchester City,63,12.857143,45,43.112716,3.5,3.353211,3.830902,3.598911,1.335951
294,Baldock,Sheffield Utd,50,35.384615,138,117.596480,3.9,3.323379,3.475407,3.279700,1.486260
226,Shaw,Manchester Utd,54,23.928571,67,79.148319,2.8,3.307691,3.613529,3.725764,1.423404

MIDFIELDERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
191,Salah,Liverpool,126,30.821918,225,212.132620,7.3,6.882525,7.575788,6.729770,1.938932
618,Fernandes,Manchester Utd,90,11.000000,99,72.807329,9.0,6.618848,7.112575,7.059028,2.206283
215,De Bruyne,Manchester City,108,33.235294,226,206.767321,6.8,6.221318,6.184559,6.463953,1.893087
214,Sterling,Manchester City,118,30.169492,178,177.137379,5.9,5.871408,7.780645,7.253246,1.709233
192,Man√©,Liverpool,122,32.063492,202,182.596669,6.3,5.694847,4.037132,4.438880,1.630430
342,Son,Tottenham,96,26.842105,153,136.343558,5.7,5.079466,5.647115,5.253791,1.639391
239,Martial,Manchester Utd,84,29.193548,181,147.533509,6.2,5.053634,7.237525,6.583081,1.743669
217,Mahrez,Manchester City,86,29.818182,164,146.037153,5.5,4.897587,6.080096,5.528239,1.670063
389,Antonio,West Ham,70,21.111111,95,102.600575,4.5,4.860027,9.745933,7.816765,1.836918
431,Pulisic,Chelsea,73,21.800000,109,105.535747,5.0,4.841089,4.949163,5.400672,1.791768
219,David Silva,Manchester City,73,25.102041,123,117.416766,4.9,4.677578,6.113778,5.588281,1.731249
113,Willian,Chelsea,74,34.255319,161,152.128283,4.7,4.441012,7.100021,6.631412,1.632548
344,Alli,Tottenham,83,24.166667,116,105.758999,4.8,4.376234,1.537888,3.189035,1.519013
150,Richarlison,Everton,82,32.978723,155,143.664619,4.7,4.356282,2.520108,3.456163,1.521280
171,Maddison,Leicester City,73,31.250000,125,128.424983,4.0,4.109599,2.798510,3.136869,1.521031
626,Bowen,West Ham,64,10.000000,36,39.205879,3.6,3.920588,4.545217,NaN,1.549748
29,Grealish,Aston Villa,59,33.250000,133,128.346432,4.0,3.860043,3.075690,2.957061,1.589155
114,Pedro,Chelsea,68,10.000000,31,38.344692,3.1,3.834469,1.364705,4.423272,1.470452
417,Traor√©,Wolves,56,33.783784,125,129.478743,3.7,3.832571,4.114045,3.571577,1.619557
218,Bernardo Silva,Manchester City,76,30.833333,111,116.093594,3.6,3.765198,4.221594,3.730821,1.365781
265,P√©rez,Leicester City,60,29.750000,119,109.803401,4.0,3.690871,2.625999,2.541694,1.506792
238,Pogba,Manchester Utd,83,12.941176,44,47.595374,3.4,3.677824,3.851497,3.689119,1.276591
463,Mount,Chelsea,61,34.857143,122,127.945783,3.5,3.670576,2.193213,2.525541,1.486173
172,Barnes,Leicester City,59,33.421053,127,122.389477,3.8,3.662047,2.732890,3.210592,1.507641
269,Shelvey,Newcastle Utd,49,22.857143,96,82.893555,4.2,3.626593,3.857691,3.929682,1.638328
500,Saint-Maximin,Newcastle Utd,54,23.243243,86,83.391353,3.7,3.587768,4.338655,4.734073,1.543929
320,Redmond,Southampton,62,28.750000,92,101.980455,3.2,3.547146,3.415801,3.476932,1.424568
525,Sarr,Watford,60,25.263158,96,88.651325,3.8,3.509115,2.998677,3.525187,1.432590
321,Ward-Prowse,Southampton,57,34.687500,111,121.569468,3.2,3.504705,3.441844,3.587995,1.467960
301,Fleck,Sheffield Utd,47,27.222222,98,95.210366,3.6,3.497524,2.066386,2.389136,1.613287
488,P√©p√©,Arsenal,89,28.055556,101,97.635667,3.6,3.480083,1.900514,2.712150,1.166527
421,Trossard,Brighton,58,29.117647,99,99.024141,3.4,3.400829,4.960769,3.997456,1.412117
117,Barkley,Chelsea,56,19.032258,59,63.552403,3.1,3.339194,3.597278,3.860026,1.411067
266,Almir√≥n,Newcastle Utd,58,32.903226,102,109.515340,3.1,3.328407,3.376299,3.766817,1.382046
283,Buend√≠a,Norwich City,60,34.285714,96,112.758302,2.8,3.288784,2.810887,2.570219,1.342640
133,Zaha,Crystal Palace,66,34.545455,114,113.371135,3.3,3.281796,3.053108,3.244228,1.277437
151,Sigurdsson,Everton,73,31.851852,86,103.965605,2.7,3.264036,2.991313,3.114000,1.208074
97,McNeil,Burnley,60,35.151515,116,113.733650,3.3,3.235526,3.007465,3.358739,1.320898
368,Doucour√©,Watford,55,33.548387,104,107.379517,3.1,3.200736,2.766488,2.841901,1.364798
287,Cantwell,Norwich City,45,34.193548,106,109.113793,3.1,3.191064,1.171872,1.567831,1.504282

FORWARDS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
233,Rashford,Manchester Utd,90,27.931034,162,157.595507,5.8,5.642308,5.395422,5.358386,1.880769
166,Vardy,Leicester City,98,32.063492,202,178.430435,6.3,5.564910,7.670713,6.387197,1.777645
409,Jim√©nez,Wolves,81,34.901961,178,173.510435,5.1,4.971366,4.390713,4.466812,1.746760
11,Aubameyang,Arsenal,109,33.214286,186,163.640290,5.6,4.926804,5.395686,5.267403,1.492286
210,Ag√ºero,Manchester City,117,24.000000,132,117.090435,5.5,4.878768,NaN,4.342392,1.426321
187,Firmino,Liverpool,93,35.250000,141,161.440580,4.0,4.579875,3.283173,3.207870,1.501800
460,Abraham,Chelsea,74,31.063830,146,141.730435,4.7,4.562555,3.236286,3.341049,1.677229
313,Ings,Southampton,75,35.098039,179,159.310145,5.1,4.539004,4.692460,4.509962,1.657410
211,Jesus,Manchester City,98,31.219512,128,137.660580,4.1,4.409440,7.954095,5.740430,1.408544
338,Kane,Tottenham,109,25.833333,124,111.150145,4.8,4.302586,4.052460,3.989001,1.303216
278,Pukki,Norwich City,64,34.000000,136,144.055217,4.0,4.236918,1.928690,2.144315,1.674789
362,Deeney,Watford,62,23.846154,93,97.310145,3.9,4.080748,5.719127,4.534048,1.638868
147,Calvert-Lewin,Everton,62,32.972973,122,126.705072,3.7,3.842695,2.269563,3.261472,1.543263
91,Wood,Burnley,61,28.974359,113,110.705072,3.9,3.820795,1.949549,2.769651,1.546994
410,Jota,Wolves,60,30.606061,101,115.115217,3.3,3.761190,3.095357,3.515712,1.535499
68,King,Bournemouth,61,23.055556,83,86.260290,3.6,3.741410,4.272617,3.957500,1.514853
502,Maupay,Brighton,57,33.823529,115,124.750145,3.4,3.688265,2.227127,2.759604,1.544844
12,Lacazette,Arsenal,92,26.842105,102,92.625362,3.8,3.450749,3.900056,3.800112,1.137678
67,Callum Wilson,Bournemouth,74,31.818182,105,109.120290,3.3,3.429495,3.031834,3.127967,1.260707
457,Haller,West Ham,68,29.117647,99,99.715217,3.4,3.424563,1.834451,2.919256,1.313260
363,Deulofeu,Watford,61,28.387097,88,95.045362,3.1,3.348189,NaN,2.018061,1.355642
468,Ayew,Crystal Palace,51,34.166667,123,113.310145,3.6,3.316394,2.325793,2.532193,1.468524
303,McGoldrick,Sheffield Utd,54,25.833333,62,83.910145,2.4,3.248135,6.216260,4.066845,1.397775
428,Wesley,Aston Villa,54,20.937500,67,67.725072,3.2,3.234630,NaN,NaN,1.391963
110,Giroud,Chelsea,67,14.857143,52,46.905072,3.5,3.157072,3.029563,3.372609,1.219683
167,Iheanacho,Leicester City,57,18.235294,62,57.420290,3.4,3.148855,2.898253,2.805212,1.318910
90,Barnes,Burnley,61,19.062500,61,59.620000,3.2,3.127607,NaN,NaN,1.266331
315,Long,Southampton,46,23.600000,59,67.115217,2.5,2.843865,1.348690,1.870647,1.325959
501,McBurnie,Sheffield Utd,55,32.800000,82,92.605072,2.5,2.823325,3.361691,3.130783,1.203870
554,Gayle,Newcastle Utd,50,17.307692,45,46.710145,2.6,2.698808,4.883571,4.585800,1.206944
130,Wickham,Crystal Palace,43,6.000000,15,16.105072,2.5,2.684179,NaN,NaN,1.294426
70,Mousset,Sheffield Utd,44,28.620690,83,76.220290,2.9,2.663119,2.478253,2.385801,1.269592
451,Rodriguez,Burnley,57,32.758621,95,85.430145,2.9,2.607868,5.446078,4.503543,1.092316
129,Benteke,Crystal Palace,57,23.333333,42,59.805072,1.8,2.563075,3.549549,3.510398,1.073554
13,Nketiah,Arsenal,43,11.000000,22,27.600000,2.0,2.509091,1.100000,2.440476,1.209991
92,Vydra,Burnley,51,16.363636,36,40.805072,2.2,2.493643,2.329563,2.721438,1.104204
466,Joelinton,Newcastle Utd,55,35.714286,75,88.510145,2.1,2.478284,1.752460,1.973786,1.056744
504,Martinelli,Arsenal,43,13.928571,39,34.505072,2.8,2.477287,NaN,NaN,1.194654
613,Samatta,Aston Villa,52,10.909091,24,26.100000,2.2,2.392500,1.820000,2.034615,1.049181
234,Greenwood,Manchester Utd,49,28.125000,90,65.605072,3.2,2.332625,4.146996,3.922606,1.053772

Below we compile a list sorting players based on a given metric (irrespective of position).

In [9]:
metric = 'adjusted points per game'

display(df[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
191,Salah,Liverpool,126,30.821918,225,212.132620,7.3,6.882525,7.575788,6.729770,1.938932
618,Fernandes,Manchester Utd,90,11.000000,99,72.807329,9.0,6.618848,7.112575,7.059028,2.206283
215,De Bruyne,Manchester City,108,33.235294,226,206.767321,6.8,6.221318,6.184559,6.463953,1.893087
214,Sterling,Manchester City,118,30.169492,178,177.137379,5.9,5.871408,7.780645,7.253246,1.709233
192,Man√©,Liverpool,122,32.063492,202,182.596669,6.3,5.694847,4.037132,4.438880,1.630430
233,Rashford,Manchester Utd,90,27.931034,162,157.595507,5.8,5.642308,5.395422,5.358386,1.880769
166,Vardy,Leicester City,98,32.063492,202,178.430435,6.3,5.564910,7.670713,6.387197,1.777645
182,Alexander-Arnold,Liverpool,78,35.000000,196,181.186842,5.6,5.176767,2.956475,3.641013,1.853580
342,Son,Tottenham,96,26.842105,153,136.343558,5.7,5.079466,5.647115,5.253791,1.639391
239,Martial,Manchester Utd,84,29.193548,181,147.533509,6.2,5.053634,7.237525,6.583081,1.743669
409,Jim√©nez,Wolves,81,34.901961,178,173.510435,5.1,4.971366,4.390713,4.466812,1.746760
11,Aubameyang,Arsenal,109,33.214286,186,163.640290,5.6,4.926804,5.395686,5.267403,1.492286
217,Mahrez,Manchester City,86,29.818182,164,146.037153,5.5,4.897587,6.080096,5.528239,1.670063
210,Ag√ºero,Manchester City,117,24.000000,132,117.090435,5.5,4.878768,NaN,4.342392,1.426321
389,Antonio,West Ham,70,21.111111,95,102.600575,4.5,4.860027,9.745933,7.816765,1.836918
431,Pulisic,Chelsea,73,21.800000,109,105.535747,5.0,4.841089,4.949163,5.400672,1.791768
401,Doherty,Wolves,65,32.826087,151,156.382906,4.6,4.763983,4.376757,5.172229,1.868588
219,David Silva,Manchester City,73,25.102041,123,117.416766,4.9,4.677578,6.113778,5.588281,1.731249
181,Robertson,Liverpool,70,33.000000,165,151.529147,5.0,4.591792,3.459070,3.391348,1.735534
187,Firmino,Liverpool,93,35.250000,141,161.440580,4.0,4.579875,3.283173,3.207870,1.501800
103,Alonso,Chelsea,61,14.909091,82,68.093969,5.5,4.567278,2.216987,3.747535,1.849237
460,Abraham,Chelsea,74,31.063830,146,141.730435,4.7,4.562555,3.236286,3.341049,1.677229
313,Ings,Southampton,75,35.098039,179,159.310145,5.1,4.539004,4.692460,4.509962,1.657410
340,Lloris,Tottenham,53,18.043478,83,80.645967,4.6,4.469535,4.251266,4.493724,1.941442
113,Willian,Chelsea,74,34.255319,161,152.128283,4.7,4.441012,7.100021,6.631412,1.632548
105,Azpilicueta,Chelsea,61,33.142857,116,146.388427,3.5,4.416892,3.628976,4.421621,1.788347
211,Jesus,Manchester City,98,31.219512,128,137.660580,4.1,4.409440,7.954095,5.740430,1.408544
344,Alli,Tottenham,83,24.166667,116,105.758999,4.8,4.376234,1.537888,3.189035,1.519013
411,Patr√≠cio,Wolves,53,34.878049,143,152.537547,4.1,4.373454,3.817550,4.051800,1.899707
150,Richarlison,Everton,82,32.978723,155,143.664619,4.7,4.356282,2.520108,3.456163,1.521280
338,Kane,Tottenham,109,25.833333,124,111.150145,4.8,4.302586,4.052460,3.989001,1.303216
297,Lundstram,Sheffield Utd,46,30.681818,135,131.637243,4.4,4.290399,1.950203,2.972689,2.000409
278,Pukki,Norwich City,64,34.000000,136,144.055217,4.0,4.236918,1.928690,2.144315,1.674789
471,Henderson,Sheffield Utd,52,32.978723,155,139.288386,4.7,4.223583,4.739600,4.541944,1.852164
183,van Dijk,Liverpool,65,34.791667,167,143.941355,4.8,4.137237,3.099781,3.387201,1.622758
93,Pope,Burnley,50,34.782609,160,143.393849,4.6,4.122573,4.168773,4.231405,1.843671
171,Maddison,Leicester City,73,31.250000,125,128.424983,4.0,4.109599,2.798510,3.136869,1.521031
362,Deeney,Watford,62,23.846154,93,97.310145,3.9,4.080748,5.719127,4.534048,1.638868
168,Schmeichel,Leicester City,55,35.238095,148,142.994669,4.2,4.057957,3.795290,4.675402,1.730319
159,Pereira,Leicester City,62,27.954545,123,111.928060,4.4,4.003931,NaN,4.223640,1.608017

In [10]:
metric = 'form 10'

display(df[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
389,Antonio,West Ham,70,21.111111,95,102.600575,4.5,4.860027,9.745933,7.816765,1.836918
214,Sterling,Manchester City,118,30.169492,178,177.137379,5.9,5.871408,7.780645,7.253246,1.709233
618,Fernandes,Manchester Utd,90,11.000000,99,72.807329,9.0,6.618848,7.112575,7.059028,2.206283
191,Salah,Liverpool,126,30.821918,225,212.132620,7.3,6.882525,7.575788,6.729770,1.938932
113,Willian,Chelsea,74,34.255319,161,152.128283,4.7,4.441012,7.100021,6.631412,1.632548
239,Martial,Manchester Utd,84,29.193548,181,147.533509,6.2,5.053634,7.237525,6.583081,1.743669
215,De Bruyne,Manchester City,108,33.235294,226,206.767321,6.8,6.221318,6.184559,6.463953,1.893087
166,Vardy,Leicester City,98,32.063492,202,178.430435,6.3,5.564910,7.670713,6.387197,1.777645
211,Jesus,Manchester City,98,31.219512,128,137.660580,4.1,4.409440,7.954095,5.740430,1.408544
219,David Silva,Manchester City,73,25.102041,123,117.416766,4.9,4.677578,6.113778,5.588281,1.731249
217,Mahrez,Manchester City,86,29.818182,164,146.037153,5.5,4.897587,6.080096,5.528239,1.670063
431,Pulisic,Chelsea,73,21.800000,109,105.535747,5.0,4.841089,4.949163,5.400672,1.791768
233,Rashford,Manchester Utd,90,27.931034,162,157.595507,5.8,5.642308,5.395422,5.358386,1.880769
11,Aubameyang,Arsenal,109,33.214286,186,163.640290,5.6,4.926804,5.395686,5.267403,1.492286
342,Son,Tottenham,96,26.842105,153,136.343558,5.7,5.079466,5.647115,5.253791,1.639391
401,Doherty,Wolves,65,32.826087,151,156.382906,4.6,4.763983,4.376757,5.172229,1.868588
295,Egan,Sheffield Utd,46,33.333333,130,115.900034,3.9,3.477001,5.828729,4.904707,1.621160
402,Jonny,Wolves,55,32.058824,109,118.301951,3.4,3.690153,4.491664,4.784239,1.573486
500,Saint-Maximin,Newcastle Utd,54,23.243243,86,83.391353,3.7,3.587768,4.338655,4.734073,1.543929
544,Garcia,Manchester City,45,10.000000,31,34.032112,3.1,3.403211,5.225226,4.726755,1.604289
168,Schmeichel,Leicester City,55,35.238095,148,142.994669,4.2,4.057957,3.795290,4.675402,1.730319
554,Gayle,Newcastle Utd,50,17.307692,45,46.710145,2.6,2.698808,4.883571,4.585800,1.206944
14,Leno,Arsenal,48,30.000000,114,114.594261,3.8,3.819809,NaN,4.581548,1.743496
471,Henderson,Sheffield Utd,52,32.978723,155,139.288386,4.7,4.223583,4.739600,4.541944,1.852164
362,Deeney,Watford,62,23.846154,93,97.310145,3.9,4.080748,5.719127,4.534048,1.638868
313,Ings,Southampton,75,35.098039,179,159.310145,5.1,4.539004,4.692460,4.509962,1.657410
451,Rodriguez,Burnley,57,32.758621,95,85.430145,2.9,2.607868,5.446078,4.503543,1.092316
340,Lloris,Tottenham,53,18.043478,83,80.645967,4.6,4.469535,4.251266,4.493724,1.941442
409,Jim√©nez,Wolves,81,34.901961,178,173.510435,5.1,4.971366,4.390713,4.466812,1.746760
192,Man√©,Liverpool,122,32.063492,202,182.596669,6.3,5.694847,4.037132,4.438880,1.630430
114,Pedro,Chelsea,68,10.000000,31,38.344692,3.1,3.834469,1.364705,4.423272,1.470452
105,Azpilicueta,Chelsea,61,33.142857,116,146.388427,3.5,4.416892,3.628976,4.421621,1.788347
220,Foden,Manchester City,55,20.000000,58,56.226201,2.9,2.811310,4.041787,4.374043,1.198747
210,Ag√ºero,Manchester City,117,24.000000,132,117.090435,5.5,4.878768,NaN,4.342392,1.426321
318,McCarthy,Southampton,45,25.135135,93,93.025901,3.7,3.701030,3.859610,4.327876,1.744682
407,Sa√Øss,Wolves,47,31.250000,100,111.162580,3.2,3.557203,4.037238,4.315205,1.640815
15,√ñzil,Arsenal,70,18.275862,53,54.370090,2.9,2.974967,NaN,4.291946,1.124432
93,Pope,Burnley,50,34.782609,160,143.393849,4.6,4.122573,4.168773,4.231405,1.843671
159,Pereira,Leicester City,62,27.954545,123,111.928060,4.4,4.003931,NaN,4.223640,1.608017
569,Jones,Liverpool,45,3.928571,11,10.841771,2.8,2.759723,4.275350,4.172817,1.300946

In [11]:
metric = 'valuePoints metric'

display(df[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'form 10','valuePoints metric']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,form 10,valuePoints metric
id,,,,,,,,,,,
618,Fernandes,Manchester Utd,90,11.000000,99,72.807329,9.0,6.618848,7.112575,7.059028,2.206283
297,Lundstram,Sheffield Utd,46,30.681818,135,131.637243,4.4,4.290399,1.950203,2.972689,2.000409
340,Lloris,Tottenham,53,18.043478,83,80.645967,4.6,4.469535,4.251266,4.493724,1.941442
191,Salah,Liverpool,126,30.821918,225,212.132620,7.3,6.882525,7.575788,6.729770,1.938932
411,Patr√≠cio,Wolves,53,34.878049,143,152.537547,4.1,4.373454,3.817550,4.051800,1.899707
215,De Bruyne,Manchester City,108,33.235294,226,206.767321,6.8,6.221318,6.184559,6.463953,1.893087
233,Rashford,Manchester Utd,90,27.931034,162,157.595507,5.8,5.642308,5.395422,5.358386,1.880769
341,Gazzaniga,Tottenham,41,18.125000,58,68.925692,3.2,3.802797,NaN,1.653034,1.878067
401,Doherty,Wolves,65,32.826087,151,156.382906,4.6,4.763983,4.376757,5.172229,1.868588
182,Alexander-Arnold,Liverpool,78,35.000000,196,181.186842,5.6,5.176767,2.956475,3.641013,1.853580
471,Henderson,Sheffield Utd,52,32.978723,155,139.288386,4.7,4.223583,4.739600,4.541944,1.852164
103,Alonso,Chelsea,61,14.909091,82,68.093969,5.5,4.567278,2.216987,3.747535,1.849237
93,Pope,Burnley,50,34.782609,160,143.393849,4.6,4.122573,4.168773,4.231405,1.843671
389,Antonio,West Ham,70,21.111111,95,102.600575,4.5,4.860027,9.745933,7.816765,1.836918
405,Boly,Wolves,48,19.130435,88,75.664129,4.6,3.955170,3.997245,4.077460,1.805280
431,Pulisic,Chelsea,73,21.800000,109,105.535747,5.0,4.841089,4.949163,5.400672,1.791768
105,Azpilicueta,Chelsea,61,33.142857,116,146.388427,3.5,4.416892,3.628976,4.421621,1.788347
208,Otamendi,Manchester City,48,22.857143,80,89.349901,3.5,3.909058,3.435978,3.098629,1.784233
440,Angeli√±o,Manchester City,46,6.111111,11,23.302475,1.8,3.813132,NaN,NaN,1.777882
166,Vardy,Leicester City,98,32.063492,202,178.430435,6.3,5.564910,7.670713,6.387197,1.777645
603,Reina,Aston Villa,42,9.117647,31,32.693717,3.4,3.585763,3.698057,3.409237,1.749673
409,Jim√©nez,Wolves,81,34.901961,178,173.510435,5.1,4.971366,4.390713,4.466812,1.746760
318,McCarthy,Southampton,45,25.135135,93,93.025901,3.7,3.701030,3.859610,4.327876,1.744682
131,Guaita,Crystal Palace,49,31.951220,131,123.337223,4.1,3.860173,2.839173,3.678243,1.743848
239,Martial,Manchester Utd,84,29.193548,181,147.533509,6.2,5.053634,7.237525,6.583081,1.743669
14,Leno,Arsenal,48,30.000000,114,114.594261,3.8,3.819809,NaN,4.581548,1.743496
359,Janmaat,Watford,40,8.000000,36,27.824866,4.5,3.478108,NaN,NaN,1.739054
181,Robertson,Liverpool,70,33.000000,165,151.529147,5.0,4.591792,3.459070,3.391348,1.735534
219,David Silva,Manchester City,73,25.102041,123,117.416766,4.9,4.677578,6.113778,5.588281,1.731249
185,Matip,Liverpool,52,9.069767,39,35.790812,4.3,3.946167,NaN,3.945964,1.730508
168,Schmeichel,Leicester City,55,35.238095,148,142.994669,4.2,4.057957,3.795290,4.675402,1.730319
214,Sterling,Manchester City,118,30.169492,178,177.137379,5.9,5.871408,7.780645,7.253246,1.709233
122,Wan-Bissaka,Manchester Utd,55,31.666667,114,125.920055,3.6,3.976423,3.280610,4.022225,1.695552
235,de Gea,Manchester Utd,53,35.000000,126,135.605004,3.6,3.874429,3.392440,3.881571,1.682944
460,Abraham,Chelsea,74,31.063830,146,141.730435,4.7,4.562555,3.236286,3.341049,1.677229
278,Pukki,Norwich City,64,34.000000,136,144.055217,4.0,4.236918,1.928690,2.144315,1.674789
529,Tomori,Chelsea,42,15.000000,48,51.407281,3.2,3.427152,NaN,1.966214,1.672279
217,Mahrez,Manchester City,86,29.818182,164,146.037153,5.5,4.897587,6.080096,5.528239,1.670063
494,Ramsdale,Bournemouth,45,33.636364,111,118.469997,3.3,3.522081,3.086736,2.931804,1.660325
313,Ings,Southampton,75,35.098039,179,159.310145,5.1,4.539004,4.692460,4.509962,1.657410