# Player evaluation

Here we compare players based on their adjusted points. Also, we calculate some useful metrics using the adjusted points to further evaluate player performance in FPL.

In [1]:
# recent gameweek
gameweek = 21

In [2]:
# import basic libraries
import pandas as pd
import numpy as np

pd.set_option('max_columns',100)

In [3]:
# fetch FPL data
filepath = '../data/data_week' + str(gameweek) + '.csv'
df = pd.read_csv(filepath, index_col=0, encoding='latin-1')

# fetch team data
filepath = '../data/fbref/team_stats_week' + str(gameweek) + '.csv'
teamStats = pd.read_csv(filepath, index_col=0, encoding='latin-1')

# fetch player stats data
filepath = '../data/fbref/player_stats_week' + str(gameweek) + '.csv'
playerStats = pd.read_csv(filepath, index_col=0, skiprows=1, encoding='latin-1')

## Value and value points

Here we calculate two interesting metrics: 'value' and 'value points'. 

Value is simply adjusted points per game divided by the cost of the player. Essentially, this measures how many 'points per pound(/euro/whatever)' has the player gained on an average game week. 

The value points is calculated as the geometric mean of a players adjusted points per game and value. Essentially, in FPL we want to gain the maximum possible amount of points. However, we are restrained by a limited budget, so that in practice we cannot just pick all the best players. Then, we would like to have a squad of players that give the most points given our budget. Thus, we would like to pick players that have high value ('bang for buck'). However, often the players with highest value are very cheap players who somewhat overperform relative to their price. Picking a squad full of these players might leave a part of our budget unused. Calculating the geometric mean of adjusted points and value allows us to weigh both aspects equally, i.e. we want players that both gain a lot of points but also have good value. For example, this metric values equally two players, where one has twice the points per game of the other who in turn has twice the value of the other.

In [4]:
# value = expected points / cost
df['value'] = df['adjusted points per game'] / (df['now_cost'] / 10.0)
# geometric mean of 'adjusted points per game' and 'value'
df['valuePoints metric'] = np.sqrt(df['adjusted points per game'] * df['value'])

In [5]:
# assign proper team names for each player
team_names = np.sort(teamStats['Squad'])
df['team_name'] = team_names[df['team']-1]

In [6]:
# save data
filepath = '../data/data_week' + str(gameweek) + str('.csv')
df.to_csv(filepath)

In [7]:
goalkeepers = df['element_type'] == 1
defenders = df['element_type'] == 2
midfielders = df['element_type'] == 3
forwards = df['element_type'] == 4

minGames = df['games played'] >= 3

## Player evaluation

Below we compile lists for each position sorting players based on a given metric.

In [8]:
#metric = 'valuePoints metric'
metric = 'adjusted points per game'
#metric = 'form 5'

numberToShow = 40

print('GOALKEEPERS')
display(df[goalkeepers & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'valuePoints metric']].head(numberToShow))
print('DEFENDERS')
display(df[defenders & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'valuePoints metric']].head(numberToShow))
print('MIDFIELDERS')
display(df[midfielders & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'valuePoints metric']].head(numberToShow))
print('FORWARDS')
display(df[forwards & minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'valuePoints metric']].head(numberToShow))

GOALKEEPERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,valuePoints metric
id,,,,,,,,,,
411,PatrÃÂ­cio,Wolves,52,20.810811,77,90.619521,3.7,4.354445,3.982564,1.909550
388,Fabianski,West Ham,49,9.019608,46,36.145347,5.1,4.007419,5.475934,1.810367
131,Guaita,Crystal Palace,51,18.809524,79,74.832547,4.2,3.978439,4.438857,1.761682
235,de Gea,Manchester Utd,54,21.000000,63,82.949296,3.0,3.949966,3.302529,1.699795
340,Lloris,Tottenham,53,6.969697,23,27.238502,3.3,3.908133,NaN,1.697584
47,Ryan,Brighton,48,20.769231,81,80.720757,3.9,3.886555,3.972144,1.773962
14,Leno,Arsenal,50,20.833333,75,78.970920,3.6,3.790604,4.452262,1.695210
471,Henderson,Sheffield Utd,49,20.250000,81,76.554539,4.0,3.780471,3.877531,1.707843
494,Ramsdale,Bournemouth,47,20.810811,77,77.926756,3.7,3.744532,3.393762,1.727224
168,Schmeichel,Leicester City,54,21.000000,84,78.142420,4.0,3.721068,2.873480,1.601293
341,Gazzaniga,Tottenham,46,14.814815,40,54.711791,2.7,3.693046,3.006453,1.721892
93,Pope,Burnley,47,20.833333,75,76.276328,3.6,3.661264,3.776691,1.688815
262,Dubravka,Newcastle Utd,50,20.789474,79,74.706497,3.8,3.593477,4.026005,1.607052
366,Foster,Watford,48,20.769231,81,73.516973,3.9,3.539706,4.250720,1.615647
280,Krul,Norwich City,45,18.709677,58,65.254264,3.1,3.487728,2.428143,1.644131
189,Alisson,Liverpool,60,12.000000,42,41.128914,3.5,3.427409,3.712251,1.399234
318,McCarthy,Southampton,43,10.967742,34,37.400232,3.1,3.410021,4.534771,1.644458
212,Ederson,Manchester City,60,17.812500,57,59.086891,3.2,3.317159,1.050787,1.354224
526,AdriÃÂ¡n,Liverpool,41,10.000000,25,32.940762,2.5,3.294076,NaN,1.626828
111,Kepa,Chelsea,55,20.769231,54,68.272604,2.6,3.287199,3.845799,1.401667
148,Pickford,Everton,53,21.290323,66,69.209159,3.1,3.250733,3.901381,1.412028
213,Bravo,Manchester City,48,3.928571,11,12.753500,2.8,3.246345,3.390345,1.481747
553,Martin,West Ham,41,4.000000,18,12.725328,4.5,3.181332,1.679911,1.571148
319,Gunn,Southampton,43,10.000000,29,31.394329,2.9,3.139433,NaN,1.513969
450,Roberto,West Ham,44,8.181818,18,23.574534,2.2,2.881332,1.476035,1.373621
94,Heaton,Aston Villa,45,19.666667,59,53.799558,3.0,2.735571,2.984948,1.289560

DEFENDERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,valuePoints metric
id,,,,,,,,,,
182,Alexander-Arnold,Liverpool,75,20.000000,112,115.112599,5.6,5.755630,6.628820,2.101659
181,Robertson,Liverpool,70,20.000000,98,104.520169,4.9,5.226008,6.531925,1.975246
297,Lundstram,Sheffield Utd,51,20.000000,98,97.381847,4.9,4.869092,3.326310,2.156070
401,Doherty,Wolves,61,19.210526,73,85.111198,3.8,4.430446,4.732070,1.793835
185,Matip,Liverpool,52,6.956522,32,30.289225,4.6,4.354076,NaN,1.909389
103,Alonso,Chelsea,60,7.966102,47,34.580472,5.9,4.340953,6.851449,1.772187
183,van Dijk,Liverpool,64,20.000000,92,84.781523,4.6,4.239076,4.510940,1.675642
105,Azpilicueta,Chelsea,58,19.310345,56,77.792391,2.9,4.028535,7.180607,1.672758
405,Boly,Wolves,48,8.095238,34,32.144863,4.2,3.970836,NaN,1.812430
208,Otamendi,Manchester City,50,13.142857,46,52.171179,3.5,3.969546,3.067990,1.775235
159,Pereira,Leicester City,64,20.000000,92,78.749222,4.6,3.937461,1.296511,1.556418
518,Cancelo,Manchester City,52,7.000000,21,26.851690,3.0,3.835956,4.158130,1.682178
511,SidibÃÂ©,Everton,54,13.076923,51,49.847939,3.9,3.811901,4.451641,1.640381
161,Chilwell,Leicester City,57,17.045455,75,64.801807,4.4,3.801706,1.683559,1.592359
164,SÃÂ¶yÃÂ¼ncÃÂ¼,Leicester City,51,20.250000,81,76.753299,4.0,3.790286,2.642387,1.678367
160,Maguire,Manchester Utd,52,20.869565,48,78.250853,2.3,3.749520,4.269780,1.644273
162,Evans,Leicester City,53,20.975610,86,78.558969,4.1,3.745253,2.114833,1.626834
186,Lovren,Liverpool,53,8.000000,16,29.475717,2.0,3.684465,NaN,1.600429
440,AngeliÃÂ±o,Manchester City,47,6.111111,11,22.472996,1.8,3.677399,NaN,1.696258
293,O'Connell,Sheffield Utd,46,20.909091,69,76.195292,3.3,3.644123,3.768227,1.699081
291,Stevens,Sheffield Utd,51,20.810811,77,75.493031,3.7,3.627587,2.688255,1.606323
294,Baldock,Sheffield Utd,50,21.162791,91,76.388241,4.3,3.609554,2.862268,1.614242
203,Walker,Manchester City,58,16.875000,54,60.560112,3.2,3.588747,3.595693,1.490146
529,Tomori,Chelsea,47,13.823529,47,49.348759,3.4,3.569910,3.447766,1.646677
163,Fuchs,Leicester City,43,6.000000,21,21.197834,3.5,3.532972,4.483081,1.703751
122,Wan-Bissaka,Manchester Utd,53,17.916667,43,63.281435,2.4,3.531987,3.726486,1.534197
206,Zinchenko,Manchester City,52,8.965517,26,31.030244,2.9,3.461066,3.959559,1.517778
42,Dunk,Brighton,47,18.974359,74,65.485817,3.9,3.451280,4.822489,1.591957
84,Tarkowski,Burnley,51,21.176471,72,73.075094,3.4,3.450768,3.662988,1.528026
486,CÃÂ©dric,Southampton,48,12.857143,36,44.264138,2.8,3.442766,4.271782,1.571401
141,Digne,Everton,57,20.000000,60,68.771866,3.0,3.438593,4.065662,1.440268
6,Monreal,Arsenal,50,3.030303,10,10.404861,3.3,3.433604,NaN,1.535554
336,Aurier,Tottenham,51,16.176471,55,55.236868,3.4,3.414643,2.418808,1.512029
128,Kelly,Crystal Palace,44,15.789474,60,53.671348,3.8,3.399185,3.290885,1.620498
359,Janmaat,Watford,41,8.000000,36,26.854090,4.5,3.356761,NaN,1.657786
204,Mendy,Manchester City,55,9.062500,29,30.395385,3.2,3.353974,3.608237,1.430139
506,James,Chelsea,50,10.000000,20,33.398806,2.0,3.339881,3.113127,1.493640
184,Gomez,Liverpool,52,11.142857,39,37.062563,3.5,3.326127,4.337498,1.458603
107,Emerson,Chelsea,55,12.000000,18,39.890838,1.5,3.324237,4.068490,1.417459
402,Jonny,Wolves,54,19.600000,49,65.019311,2.5,3.317312,1.907691,1.427544

MIDFIELDERS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,valuePoints metric
id,,,,,,,,,,
191,Salah,Liverpool,123,16.901408,120,116.027963,7.1,6.864988,8.807730,1.957434
192,ManÃÂ©,Liverpool,123,18.918919,140,126.424410,7.4,6.682433,7.790412,1.905382
215,De Bruyne,Manchester City,106,20.142857,141,124.898446,7.0,6.200632,5.054441,1.904509
214,Sterling,Manchester City,118,20.000000,110,113.468851,5.5,5.673443,3.977805,1.651603
239,Martial,Manchester Utd,79,15.000000,81,72.774554,5.4,4.851637,4.097451,1.726135
171,Maddison,Leicester City,77,19.807692,103,94.338590,5.2,4.762725,3.291950,1.716367
217,Mahrez,Manchester City,84,17.115385,89,78.451347,5.2,4.583674,5.144131,1.581518
431,Pulisic,Chelsea,70,15.909091,70,72.466475,4.4,4.555036,2.665095,1.721642
344,Alli,Tottenham,88,13.888889,75,62.073649,5.4,4.469303,3.606063,1.506602
219,David Silva,Manchester City,74,16.000000,80,70.942969,5.0,4.433936,1.281438,1.629947
29,Grealish,Aston Villa,64,19.183673,94,82.072228,4.9,4.278233,4.768237,1.691120
150,Richarlison,Everton,80,20.851064,98,86.975008,4.7,4.171250,4.451319,1.474760
113,Willian,Chelsea,72,20.000000,86,82.780279,4.3,4.139014,4.431085,1.542519
417,TraorÃÂ©,Wolves,56,19.761905,83,79.724090,4.2,4.034231,4.157559,1.704774
287,Cantwell,Norwich City,49,21.000000,84,81.926614,4.0,3.901267,4.989857,1.762413
265,PÃÂ©rez,Leicester City,60,18.043478,83,70.202134,4.6,3.890721,6.797775,1.588380
463,Mount,Chelsea,63,21.025641,82,81.730908,3.9,3.887202,2.301157,1.548698
218,Bernardo Silva,Manchester City,78,18.000000,72,68.882803,4.0,3.826822,1.990713,1.370222
283,BuendÃÂ­a,Norwich City,60,20.909091,69,79.923622,3.3,3.822434,6.152588,1.560502
238,Pogba,Manchester Utd,84,7.083333,17,26.640352,2.4,3.760991,2.670018,1.297665
321,Ward-Prowse,Southampton,59,20.882353,71,77.672667,3.4,3.719536,2.854224,1.531309
114,Pedro,Chelsea,68,5.000000,10,18.321962,2.0,3.664392,1.356389,1.405230
243,James,Manchester Utd,61,20.000000,72,71.345621,3.6,3.567281,2.851239,1.444350
172,Barnes,Leicester City,59,18.750000,60,66.840079,3.2,3.564804,3.491623,1.467607
196,Keita,Liverpool,58,5.000000,20,17.815703,4.0,3.563141,2.376106,1.479514
448,Tielemans,Leicester City,63,19.736842,75,70.170831,3.8,3.555322,2.102033,1.416474
301,Fleck,Sheffield Utd,49,18.055556,65,64.181143,3.6,3.554648,3.615446,1.605826
269,Shelvey,Newcastle Utd,51,13.863636,61,49.218503,4.4,3.550187,2.773216,1.572049
415,Moutinho,Wolves,54,20.857143,73,72.960011,3.5,3.498083,3.723689,1.505335
488,PÃÂ©pÃÂ©,Arsenal,91,18.125000,58,63.312998,3.2,3.493131,4.015074,1.157962
30,El Ghazi,Aston Villa,55,17.941176,61,62.155440,3.4,3.464402,2.413260,1.477226
342,Son,Tottenham,98,15.892857,89,54.504490,5.6,3.429496,-2.885154,1.095512
320,Redmond,Southampton,62,19.230769,50,65.697274,2.6,3.416258,4.144561,1.372002
389,Antonio,West Ham,69,8.965517,26,30.473338,2.9,3.398949,3.520211,1.293958
421,Trossard,Brighton,58,14.857143,52,50.342319,3.5,3.388425,2.879109,1.406967
49,GroÃÂ,Brighton,64,17.812500,57,59.843860,3.2,3.359655,3.840337,1.328020
31,McGinn,Aston Villa,55,17.941176,61,60.109225,3.4,3.350350,0.185830,1.428594
266,AlmirÃÂ³n,Newcastle Utd,58,20.000000,54,66.000620,2.7,3.300031,4.369930,1.370263
390,Felipe Anderson,West Ham,66,17.741935,55,56.814467,3.1,3.202270,3.962354,1.246482
525,Sarr,Watford,62,13.823529,47,44.194709,3.4,3.197064,4.559865,1.283972

FORWARDS

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,valuePoints metric
id,,,,,,,,,,
166,Vardy,Leicester City,101,18.947368,144,117.115538,7.6,6.181098,4.504531,1.944934
233,Rashford,Manchester Utd,91,21.034483,122,120.715538,5.8,5.738935,3.850116,1.902439
460,Abraham,Chelsea,78,19.827586,115,102.092430,5.8,5.149010,3.058322,1.843641
11,Aubameyang,Arsenal,108,20.847458,123,106.569323,5.9,5.111862,3.435784,1.555490
409,JimÃÂ©nez,Wolves,75,21.200000,106,105.838645,5.0,4.992389,4.543627,1.822963
210,AgÃÂ¼ero,Manchester City,117,14.909091,82,73.869323,5.5,4.954650,1.768531,1.448505
167,Iheanacho,Leicester City,57,5.000000,30,24.546215,6.0,4.909243,3.054331,2.056256
313,Ings,Southampton,67,21.071429,118,102.123108,5.6,4.846520,6.057166,1.872374
278,Pukki,Norwich City,65,20.833333,100,97.769323,4.8,4.692927,3.457212,1.840718
187,Firmino,Liverpool,93,20.222222,91,94.015538,4.5,4.649120,4.653615,1.524507
211,Jesus,Manchester City,95,16.818182,74,75.969323,4.4,4.517095,5.980123,1.465539
338,Kane,Tottenham,110,20.000000,104,88.446215,5.2,4.422311,4.007189,1.333377
502,Maupay,Brighton,58,20.789474,79,83.623108,3.8,4.022377,2.300073,1.670201
68,King,Bournemouth,61,16.111111,58,60.469323,3.6,3.753268,2.158552,1.519654
91,Wood,Burnley,62,19.230769,75,72.100000,3.9,3.749200,3.321429,1.505715
362,Deeney,Watford,62,10.000000,32,37.300000,3.2,3.730000,4.321429,1.498004
468,Ayew,Crystal Palace,50,20.000000,74,74.323108,3.7,3.716155,3.550073,1.661915
457,Haller,West Ham,70,18.947368,72,66.546215,3.8,3.512161,3.141446,1.327472
410,Jota,Wolves,61,18.928571,53,66.023108,2.8,3.488013,2.642880,1.412255
363,Deulofeu,Watford,61,20.909091,69,72.869323,3.3,3.485055,4.665442,1.411057
147,Calvert-Lewin,Everton,59,19.166667,69,65.600000,3.6,3.422609,3.207143,1.409066
303,McGoldrick,Sheffield Utd,54,17.727273,39,60.346215,2.2,3.404145,2.779200,1.464911
130,Wickham,Crystal Palace,44,4.062500,13,13.423108,3.2,3.304150,5.808596,1.575191
67,Callum Wilson,Bournemouth,74,19.705882,67,64.369323,3.4,3.266503,1.162810,1.200790
428,Wesley,Aston Villa,56,20.937500,67,68.223108,3.2,3.258417,2.421452,1.376933
12,Lacazette,Arsenal,93,14.054054,52,45.646215,3.7,3.247904,1.994651,1.065030
90,Barnes,Burnley,62,19.062500,61,60.100000,3.2,3.152787,1.578571,1.266190
70,Mousset,Sheffield Utd,48,17.777778,64,53.569323,3.6,3.013274,2.050069,1.375365
466,Joelinton,Newcastle Utd,55,20.869565,48,58.546215,2.3,2.805339,3.435810,1.196201
315,Long,Southampton,46,11.000000,22,29.846215,2.0,2.713292,3.941234,1.265079
534,Connolly,Brighton,45,14.230769,37,34.346215,2.6,2.413518,1.831462,1.137743
146,Tosun,Everton,57,5.000000,12,11.500000,2.4,2.300000,2.100000,0.963364
501,McBurnie,Sheffield Utd,57,19.047619,40,43.200000,2.1,2.268000,4.000000,0.949961
364,Gray,Watford,56,16.666667,30,37.100000,1.8,2.226000,1.000000,0.940657
110,Giroud,Chelsea,66,5.000000,7,10.900000,1.4,2.180000,NaN,0.848564
188,Origi,Liverpool,52,16.153846,42,33.346215,2.6,2.064290,1.600527,0.905251
69,Solanke,Bournemouth,52,18.000000,27,37.100000,1.5,2.061111,1.835714,0.903857
437,Adams,Southampton,53,15.294118,26,30.623108,1.7,2.002280,1.497295,0.869735
487,Cutrone,Wolves,55,12.105263,23,24.200000,1.9,1.999130,0.600000,0.852432
520,Carroll,Newcastle Utd,54,12.000000,24,23.969323,2.0,1.997444,3.816194,0.859563

Below we compile a list sorting players based on a given metric (irrespective of position).

In [9]:
#metric = 'adjusted points per game'
metric = 'form 5'

display(df[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name','now_cost',\
          'games played','total_points','adjusted points','points_per_game','adjusted points per game','form 5',\
          'valuePoints metric']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,form 5,valuePoints metric
id,,,,,,,,,,
191,Salah,Liverpool,123,16.901408,120,116.027963,7.1,6.864988,8.807730,1.957434
192,ManÃÂ©,Liverpool,123,18.918919,140,126.424410,7.4,6.682433,7.790412,1.905382
105,Azpilicueta,Chelsea,58,19.310345,56,77.792391,2.9,4.028535,7.180607,1.672758
103,Alonso,Chelsea,60,7.966102,47,34.580472,5.9,4.340953,6.851449,1.772187
265,PÃÂ©rez,Leicester City,60,18.043478,83,70.202134,4.6,3.890721,6.797775,1.588380
182,Alexander-Arnold,Liverpool,75,20.000000,112,115.112599,5.6,5.755630,6.628820,2.101659
181,Robertson,Liverpool,70,20.000000,98,104.520169,4.9,5.226008,6.531925,1.975246
283,BuendÃÂ­a,Norwich City,60,20.909091,69,79.923622,3.3,3.822434,6.152588,1.560502
313,Ings,Southampton,67,21.071429,118,102.123108,5.6,4.846520,6.057166,1.872374
211,Jesus,Manchester City,95,16.818182,74,75.969323,4.4,4.517095,5.980123,1.465539
130,Wickham,Crystal Palace,44,4.062500,13,13.423108,3.2,3.304150,5.808596,1.575191
5,Sokratis,Arsenal,49,17.241379,50,48.527658,2.9,2.814604,5.638497,1.271509
308,Stephens,Southampton,43,13.125000,42,40.688772,3.2,3.100097,5.573148,1.495000
396,Noble,West Ham,50,17.222222,62,51.179728,3.6,2.971726,5.533788,1.328996
447,Pieters,Burnley,44,15.000000,42,47.152279,2.8,3.143485,5.522582,1.498598
388,Fabianski,West Ham,49,9.019608,46,36.145347,5.1,4.007419,5.475934,1.810367
217,Mahrez,Manchester City,84,17.115385,89,78.451347,5.2,4.583674,5.144131,1.581518
215,De Bruyne,Manchester City,106,20.142857,141,124.898446,7.0,6.200632,5.054441,1.904509
123,van Aanholt,Crystal Palace,55,17.187500,55,56.822303,3.2,3.306025,5.015841,1.409694
287,Cantwell,Norwich City,49,21.000000,84,81.926614,4.0,3.901267,4.989857,1.762413
42,Dunk,Brighton,47,18.974359,74,65.485817,3.9,3.451280,4.822489,1.591957
29,Grealish,Aston Villa,64,19.183673,94,82.072228,4.9,4.278233,4.768237,1.691120
401,Doherty,Wolves,61,19.210526,73,85.111198,3.8,4.430446,4.732070,1.793835
363,Deulofeu,Watford,61,20.909091,69,72.869323,3.3,3.485055,4.665442,1.411057
187,Firmino,Liverpool,93,20.222222,91,94.015538,4.5,4.649120,4.653615,1.524507
525,Sarr,Watford,62,13.823529,47,44.194709,3.4,3.197064,4.559865,1.283972
255,Dummett,Newcastle Utd,44,14.827586,43,34.502277,2.9,2.326898,4.545038,1.109305
409,JimÃÂ©nez,Wolves,75,21.200000,106,105.838645,5.0,4.992389,4.543627,1.822963
38,Montoya,Brighton,44,17.857143,50,55.478785,2.8,3.106812,4.539204,1.481114
318,McCarthy,Southampton,43,10.967742,34,37.400232,3.1,3.410021,4.534771,1.644458
183,van Dijk,Liverpool,64,20.000000,92,84.781523,4.6,4.239076,4.510940,1.675642
166,Vardy,Leicester City,101,18.947368,144,117.115538,7.6,6.181098,4.504531,1.944934
163,Fuchs,Leicester City,43,6.000000,21,21.197834,3.5,3.532972,4.483081,1.703751
14,Leno,Arsenal,50,20.833333,75,78.970920,3.6,3.790604,4.452262,1.695210
511,SidibÃÂ©,Everton,54,13.076923,51,49.847939,3.9,3.811901,4.451641,1.640381
150,Richarlison,Everton,80,20.851064,98,86.975008,4.7,4.171250,4.451319,1.474760
131,Guaita,Crystal Palace,51,18.809524,79,74.832547,4.2,3.978439,4.438857,1.761682
493,Webster,Brighton,44,15.806452,49,45.208509,3.1,2.860130,4.437658,1.363514
113,Willian,Chelsea,72,20.000000,86,82.780279,4.3,4.139014,4.431085,1.542519
266,AlmirÃÂ³n,Newcastle Utd,58,20.000000,54,66.000620,2.7,3.300031,4.369930,1.370263