Here we only use last season's data to evaluate players. It may be better to use these evaluations for the first 3-5 gameweeks of the new season, as these are more stable numbers. Early season, the player evalutions generally may bounce around somewhat before they start to stabilize.

In [1]:
# recent gameweek
latest_gameweek = 4

In [2]:
import pandas as pd
import numpy as np
import json
import requests
from scipy.stats import poisson

In [3]:
# fetch FPL fixtures online
fixtures_text = json.loads(requests.get('https://fantasy.premierleague.com/api/fixtures').text)
fixtures = pd.DataFrame(fixtures_text)
fixtures.head(20)

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,pulse_id,started,stats,team_a,team_a_difficulty,team_a_score,team_h,team_h_difficulty,team_h_score
0,2128286,NaN,False,False,379,None,0,False,58896,None,[],13,3,NaN,4,4,NaN
1,2128290,NaN,False,False,380,None,0,False,58900,None,[],2,5,NaN,12,2,NaN
2,2128288,1.0,True,True,2,2020-09-12T11:30:00Z,90,False,58898,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",1,2,3.0,8,3,0.0
3,2128287,1.0,True,True,1,2020-09-12T14:00:00Z,90,False,58897,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",16,2,0.0,6,3,1.0
4,2128289,1.0,True,True,3,2020-09-12T16:30:00Z,90,False,58899,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",10,5,3.0,11,2,4.0
5,2128293,1.0,True,True,6,2020-09-12T19:00:00Z,90,False,58903,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",14,2,2.0,19,2,0.0
6,2128292,1.0,True,True,5,2020-09-13T13:00:00Z,90,False,58902,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",9,2,3.0,18,3,0.0
7,2128291,1.0,True,True,4,2020-09-13T15:30:00Z,90,False,58901,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",7,4,1.0,17,2,0.0
8,2128295,1.0,True,True,8,2020-09-14T17:00:00Z,90,False,58905,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",20,4,2.0,15,3,0.0
9,2128294,1.0,True,True,7,2020-09-14T19:15:00Z,90,False,58904,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,2,3.0,3,3,1.0
10,2128299,2.0,True,True,12,2020-09-19T11:30:00Z,90,False,58909,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",18,3,2.0,7,2,5.0
11,2128300,2.0,True,True,13,2020-09-19T14:00:00Z,90,False,58910,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",8,2,3.0,10,2,4.0
12,2128302,2.0,True,True,15,2020-09-19T16:30:00Z,90,False,58912,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",6,4,3.0,13,2,1.0
13,2128296,2.0,True,True,9,2020-09-19T19:00:00Z,90,False,58906,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",19,4,1.0,1,2,2.0
14,2128304,2.0,True,True,17,2020-09-20T11:00:00Z,90,False,58914,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",17,2,5.0,16,3,2.0
15,2128303,2.0,True,True,16,2020-09-20T13:00:00Z,90,False,58913,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,3,3.0,14,2,0.0
16,2128298,2.0,True,True,11,2020-09-20T15:30:00Z,90,False,58908,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",11,4,2.0,5,4,0.0
17,2128301,2.0,True,True,14,2020-09-20T18:00:00Z,90,False,58911,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,4,2.0,9,3,4.0
18,2128297,2.0,True,True,10,2020-09-21T17:00:00Z,90,False,58907,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",15,2,0.0,2,3,1.0
19,2128305,2.0,True,True,18,2020-09-21T19:15:00Z,90,False,58915,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",12,3,3.0,20,4,1.0

In [4]:
filepath = '../../data/fbref/team_stats_season19_20.csv'
teamStats = pd.read_csv(filepath, index_col='Squad')
teamStats.head()

,Rk,MP,W,D,L,GF,GA,GDiff,Pts,xG,xGA,xGDiff,xGDiff/90,Attendance,Top Team Scorer,Goalkeeper,Notes,xG per game,xGA per game,probability no goals allowed
Squad,,,,,,,,,,,,,,,,,,,,
Liverpool,1,38,32,3,3,85,33,52,99,70.7,40.1,30.6,0.81,41955,Mohamed Salah - 19,Alisson,→ UEFA Champions League via league finish,1.860526,1.055263,0.348101
Manchester City,2,38,26,3,9,102,35,67,81,93.2,34.2,59.0,1.55,37097,Raheem Sterling - 20,Ederson,→ UEFA Champions League via league finish,2.452632,0.900000,0.406570
Manchester Utd,3,38,18,12,8,66,36,30,66,59.8,37.4,22.4,0.59,57415,Marcus Rashford Anthony Martial - 17,David de Gea,→ UEFA Champions League via league finish,1.573684,0.984211,0.373734
Chelsea,4,38,20,6,12,69,54,15,66,66.7,37.3,29.4,0.77,32023,Tammy Abraham - 15,Kepa Arrizabalaga,→ UEFA Champions League via league finish,1.755263,0.981579,0.374719
Leicester City,5,38,18,8,12,67,41,26,62,60.7,44.8,16.0,0.42,25312,Jamie Vardy - 23,Kasper Schmeichel,→ UEFA Europa League via league finish,1.597368,1.178947,0.307602

In [5]:
# fetch FPL preseason data
filepath = '../../data/fpl/data_week0.csv'
players = pd.read_csv(filepath, index_col=0)
players.head()

,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,code,cost_change_event,cost_change_event_fall,cost_change_start,...,adjusted points,xG,xG_points,clean_sheet_points,xA,xA_points,adjusted points per game,next10_xP,next1_xP,next5_xP
id,,,,,,,,,,,,,,,,,,,,,
1,3,1,256,NaN,NaN,5,37605,0,0,0,...,53.709260,1.3,6.50,4.175631,2.3,6.9,2.938809,2.906597,2.927627,2.909132
2,0,5,305,NaN,NaN,4,39476,0,0,0,...,52.964320,1.0,6.00,17.364320,0.2,0.6,2.787596,2.679897,2.711788,2.659919
3,1,10,494,NaN,NaN,8,41270,0,0,0,...,92.192528,1.8,10.80,30.681318,1.0,3.0,2.746160,2.637941,2.671118,2.618704
4,5,37,807,NaN,NaN,10,54694,0,0,0,...,200.313236,15.7,77.54,8.217188,3.0,9.0,5.569685,5.523791,5.578615,5.545812
5,1,3,286,NaN,NaN,4,58822,0,0,0,...,55.934868,0.0,0.00,19.223658,0.0,0.0,2.659199,2.554341,2.579215,2.530316

In [6]:
# for some reason, in fpl data leeds and leicester are swapped in alphabetical order...
teams = ['Arsenal', 'Aston Villa', 'Brighton', 'Burnley',
       'Chelsea', 'Crystal Palace', 'Everton', 'Fulham', 'Leicester City', 'Leeds',
       'Liverpool', 'Manchester City', 'Manchester Utd', 'Newcastle Utd', 'Sheffield Utd', 
       'Southampton', 'Tottenham', 'West Brom', 'West Ham', 'Wolves']

In [7]:
coefficients = pd.DataFrame(np.nan, index=teams, columns=['xG','xGA','coefficient'])
for ix in coefficients[~coefficients.index.isin(['Fulham','Leeds', 'West Brom'])].index:
    coefficients.loc[ix, 'xG'] = teamStats.loc[ix, 'xG per game']
    coefficients.loc[ix, 'xGA'] = teamStats.loc[ix, 'xGA per game']
    coefficients.loc[ix, 'coefficient'] = 0.755489209043063 * coefficients.loc[ix, 'xG']
coefficients.loc[['Fulham','Leeds','West Brom']] = coefficients.loc['Aston Villa'].values
coefficients

                       xG       xGA  coefficient
Arsenal          1.292105  1.476316     0.976172
Aston Villa      1.057895  1.731579     0.799228
Brighton         1.073684  1.450000     0.811157
Burnley          1.150000  1.257895     0.868813
Chelsea          1.755263  0.981579     1.326082
Crystal Palace   0.892105  1.342105     0.673976
Everton          1.271053  1.244737     0.960267
Fulham           1.057895  1.731579     0.799228
Leicester City   1.597368  1.178947     1.206795
Leeds            1.057895  1.731579     0.799228
Liverpool        1.860526  1.055263     1.405608
Manchester City  2.452632  0.900000     1.852937
Manchester Utd   1.573684  0.984211     1.188901
Newcastle Utd    0.868421  1.539474     0.656083
Sheffield Utd    1.092105  1.257895     0.825074
Southampton      1.418421  1.400000     1.071602
Tottenham        1.197368  1.365789     0.904599
West Brom        1.057895  1.731579     0.799228
West Ham         1.210526  1.628947     0.914540
Wolves           1.236842  0.905263     0.934421

In [8]:
def points_for_clean_sheet(position):
    if position < 3:
        return 4
    elif position==3:
        return 1
    elif position==4:
        return 0

In [9]:
goalkeepers = players['element_type'] == 1
defenders = players['element_type'] == 2
midfielders = players['element_type'] == 3
forwards = players['element_type'] == 4

minGames = players['games played'] >= 3

In [10]:
home_coefficient = 1.0721855628874228
away_coefficient = 0.9280143971205758

In [11]:
# how many gameweeks ahead do you want to look at
for number_gameweeks in [1,5,10]:
    expectations = pd.DataFrame(0, index=teams, \
                columns=['games','total_xG','total_xGA','xG per game', 'xGA per game'])
    gameweeks = np.arange(latest_gameweek+1, latest_gameweek+number_gameweeks+1)
    games = fixtures[fixtures['event'].isin(gameweeks)]
    for ix in games.index:
        home_team_number = games.loc[ix,'team_h']
        home_team = expectations.index[home_team_number-1]
        away_team_number = games.loc[ix,'team_a']
        away_team = expectations.index[away_team_number-1]

        home_xG = home_coefficient * coefficients.loc[home_team,'coefficient'] * \
                                    coefficients.loc[away_team,'xGA']
        away_xG = away_coefficient * coefficients.loc[away_team,'coefficient'] * \
                                    coefficients.loc[home_team,'xGA']
        expectations.loc[home_team,'total_xG'] += home_xG
        expectations.loc[home_team,'total_xGA'] += away_xG
        expectations.loc[home_team,'games'] += 1
        expectations.loc[away_team,'total_xG'] += away_xG
        expectations.loc[away_team,'total_xGA'] += home_xG
        expectations.loc[away_team,'games'] += 1

    expectations['xG per game'] = expectations['total_xG'] / expectations['games']
    expectations['xGA per game'] = expectations['total_xGA'] / expectations['games']
    print('expectations:')
    display(expectations)

    new_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    coefficients[new_column] = expectations['xG per game'] / coefficients['xG']
    print('coefficients:')
    display(coefficients)
    
    new_column = 'next' + str(number_gameweeks) + '_xP'
    multiplier_xG_xA_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    for ix in players.index:
        team = players.loc[ix,'team_name']
        position = players.loc[ix, 'element_type']

        # adjust xP based on xg and xa for the next game
        xg_points_per_game = players.loc[ix,'xG_points'] / players.loc[ix,'games played']
        xa_points_per_game = players.loc[ix,'xA_points'] / players.loc[ix,'games played']
        xpoints = xg_points_per_game + xa_points_per_game
        players.loc[ix, new_column] = players.loc[ix, 'adjusted points per game'] - \
                            xpoints + coefficients.loc[team, multiplier_xG_xA_column]*xpoints    

        # adjust xP based on probability to keep a clean sheet for the next game
        clean_sheet_points_per_game = players.loc[ix,'clean_sheet_points'] / \
                                        players.loc[ix,'games played']
        probability_clean_sheet_next = poisson.pmf(0, expectations.loc[team, 'xGA per game'])
        players.loc[ix, new_column] = players.loc[ix, new_column] - clean_sheet_points_per_game \
                + points_for_clean_sheet(position) * probability_clean_sheet_next

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Arsenal              1  0.815311   2.932985     0.815311      2.932985
Aston Villa          1  0.874420   2.240503     0.874420      2.240503
Brighton             1  1.010290   1.047809     1.010290      1.047809
Burnley              1  1.396121   1.077916     1.396121      1.077916
Chelsea              1  1.990529   0.976143     1.990529      0.976143
Crystal Palace       1  1.047809   1.010290     1.047809      1.010290
Everton              1  1.086482   1.623665     1.086482      1.623665
Fulham               1  0.932974   1.531810     0.932974      1.531810
Leicester City       1  2.240503   0.874420     2.240503      0.874420
Leeds                1  0.775739   1.501549     0.775739      1.501549
Liverpool            1  1.623665   1.086482     1.623665      1.086482
Manchester City      1  2.932985   0.815311     2.932985      0.815311
Manchester Utd       1  1.698528   0.692335     1.698528      0.692335
Newcastle Utd        1  0.692335   1.698528     0.692335      1.698528
Sheffield Utd        1  1.531810   0.932974     1.531810      0.932974
Southampton          1  0.976143   1.990529     0.976143      1.990529
Tottenham            1  1.579913   1.159154     1.579913      1.159154
West Brom            1  1.077916   1.396121     1.077916      1.396121
West Ham             1  1.159154   1.579913     1.159154      1.579913
Wolves               1  1.501549   0.775739     1.501549      0.775739

coefficients:

                       xG       xGA  coefficient  next1_xG_xA_multiplier
Arsenal          1.292105  1.476316     0.976172                0.630994
Aston Villa      1.057895  1.731579     0.799228                0.826566
Brighton         1.073684  1.450000     0.811157                0.940957
Burnley          1.150000  1.257895     0.868813                1.214018
Chelsea          1.755263  0.981579     1.326082                1.134034
Crystal Palace   0.892105  1.342105     0.673976                1.174536
Everton          1.271053  1.244737     0.960267                0.854789
Fulham           1.057895  1.731579     0.799228                0.881916
Leicester City   1.597368  1.178947     1.206795                1.402622
Leeds            1.057895  1.731579     0.799228                0.733285
Liverpool        1.860526  1.055263     1.405608                0.872691
Manchester City  2.452632  0.900000     1.852937                1.195852
Manchester Utd   1.573684  0.984211     1.188901                1.079332
Newcastle Utd    0.868421  1.539474     0.656083                0.797235
Sheffield Utd    1.092105  1.257895     0.825074                1.402622
Southampton      1.418421  1.400000     1.071602                0.688190
Tottenham        1.197368  1.365789     0.904599                1.319487
West Brom        1.057895  1.731579     0.799228                1.018926
West Ham         1.210526  1.628947     0.914540                0.957562
Wolves           1.236842  0.905263     0.934421                1.214018

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Arsenal              5   6.321813   8.828300     1.264363      1.765660
Aston Villa          5   5.895446   8.362604     1.179089      1.672521
Brighton             5   5.941858   5.941247     1.188372      1.188249
Burnley              5   6.002063   5.562656     1.200413      1.112531
Chelsea              5   8.432712   4.583813     1.686542      0.916763
Crystal Palace       5   4.735095   5.750629     0.947019      1.150126
Everton              5   6.262377   6.369394     1.252475      1.273879
Fulham               5   5.841702   7.140138     1.168340      1.428028
Leicester City       5   8.186238   5.917704     1.637248      1.183541
Leeds                5   5.330826   7.744535     1.066165      1.548907
Liverpool            5   8.925084   6.068380     1.785017      1.213676
Manchester City      5  12.342088   4.540870     2.468418      0.908174
Manchester Utd       5   8.412287   4.538437     1.682457      0.907687
Newcastle Utd        5   3.661990   8.276073     0.732398      1.655215
Sheffield Utd        5   5.328568   7.847793     1.065714      1.569559
Southampton          5   6.797317   6.692833     1.359463      1.338567
Tottenham            5   6.368779   6.978463     1.273756      1.395693
West Brom            5   5.338035   8.046831     1.067607      1.609366
West Ham             5   5.702755   9.485115     1.140551      1.897023
Wolves               5   6.813477   3.964694     1.362695      0.792939

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier
Arsenal,1.292105,1.476316,0.976172,0.630994,0.978529
Aston Villa,1.057895,1.731579,0.799228,0.826566,1.114562
Brighton,1.073684,1.450000,0.811157,0.940957,1.106817
Burnley,1.150000,1.257895,0.868813,1.214018,1.043837
Chelsea,1.755263,0.981579,1.326082,1.134034,0.960849
Crystal Palace,0.892105,1.342105,0.673976,1.174536,1.061555
Everton,1.271053,1.244737,0.960267,0.854789,0.985384
Fulham,1.057895,1.731579,0.799228,0.881916,1.104401
Leicester City,1.597368,1.178947,1.206795,1.402622,1.024966
Leeds,1.057895,1.731579,0.799228,0.733285,1.007818
Liverpool,1.860526,1.055263,1.405608,0.872691,0.959415
Manchester City,2.452632,0.900000,1.852937,1.195852,1.006436
Manchester Utd,1.573684,0.984211,1.188901,1.079332,1.069120
Newcastle Utd,0.868421,1.539474,0.656083,0.797235,0.843367
Sheffield Utd,1.092105,1.257895,0.825074,1.402622,0.975834
Southampton,1.418421,1.400000,1.071602,0.688190,0.958434
Tottenham,1.197368,1.365789,0.904599,1.319487,1.063796
West Brom,1.057895,1.731579,0.799228,1.018926,1.009181
West Ham,1.210526,1.628947,0.914540,0.957562,0.942194
Wolves,1.236842,0.905263,0.934421,1.214018,1.101754

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Arsenal             10  12.416025  15.718812     1.241603      1.571881
Aston Villa         10  11.456485  15.729562     1.145648      1.572956
Brighton            10  11.362174  13.503569     1.136217      1.350357
Burnley             10  11.316923  12.667934     1.131692      1.266793
Chelsea             10  17.798458   8.962968     1.779846      0.896297
Crystal Palace      10   9.698952  11.911208     0.969895      1.191121
Everton             10  12.747362  12.722103     1.274736      1.272210
Fulham              10  10.672279  17.601007     1.067228      1.760101
Leicester City      10  16.851806  10.916596     1.685181      1.091660
Leeds               10  10.427143  16.720475     1.042714      1.672048
Liverpool           10  18.248527  10.453944     1.824853      1.045394
Manchester City     10  25.821140   8.782876     2.582114      0.878288
Manchester Utd      10  16.496570   9.927375     1.649657      0.992737
Newcastle Utd       10   9.023827  14.310593     0.902383      1.431059
Sheffield Utd       10  10.750192  14.261582     1.075019      1.426158
Southampton         10  13.317567  14.399690     1.331757      1.439969
Tottenham           10  11.780674  14.732501     1.178067      1.473250
West Brom           10  10.859201  16.398183     1.085920      1.639818
West Ham            10  11.984422  17.221311     1.198442      1.722131
Wolves              10  12.817780   8.905219     1.281778      0.890522

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier,next10_xG_xA_multiplier
Arsenal,1.292105,1.476316,0.976172,0.630994,0.978529,0.960914
Aston Villa,1.057895,1.731579,0.799228,0.826566,1.114562,1.082951
Brighton,1.073684,1.450000,0.811157,0.940957,1.106817,1.058242
Burnley,1.150000,1.257895,0.868813,1.214018,1.043837,0.984080
Chelsea,1.755263,0.981579,1.326082,1.134034,0.960849,1.014005
Crystal Palace,0.892105,1.342105,0.673976,1.174536,1.061555,1.087198
Everton,1.271053,1.244737,0.960267,0.854789,0.985384,1.002898
Fulham,1.057895,1.731579,0.799228,0.881916,1.104401,1.008822
Leicester City,1.597368,1.178947,1.206795,1.402622,1.024966,1.054973
Leeds,1.057895,1.731579,0.799228,0.733285,1.007818,0.985650
Liverpool,1.860526,1.055263,1.405608,0.872691,0.959415,0.980826
Manchester City,2.452632,0.900000,1.852937,1.195852,1.006436,1.052793
Manchester Utd,1.573684,0.984211,1.188901,1.079332,1.069120,1.048277
Newcastle Utd,0.868421,1.539474,0.656083,0.797235,0.843367,1.039107
Sheffield Utd,1.092105,1.257895,0.825074,1.402622,0.975834,0.984355
Southampton,1.418421,1.400000,1.071602,0.688190,0.958434,0.938901
Tottenham,1.197368,1.365789,0.904599,1.319487,1.063796,0.983880
West Brom,1.057895,1.731579,0.799228,1.018926,1.009181,1.026492
West Ham,1.210526,1.628947,0.914540,0.957562,0.942194,0.990017
Wolves,1.236842,0.905263,0.934421,1.214018,1.101754,1.036331

In [12]:
metric = 'next1_xP'
numberToShow = 50
display(players[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name',\
         'now_cost','games played','total_points','adjusted points','points_per_game',\
         'adjusted points per game','next1_xP','next5_xP','next10_xP']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,next1_xP,next5_xP,next10_xP
id,,,,,,,,,,,
272,De Bruyne,Manchester City,115,34.861111,251,221.771295,7.2,6.361567,6.915710,6.375287,6.510178
306,Rashford,Manchester Utd,95,31.052632,177,200.255107,5.7,6.448893,6.825831,6.696665,6.598017
302,Fernandes,Manchester Utd,105,13.928571,117,90.275261,8.4,6.481301,6.809485,6.686595,6.600756
276,Sterling,Manchester City,115,32.903226,204,197.484712,6.2,6.001986,6.673869,6.019576,6.182335
224,Vardy,Leicester City,100,35.000000,210,194.978468,6.0,5.570813,6.640636,5.637150,5.716885
254,Salah,Liverpool,120,33.768116,233,226.226806,6.9,6.699420,6.253803,6.509775,6.637370
240,Thomas,Leicester City,45,3.000000,15,15.102438,5.0,5.034146,5.834512,5.050976,5.195848
390,Son,Tottenham,90,30.178571,169,148.366669,5.6,4.916292,5.646265,5.042841,4.856417
268,Agüero,Manchester City,105,24.000000,132,115.227259,5.5,4.801136,5.298600,4.817484,4.935231
251,Mané,Liverpool,120,35.079365,221,196.823253,6.3,5.610799,5.278918,5.457411,5.565878
460,Jiménez,Wolves,85,38.039216,194,182.558468,5.1,4.799217,5.207571,4.993367,4.868538
282,Jesus,Manchester City,95,33.953488,146,156.709678,4.3,4.615422,5.105838,4.631539,4.747617
275,Mahrez,Manchester City,85,33.018868,175,153.901407,5.3,4.661014,5.067785,4.669891,4.769900
388,Kane,Tottenham,105,29.259259,158,130.362420,5.4,4.455424,4.989810,4.562132,4.428462
119,Pulisic,Chelsea,85,24.901961,127,116.720915,5.1,4.687218,4.956770,4.634171,4.748529
259,Alexander-Arnold,Liverpool,75,38.181818,210,195.332634,5.5,5.115855,4.918013,4.862437,5.106313
305,Henderson,Manchester Utd,55,36.363636,160,160.072543,4.4,4.401995,4.908682,4.520883,4.389302
231,Maddison,Leicester City,70,31.250000,125,129.768623,4.0,4.152596,4.862487,4.188415,4.262628
104,Alonso,Chelsea,60,17.857143,100,83.610480,5.6,4.682187,4.825464,4.743092,4.829740
394,Alli,Tottenham,80,24.893617,117,105.639590,4.7,4.243642,4.815835,4.338685,4.191728
383,Lloris,Tottenham,55,20.851064,98,95.283026,4.7,4.569696,4.803986,4.539625,4.465697
226,Pereira,Leicester City,60,27.954545,123,112.817956,4.4,4.035764,4.733020,4.046201,4.183388
468,Jota,Wolves,65,33.870968,105,143.732249,3.1,4.243524,4.677938,4.471550,4.313780
457,Doherty,Tottenham,60,36.304348,167,149.446127,4.6,4.116480,4.664939,4.149143,3.996630
255,Robertson,Liverpool,70,36.200000,181,171.439514,5.0,4.735898,4.582321,4.496592,4.733023
102,Azpilicueta,Chelsea,60,36.111111,130,159.693332,3.6,4.422277,4.554047,4.486543,4.568628
118,Abraham,Chelsea,75,34.000000,153,145.467259,4.5,4.278449,4.539422,4.202219,4.305718
4,Aubameyang,Arsenal,120,35.964912,205,200.313236,5.7,5.569685,4.506531,5.460617,5.454812
235,Barnes,Leicester City,70,35.945946,133,135.669155,3.7,3.774255,4.482997,3.810002,3.884130
455,Patrício,Wolves,55,38.250000,153,162.878622,4.0,4.258265,4.481977,4.450575,4.282289
217,Schmeichel,Leicester City,55,38.048780,156,152.015579,4.1,3.995281,4.445986,3.990430,4.109241
313,Wan-Bissaka,Manchester Utd,55,35.277778,127,136.982882,3.6,3.882979,4.422049,4.030081,3.889992
291,de Gea,Manchester Utd,55,37.631579,143,147.256827,3.8,3.913118,4.419806,4.032006,3.900425
91,Wood,Burnley,65,32.380952,136,131.531210,4.2,4.061993,4.417711,4.134854,4.035533
483,Ramsdale,Sheffield Utd,50,37.058824,126,146.147362,3.4,3.943659,4.383439,3.639004,3.767445
303,Martial,Manchester Utd,90,32.258065,200,136.520888,6.2,4.232148,4.370164,4.352397,4.316136
96,Pope,Burnley,55,37.777778,170,155.053609,4.5,4.104360,4.340466,4.284693,4.093402
139,van Aanholt,Crystal Palace,55,28.684211,109,107.622582,3.8,3.751980,4.304541,4.023017,3.992909
249,Firmino,Liverpool,95,37.804878,155,170.300888,4.1,4.504733,4.262608,4.427546,4.468267
128,Guaita,Crystal Palace,50,35.128205,137,133.715297,3.9,3.806494,4.217767,4.027702,3.976836
437,Antonio,West Ham,65,24.130435,111,103.164839,4.6,4.275300,4.179767,4.145173,4.252828
229,Pérez,Leicester City,65,33.076923,129,118.150588,3.9,3.571995,4.161328,3.600338,3.665566
269,Otamendi,Manchester City,50,24.117647,82,93.933224,3.4,3.894792,4.160331,3.885556,3.963324
232,Chilwell,Chelsea,55,27.142857,114,109.717403,4.2,4.042220,4.128906,4.119655,4.183860
366,Ings,Southampton,85,38.076923,198,180.562420,5.2,4.742043,4.126725,4.660019,4.621472
347,Stevens,Sheffield Utd,55,38.378378,142,133.181335,3.7,3.470218,4.123899,3.152724,3.285692
458,Boly,Wolves,55,22.045455,97,85.075062,4.4,3.859075,4.108999,4.063847,3.887549
238,Söyüncü,Leicester City,55,34.285714,120,119.996676,3.5,3.499903,4.103488,3.504531,3.634737
393,Gazzaniga,Tottenham,45,18.125000,58,69.400488,3.2,3.828992,4.079147,3.802089,3.724193
298,Maguire,Manchester Utd,55,38.437500,123,135.961628,3.2,3.537213,4.071764,3.680377,3.541476

In [13]:
# save data
filepath = 'data_week' + str(latest_gameweek) + '.csv'
players.to_csv(filepath)