Here we only use last season's data to evaluate players. It may be better to use these evaluations for the first 3-5 gameweeks of the new season, as these are more stable numbers. Early season, the player evalutions generally may bounce around somewhat before they start to stabilize.

In [1]:
# recent gameweek
latest_gameweek = 3

In [2]:
import pandas as pd
import numpy as np
import json
import requests
from scipy.stats import poisson

In [3]:
# fetch FPL fixtures online
fixtures_text = json.loads(requests.get('https://fantasy.premierleague.com/api/fixtures').text)
fixtures = pd.DataFrame(fixtures_text)
fixtures.head(20)

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,pulse_id,started,stats,team_a,team_a_difficulty,team_a_score,team_h,team_h_difficulty,team_h_score
0,2128286,NaN,False,False,379,None,0,False,58896,None,[],13,3,NaN,4,4,NaN
1,2128290,NaN,False,False,380,None,0,False,58900,None,[],2,5,NaN,12,2,NaN
2,2128288,1.0,True,True,2,2020-09-12T11:30:00Z,90,False,58898,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",1,2,3.0,8,3,0.0
3,2128287,1.0,True,True,1,2020-09-12T14:00:00Z,90,False,58897,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",16,2,0.0,6,3,1.0
4,2128289,1.0,True,True,3,2020-09-12T16:30:00Z,90,False,58899,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",10,5,3.0,11,2,4.0
5,2128293,1.0,True,True,6,2020-09-12T19:00:00Z,90,False,58903,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",14,2,2.0,19,2,0.0
6,2128292,1.0,True,True,5,2020-09-13T13:00:00Z,90,False,58902,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",9,2,3.0,18,3,0.0
7,2128291,1.0,True,True,4,2020-09-13T15:30:00Z,90,False,58901,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",7,4,1.0,17,2,0.0
8,2128295,1.0,True,True,8,2020-09-14T17:00:00Z,90,False,58905,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",20,4,2.0,15,3,0.0
9,2128294,1.0,True,True,7,2020-09-14T19:15:00Z,90,False,58904,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",5,2,3.0,3,3,1.0
10,2128299,2.0,True,True,12,2020-09-19T11:30:00Z,90,False,58909,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",18,3,2.0,7,2,5.0
11,2128300,2.0,True,True,13,2020-09-19T14:00:00Z,90,False,58910,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",8,2,3.0,10,2,4.0
12,2128302,2.0,True,True,15,2020-09-19T16:30:00Z,90,False,58912,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",6,4,3.0,13,2,1.0
13,2128296,2.0,True,True,9,2020-09-19T19:00:00Z,90,False,58906,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",19,4,1.0,1,2,2.0
14,2128304,2.0,True,True,17,2020-09-20T11:00:00Z,90,False,58914,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",17,2,5.0,16,3,2.0
15,2128303,2.0,True,True,16,2020-09-20T13:00:00Z,90,False,58913,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,3,3.0,14,2,0.0
16,2128298,2.0,True,True,11,2020-09-20T15:30:00Z,90,False,58908,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",11,4,2.0,5,4,0.0
17,2128301,2.0,True,True,14,2020-09-20T18:00:00Z,90,False,58911,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",4,4,2.0,9,3,4.0
18,2128297,2.0,True,True,10,2020-09-21T17:00:00Z,90,False,58907,True,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",15,2,0.0,2,3,1.0
19,2128305,2.0,True,True,18,2020-09-21T19:15:00Z,90,False,58915,True,"[{'identifier': 'goals_scored', 'a': [{'value'...",12,3,3.0,20,4,1.0

In [4]:
filepath = '../../data/fbref/team_stats_season19_20.csv'
teamStats = pd.read_csv(filepath, index_col='Squad')
teamStats.head()

,Rk,MP,W,D,L,GF,GA,GDiff,Pts,xG,xGA,xGDiff,xGDiff/90,Attendance,Top Team Scorer,Goalkeeper,Notes,xG per game,xGA per game,probability no goals allowed
Squad,,,,,,,,,,,,,,,,,,,,
Liverpool,1,38,32,3,3,85,33,52,99,70.7,40.1,30.6,0.81,41955,Mohamed Salah - 19,Alisson,→ UEFA Champions League via league finish,1.860526,1.055263,0.348101
Manchester City,2,38,26,3,9,102,35,67,81,93.2,34.2,59.0,1.55,37097,Raheem Sterling - 20,Ederson,→ UEFA Champions League via league finish,2.452632,0.900000,0.406570
Manchester Utd,3,38,18,12,8,66,36,30,66,59.8,37.4,22.4,0.59,57415,Marcus Rashford Anthony Martial - 17,David de Gea,→ UEFA Champions League via league finish,1.573684,0.984211,0.373734
Chelsea,4,38,20,6,12,69,54,15,66,66.7,37.3,29.4,0.77,32023,Tammy Abraham - 15,Kepa Arrizabalaga,→ UEFA Champions League via league finish,1.755263,0.981579,0.374719
Leicester City,5,38,18,8,12,67,41,26,62,60.7,44.8,16.0,0.42,25312,Jamie Vardy - 23,Kasper Schmeichel,→ UEFA Europa League via league finish,1.597368,1.178947,0.307602

In [5]:
# fetch FPL preseason data
filepath = '../../data/fpl/data_week0.csv'
players = pd.read_csv(filepath, index_col=0)
players.head()

,assists,bonus,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheets,code,cost_change_event,cost_change_event_fall,cost_change_start,...,adjusted points,xG,xG_points,clean_sheet_points,xA,xA_points,adjusted points per game,next10_xP,next1_xP,next5_xP
id,,,,,,,,,,,,,,,,,,,,,
1,3,1,256,NaN,NaN,5,37605,0,0,0,...,53.709260,1.3,6.50,4.175631,2.3,6.9,2.938809,2.906597,2.927627,2.909132
2,0,5,305,NaN,NaN,4,39476,0,0,0,...,52.964320,1.0,6.00,17.364320,0.2,0.6,2.787596,2.679897,2.711788,2.659919
3,1,10,494,NaN,NaN,8,41270,0,0,0,...,92.192528,1.8,10.80,30.681318,1.0,3.0,2.746160,2.637941,2.671118,2.618704
4,5,37,807,NaN,NaN,10,54694,0,0,0,...,200.313236,15.7,77.54,8.217188,3.0,9.0,5.569685,5.523791,5.578615,5.545812
5,1,3,286,NaN,NaN,4,58822,0,0,0,...,55.934868,0.0,0.00,19.223658,0.0,0.0,2.659199,2.554341,2.579215,2.530316

In [6]:
# for some reason, in fpl data leeds and leicester are swapped in alphabetical order...
teams = ['Arsenal', 'Aston Villa', 'Brighton', 'Burnley',
       'Chelsea', 'Crystal Palace', 'Everton', 'Fulham', 'Leicester City', 'Leeds',
       'Liverpool', 'Manchester City', 'Manchester Utd', 'Newcastle Utd', 'Sheffield Utd', 
       'Southampton', 'Tottenham', 'West Brom', 'West Ham', 'Wolves']

In [7]:
coefficients = pd.DataFrame(np.nan, index=teams, columns=['xG','xGA','coefficient'])
for ix in coefficients[~coefficients.index.isin(['Fulham','Leeds', 'West Brom'])].index:
    coefficients.loc[ix, 'xG'] = teamStats.loc[ix, 'xG per game']
    coefficients.loc[ix, 'xGA'] = teamStats.loc[ix, 'xGA per game']
    coefficients.loc[ix, 'coefficient'] = 0.755489209043063 * coefficients.loc[ix, 'xG']
coefficients.loc[['Fulham','Leeds','West Brom']] = coefficients.loc['Aston Villa'].values
coefficients

                       xG       xGA  coefficient
Arsenal          1.292105  1.476316     0.976172
Aston Villa      1.057895  1.731579     0.799228
Brighton         1.073684  1.450000     0.811157
Burnley          1.150000  1.257895     0.868813
Chelsea          1.755263  0.981579     1.326082
Crystal Palace   0.892105  1.342105     0.673976
Everton          1.271053  1.244737     0.960267
Fulham           1.057895  1.731579     0.799228
Leicester City   1.597368  1.178947     1.206795
Leeds            1.057895  1.731579     0.799228
Liverpool        1.860526  1.055263     1.405608
Manchester City  2.452632  0.900000     1.852937
Manchester Utd   1.573684  0.984211     1.188901
Newcastle Utd    0.868421  1.539474     0.656083
Sheffield Utd    1.092105  1.257895     0.825074
Southampton      1.418421  1.400000     1.071602
Tottenham        1.197368  1.365789     0.904599
West Brom        1.057895  1.731579     0.799228
West Ham         1.210526  1.628947     0.914540
Wolves           1.236842  0.905263     0.934421

In [8]:
def points_for_clean_sheet(position):
    if position < 3:
        return 4
    elif position==3:
        return 1
    elif position==4:
        return 0

In [9]:
goalkeepers = players['element_type'] == 1
defenders = players['element_type'] == 2
midfielders = players['element_type'] == 3
forwards = players['element_type'] == 4

minGames = players['games played'] >= 3

In [10]:
home_coefficient = 1.0721855628874228
away_coefficient = 0.9280143971205758

In [11]:
# how many gameweeks ahead do you want to look at
for number_gameweeks in [1,5,10]:
    expectations = pd.DataFrame(0, index=teams, \
                columns=['games','total_xG','total_xGA','xG per game', 'xGA per game'])
    gameweeks = np.arange(latest_gameweek+1, latest_gameweek+number_gameweeks+1)
    games = fixtures[fixtures['event'].isin(gameweeks)]
    for ix in games.index:
        home_team_number = games.loc[ix,'team_h']
        home_team = expectations.index[home_team_number-1]
        away_team_number = games.loc[ix,'team_a']
        away_team = expectations.index[away_team_number-1]

        home_xG = home_coefficient * coefficients.loc[home_team,'coefficient'] * \
                                    coefficients.loc[away_team,'xGA']
        away_xG = away_coefficient * coefficients.loc[away_team,'coefficient'] * \
                                    coefficients.loc[home_team,'xGA']
        expectations.loc[home_team,'total_xG'] += home_xG
        expectations.loc[home_team,'total_xGA'] += away_xG
        expectations.loc[home_team,'games'] += 1
        expectations.loc[away_team,'total_xG'] += away_xG
        expectations.loc[away_team,'total_xGA'] += home_xG
        expectations.loc[away_team,'games'] += 1

    expectations['xG per game'] = expectations['total_xG'] / expectations['games']
    expectations['xGA per game'] = expectations['total_xGA'] / expectations['games']
    print('expectations:')
    display(expectations)

    new_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    coefficients[new_column] = expectations['xG per game'] / coefficients['xG']
    print('coefficients:')
    display(coefficients)
    
    new_column = 'next' + str(number_gameweeks) + '_xP'
    multiplier_xG_xA_column = 'next' + str(number_gameweeks) + '_xG_xA_multiplier'
    for ix in players.index:
        team = players.loc[ix,'team_name']
        position = players.loc[ix, 'element_type']

        # adjust xP based on xg and xa for the next game
        xg_points_per_game = players.loc[ix,'xG_points'] / players.loc[ix,'games played']
        xa_points_per_game = players.loc[ix,'xA_points'] / players.loc[ix,'games played']
        xpoints = xg_points_per_game + xa_points_per_game
        players.loc[ix, new_column] = players.loc[ix, 'adjusted points per game'] - \
                            xpoints + coefficients.loc[team, multiplier_xG_xA_column]*xpoints    

        # adjust xP based on probability to keep a clean sheet for the next game
        clean_sheet_points_per_game = players.loc[ix,'clean_sheet_points'] / \
                                        players.loc[ix,'games played']
        probability_clean_sheet_next = poisson.pmf(0, expectations.loc[team, 'xGA per game'])
        players.loc[ix, new_column] = players.loc[ix, new_column] - clean_sheet_points_per_game \
                + points_for_clean_sheet(position) * probability_clean_sheet_next

expectations:

                 games  total_xG  total_xGA  xG per game  xGA per game
Arsenal              1  1.316559   1.130386     1.316559      1.130386
Aston Villa          1  0.904277   2.258713     0.904277      2.258713
Brighton             1  0.936995   1.492897     0.936995      1.492897
Burnley              1  1.241232   0.884857     1.241232      0.884857
Chelsea              1  1.908214   0.613938     1.908214      0.613938
Crystal Palace       1  0.613938   1.908214     0.613938      1.908214
Everton              1  1.492897   0.936995     1.492897      0.936995
Fulham               1  0.671429   1.734821     0.671429      1.734821
Leicester City       1  2.107708   1.000580     2.107708      1.000580
Leeds                1  0.771229   2.977540     0.771229      2.977540
Liverpool            1  2.258713   0.904277     2.258713      0.904277
Manchester City      1  2.977540   0.771229     2.977540      0.771229
Manchester Utd       1  1.741003   0.826226     1.741003      0.826226
Newcastle Utd        1  0.884857   1.241232     0.884857      1.241232
Sheffield Utd        1  1.130386   1.316559     1.130386      1.316559
Southampton          1  1.989508   1.038373     1.989508      1.038373
Tottenham            1  0.826226   1.741003     0.826226      1.741003
West Brom            1  1.038373   1.989508     1.038373      1.989508
West Ham             1  1.000580   2.107708     1.000580      2.107708
Wolves               1  1.734821   0.671429     1.734821      0.671429

coefficients:

                       xG       xGA  coefficient  next1_xG_xA_multiplier
Arsenal          1.292105  1.476316     0.976172                1.018926
Aston Villa      1.057895  1.731579     0.799228                0.854789
Brighton         1.073684  1.450000     0.811157                0.872691
Burnley          1.150000  1.257895     0.868813                1.079332
Chelsea          1.755263  0.981579     1.326082                1.087138
Crystal Palace   0.892105  1.342105     0.673976                0.688190
Everton          1.271053  1.244737     0.960267                1.174536
Fulham           1.057895  1.731579     0.799228                0.634684
Leicester City   1.597368  1.178947     1.206795                1.319487
Leeds            1.057895  1.731579     0.799228                0.729022
Liverpool        1.860526  1.055263     1.405608                1.214018
Manchester City  2.452632  0.900000     1.852937                1.214018
Manchester Utd   1.573684  0.984211     1.188901                1.106323
Newcastle Utd    0.868421  1.539474     0.656083                1.018926
Sheffield Utd    1.092105  1.257895     0.825074                1.035052
Southampton      1.418421  1.400000     1.071602                1.402622
Tottenham        1.197368  1.365789     0.904599                0.690035
West Brom        1.057895  1.731579     0.799228                0.981547
West Ham         1.210526  1.628947     0.914540                0.826566
Wolves           1.236842  0.905263     0.934421                1.402622

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Arsenal              5   6.069733   8.693600     1.213947      1.738720
Aston Villa          5   5.557188   9.317844     1.111438      1.863569
Brighton             5   5.575381   6.191608     1.115076      1.238322
Burnley              5   5.993086   5.660751     1.198617      1.132150
Chelsea              5   8.446413   4.507266     1.689283      0.901453
Crystal Palace       5   4.562271   6.408633     0.912454      1.281727
Everton              5   6.212192   6.239748     1.242438      1.247950
Fulham               5   5.446490   7.331878     1.089298      1.466376
Leicester City       5   9.112132   5.141525     1.822426      1.028305
Leeds                5   4.836969   9.153436     0.967394      1.830687
Liverpool            5   9.407039   5.790844     1.881408      1.158169
Manchester City      5  12.971082   4.439191     2.594216      0.887838
Manchester Utd       5   7.946007   4.634679     1.589201      0.926936
Newcastle Utd        5   3.856362   7.622793     0.771272      1.524559
Sheffield Utd        5   5.017935   8.096770     1.003587      1.619354
Southampton          5   7.886575   6.328585     1.577315      1.265717
Tottenham            5   6.322096   6.370921     1.264419      1.274184
West Brom            5   5.646424   7.829055     1.129285      1.565811
West Ham             5   5.635752  10.151803     1.127150      2.030361
Wolves               5   7.145677   3.735874     1.429135      0.747175

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier
Arsenal,1.292105,1.476316,0.976172,1.018926,0.939511
Aston Villa,1.057895,1.731579,0.799228,0.854789,1.050613
Brighton,1.073684,1.450000,0.811157,0.872691,1.038551
Burnley,1.150000,1.257895,0.868813,1.079332,1.042276
Chelsea,1.755263,0.981579,1.326082,1.087138,0.962410
Crystal Palace,0.892105,1.342105,0.673976,0.688190,1.022810
Everton,1.271053,1.244737,0.960267,1.174536,0.977488
Fulham,1.057895,1.731579,0.799228,0.634684,1.029685
Leicester City,1.597368,1.178947,1.206795,1.319487,1.140893
Leeds,1.057895,1.731579,0.799228,0.729022,0.914452
Liverpool,1.860526,1.055263,1.405608,1.214018,1.011223
Manchester City,2.452632,0.900000,1.852937,1.214018,1.057728
Manchester Utd,1.573684,0.984211,1.188901,1.106323,1.009860
Newcastle Utd,0.868421,1.539474,0.656083,1.018926,0.888132
Sheffield Utd,1.092105,1.257895,0.825074,1.035052,0.918947
Southampton,1.418421,1.400000,1.071602,1.402622,1.112022
Tottenham,1.197368,1.365789,0.904599,0.690035,1.055999
West Brom,1.057895,1.731579,0.799228,0.981547,1.067483
West Ham,1.210526,1.628947,0.914540,0.826566,0.931124
Wolves,1.236842,0.905263,0.934421,1.402622,1.155471

expectations:

                 games   total_xG  total_xGA  xG per game  xGA per game
Arsenal             10  12.604976  15.329207     1.260498      1.532921
Aston Villa         10  11.076458  16.504449     1.107646      1.650445
Brighton            10  11.205165  13.886230     1.120516      1.388623
Burnley             10  11.714877  12.461999     1.171488      1.246200
Chelsea             10  17.390624   8.743834     1.739062      0.874383
Crystal Palace      10   9.550328  12.068748     0.955033      1.206875
Everton             10  12.720267  12.531489     1.272027      1.253149
Fulham              10  10.201888  18.117762     1.020189      1.811776
Leicester City      10  17.429935  10.773717     1.742993      1.077372
Leeds               10  10.468388  17.490732     1.046839      1.749073
Liverpool           10  18.756566  10.595659     1.875657      1.059566
Manchester City     10  26.391307   8.520045     2.639131      0.852004
Manchester Utd      10  16.030289  10.023617     1.603029      1.002362
Newcastle Utd       10   8.690617  14.410005     0.869062      1.441001
Sheffield Utd       10  10.770342  14.484137     1.077034      1.448414
Southampton         10  14.273015  13.030690     1.427301      1.303069
Tottenham           10  11.463442  14.943925     1.146344      1.494392
West Brom           10  10.413748  17.103387     1.041375      1.710339
West Ham            10  12.151929  17.012971     1.215193      1.701297
Wolves              10  13.461811   8.733370     1.346181      0.873337

coefficients:

,xG,xGA,coefficient,next1_xG_xA_multiplier,next5_xG_xA_multiplier,next10_xG_xA_multiplier
Arsenal,1.292105,1.476316,0.976172,1.018926,0.939511,0.975538
Aston Villa,1.057895,1.731579,0.799228,0.854789,1.050613,1.047028
Brighton,1.073684,1.450000,0.811157,0.872691,1.038551,1.043618
Burnley,1.150000,1.257895,0.868813,1.079332,1.042276,1.018685
Chelsea,1.755263,0.981579,1.326082,1.087138,0.962410,0.990770
Crystal Palace,0.892105,1.342105,0.673976,0.688190,1.022810,1.070538
Everton,1.271053,1.244737,0.960267,1.174536,0.977488,1.000766
Fulham,1.057895,1.731579,0.799228,0.634684,1.029685,0.964358
Leicester City,1.597368,1.178947,1.206795,1.319487,1.140893,1.091166
Leeds,1.057895,1.731579,0.799228,0.729022,0.914452,0.989549
Liverpool,1.860526,1.055263,1.405608,1.214018,1.011223,1.008132
Manchester City,2.452632,0.900000,1.852937,1.214018,1.057728,1.076040
Manchester Utd,1.573684,0.984211,1.188901,1.106323,1.009860,1.018647
Newcastle Utd,0.868421,1.539474,0.656083,1.018926,0.888132,1.000738
Sheffield Utd,1.092105,1.257895,0.825074,1.035052,0.918947,0.986200
Southampton,1.418421,1.400000,1.071602,1.402622,1.112022,1.006261
Tottenham,1.197368,1.365789,0.904599,0.690035,1.055999,0.957386
West Brom,1.057895,1.731579,0.799228,0.981547,1.067483,0.984384
West Ham,1.210526,1.628947,0.914540,0.826566,0.931124,1.003855
Wolves,1.236842,0.905263,0.934421,1.402622,1.155471,1.088402

In [12]:
metric = 'next1_xP'
numberToShow = 50
display(players[minGames].sort_values(by=[metric], ascending=False)[['web_name','team_name',\
         'now_cost','games played','total_points','adjusted points','points_per_game',\
         'adjusted points per game','next1_xP','next5_xP','next10_xP']].head(numberToShow))

,web_name,team_name,now_cost,games played,total_points,adjusted points,points_per_game,adjusted points per game,next1_xP,next5_xP,next10_xP
id,,,,,,,,,,,
254,Salah,Liverpool,120,33.768116,233,226.226806,6.9,6.699420,7.487292,6.703722,6.725708
272,De Bruyne,Manchester City,115,34.861111,251,221.771295,7.2,6.361567,6.983719,6.519285,6.582754
306,Rashford,Manchester Utd,95,31.052632,177,200.255107,5.7,6.448893,6.848269,6.502030,6.500996
302,Fernandes,Manchester Utd,105,13.928571,117,90.275261,8.4,6.481301,6.815336,6.528378,6.521944
276,Sterling,Manchester City,115,32.903226,204,197.484712,6.2,6.001986,6.752800,6.194409,6.268886
224,Vardy,Leicester City,100,35.000000,210,194.978468,6.0,5.570813,6.419737,5.945186,5.813053
251,Mané,Liverpool,120,35.079365,221,196.823253,6.3,5.610799,6.207469,5.605074,5.629820
4,Aubameyang,Arsenal,120,35.964912,205,200.313236,5.7,5.569685,5.709656,5.371401,5.498250
259,Alexander-Arnold,Liverpool,75,38.181818,210,195.332634,5.5,5.115855,5.603433,4.993363,5.119780
460,Jiménez,Wolves,85,38.039216,194,182.558468,5.1,4.799217,5.567432,5.095861,4.967891
240,Thomas,Leicester City,45,3.000000,15,15.102438,5.0,5.034146,5.561940,5.360991,5.247743
366,Ings,Southampton,85,38.076923,198,180.562420,5.2,4.742043,5.536566,4.963104,4.754398
104,Alonso,Chelsea,60,17.857143,100,83.610480,5.6,4.682187,5.436008,4.769337,4.842484
268,Agüero,Manchester City,105,24.000000,132,115.227259,5.5,4.801136,5.344743,4.947764,4.994278
102,Azpilicueta,Chelsea,60,36.111111,130,159.693332,3.6,4.422277,5.168618,4.512654,4.583366
282,Jesus,Manchester City,95,33.953488,146,156.709678,4.3,4.615422,5.151327,4.759973,4.805828
255,Robertson,Liverpool,70,36.200000,181,171.439514,5.0,4.735898,5.149064,4.609504,4.736996
275,Mahrez,Manchester City,85,33.018868,175,153.901407,5.3,4.661014,5.122125,4.775294,4.824983
468,Jota,Wolves,65,33.870968,105,143.732249,3.1,4.243524,5.062093,4.587738,4.412980
119,Pulisic,Chelsea,85,24.901961,127,116.720915,5.1,4.687218,5.027627,4.643455,4.711197
249,Firmino,Liverpool,95,37.804878,155,170.300888,4.1,4.504733,4.911769,4.526079,4.520200
232,Chilwell,Chelsea,55,27.142857,114,109.717403,4.2,4.042220,4.759251,4.145241,4.206414
231,Maddison,Leicester City,70,31.250000,125,129.768623,4.0,4.152596,4.689080,4.412706,4.321429
455,Patrício,Wolves,55,38.250000,153,162.878622,4.0,4.258265,4.684434,4.535335,4.310746
305,Henderson,Manchester Utd,55,36.363636,160,160.072543,4.4,4.401995,4.657851,4.490117,4.375105
96,Pope,Burnley,55,37.777778,170,155.053609,4.5,4.104360,4.622856,4.259061,4.118774
250,van Dijk,Liverpool,65,37.872340,178,156.855989,4.7,4.141703,4.485615,4.011677,4.140170
226,Pereira,Leicester City,60,27.954545,123,112.817956,4.4,4.035764,4.481739,4.326527,4.226014
478,Willian,Arsenal,80,35.744681,168,155.347758,4.7,4.346038,4.469473,4.200604,4.295976
118,Abraham,Chelsea,75,34.000000,153,145.467259,4.5,4.278449,4.448112,4.205259,4.260478
303,Martial,Manchester Utd,90,32.258065,200,136.520888,6.2,4.232148,4.417120,4.249302,4.264588
458,Boly,Wolves,55,22.045455,97,85.075062,4.4,3.859075,4.334555,4.155186,3.922384
123,James,Chelsea,50,24.400000,61,87.994991,2.5,3.606352,4.325907,3.708285,3.770279
235,Barnes,Leicester City,70,35.945946,133,135.669155,3.7,3.774255,4.309826,4.033962,3.942828
155,Digne,Everton,60,35.294118,120,132.450858,3.4,3.752774,4.296991,3.732431,3.743690
269,Otamendi,Manchester City,50,24.117647,82,93.933224,3.4,3.894792,4.251401,3.950595,4.022043
383,Lloris,Tottenham,55,20.851064,98,95.283026,4.7,4.569696,4.250357,4.667616,4.446519
217,Schmeichel,Leicester City,55,38.048780,156,152.015579,4.1,3.995281,4.245613,4.199766,4.129704
121,Tomori,Chelsea,50,15.000000,48,52.683138,3.2,3.512209,4.202594,3.626725,3.679225
91,Wood,Burnley,65,32.380952,136,131.531210,4.2,4.061993,4.193851,4.132259,4.093049
461,Saïss,Wolves,50,33.225806,103,117.873194,3.1,3.547640,4.188293,3.907532,3.647215
390,Son,Tottenham,90,30.178571,169,148.366669,5.6,4.916292,4.185068,5.058452,4.795945
313,Wan-Bissaka,Manchester Utd,55,35.277778,127,136.982882,3.6,3.882979,4.182235,3.975126,3.863701
246,Matip,Liverpool,55,9.069767,39,35.428774,4.3,3.906249,4.175659,3.772317,3.901885
462,Jonny,Wolves,55,35.142857,123,127.485697,3.5,3.627642,4.174106,3.951164,3.706536
291,de Gea,Manchester Utd,55,37.631579,143,147.256827,3.8,3.913118,4.168974,4.001240,3.886228
8,Leno,Arsenal,50,30.000000,114,113.417348,3.8,3.780578,4.158301,3.569647,3.730283
370,Ward-Prowse,Southampton,60,37.741935,117,132.311886,3.1,3.505700,4.137559,3.687051,3.538954
465,Traoré,Wolves,65,37.142857,130,134.422776,3.5,3.619075,4.126690,3.843215,3.720257
279,Aké,Manchester City,55,29.259259,79,110.506128,2.7,3.776792,4.120981,3.829245,3.899630

In [13]:
# save data
filepath = 'data_week' + str(latest_gameweek) + '.csv'
players.to_csv(filepath)