In [1]:
# give the number of the latest FPL round
latest_gameweek = 4

In [2]:
import pandas as pd
import numpy as np
from pathlib import Path
import json
import requests
import xgboost
import pickle

# allow more data columns to be shown than by default
pd.set_option('max_columns',500)

In [3]:
filepath = Path('../data/fpl/data_week' + str(latest_gameweek) + str('.csv'))
players = pd.read_csv(filepath, index_col=0)
players

,adjusted points,adjusted points per game,assists,assists_week1,assists_week2,assists_week3,assists_week4,bonus,bonus_week1,bonus_week2,bonus_week3,bonus_week4,bps,chance_of_playing_next_round,chance_of_playing_this_round,clean_sheet_points,clean_sheets,cleansheet_week1,cleansheet_week2,cleansheet_week3,cleansheet_week4,code,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,creativity,creativity_rank,creativity_rank_type,direct_freekicks_order,direct_freekicks_text,dreamteam_count,element_type,ep_next,ep_this,event_points,first_name,form,form 10,form 15,form 20,form 5,games played,gameweek,gameweek 10 prediction,gameweek 11 prediction,gameweek 12 prediction,gameweek 13 prediction,gameweek 2 prediction,gameweek 3 prediction,gameweek 4 prediction,gameweek 5 prediction,gameweek 6 prediction,gameweek 7 prediction,gameweek 8 prediction,gameweek 9 prediction,goals_conceded,goals_scored,goals_week1,goals_week2,goals_week3,goals_week4,ict_index,ict_index_rank,ict_index_rank_type,in_dreamteam,influence,influence_rank,influence_rank_type,minutes,news,news_added,now_cost,own_goals,penalties_missed,penalties_order,penalties_saved,penalties_text,photo,points_per_game,red_cards,saves,second_name,selected_by_percent,special,squad_number,status,team,team_code,team_name,threat,threat_rank,threat_rank_type,total_points,transfers_in,transfers_in_event,transfers_out,transfers_out_event,value,value form 10,value form 5,valuePoints metric,value_form,value_next10,value_season,web_name,xA,xA_points,xA_week1,xA_week2,xA_week3,xA_week4,xG,xG+xA,xG+xA per game,xGA_week1,xGA_week2,xGA_week3,xGA_week4,xG_points,xG_week1,xG_week2,xG_week3,xG_week4,xPoints,xPoints week 1,xPoints week 2,xPoints week 3,xPoints week 4,xPoints_next10,yellow_cards
id,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,5.363298,1.787766,0,0.0,0.0,0.0,NaN,0,0.0,0.0,0.0,NaN,48,NaN,NaN,1.363298,0,0.0,0.0,0.0,0.0,80201,NaN,NaN,0,0,-1,1,0.0,515,52,NaN,NaN,0,1,2.0,2.0,0,Bernd,1.0,NaN,NaN,NaN,NaN,3.0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,0,0.0,0.0,0.0,NaN,7.9,207,15,False,79.0,77,14,270,NaN,NaN,49,0,0,NaN,0,NaN,80201.jpg,1.3,0,9,Leno,1.7,False,NaN,a,1,3,Arsenal,0.0,488,50,4,46713,3562,96960,19998,NaN,NaN,NaN,NaN,0.2,NaN,0.8,Leno,0.0,0.0,0.0,0.0,0.0,NaN,0.0,NaN,NaN,1.3,2.9,3.8,0.7,0.0,0.0,0.0,0.0,NaN,NaN,2.090127,2.220093,1.089483,NaN,NaN,0
2,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,0.0,0.0,NaN,0,NaN,NaN,NaN,NaN,115918,NaN,NaN,0,0,0,0,0.0,373,17,NaN,NaN,0,1,0.0,0.0,0,Rúnar Alex,0.0,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,0.0,390,35,False,0.0,382,35,0,Joined OH Leuven on a season-long loan - Expec...,2021-08-31T22:00:09.069158Z,40,0,0,NaN,0,NaN,115918.jpg,0.0,0,0,Rúnarsson,1.1,False,NaN,u,1,3,Arsenal,0.0,315,14,0,19017,0,38729,6366,NaN,NaN,NaN,NaN,0.0,NaN,0.0,Rúnarsson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,0.0,0.0,NaN,0,NaN,NaN,NaN,NaN,47431,NaN,NaN,0,0,-2,2,0.0,591,241,NaN,NaN,0,3,0.0,0.0,0,Willian,0.0,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,0.0,592,241,False,0.0,592,241,0,Transferred to Corinthians,2021-08-20T09:30:14.065783Z,63,0,0,NaN,0,NaN,47431.jpg,0.0,0,0,Borges Da Silva,0.1,False,NaN,u,1,3,Arsenal,0.0,589,241,0,914,0,18312,892,NaN,NaN,NaN,NaN,0.0,NaN,0.0,Willian,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,12.500000,4.166667,0,NaN,0.0,0.0,0.0,3,NaN,0.0,0.0,3.0,35,100.0,100.0,0.000000,1,NaN,0.0,0.0,1.0,54694,NaN,NaN,0,0,-1,1,25.2,165,24,NaN,NaN,0,4,4.7,4.7,9,Pierre-Emerick,3.7,NaN,NaN,NaN,NaN,3.0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,1,NaN,0.0,0.0,1.0,18.7,78,18,False,40.8,191,21,177,NaN,2021-08-13T14:30:14.477664Z,99,0,0,1.0,0,NaN,54694.jpg,3.7,0,0,Aubameyang,2.2,False,NaN,a,1,3,Arsenal,122.0,30,11,11,137911,31625,185659,18272,NaN,NaN,NaN,NaN,0.4,NaN,1.1,Aubameyang,0.1,0.3,NaN,0.0,0.0,0.1,1.3,NaN,NaN,NaN,2.9,3.8,0.7,5.2,NaN,0.0,0.0,1.3,10.5,NaN,1.000000,1.000000,10.5,NaN,0
5,2.663298,0.887766,0,NaN,0.0,0.0,0.0,0,NaN,0.0,0.0,0.0,21,NaN,NaN,1.363298,0,NaN,0.0,0.0,0.0,58822,NaN,NaN,0,0,-1,1,36.1,121,24,5.0,NaN,0,2,1.3,1.3,1,Cédric,0.3,NaN,NaN,NaN,NaN,3.0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,0,NaN,0.0,0.0,0.0,6.8,225,72,False,30.8,218,87,188,NaN,NaN,44,0,0,NaN,0,NaN,58822.jpg,0.3,0,0,Soares,0.2,False,NaN,a,1,3,Arsenal,1.0,293,98,1,8299,744,13640,1784,NaN,NaN,NaN,NaN,0.1,NaN,0.2,Cédric,0.1,0.3,NaN,0.1,0.0,0.0,0.0,NaN,NaN,NaN,2.9,3.8,0.7,0.0,NaN,0.0,0.0,0.0,1.0,NaN,1.520093,-0.910517,1.0,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,0.0,0.0,NaN,0,NaN,NaN,NaN,NaN,209353,NaN,NaN,0,0,0,0,0.0,550,69,NaN,NaN,0,4,0.0,0.0,0,Patrick,0.0,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,0.0,554,70,False,0.0,549,67,0,Season long loan to Empoli,2021-08-15T12:06:51.809579Z,50,0,0,NaN,0,NaN,209353.jpg,0.0,0,0,Cutrone,0.1,False,NaN,u,20,39,Wolves,0.0,533,64,0,1047,0,14198,764,NaN,NaN,NaN,NaN,0.0,NaN,0.0,Cutrone,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
547,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,245923,NaN,NaN,0,0,0,0,0.0,491,196,NaN,NaN,0,3,0.5,0.5,0,Luke,0.0,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,0.0,500,192,False,0.0,496,190,0,NaN,NaN,45,0,0,NaN,0,NaN,245923.jpg,0.0,0,0,Cundle,0.1,False,NaN,a,20,39,Wolves,0.0,457,179,0,6316,1953,3240,1081,NaN,NaN,NaN,NaN,0.0,NaN,0.0,Cundle,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
548,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,461026,NaN,NaN,0,0,0,0,0.0,500,201,NaN,NaN,0,3,0.5,0.5,0,Chem,0.0,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,0.0,509,197,False,0.0,505,195,0,NaN,NaN,45,0,0,NaN,0,NaN,461026.jpg,0.0,0,0,Campbell,0.3,False,NaN,a,20,39,Wolves,0.0,467,185,0,25668,6376,12588,3663,NaN,NaN,NaN,NaN,0.0,NaN,0.0,Campbell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
549,NaN,NaN,0,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,0,0.0,0.0,NaN,0,NaN,NaN,NaN,NaN,481626,NaN,NaN,0,0,0,0,0.0,398,151,NaN,NaN,0,2,0.0,0.0,0,Christian,0.0,NaN,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,0.0,415,151,False,0.0,407,150,0,Season-long loan to Belenenses,2021-09-07T09:00:15.908306Z,40,0,0,NaN,0,NaN,481626.jpg,0.0,0,0,Marques,0.3,False,NaN,u,20,39,Wolves,0.0,342,124,0,24271,0,17039,4644,NaN,NaN,NaN,NaN,0.0,NaN,0.0,Marques,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
583,7.200000,7.200000,0,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,32,NaN,NaN,0.000000,0,NaN,NaN,NaN,NaN,184754,NaN,NaN,0,0,0,0,0.4,330,48,NaN,NaN,0,4,2.1,2.1,8,Hee-Chan,8.0,NaN,NaN,NaN,NaN,1.0,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,NaN,NaN,NaN,7.6,211,32,False,40.4,193,22,27,NaN,NaN,55,0,0,NaN,0,NaN,184754.jpg,8.0,0,0,Hwang,2.0,False,NaN,a,20,39,Wolves,35.0,124,31,8,167790,153997,25949,21032,NaN,NaN,NaN,NaN,1.5,NaN,1.5,Hwang,0.0,0.0,NaN,NaN,NaN,NaN,0.8,NaN,NaN,NaN,NaN,NaN,0.2,3.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [4]:
teams = ['Arsenal', 'Aston Villa', 'Brentford', 'Brighton', 'Burnley', 'Chelsea', 'Crystal Palace', 'Everton',
        'Leicester City', 'Leeds United', 'Liverpool', 'Manchester City', 'Manchester Utd', 'Newcastle Utd', 
        'Norwich City', 'Southampton', 'Tottenham', 'Watford', 'West Ham', 'Wolves']

In [5]:
# get FPL fixtures data
fpl_fixtures_data = json.loads(requests.get('https://fantasy.premierleague.com/api/fixtures/').text)
fpl_fixtures = pd.DataFrame(fpl_fixtures_data)
fpl_fixtures['home team'] = [teams[i] for i in fpl_fixtures['team_h']-1]
fpl_fixtures['away team'] = [teams[i] for i in fpl_fixtures['team_a']-1]
filepath = Path('../data/fpl/fixtures.csv')
fpl_fixtures.to_csv(filepath)
fpl_fixtures

,code,event,finished,finished_provisional,id,kickoff_time,minutes,provisional_start_time,started,team_a,team_a_score,team_h,team_h_score,stats,team_h_difficulty,team_a_difficulty,pulse_id,home team,away team
0,2210271,1,True,True,1,2021-08-13T19:00:00Z,90,False,True,1,0.0,3,2.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",3,2,66342,Brentford,Arsenal
1,2210276,1,True,True,6,2021-08-14T11:30:00Z,90,False,True,10,1.0,13,5.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",3,4,66347,Manchester Utd,Leeds United
2,2210272,1,True,True,2,2021-08-14T14:00:00Z,90,False,True,4,2.0,5,1.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,2,66343,Burnley,Brighton
3,2210273,1,True,True,3,2021-08-14T14:00:00Z,90,False,True,7,0.0,6,3.0,"[{'identifier': 'goals_scored', 'a': [], 'h': ...",2,4,66344,Chelsea,Crystal Palace
4,2210274,1,True,True,4,2021-08-14T14:00:00Z,90,False,True,16,1.0,8,3.0,"[{'identifier': 'goals_scored', 'a': [{'value'...",2,3,66345,Everton,Southampton
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,2210646,38,False,False,376,2022-05-22T15:00:00Z,0,False,False,13,NaN,7,NaN,[],4,2,66717,Crystal Palace,Manchester Utd
376,2210647,38,False,False,377,2022-05-22T15:00:00Z,0,False,False,16,NaN,9,NaN,[],2,3,66718,Leicester City,Southampton
377,2210648,38,False,False,378,2022-05-22T15:00:00Z,0,False,False,20,NaN,11,NaN,[],2,4,66719,Liverpool,Wolves
378,2210649,38,False,False,379,2022-05-22T15:00:00Z,0,False,False,2,NaN,12,NaN,[],2,5,66720,Manchester City,Aston Villa
379,2210650,38,False,False,380,2022-05-22T15:00:00Z,0,False,False,17,NaN,15,NaN,[],3,2,66721,Norwich City,Tottenham

In [6]:
filepath = Path(f'../data/fbref/team_stats_week{latest_gameweek}.csv')
team_stats = pd.read_csv(filepath, index_col=0)
team_stats

,Rk,MP,W,D,L,GF,GA,GD,Pts,xG,xGA,xGD,xGD/90,Last 5,Attendance,Top Team Scorer,Goalkeeper,Notes,xG per game,xGA per game,probability no goals allowed
Squad,,,,,,,,,,,,,,,,,,,,,
Manchester Utd,1,4,3,1,0,11,3,8,10,5.8,3.9,1.8,0.46,W D W W,72732,Bruno Fernandes - 4,David de Gea,NaN,1.450,0.975,0.377192
Chelsea,2,4,3,1,0,9,1,8,10,5.7,4.8,1.0,0.24,W W D W,38965,Romelu Lukaku - 3,Edouard Mendy,NaN,1.425,1.200,0.301194
Liverpool,3,4,3,1,0,9,1,8,10,11.7,4.2,7.5,1.87,W W D W,53296,Mohamed Salah - 3,Alisson,NaN,2.925,1.050,0.349938
Everton,4,4,3,1,0,10,4,6,10,7.4,4.4,3.0,0.74,W D W W,38487,"Demarai Gray, Dominic Calvert-Lewin - 3",Jordan Pickford,NaN,1.850,1.100,0.332871
Manchester City,5,4,3,0,1,11,1,10,9,11.2,2.3,8.9,2.22,L W W W,51857,Ferrán Torres - 2,Ederson,NaN,2.800,0.575,0.562705
Brighton,6,4,3,0,1,5,3,2,9,3.9,4.2,-0.2,-0.06,W W L W,30017,Neal Maupay - 2,Robert Sánchez,NaN,0.975,1.050,0.349938
Tottenham,7,4,3,0,1,3,3,0,9,3.8,6.3,-2.5,-0.63,W W W L,57967,Son Heung-min - 2,Hugo Lloris,NaN,0.950,1.575,0.207008
West Ham,8,4,2,2,0,10,5,5,8,6.6,3.7,2.9,0.73,W W D D,59826,Michail Antonio - 4,Łukasz Fabiański,NaN,1.650,0.925,0.396531
Leicester City,9,4,2,0,2,4,6,-2,6,3.6,8.1,-4.4,-1.10,W L W L,32035,Jamie Vardy - 2,Kasper Schmeichel,NaN,0.900,2.025,0.131994
Brentford,10,4,1,2,1,3,2,1,5,4.0,2.9,1.1,0.27,W D D L,16499,"Ivan Toney, Sergi Canós... - 1",David Raya,NaN,1.000,0.725,0.484325
Crystal Palace,11,4,1,2,1,5,5,0,5,3.9,3.0,0.9,0.23,L D D W,23091,"Conor Gallagher, Odsonne Édouard - 2",Vicente Guaita,NaN,0.975,0.750,0.472367
Aston Villa,12,4,1,1,2,5,7,-2,4,4.3,4.2,0.0,0.01,L W D L,42005,Danny Ings - 2,Emiliano Martínez,NaN,1.075,1.050,0.349938
Wolves,13,4,1,0,3,2,3,-1,3,6.3,3.1,3.2,0.80,L L L W,30495,Hwang Hee-chan - 1,José Sá,NaN,1.575,0.775,0.460704
Southampton,14,4,0,3,1,4,6,-2,3,5.9,5.9,0.0,-0.01,L D D D,32000,"Mohamed Elyounoussi, Adam Armstrong... - 1",Alex McCarthy,NaN,1.475,1.475,0.228779
Watford,15,4,1,0,3,3,7,-4,3,2.8,5.5,-2.7,-0.68,W L L L,20035,"Cucho, Emmanuel Dennis... - 1",Daniel Bachmann,NaN,0.700,1.375,0.252840
Arsenal,16,4,1,0,3,1,9,-8,3,5.0,8.7,-3.7,-0.92,L L L W,58729,Pierre-Emerick Aubameyang - 1,Bernd Leno,NaN,1.250,2.175,0.113608
Leeds United,17,4,0,2,2,4,11,-7,2,4.9,9.0,-4.2,-1.04,L D D L,36400,"Raphael Dias Belloli, Luke Ayling... - 1",Illan Meslier,NaN,1.225,2.250,0.105399
Burnley,18,4,0,1,3,3,8,-5,1,4.5,7.0,-2.5,-0.61,L L D L,18455,"Ben Mee, Chris Wood... - 1",Nick Pope,NaN,1.125,1.750,0.173774
Newcastle Utd,19,4,0,1,3,5,12,-7,1,4.3,9.1,-4.8,-1.20,L L D L,47345,Callum Wilson - 2,Freddie Woodman,NaN,1.075,2.275,0.102797
Norwich City,20,4,0,0,4,1,11,-10,0,3.7,9.0,-5.3,-1.32,L L L L,26894,Teemu Pukki - 1,Tim Krul,NaN,0.925,2.250,0.105399

In [7]:
# upload model for making predictions
path = Path('../models/xgboost_predictor_v4_weightsAndBonus.pickle')
with open(path,'rb') as f:
    model = pickle.load(f)

In [8]:
# pre-allocate for model input
predictions = pd.DataFrame(index=players.index.copy())
input_columns = ['goalkeeper', 'defender', 'midfielder',
       'forward', 'xG90', 'xA90', 'xGA90', 'bonus', 'xPoints90',
       'games played', 'form 5', 'games_form5', 'form 10', 'games form10',
       'team xG per 90', 'team xGA per 90', 'home', 'opponent xG per 90',
       'opponent xGA per 90']
predictions[input_columns] = np.nan
predictions

,goalkeeper,defender,midfielder,forward,xG90,xA90,xGA90,bonus,xPoints90,games played,form 5,games_form5,form 10,games form10,team xG per 90,team xGA per 90,home,opponent xG per 90,opponent xGA per 90
id,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
523,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
547,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
548,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
549,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
583,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# run predictions for all players for a given time horizon
# assumes one match per gameweek at most currently
horizon = 10
output_columns = [f'gameweek {i} prediction' for i in range(latest_gameweek+1,latest_gameweek+horizon+1)]
xGA_columns = [column for column in players.columns if 'xGA_week' in column]
xPoints_columns = [column for column in players.columns if 'xPoints week' in column]

for player_ix in players.index:
    
    # collect base info
    if players.loc[player_ix,'element_type'] == 1:
        predictions.loc[player_ix,'goalkeeper'] = 1
    elif players.loc[player_ix, 'element_type'] == 2:
        predictions.loc[player_ix,'defender'] = 1
    elif players.loc[player_ix, 'element_type'] == 3:
        predictions.loc[player_ix,'midfielder'] = 1
    elif players.loc[player_ix, 'element_type'] == 4:
        predictions.loc[player_ix,'forward'] = 1

    if players.loc[player_ix,'games played'] > 0:
        predictions.loc[player_ix, 'xG90'] = players.loc[player_ix,'xG'] / players.loc[player_ix,'games played']
        predictions.loc[player_ix, 'xA90'] = players.loc[player_ix,'xA'] / players.loc[player_ix,'games played']
        predictions.loc[player_ix, 'xGA90'] = players.loc[player_ix,xGA_columns].sum() / \
                                          players.loc[player_ix,'games played']                                        
        predictions.loc[player_ix, 'bonus'] = players.loc[player_ix, 'bps']
        predictions.loc[player_ix, 'xPoints90'] = players.loc[player_ix,'adjusted points per game']
        predictions.loc[player_ix, 'games played'] = players.loc[player_ix, 'games played']
        
        form5_points = players.loc[player_ix, xPoints_columns[-5:]].sum()
        form5_games = players.loc[player_ix, xPoints_columns[-5:]].notnull().sum()
        predictions.loc[player_ix, 'form 5'] = form5_points
        predictions.loc[player_ix, 'games_form5'] = form5_games
        
        form10_points = players.loc[player_ix, xPoints_columns[-10:]].sum()
        form10_games = players.loc[player_ix, xPoints_columns[-10:]].notnull().sum()
        predictions.loc[player_ix, 'form 10'] = form10_points
        predictions.loc[player_ix, 'games form10'] = form10_games
    else:
        predictions.loc[player_ix, 'xG90'] = 0
        predictions.loc[player_ix, 'xA90'] = 0
        predictions.loc[player_ix, 'xGA90'] = 0                       
        predictions.loc[player_ix, 'bonus'] = 0
        predictions.loc[player_ix, 'xPoints90'] = 0
        predictions.loc[player_ix, 'games played'] = 0
        predictions.loc[player_ix, 'form 5'] = 0
        predictions.loc[player_ix, 'games_form5'] = 0
        predictions.loc[player_ix, 'form 10'] = 0
        predictions.loc[player_ix, 'games form10'] = 0
        
    team = players.loc[player_ix, 'team_name']
    # team xG per 90 
    team_xG90 = team_stats.loc[team,'xG'] / team_stats.loc[team,'MP']
    predictions.loc[player_ix, 'team xG per 90'] = team_xG90
    # team xGA per 90 
    team_xGA90 = team_stats.loc[team,'xGA'] / team_stats.loc[team,'MP']
    predictions.loc[player_ix, 'team xGA per 90'] = team_xGA90
    
    for gameweek in range(latest_gameweek+1,latest_gameweek+horizon+1):

        # home games
        home_fixtures = fpl_fixtures[(fpl_fixtures['event']==gameweek) & (fpl_fixtures['home team']==team)]
        for fixture in home_fixtures.index:
            predictions.loc[player_ix, 'home'] = 1
            opponent = fpl_fixtures.loc[fixture, 'away team']
            # opponent xG per 90
            opponent_xG90 = team_stats.loc[opponent, 'xG'] / team_stats.loc[opponent,'MP']
            predictions.loc[player_ix, 'opponent xG per 90'] = opponent_xG90
            # opponent xGA per 90
            opponent_xGA90 = team_stats.loc[opponent, 'xGA'] / team_stats.loc[opponent,'MP']
            predictions.loc[player_ix, 'opponent xGA per 90'] = opponent_xGA90
            
            # predict player's points
            input_data = predictions.loc[player_ix:player_ix, input_columns]
            input_data = xgboost.DMatrix(input_data)
            prediction = model.predict(input_data)
            players.loc[player_ix, f'gameweek {gameweek} prediction'] = prediction
            
        # away game
        away_fixtures = fpl_fixtures[(fpl_fixtures['event']==gameweek) & (fpl_fixtures['away team']==team)]
        for fixture in away_fixtures.index:
            predictions.loc[player_ix, 'home'] = 0
            opponent = fpl_fixtures.loc[fixture, 'home team']
            # opponent xG per 90
            opponent_xG90 = team_stats.loc[opponent, 'xG'] / team_stats.loc[opponent,'MP']
            predictions.loc[player_ix, 'opponent xG per 90'] = opponent_xG90
            # opponent xGA per 90
            opponent_xGA90 = team_stats.loc[opponent, 'xGA'] / team_stats.loc[opponent,'MP']
            predictions.loc[player_ix, 'opponent xGA per 90'] = opponent_xGA90
            
            # predict player's points
            input_data = predictions.loc[player_ix:player_ix, input_columns]
            input_data = xgboost.DMatrix(input_data)
            prediction = model.predict(input_data)
            players.loc[player_ix, f'gameweek {gameweek} prediction'] = prediction

In [10]:
# all new predictions
players[output_columns]

,gameweek 5 prediction,gameweek 6 prediction,gameweek 7 prediction,gameweek 8 prediction,gameweek 9 prediction,gameweek 10 prediction,gameweek 11 prediction,gameweek 12 prediction,gameweek 13 prediction,gameweek 14 prediction
id,,,,,,,,,,
1,4.212633,4.340850,4.302381,4.362706,4.162770,4.527445,4.246170,3.721052,4.387835,3.853406
2,3.500302,3.651815,3.283218,3.300508,3.083967,4.013222,3.427500,2.567395,3.873613,2.777746
3,2.532867,2.670633,2.476670,2.419437,2.337055,3.047291,2.365641,1.978490,2.967318,2.136439
4,4.488105,4.568815,3.712507,3.454763,3.620404,4.890378,3.780818,3.326529,4.864985,3.563631
5,2.475204,2.662610,2.368660,2.371068,2.229051,2.898127,2.317272,1.523844,2.758517,1.681431
...,...,...,...,...,...,...,...,...,...,...
523,3.308084,2.721718,3.398424,2.823294,3.315700,2.250042,3.389932,2.554646,3.458752,3.224416
547,3.186698,2.630395,3.277039,2.701909,3.178580,2.255275,3.268547,2.490438,3.337366,3.087295
548,3.186698,2.630395,3.277039,2.701909,3.178580,2.255275,3.268547,2.490438,3.337366,3.087295
549,3.617785,2.790263,3.896170,3.132996,3.813446,2.197077,3.699634,2.501681,3.956498,3.722161
583,4.029186,4.751707,5.553361,4.150072,5.571307,4.334746,4.545357,4.340944,6.091583,5.414806

In [11]:
players['xPoints_next10'] = players[output_columns].sum(axis=1)

In [12]:
players.sort_values(f'gameweek {latest_gameweek+1} prediction', ascending=False)[['web_name','now_cost','adjusted points per game', f'gameweek {latest_gameweek+1} prediction']].head(20)

,web_name,now_cost,adjusted points per game,gameweek 5 prediction
id,,,,
529,Lukaku,116,7.533333,6.568730
233,Salah,125,8.815438,6.463675
413,Antonio,79,7.001000,5.665780
142,James,56,5.152110,5.350709
237,Alexander-Arnold,75,8.185251,5.237071
296,Wilson,74,5.066667,5.221531
177,Calvert-Lewin,82,8.513333,5.186347
138,Mount,74,5.048528,5.142762
186,Klich,55,4.505399,4.988622
137,Pulisic,79,4.301194,4.844607
33,Grealish,80,5.055455,4.832841
189,Bamford,79,4.917750,4.808599
74,Mac Allister,55,3.617688,4.797039
263,Jesus,86,5.803250,4.781270
240,Jota,77,5.049938,4.771699
63,Maupay,65,3.100000,4.708508
259,Laporte,56,6.084153,4.685605
475,Sá,50,4.342815,4.641300
439,Kilman,45,3.742815,4.617923
109,Wood,69,4.425000,4.589958

In [13]:
players.sort_values('xPoints_next10', ascending=False)[['web_name','now_cost','adjusted points per game', 'xPoints_next10']].head(20)

             web_name  now_cost  adjusted points per game  xPoints_next10
id
529            Lukaku       116                  7.533333       63.720317
233             Salah       125                  8.815438       63.415733
413           Antonio        79                  7.001000       57.891721
177     Calvert-Lewin        82                  8.513333       53.799304
237  Alexander-Arnold        75                  8.185251       51.513196
517       Elyounoussi        55                  5.628779       51.089037
240              Jota        77                  5.049938       50.660350
579           Ronaldo       126                 10.200000       50.534150
144         Gallagher        56                  6.619700       49.370507
583             Hwang        55                  7.200000       48.783069
142             James        56                  5.152110       48.655117
272             Pogba        78                  5.726442       48.474924
138             Mount        74                  5.048528       47.516456
230              Mané       119                  7.717688       46.805486
33           Grealish        80                  5.055455       45.105722
419          Benrahma        64                  5.532031       44.305571
263             Jesus        86                  5.803250       43.810640
475                Sá        50                  4.342815       43.806964
437            Semedo        49                  5.342815       43.796145
296            Wilson        74                  5.066667       43.686948

In [14]:
# save data
filepath = Path('../data/fpl/data_week' + str(latest_gameweek) + str('.csv'))
players.to_csv(filepath)