In [1]:
import pandas
import numpy
from pathlib import Path
import json
import requests

In [2]:
# data from last season
path = Path('../../../season20_21/data/fpl/data_week38.csv')
players20 = pandas.read_csv(path)
players20

,id,adjusted points,adjusted points per game,assists,assists_week1,assists_week10,assists_week11,assists_week12,assists_week13,assists_week14,...,xPoints week 36,xPoints week 37,xPoints week 38,xPoints week 4,xPoints week 5,xPoints week 6,xPoints week 7,xPoints week 8,xPoints week 9,yellow_cards
0,1,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,2,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,3,55.157473,2.690608,0,NaN,0.0,NaN,NaN,0.0,0.0,...,NaN,NaN,NaN,5.274923,3.586388,1.000000,NaN,NaN,NaN,1
3,4,133.826399,4.597090,3,0.0,0.0,0.0,0.0,0.0,NaN,...,NaN,3.332871,4.340818,2.818731,3.746597,4.101194,7.540818,2.765299,3.282085,2
4,5,34.138110,3.413811,1,NaN,NaN,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
708,617,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
709,626,2.800000,1.400000,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
710,629,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
711,642,43.171050,2.590263,1,NaN,NaN,NaN,NaN,NaN,NaN,...,1.3,1.000000,2.400000,NaN,NaN,NaN,NaN,NaN,NaN,0
712,649,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [3]:
players20.columns.values

array(['id', 'adjusted points', 'adjusted points per game', 'assists',
       'assists_week1', 'assists_week10', 'assists_week11',
       'assists_week12', 'assists_week13', 'assists_week14',
       'assists_week15', 'assists_week16', 'assists_week17',
       'assists_week18', 'assists_week19', 'assists_week2',
       'assists_week20', 'assists_week21', 'assists_week22',
       'assists_week23', 'assists_week24', 'assists_week25',
       'assists_week26', 'assists_week27', 'assists_week28',
       'assists_week29', 'assists_week3', 'assists_week30',
       'assists_week31', 'assists_week32', 'assists_week33',
       'assists_week34', 'assists_week35', 'assists_week36',
       'assists_week37', 'assists_week38', 'assists_week4',
       'assists_week5', 'assists_week6', 'assists_week7', 'assists_week8',
       'assists_week9', 'bonus', 'bps', 'chance_of_playing_next_round',
       'chance_of_playing_this_round', 'clean_sheet_points',
       'clean_sheets', 'cleansheet_week1', 'cleansheet_week10',
       'cleansheet_week11', 'cleansheet_week12', 'cleansheet_week13',
       'cleansheet_week14', 'cleansheet_week15', 'cleansheet_week16',
       'cleansheet_week17', 'cleansheet_week18', 'cleansheet_week19',
       'cleansheet_week2', 'cleansheet_week20', 'cleansheet_week21',
       'cleansheet_week22', 'cleansheet_week23', 'cleansheet_week24',
       'cleansheet_week25', 'cleansheet_week26', 'cleansheet_week27',
       'cleansheet_week28', 'cleansheet_week29', 'cleansheet_week3',
       'cleansheet_week30', 'cleansheet_week31', 'cleansheet_week32',
       'cleansheet_week33', 'cleansheet_week34', 'cleansheet_week35',
       'cleansheet_week36', 'cleansheet_week37', 'cleansheet_week38',
       'cleansheet_week4', 'cleansheet_week5', 'cleansheet_week6',
       'cleansheet_week7', 'cleansheet_week8', 'cleansheet_week9', 'code',
       'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'cost_change_event',
       'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'creativity', 'creativity_rank',
       'creativity_rank_type', 'direct_freekicks_order',
       'direct_freekicks_text', 'dreamteam_count', 'element_type',
       'ep_next', 'ep_this', 'event_points', 'first_name', 'form',
       'form 10', 'form 15', 'form 20', 'form 5', 'games played',
       'gameweek', 'goals_conceded', 'goals_scored', 'goals_week1',
       'goals_week10', 'goals_week11', 'goals_week12', 'goals_week13',
       'goals_week14', 'goals_week15', 'goals_week16', 'goals_week17',
       'goals_week18', 'goals_week19', 'goals_week2', 'goals_week20',
       'goals_week21', 'goals_week22', 'goals_week23', 'goals_week24',
       'goals_week25', 'goals_week26', 'goals_week27', 'goals_week28',
       'goals_week29', 'goals_week3', 'goals_week30', 'goals_week31',
       'goals_week32', 'goals_week33', 'goals_week34', 'goals_week35',
       'goals_week36', 'goals_week37', 'goals_week38', 'goals_week4',
       'goals_week5', 'goals_week6', 'goals_week7', 'goals_week8',
       'goals_week9', 'ict_index', 'ict_index_rank',
       'ict_index_rank_type', 'in_dreamteam', 'influence',
       'influence_rank', 'influence_rank_type', 'minutes', 'news',
       'news_added', 'next10_xP', 'next1_xP', 'next5_xP', 'now_cost',
       'own_goals', 'penalties_missed', 'penalties_order',
       'penalties_saved', 'penalties_text', 'photo', 'points_per_game',
       'red_cards', 'saves', 'second_name', 'selected_by_percent',
       'special', 'squad_number', 'status', 'team', 'team_code',
       'team_name', 'threat', 'threat_rank', 'threat_rank_type',
       'total_points', 'transfers_in', 'transfers_in_event',
       'transfers_out', 'transfers_out_event', 'value', 'value form 10',
       'value form 5', 'valuePoints metric', 'value_form', 'value_season',
       'web_name', 'xA', 'xA_points', 'xA_week1', 'xA_week10',
       'xA_week11', 'xA_week12', 'xA_week13', 'xA_week14', 'xA_week15',
       'xA_week16', 'xA_week17', 'xA_week18', 'xA_week19', 'xA_week2',
       'xA_week20', 'xA_week21', 'xA_week22', 'xA_week23', 'xA_week24',
       'xA_week25', 'xA_week26', 'xA_week27', 'xA_week28', 'xA_week29',
       'xA_week3', 'xA_week30', 'xA_week31', 'xA_week32', 'xA_week33',
       'xA_week34', 'xA_week35', 'xA_week36', 'xA_week37', 'xA_week38',
       'xA_week4', 'xA_week5', 'xA_week6', 'xA_week7', 'xA_week8',
       'xA_week9', 'xG', 'xG+xA', 'xG+xA per game', 'xGA_week1',
       'xGA_week10', 'xGA_week11', 'xGA_week12', 'xGA_week13',
       'xGA_week14', 'xGA_week15', 'xGA_week16', 'xGA_week17',
       'xGA_week18', 'xGA_week19', 'xGA_week2', 'xGA_week20',
       'xGA_week21', 'xGA_week22', 'xGA_week23', 'xGA_week24',
       'xGA_week25', 'xGA_week26', 'xGA_week27', 'xGA_week28',
       'xGA_week29', 'xGA_week3', 'xGA_week30', 'xGA_week31',
       'xGA_week32', 'xGA_week33', 'xGA_week34', 'xGA_week35',
       'xGA_week36', 'xGA_week37', 'xGA_week38', 'xGA_week4', 'xGA_week5',
       'xGA_week6', 'xGA_week7', 'xGA_week8', 'xGA_week9', 'xG_points',
       'xG_week1', 'xG_week10', 'xG_week11', 'xG_week12', 'xG_week13',
       'xG_week14', 'xG_week15', 'xG_week16', 'xG_week17', 'xG_week18',
       'xG_week19', 'xG_week2', 'xG_week20', 'xG_week21', 'xG_week22',
       'xG_week23', 'xG_week24', 'xG_week25', 'xG_week26', 'xG_week27',
       'xG_week28', 'xG_week29', 'xG_week3', 'xG_week30', 'xG_week31',
       'xG_week32', 'xG_week33', 'xG_week34', 'xG_week35', 'xG_week36',
       'xG_week37', 'xG_week38', 'xG_week4', 'xG_week5', 'xG_week6',
       'xG_week7', 'xG_week8', 'xG_week9', 'xPoints', 'xPoints week 1',
       'xPoints week 10', 'xPoints week 11', 'xPoints week 12',
       'xPoints week 13', 'xPoints week 14', 'xPoints week 15',
       'xPoints week 16', 'xPoints week 17', 'xPoints week 18',
       'xPoints week 19', 'xPoints week 2', 'xPoints week 20',
       'xPoints week 21', 'xPoints week 22', 'xPoints week 23',
       'xPoints week 24', 'xPoints week 25', 'xPoints week 26',
       'xPoints week 27', 'xPoints week 28', 'xPoints week 29',
       'xPoints week 3', 'xPoints week 30', 'xPoints week 31',
       'xPoints week 32', 'xPoints week 33', 'xPoints week 34',
       'xPoints week 35', 'xPoints week 36', 'xPoints week 37',
       'xPoints week 38', 'xPoints week 4', 'xPoints week 5',
       'xPoints week 6', 'xPoints week 7', 'xPoints week 8',
       'xPoints week 9', 'yellow_cards'], dtype=object)

In [4]:
[column for column in players20.columns if 'name' in column]

['first_name', 'second_name', 'team_name', 'web_name']

In [5]:
# data for new season
fpl_data = json.loads(requests.get('https://fantasy.premierleague.com/api/bootstrap-static/').text)
players21 = pandas.DataFrame(fpl_data['elements'])
players21.set_index('id',inplace=True)

In [6]:
fpl_data.keys()

dict_keys(['events', 'game_settings', 'phases', 'teams', 'total_players', 'elements', 'element_stats', 'element_types'])

In [7]:
players21

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,...,threat_rank,threat_rank_type,ict_index_rank,ict_index_rank_type,corners_and_indirect_freekicks_order,corners_and_indirect_freekicks_text,direct_freekicks_order,direct_freekicks_text,penalties_order,penalties_text
id,,,,,,,,,,,,,,,,,,,,,
1,NaN,None,80201,0,0,0,0,0,1,3.5,...,327,4,198,13,NaN,,NaN,,NaN,
2,NaN,None,115918,0,0,0,0,0,1,2.0,...,340,13,357,32,NaN,,NaN,,NaN,
3,NaN,None,47431,0,0,0,0,0,3,3.2,...,146,85,124,71,1.0,,2.0,,NaN,
4,NaN,None,54694,0,0,0,0,0,4,4.2,...,32,16,50,18,NaN,,NaN,,1.0,
5,NaN,None,58822,0,0,0,0,0,2,2.7,...,265,87,295,101,NaN,,5.0,,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,NaN,None,501837,0,0,0,0,0,2,1.2,...,422,167,436,168,NaN,,NaN,,NaN,
452,NaN,None,19236,0,0,0,0,0,1,1.3,...,354,19,354,31,NaN,,NaN,,NaN,
461,NaN,None,222564,0,0,0,0,0,3,1.6,...,483,200,484,200,NaN,,NaN,,NaN,
470,NaN,None,448514,0,0,0,0,0,2,1.2,...,163,36,208,66,NaN,,NaN,,NaN,
475,NaN,None,149065,0,0,0,0,0,1,2.0,...,440,47,447,53,NaN,,NaN,,NaN,

In [19]:
players21.columns

Index(['chance_of_playing_next_round', 'chance_of_playing_this_round', 'code',
       'cost_change_event', 'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'dreamteam_count', 'element_type', 'ep_next',
       'ep_this', 'event_points', 'first_name', 'form', 'in_dreamteam', 'news',
       'news_added', 'now_cost', 'photo', 'points_per_game', 'second_name',
       'selected_by_percent', 'special', 'squad_number', 'status', 'team',
       'team_code', 'total_points', 'transfers_in', 'transfers_in_event',
       'transfers_out', 'transfers_out_event', 'value_form', 'value_season',
       'web_name', 'minutes', 'goals_scored', 'assists', 'clean_sheets',
       'goals_conceded', 'own_goals', 'penalties_saved', 'penalties_missed',
       'yellow_cards', 'red_cards', 'saves', 'bonus', 'bps', 'influence',
       'creativity', 'threat', 'ict_index', 'influence_rank',
       'influence_rank_type', 'creativity_rank', 'creativity_rank_type',
       'threat_rank', 'threat_rank_type', 'ict_index_rank',
       'ict_index_rank_type', 'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'direct_freekicks_order',
       'direct_freekicks_text', 'penalties_order', 'penalties_text',
       'adjusted points per game'],
      dtype='object')

In [8]:
[column for column in players21.columns if 'name' in column]

['first_name', 'second_name', 'web_name']

In [9]:
players21.loc[1,['first_name', 'second_name', 'web_name']]

first_name     Bernd
second_name     Leno
web_name        Leno
Name: 1, dtype: object

In [17]:
for player_ix in players21.index:
    target_player_from20 = players20.loc[(players20['first_name']==players21.loc[player_ix,'first_name']) & \
              (players20['second_name']==players21.loc[player_ix,'second_name'])]
    if target_player_from20.shape[0]==1:
        players21.loc[player_ix, 'adjusted points per game'] = \
                        target_player_from20['adjusted points per game'].values[0]

In [18]:
players21[players21['adjusted points per game'].isnull()].shape

(130, 67)

In [24]:
players21.loc[players21['adjusted points per game'].isnull(), ['first_name','second_name']]

       first_name                     second_name
id
18          Lucas                        Torreira
24   Konstantinos                      Mavropanos
25         Mattéo                       Guendouzi
27        William                          Saliba
466          Nuno                  Varela Tavares
..            ...                             ...
410       Winston                            Reid
444       Andreas                     Söndergaard
446        Yerson             Mosquera Valdelamar
461     Francisco  Machado Mota de Castro Trincão
475          José                  Malheiro de Sá

[130 rows x 2 columns]

In [28]:
players21['now_cost'] = players21['now_cost'] / 10.0
players21['value'] = players21['adjusted points per game'] / players21['now_cost']

In [39]:
players21[players21['minutes']>900].sort_values(by='adjusted points per game', ascending=False).head(20)\
            [['first_name','second_name','adjusted points per game','value']]

            first_name       second_name  adjusted points per game     value
id
251              Kevin         De Bruyne                  6.391634  0.532636
357              Harry              Kane                  6.303369  0.504270
277       Bruno Miguel  Borges Fernandes                  6.144816  0.512068
233            Mohamed             Salah                  6.131751  0.490540
205              Jamie             Vardy                  5.440432  0.518136
230              Sadio              Mané                  5.348512  0.445709
359          Heung-Min               Son                  5.253612  0.525361
255             Raheem          Sterling                  5.140888  0.467353
250              Ilkay          Gündogan                  5.025528  0.670070
276              Jesse           Lingard                  4.943825  0.706261
256  João Pedro Cavaco           Cancelo                  4.867610  0.811268
237              Trent  Alexander-Arnold                  4.824207  0.643228
254              Riyad            Mahrez                  4.789999  0.532222
189            Patrick           Bamford                  4.785103  0.598138
296             Callum            Wilson                  4.753976  0.633863
135           Benjamin          Chilwell                  4.711586  0.785264
177            Dominic     Calvert-Lewin                  4.703827  0.587978
33                Jack          Grealish                  4.622429  0.577804
4       Pierre-Emerick        Aubameyang                  4.597090  0.459709
413            Michail           Antonio                  4.551683  0.606891

In [41]:
players21[players21['minutes']>900].sort_values(by='value', ascending=False).head(20)\
            [['first_name','second_name','now_cost','adjusted points per game','value']]

,first_name,second_name,now_cost,adjusted points per game,value
id,,,,,
295,Martin,Dubravka,4.5,3.740839,0.831298
62,Joël,Veltman,4.5,3.731114,0.829136
69,Robert,Sánchez,4.5,3.717834,0.826185
252,John,Stones,5.5,4.537354,0.824973
122,Marcos,Alonso,5.5,4.487182,0.815851
256,João Pedro Cavaco,Cancelo,6.0,4.867610,0.811268
127,Antonio,Rüdiger,5.5,4.348064,0.790557
417,Arthur,Masuaku,4.5,3.542320,0.787182
30,Emiliano,Martínez,5.5,4.329367,0.787158
241,Nathaniel,Phillips,4.5,3.542035,0.787119
135,Benjamin,Chilwell,6.0,4.711586,0.785264
294,Karl,Darlow,4.5,3.525839,0.783520
199,Illan,Meslier,5.0,3.915596,0.783119
9,Héctor,Bellerín,5.0,3.887025,0.777405
218,James,Justin,5.0,3.882035,0.776407
418,Vladimir,Coufal,5.0,3.881285,0.776257
142,Reece,James,5.5,4.247097,0.772200
431,Romain,Saïss,5.0,3.845101,0.769020
253,Benjamin,Mendy,5.5,4.217001,0.766727
14,Rob,Holding,4.5,3.445741,0.765720

In [36]:
players21['valuePoints metric'] = numpy.sqrt(players21['adjusted points per game'] * players21['value'])

In [42]:
players21[players21['minutes']>900].sort_values(by='valuePoints metric', ascending=False).head(20)\
            [['first_name','second_name','adjusted points per game','value','valuePoints metric']]

,first_name,second_name,adjusted points per game,value,valuePoints metric
id,,,,,
256,João Pedro Cavaco,Cancelo,4.867610,0.811268,1.987194
252,John,Stones,4.537354,0.824973,1.934734
135,Benjamin,Chilwell,4.711586,0.785264,1.923497
122,Marcos,Alonso,4.487182,0.815851,1.913341
276,Jesse,Lingard,4.943825,0.706261,1.868590
127,Antonio,Rüdiger,4.348064,0.790557,1.854021
30,Emiliano,Martínez,4.329367,0.787158,1.846048
251,Kevin,De Bruyne,6.391634,0.532636,1.845106
250,Ilkay,Gündogan,5.025528,0.670070,1.835063
142,Reece,James,4.247097,0.772200,1.810968
253,Benjamin,Mendy,4.217001,0.766727,1.798135
357,Harry,Kane,6.303369,0.504270,1.782862
277,Bruno Miguel,Borges Fernandes,6.144816,0.512068,1.773856
295,Martin,Dubravka,3.740839,0.831298,1.763448
237,Trent,Alexander-Arnold,4.824207,0.643228,1.761551
62,Joël,Veltman,3.731114,0.829136,1.758864
69,Robert,Sánchez,3.717834,0.826185,1.752604
199,Illan,Meslier,3.915596,0.783119,1.751108
9,Héctor,Bellerín,3.887025,0.777405,1.738330
411,Aaron,Cresswell,4.075364,0.740975,1.737741

In [43]:
# save data
#path = Path('../../data/fpl/pre_season.csv')
#players21.to_csv(path)